@page "/tdsTdsThresholdLimit"
@inject ITdsRateService tdsRate
@inject ITdsThresholdLimitService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService





<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6>TDS Account</h6></div><div style="float:right;">
    <MudButton @onclick="@(()=> OpenDialog(model))" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Add new TDS Threshold
</MudButton></div>
<br />
<br />
</div>

   <MudItem xs="12">
        <MudTable Items="@collection"  Dense="true" Hover="true"  Striped="true" Elevation="10" Filter="new Func<TdsThresholdLimitModel, bool>(search)" @bind-place="model">
          

              <ToolBarContent>
                <MudText Typo="Typo.h6">Tds Threshold Limit</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(model))"  Color="Color.Dark" Size="Size.Small"></MudIconButton>
                
                <MudSpacer></MudSpacer>
               <MudTextField @bind-Value="searchTds" Placeholder="Search TDS... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>

            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<TdsThresholdLimitModel, object>(x=> x.NatureOfPayment.NatureOfPayment)" InitialDirection="SortDirection.Ascending">Nature of Payment</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<TdsThresholdLimitModel, object>(x=> x.PeriodFrom)" InitialDirection="SortDirection.Ascending">PeriodFrom</MudTableSortLabel></MudTh>
               <MudTh><MudTableSortLabel SortBy="new Func<TdsThresholdLimitModel, object>(x=> x.PeriodTo)" InitialDirection="SortDirection.Ascending">PeriodTo</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<TdsThresholdLimitModel, object>(x=> x.ThresholdLimitSingle)" InitialDirection="SortDirection.Ascending">Single</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<TdsThresholdLimitModel, object>(x=> x.ThresholdLimitPeriod)" InitialDirection="SortDirection.Ascending">Period</MudTableSortLabel></MudTh>
             
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="NatureOfPayment">@context.NatureOfPayment.NatureOfPayment</MudTd>
                <MudTd DataLabel="AssesseeTypeName">@context.PeriodFrom</MudTd>
                 <MudTd DataLabel="AssesseeTypeName">@context.PeriodTo</MudTd>
                  <MudTd DataLabel="AssesseeTypeName">@context.ThresholdLimitSingle</MudTd>
                   <MudTd DataLabel="AssesseeTypeName">@context.ThresholdLimitPeriod</MudTd>
             
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>


@code {

    private TdsThresholdLimitModel model = new TdsThresholdLimitModel();
    private List<TdsThresholdLimitModel> collection = new List<TdsThresholdLimitModel>();


    private string searchTds = "";

    protected override async Task OnInitializedAsync()
    {
        model = new();
        GetAll();
    }

    private  void GetAll()
    {
        collection = new List<TdsThresholdLimitModel>();
        foreach (var item in Iservice.Select())
        {
            collection.Add(item);
        }


    }   

    private async Task OpenDialog(TdsThresholdLimitModel tds)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        DialogParameters parms = new DialogParameters();
        parms.Add("model",tds);
        var dialog =  DialogService.Show<TdsThresholdLimitDialog>(tds.TdsTLID == null?"ADD":"EDIT",parms);
        var result = await dialog.Result;
        if(!result.Cancelled)
        {   
            TdsThresholdLimitModel UpatedModel = (TdsThresholdLimitModel)result.Data;            
            model.UserInfo.UserID = user.Identity.Name;

            
            try
            {
                Iservice.Update(UpatedModel);
                snackbar.Add("Saved Successfully", Severity.Success);
                GetAll();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }

        }
    }
    
    private void Delete(TdsThresholdLimitModel tds)
    {
        Iservice.Delete(tds.TdsTLID, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }

    private bool search(TdsThresholdLimitModel ts)
    {
     if (ts.NatureOfPayment != null )
        {
            return true;
        }
        else if (ts.NatureOfPayment == null) return true;
      return false;
      //&& ts.TdsTLID.Contains(searchTds, StringComparison.OrdinalIgnoreCase)
    }


   
}
