@page "/BankPostingGroup"
@inject IBankPostingGroupService Iservice
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@using ArmsServices.DataServices.General
@inject IConfigTable IConfig
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudGrid>
    <MudItem xs="4" lg="4">
        <MudPaper Width="100%" Class="p-2">
            <MudList T="BankPostingGroupModel" Clickable="true" SelectedItem="SelectedItem" SelectedItemChanged="SelectedItemChanged">
                <MudText Typo="Typo.h6">
                    Bank Posting Group
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogGroup(model))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudText>
                <br />
                @if (listOfItems?.Any() == true)
                {
                    @foreach (var item in listOfItems)
                    {
                        <ContextMenuTrigger MenuId="myMenu" Data="@item">
                            <MudListItem T="BankPostingGroupModel" OnClick="((e) => ViewDetails(e,item))" Class="border-solid border-2 pa-4 mb-2 mt-2" Style="border-color:#ccc; border-radius:3%" Value="item">
                                <MudText Typo=Typo.subtitle1> @item.Title.ToString() </MudText>
                            </MudListItem>
                        </ContextMenuTrigger>
                    }
                }
            </MudList>
        </MudPaper>
    </MudItem>
    @if (@value == true)
    {
        <MudItem xs="8" lg="8">
            <MudPaper>
                <MudContainer>
                    <h4 style="padding-top:18px;">@titleValue</h4>
                    <br />
                    <EditForm Model="model" OnValidSubmit="CreateBankPostingGroup">
                        <ObjectGraphDataAnnotationsValidator />
                        <MudGrid Spacing="4">
                            <MudItem xs="12" lg="12">
                                <MudTextField @bind-Value="model.Title" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Title)" Disabled="IsOnlyView"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Bank Accounts" @bind-Value="model.BankAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary"
                                SearchFunc="SearchAccountsBankAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Bank Charges" @bind-Value="model.BankCharges" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary"
                                SearchFunc="SearchAccountsExpenceAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Processing Fee" @bind-Value="model.ProcessingFee" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary"
                                SearchFunc="SearchAccountsExpenceAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <ValidationSummary />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudButton @onclick="CancelBankPostingGroup" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Warning">Cancel</MudButton>
                                @if (!IsOnlyView)
                                {
                                    <MudButton Disabled="@_busy" ButtonType="ButtonType.Submit" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>
                                }
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </MudContainer>
            </MudPaper>
        </MudItem>
    }
</MudGrid>
<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClickedit" Id="editGroup">Edit Group</Item>
</ContextMenu>

@code {

    BankPostingGroupModel model = new BankPostingGroupModel();
    private MudListItem<BankPostingGroupModel> SelectedItem;
    private List<BankPostingGroupModel> listOfItems = new();
    BankPostingGroupModel SelectedModel = new();
    private List<BankPostingGroupModel> collection = new List<BankPostingGroupModel>();
    private ChartOfAccountModel SelectedAccountBankAccount = null;
    private ChartOfAccountModel SelectedAccountBankCharges = null;
    private ChartOfAccountModel SelectedAccountBankProcessingFee = null;
    public string titleValue = null;
    public bool value = false;
    private bool _busy;

    public bool HasPermissionBankPostingGroupServiceEdit { get; set; } = false;
    public int BankPostingGroupDocTypeID = 106;

    // Method to search for bank accounts based on a search string
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsBankAccount(string searchString, CancellationToken token)
    {
        await Task.Delay(5);
        string[] bankGrps = IConfig.GetByFinanceBankGroupID().ValueString.Split(",");
        List<ChartOfAccountModel> Coas = new();
        foreach(var item in bankGrps)
        {
            int coID = Convert.ToInt32(item);
            var Result = await Task.FromResult(accountService.SelectAllChildrenAndItsSub(coID, searchString)); // Fetch accounts
            Coas.AddRange(Result);
        }       
        
        return await Task.FromResult(Coas);
    }

    // Method to search for expense accounts based on a search string
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsExpenceAccount(string searchString, CancellationToken token)
    {
        await Task.Delay(5);
        int ExpenseGroupID = 3;
        return await Task.FromResult(accountService.SelectAllChildrenAndItsSub(ExpenseGroupID, searchString)); // Return filtered accounts
    }

    private bool IsOnlyView { get; set; } = false;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionBankPostingGroupServiceEdit = await Irole.HasClaim(BankPostingGroupDocTypeID.ToString(), "Edit", ctc.Token);

        GetAll();
    }

    // Method to fetch all bank posting groups
    private void GetAll()
    {
        listOfItems = Iservice.Select().ToList(); // Load bank posting groups from the service
    }

    // Method to handle changes in the selected item
    protected async Task SelectedItemChanged(object obj)
    {
        SelectedItem = (MudListItem<BankPostingGroupModel>)obj;
        SelectedModel = (BankPostingGroupModel)SelectedItem.Value;
    }

    private void GetBankPostingGroup()
    {
        collection = new List<BankPostingGroupModel>();
        foreach (var item in Iservice.Select())
        {
            collection.Add(item);
        }
    }

    // Method to cancel the bank posting group operation
    public async Task CancelBankPostingGroup()
    {
        IsOnlyView = false;
        value = false;
        model = new();
        SelectedAccountBankAccount = new();
        SelectedAccountBankCharges = new();
        SelectedAccountBankProcessingFee = new();
    }

    // Method to create or update a bank posting group
    public async Task CreateBankPostingGroup()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionBankPostingGroupServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            try
            {
                Iservice.Update(model); // Update the bank posting group
                snackbar.Add("Successfully Submitted", Severity.Success);
                GetAll();
                value = false;
            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit BankPostingGroup.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task OpenDialog(BankPostingGroupModel ii)
    {

    }

    private void Delete(InventoryItemModel ii)
    {

    }

    // Method to prepare for adding a new bank posting group
    private void OpenDialogGroup(BankPostingGroupModel ig)
    {
        value = true;
        IsOnlyView = false;
        model = new();
        SelectedAccountBankAccount = new();
        SelectedAccountBankCharges = new();
        SelectedAccountBankProcessingFee = new();
        titleValue = "Add Bank Posting Group";
    }

    void OnAppearing(MenuAppearingEventArgs e)
    {

    }
    
    // Method to handle editing a bank posting group from the context menu
    protected void ContextMenuOnClickedit(ItemClickEventArgs e)
    {
        IsOnlyView = false;
        model = (BankPostingGroupModel)((BankPostingGroupModel)e.Data).Clone();
        SelectedAccountBankAccount = model.BankAccount;
        SelectedAccountBankCharges = model.BankCharges;
        SelectedAccountBankProcessingFee = model.ProcessingFee;
        value = true;
        titleValue = "Edit Bank Posting Group";
    }

    // Method to view details of a bank posting group
    protected void ViewDetails(MouseEventArgs e, BankPostingGroupModel Data)
    {
        IsOnlyView = true;
        model = Data;
        SelectedAccountBankAccount = model.BankAccount;
        SelectedAccountBankCharges = model.BankCharges;
        SelectedAccountBankProcessingFee = model.ProcessingFee;
        value = true;
        titleValue = "Bank Posting Group | " + Data.Title;
    }
}
