@page "/BankPostingGroup"
@inject IBankPostingGroupService Iservice
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@using ArmsServices.DataServices.General

@inject IConfigTable IConfig
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudGrid>
    <MudItem xs="4" lg="4">
        <MudPaper Width="100%" Class="p-2">
            <MudList Clickable="true" SelectedItem="SelectedItem" SelectedItemChanged="SelectedItemChanged">
                <MudText Typo="Typo.h6">
                    Bank Posting Group
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogGroup(model))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudText>
                <br />
                @if (listOfItems?.Any() == true)
                {
                    @foreach (var item in listOfItems)
                    {
                        <ContextMenuTrigger MenuId="myMenu" Data="@item">
                            <MudListItem OnClick="((e) => ViewDetails(e,item))" Class="border-solid border-2 pa-4 mb-2 mt-2" Style="border-color:#ccc; border-radius:3%" Value="item">
                                <MudText Typo=Typo.subtitle1> @item.Title.ToString() </MudText>
                            </MudListItem>
                        </ContextMenuTrigger>
                    }
                }
            </MudList>
        </MudPaper>
    </MudItem>

    @if (@value == true)
    {
        <MudItem xs="8" lg="8">
            <MudPaper>
                <MudContainer>
                    <h4 style="padding-top:18px;">@titleValue</h4>
                    <br />
                    <EditForm Model="model" OnValidSubmit="CreateBankPostingGroup">
                        <ObjectGraphDataAnnotationsValidator />
                        <MudGrid Spacing="4">
                            <MudItem xs="12" lg="12">
                                <MudTextField @bind-Value="model.Title" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Title)" Disabled="IsOnlyView"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Bank Accounts" @bind-Value="model.BankAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                                 SearchFunc="SearchAccountsBankAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Bank Charges" @bind-Value="model.BankCharges" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                                 SearchFunc="SearchAccountsExpenceAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <MudAutocomplete T="ChartOfAccountModel" Label="Select Processing Fee" @bind-Value="model.ProcessingFee" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                                 SearchFunc="SearchAccountsExpenceAccount" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")" Disabled="IsOnlyView"></MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <ValidationSummary />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudButton @onclick="CancelBankPostingGroup" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Warning">Cancel</MudButton>
                                @if (!IsOnlyView)
                                {
                                    <MudButton ButtonType="ButtonType.Submit" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>
                                }
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </MudContainer>
            </MudPaper>
        </MudItem>
    }
</MudGrid>

<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClickedit" Id="editGroup">Edit Group</Item>
</ContextMenu>

@code {

    BankPostingGroupModel model = new BankPostingGroupModel();
    private MudListItem SelectedItem;
    private List<BankPostingGroupModel> listOfItems = new();
    BankPostingGroupModel SelectedModel = new();
    public bool value = false;
    public string titleValue = null;
    private List<BankPostingGroupModel> collection = new List<BankPostingGroupModel>();
    private ChartOfAccountModel SelectedAccountBankAccount = null;
    private ChartOfAccountModel SelectedAccountBankCharges = null;
    private ChartOfAccountModel SelectedAccountBankProcessingFee = null;

    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsBankAccount(string searchString)
    {
        await Task.Delay(5);
        int coID = Convert.ToInt32(IConfig.GetByFinanceBankGroupID().ValueString);
        return await Task.FromResult(accountService.SelectChildren(coID));
    }

    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsExpenceAccount(string searchString)
    {
        await Task.Delay(5);
        int coID = Convert.ToInt32(IConfig.GetByAdministrativeExpenceGroupID().ValueString);
        return await Task.FromResult(accountService.SelectChildren(coID));
    }

    private bool IsOnlyView { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        GetAll();
    }

    private void GetAll()
    {
        listOfItems = Iservice.Select().ToList();
    }

    protected async Task SelectedItemChanged(object obj)
    {
        SelectedItem = (MudListItem)obj;
        SelectedModel = (BankPostingGroupModel)SelectedItem.Value;
        // GetBankPostingGroup(SelectedModel);
    }

    private void GetBankPostingGroup()
    {
        collection = new List<BankPostingGroupModel>();
        foreach (var item in Iservice.Select())
        {
            collection.Add(item);
        }
    }

    public async Task CancelBankPostingGroup()
    {
        IsOnlyView = false;
        value = false;
        model = new();
        SelectedAccountBankAccount = new();
        SelectedAccountBankCharges = new();
        SelectedAccountBankProcessingFee = new();
    }

    public async Task CreateBankPostingGroup()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        try
        {
            Iservice.Update(model);
            snackbar.Add("Successfully Submitted", Severity.Success);
            GetAll();
            value = false;
        }
        catch (Exception a)
        {
            snackbar.Add(a.Message, Severity.Error);
        }
    }

    private async Task OpenDialog(BankPostingGroupModel ii)
    {


    }

    private void Delete(InventoryItemModel ii)
    {
        //IIservice.Delete(ii.InventoryItemID, "Rijas");
        //snackbar.Add("Deleted Successfully", Severity.Success);
        //GetAll();
    }

    private void OpenDialogGroup(BankPostingGroupModel ig)
    {
        value = true;
        IsOnlyView = false;
        model = new();
        SelectedAccountBankAccount = new();
        SelectedAccountBankCharges = new();
        SelectedAccountBankProcessingFee = new();
        titleValue = "Add Bank Posting Group";
    }

    void OnAppearing(MenuAppearingEventArgs e)
    {
        //TreeItemData item = (TreeItemData)e.Data;
        // e.PreventShow = !item.HasChildren;
    }

    protected void ContextMenuOnClickedit(ItemClickEventArgs e)
    {
        IsOnlyView = false;
        model = (BankPostingGroupModel)e.Data;
        SelectedAccountBankAccount = model.BankAccount;
        SelectedAccountBankCharges = model.BankCharges;
        SelectedAccountBankProcessingFee = model.ProcessingFee;
        value = true;
        titleValue = "Edit Bank Posting Group";
        //await OpenDialogGroup(ig);
    }

    protected void ViewDetails(MouseEventArgs e, BankPostingGroupModel Data)
    {
        IsOnlyView = true;
        model = Data;
        SelectedAccountBankAccount = model.BankAccount;
        SelectedAccountBankCharges = model.BankCharges;
        SelectedAccountBankProcessingFee = model.ProcessingFee;
        value = true;
        titleValue = "View Bank Posting Group";
        //await OpenDialogGroup(ig);
    }
}