@page "/CustomerPostingGroup"
@inject ICustomerPostingGroupService Iservice
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@using ArmsServices.DataServices.General
@inject IConfigTable IConfig
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudGrid>
    <MudItem xs="4" lg="4">
        <MudPaper Width="100%" Class="p-2">
            <MudList T="CustomerPostingGroupModel" Clickable="true" SelectedItem="SelectedItem" SelectedItemChanged="SelectedItemChanged">
                <MudText Typo="Typo.h6" style="padding: 4px; margin-top: -8px; margin-bottom: -22px; margin-left: 8px;">
                    Customer Posting Group
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogGroup(model))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudText>
                <br />
                @if (listOfItems?.Any() == true)
                {
                    @foreach (var item in listOfItems)
                    {
                        <ContextMenuTrigger MenuId="myMenu" Data="@item">
                            <MudListItem T="CustomerPostingGroupModel" OnClick="((e) => ViewDetails(e,item))" Class="border-solid border-2 pa-4 mb-2 mt-2" Style="border-color:#ccc; border-radius:3%" Value="item">
                                <MudText Typo=Typo.subtitle1> @item.Title.ToString() </MudText>
                            </MudListItem>
                        </ContextMenuTrigger>
                    }
                }
            </MudList>
        </MudPaper>
    </MudItem>
    @if (@value == true)
    {
        <MudItem xs="8" lg="8">
            <MudPaper>
                <MudContainer>
                    <h4 style="padding-top:18px;">@titleValue</h4>
                    <br />
                    <EditForm Model="model" OnValidSubmit="CreateCustomerPostingGroup">
                        <ObjectGraphDataAnnotationsValidator />
                        <MudGrid Spacing="4">
                            <MudItem xs="12" lg="12">
                                <MudTextField @bind-Value="model.Title" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Title)" Disabled="IsOnlyView"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <CoaSelector @bind-Value="model.Receivable" LabelName="Account For Customer Receivable" IsDisable="IsOnlyView" />
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <CoaSelector @bind-Value="model.PrePayment" LabelName="Account For Customer PrePayment" IsDisable="IsOnlyView" />
                            </MudItem>
                            <MudItem xs="12" md="12">
                                <CoaSelector @bind-Value="model.Deposit" LabelName="Account For Customer Deposit" IsDisable="IsOnlyView" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <ValidationSummary />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudButton @onclick="CancelCustomerPostingGroup" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Warning">Cancel</MudButton>
                                @if (!IsOnlyView)
                                {
                                    <MudButton Disabled="@_busy" ButtonType="ButtonType.Submit" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>
                                }
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </MudContainer>
            </MudPaper>
        </MudItem>
    }
</MudGrid>
<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClickedit" Id="editGroup">Edit Group</Item>
</ContextMenu>

@code {

    CustomerPostingGroupModel model = new CustomerPostingGroupModel();
    private MudListItem<CustomerPostingGroupModel> SelectedItem;
    private List<CustomerPostingGroupModel> listOfItems = new();
    CustomerPostingGroupModel SelectedModel = new();
    public bool value = false;
    public string titleValue = null;
    private List<CustomerPostingGroupModel> collection = new List<CustomerPostingGroupModel>();
    private bool IsOnlyView { get; set; } = false;
    private bool _busy;

    public bool HasPermissionCustomerPostingGroupServiceEdit { get; set; } = false;
    public int CustomerPostingGroupDocTypeID = 105;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionCustomerPostingGroupServiceEdit = await Irole.HasClaim(CustomerPostingGroupDocTypeID.ToString(), "Edit", ctc.Token);

        GetAll();
    }

    // Method to fetch all customer posting groups
    private void GetAll()
    {
        listOfItems = Iservice.Select().ToList(); // Load customer posting groups from the service
    }

    // Method to handle changes in the selected item
    protected async Task SelectedItemChanged(object obj)
    {
        SelectedItem = (MudListItem<CustomerPostingGroupModel>)obj;
        SelectedModel = (CustomerPostingGroupModel)SelectedItem.Value;
    }

    // Method to cancel the customer posting group operation
    public async Task CancelCustomerPostingGroup()
    {
        IsOnlyView = false;
        value = false;
        model = new();
    }

    // Method to create or update a customer posting group
    public async Task CreateCustomerPostingGroup()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionCustomerPostingGroupServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            try
            {
                Iservice.Update(model); // Update the customer posting group
                snackbar.Add("Successfully Submitted", Severity.Success);
                GetAll();
                value = false;
            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit CustomerPostingGroup.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task OpenDialog(CustomerPostingGroupModel ii)
    {

    }

    void OnAppearing(MenuAppearingEventArgs e)
    {

    }

    // Method to prepare for adding a new customer posting group
    private void OpenDialogGroup(CustomerPostingGroupModel ig)
    {
        IsOnlyView = false;
        value = true;
        model = new();
        titleValue = "Add Customer Posting Group";
    }

    // Method to handle editing a customer posting group from the context menu
    protected void ContextMenuOnClickedit(ItemClickEventArgs e)
    {
        IsOnlyView = false;
        model = (CustomerPostingGroupModel)((CustomerPostingGroupModel)e.Data).Clone();
        value = true;
        titleValue = "Edit Customer Posting Group";
    }

    // Method to view details of a customer posting group
    protected void ViewDetails(MouseEventArgs e, CustomerPostingGroupModel Data)
    {
        IsOnlyView = true;
        model = Data;
        value = true;
        titleValue = "Customer Posting Group | " + Data.Title;
    }
}
