@inject IDataAuthorizationService Iservice
@inject NavigationManager uriHelper
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent><h3> @model.AuthType</h3></TitleContent>
    <DialogContent>
        <MudTextField @bind-Value="model.Remarks" Lines="3" Class="p-2 m-1" Label="Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" @onclick="Approve" Variant="Variant.Filled" Color="Color.Success">@btn_txt1</MudButton>
        <MudButton @onclick="Reject" Variant="Variant.Filled" Color="Color.Warning">@btn_txt2</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public DataAuthorizationModel model { get; set; }
    [Parameter]
    public bool ApproveWithin { get; set; }

    public string btn_txt1 = "Verify";
    public string btn_txt2 = "Cancel";
    public bool IsApprove = false;
    public bool _busy;

    protected override void OnInitialized()
    {
        if (model.AuthLevelID == 99)
        {
            btn_txt1 = "Approve";
            IsApprove = true;
        }
        if (model.UserInfo == null)
        {
            model.UserInfo = new();
        }
    }

    private void Reject()
    {
        MudDialog.Cancel();
    }

    public async Task Approve()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        DataApprovedStatus aprvd = new DataApprovedStatus();
        aprvd.IsApprove = IsApprove;
        aprvd.Remarks = model.Remarks;
        try
        {
            if (!IsApprove)
            {
                Iservice.Update(model);
                snackbar.Add("Verified Successfully", Severity.Success);
            }
            else if (ApproveWithin)
            {
                Iservice.Update(model);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            model = new();
            MudDialog.Close(aprvd);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        await Task.Delay(2000);
        _busy = false;
    }
}