@inject IUserService iservice

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.SelectAll" class="mr-3 mb-n1" />
            Select Branch
        </MudText>
    </TitleContent>

    <DialogContent>

        <MudTextField @bind-Value="searchText"
                      Placeholder="Search branch..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Class="mb-2"
                      Immediate="true"
                      OnKeyUp="OnSearchChanged" />

        
        <MudList Clickable="true" SelectedItem="@listItem" SelectedItemChanged="SetBranchRole">
            @foreach (var item in filteredBranches)
            {
                <MudListItem Value="@item"
                             Text="@item.Branch.BranchName"
                             Icon="@Icons.Material.Filled.Inbox" />
            }
        </MudList>

        @if (filteredBranches.Count == 0)
        {
            <MudText Color="Color.Error">
                <p>No matching branches found.</p>
            </MudText>
        }
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string UserID { get; set; }

    private List<UserBranchRoleModel> branches = new();
    private List<UserBranchRoleModel> filteredBranches = new();

    private string searchText = "";
    MudListItem listItem;

    protected override void OnInitialized()
    {
        branches = iservice.GetBranchesNRoles(UserID).ToList();
        filteredBranches = branches;

        if (branches.Count == 1)
        {
            MudDialog.Close(DialogResult.Ok(branches.First()));
        }
    }

    private void OnSearchChanged(KeyboardEventArgs args)
    {
        FilterBranches();
    }

    private void FilterBranches()
    {
        if (string.IsNullOrWhiteSpace(searchText))
        {
            filteredBranches = branches;
        }
        else
        {
            filteredBranches = branches
                .Where(x => x.Branch.BranchName
                    .Contains(searchText, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }

    private void SetBranchRole(MudListItem item)
    {
        listItem = item;
        if (listItem != null)
        {
            var model = (UserBranchRoleModel)listItem.Value;
            MudDialog.Close(DialogResult.Ok(model));
        }
    }
}
