@using System.IO
@using System.Linq
@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment _env;
@inject IDialogService DialogService
@inject ITaxPurchaseService ITaxPurchaseService
@inject IJSRuntime JSRuntime
@inject ISnackbar snackbar
@inject IDialogService DialogService

@using System.Security.AccessControl
@using MimeTypes

@using iText.Kernel.Pdf;
@using iText.Kernel.Pdf.Canvas
@using iText.Layout;
@using iText.Layout.Element;

@using iText.Kernel.Pdf.Canvas.Parser;
@using iText.Kernel.Pdf.Canvas.Parser.Listener;

@using iText.Pdfoptimizer;
@using iText.Pdfoptimizer.Handlers;

@inject HttpClient httpClient

<MudContainer Style="margin-bottom: 6px;">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles">
        <ButtonTemplate>
            @if (!ReadOnly && !fnames.Any())
            {
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Secondary" for="@context">Upload Files</MudButton>
            }
        </ButtonTemplate>
        <SelectedTemplate>
            @if (context != null)
            {
                @foreach (var file in context)
                {
                    <span>@file.Name, </span>
                }
            }
        </SelectedTemplate>
    </MudFileUpload>
    @* @foreach (var value in fnames)
    {
    @* <a href="@value" download="Attachments">
    <MudText Typo="Typo.h6" Color="Color.Primary">
    Attachments
    <MudIcon Icon="@Icons.Material.Filled.Download" Title="Download" />
    </MudText>
    </a> *@

    @*<a id="downloadLink" href="@value" download="Attachments" style="display: none;"></a>
    } *@
    @if (fnames.Any())
    {
        <MudIconButton Style="width:10%;" Icon="@Icons.Material.Filled.Download" Variant="Variant.Filled" Color="Color.Primary" Title="Download File" OnClick="DownloadFile"></MudIconButton>
        @if (!ReadOnly)
        {
            <MudIconButton Style="width:10%; margin-left: 8px;" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Title="Remove File" OnClick="Remove"></MudIconButton>
        }

    }
</MudContainer>
@*
<script>
    function DownloadFile() {
        var downloadLink = document.getElementById('downloadLink');
        downloadLink.click();
    }
</script> *@

@code {

    [Parameter] public string FileName { get; set; } = "Original";
    [Parameter] public string FolderName { get; set; }
    [Parameter] public bool Resize { get; set; } = false;
    [Parameter] public bool ReadOnly { get; set; } = false;
    private List<string> fnames = new();

    [Parameter]
    public string FilePath
    {
        get => _filepath;
        set
        {
            if (_filepath == value) return;
            _filepath = value;
            FilePathChanged.InvokeAsync(value);
        }
    }

    protected override void OnInitialized()
    {
        if (model.FileName != null)
        {
            fnames = model.FileName.Split(',').ToList();
        }
    }

    private async Task DownloadFile()
    {
        try
        {
            if (fnames.Any())
            {
                foreach (var a in fnames)
                {
                    await JSRuntime.InvokeVoidAsync("downloadfile", a, "Attachments");
                }
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    [Parameter]
    public EventCallback<bool> OnFileRemoved { get; set; }

    protected async Task Remove()
    {
        try
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to remove this document ?");
            if (result == true)
            {
                // Check if the file exists before attempting to delete it
                if (fnames.Any())
                {
                    string PhysicalPath = Path.Combine(_env.WebRootPath, "ArmsStaticFiles", FolderName);
                    string VirtualPath = Path.Combine("ArmsStaticFiles", FolderName);
                        // Delete the file
                    @foreach (var file in fnames)
                    {
                        string fileName = Path.GetFileName(file);
                        string filePath = Path.Combine(PhysicalPath, fileName);
                        File.Delete(filePath);
                        await OnFileRemoved.InvokeAsync(true);
                        fnames = new();
                        StateHasChanged();
                        //snackbar.Add("File removed Successfully", Severity.Success);
                    }
                }
                else
                {
                    snackbar.Add("File Do not Exist !", Severity.Error);
                }
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    [Parameter]
    public TransactionBaseModel model { get; set; }
    [Parameter]
    public EventCallback<string> FilePathChanged { get; set; }

    private string _filepath;

    private async Task<string> UploadImage(IBrowserFile file, string filename, string physicalPath)
    {
        string DerivedFileName = null;
        FilePath = null;
        if (file != null && file.Size > 0)
        {
            if (filename == "Original")
            {
                DerivedFileName = file.Name;
            }
            else
            {
                DerivedFileName = filename + MimeTypeMap.GetExtension(file.ContentType);
            }
            DirectoryInfo di = new DirectoryInfo(physicalPath);
            if (!di.Exists)
            {
                System.IO.Directory.CreateDirectory(physicalPath);
            }
            string filePath = Path.Combine(physicalPath, DerivedFileName);
            if (FilePath != null)
            {
                string oldfileName = Path.Combine(_env.WebRootPath, FilePath);
                if (File.Exists(oldfileName))
                {
                    File.Delete(oldfileName);
                }
            }
            if (Resize)
            {
                file = await ResizeImage(file);
            }
            try
            {
                if (file.ContentType == "application/pdf")
                {
                    if (file.Size < 2097153)
                    {
                        //-----------------------------------------------------
                        // using (Stream stream = file.OpenReadStream(2097152))
                        // {
                        //     // Create a memory stream to store the compressed PDF content
                        //     using (MemoryStream compressedStream = new MemoryStream())
                        //     {
                        //         // Compress the PDF content before writing it to the memory stream
                        //         using (PdfDocument pdfDoc = new PdfDocument(new PdfReader(stream), new PdfWriter(compressedStream)))
                        //         {
                        //             for (int i = 1; i <= pdfDoc.GetNumberOfPages(); ++i)
                        //             {
                        //                 PdfPage page = pdfDoc.GetPage(i);
                        //                 byte[] pageContentBytes = page.GetContentBytes();
                        //                 page.Flush();
                        //                 PdfCanvas pdfCanvas = new PdfCanvas(page.NewContentStreamBefore(), page.GetResources(), pdfDoc);
                        //                 pdfCanvas.SaveState();
                        //                 PdfStream pageStream = new PdfStream(pageContentBytes);
                        //                 pageStream.SetCompressionLevel(9); // Max compression level
                        //                 //pdfCanvas.AddXObject(pageStream.MakeIndirect(pdfDoc), 0, 0);
                        //                 pdfCanvas.RestoreState();
                        //                 pdfCanvas.Release();
                        //             }
                        //         }

                        //         // // Save the compressed PDF content to a file
                        //         // string compressedFilePath = "Compressed_" + DerivedFileName;
                        //         // using (FileStream fs = File.Create(compressedFilePath))
                        //         // {
                        //         //     await compressedStream.CopyToAsync(fs);
                        //         // }

                        //         // return compressedFilePath;
                        //         return DerivedFileName;
                        //     }
                        // }

                        //-----------------------------------------------------
                        // PdfDocument pdfDoc = new PdfDocument(new PdfReader(file), new PdfWriter(DerivedFileName));
                        // for (int i = 1; i <= pdfDoc.GetNumberOfPages(); ++i)
                        // {
                        //     PdfPage page = pdfDoc.GetPage(i);
                        //     byte[] pageContentBytes = page.GetContentBytes();
                        //     page.Flush();
                        //     PdfCanvas pdfCanvas = new PdfCanvas(page.NewContentStreamBefore(), page.GetResources(), pdfDoc);
                        //     pdfCanvas.SaveState();
                        //     PdfStream stream = new PdfStream(pageContentBytes);
                        //     stream.SetCompressionLevel(4);
                        //     //pdfCanvas.AddXObject(stream.MakeIndirect(pdfDoc), 0, 0);
                        //     pdfCanvas.RestoreState();
                        //     pdfCanvas.Release();
                        // }
                        // pdfDoc.Close();

                        // using (var stream = file.OpenReadStream(2097152))
                        // using (var outputStream = File.Create(filePath))
                        // {
                        //     await CompressPdf(stream, outputStream);

                        //     return DerivedFileName;
                        // }

                        //-----------------------------------------------------
                        //Stream stream = file.OpenReadStream();
                        Stream stream = file.OpenReadStream(2097152); //I am giving '2097152' to set the maximum fileupload size as 2MB
                        FileStream fs = File.Create(filePath);
                        await stream.CopyToAsync(fs);
                        stream.Close();
                        fs.Close();
                        return DerivedFileName;
                    }
                    else
                    {
                        bool? result = await DialogService.ShowMessageBox(
                            "Oops !",
                            "Uploaded file should not be greater than 2MB.");
                    }
                }
                else
                {
                    bool? result = await DialogService.ShowMessageBox(
                        "Oops !",
                        "Uploaded file is not in PDF Format.");
                }
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        return null;
    }

    // private async Task CompressPdf(Stream inputStream, Stream outputStream)
    // {
    //     using (var pdfDocument = new PdfReader(inputStream))
    //     //using (var pdfDocument = new StreamReader(inputStream))
    //     {
    //         using (var pdfWriter = new PdfWriter(outputStream))
    //         //using (var pdfWriter = new StreamWriter(outputStream))
    //         {
    //             // Create a new PdfOptimizer instance
    //             var pdfOptimizer = new PdfOptimizer();

    //             pdfOptimizer.AddOptimizationHandler(new FontDuplicationOptimizer());
    //             pdfOptimizer.AddOptimizationHandler(new CompressionOptimizer());

    //             // Optimize the PDF and write it to the output stream
    //             pdfOptimizer.Optimize(pdfDocument, pdfWriter);
    //         }
    //     }
    // }

    private async Task<IBrowserFile> ResizeImage(IBrowserFile file)
    {
        return await file.RequestImageFileAsync("image/jpg", 250, 250);
    }

    private async Task UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        string PhysicalPath = Path.Combine(_env.WebRootPath, "ArmsStaticFiles", FolderName);
        string VirtualPath = Path.Combine("ArmsStaticFiles", FolderName);
        foreach (var file in files)
        {
            string File_Name = Guid.NewGuid().ToString();
            var result = await UploadImage(file, File_Name, PhysicalPath);
            if (result != null)
            {
                FilePath = Path.Combine(VirtualPath, result);
                if (model.FileName == null)
                {
                    model.FileName = FilePath;
                }
                else
                {
                    model.FileName = model.FileName + ',' + FilePath;
                }
            }
        }
    }
}