@inject ISaleService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject IGstItemService gstitemIservice
@inject ICostCenterService costIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IDimensionService dimensionIservice
@inject IGstUsageIDService usageIservice
@inject IInventoryGrnService grnIservice
@inject IBranchService branchIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime


    <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
        <thead>
            <tr>
                <th width="150px" colspan="2">UsageCode</th>
                <th colspan="1">Amount</th>
                <th width="150px" colspan="2">Bill</th>
                <th colspan="1">
                    GST/TDS
                </th>
                <th colspan="1">
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in saleExpensesList)
            {
                <tr>
                    <td colspan="2">@item.UsageCode</td>
                    <td colspan="1">@item.Amount</td>
                    <td colspan="2">@item.BillReference</td>
                    <td colspan="1">
                        @item.GstRate /@item.TCS
                    </td>
                    <td colspan="2">
                        @if (!IsReadOnly)
                        {
                            <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                            <MudFab Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" IconSize="Size.Small" />
                        }
                    </td>
                </tr>
            }
            @if (!IsReadOnly)
            {
                <tr>

                    <td colspan="2">
                        @* <MudSelect Label="Items" Value="SelectedItems" T="GstUsageCodeModel" ValueChanged="UsageChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e?.UsageCode)" >
                    @foreach (var ditem in usageID)
                    {
                    <MudSelectItem Value="@ditem">@ditem.UsageCode</MudSelectItem>
                    }
                    </MudSelect>*@
                        <UsageCodeSelector @bind-Value=gstusge ElementID="UsageID"></UsageCodeSelector>
                    </td>

                    <td colspan="1">
                        <MudTextField Label="Amount" @bind-Value="saleExpense.Amount" TextChanged="taxRates" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.Amount)"></MudTextField>
                    </td>
                    <td colspan="3">
                        <MudTextField Label="Bill Reference" @bind-Value="saleExpense.BillReference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.BillReference)"></MudTextField>

                    </td>
                    <td colspan="1">

                        <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                    </td>
                    @*  <td>
                <MudTextField Label="SGST" @bind-Value="saleExpense.SGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.SGST)"></MudTextField>
                </td>

                <td>
                <MudTextField Label="CGST" @bind-Value="saleExpense.CGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.CGST)"></MudTextField>

                </td>*@
                </tr>
                <tr>
                    @*<td>
                <MudTextField Label="IGST" @bind-Value="saleExpense.IGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.IGST)"></MudTextField>

                </td>
                <td>
                <MudTextField Label="TDS" @bind-Value="saleExpense.TCS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.TCS)"></MudTextField>

                </td>*@
                    @* <td colspan="2">
                <MudTextField Label="Bill Reference" @bind-Value="saleExpense.BillReference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.BillReference)"></MudTextField>

                </td>
                <td colspan="1">

                <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                </td>*@
                </tr>
            }
        </tbody>
    </MudSimpleTable>



@code {

    [Parameter]
    public SaleModel model2
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            Submitt.InvokeAsync(value);

        }
    }
    private SaleModel _value;
    //[Parameter]
    //public SaleModel model2 { get; set; }
    //[Parameter]
    //public List<SaleExpenseModel> saleExpensesList { get; set; }
    [Parameter]
    public bool  IsReadOnly { get; set; } 
    [Parameter]
    public bool IsView { get; set; }
    [Parameter]
    public SaleExpenseModel saleExpense { get; set; }
    [Parameter]

    public EventCallback<SaleModel> Submitt { get; set; }
    public  List<SaleExpenseModel> saleExpensesList = new List<SaleExpenseModel>();

    private List<SaleItemModel> saleItemsList = new List<SaleItemModel>();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<InventoryItemModel> itm = new();
    public GstUsageCodeModel gstusge = new();
    private static int branchID;
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    //private SaleExpenseModel saleExpense = new SaleExpenseModel();
    private GstModel taxModel = new GstModel();
    private SaleItemModel saleItem = new SaleItemModel();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (model2.SID == null)
        {
            model2.TotalAmount = 0;
        }
        else
        {
            saleExpensesList = Iservice.GetParticulars(model2.SID).ToList();
            //saleItemsList = Iservice.GetItems(SID).ToList();
        }

    
    }

    private void taxRates()
    {
        if (gstusge.UsageCode != null)
        {
            if (model2.PartyInfo == null)
            {
                snackbar.Add("select party", Severity.Success);
                return;
            }
            decimal? taxRate = usageIservice.GetGstRate(gstusge.UsageCode, DateTime.Now);
            decimal? tdsRate = tdsIService.GetTdsRate(model2?.PartyInfo?.PartyID, gstusge?.CoaID);
            BranchModel br = branchIservice.SelectByID(branchID);
            string partyGstNo = null;
            if (model2.PartyInfo.GstNo != null)
            {
                partyGstNo = (model2.PartyInfo.GstNo).Substring(0, 2);
            }

            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {
                saleExpense.IGST = (saleExpense.Amount * taxRate) / 100;
            }
            else
            {
                taxRate = taxRate / 2;
                saleExpense.SGST = (saleExpense.Amount * taxRate) / 100;
                saleExpense.CGST = (saleExpense.Amount * taxRate) / 100;
            }
            saleExpense.TCS = (saleExpense.Amount * tdsRate) / 100;
        }
        else
        {
            snackbar.Add("Select UsageCode", Severity.Warning);
            return;
        }
    }
    public async Task AddItems()
    {
        //TaxPurchaseExpenseModel ientry = new();
        saleExpense.BranchID = branchID;
        saleExpense.UsageCode = gstusge.UsageCode;
        saleExpense.CoaID = gstusge.CoaID;
        if (saleExpense.SGST == null)
        {
            saleExpense.SGST = 0;
        }
        if (saleExpense.IGST == null)
        {
            saleExpense.IGST = 0;
        }
        if (saleExpense.CGST == null)
        {
            saleExpense.CGST = 0;
        }
        saleExpense.GstRate = saleExpense.SGST + saleExpense.CGST + saleExpense.IGST;
        saleExpensesList.Add(saleExpense);
        decimal tvalue = 0;
        if (saleExpense.IGST == null)
        {
            tvalue = saleExpense.SGST ?? 0 + saleExpense.CGST ?? 0;
        }
        else
        {
            tvalue = saleExpense.IGST.Value;
        }

        model2.TotalAmount = model2.TotalAmount + saleExpense.Amount +
                               tvalue;
        model2.Particulars = saleExpensesList;
        saleExpense = new();
        gstusge = new();
        //await JsRuntime.InvokeVoidAsync("focusElement", "UsageID");
       
        //SelectedItems = new();
    }
    private void DeleteExpenses(SaleExpenseModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TCS.Value);
        decimal total = i.Amount.Value + gstrate;

        model2.TotalAmount = model2.TotalAmount - total;
        int rowIndex = saleExpensesList.IndexOf(i);
        saleExpensesList.RemoveAt(rowIndex);
    }
    private async Task OpenDialogTaxRates(SaleExpenseModel i)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        taxModel.CGST = i.CGST;
        taxModel.IGST = i.IGST;
        taxModel.TDS = i.TCS;
        taxModel.SGST = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("IsReadOnly", false);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            taxModel = (GstModel)result.Data;
            i.CGST = taxModel.CGST;
            i.IGST = taxModel.IGST;
            i.TCS = taxModel.TDS;
            i.SGST = taxModel.SGST;
            i.GstRate = taxModel.GstRate;
        }
    }
    private async Task calcAmount()
    {

        if (model2.PartyInfo == null)
        {
            snackbar.Add("select party", Severity.Success);
            return;
        }
        if (saleItem.ItemQty == null)
        {
            saleItem.ItemQty = 0;
        }
        if (saleItem.ItemRate == null)
        {
            saleItem.ItemRate = 0;
        }
        saleItem.Amount = saleItem.ItemQty * saleItem.ItemRate;
        if (saleItem.Amount != 0)
        {

            GstItemModel gstItem = gstitemIservice.SelectByItem(saleItem.ItemID.Value, DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            decimal? tdsRate = (decimal)tdsIService.GetTdsRate(model2.PartyInfo.PartyID.Value, saleItem.CoaID.Value);


            BranchModel br = branchIservice.SelectByID(branchID);
            string partyGstNo = null;
            if (model2.PartyInfo.GstNo != null)
            {
                partyGstNo = (model2.PartyInfo.GstNo).Substring(0, 2);
            }


            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                saleItem.IGST = (saleItem.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                saleItem.SGST = (saleItem.Amount * taxRate) / 100;
                saleItem.CGST = (saleItem.Amount * taxRate) / 100;

            }

            saleItem.TCS = (saleItem.Amount * tdsRate) / 100;

        }


    }
    private void DeleteItem(SaleItemModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TCS.Value);


        decimal total = i.Amount.Value + gstrate;

        model2.TotalAmount = model2.TotalAmount - total;

        int rowIndex = saleItemsList.IndexOf(i);
        saleItemsList.RemoveAt(rowIndex);
    }
}
