@inject IInventoryItemService itemIservice
@inject ISaleService Iservice
@inject IGstItemService gstitemIservice
@inject ICostCenterService costIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IInventoryGrnService grnIservice
@inject IBranchService branchIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime

<MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
    <thead>
        <tr>


            <th width="200px" colspan="2">ItemID</th>
            <th colspan="1">ItemRate</th>
            <th colspan="1">ItemQty</th>

            <th colspan="1">Amount</th>
            
            <th colspan="1">Gst/TDS</th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in saleItemsList)
        {
            <tr>


                <td style="width:200px" colspan="2">@(itm.First(x => x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                <td colspan="1">@item.ItemRate</td>
                <td colspan="1">@item.ItemQty</td>

                <td colspan="1">@item.Amount</td>
                <td colspan="1">
                    @item.GstRate/@item.TCS

                </td>

                <td colspan="2">

                    @if (!IsReadOnly)
                    {
                        <MudFab Color="Color.Error" @onclick="@(()=> DeleteItem(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab Color="Color.Info" @onclick="@(()=> OpenDialogTax2Rates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" IconSize="Size.Small" />
                    }
                </td>
            </tr>
        }
        @if (!IsReadOnly)
        {
            <tr>
                <td colspan="2">
                    <ItemSelector Value="SelectedPurchaseItems" ValueChanged="@((InventoryItemModel newValue) => getitemCode(newValue))" ElementID="ItemID" />
                </td>

             
                <td colspan="1">
                    <MudTextField Label="Item Rate" @bind-Value="saleItem.ItemRate" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.ItemRate)"></MudTextField>
                </td>
                <td colspan="1">
                    <MudTextField Label="Quantity" @bind-Value="saleItem.ItemQty" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.ItemQty)"></MudTextField>
                </td>

                <td colspan="1">
                    <MudTextField Label="Amount" @bind-Value="saleItem.Amount" ReadOnly="true" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.Amount)"></MudTextField>
                </td>
                <td>
                    <MudFab OnClick="AddSaleItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                </td>
            </tr>
      

        }
    </tbody>
</MudSimpleTable>
@code {
    [Parameter]
    public SaleModel Imodel { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
 
    private List<SaleExpenseModel> saleExpensesList = new List<SaleExpenseModel>();
    private List<SaleItemModel> saleItemsList = new List<SaleItemModel>();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<InventoryItemModel> itm = new();
    public GstUsageCodeModel gstusge = new();
    private static int branchID;
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private SaleExpenseModel saleExpense = new SaleExpenseModel();
    private GstModel taxModel = new GstModel();
    private SaleItemModel saleItem = new SaleItemModel();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Imodel.SID == null)
        {
            Imodel.TotalAmount = 0;
        }
        else
        {
            //saleExpensesList = Iservice.GetParticulars(SID).ToList();
            saleItemsList = Iservice.GetItems(Imodel.SID).ToList();
        }

        //var authprov = await auth.GetAuthenticationStateAsync();
        //var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        //branchID = int.Parse(brancIDString);
        //costCenter = costIservice.Select().ToList();
        //dimension = dimensionIservice.Select().ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();

        //model.NatureOfTransaction = "Sale";
        //model.BranchID = branchID;
    }
    private void DeleteItem(SaleItemModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TCS.Value);


        decimal total = i.Amount.Value + gstrate;

        Imodel.TotalAmount = Imodel.TotalAmount - total;

        int rowIndex = saleItemsList.IndexOf(i);
        saleItemsList.RemoveAt(rowIndex);
    }
    private async Task OpenDialogTax2Rates(SaleItemModel i)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        taxModel.Cgst = i.CGST;
        taxModel.Igst = i.IGST;
        taxModel.TDS = i.TCS;
        taxModel.Sgst = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("IsReadOnly", false);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, new DialogOptions { MaxWidth = MaxWidth.Small });
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            taxModel = (GstModel)result.Data;
            i.CGST = taxModel.Cgst;
            i.IGST = taxModel.Igst;
            i.TCS = taxModel.TDS;
            i.SGST = taxModel.Sgst;
            i.GstRate = taxModel.GstRate;
        }
    }
    protected void getitemCode(InventoryItemModel item)
    {


        if (item != null)
        {
            if (SelectedPurchaseItems != null && SelectedPurchaseItems.InventoryItemID == null)
            {
                SelectedPurchaseItems = item;
            }
            else
            {
                SelectedPurchaseItems = new InventoryItemModel();
            }
            saleItem.ItemID = item.InventoryItemID;
            InventoryGroupModel igm = inventoryGroupIservice.SelectByID(item.InventoryGroupID);
            saleItem.CoaID = igm.MappedPurchaseHead;

        }
        else
        {
            saleItem.ItemID = null;
        }

    }
    private async Task calcAmount()
    {

        if (Imodel.PartyInfo == null)
        {
            snackbar.Add("select party", Severity.Success);
            return;
        }
        if (saleItem.ItemQty == null)
        {
            saleItem.ItemQty = 0;
        }
        if (saleItem.ItemRate == null)
        {
            saleItem.ItemRate = 0;
        }
        saleItem.Amount = saleItem.ItemQty * saleItem.ItemRate;
        if (saleItem.Amount != 0)
        {

            GstItemModel gstItem = gstitemIservice.SelectByItem(saleItem.ItemID.Value, DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            decimal? tdsRate = (decimal)tdsIService.GetTdsRate(Imodel.PartyInfo.PartyID.Value, saleItem.CoaID.Value);


            BranchModel br = branchIservice.SelectByID(branchID);
            string partyGstNo = null;
            if (Imodel.PartyInfo.GstNo != null)
            {
                partyGstNo = (Imodel.PartyInfo.GstNo).Substring(0, 2);
            }


            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                saleItem.IGST = (saleItem.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                saleItem.SGST = (saleItem.Amount * taxRate) / 100;
                saleItem.CGST = (saleItem.Amount * taxRate) / 100;

            }

            saleItem.TCS = (saleItem.Amount * tdsRate) / 100;

        }


    }

    public async Task AddSaleItems()
    {
        if (saleItem.SGST == null)
        {
            saleItem.SGST = 0;
        }
        if (saleItem.IGST == null)
        {
            saleItem.IGST = 0;
        }
        if (saleItem.CGST == null)
        {
            saleItem.CGST = 0;
        }
        saleItem.GstRate = saleItem.SGST + saleItem.CGST + saleItem.IGST;
        saleItemsList.Add(saleItem);
        decimal tvalue = 0;
        try
        {
            if (saleItem.IGST == null)
            {
                tvalue = saleItem.SGST.Value + saleItem.CGST.Value;
            }
            else
            {
                tvalue = saleItem.IGST.Value;
            }
        }
        catch (Exception ex)
        { }
        Imodel.TotalAmount = Imodel.TotalAmount + saleItem.Amount +
                               tvalue;
        saleItem = new();
        await JsRuntime.InvokeVoidAsync("focusElement", "ItemID");
    }
}
