@inherits LayoutComponentBase
@using System.Security.Claims
@using Pages.UserAccount
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject IWebHostEnvironment env
@inject ICatalogNameProvider DataBaseCatlogName

<CascadingValue Value="this">
    <div class="page">
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <div class="py-2 px-2 logo">
                    <img src="images/logoarms.png" />
                </div>
                <MudSpacer />
                @if (env.IsDevelopment())
                {
                    <MudText Typo="Typo.h6" Color="Color.Surface">
                        TESTING MODE DATABASE CONNECTED : <b>(@DataBaseCatlogName.GetCatalogName())</b>
                    </MudText>
                }
                <MudSpacer />
                <AuthorizeView>
                    <Authorized>
                        <PushNotificationComponent BranchName="@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value" />
                    </Authorized>
                </AuthorizeView>
                <LoginDisplay />
            </MudAppBar>
            <AuthorizeView>
                <Authorized>
                    <MudDrawer @bind-Open="@open" Elevation="1" Width="375px" Variant="@DrawerVariant.Temporary" >
                        <MudDrawerHeader Class="d-flex align-content-center">                            
                                <img src="images/thailogo.png" height="30px" />                           
                            <MudText Typo="Typo.h5">
                                <b>@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value</b>
                            </MudText>
                        </MudDrawerHeader>
                        <Views.Shared.NavMenu IsOpen="@open" />
                    </MudDrawer>
                </Authorized>
            </AuthorizeView>
            <MudMainContent Class="pt-6 px-6">
                <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-16">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>

    </div>
</CascadingValue>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Medium"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />


<style>

    body {
        background-color: #f0f0f0 !important;
    }
</style>


@code
{
    bool open = false;
    void ToggleDrawer()
    {
        open = !open;
    }

}

