
@using System.Security.Claims
@using Pages.UserAccount

@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="page">
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <div class="py-2 px-2 logo">
                   <img src="images/logoarms.png" />
                </div>  
                <MudSpacer />
                <AuthorizeView>
                    <Authorized>
                        <MudText Typo="Typo.subtitle2">@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value</MudText>
                    </Authorized>
                </AuthorizeView>
                <LoginDisplay /> 
            </MudAppBar>
            <AuthorizeView>
                <Authorized>
                    <MudDrawer @bind-Open="@open" Elevation="1" Width="300px" Variant="@DrawerVariant.Temporary">
                        <MudDrawerHeader>
                            <MudText Typo="Typo.h6">@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value</MudText>
                        </MudDrawerHeader>
                        <Views.Shared.NavMenu />
                    </MudDrawer>
                </Authorized>
            </AuthorizeView>
            <MudMainContent Class="pt-6 px-6">
                <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-16">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>

    </div>
</CascadingValue>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />


<style>


    body {
        background-color: #f0f0f0 !important;
    }
</style>


@code
{
    bool open = false;
    void ToggleDrawer()
    {
        open = !open;
    }
    

    

}

