@inject IDialogService DialogService
@inject AuthenticationStateProvider auth
@inject IUserService _user
@using System.Security.Claims
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="page">

        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                  <div class="px-6 py-6 logo">
                                <a class="navbar-brand" href=""><img src="images/logoarms.png" @*style="margin-bottom:1%;" width="160px" *@ /></a>
                                @*<MudText Typo="Typo.subtitle2" Class="text-black-50 mt-2" Style="align-self:center"></MudText>*@
                  </div>
                <MudSpacer />

                <AuthorizeView>
                    <Authorized>
                        <MudButton style="color:#fff" StartIcon="@Icons.Material.Outlined.AccountTree"
                                   DisableElevation="true" OnClick="@(async ()=> await changeBranch(@context.User.Identity.Name))">
                            @context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value
                        </MudButton>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <PushNotificationComponent>
                        </PushNotificationComponent>
                    </Authorized>
                </AuthorizeView>
                <LoginDisplay />
            </MudAppBar>
            <AuthorizeView>
                <Authorized>
                    <MudDrawer @bind-Open="@open" Elevation="1" Width="300px" Variant="@DrawerVariant.Temporary">
                        <MudDrawerHeader>   
                           <MudText Typo="Typo.h6">ARMS</MudText>
                        </MudDrawerHeader>
                        <Views.Shared.NavMenu />
                    </MudDrawer>
                </Authorized>
            </AuthorizeView>
            <MudMainContent Class="pt-6 px-6">
                <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-16">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>


    </div>
</CascadingValue>
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudThemeProvider />
<MudSnackbarProvider />


<style>


    body {
        background-color: #f0f0f0 !important;
    }
</style>


@code
{
    bool open = false;
    void ToggleDrawer()
    {
        open = !open;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            if (authprov.User.Identity.IsAuthenticated)
            {
                if (!authprov.User.HasClaim(x => x.Type == "BranchName"))
                {
                    await changeBranch(authprov.User.Identity.Name);
                }

            }
        }
    }

    async Task changeBranch(string UserID)
    {


        DialogOptions options = new DialogOptions() { CloseButton = false };

        DialogParameters parameters = new DialogParameters();
        parameters.Add("UserID", UserID);

        var dialog = DialogService.Show<ChooseBranch>("Select A Branch", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            UserBranchRoleModel BranchRole = (UserBranchRoleModel)result.Data;
            _user.SetCurrentBranchRole(BranchRole);
            uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
        }
    }

}

