
<MudNavMenu>
    <div class="py-3 menuContainer">
        <MudNavLink Href="/dashboard" Icon="@Icons.Material.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
        <MudNavGroup Title="Operations" Icon="@Icons.Material.Outlined.StackedBarChart" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/operations" IconColor="Color.Tertiary">Activity Screen</MudNavLink>
            <MudNavLink Href="/ManageTrip" IconColor="Color.Success">View Trips</MudNavLink>
            <MudNavLink Href="/ExpenseMapping" IconColor="Color.Tertiary">Expense Mapping</MudNavLink>
            <MudNavLink Href="/tripDialogView" IconColor="Color.Tertiary">TripFuel</MudNavLink>
            <MudNavGroup Title="Orders" Icon="@Icons.Material.Outlined.AlignHorizontalLeft" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/order" Icon="@Icons.Material.Filled.Hvac" IconColor="Color.Info">Manage Orders</MudNavLink>
                <MudNavGroup Title="Routes" Icon="@Icons.Material.Filled.AltRoute" Expanded="true">
                    <MudNavLink Href="/route" IconColor="Color.Success">Routes</MudNavLink>
                    <MudNavLink Href="/place">Places</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="GCs" Icon="@Icons.Material.Filled.Today" IconColor="Color.Inherit" Expanded="true">
                    @*<MudNavLink Href="/consignee" IconColor="Color.Primary">Consignee</MudNavLink>*@
                    <MudNavLink Href="/content" IconColor="Color.Primary">Content</MudNavLink>
                    <MudNavLink Href="/gc" IconColor="Color.Success">UnAssigned GCs</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/TariffTypes" IconColor="Color.Success">Tariff Master</MudNavLink>
                <MudNavLink Href="/TripReviewPage" IconColor="Color.Success">Trip Manager</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Trucks" Icon="@Icons.Material.Filled.DirectionsBusFilled" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/trucks" IconColor="Color.Success">Truck</MudNavLink>
                <MudNavLink Href="/TruckRegisterList" IconColor="Color.Success">Truck Registers</MudNavLink>
                <MudNavLink Href="/truckType" IconColor="Color.Primary">Truck Models</MudNavLink>
                <MudNavLink Href="/TruckTransferView" IconColor="Color.Primary">Truck Transfer View</MudNavLink>
               
            </MudNavGroup>
            <MudNavGroup Title="Drivers" Icon="@Icons.Material.Filled.People" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/driver" IconColor="Color.Success">Driver Master</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/RoutineCheckListMasterView" IconColor="Color.Primary">Routine CheckUp Master</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/OperationTruckStatusByBranchReport" IconColor="Color.Primary">Operation Truck Status Report</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="General" Icon="@Icons.Material.Filled.Settings" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/party" IconColor="Color.Tertiary">Parties</MudNavLink>
            <MudNavLink Href="/branch" IconColor="Color.Success">Branch</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Assets" Icon="@Icons.Material.Filled.Devices" IconColor="Color.Info" Expanded="false">
           @* <MudNavLink Href="/AssetClass" IconColor="Color.Tertiary">Asset Classe</MudNavLink>*@
            <MudNavLink Href="/AssetSubClass" IconColor="Color.Tertiary">Asset SubClass</MudNavLink>
            <MudNavLink Href="/AssetSimpleView" IconColor="Color.Tertiary">Simple Asset</MudNavLink>
            <MudNavLink Href="/ScrapAssetView" IconColor="Color.Tertiary">Scrap Asset</MudNavLink>
            <MudNavLink Href="/AssetRequestView" IconColor="Color.Tertiary">Asset Request</MudNavLink>
            <MudNavGroup Title="Documents" Icon="@Icons.Material.Filled.Pages" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/DocumentType" IconColor="Color.Primary">Document Types</MudNavLink>
            <MudNavLink Href="/Document" IconColor="Color.Primary">Documents</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Finance" Icon="@Icons.Material.Filled.AreaChart" IconColor="Color.Info" Expanded="false">
            <MudNavGroup Title="Transactions" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/OptranView" IconColor="Color.Primary">Operation Entries</MudNavLink>
                <MudNavLink Href="/DrCrNoteView" IconColor="Color.Primary">Dr Note/ Cr Note</MudNavLink>
                <MudNavLink Href="/Sale" IconColor="Color.Primary">Sales Invoice</MudNavLink>
                <MudNavLink Href="/Receipt" IconColor="Color.Primary">Receipts</MudNavLink>
                <MudNavLink Href="/Billing" IconColor="Color.Primary">Book Freight</MudNavLink>
                
                <MudNavLink Href="/ContraView" IconColor="Color.Primary">Contra</MudNavLink>
                <MudNavLink Href="/SundryReceiptView" IconColor="Color.Primary">Sundry Receipt</MudNavLink>
                <MudNavLink Href="/TaxPurchase" IconColor="Color.Primary">Tax Purchase</MudNavLink>
                <MudNavGroup Title="Payments" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info" Expanded="false">
                   <MudNavLink Href="/SundryPaymentView" IconColor="Color.Primary">Sundry Payment</MudNavLink>            
                    <MudNavLink Href="/PaymentMemoView" IconColor="Color.Primary">Payment Memo</MudNavLink>
                    <MudNavLink Href="/InterBranchPaymentMemoView" IconColor="Color.Primary">InterBranch Payment Memo</MudNavLink>
                <MudNavLink Href="/PaymentFinishMemoView" IconColor="Color.Primary">Pending Payments</MudNavLink>
                <MudNavLink Href="/PaymentsListView" IconColor="Color.Primary">Completed Payments</MudNavLink>
                    <MudNavLink Href="/AutoSettle" IconColor="Color.Primary">Auto Settlement</MudNavLink>
            </MudNavGroup>
                @*<MudNavLink Href="/UnReconciledBankEntryView" IconColor="Color.Primary">Bank Entry View</MudNavLink>*@
            </MudNavGroup>
            <MudNavGroup Title="InterBranch Transactions" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/InterBranchReceiptView" IconColor="Color.Primary">InterBranch Receipt</MudNavLink>                 
                    <MudNavLink Href="/InterBranchContraView" IconColor="Color.Primary">InterBranch Contra</MudNavLink>
                <MudNavLink Href="/InterBranchMapping" IconColor="Color.Primary">InterBranchMapping</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">                
                <MudNavLink Href="/ChartOfAccount" IconColor="Color.Primary">Chart Of Accounts</MudNavLink>
                <MudNavLink Href="/BankAccountOwnView" IconColor="Color.Primary">Banks</MudNavLink>
                <MudNavLink Href="/CashAccount" IconColor="Color.Primary">Cash A/c</MudNavLink>
                <MudNavLink Href="/gst" IconColor="Color.Primary">GST</MudNavLink>
                <MudNavLink Href="/tdsRate" IconColor="Color.Primary">TDS</MudNavLink>
                <MudNavLink Href="/tdsAccountMapping" IconColor="Color.Primary">TDS Account Mapping</MudNavLink>
                <MudNavLink Href="/InterBranchAccountMapping" IconColor="Color.Primary">Inter Branch Account Mapping</MudNavLink>
                <MudNavLink Href="/tdsTdsThresholdLimit" IconColor="Color.Primary">Tds ThresholdLimit</MudNavLink>
                <MudNavLink Href="/GstUsageID" IconColor="Color.Primary">Gst UsageID</MudNavLink>
                <MudNavLink Href="/GstItems" IconColor="Color.Primary">Gst Inventory Items</MudNavLink>
                <MudNavLink Href="/CostCenter" IconColor="Color.Primary">Cost Center</MudNavLink>
                <MudNavLink Href="/Diamension" IconColor="Color.Primary">Dimension</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Account Rule Defenitions" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/BankPostingGroup" IconColor="Color.Primary">BankPostingGroup</MudNavLink>
                <MudNavLink Href="/RenterPostingGroup" IconColor="Color.Primary">RenterPostingGroup</MudNavLink>
                <MudNavLink Href="/VendorPostingGroup" IconColor="Color.Primary">VendorPostingGroup</MudNavLink>
                <MudNavLink Href="/CustomerPostingGroup" IconColor="Color.Primary">CustomerPostingGroup</MudNavLink>
                <MudNavLink Href="/AssetPostingGroup" IconColor="Color.Primary">AssetPostingGroup</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/AutoSettlement" IconColor="Color.Primary">AutoSettle</MudNavLink>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/FinanceTransactionReport" IconColor="Color.Primary">Finance Transaction Report</MudNavLink>
                <MudNavLink Href="/FinanceAccountLedgerTransactionReport" IconColor="Color.Primary">Ledger Transaction Report</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Maintainance" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/Breakdowns" IconColor="Color.Success">Breakdown</MudNavLink>
            <MudNavGroup Title="Jobcard" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobcards" IconColor="Color.Success">Active JobCards</MudNavLink>
                <MudNavLink Href="/jobcard" IconColor="Color.Success">Select JobCard</MudNavLink>
                <MudNavLink Href="/jobs" IconColor="Color.Success">Job Master</MudNavLink>
                <MudNavLink Href="/mechanics" IconColor="Color.Success">Mechanics</MudNavLink>
                <MudNavLink Href="/workshop" IconColor="Color.Success">Workshops</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/reminders" IconColor="Color.Success">Periodic Maintenance</MudNavLink>
            <MudNavGroup Title="Insurance Claim" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/ManageClaims" IconColor="Color.Success">Active Claims</MudNavLink>
                <MudNavLink Href="/InsClaimMaster" IconColor="Color.Success">Claim Events</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/RoutineCheckListView" IconColor="Color.Success">Routine Check List</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Inventory" Icon="@Icons.Material.Filled.Inventory" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/InventoryGroupItem" IconColor="Color.Success">Inventory Items</MudNavLink>
            <MudNavLink Href="/PurchaseOrder" IconColor="Color.Success">PurchaseOrder</MudNavLink>
            <MudNavLink Href="/InventoryGrn" IconColor="Color.Success">InventoryGrn</MudNavLink>
            <MudNavLink Href="/TyreMasterView" IconColor="Color.Success">Tyre</MudNavLink>
            <MudNavLink Href="/TyreResoleView" IconColor="Color.Success">Tyre Resole</MudNavLink>
            <MudNavLink Href="/ResoleDeliveryView" IconColor="Color.Success">Resole Delivery</MudNavLink>
        </MudNavGroup>
    </div>
</MudNavMenu>



@code {

}
