    

<MudTextField @bind-Value="@FilterText" Placeholder="Search..." Variant="Variant.Filled"  Class="m-4 flex-grow-0 " />

@if (string.IsNullOrEmpty(FilterText))
{
    @foreach (var item in navlist)
    {
        <NavMenuGroup MenuItem="@item"/>
    }
}
else
{
    @foreach (var item in Filter(FilterText, navlist))
    {
        <NavMenuGroup MenuItem="@item"/>
    }
}


@code {
    string FilterText;

    List<NavMenuModel> navlist = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Reset();
    }


    private IEnumerable<NavMenuModel> Filter(string txt, List<NavMenuModel> items)
    {
        foreach (var item in items)
        {
            if (!item.IsGroup && item.Title.Contains(txt, StringComparison.OrdinalIgnoreCase))
            {
                yield return item;
            }

            else if (item.navItems.Count > 0)
            {
                foreach (var subitem in Filter(txt, item.navItems))
                {
                    yield return subitem;
                }
            }
        }
    }

    private void Reset()
    {
        navlist = new List<NavMenuModel>()
        {
            new NavMenuModel(){ID = 1, IsGroup = true, Title = "Operations",Icon = Icons.Material.Outlined.StackedBarChart,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                 new NavMenuModel(){ID = 101,  Title = "Dashboard",  href = "/dashboard" ,Icon = Icons.Material.Outlined.Workspaces,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 102,  Title = "Activity Screen",  href = "/operations" ,IconColor = Color.Tertiary  },
                 new NavMenuModel(){ID = 103,  Title = "Manage Contracts",  href = "/order" ,Icon = Icons.Material.Outlined.Hvac,IconColor = Color.Info  },
            new NavMenuModel(){ID = 104,  Title = "UnAssigned GCs",  href = "/gc" ,Icon = Icons.Material.Filled.Today,IconColor = Color.Info  },
            new NavMenuModel(){ID = 105,  Title = "Trucks",  href = "/trucks" ,Icon = Icons.Material.Filled.DirectionsBusFilled,IconColor = Color.Info  },
            new NavMenuModel(){ID = 106,  Title = "Request Truck",  href = "/TruckAvailabilityView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 107,  Title = "Manage RC Books",  href = "/TruckRegisterList" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 108,  Title = "View Drivers",  href = "/driver" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 109,  Title = "Transfer Driver",  href = "/DriverTransferView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 110,  Title = "Manage Trips",  href = "/ManageTrip" ,IconColor = Color.Info  },

            new NavMenuModel(){ID = 111,  IsGroup = true, Title = "Masters",Icon = Icons.Material.Filled.Group,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
            new NavMenuModel(){ID = 11101,  Title = "Routes",  href = "/route" ,Icon = Icons.Material.Outlined.AltRoute,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11102,  Title = "Places",  href = "/place" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11103,  Title = "Districts",  href = "/district" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11104,  Title = "GC Contents",  href = "/content" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11105,  Title = "Tariff Master",  href = "/TariffTypes" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11106,  Title = "Truck Models",  href = "/truckType" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 11011, IsGroup = true, Title = "Reports",Icon = Icons.Material.Filled.PendingActions,IconColor = Color.Info, Expanded = false },
            }},

            new NavMenuModel(){ID = 112, IsGroup = true, Title = "Reports",Icon = Icons.Material.Filled.PendingActions,IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                  new NavMenuModel(){ID = 11106,  Title = "Truck Status Report",  href = "/OperationTruckStatusByBranchReport" ,IconColor = Color.Info  },
              }},

            }},
              new NavMenuModel(){ID = 2, IsGroup = true, Title = "Finance",Icon = Icons.Material.Filled.AreaChart,IconColor = Color.Info, Expanded = false ,
              navItems = new()
              {
                new NavMenuModel(){ID = 201,  Title = "Dashboard",  href="/financedashboard", Icon = Icons.Material.Outlined.Workspaces ,IconColor = Color.Info  },

              new NavMenuModel(){ID = 202, IsGroup = true, Title = "Transactions",Icon = Icons.Material.Filled.AttachMoney,IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                  new NavMenuModel(){ID = 20201,  Title = "Asset Purchase",  href = "/AssetPurchaseOrder" ,IconColor = Color.Info  },
                   new NavMenuModel(){ID = 20202,  Title = "Purchase",  href = "/TaxPurchase" ,IconColor = Color.Info  },
                    new NavMenuModel(){ID = 20203,  Title = "Book Freight",  href = "/FreightBooking" ,IconColor = Color.Info  },
                     new NavMenuModel(){ID = 20204,  Title = "Sales Invoice",  href = "/Sale" ,IconColor = Color.Info  },
                      new NavMenuModel(){ID = 20205,  Title = "Debit/Credit Note",  href = "/DrCrNoteView" ,IconColor = Color.Info  },
                       new NavMenuModel(){ID = 20206,  Title = "Payment Memo",  href = "/PaymentMemoView" ,IconColor = Color.Info  },
                        new NavMenuModel(){ID = 20207,  Title = "Payment Window",  href = "/InitiatePayment" ,IconColor = Color.Info  },
                        new NavMenuModel(){ID = 20220,  Title = "Past Payments",  href = "/PaymentsListView" ,IconColor = Color.Info  },                         
                        new NavMenuModel(){ID = 20208,  Title = "Receipts",  href = "/Receipt" ,IconColor = Color.Info  },
                         new NavMenuModel(){ID = 20209,  Title = "Contra Entry",  href = "/ContraView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20210,  Title = "Sundry Payment",  href = "/SundryPaymentView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20211,  Title = "Sundry Receipt",  href = "/SundryReceiptView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20212,  Title = "Journal",  href = "/JournalView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20213,  Title = "Upload FastTag",  href = "/FastTagToll" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20214,  Title = "Process Fastag",  href = "/FastTagTollProcess" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20215,  Title = "Trip Expenses",  href = "/OptranView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20216,  Title = "Asset Document Voucher",  href = "/DocumentVoucher" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20217,  Title = "Mileage Shortage Receipts",  href = "/MileageShortageReceiptView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20218,  Title = "Auto Settlement",  href = "/AutoSettle" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 20219,  Title = "Bank Reconciliation",  href = "/BankReconciliationView" ,IconColor = Color.Info  },

              }},
              new NavMenuModel(){ID = 203, IsGroup = true, Title = "InterBranch Transactions",Icon = Icons.Material.Filled.Group,IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                  new NavMenuModel(){ID = 20301,  Title = "InterBranch Payment Memo",  href = "/InterBranchPaymentMemoView" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20301,  Title = "InterBranch Receipt",  href = "/InterBranchReceiptView" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20301,  Title = "InterBranch Contra Entry",  href = "/InterBranchContraView" ,IconColor = Color.Info  },

                }},
              new NavMenuModel(){ID = 204, IsGroup = true, Title = "Masters",Icon = Icons.Material.Filled.Group,IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                 new NavMenuModel(){ID = 20401,  Title = "Chart Of Accounts",  href = "/ChartOfAccount" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20402,  Title = "Trading Partners",  href = "/party" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20403,  Title = "Banks",  href = "/BankAccountOwnView" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20404,  Title = "Cash/Wallet",  href = "/CashAccount" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20405,  Title = "GST",  href = "/gst" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20406,  Title = "TDS Setting",  href = "/TDSSetting" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20407,  Title = "Cost Center",  href = "/CostCenter" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20408,  Title = "Dimension",  href = "/Diamension" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20409,  Title = "Cancellation Reason Code",  href = "/CancellationReasonCodeView" ,IconColor = Color.Info  },

                }},

              new NavMenuModel(){ID = 205, IsGroup = true, Title = "Account Rules Definition",Icon = Icons.Material.Filled.AttachMoney,IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                  new NavMenuModel(){ID = 20501,  Title = "Usage Codes",  href = "/GstUsageID" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20502,  Title = "Inventory Items Tax Mapping",  href = "/GstItems" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20503,  Title = "Bank",  href = "/BankPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20504,  Title = "Rent",  href = "/RenterPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20505,  Title = "Vendors",  href = "/VendorPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20506,  Title = "Customers",  href = "/CustomerPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20507,  Title = "Asset",  href = "/AssetPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20508,  Title = "Trip Expenses",  href = "/OperationPostingGroup" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20509,  Title = "InterBranch Mapping",  href = "/InterBranchMapping" ,IconColor = Color.Info  },
                  new NavMenuModel(){ID = 20401,  Title = "Journal",  href = "/JournalView" ,IconColor = Color.Info  },
                }},
                 new NavMenuModel(){ID = 206, IsGroup = true, Title = "Reports",IconColor = Color.Info, Expanded = false,
              navItems = new()
              {
                 new NavMenuModel(){ID = 20601,  Title = "Finance Transaction Report",  href = "/FinanceTransactionReport" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20602,  Title = "Ledger Report",  href = "/FinanceAccountLedgerTransactionReport" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20603,  Title = "Finance Trial Balance Report",  href = "/FinanceTrialBalanceReport" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 20604,  Title = "Party Ledger Report",  href = "/PartyLedgerReport" ,IconColor = Color.Info  },
                 
                }},        
              }},
            new NavMenuModel(){ID = 3, IsGroup = true, Title = "Assets",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 301,  Title = "Assets",  href = "/AssetSimpleView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 302,  Title = "Scrap Asset",  href = "/ScrapAssetView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 303,  Title = "Transfer Asset",  href = "/AssetTransferView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 304,  Title = "Documents",  href = "/Document" , Icon=Icons.Material.Filled.Pages ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 305,  Title = "Document Renewal Request",  href = "/DocumentRenewalRequest" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 306, IsGroup = true, Title = "Masters",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 30601,  Title = "Asset Classification",  href = "/AssetSubClass" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 30602,  Title = "Document Types",  href = "/DocumentType" ,IconColor = Color.Info  },
            }},

            }},
            new NavMenuModel(){ID = 4, IsGroup = true, Title = "Inventory",Icon = Icons.Material.Filled.Inventory,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 401,  Title = "Purchase Order",  href = "/PurchaseOrder" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 402,  Title = "Inventory GRN",  href = "/InventoryGrn" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 403,  Title = "Used Inventory GRN",  href = "/UsedInventoryGrn" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 404,  Title = "Inventory Release",  href = "/InventoryReleaseView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 405,  Title = "Bulk Inventory Release",  href = "/OpInventoryReleaseView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 406,  Title = "Tyre Resole",  href = "/TyreResoleView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 407,  Title = "Resole Delivery",  href = "/ResoleDeliveryView" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 408,  Title = "Stock Transfer",  href = "/StockTransferItem" ,IconColor = Color.Info  },
             new NavMenuModel(){ID = 409, IsGroup = true, Title = "Masters",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 40901,  Title = "Stores",  href = "/Store" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 40902,  Title = "Inventory Items",  href = "/InventoryGroupItem" , IconColor = Color.Info  },
                new NavMenuModel(){ID = 40903,  Title = "Tyre",  href = "/TyreMasterView" ,IconColor = Color.Info  },
            }},
             new NavMenuModel(){ID = 410, IsGroup = true, Title = "Reports",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 40901,  Title = "Store Item Report",  href = "/InventoryStoreItems" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 40902,  Title = "Inventory",  href = "/InventoryGroupItem" ,  IconColor = Color.Info  },

            }},
            }},
            new NavMenuModel(){ID = 5, IsGroup = true, Title = "Maintenance",Icon = Icons.Material.Filled.Build,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
            new NavMenuModel(){ID = 501,  Title = "Breakdown",  href = "/Breakdowns" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 512, IsGroup = true, Title = "Jobcard",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 501,  Title = "Active JobCards",  href = "/jobcards" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Select JobCard",  href = "/jobcard" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Completed JobCard",  href = "/completedjobcard" ,IconColor = Color.Info  },

            }},
                new NavMenuModel(){ID = 501,  Title = "Periodic Maintenance",  href = "/reminders" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Active Insurance Claims",  href = "/ManageClaims" ,  Icon=Icons.Material.Filled.Security ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Update Checklist",  href = "/RoutineCheckListView" ,IconColor = Color.Info  },
            new NavMenuModel(){ID = 512, IsGroup = true, Title = "Masters",Icon = Icons.Material.Filled.Devices,IconColor = Color.Info, Expanded = false,
            navItems = new()
            {
                new NavMenuModel(){ID = 501,  Title = "Job Master",  href = "/jobs" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Mechanics",  href = "/mechanics" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "Workshops",  href = "/workshop" ,IconColor = Color.Info  },
                 new NavMenuModel(){ID = 501,  Title = "Insurance Events Master",  href = "/InsClaimMaster" ,IconColor = Color.Info  },
                new NavMenuModel(){ID = 501,  Title = "CheckList Master",  href = "/RoutineCheckListMasterView" ,IconColor = Color.Info  },

            }},
            }},
        };
    }
}


@* <MudNavMenu Color="Color.Info">
    <div class="py-3 menuContainer">
        <MudNavGroup Title="Operations" Icon="@Icons.Material.Outlined.StackedBarChart" IconColor="Color.Info" Expanded="false">

            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
            <MudNavLink Href="/operations" IconColor="Color.Tertiary">Activity Screen</MudNavLink>
            <MudNavLink Href="/order" Icon="@Icons.Material.Filled.Hvac" IconColor="Color.Info">Manage Contracts</MudNavLink>
            <MudNavLink Href="/gc" Icon="@Icons.Material.Filled.Today" IconColor="Color.Info">UnAssigned GCs</MudNavLink>
            <MudNavLink Href="/trucks" Icon="@Icons.Material.Filled.DirectionsBusFilled" IconColor="Color.Info">Trucks</MudNavLink>
            <MudNavLink Href="/TruckAvailabilityView" IconColor="Color.Primary">Avail Trucks</MudNavLink>
            <MudNavLink Href="/TruckRegisterList" IconColor="Color.Success">View Registration History</MudNavLink>
            <MudNavLink Href="/driver" IconColor="Color.Success">Manage Drivers</MudNavLink>
            <MudNavLink Href="/DriverTransferView" IconColor="Color.Success">Transfer Drivers</MudNavLink>
            <MudNavLink Href="/ManageTrip" IconColor="Color.Success">View Trips</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/route" IconColor="Color.Success" Icon="@Icons.Material.Filled.AltRoute">Routes</MudNavLink>
                <MudNavLink Href="/place">Places</MudNavLink>
                <MudNavLink Href="/district">Districts</MudNavLink>
                <MudNavLink Href="/content" IconColor="Color.Primary">Content</MudNavLink>
                <MudNavLink Href="/TariffTypes" IconColor="Color.Success">Tariff Master</MudNavLink>
                <MudNavLink Href="/truckType" IconColor="Color.Primary">Truck Models</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/OperationTruckStatusByBranchReport" IconColor="Color.Primary">Operation Truck Status Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>

            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>
        <MudNavGroup Title="Finance" Icon="@Icons.Material.Filled.AreaChart" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/financedashboard" Icon="@Icons.Material.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
            <MudNavGroup Title="Transactions" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/AssetPurchaseOrder" IconColor="Color.Tertiary">Asset Purchase</MudNavLink>
                <MudNavLink Href="/TaxPurchase" IconColor="Color.Primary">Purchase</MudNavLink>
                <MudNavLink Href="/FreightBooking" IconColor="Color.Primary">Book Freight</MudNavLink>
                <MudNavLink Href="/Sale" IconColor="Color.Primary">Sales Invoice</MudNavLink>
                <MudNavLink Href="/DrCrNoteView" IconColor="Color.Primary">Dr Note/ Cr Note</MudNavLink>
                <MudNavLink Href="/PaymentMemoView" IconColor="Color.Primary">Payment Memo</MudNavLink>
                <MudNavLink Href="/InitiatePayment" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info">Payment Window</MudNavLink>
                <MudNavLink Href="/Receipt" IconColor="Color.Primary">Receipts</MudNavLink>
                <MudNavLink Href="/ContraView" IconColor="Color.Primary">Contra</MudNavLink>
                <MudNavLink Href="/SundryPaymentView" IconColor="Color.Primary">Sundry Payment</MudNavLink>
                <MudNavLink Href="/SundryReceiptView" IconColor="Color.Primary">Sundry Receipt</MudNavLink>
                <MudNavLink Href="/JournalView" IconColor="Color.Primary">Journal</MudNavLink>
                <MudNavLink Href="/FastTagToll" IconColor="Color.Primary">FastTag Toll Upload</MudNavLink>
                <MudNavLink Href="/FastTagTollProcess" IconColor="Color.Primary">FastTag Toll Process</MudNavLink>
                <MudNavLink Href="/OptranView" IconColor="Color.Primary">Trip Expenses</MudNavLink>
                <MudNavLink Href="/DocumentVoucher" IconColor="Color.Primary">Asset Document Voucher</MudNavLink>
                <MudNavLink Href="/MileageShortageReceiptView" IconColor="Color.Primary">Mileage Shortage Receipts</MudNavLink>
                <MudNavLink Href="/AutoSettle" IconColor="Color.Primary">Auto Settlement</MudNavLink>
                <MudNavLink Href="/BankReconciliationView" IconColor="Color.Primary">Bank Reconciliation</MudNavLink>

                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="InterBranch Transactions" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/InterBranchPaymentMemoView" IconColor="Color.Primary">InterBranch Payment Memo</MudNavLink>
                <MudNavLink Href="/InterBranchReceiptView" IconColor="Color.Primary">InterBranch Receipt</MudNavLink>
                <MudNavLink Href="/InterBranchContraView" IconColor="Color.Primary">InterBranch Contra</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/ChartOfAccount" IconColor="Color.Primary">Chart Of Accounts</MudNavLink>
                <MudNavLink Href="/party" IconColor="Color.Tertiary">Trading Partners</MudNavLink>
                <MudNavLink Href="/BankAccountOwnView" IconColor="Color.Primary">Banks</MudNavLink>
                <MudNavLink Href="/CashAccount" IconColor="Color.Primary">Cash A/c</MudNavLink>
                <MudNavLink Href="/gst" IconColor="Color.Primary">GST</MudNavLink>
                <MudNavLink Href="/TDSSetting" IconColor="Color.Primary">TDS Setting</MudNavLink>
                <MudNavLink Href="/CostCenter" IconColor="Color.Primary">Cost Center</MudNavLink>
                <MudNavLink Href="/Diamension" IconColor="Color.Primary">Dimension</MudNavLink>
                <MudNavLink Href="/CancellationReasonCodeView" IconColor="Color.Primary">Cancellation Reason Code</MudNavLink>
                <MudNavLink Href="/InterBranchMapping" IconColor="Color.Primary">InterBranch Mapping</MudNavLink>
                <MudNavGroup Title="Account Rules Definition" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                    <MudNavLink Href="/GstUsageID" IconColor="Color.Primary">Usage Codes</MudNavLink>
                    <MudNavLink Href="/GstItems" IconColor="Color.Primary">Inventory Items Tax Mapping</MudNavLink>
                    <MudNavLink Href="/BankPostingGroup" IconColor="Color.Primary">Bank</MudNavLink>
                    <MudNavLink Href="/RenterPostingGroup" IconColor="Color.Primary">Rent</MudNavLink>
                    <MudNavLink Href="/VendorPostingGroup" IconColor="Color.Primary">Vendors</MudNavLink>
                    <MudNavLink Href="/CustomerPostingGroup" IconColor="Color.Primary">Customers</MudNavLink>
                    <MudNavLink Href="/AssetPostingGroup" IconColor="Color.Primary">Asset</MudNavLink>
                    <MudNavLink Href="/OperationPostingGroup" IconColor="Color.Primary">Trip Expenses</MudNavLink>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                </MudNavGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>

            <MudNavLink Href="/PaymentsListView" IconColor="Color.Primary">Past Payments</MudNavLink>

            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/FinanceTransactionReport" IconColor="Color.Primary">Finance Transaction Report</MudNavLink>
                <MudNavLink Href="/FinanceAccountLedgerTransactionReport" IconColor="Color.Primary">Ledger Transaction Report</MudNavLink>
                <MudNavLink Href="/FinanceTrialBalanceReport" IconColor="Color.Primary">Finance Trial Balance Report</MudNavLink>
                <MudNavLink Href="/PartyLedgerReport" IconColor="Color.Primary">Party Ledger Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>
        <MudNavGroup Title="Assets" Icon="@Icons.Material.Filled.Devices" IconColor="Color.Info" Expanded="false">

            <MudNavLink Href="/AssetSimpleView" IconColor="Color.Tertiary">Assets</MudNavLink>
            <MudNavLink Href="/ScrapAssetView" IconColor="Color.Tertiary">Scrap Asset</MudNavLink>
            <MudNavLink Href="/AssetTransferView" IconColor="Color.Primary">Asset Transfer View</MudNavLink>
            <MudNavLink Href="/Document" Icon="@Icons.Material.Filled.Pages" IconColor="Color.Info">Documents</MudNavLink>
            <MudNavLink Href="/DocumentRenewalRequest" IconColor="Color.Tertiary">Document Renewal Request</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/AssetSubClass" IconColor="Color.Tertiary">Asset Classification</MudNavLink>
                <MudNavLink Href="/DocumentType" IconColor="Color.Primary">Document Types</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>
        <MudNavGroup Title="Inventory" Icon="@Icons.Material.Filled.Inventory" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/PurchaseOrder" IconColor="Color.Success">Purchase Order</MudNavLink>
            <MudNavLink Href="/InventoryGrn" IconColor="Color.Success">Inventory GRN</MudNavLink>
            <MudNavLink Href="/UsedInventoryGrn" IconColor="Color.Success">Used Inventory GRN</MudNavLink>
            <MudNavLink Href="/InventoryReleaseView" IconColor="Color.Primary">Inventory Release</MudNavLink>
            <MudNavLink Href="/OpInventoryReleaseView" IconColor="Color.Primary">Bulk Inventory Release</MudNavLink>
            <MudNavLink Href="/TyreResoleView" IconColor="Color.Success">Tyre Resole</MudNavLink>
            <MudNavLink Href="/ResoleDeliveryView" IconColor="Color.Success">Resole Delivery</MudNavLink>
            <MudNavLink Href="/StockTransferItem" IconColor="Color.Success">Stock Transfer</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/Store" Icon="@Icons.Material.Outlined.Store" IconColor="Color.Info">Stores</MudNavLink>
                <MudNavLink Href="/InventoryGroupItem" IconColor="Color.Success">Inventory Items</MudNavLink>
                <MudNavLink Href="/TyreMasterView" IconColor="Color.Success">Tyre</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/InventoryStoreItems" IconColor="Color.Primary">Inventory Store Item Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>
        <MudNavGroup Title="Maintainance" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/Breakdowns" IconColor="Color.Success">Breakdown</MudNavLink>
            <MudNavGroup Title="Jobcard" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobcards" IconColor="Color.Success">Active JobCards</MudNavLink>
                <MudNavLink Href="/jobcard" IconColor="Color.Success">Select JobCard</MudNavLink>
                <MudNavLink Href="/completedjobcard" IconColor="Color.Success">Completed JobCard</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavLink Href="/reminders" IconColor="Color.Success">Periodic Maintenance</MudNavLink>
            <MudNavLink Href="/ManageClaims" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info">Active Insurance Claims</MudNavLink>

            <MudNavLink Href="/RoutineCheckListView" IconColor="Color.Success">Update Checklist</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobs" IconColor="Color.Success">Job Master</MudNavLink>
                <MudNavLink Href="/mechanics" IconColor="Color.Success">Mechanics</MudNavLink>
                <MudNavLink Href="/workshop" IconColor="Color.Success">Workshops</MudNavLink>
                <MudNavLink Href="/InsClaimMaster" IconColor="Color.Success">Insurance Events Master</MudNavLink>
                <MudNavLink Href="/RoutineCheckListMasterView" IconColor="Color.Primary">CheckList Master</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>
    </div>
</MudNavMenu> *@
