
<MudPaper Width="250px" Class="d-inline-flex MenuClass" Style="height:100%" Square="true">
    <MudNavMenu Class="mud-width-full">
        <div  class="px-6 py-2 logo" >
           <a class="navbar-brand" href=""><img src="images/logoarms.png" style="margin-bottom:1%;" width="160px"/></a>
            <MudText Typo="Typo.subtitle2" Class="text-black-50 mt-2"  Style="align-self:center"   ></MudText>
        </div>
        <MudDivider  />
        <div class="py-3 menuContainer">
            <MudNavLink Href="/dashboard" Icon="@Icons.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
            @*<MudNavLink Href="/operations" Icon="@Icons.Outlined.StackedBarChart" IconColor="Color.Info">Activity Screen</MudNavLink>*@
             <MudNavGroup Title="Activity Screen" Icon="@Icons.Outlined.StackedBarChart" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/operations" IconColor="Color.Tertiary">operations</MudNavLink>
                <MudNavLink Href="/OprationNew" IconColor="Color.Success">OperationsNew</MudNavLink>
               
            
            </MudNavGroup>
            <MudNavGroup Title="Orders" Icon="@Icons.Outlined.AlignHorizontalLeft" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/order" Icon="@Icons.Filled.Hvac" IconColor="Color.Info" >Manage Orders</MudNavLink>
                <MudNavGroup Title="Routes" Icon="@Icons.Filled.AltRoute" Expanded="true">
                    <MudNavLink Href="/route" IconColor="Color.Success" >Routes</MudNavLink>
                    <MudNavLink Href="/place">Places</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="GCs" Icon="@Icons.Filled.Today" IconColor="Color.Inherit" Expanded="true">
                    <MudNavLink Href="/consignee" IconColor="Color.Primary">Consignee</MudNavLink>
                    <MudNavLink Href="/content" IconColor="Color.Primary">Content</MudNavLink>
                    <MudNavLink Href="/gc" IconColor="Color.Success">UnAssigned GCs</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/TariffTypes" IconColor="Color.Success">Tariff Master</MudNavLink>
                <MudNavLink Href="/TripReviewPage" IconColor="Color.Success">Trip Manager</MudNavLink>                
            </MudNavGroup>

            <MudNavGroup Title="General" Icon="@Icons.Filled.Settings" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/party" IconColor="Color.Tertiary">Parties</MudNavLink>
                <MudNavLink Href="/branch" IconColor="Color.Success">Branch</MudNavLink>
               
            
            </MudNavGroup>


            <MudNavGroup Title="Finance" Icon="@Icons.Filled.AreaChart" IconColor="Color.Info" Expanded="false">
               
                
               <MudNavGroup Title="Transactions" Icon="@Icons.Filled.AttachMoney" IconColor="Color.Info" Expanded="false">
                  
                    <MudNavLink Href="/DrCrNoteDialog" IconColor="Color.Primary">DrCrNote</MudNavLink>
            
                   <MudNavLink Href="/Receipt" IconColor="Color.Primary">Receipt</MudNavLink>
            
                   <MudNavLink Href="/FreightBooking" IconColor="Color.Primary">FreightBooking</MudNavLink>
                   <MudNavLink Href="/ProformaInvoiceDialog" IconColor="Color.Primary">PerfomaInvoice</MudNavLink>
                               
                   <MudNavLink Href="/ContraView" IconColor="Color.Primary">Contra</MudNavLink>
              
                   <MudNavLink Href="/SundryPaymentView" IconColor="Color.Primary">SundryPayment</MudNavLink>
               
                <MudNavLink Href="/TaxPurchase" IconColor="Color.Primary">TaxPurchase</MudNavLink>
                <MudNavLink Href="/PaymentMemoView" IconColor="Color.Primary">PaymentMemo</MudNavLink>
                <MudNavLink Href="/PaymentFinishMemoView" IconColor="Color.Primary">PaymentFinish   Memo</MudNavLink>
                 
         </MudNavGroup>

                <MudNavLink Href="/gst" IconColor="Color.Primary">GST</MudNavLink>
                 <MudNavLink Href="/tdsRate" IconColor="Color.Primary">TDS</MudNavLink>
                <MudNavLink Href="/tdsAccountMapping" IconColor="Color.Primary">TDS Account Mapping</MudNavLink>
                 <MudNavLink Href="/InterBranchAccountMapping" IconColor="Color.Primary">Inter Branch Account Mapping</MudNavLink>
             <MudNavLink Href="/tdsTdsThresholdLimit" IconColor="Color.Primary">Tds ThresholdLimit</MudNavLink>
               <MudNavLink Href="/GstUsageID" IconColor="Color.Primary">Gst UsageID</MudNavLink>
             <MudNavLink Href="/GstItems" IconColor="Color.Primary">Gst Inventory Items</MudNavLink>
             <MudNavLink Href="/CostCenter" IconColor="Color.Primary">Cost Center</MudNavLink>
            
             <MudNavLink Href="/Diamension" IconColor="Color.Primary">Diamension</MudNavLink>
           




         </MudNavGroup>


            <MudNavGroup Title="Trucks" Icon="@Icons.Filled.DirectionsBusFilled" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/trucks" IconColor="Color.Success">Truck</MudNavLink>
                <MudNavLink Href="/truckType" IconColor="Color.Primary">Truck Models</MudNavLink>
                <MudNavLink Href="/DocumentType" IconColor="Color.Primary">Document Types</MudNavLink>
                <MudNavLink Href="/Document" IconColor="Color.Primary">Documents</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="Drivers" Icon="@Icons.Filled.People" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/driver" IconColor="Color.Success">Driver Master</MudNavLink>                
            </MudNavGroup>
            <MudNavGroup Title="Maintainance" Icon="@Icons.Filled.Build" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/Breakdowns" IconColor="Color.Success">Breakdown</MudNavLink> 
                <MudNavGroup Title="Jobcard" Icon="@Icons.Filled.Build" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobcards" IconColor="Color.Success">Active JobCards</MudNavLink> 
                <MudNavLink Href="/jobcard" IconColor="Color.Success">Select JobCard</MudNavLink>
                <MudNavLink Href="/jobs" IconColor="Color.Success">Job Master</MudNavLink> 
                <MudNavLink Href="/mechanics" IconColor="Color.Success">Mechanics</MudNavLink> 
                <MudNavLink Href="/workshop" IconColor="Color.Success">Workshops</MudNavLink> 
             </MudNavGroup>

            

                <MudNavLink Href="/reminders" IconColor="Color.Success">Periodic Maintenance</MudNavLink> 
                <MudNavGroup Title="Insurance Claim" Icon="@Icons.Filled.Security" IconColor="Color.Info" Expanded="false">
                 <MudNavLink Href="/ManageClaims" IconColor="Color.Success">Active Claims</MudNavLink>  
                 <MudNavLink Href="/InsClaimMaster" IconColor="Color.Success">Claim Events</MudNavLink>  
                </MudNavGroup>
            </MudNavGroup>
             <MudNavGroup Title="Inventory" Icon="@Icons.Filled.Inventory" IconColor="Color.Info" Expanded="false">             
                <MudNavLink Href="/InventoryGroupItem" IconColor="Color.Success">Inventory Items</MudNavLink> 
                <MudNavLink Href="/PurchaseOrder" IconColor="Color.Success">PurchaseOrder</MudNavLink> 
                <MudNavLink Href="/InventoryGrn" IconColor="Color.Success">InventoryGrn</MudNavLink> 
             
             </MudNavGroup>
        </div>
    </MudNavMenu>
</MudPaper>


@code {

}
