
<MudNavMenu Color="Color.Info">
    <div class="py-3 menuContainer">
        <MudNavGroup Title="Operations" Icon="@Icons.Material.Outlined.StackedBarChart" IconColor="Color.Info" Expanded="false" >

            <MudNavLink Match="NavLinkMatch.Prefix" Href="/dashboard" Icon="@Icons.Material.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
            <MudNavLink Href="/operations" IconColor="Color.Tertiary">Activity Screen</MudNavLink> 
            <MudNavLink Href="/order" Icon="@Icons.Material.Filled.Hvac" IconColor="Color.Info">Manage Contracts</MudNavLink>
            <MudNavLink Href="/gc" Icon="@Icons.Material.Filled.Today" IconColor="Color.Info">UnAssigned GCs</MudNavLink>
            <MudNavLink Href="/trucks" Icon="@Icons.Material.Filled.DirectionsBusFilled" IconColor="Color.Info">Trucks</MudNavLink>
            <MudNavLink Href="/TruckAvailabilityView" IconColor="Color.Primary">Avail Trucks</MudNavLink>
            <MudNavLink Href="/TruckRegisterList" IconColor="Color.Success">View Registration History</MudNavLink>            
            <MudNavLink Href="/driver" IconColor="Color.Success">Manage Drivers</MudNavLink>
            <MudNavLink Href="/DriverTransferView" IconColor="Color.Success">Transfer Drivers</MudNavLink>
            <MudNavLink Href="/ManageTrip" IconColor="Color.Success">View Trips</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/route" IconColor="Color.Success" Icon="@Icons.Material.Filled.AltRoute">Routes</MudNavLink>
                <MudNavLink Href="/place">Places</MudNavLink>
                <MudNavLink Href="/district">Districts</MudNavLink>
                <MudNavLink Href="/content" IconColor="Color.Primary">Content</MudNavLink>
                <MudNavLink Href="/TariffTypes" IconColor="Color.Success">Tariff Master</MudNavLink>
                <MudNavLink Href="/truckType" IconColor="Color.Primary">Truck Models</MudNavLink>
                 <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
            </MudNavGroup>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/OperationTruckStatusByBranchReport" IconColor="Color.Primary">Operation Truck Status Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>

            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>

        <MudNavGroup Title="Finance" Icon="@Icons.Material.Filled.AreaChart" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/financedashboard" Icon="@Icons.Material.Outlined.Workspaces" IconColor="Color.Info">Dashboard</MudNavLink>
            <MudNavGroup Title="Transactions" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info" Expanded="false" >
                <MudNavLink Href="/AssetPurchaseOrder" IconColor="Color.Tertiary">Asset Purchase</MudNavLink>
                <MudNavLink Href="/TaxPurchase" IconColor="Color.Primary">Purchase</MudNavLink>
                <MudNavLink Href="/FreightBooking" IconColor="Color.Primary">Book Freight</MudNavLink>
                <MudNavLink Href="/Sale" IconColor="Color.Primary">Sales Invoice</MudNavLink>
                <MudNavLink Href="/DrCrNoteView" IconColor="Color.Primary">Dr Note/ Cr Note</MudNavLink>
                <MudNavLink Href="/PaymentMemoView" IconColor="Color.Primary">Payment Memo</MudNavLink>
                <MudNavLink Href="/InitiatePayment" Icon="@Icons.Material.Filled.AttachMoney" IconColor="Color.Info">Payment Window</MudNavLink>
                <MudNavLink Href="/Receipt" IconColor="Color.Primary">Receipts</MudNavLink>
                <MudNavLink Href="/ContraView" IconColor="Color.Primary">Contra</MudNavLink>
                <MudNavLink Href="/SundryPaymentView" IconColor="Color.Primary">Sundry Payment</MudNavLink>
                <MudNavLink Href="/SundryReceiptView" IconColor="Color.Primary">Sundry Receipt</MudNavLink>
                <MudNavLink Href="/JournalView" IconColor="Color.Primary">Journal</MudNavLink>
                <MudNavLink Href="/FastTagToll" IconColor="Color.Primary">FastTag Toll</MudNavLink>
                <MudNavLink Href="/OptranView" IconColor="Color.Primary">Trip Expenses</MudNavLink>
                <MudNavLink Href="/DocumentVoucherView" IconColor="Color.Primary">Asset Document Voucher</MudNavLink>
                <MudNavLink Href="/MileageShortageReceiptView" IconColor="Color.Primary">Mileage Shortage Receipts</MudNavLink>               
                <MudNavLink Href="/AutoSettle" IconColor="Color.Primary">Auto Settlement</MudNavLink>           
                <MudNavLink Href="/BankReconciliationView" IconColor="Color.Primary">Bank Reconciliation</MudNavLink>
                @*<MudNavLink Href="/UnReconciledBankEntryView" IconColor="Color.Primary">Bank Entry View</MudNavLink>*@
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="InterBranch Transactions" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/InterBranchPaymentMemoView" IconColor="Color.Primary">InterBranch Payment Memo</MudNavLink>
                <MudNavLink Href="/InterBranchReceiptView" IconColor="Color.Primary">InterBranch Receipt</MudNavLink>
                <MudNavLink Href="/InterBranchContraView" IconColor="Color.Primary">InterBranch Contra</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/ChartOfAccount" IconColor="Color.Primary">Chart Of Accounts</MudNavLink>
                <MudNavLink Href="/party" IconColor="Color.Tertiary">Trading Partners</MudNavLink>
                <MudNavLink Href="/BankAccountOwnView" IconColor="Color.Primary">Banks</MudNavLink>
                <MudNavLink Href="/CashAccount" IconColor="Color.Primary">Cash A/c</MudNavLink>
                <MudNavLink Href="/gst" IconColor="Color.Primary">GST</MudNavLink>                
                <MudNavLink Href="/TDSSetting" IconColor="Color.Primary">TDS Setting</MudNavLink>               
                <MudNavLink Href="/CostCenter" IconColor="Color.Primary">Cost Center</MudNavLink>
                <MudNavLink Href="/Diamension" IconColor="Color.Primary">Dimension</MudNavLink>
                <MudNavLink Href="/CancellationReasonCodeView" IconColor="Color.Primary">Cancellation Reason Code</MudNavLink>
                <MudNavLink Href="/InterBranchMapping" IconColor="Color.Primary">InterBranch Mapping</MudNavLink>
                <MudNavGroup Title="Account Rules Definition" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                    <MudNavLink Href="/GstUsageID" IconColor="Color.Primary">Usage Codes</MudNavLink>
                    <MudNavLink Href="/GstItems" IconColor="Color.Primary">Inventory Items Tax Mapping</MudNavLink>
                    <MudNavLink Href="/BankPostingGroup" IconColor="Color.Primary">Bank</MudNavLink>
                    <MudNavLink Href="/RenterPostingGroup" IconColor="Color.Primary">Rent</MudNavLink>
                    <MudNavLink Href="/VendorPostingGroup" IconColor="Color.Primary">Vendors</MudNavLink>
                    <MudNavLink Href="/CustomerPostingGroup" IconColor="Color.Primary">Customers</MudNavLink>
                    <MudNavLink Href="/AssetPostingGroup" IconColor="Color.Primary">Asset</MudNavLink>
                    <MudNavLink Href="/OperationPostingGroup" IconColor="Color.Primary">Trip Expenses</MudNavLink>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                </MudNavGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            
            <MudNavLink Href="/PaymentsListView" IconColor="Color.Primary">Past Payments</MudNavLink>
            @* <MudNavLink Href="/AutoSettlement" IconColor="Color.Primary">AutoSettle</MudNavLink>*@
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/FinanceTransactionReport" IconColor="Color.Primary">Finance Transaction Report</MudNavLink>
                <MudNavLink Href="/FinanceAccountLedgerTransactionReport" IconColor="Color.Primary">Ledger Transaction Report</MudNavLink>
                <MudNavLink Href="/FinanceTrialBalanceReport" IconColor="Color.Primary">Finance Trial Balance Report</MudNavLink>
                <MudNavLink Href="/PartyLedgerReport" IconColor="Color.Primary">Party Ledger Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>

        <MudNavGroup Title="Assets" Icon="@Icons.Material.Filled.Devices" IconColor="Color.Info" Expanded="false">
            @* <MudNavLink Href="/AssetClass" IconColor="Color.Tertiary">Asset Classe</MudNavLink>*@
            <MudNavLink Href="/AssetSimpleView" IconColor="Color.Tertiary">Assets</MudNavLink>                  
            <MudNavLink Href="/ScrapAssetView" IconColor="Color.Tertiary">Scrap Asset</MudNavLink>            
            <MudNavLink Href="/AssetTransferView" IconColor="Color.Primary">Asset Transfer View</MudNavLink>
            <MudNavLink Href="/Document" Icon="@Icons.Material.Filled.Pages" IconColor="Color.Info">Documents</MudNavLink>
            <MudNavLink Href="/DocumentRenewalRequest" IconColor="Color.Tertiary">Document Renewal Request</MudNavLink>    
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/AssetSubClass" IconColor="Color.Tertiary">Asset Classification</MudNavLink>
                <MudNavLink Href="/DocumentType" IconColor="Color.Primary">Document Types</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>

        <MudNavGroup Title="Inventory" Icon="@Icons.Material.Filled.Inventory" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/PurchaseOrder" IconColor="Color.Success">Purchase Order</MudNavLink>
            <MudNavLink Href="/InventoryGrn" IconColor="Color.Success">Inventory GRN</MudNavLink>
            <MudNavLink Href="/UsedInventoryGrn" IconColor="Color.Success">Used Inventory GRN</MudNavLink>
            <MudNavLink Href="/InventoryReleaseView" IconColor="Color.Primary">Inventory Release</MudNavLink>
            <MudNavLink Href="/OpInventoryReleaseView" IconColor="Color.Primary">Bulk Inventory Release</MudNavLink>            
            <MudNavLink Href="/TyreResoleView" IconColor="Color.Success">Tyre Resole</MudNavLink>
            <MudNavLink Href="/ResoleDeliveryView" IconColor="Color.Success">Resole Delivery</MudNavLink>
            <MudNavLink Href="/StockTransferItem" IconColor="Color.Success">Stock Transfer</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/Store" Icon="@Icons.Material.Outlined.Store" IconColor="Color.Info">Stores</MudNavLink>
                <MudNavLink Href="/InventoryGroupItem" IconColor="Color.Success">Inventory Items</MudNavLink>
                <MudNavLink Href="/TyreMasterView" IconColor="Color.Success">Tyre</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                </MudNavGroup>
            <MudNavGroup Title="Reports" Icon="@Icons.Material.Filled.PendingActions" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/InventoryStoreItems" IconColor="Color.Primary">Inventory Store Item Report</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        </MudNavGroup>

        <MudNavGroup Title="Maintainance" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
            <MudNavLink Href="/Breakdowns" IconColor="Color.Success">Breakdown</MudNavLink>
            <MudNavGroup Title="Jobcard" Icon="@Icons.Material.Filled.Build" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobcards" IconColor="Color.Success">Active JobCards</MudNavLink>
                <MudNavLink Href="/jobcard" IconColor="Color.Success">Select JobCard</MudNavLink>
                <MudNavLink Href="/completedjobcard" IconColor="Color.Success">Completed JobCard</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
            <MudNavLink Href="/reminders" IconColor="Color.Success">Periodic Maintenance</MudNavLink>
            <MudNavLink Href="/ManageClaims" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info">Active Insurance Claims</MudNavLink>           
            
            <MudNavLink Href="/RoutineCheckListView" IconColor="Color.Success">Update Checklist</MudNavLink>
            <MudNavGroup Title="Masters" Icon="@Icons.Material.Filled.Group" IconColor="Color.Info" Expanded="false">
                <MudNavLink Href="/jobs" IconColor="Color.Success">Job Master</MudNavLink>
                <MudNavLink Href="/mechanics" IconColor="Color.Success">Mechanics</MudNavLink>
                <MudNavLink Href="/workshop" IconColor="Color.Success">Workshops</MudNavLink>
                <MudNavLink Href="/InsClaimMaster" IconColor="Color.Success">Insurance Events Master</MudNavLink>
                <MudNavLink Href="/RoutineCheckListMasterView" IconColor="Color.Primary">CheckList Master</MudNavLink>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            </MudNavGroup>
             <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        </MudNavGroup>
    </div>
</MudNavMenu>



@code {

}
