@using ArmsModels.BaseModels.General
@using ArmsServices.DataServices.General
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.Extensions.Configuration;
@using TableDependency.SqlClient;
@using TableDependency.SqlClient.Base.EventArgs;
@using Views.Data
@using System.Threading;

@inject MudBlazor.ISnackbar snackbar
@inject SignalRService signalRService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole
@inject IPushNotificationService IpushNotificationService
@inject IConfiguration configuration



<MudOverlay  @bind-Visible="@IsOpen" OnClick="@OverlayVisibleChanged" DarkBackground="true" AutoClose></MudOverlay>

 <div>
     <MudBadge Visible="@(currentNotificationMessages.Where(s=>!string.IsNullOrEmpty(s.MessageGroupID)).Count()>0)"
               Content="@currentNotificationMessages.Where(s=>!string.IsNullOrEmpty(s.MessageGroupID)).Count()"
               Origin="Origin.TopRight" Color="Color.Error" Overlap="true" Class="mx-6 my-4">
         <MudChip Icon="@Icons.Material.Filled.Home" Color="Color.Primary" OnClick="@Toggle">
             <MudText Class="pointer" @onclick="@NotificationHideShow" Typo="Typo.subtitle2">@BranchName</MudText>
         </MudChip>
     </MudBadge>
     <MudPopover Open="@IsOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" OverflowBehavior="OverflowBehavior.FlipOnOpen">

         @foreach (var nmObj in @currentNotificationMessages.Take(Take))
        {
            <MudAlert Severity="Severity.Normal" Class="my-2" ShowCloseIcon="true" CloseIconClicked="(() => AknowledgedCurrentItem(nmObj.MessageID))">
                <MudText Typo="Typo.caption" Color="Color.Primary"> - @nmObj.MessageTimeSpan</MudText>
                <MudText Typo="Typo.h6" Style="color:#d18213"> @nmObj.MessageTitle </MudText>
                @nmObj.MessageBody
                @if (!string.IsNullOrEmpty(nmObj.PageToRedirectLink))
                {
                    <MudButton DisableElevation OnClick="@(()=>RedirectToLink(nmObj.PageToRedirectLink,nmObj.DocumentID))"><a href="#" style="font-size:10px;">Click Here</a></MudButton>                  
                }
            </MudAlert>
        }
        @if (@Take > 1 && @currentNotificationMessages.Count() > 1)
        {
        <div style="text-align:center">
            <MudButton OnClick="@AknowledgeAllInTheList"><a style="font-size:13px">Aknowledge All</a></MudButton>
        </div>
        }
    </MudPopover>

</div>

@code {
    [Parameter]
    public string BranchName { get; set; }

    #region SignaIR Notification    
    private List<PushNotificationModel> currentNotificationMessages = new List<PushNotificationModel>();
    private HubConnection hubConnection;
    private string BoxCss = "none";
    List<PushNotificationGroupModel> GroupList = new();
    int Take = 5;

    string UserID;
    int BranchID = 0;
    bool IsOpen;

    void Toggle()
    {

        IsOpen = !IsOpen;
        Take = 5;
        if(!currentNotificationMessages.Any())
        {
            IsOpen = false;
        }
    }

    void OverlayVisibleChanged()
    {
        if (IsOpen)
            IsOpen = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value;
        int.TryParse(brancIDString, out BranchID);
        UserID = user.Identity.Name;

        getNotifications();   

        if (hubConnection == null || hubConnection.State == HubConnectionState.Disconnected)
        {
            hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub")).Build();
            hubConnection.On<string>("ReceiveMessage", async Triggered =>
            {
                getNotifications();                
                Take = 1;  
                IsOpen = currentNotificationMessages.Any();
                await InvokeAsync(() => StateHasChanged());
            });
            await hubConnection.StartAsync();
        }
    }


    private void getNotifications()
    {
        if (BranchID != 0)
        {
            CancellationTokenSource ctc = new CancellationTokenSource();
            currentNotificationMessages = IpushNotificationService.SelectActiveNotifications(BranchID, UserID).ToList();   
        }
    }

    private void NotificationHideShow()
    {
        if (BoxCss == "none") BoxCss = "block"; else BoxCss = "none";
    }

    private async Task AknowledgeAllInTheList()
    {
        bool iSAnyCanNotAknowledge = false;
        CancellationTokenSource ctc = new CancellationTokenSource();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var UserID = user.Identity.Name;
        try
        {
            string MessageIDs = string.Join(",", currentNotificationMessages.Select(d => d.MessageID).ToList());
            int c = IpushNotificationService.AknowledgedSelectedItems(MessageIDs, UserID);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }

        if (iSAnyCanNotAknowledge)
        {
            bool? result = await DialogService.ShowMessageBox(
       "Permission denied!",
       "You dont have any permission to aknowledge some items.");
        }
        

    }

    private async Task AknowledgedCurrentItem(int? MessageID)
    {
        if (MessageID != null)
        {
            CancellationTokenSource ctc = new CancellationTokenSource();
            var CurrentMessage = currentNotificationMessages.FirstOrDefault(s => s.MessageID == MessageID);
            if (CurrentMessage != null && await Irole.HasClaim(CurrentMessage.DocumentTypeID.ToString(), "View", ctc.Token))
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                var UserID = user.Identity.Name;
                int c = IpushNotificationService.AknowledgedCurrentItem(MessageID, UserID);
            }
            else
            {

                bool? result = await DialogService.ShowMessageBox(
           "Permission denied!",
           "You dont have any permission to aknowledge.");
            }
        }
    }

    private void RedirectToLink(string RedirectToLink, int? DocumentID)
    {
        if (!string.IsNullOrEmpty(RedirectToLink))
        {
            if (DocumentID != null && DocumentID != 0)
            {
                RedirectToLink = RedirectToLink + "/" + DocumentID?.ToString() ?? "";
            }
            NavigationManager.NavigateTo(RedirectToLink);
        }
    }
    #endregion
}
