@using ArmsModels.BaseModels.General
@using ArmsServices.DataServices.General
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.Extensions.Configuration;
@using TableDependency.SqlClient;
@using TableDependency.SqlClient.Base.EventArgs;
@using Views.Data
@using System.Threading;

@inject MudBlazor.ISnackbar snackbar
@inject SignalRService signalRService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole
@inject IPushNotificationService IpushNotificationService
@inject IConfiguration configuration
<style>
    .pointer {
        cursor: pointer;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .d2 {
        margin-top: 0.25rem;
        text-align: center;
        background-color: #336712;
    }
</style>

<div id="noti_Container" style="@(BoxCss == "block" ? "float:right;":"")" class="wrapper">
    <div style="@(BoxCss == "block" ? "margin-top:365px;margin-left:188px;":"")">
        <MudBadge Visible="@(currentNotificationMessages.Where(s=>!string.IsNullOrEmpty(s.MessageGroupID)).Count()>0)" OnClick="@NotificationHideShow" Content="@currentNotificationMessages.Where(s=>!string.IsNullOrEmpty(s.MessageGroupID)).Count()" Color="Color.Error" Overlap="true" Class="mx-6 my-4 pointer">
            <MudChip Icon="@Icons.Material.Filled.Home" Color="Color.Primary">
                <MudText Class="pointer" @onclick="@NotificationHideShow" Typo="Typo.subtitle2">@BranchName</MudText>
            </MudChip>
        </MudBadge>
    </div>
    <div class="ikrNotifications" style="display:@BoxCss !important; font-size:11px;">
        <div style="color:#111;font-size:14px;font-weight:500; border:1px solid #ccc;">
            <div style="margin:3px;">
                Notification (@currentNotificationMessages.Where(s=>!string.IsNullOrEmpty(s.MessageGroupID)).Count())
            </div>
        </div>
        <div class="ikrNotificationItems">
            <MudExpansionPanels>
                @foreach (var group in GroupList)
                {
                    if (currentNotificationMessages.Any(s => s.MessageGroupID == group.MessageGroupID))
                    {

                        <MudExpansionPanel>
                            <TitleContent>
                                <MudText Style="font-size:13px" class="ikrNotificationTitle"> <MudIcon Icon="@group.MessageGroupIcon" Title="@group.MessageGroupName" Color="Color.Primary" /> @group.MessageGroupName (@currentNotificationMessages.Where(s=>s.MessageGroupID == group.MessageGroupID).Count())</MudText>
                            </TitleContent>
                            <ChildContent>
                                <MudExpansionPanels>
                                    @foreach (var nmObj in @currentNotificationMessages.Where(s => s.MessageGroupID == group.MessageGroupID))
                                    {
                                        <MudExpansionPanel>
                                            <TitleContent>
                                                <MudGrid>
                                                    <MudItem md="10" lg="10">
                                                        <MudText Style="font-size:13px" class="ikrNotificationTitle">@nmObj.MessageTitle<MudText Typo="Typo.subtitle1" Color="Color.Primary">- @nmObj.MessageTimeSpan</MudText></MudText>
                                                    </MudItem>
                                                    <MudItem md="2" lg="2">
                                                        <MudIconButton Class="ml-6 mb-0" Style="color:#ccc" Icon="@Icons.Material.Filled.Close" Title="Aknowledged" @onclick="@(()=>AknowledgedCurrentItem(nmObj.MessageID))" Size="Size.Small"></MudIconButton>
                                                    </MudItem>
                                                </MudGrid>
                                            </TitleContent>
                                            <ChildContent>
                                                <div class="ikrNotificationBody" style="font-size:13px;">@nmObj.MessageBody</div>
                                                <div style="text-align:center">
                                                    <br />
                                                    <MudButton Style="background-color:#EEE" OnClick="@(()=>RedirectToLink(nmObj.PageToRedirectLink,nmObj.DocumentID))"><a href="#" style="font-size:13px;">Go to</a></MudButton>
                                                </div>
                                            </ChildContent>
                                        </MudExpansionPanel>
                                    }
                                </MudExpansionPanels>
                            </ChildContent>
                        </MudExpansionPanel>
                    }

                }
            </MudExpansionPanels>
        </div>
        <div style="text-align:center">
            <MudButton OnClick="@AknowledgeAllInTheList"><a href="#" style="font-size:13px">Aknowledge All</a></MudButton>
        </div>
        @*<div class="ikrSeeAll"><button id="AknowledgeId" value="Aknowledge" name="Aknowledge" onclick="@AknowledgeAllInTheList();"> <a href="#">Aknowledge</a></button>
        </div>*@
    </div>
</div>

@code {

    [Parameter]
    public string BranchName { get; set; }

    #region SignaIR Notification

    //private List<PushNotificationModel> allNotificationMessages = new List<PushNotificationModel>();
    private List<PushNotificationModel> currentNotificationMessages = new List<PushNotificationModel>();
    private HubConnection hubConnection;
    private string BoxCss = "none";
    List<PushNotificationGroupModel> GroupList = new();

    string UserID;  
    int BranchID = 0;

    protected override async Task OnInitializedAsync()
    {  
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value;        
        int.TryParse(brancIDString, out BranchID);
        UserID = user.Identity.Name;

        await getNotifications();
        GroupList = IpushNotificationService.GetAllGroupList().ToList();


        if (hubConnection == null || hubConnection.State == HubConnectionState.Disconnected)
        {
            hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub")).Build();
            hubConnection.On<string>("ReceiveMessage", async Triggered =>
            {
                await getNotifications();

                // if (notifications != null && (notifications.MessageGroupID == "PendingVerification" || notifications.MessageGroupID == "EWayBill" || notifications.MessageGroupID == "PeriodicMaintainence" || notifications.MessageGroupID == "TruckRequestApproval") && notifications.DocumentID != null && notifications.DocumentTypeID != null && allNotificationMessages.Any(g => g.DocumentID == notifications.DocumentID && g.DocumentTypeID == notifications.DocumentTypeID))
                // {
                //     foreach (var MessageID in allNotificationMessages.Where(g => g.DocumentID == notifications.DocumentID && g.DocumentTypeID == notifications.DocumentTypeID).Select(g => g.MessageID).ToList())
                //     {
                //         if (allNotificationMessages != null && allNotificationMessages.Any(x => x.MessageID == MessageID))
                //         {
                //             allNotificationMessages.RemoveAll(x => x.MessageID == MessageID);
                //         }

                //         if (currentNotificationMessages != null && currentNotificationMessages.Any(x => x.MessageID == MessageID))
                //         {
                //             currentNotificationMessages.RemoveAll(t => t.MessageID == MessageID);
                //         }
                //     }
                //     await InvokeAsync(() => StateHasChanged());
                // }
                // if (notifications != null && notifications.Aknowledged == false && notifications.MessageID != null && notifications.MessageID != 0)
                // {
                //     var ResultClaim = await Irole.HasClaim(notifications.DocumentTypeID.ToString(), "View", ctc.Token);
                //     if (ResultClaim)
                //     {
                //         allNotificationMessages.Add(notifications);
                //         currentNotificationMessages = allNotificationMessages.Where(d => (d.ReceivedBranch?.BranchID ?? 0) == CurrentBranchId).ToList();
                //         await InvokeAsync(() => StateHasChanged());
                //     }
                //     else if (string.IsNullOrEmpty(notifications.ClaimValue))
                //     {
                //         allNotificationMessages.Add(notifications);
                //         currentNotificationMessages = allNotificationMessages.Where(d => (d.ReceivedBranch?.BranchID ?? 0) == CurrentBranchId).ToList();
                //         await InvokeAsync(() => StateHasChanged());
                //     }
                // }
            });

            await hubConnection.StartAsync();
        }
    }


    private async Task getNotifications()
    {
        if (BranchID != 0)
        {
            CancellationTokenSource ctc = new CancellationTokenSource();
            currentNotificationMessages = IpushNotificationService.SelectActiveNotifications(BranchID,UserID).ToList();

            // foreach (var item in currentNotificationMessages)
            // {                
            //     var hasClaim = await Irole.HasClaim(item.DocumentTypeID.ToString(), Claim , ctc.Token);
            //     if (!hasClaim)
            //     {
            //        currentNotificationMessages.Remove(item);
            //    }
            // }
            await InvokeAsync(() => StateHasChanged());
        }
    }



    private void NotificationHideShow()
    {
        if (BoxCss == "none") BoxCss = "block";  else BoxCss = "none";
    }

    private async Task AknowledgeAllInTheList()
    {
        bool iSAnyCanNotAknowledge = false;
        CancellationTokenSource ctc = new CancellationTokenSource();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var UserID = user.Identity.Name;
        try
        {
            string MessageIDs = string.Join(",", currentNotificationMessages.Select(d => d.MessageID).ToList());
            int c = IpushNotificationService.AknowledgedSelectedItems(MessageIDs, UserID);
            // if (c != -1)
            // {
            //     foreach (var item in currentNotificationMessages.ToList())
            //     {
            //         if (await Irole.HasClaim(item.DocumentTypeID.ToString(), "View", ctc.Token))
            //         {
            //             currentNotificationMessages.Remove(currentNotificationMessages.FirstOrDefault(v => v.MessageID == item.MessageID));                        
            //         }
            //         else
            //         {
            //             iSAnyCanNotAknowledge = true;
            //         }
            //     }
            // }

        }
        catch(Exception ex)
        {
            snackbar.Add(ex.Message,Severity.Error);    
        }

        if (iSAnyCanNotAknowledge)
        {
            bool? result = await DialogService.ShowMessageBox(
       "Permission denied!",
       "You dont have any permission to aknowledge some items.");
        }

    }

    private async Task AknowledgedCurrentItem(int? MessageID)
    {
        if (MessageID != null)
        {
            CancellationTokenSource ctc = new CancellationTokenSource();
            var CurrentMessage = currentNotificationMessages.FirstOrDefault(s => s.MessageID == MessageID);
            if (CurrentMessage != null && await Irole.HasClaim(CurrentMessage.DocumentTypeID.ToString(), "View", ctc.Token))
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                var UserID = user.Identity.Name;
                int c = IpushNotificationService.AknowledgedCurrentItem(MessageID, UserID);
                // if (c != -1)
                // {

                //     if (currentNotificationMessages != null)
                //     {
                //         currentNotificationMessages.RemoveAll(x => x.MessageID == MessageID);
                //     }
                // }
            }
            else
            {

                bool? result = await DialogService.ShowMessageBox(
           "Permission denied!",
           "You dont have any permission to aknowledge.");
            }
        }
    }

    private void RedirectToLink(string RedirectToLink, int? DocumentID)
    {
        if (!string.IsNullOrEmpty(RedirectToLink))
        {
            if (DocumentID != null && DocumentID != 0)
            {
                RedirectToLink = RedirectToLink + "/" + DocumentID?.ToString() ?? "";
            }
            NavigationManager.NavigateTo(RedirectToLink);
        }
    }
    #endregion
}
