@using System.Security.Claims
@using Views.Pages.UserAccount
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject IWebHostEnvironment env
@inject ICatalogNameProvider DataBaseCatlogName
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject Blazored.SessionStorage.ISessionStorageService _storage
@inject IUserService _user


<style>   
    .topBanner2 {
        background: linear-gradient(270deg, #000000, #ff6a00,Teal,Brown);
        background-size: 500% 500%;
        animation: gradientMove 30s ease infinite;
    }

    @@keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
</style>

<MudAppBar Elevation="0" Dense="true" Class="app-header-low-z topBanner2">
    @if (ShowDrawerIcon)
    {
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawerAsync" />
    }
    <div class="py-2 px-2 logo d-flex align-center" style="cursor: pointer;" @onclick="@(() => uriHelper.NavigateTo("/"))">
        <img src="images/arms_logo_3_transparent.png" style="height: 40px; width: auto; object-fit: contain;" />
    </div>
    <MudSpacer />
    @if (env.IsDevelopment())
    {
         <MudText Typo="Typo.subtitle2" Color="Color.Inherit" Class="d-none d-md-flex">
            <b>TESTING MODE: @DataBaseCatlogName.GetCatalogName()</b>
        </MudText>
    }
    <MudSpacer />
    <AuthorizeView>
        <Authorized>
            @* <div class="d-flex align-center gap-2 mr-4">
                <MudChip T="string" Icon="@Icons.Material.Filled.Store" 
                         Variant="Variant.Text" 
                         Style="background: rgba(255, 255, 255, 0.1); color: white; border-radius: 8px; font-weight: 600;">
                    @context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value
                </MudChip>
            </div> *@
            <PushNotificationComponent BranchName="@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value" />
            <LoginDisplay />
        </Authorized>
        <NotAuthorized>
            <LoginDisplay />
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

@code {
    [Parameter]
    public bool ShowDrawerIcon { get; set; } = true;

    [Parameter]
    public EventCallback OnDrawerToggle { get; set; }



    private async Task ToggleDrawerAsync()
    {
        if (OnDrawerToggle.HasDelegate)
        {
            await OnDrawerToggle.InvokeAsync();
        }
    }
}
