@using System.Security.Claims
@using Views.Pages.UserAccount
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject IWebHostEnvironment env
@inject ICatalogNameProvider DataBaseCatlogName
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject Blazored.SessionStorage.ISessionStorageService _storage
@inject IUserService _user

<MudAppBar Elevation="0" Dense="true" Class="app-header-low-z" Style="background-color: var(--mud-palette-appbar-background); color: var(--mud-palette-appbar-text); box-shadow: 0 4px 24px 0 rgba(0,0,0,0.1);">
    @if (ShowDrawerIcon)
    {
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawerAsync" />
    }
    <div class="py-2 px-2 logo d-flex align-center" style="cursor: pointer;" @onclick="@(() => uriHelper.NavigateTo("/"))">
        <img src="images/logoarms.png" style="height: 40px; width: auto; object-fit: contain;" />
    </div>
    <MudSpacer />
    @if (env.IsDevelopment())
    {
         <MudText Typo="Typo.subtitle2" Color="Color.Inherit" Class="d-none d-md-flex">
            <b>TESTING MODE: @DataBaseCatlogName.GetCatalogName()</b>
        </MudText>
    }
    <MudSpacer />
    <AuthorizeView>
        <Authorized>
            <PushNotificationComponent BranchName="@context.User.Claims.FirstOrDefault(x => x.Type == "BranchName")?.Value" />
            <LoginDisplay />
        </Authorized>
        <NotAuthorized>
            <LoginDisplay />
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

@code {
    [Parameter]
    public bool ShowDrawerIcon { get; set; } = true;

    [Parameter]
    public EventCallback OnDrawerToggle { get; set; }



    private async Task ToggleDrawerAsync()
    {
        if (OnDrawerToggle.HasDelegate)
        {
            await OnDrawerToggle.InvokeAsync();
        }
    }
}
