@using ArmsModels.BaseModels.General
@using System.ComponentModel.DataAnnotations
@inject AuthenticationStateProvider auth
@inject ITyreService IServices

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />Mount Truck Details.
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll; margin-left:20px">
            <EditForm id="formDriver" Model="@model">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudItem xs="11" md="11" Class="mb-6">
                    <MudItem Style="text-align:center;"> <h2> @((SelectedTruck == null || SelectedTruck != null && String.IsNullOrWhiteSpace(SelectedTruck.RegNo)) ? "Registration number expired." : (TruckMountedTyreList != null && TruckMountedTyreList.Count() != 0 ? SelectedTruck.RegNo : "No tyre is mounted for the truck " + SelectedTruck.RegNo + ".")) </h2></MudItem>
                </MudItem>
                <MudItem xs="11" md="11" Class="mb-6">
                    <MudGrid>
                        <MudItem xs="3" md="3"><strong> Tyre No</strong></MudItem>
                        <MudItem xs="3" md="3"><strong>Position Name</strong></MudItem>
                        <MudItem xs="3" md="3"><strong>Mounted On</strong></MudItem>
                        <MudItem xs="3" md="3"><strong>Mounted KM</strong></MudItem>
                    </MudGrid>
                </MudItem>
                <MudItem xs="11" md="11" Class="mb-6">
                    <MudGrid>
                        @foreach (TyreMountedModel TyreMount in TruckMountedTyreList)
                        {
                            <MudItem xs="3" md="3">@TyreMount.TyreNo</MudItem>
                            <MudItem xs="3" md="3">@TyreMount.PositionName</MudItem>
                            <MudItem xs="3" md="3">@TyreMount.MountedOn</MudItem>
                            <MudItem xs="3" md="3">@TyreMount.MountedKM</MudItem>
                        }
                    </MudGrid>
                </MudItem>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public TyreMountedModel model { get; set; } = new();
    [Parameter]
    public TruckModel SelectedTruck { get; set; } = new();
    [Required]
    public TyrePositionModel SelectedTyrePosition { get; set; } = new();
    [Required]
    public bool IsTruckDisabled { get; set; } = false;
    public bool IsTyreDisabled { get; set; } = false;
    List<TyreMountedModel> TruckMountedTyreList = new();

    protected override void OnInitialized()
    {
        if (SelectedTruck != null && SelectedTruck.TruckID != null && SelectedTruck.TruckID != 0)
        {
            TruckMountedTyreList = IServices.SelectMountedTyresByID(SelectedTruck?.TruckID ?? 0).ToList();
            IsTruckDisabled = true;
        }
        else
        {
            IsTruckDisabled = false;
        }
        if (SelectedTruck != null && SelectedTruck.TruckTypeID != 0)
        {
            model.TruckID = SelectedTruck.TruckID;
        }
    }

    private void OnValueChanged(TruckModel obj)
    {
        SelectedTruck = obj;
        if (SelectedTruck != null && SelectedTruck.TruckTypeID != 0)
        {
            if (SelectedTruck.TruckID != null)
            {
                model.TruckID = SelectedTruck.TruckID;
            }
        }
    }

    protected override void OnParametersSet()
    {

    }

    void Cancel()
    {
        MudDialog.Cancel();
    }
}