@using ArmsModels.BaseModels.General
@inject AuthenticationStateProvider auth
@inject ITyreService Iservice
@inject IInventoryItemService IInventoryservice
@inject IStoreService IStoreservice
@inject IGstUsageIDService IusageService
@inject MudBlazor.ISnackbar snackbar
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />  Resole Delivery
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll; margin-left:20px">
            <EditForm id="ResoleDeliveryID" Model="@model" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @if (ValidationMessage != null)
                {
                    <div class="validation-message">@ValidationMessage</div>
                }
                <MudGrid>
                    <MudItem xs="6" md="6" Class="mb-6">
                        <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" Label="Party" @bind-Value="@model.Party.TradeName" Disabled></MudTextField>
                    </MudItem>
                    <MudItem xs="6" md="6" Class="mb-6">
                        <MudDatePicker Variant="Variant.Outlined" Margin="Margin.Dense" Label="Delivery Date" @bind-Date="@model.DeliveryDate" />
                    </MudItem>
                    <MudItem xs="6" md="6">
                        <UsageCodeSelector Value="CurrentUsageCode" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                    </MudItem>
                    <MudItem xs="6" md="6">
                        <MudCheckBox Checked="@model.TaxIncluded" CheckedChanged="((bool val) => IsTaxIncludedChanged(val))" Label="Tax Included In Amount"></MudCheckBox>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudGrid>
                            @foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList)
                            {
                                if (item.Tyre != null)
                                {

                                    <MudItem xs="3">
                                        <MudTextField @bind-Value="@item.Tyre.TyreSerialNumber" Label="Tyre" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.Tyre.TyreSerialNumber)" Disabled></MudTextField>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudSelect T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Status" @bind-Value="@item.Status" SelectedValuesChanged="@(() => OnChangeStatus(item.Status,item.TyreID))">
                                            <MudSelectItem T="int?" Value="1">Resoled</MudSelectItem>
                                            <MudSelectItem T="int?" Value="0">Not Resoled</MudSelectItem>
                                            <MudSelectItem T="int?" Value="99">Scrap</MudSelectItem>
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="2">
                                        @if (item.Status == 1)
                                        {
                                            <MudTextField @bind-Value="@item.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" TextChanged="(()=> OnChangeAmount(item.Status,item.TyreID))" For="@(() => item.Amount)"></MudTextField>
                                        }
                                        else
                                        {
                                            <MudTextField @bind-Value="@item.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.Amount)" Disabled></MudTextField>
                                        }
                                    </MudItem>
                                    <MudItem xs="2">
                                        @if (item.Status == 1)
                                        {
                                            <MudTextField @bind-Value="@item.Tax" Label="Tax" Variant="Variant.Outlined" Margin="Margin.Dense" TextChanged="(()=>OnChangeTax(item.Status,item.TyreID))" For="@(() => item.Tax)"></MudTextField>
                                        }
                                        else
                                        {
                                            <MudTextField @bind-Value="@item.Tax" Label="Tax" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.Tax)" Disabled></MudTextField>
                                        }
                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudTextField @bind-Value="@item.TotalAmount" Label="Total Amount" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled></MudTextField>
                                    </MudItem>
                                }
                            }
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="ResoleDeliveryID" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="px-12">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public ResoleDeliveryModel model { get; set; } = new();
    [Parameter]
    public GstUsageCodeModel CurrentUsageCode { get; set; } = new();
    public TyreModel SelectedTyre { get; set; }
    List<TyreModel> TyreList = new();
    public string ValidationMessage = null;
    private bool _busy;

    public bool HasPermissionTyreServiceEdit { get; set; } = false;
    public int DocTypeID = 63;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTyreServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        var BranchID = int.Parse(brancIDString);
        List<TyreModel> TyreListCollection = Iservice.SelectByBranch(BranchID).ToList();
        if (model.ResoleDeliveryTyreList == null)
        {
            model.ResoleDeliveryTyreList = new();
        }
        if (model.ID == null || model.ID == 0)
        {
            model.PID = 0;
        }
        List<ResoleDeliveryTyreModel> ResoleDeliveryTyreList = Iservice.SelectResoleDeliveryTyresList(model.ResoleID, model.ID).ToList();
        if (ResoleDeliveryTyreList != null && ResoleDeliveryTyreList.Count() != 0)
        {
            model.ResoleDeliveryTyreList = ResoleDeliveryTyreList;
        }
        List<GstUsageCodeModel> usageList = IusageService.SelectByArea(null, System.DateTime.Now).ToList();
        if (usageList != null && usageList.Count() != 0)
        {
            if (usageList.Any(d => d.UsageCode == model.UsageCode))
            {
                CurrentUsageCode = usageList.First(d => d.UsageCode == model.UsageCode);
            }
        }
        model.UsageCode = CurrentUsageCode?.UsageCode ?? null;
        var TyresList = Iservice.SelectByBranch(null);
        if (TyresList != null && TyresList.Count() != 0)
        {
            foreach (var item in model.ResoleDeliveryTyreList)
            {
                if (TyresList.Any(s => s.TyreID == item.TyreID))
                {
                    item.Tyre = TyresList.First(s => s.TyreID == item.TyreID);
                }
                else
                {
                    item.Tyre = new();
                }
            }
        }
    }

    public void OnChangeStatus(int? status, int? tyreId)
    {
        if (status != 1)
        {
            foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList.Where(s => s.TyreID == tyreId))
            {
                item.Amount = 0;
                item.Tax = 0;
                item.TotalAmount = 0;
            }
        }
        ValidationMessage = null;
    }

    public void OnChangeAmount(int? status, int? tyreId)
    {
        if (status == 1)
        {
            foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList.Where(s => s.TyreID == tyreId))
            {
                if (model.TaxIncluded)
                {
                    item.Tax = (CurrentUsageCode.TaxRate != -100) ? (item.Amount - (item.Amount * (100 / (CurrentUsageCode.TaxRate + 100)))) : 0;
                    item.TotalAmount = item.Amount;
                }
                else
                {
                    item.Tax = (item.Amount * (CurrentUsageCode.TaxRate / 100));
                    item.TotalAmount = item.Amount + item.Tax;
                }
            }
        }
        ValidationMessage = null;
    }

    public void OnChangeTax(int? status, int? tyreId)
    {
        if (status == 1)
        {
            foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList.Where(s => s.TyreID == tyreId))
            {
                if (model.TaxIncluded)
                {
                    item.TotalAmount = item.Amount;
                }
                else
                {
                    item.TotalAmount = item.Amount + item.Tax;
                }
            }
        }
        ValidationMessage = null;
    }

    public void UsageCodeChanged(GstUsageCodeModel UsageCode)
    {
        CurrentUsageCode = UsageCode;
        model.UsageCode = CurrentUsageCode?.UsageCode ?? null;
        if (CurrentUsageCode != null)
        {
            foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList)
            {
                if (model.TaxIncluded)
                {
                    item.Tax = (CurrentUsageCode.TaxRate != -100) ? (item.Amount - (item.Amount * (100 / (CurrentUsageCode.TaxRate + 100)))) : 0;
                    item.TotalAmount = item.Amount;
                }
                else
                {
                    item.Tax = (item.Amount * (CurrentUsageCode.TaxRate / 100));
                    item.TotalAmount = item.Amount + item.Tax;
                }
            }
        }
        else
        {
            foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList)
            {
                item.Tax = 0;
                item.TotalAmount = item.Amount;
            }
        }
    }

    public void IsTaxIncludedChanged(bool IsChecked)
    {
        model.TaxIncluded = IsChecked;
        foreach (ResoleDeliveryTyreModel item in @model.ResoleDeliveryTyreList)
        {
            if (model.TaxIncluded)
            {
                item.Tax = (CurrentUsageCode.TaxRate != -100) ? (item.Amount - (item.Amount * (100 / (CurrentUsageCode.TaxRate + 100)))) : 0;
                item.TotalAmount = item.Amount;
            }
            else
            {
                item.Tax = (item.Amount * (CurrentUsageCode.TaxRate / 100));
                item.TotalAmount = item.Amount + item.Tax;
            }
        }
    }

    protected override void OnParametersSet()
    {

    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    public async Task Submit()
    {
        if (HasPermissionTyreServiceEdit)
        {
            if (_busy)
            {
                snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
                return;
            }
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            model.UsageCode = CurrentUsageCode.UsageCode;
            if (model.DeliveryDate < model.RequestedDate)
            {

                ValidationMessage = "Delivery date should be greater than requested date. \n";
                return;
            }
            if (model.ResoleDeliveryTyreList == null || model.ResoleDeliveryTyreList.Count() == 0)
            {
                ValidationMessage = "Need at lest one item to submit \n";
                return;
            }
            if (model.ResoleDeliveryTyreList.Any(s => s.Status == 1 && s.Amount == null))
            {
                if (model.ResoleDeliveryTyreList.Any(s => s.Status == 1 && s.Amount == null))
                {
                    ValidationMessage = "Amount should not be empty \n";
                }

                return;
            }
            _busy = true;
            ValidationMessage = null;
            if (model != null)
            {
                model.UserInfo.UserID = user.Identity.Name;
                model.BranchID = int.Parse(brancIDString);
                int ReturnValue = Iservice.ResoleDeliveryUpdate(model);
            }
            MudDialog.Close(DialogResult.Ok(true));
            await Task.Delay(200);
            _busy = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Tyre.");
        }

    }
}