@page "/ResoleDeliveryView"
@using ArmsModels.BaseModels.General
@using ArmsServices.DataServices.Operations
@inject ITyreService ITyreservice
@inject MudBlazor.ISnackbar snackbar
@inject IPartyService partyIservice
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<h3>Resole Delivery View</h3>
<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" RowsPerPage="10" Dense="true" Hover="true" Striped="true" Elevation="10">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ResoleDeliveryModel, object>(x=> x.Party.TradeName)" InitialDirection="SortDirection.Ascending">Party</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ResoleDeliveryModel, object>(x=> x.RequestedDate)" InitialDirection="SortDirection.Ascending">Requested Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ResoleDeliveryModel, object>(x=> x.Tyres.Count())" InitialDirection="SortDirection.Ascending">Tyres No</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ResoleDeliveryModel, object>(x=> x.ID)" InitialDirection="SortDirection.Ascending">Is Delivered</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Tyre">@context.Party.TradeName</MudTd>
                <MudTd DataLabel="Make">@context.RequestedDate</MudTd>
                <MudTd DataLabel="Make">@(context?.Tyres?.Count() ?? 0)</MudTd>
                    @if (context.ID == null || context.ID == 0)
                {
                    <MudTd DataLabel="Make">Not Delivered</MudTd>
                }
                else
                {
                    <MudTd DataLabel="Make">Delivered</MudTd>
                }
                <MudTd DataLabel="Actions">
                    <MudTooltip Text="Add Resole Delivery">
                        <MudFab @onclick="@(()=> OpenDialogEdit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>
                    @if (context.ID != null && context.ID != 0)
                    {
                        <MudTooltip Text="Undo Delivered">
                            <MudFab @onclick="@(()=> OpenDialogCancel(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Undo" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private List<ResoleDeliveryModel> collection = new();
    string UserID;
    List<PartyModel> partyList = new List<PartyModel>();
    private bool _busy;

    public bool HasPermissionTyreServiceCancel { get; set; } = false;
    public int DocTypeID = 63;

    private async Task OpenDialogEdit(ResoleDeliveryModel ResoleDelivery)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        ResoleDelivery.UserInfo = new();
        if (ResoleDelivery.UserInfo != null)
        {
            ResoleDelivery.UserInfo.UserID = user.Identity.Name;
        }
        var param = new DialogParameters { ["model"] = ResoleDelivery.Clone() };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };
        var dialog = DialogService.Show<ResoleDeliveryDialog>("ADD RESOLE DELIVERY", param, options);
        var result = await dialog.Result;

        // you can check if the modal was cancelled
        var isCancelled = result.Canceled;
        if (!isCancelled)
        {
            await GetAll();
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task OpenDialogCancel(ResoleDeliveryModel ResoleDelivery)
    {
        if (HasPermissionTyreServiceCancel)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning",
                "Are you sure you want to undo this entry?",
                yesText: "Delete!", cancelText: "Cancel");
            if (result != null)
            {
                try
                {
                    var authprov = await auth.GetAuthenticationStateAsync();
                    var user = authprov.User;
                    ResoleDelivery.UserInfo = new();
                    if (ResoleDelivery.UserInfo != null)
                    {
                        ResoleDelivery.UserInfo.UserID = user.Identity.Name;
                        ITyreservice.UndoResoleDelivery(ResoleDelivery.ID, ResoleDelivery.UserInfo.UserID);
                    }
                    await GetAll();
                    snackbar.Add("Cancelled Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Cancel Tyre.");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTyreServiceCancel = await Irole.HasClaim(DocTypeID.ToString(), "Cancel", ctc.Token);

        partyList = partyIservice.Select(0).ToList();
        await GetAll();
    }

    private async Task GetAll()
    {
        collection = new();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        UserID = user.Identity.Name;
        var BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        collection = ITyreservice.SelectResoleDeliveryListByBranch(BranchID).ToList();
        if (partyList != null && partyList.Count() != 0)
        {
            foreach (var item in collection)
            {
                if (item.Party != null && item.Party.PartyID != null && partyList.Any(s => s.PartyID == item.Party.PartyID))
                {
                    item.Party = partyList.First(s => s.PartyID == item.Party.PartyID);
                    var TyresList = ITyreservice.ResoleTyresByResoleId(item.ResoleID);
                    if (TyresList != null && TyresList.Count() != 0)
                    {
                        item.Tyres = TyresList.ToList();
                    }
                    else
                    {
                        item.Tyres = new();
                    }
                }
            }
        }
    }
}