@using ArmsModels.BaseModels.General
@using ArmsServices.DataServices.General
@inject AuthenticationStateProvider auth
@inject ITyreService Iservice
@inject IInventoryItemService IInventoryservice
@inject IStoreService IStoreservice
@inject IConfigTable IconfigTable
@inject MudBlazor.ISnackbar snackbar
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        @if (model.TyreID == null || model.TyreID == 0)
        {
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Add
            </MudText>
        }
        else
        {
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Edit
            </MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll; margin-left:20px">
            <EditForm id="formTyre" Model="@model" OnValidSubmit="Submit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12">
                        <h6>Item Type</h6>
                        <MudRadioGroup T="string" Value="ItemType" ValueChanged="ItemTypeChanged">
                            <MudRadio Value="@("Tyre")" Color="Color.Primary">Tyre</MudRadio>
                            <MudRadio Value="@("Battery")" Color="Color.Secondary">Battery</MudRadio>
                            <MudRadio Value="@("Jack")" Color="Color.Secondary">Jack</MudRadio>
                            <MudRadio Value="@("Tarpaulin")" Color="Color.Secondary">Tarpaulin</MudRadio>
                            <MudRadio Value="@("Tool")" Color="Color.Secondary">Tool</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    @if (model.ItemType != null)
                    {
                        <MudItem xs="12" md="6">
                            <MudTextField Disabled="@model.IsMounted" @bind-Value="model.TyreSerialNumber" Label="Serial Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TyreSerialNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField Disabled="@model.IsMounted" @bind-Value="model.Make" Label="Make" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Make)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <InventoryItemSelector ReadOnly="@model.IsMounted" Value="SelectedInvetoryItem" LabelName="Inventory Item" ValueChanged="@((InventoryItemModel newValue) => getitemCode(newValue))" ItemGroup="@ItemGroup"></InventoryItemSelector>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudSelect Disabled="@model.IsMounted" T="LinkableBatchModel" Label="Batch" ToStringFunc="@converter" Value="@SelectedBatch" ValueChanged="((e)=>SetBatch(e))" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true">
                                @foreach (var Batch in BatchList)
                                {
                                    <MudSelectItem Value="@Batch">@Batch.GrnNo</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        @if (model.ItemType == "Tyre")
                        {
                            <MudItem xs="12" md="6">
                                <MudSelect Disabled="@model.IsMounted" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Tyre Type" @bind-Value="@model.TyreType">
                                    @foreach (var TyreType in TyreTypeList)
                                    {
                                        <MudSelectItem Value="@TyreType">@TyreType</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField Disabled="@model.IsMounted" @bind-Value="model.TyreSize" Label="Tyre Size" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TyreSize)"></MudTextField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudSelect T="int?" Disabled="@model.IsMounted" @bind-Value="@model.TyreStatus" Label="Select Status" Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="Please Select">
                                    <MudSelectItem T="int?" Value="@(0)">New</MudSelectItem>
                                    <MudSelectItem T="int?" Value="@(1)">1st Resole</MudSelectItem>
                                    <MudSelectItem T="int?" Value="@(2)">2nd Resole</MudSelectItem>
                                    <MudSelectItem T="int?" Value="@(3)">3rd Resole</MudSelectItem>
                                    <MudSelectItem T="int?" Value="@(99)">Scrap</MudSelectItem>
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudNumericField HideSpinButtons="true" Disabled="@model.IsMounted" @bind-Value="model.TotalExpectedLife" Label="Expected Life" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalExpectedLife)"></MudNumericField>
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudCheckBox Disabled="@model.IsMounted" @bind-Checked="@model.Tubeless" Label="Tubeless"></MudCheckBox>
                            </MudItem>
                        }                    
                        <MudItem xs="12" md="6" Class="d-flex align-center">
                            @if (!string.IsNullOrEmpty(model.WarrantyCard))
                            {
                                <a href="@model.WarrantyCard" download="WarrantyCard">
                                    <MudText Typo="Typo.h6" Color="Color.Primary">
                                        Warranty Card
                                        <MudIcon Icon="@Icons.Material.Filled.Download" Title="Download" />
                                    </MudText>
                                </a>
                            }
                        </MudItem>   
                    }
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @if (model.ItemType != "Tyre")
        {
            <MudTooltip Text="Upload Warranty Card">
                <MyFileUpload FolderName="WarrantyCard" FileName="@Guid.NewGuid().ToString()" Label="Warranty Card" @bind-FilePath="model.WarrantyCard"></MyFileUpload>
            </MudTooltip>
        }
        <MudButton Disabled="@_busy" form="formTyre" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="px-12">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public TyreModel model { get; set; } = new();
    List<string> TyreTypeList = new List<string>()
    {
        "Front",
        "Back",
        "All-Position"
    };
    public int? ItemGroup { get; set; } = 0;
    List<InventoryItemModel> InvetoryItemList = new();
    InventoryItemModel SelectedInvetoryItem = new();
    LinkableBatchModel SelectedBatch = new();
    List<LinkableBatchModel> BatchList = new();
    string ItemType { get; set; }
    private bool _busy;

    Func<LinkableBatchModel, string> converter = p => p?.GrnNo;

    public bool HasPermissionTyreServiceEdit { get; set; } = false;
    public int DocTypeID = 63;


    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTyreServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        InvetoryItemList = IInventoryservice.SelectListByID(null).ToList();
        if (model != null && model.InventoryItemID != null)
        {
            ItemType = model.ItemType;
            SelectedInvetoryItem = InvetoryItemList.FirstOrDefault(x => x.InventoryItemID == model.InventoryItemID);
            SelectedBatch = IStoreservice.GetBatchDetails(model.InventoryBatchID);
        }

    }

    void ItemTypeChanged(string name)
    {
        ItemType = name;
        SelectedInvetoryItem = null;
        model.ItemType = ItemType;
        if (model.ItemType == "Tyre")
        {
            ItemGroup = Int32.Parse(IconfigTable.GetByInventoryTyreGroupID().ValueString);   
            model.Tubeless = false;
        }
        else
        {
            ItemGroup = Int32.Parse(IconfigTable.GetByInventorySpareGroupID().ValueString);
            model.Tubeless = null;
        }
        StateHasChanged();
    }

    private void SetBatch(LinkableBatchModel obj)
    {
        SelectedBatch = obj;
        model.InventoryBatchID = obj.BatchID;
    }

    protected override void OnParametersSet()
    {

    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    public async Task Submit()
    {
        if (HasPermissionTyreServiceEdit)
        {
            if (_busy)
            {
                snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
                return;
            }
            _busy = true;
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            if (model != null)
            {
                model.BranchID = int.Parse(brancIDString);
                model.UserInfo.UserID = user.Identity.Name;
                if (SelectedBatch != null && SelectedBatch.BatchID != 0)
                {
                    model.InventoryBatchID = SelectedBatch.BatchID;
                }
                TyreModel result = Iservice.Update(model);
                MudDialog.Close(result);
            }
            await Task.Delay(200);
            _busy = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Tyre.");
        }
    }

    protected async Task getitemCode(InventoryItemModel item)
    {
       
            SelectedBatch = null;
            SelectedInvetoryItem = item;

            // if (SelectedInvetoryItem != null && SelectedInvetoryItem.InventoryItemID == null)
            // {
            //     SelectedInvetoryItem = item;
            // }
            // else
            // {
            //     SelectedInvetoryItem = new InventoryItemModel();
            // }

            if (SelectedInvetoryItem is not null)
            {
                model.InventoryItemID = SelectedInvetoryItem.InventoryItemID;
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
                int BranchID = int.Parse(brancIDString);
                if (BatchList == null)
                {
                    BatchList = new();
                }
                if (BatchList != null && BatchList.Count() != 0)
                {
                    BatchList.Clear();
                }
                if (SelectedInvetoryItem.InventoryItemID != null)
                {
                    BatchList = Iservice.GetNonLinkedTyreBatches(BranchID, (int)SelectedInvetoryItem.InventoryItemID).ToList();
                }
            }
        
    }
}