@page "/CentralizedStore/Grn"
@page "/CentralizedStore/Grn/{id:int}"
@inherits ViewComponentBase<CSGrnModel>
@using PurchaseOrder
@inject ICSGrnService Iservice

<MudTable Items="@collection" RowsPerPage="15" Dense="true" Hover="true" Striped="true" Elevation="10">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Centralized Store GRN</MudText>
        <MudTooltip Text="Add from PO">
            <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.AddLink" @onclick="openGrn" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        </MudTooltip>
        <MudSpacer></MudSpacer>
        <MudTextField Style="margin-top:0px;" @bind-Value="searchTerm" Placeholder="Search..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
        </MudTextField>
        <MudSpacer></MudSpacer>

        <MudSpacer></MudSpacer>
        <div class="tablefont">
            <span style="margin-right: 10px;">Maximum Records: </span>
        </div>
        <MudItem xs="1">
            <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
        </MudItem>
        <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ToggleData(value))" Value="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.InvoiceDate)">Invoice Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.InvoiceNo)">Invoice No</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.PartyInfo.TradeName)">Party Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.DocumentDate)">Document Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CSGrnModel, object>(x=> x.TotalAmount)">Total Amount</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="InvoiceDate">@context.InvoiceDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="InvoiceNo">@context.InvoiceNo</MudTd>
        <MudTd DataLabel="TradeName">@context.PartyInfo.TradeName</MudTd>
        <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="DocumentNumber">
            @context.DocumentNumber
            @if (context.AuthLevelId == 100)
            {
                <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
            }
        </MudTd>
        <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.GrnID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />
            @if (@context.AuthLevelId == 99)
            {
                <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.GrnID" MID="context.MID" DocumentNumber="@context.DocumentNumber"></EntryReversedComponent>
            }
            else if (@context.AuthLevelId != 100)
            {
                <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 15, 20, 50, 100 }" />
    </PagerContent>
</MudTable>

@code {

    protected override List<CSGrnModel> collection { get; set; } = new List<CSGrnModel>();
    public CSGrnModel model { get; set; } = new CSGrnModel();
    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 146,
            DocumentName = "CS Grn"
        };

    public void OnSelectedOptionChanged(string value)
    {
        LoadData(ShowApproved, NumberOfRecords);   
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (id != null && collection != null && collection.Any(g => g.GrnID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.GrnID == id), true);
        }
    }

    // Method to open the tax purchase form for adding or editing
    protected override async Task OpenForm(CSGrnModel ppm, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<CSGrnDialog>(ppm.GrnID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var ReturnData = (CSGrnModel)result.Data;
        }
        LoadData(ShowApproved, NumberOfRecords);
        await Task.Delay(200);
        _busy = false;
    }

    // Method to load data based on approval status and number of records
    protected override void LoadData(bool val, int numberOfRecords)
    {
        if (val)
        {
            collection = Iservice.SelectByApproved(BranchID, numberOfRecords, searchTerm).ToList(); // Fetch approved tax purchases
        }
        else
        {
            collection = Iservice.SelectByUnapproved(BranchID, numberOfRecords, searchTerm).ToList(); // Fetch unapproved tax purchases
        }
    }

    // Method to open the GRN (Goods Receipt Note) dialog
    public async Task openGrn()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        var dialog = dialogService.Show<CSPurchaseOrderViewDialog>("GRN", parms, new DialogOptions() { MaxWidth = MaxWidth.Large });
        var result = await dialog.Result;
        LoadData(ShowApproved, NumberOfRecords);
        await Task.Delay(200);
        _busy = false;
    }
}