@page "/Breakdowns"
@attribute [Authorize]

@inject IBreakdownService iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth

@inject NavigationManager nav 

@inject IDialogService DialogService

@using FMS.Jobcard
@using FMS.InsuranceClaim

<div style="background-color:#1469c0;padding:1%;padding-top:2%;  color:#fff;"><h6> Reported Breakdowns/Accidents</h6></div>
<style>
    .txti{
        font-size:15px;
        color:#595959;
    }
    .txthead{
        font-family:40px;
        font-family:'Segoe UI';
        font-weight:bold;
        color:#1469c0
        
    }
</style>

<div style="width:100%">


@foreach (BreakdownModel item in BreakdownList)
{
    <MudPaper Style="padding:20px;font-size:15px;">
        <div style="float:left;width:50%;left:0px"><MudText Class="txthead" > Truck: @item.RegNo</MudText></div><div style="float:right;width:50%;font-size:13px;text-align:right"><MudIconButton Icon="@Icons.Filled.CalendarToday" Size="Size.Small"></MudIconButton><a Style="font-family:'Segoe UI';color:#595959;margin-right:2%">@item.BreakdownTime</a><MudIconButton Icon="@Icons.Filled.Call" Size="Size.Small"></MudIconButton><a Style="font-family:'Segoe UI';color:#595959;">@item.ContactNumber</a></div>
        <br> 
        <hr style="width:100%">
        <MudText Class=txti > Subject:<br /><a style="background-color:#fff000">@item.BreakdownType</a> </MudText>
    
        <br>
        <MudText Class=txti> Additional Info: @item.Detail</MudText>
        <hr>
        <MudButton  Class="mainbtn" StartIcon="@Icons.Filled.AddTask" OnClick="@(()=>CreateJobcard(item))">Issue Jobcard</MudButton>
        <MudButton Style="text-transform:capitalize;padding-right:1%" StartIcon="@Icons.Filled.AppRegistration" OnClick="@(()=>BeginInsuranceClaim(item))" IconColor="Color.Primary" Disabled="item.IsClaimInitiated">Initiate Insurance Claim</MudButton>
    </MudPaper>
    <hr />
}

</div>
@code {

    private List<BreakdownModel> BreakdownList = new();

    protected override async Task OnInitializedAsync()
    {
        var e = await auth.GetAuthenticationStateAsync();
        int BranchID = int.Parse(e.User.Claims.First(x => x.Type == "BranchID").Value);
        BreakdownList = iservice.SelectPending(BranchID).ToList();
    }


    private async Task CreateJobcard(BreakdownModel Breakdown)
    {
        var parameters = new DialogParameters();
        parameters.Add("Breakdown", Breakdown);

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<CreateJobcardDialog>("Initiate Jobcard", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            JobcardModel jobcard = (JobcardModel)result.Data;
            nav.NavigateTo("jobcard/" + jobcard.TruckID);
        }
    }

    private async Task BeginInsuranceClaim(BreakdownModel Breakdown)
    {
        var parameters = new DialogParameters();
        parameters.Add("BreakdownID", Breakdown.BreakdownID);
        parameters.Add("TruckID", Breakdown.TruckID);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<InitiateClaimDialog>("Initiate Claim", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            InsuranceClaimModel InsModel = (InsuranceClaimModel)result.Data;
            //nav.NavigateTo("jobcard/" + jobcard.TruckID);
        }
    }

}
