@inject MudBlazor.ISnackbar snackbar
@inject IPlaceService Iplace
@inject IBranchService IBranchService
@inject IDataAuthorizationSettingsService IDataAuthorizationService
@inject ICancellationReasonCodeService IcancellationReasonCodeService
@using System.Globalization;
@using Core.BaseModels.Finance;
@using Core.IDataServices.Finance;



<MudDialog DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Add/Edit Reason Code
        </MudText>
    </TitleContent>
    <DialogContent>
        <div Style="padding:20px;">
            <MudContainer>
                <MudGrid xs="12">
                    <EditForm id="mainForm" Model="@model" OnValidSubmit="OnValidSubmit">
                        <MudGrid>
                            <MudItem xs="12">
                                <MudAutocomplete FullWidth Label="Document Type" Value="SelectedDocType" ValueChanged="ValueChanged" T="DocTypeModel" SearchFunc="@Search" ToStringFunc="@((e) => e?.Description)"
                                                 Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                                </MudAutocomplete>
                            </MudItem>
                            <MudItem xs="12" md="12" lg="12">

                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="12"><span class="HeadText">Reason Codes</span></MudItem>
                                    @if (ReasonCodeList != null)
                                    {
                                        @foreach (var item in ReasonCodeList)
                                        {
                                            <MudItem xs="11"><MudTextField Label="Reason Code" @bind-Value="item.ReasonCodeDescription" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField></MudItem>
                                            <MudItem xs="1">
                                                <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> DeleteReasonCodes(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                            </MudItem>
                                        }

                                    }

                                    <MudItem xs="11"><MudTextField Label="Reason Code" @bind-Value="Model.ReasonCodeDescription" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField></MudItem>
                                    <MudItem xs="1" Class="d-flex align-center"><MudIconButton Title="Add" OnClick="ADD" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" /></MudItem>

                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </MudGrid>
            </MudContainer>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Disabled="@_busy" form="mainForm" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save Reason Codes</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public List<CancellationReasonCode> ReasonCodeList { get; set; }

    [Parameter]
    public CancellationReasonCodesByDocumentType model { get; set; }

    public CancellationReasonCode Model { get; set; } = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private bool _busy;

    private DocTypeModel SelectedDocType;

    private List<DocTypeModel> doctypelist;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        // Load the list of document types from the data authorization service
        doctypelist = IDataAuthorizationService.GetDocTypesList().ToList();
        if (model != null && model.DocumentTypeID != null)
        {
            if (doctypelist != null && doctypelist.Any(s => s.ID == model.DocumentTypeID))
            {
                SelectedDocType = doctypelist.FirstOrDefault(s => s.ID == model.DocumentTypeID);
            }

            // Fetch cancellation reason codes based on the selected document type
            var Result = IcancellationReasonCodeService.SelectSubById(model.DocumentTypeID);
            if (Result != null && Result.Count() != 0 && Result.Any(s => s.ReasonCodeID != null))
            {
                ReasonCodeList = Result.ToList();
            }

        }
    }

    // Method to search for document types based on a search string
    private async Task<IEnumerable<DocTypeModel>> Search(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return doctypelist;
        return doctypelist.Where(x => x.Description.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    // Method to handle form submission when the form is valid
    private void OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        if (ReasonCodeList == null || ReasonCodeList.Count() == 0)
        {
            snackbar.Add("Please add at least one cancellation reason code.", Severity.Error);
            return;
        }
        _busy = true;
        if (SelectedDocType != null && SelectedDocType.ID != null)
        {
            model.DocumentTypeID = SelectedDocType.ID;
        }
        if (model.CancellationReasonCodeList == null)
        {
            model.CancellationReasonCodeList = new();
        }
        else
        {
            model.CancellationReasonCodeList.Clear();
        }
        if (ReasonCodeList != null && ReasonCodeList.Count() != 0)
        {
            model.CancellationReasonCodeList = ReasonCodeList;
        }
        _busy = false;
        MudDialog.Close(model);
    }

    // Method to handle changes in the selected document type
    void ValueChanged(DocTypeModel val)
    {
        SelectedDocType = val;
        GetAll();
    }

    // Method to delete a cancellation reason code
    private async Task DeleteReasonCodes(CancellationReasonCode ReasonCode)
    {
        int rowIndex = ReasonCodeList.IndexOf(ReasonCode);
        ReasonCodeList.RemoveAt(rowIndex);
    }

    // Method to add a new cancellation reason code
    public void ADD()
    {
        if (ReasonCodeList == null)
        {
            ReasonCodeList = new();
        }
        if (Model != null && Model.ReasonCodeDescription != null)
        {
            ReasonCodeList.Add(Model);

        }
        Model = new();
    }

    // Method to refresh the list of cancellation reason codes based on the selected document type
    public void GetAll()
    {
        if (SelectedDocType != null && SelectedDocType.ID != null)
        {
            var Result = IcancellationReasonCodeService.SelectSubById(SelectedDocType.ID);
            if (Result != null && Result.Count() != 0 && Result.Any(s => s.ReasonCodeID != null))
            {
                ReasonCodeList = Result.ToList();
            }

        }
    }


}