@using System.Threading;
@using Core.BaseModels.Finance.Transactions;
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject IGcService Iservice
@inject ITripService tripService;
@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole
@* @using Views.Shared; *@


<style>
    .contain::after {
        content: '';
        position: absolute;
        bottom: 0; /* Position at bottom */
        left: 10%; /* Start 10% from the left */
        width: 80%; /* Line takes up 80% width */
        height: 2px; /* Thickness of the line */
        background-color: rgba(200,200,200,0.5); /* Color of the line */
    }
</style>

<div style="position:relative;padding:12px;">
    <MudCard Class="@Class" Elevation="2" Style="border-radius: 8px; border-left: 5px solid rgb(150,150,150); background-color: #fafafa; position: relative; overflow: hidden;">
        @if (item.UnloadEndEventID != null)
        {
            <div class="stamp-container">
                <div class="stamp is-Delivered">
                    <div class="icon-box">
                        <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Large" />
                    </div>
                    <div class="text-box"> <b>DELIVERED</b></div>
                </div>
            </div>
        }
        <MudCardHeader Class="pb-2" Style="background-color: #f3f3f3; border-bottom: 1px solid #eee;">
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary" Variant="Variant.Filled" Size="Size.Medium">GC</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <div class="d-flex justify-space-between align-center">
                    <div>
                        <MudText Typo="Typo.subtitle1" Color="Color.Dark"><b>@item.SetGcNumber</b></MudText>
                        <MudText Typo="Typo.caption" Color="Color.Secondary">Bill No: @item.SetBillNumber</MudText>
                    </div>
                </div>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (IsLoading)
                {
                    <MudIconButton @onclick="@(() => RemoveButtonClicked(item.GcSetID))" Icon="@Icons.Material.Filled.Close" Color="Color.Error" Size="Size.Small" />
                }
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent Class="py-3 px-4 contain">
            <MudGrid>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem xs="6">
                            <div class="info-value d-flex flex-column justify-start pa-4">
                                <MudText Typo="Typo.caption"> <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" Color="Color.Secondary" Class="mr-2" />@item?.ConsignorName</MudText>
                                <div class="d-flex align-center w-100 justify-content-center">
                                    <MudIcon Icon="@Icons.Material.Filled.South" Size="Size.Small" Class="my-1 ml-2" />
                                </div>
                                <MudText Typo="Typo.caption"><MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Small" Color="Color.Secondary" Class="mr-2" />@item?.ConsigneeName</MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="6">
                            <div class="d-flex justify-content-end pa-4">
                                <MudText Typo="Typo.body2">
                                    <MudIcon Icon="@Icons.Material.Filled.ShoppingBasket" Size="Size.Small" Color="Color.Secondary" Class="mr-1" />
                                    <b>@item.TotalBillQuantity @item.UoM @item.Content</b>
                                </MudText>
                            </div>
                            <div class="d-flex justify-content-end pr-4">
                                <MudText Typo="Typo.body2" Color="Color.Secondary">
                                    <MudIcon Icon="@Icons.Material.Filled.MonetizationOn" Size="Size.Small" Color="Color.Secondary" Class="mr-1" />
                                    <b>Rs @item.TotalFreight</b>
                                </MudText>
                            </div>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.caption" Class="pa-4">
                                <MudIcon Icon="@Icons.Material.TwoTone.Directions" Size="Size.Small" Color="Color.Secondary" Class="mr-1" />
                                @item?.RouteName
                            </MudText>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            </MudGrid>
            @if (unloading)
            {
                <MudDivider Class="my-3" />
                <MudGrid>
                    <MudItem xs="6">
                        <MudTextField @bind-Value="@item.TotalUnloadingQuantity" Label="Qty" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => @item.TotalUnloadingQuantity)"></MudTextField>
                    </MudItem>
                    <MudItem xs="6">
                        <MudTextField @bind-Value="@item.PONo" Label="PO No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => @item.PONo)"></MudTextField>
                    </MudItem>
                </MudGrid>

                @if (!string.IsNullOrEmpty(item.Acknowledgement))
                {
                    <div class="d-flex align-center mt-2 justify-center">
                        <a href="@item.Acknowledgement" download="Acknowledgement" style="text-decoration:none;">
                            <MudChip T="string" Icon="@Icons.Material.Filled.Download" Color="Color.Success" Size="Size.Small" Label="true">Ack</MudChip>
                        </a>
                    </div>
                }
            }
        </MudCardContent>
        <MudCardActions Class="pt-0 pb-2 pt-4 justify-end">
            @if (!unloading)
            {
                <MudTooltip Text="Edit">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" @onclick="@(() => Edit(item.GcSetID))" Color="Color.Secondary" Disabled="@IsLocked" />
                </MudTooltip>
                <MudTooltip Text="E-Way Bill">
                    <MudIconButton Icon="@Icons.Material.Filled.Receipt" Size="Size.Small" @onclick="@(() => EwayBill(item.GcSetID))" Color="Color.Secondary" />
                </MudTooltip>
                <MudTooltip Text="Delete">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" @onclick="@(() => Delete(item.GcSetID))" Color="Color.Error" Disabled="@(item.TripID != null)" />
                </MudTooltip>
                <MudTooltip Text="Print">
                    <MudIconButton Icon="@Icons.Material.Filled.Print" Size="Size.Small" @onclick="@(() => Print(item.GcSetID))" Color="Color.Secondary" />
                </MudTooltip>
            }
            @if (unloading)
            {
                <MyFileUpload FolderName="Gc/Acknowledgement" FileName="@Guid.NewGuid().ToString()" Label="Ack" @bind-FilePath="@item.Acknowledgement" Style="width: 100px;"></MyFileUpload>
                <MudIconButton Icon="@Icons.Material.Filled.CloudDone" Color="Color.Primary" @onclick="@(() => OpenConfirmAcknowledgement(item.GcSetID))" />
                <MudIconButton Icon="@Icons.Material.Filled.BrokenImage" Color="Color.Warning" @onclick="@(() => OpenShortageDamageCompensation())" />
            }
        </MudCardActions>
    </MudCard>
</div>

@code {

    [Parameter]
    public int? MessageDocumentID { get; set; } = null;
    [Parameter]
    public GcSetModel item { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool IsLocked { get; set; } = false;
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool IsLoading { get; set; } = false;
    [Parameter]
    public bool unloading { get; set; } = false;
    [Parameter]
    public EventCallback<long?> OnGcRemoved { get; set; }
    [Parameter]
    public EventCallback<long?> OnGcDeleted { get; set; }

    public string ReportName { get; set; }
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    private Color ewaycolor = new();
    private Color FillExpColor = new();
    private string UserID;

    private bool _busy;
    public bool HasPermissionGcServiceEdit { get; set; } = false;
    public bool HasPermissionGcServiceAppentToTrip { get; set; } = false;
    public int DocTypeID = 46;

    // Method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();

        var authState = await auth.GetAuthenticationStateAsync();
        UserID = authState.User.Identity.Name;

        HasPermissionGcServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionGcServiceAppentToTrip = await Irole.HasClaim(DocTypeID.ToString(), "AppentToTrip", ctc.Token);
        if (MessageDocumentID != null)
        {
            await EwayBill(item.GcSetID);
        }
    }


    protected override void OnParametersSet()
    {
        setEwayBillColor();
        // if (item.UnloadEndEventID != null)
        // { IsLocked = true; }
    }

    // Method to set the color of the EwayBill based on its expiration statusc
    private void setEwayBillColor()
    {
        if (item.Gcs.Exists(x => x.EwayBill.ExpireOn == null || x.EwayBill?.ExpireOn < DateTime.Now))
        {
            ewaycolor = Color.Error;
        }
        else
        {
            ewaycolor = Color.Primary;
        }
    }

    // Method to set the color for the expiration button
    private void setExpButtonColor()
    {
        FillExpColor = Color.Tertiary;
    }

    // Method to open the EwayBill dialog
    private async Task EwayBill(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var parameters = new DialogParameters();
        item.Gcs.ForEach(x => { x.EwayBill.EwayBillDate = x.EwayBill.EwayBillDate ?? DateTime.Today; x.EwayBill.ExpireOn = x.EwayBill.ExpireOn ?? DateTime.Today.AddDays(2); });
        parameters.Add("MessageDocumentID", MessageDocumentID);
        parameters.Add("model", item.Clone());
        var result = await DialogService.ShowAsync<EwayBillDialog>("EwayBill", parameters);
        var data = await result.Result;
        if (!data.Canceled)
        {
            if (data.Data != null)
            {
                item = (GcSetModel)data.Data;
                setEwayBillColor();
            }
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to print the consignment note bill
    private async Task Print(long? GcSetID)
    {
        ReportParameters.Clear();
        ReportParameters.Add("GcSetID", GcSetID.ToString());
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintConsignmentNoteBill");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = await DialogService.ShowAsync<PrintDialog>("PRINT", parameters, maxWidth);
    }

    // Method to delete a GC
    private async Task Delete(long? id)
    {
        bool? result = await DialogService.ShowMessageBoxAsync(
           "Warning",
           "Are You Sure you want to Delete this GC!",
           yesText: "Delete!", cancelText: "Cancel");

        if (result != null && result.Value)
        {
            try
            {
                Iservice.DeleteSet(id, UserID); // Call the service to delete the GC
                await OnGcDeleted.InvokeAsync(id);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    // Method to edit a GC
    private async Task Edit(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionGcServiceEdit)
        {
            var parameters = new DialogParameters();
            parameters.Add("model", item.Clone());
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var result = await DialogService.ShowAsync<GcDialog>("Edit GC", parameters, maxWidth);
            var data = await result.Result;
            if (!data.Canceled)
            {
                if (data.Data != null)
                {
                    item = Iservice.SelectByID(id); // Update the item with the selected data
                }
            }
            StateHasChanged();
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBoxAsync(
                "Permission denied!",
                "You don't have any permission to Add or Edit GC.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to handle the removal of a GC from a trip
    private async Task RemoveButtonClicked(long? id)
    {
        if (HasPermissionGcServiceAppentToTrip)
        {
            var e = await auth.GetAuthenticationStateAsync();
            var user = e.User;
            var userID = user.Identity.Name;

            // Call the service to remove the GC
            Iservice.RemoveFromTrip(item.GcSetID, item.TripID.Value, userID);
            snackbar.Add("Removed", Severity.Success, null);
            await OnGcRemoved.InvokeAsync(id);
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBoxAsync(
                "Permission denied!",
                "You don't have any permission to AppendToTrip GC.");
        }
    }

    // Method to open the shortage/damage compensation dialog
    private async Task OpenShortageDamageCompensation(ShortageDamageCompensationModel sdcModel = null)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        // Fetch trip information
        var info = tripService.Select(item.TripID);
        DialogParameters parms = new DialogParameters();
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };
        if (sdcModel == null)
        {
            sdcModel = new ShortageDamageCompensationModel()
            {
                TripID = item.TripID,
                DriverID = info.DriverID,
                GcSetID = item.GcSetID,
                SetGcNumber = item.SetGcNumber
            };
        }
        else
        {
            parms.Add("ReadOnly", true);
        }
        parms.Add("model", sdcModel.Clone());
        var dialog = await DialogService.ShowAsync<Finance.Transactions.ShortageDamageCompensationDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open the confirmation dialog for acknowledgment
    private async Task OpenConfirmAcknowledgement(long? GcSetID)
    {
        DialogParameters parms = new DialogParameters();
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small };
        parms.Add("GcSetID", GcSetID);
        var dialog = await DialogService.ShowAsync<GcConfirmAcknowledgement>("Confirm Acknowledgement", parms, maxWidth);
        var result = await dialog.Result;
        await Task.Delay(200);
        _busy = false;
    }

}
