@inject IDialogService DialogService
@inject  IGcService Iservice 
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth

@using System.Threading;
@inject IRoleService<RoleModel> Irole

<div style="position:relative">
    @if (item.UnloadEndEventID != null)
    {
        <h2 class="Finished" >DELIVERED</h2>
    }
<MudCard Class="@Class" Style="@Style">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="ewaycolor">GC</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1" GutterBottom="true"><b>@item.SetGcNumber</b></MudText>
            <MudText Typo="Typo.body2">@item.SetBillNumber</MudText>
        </CardHeaderContent>         
         <CardHeaderActions>
            @if (IsLoading)
            {
                <MudTooltip Text="Remove GC">
            <MudIconButton  @onclick="@(() => RemoveButtonClicked(item.GcSetID))"  Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
            </MudTooltip>
            }
        </CardHeaderActions>             
    </MudCardHeader>
    <MudCardContent>
        <MudText>@item.ConsignorName</MudText>
        <MudText>@item.ConsigneeName</MudText>
        <MudText Typo="Typo.body2">@item.RouteName</MudText>
        <MudText>@item.TotalBillQuantity</MudText>
         <MudText>@item.TotalFreight</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton @onclick="@(() => Edit(item.GcSetID))" Color="Color.Primary">EDIT</MudButton>
        <MudButton @onclick="@(() => EwayBill(item.GcSetID))" Variant="Variant.Text" Color="@ewaycolor">Eway Bill</MudButton>
      @*  <MudButton @onclick="@(() => FillExpenses(item.GcSetID))" Variant="Variant.Text" Color="@FillExpColor">Post Inc/Exp</MudButton>*@
    </MudCardActions>
</MudCard>

</div>




@code {
    [Parameter]
    public GcSetModel item { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool IsLoading { get; set; } = false;
    [Parameter]
    public EventCallback<long?> OnGcRemoved { get; set; }



    private Color ewaycolor = new();
    private Color FillExpColor = new();

    public bool HasPermissionEdit { get; set; } = false;
    public int DocTypeID = 26;

    protected override void OnParametersSet()
    {
        setEwayBillColor();
    }

    private void setEwayBillColor()
    {
        if (item.Gcs.Exists(x => x.EwayBill.ExpireOn == null || x.EwayBill?.ExpireOn < DateTime.Now))
        {
            ewaycolor = Color.Error;
        }
        else
        {
            ewaycolor = Color.Primary;
        }
    }

    private void setExpButtonColor()
    {
        FillExpColor = Color.Tertiary;
    }


    private async Task EwayBill(long? id)
    {
        var parameters = new DialogParameters();
        item.Gcs.ForEach(x => { x.EwayBill.EwayBillDate = x.EwayBill.EwayBillDate ?? DateTime.Today; x.EwayBill.ExpireOn = x.EwayBill.ExpireOn ?? DateTime.Today.AddDays(2); });
        parameters.Add("model", item);
        var result = DialogService.Show<EwayBillDialog>("EwayBill", parameters);
        var data = await result.Result;
        if (data.Data != null)
        {
            setEwayBillColor();
        }
    }    

    private async Task Edit(long? id)
    {
        if (HasPermissionEdit)
        {
            var parameters = new DialogParameters();
            parameters.Add("model", item);

            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var result = DialogService.Show<GcDialog>("Edit GC", parameters, maxWidth);
            var data = await result.Result;
            StateHasChanged();
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                      "Permission denied!",
                      "You dont have any permission to Add or Edit.");
        }
    }
    private async Task RemoveButtonClicked(long? id)
    {
        var e = await auth.GetAuthenticationStateAsync();
        var user = e.User;
        var userID = user.Identity.Name;
        Iservice.RemoveFromTrip(item.GcSetID,item.TripID.Value, userID);
        snackbar.Add("Removed", Severity.Success, null);
        await OnGcRemoved.InvokeAsync(id);
    }
}