@using System.Threading;
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject IGcService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole

<div style="position:relative">
    @if (item.UnloadEndEventID != null)
    {
        <span class="stamp is-Delivered">DELIVERED</span>
        @* <h2 class="Finished">DELIVERED</h2> *@
    }

    <MudCard Class="@Class" Style="@Style">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="ewaycolor">GC</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1" GutterBottom="true"><b>@item.SetGcNumber</b></MudText>
                <MudText Typo="Typo.caption">@item.SetBillNumber</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (IsLoading)
                {
                    <MudTooltip Text="Remove GC">
                        <MudIconButton @onclick="@(() => RemoveButtonClicked(item.GcSetID))" Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
                    </MudTooltip>
                }
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText>@item.ConsignorName</MudText>
            <MudText>@item.ConsigneeName</MudText>
            <MudText Typo="Typo.body2">@item.RouteName</MudText>
            <MudText>@item.TotalFreight</MudText>            
            <MudText>@item.TotalBillQuantity</MudText>
            
            @if (unloading)
            {
                <MudTextField @bind-Value="@item.SetUnloadQuantity" Label="UnloadingQuantity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => @item.SetUnloadQuantity)"></MudTextField>
            }
        </MudCardContent>
        <MudCardActions>
            @if (!unloading)
            {
                <MudButton @onclick="@(() => Edit(item.GcSetID))" Color="Color.Primary" Disabled="@IsLocked">EDIT</MudButton>
                <MudButton @onclick="@(() => EwayBill(item.GcSetID))" Variant="Variant.Text" Color="@ewaycolor">Eway Bill</MudButton>
            }
        </MudCardActions>
    </MudCard>
</div>

@code {

    [Parameter]
    public int? MessageDocumentID { get; set; } = null;
    [Parameter]
    public GcSetModel item { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool IsLocked { get; set; } = false;
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool IsLoading { get; set; } = false;
    [Parameter]
    public bool unloading { get; set; } = false;
    [Parameter]
    public EventCallback<long?> OnGcRemoved { get; set; }
    private Color ewaycolor = new();
    private Color FillExpColor = new();

    private bool _busy;
    public bool HasPermissionGcServiceEdit { get; set; } = false;
    public bool HasPermissionGcServiceAppentToTrip { get; set; } = false;
    public int DocTypeID = 46;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionGcServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionGcServiceAppentToTrip = await Irole.HasClaim(DocTypeID.ToString(), "AppentToTrip", ctc.Token);
        if (MessageDocumentID != null)
        {
            await EwayBill(item.GcSetID);
        }

    }

    protected override void OnParametersSet()
    {
        setEwayBillColor();
        if (item.UnloadEndEventID != null)
        { IsLocked = true; }
    }

    private void setEwayBillColor()
    {
        if (item.Gcs.Exists(x => x.EwayBill.ExpireOn == null || x.EwayBill?.ExpireOn < DateTime.Now))
        {
            ewaycolor = Color.Error;
        }
        else
        {
            ewaycolor = Color.Primary;
        }
    }

    private void setExpButtonColor()
    {
        FillExpColor = Color.Tertiary;
    }

    private async Task EwayBill(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var parameters = new DialogParameters();
        item.Gcs.ForEach(x => { x.EwayBill.EwayBillDate = x.EwayBill.EwayBillDate ?? DateTime.Today; x.EwayBill.ExpireOn = x.EwayBill.ExpireOn ?? DateTime.Today.AddDays(2); });
        parameters.Add("MessageDocumentID", MessageDocumentID);
        parameters.Add("model", item.Clone());
        var result = DialogService.Show<EwayBillDialog>("EwayBill", parameters);
        var data = await result.Result;
        if (!data.Canceled)
        {
            if (data.Data != null)
            {
                item = (GcSetModel)data.Data;
                setEwayBillColor();
            }
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Edit(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionGcServiceEdit)
        {
            var parameters = new DialogParameters();
            parameters.Add("model", item.Clone());
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var result = DialogService.Show<GcDialog>("Edit GC", parameters, maxWidth);
            var data = await result.Result;
            if (!data.Canceled)
            {
                if (data.Data != null)
                {
                    item = (GcSetModel)data.Data;



                    var e = await auth.GetAuthenticationStateAsync();
                    string BranchIDString = e.User.Claims.First(x => x.Type == "BranchID").Value;
                    var BranchID = int.Parse(BranchIDString);
                    var TempCollection = Iservice.SelectUnAssigned(BranchID);
                    if (TempCollection.Any(g => g.GcSetID == item.GcSetID))
                    {
                        foreach (var Current in TempCollection.Where(g => g.GcSetID == item.GcSetID))
                        {
                            item = Current;
                        }
                    }
                    //item.Gcs.Clear();
                    //foreach (var item in ((GcSetModel)data.Data).Gcs)
                    //{
                    //    item.Gcs.Add(item);
                    //}
                    //item.Gcs.AddRange(((GcSetModel)data.Data).Gcs);
                }
            }
            StateHasChanged();
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit GC.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task RemoveButtonClicked(long? id)
    {
        if (HasPermissionGcServiceAppentToTrip)
        {
            var e = await auth.GetAuthenticationStateAsync();
            var user = e.User;
            var userID = user.Identity.Name;
            Iservice.RemoveFromTrip(item.GcSetID, item.TripID.Value, userID);
            snackbar.Add("Removed", Severity.Success, null);
            await OnGcRemoved.InvokeAsync(id);
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to AppendToTrip GC.");
        }
    }
}