@using System.Threading;
@using Core.BaseModels.Finance.Transactions;
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject IGcService Iservice
@inject ITripService tripService;
@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole
@* @using Views.Shared; *@

<div style="position:relative">
    @if (item.UnloadEndEventID != null)
    {
        <span class="stamp is-Delivered">DELIVERED</span>
    }

    <MudCard Class="@Class" Style="@Style">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="ewaycolor">GC</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1" GutterBottom="true"><b>@item.SetGcNumber</b></MudText>
                <MudText Typo="Typo.caption">@item.SetBillNumber</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (IsLoading)
                {
                    <MudTooltip Text="Remove GC">
                        <MudIconButton @onclick="@(() => RemoveButtonClicked(item.GcSetID))" Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
                    </MudTooltip>
                }
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.h6"><b> @item.ConsigneeName </b></MudText>
            <MudText>From:  @item.ConsignorName</MudText>
            <MudText Typo="Typo.body2" Color="Color.Info">@item.RouteName</MudText>
            <MudText>Rs @item.TotalFreight</MudText>            
            <MudText Typo="Typo.h5" Color="Color.Primary">@item.TotalBillQuantity   @item.UoM  @item.Content</MudText>
            @if (unloading)
            {
                <MudTextField @bind-Value="@item.TotalUnloadingQuantity" Label="UnloadingQuantity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => @item.TotalUnloadingQuantity)"></MudTextField>
                <MudItem xs="6" md="6" Class="d-flex align-center">
                    @if (!string.IsNullOrEmpty(item.Acknowledgement))
                    {
                        <a href="@item.Acknowledgement" download="Acknowledgement">
                            <MudText Typo="Typo.h6" Color="Color.Primary">
                                Acknowledgement
                                <MudIcon Icon="@Icons.Material.Filled.Download" Title="Download" />
                            </MudText>
                        </a>
                    }
                </MudItem>
            }
        </MudCardContent>
        <MudCardActions Style="place-content: space-between;">
            @if (!unloading)
            {
                <MudButton @onclick="@(() => Edit(item.GcSetID))" Color="Color.Primary" Disabled="@IsLocked">EDIT</MudButton>
                <MudButton @onclick="@(() => EwayBill(item.GcSetID))" Color="@ewaycolor">Eway Bill</MudButton>
                <MudButton @onclick="@(() => Delete(item.GcSetID))" Color="Color.Primary" Disabled="@(item.TripID!= null)">DELETE</MudButton>
                <MudButton @onclick="@(() => Print(item.GcSetID))" Color="Color.Success" StartIcon="@Icons.Material.Filled.Print">Print</MudButton>
            }
            @if (unloading)
            {
                <MudTooltip Text="Upload Acknowledgement">
                    <MyFileUpload FolderName="Gc/Acknowledgement" FileName="@Guid.NewGuid().ToString()" Label="Acknowledgement" @bind-FilePath="@item.Acknowledgement"></MyFileUpload>
                </MudTooltip>
                <MudTooltip Text="Add Damage Compensation">
                    <MudIconButton Icon="@Icons.Material.Filled.BrokenImage" Color="Color.Primary" Size="Size.Large" @onclick="@(()=> OpenShortageDamageCompensation())" />
                </MudTooltip>

            }
        </MudCardActions>
    </MudCard>
</div>

@code {

    [Parameter]
    public int? MessageDocumentID { get; set; } = null;
    [Parameter]
    public GcSetModel item { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public bool IsLocked { get; set; } = false;
    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public bool IsLoading { get; set; } = false;
    [Parameter]
    public bool unloading { get; set; } = false;
    [Parameter]
    public EventCallback<long?> OnGcRemoved { get; set; }
    [Parameter]
    public EventCallback<long?> OnGcDeleted { get; set; }

    public string ReportName { get; set; }
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    private Color ewaycolor = new();
    private Color FillExpColor = new();
    private string UserID;    

    private bool _busy;
    public bool HasPermissionGcServiceEdit { get; set; } = false;
    public bool HasPermissionGcServiceAppentToTrip { get; set; } = false;
    public int DocTypeID = 46;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();

        var authState = await auth.GetAuthenticationStateAsync();
        UserID = authState.User.Identity.Name;

        HasPermissionGcServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionGcServiceAppentToTrip = await Irole.HasClaim(DocTypeID.ToString(), "AppentToTrip", ctc.Token);
        if (MessageDocumentID != null)
        {
            await EwayBill(item.GcSetID);
        }
    }


    protected override void OnParametersSet()
    {
        setEwayBillColor();
        // if (item.UnloadEndEventID != null)
        // { IsLocked = true; }
    }

    private void setEwayBillColor()
    {
        if (item.Gcs.Exists(x => x.EwayBill.ExpireOn == null || x.EwayBill?.ExpireOn < DateTime.Now))
        {
            ewaycolor = Color.Error;
        }
        else
        {
            ewaycolor = Color.Primary;
        }
    }

    private void setExpButtonColor()
    {
        FillExpColor = Color.Tertiary;
    }

    private async Task EwayBill(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var parameters = new DialogParameters();
        item.Gcs.ForEach(x => { x.EwayBill.EwayBillDate = x.EwayBill.EwayBillDate ?? DateTime.Today; x.EwayBill.ExpireOn = x.EwayBill.ExpireOn ?? DateTime.Today.AddDays(2); });
        parameters.Add("MessageDocumentID", MessageDocumentID);
        parameters.Add("model", item.Clone());
        var result = DialogService.Show<EwayBillDialog>("EwayBill", parameters);
        var data = await result.Result;
        if (!data.Canceled)
        {
            if (data.Data != null)
            {
                item = (GcSetModel)data.Data;
                setEwayBillColor();
            }
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Print(long? GcSetID)
    {
        ReportParameters.Clear();
        ReportParameters.Add("GcSetID", GcSetID.ToString());
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintConsignmentNoteBill");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }

    private async Task Delete(long? id)
    {
        bool? result = await DialogService.ShowMessageBox(
           "Warning",
           "Are You Sure you want to Delete this GC!",
           yesText: "Delete!", cancelText: "Cancel");

        if (result != null && result.Value)
        {
            try
            {
                Iservice.DeleteSet(id, UserID);
                await OnGcDeleted.InvokeAsync(id);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    private async Task Edit(long? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionGcServiceEdit)
        {
            var parameters = new DialogParameters();
            parameters.Add("model", item.Clone());
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var result = DialogService.Show<GcDialog>("Edit GC", parameters, maxWidth);
            var data = await result.Result;
            if (!data.Canceled)
            {
                if (data.Data != null)
                {
                    item = Iservice.SelectByID(id);//(GcSetModel)data.Data;                   
                }
            }
            StateHasChanged();
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit GC.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task RemoveButtonClicked(long? id)
    {
        if (HasPermissionGcServiceAppentToTrip)
        {
            var e = await auth.GetAuthenticationStateAsync();
            var user = e.User;
            var userID = user.Identity.Name;
            Iservice.RemoveFromTrip(item.GcSetID, item.TripID.Value, userID);
            snackbar.Add("Removed", Severity.Success, null);
            await OnGcRemoved.InvokeAsync(id);
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to AppendToTrip GC.");
        }
    }

    private async Task OpenShortageDamageCompensation(ShortageDamageCompensationModel sdcModel = null)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var info = tripService.Select(item.TripID);
        DialogParameters parms = new DialogParameters();
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };
        if (sdcModel == null)
        {
            sdcModel = new ShortageDamageCompensationModel()
                {
                    TripID = item.TripID,
                    DriverID = info.DriverID,
                    GcSetID = item.GcSetID, 
                    SetGcNumber = item.SetGcNumber
                };
        }
        else
        {
            parms.Add("ReadOnly", true);
        }
        parms.Add("model", sdcModel.Clone());
        var dialog = DialogService.Show<Finance.Transactions.ShortageDamageCompensationDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
        await Task.Delay(200);
        _busy = false;
    }

}