@page "/ProformaInvoiceView"
@page "/ProformaInvoiceView/{id:int}"
@using System.Threading;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager uriHelper;
@inject SignalRService signalRService
@layout BillsLayout
@inject IFreightBillingService IFreightBilling
@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService
@inject IPushNotificationService IPushNotification

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="1" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Proforma Invoices</MudText>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Proforma..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ApprovedChanged(value))" Value="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.Party.TradeName)" InitialDirection="SortDirection.Ascending">Client</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.PeriodFrom)" InitialDirection="SortDirection.Ascending">Period</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToString("dd/MM/yyyy")</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="TotalAmount">@context.Party.TradeName</MudTd>
                <MudTd DataLabel="TotalAmount">@string.Concat(context.PeriodFrom?.ToString("dd/MM/yyyy"), " | ", context.PeriodTo?.ToString("dd/MM/yyyy"))</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenDialog(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
                    @if (context.AuthLevelId == null)
                    {
                        @* Disabled = "@(context.AuthLevelId != null)" *@
                        <MudIconButton OnClick="@(()=> Reverse(context))" Color="Color.Error" Title="Reverse Draft" Class="ml-2" Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="FreightBillingDocTypeID" DocumentID="context.ProformaInvoiceID" MID="context.MID" DocumentNumber="@context.DocumentNumber"></EntryReversedComponent>
                        <MudIconButton OnClick="@(()=> Delete(context))" Color="Color.Error" Title="Cancel Bill" Class="ml-2" Icon="@Icons.Material.Filled.DoNotDisturb" Size="Size.Small" Variant="Variant.Filled" />
                        <MudIconButton OnClick="@(()=> PrintAnnexure(context.ProformaInvoiceID))" Color="Color.Tertiary" Title="Annexure Invoice" Class="ml-2" Icon="@Icons.Material.Filled.Assignment" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    else if (@context.AuthLevelId != 100)
                    {
                        <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Success" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    <MudIconButton OnClick="@(()=> Print(context.ProformaInvoiceID,(context.AuthLevelId == 99) ? "TAX INVOICE" : "PROFORMA INVOICE"))" Color="Color.Tertiary" Title="Print Performa Invoice" Class="ml-2" Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
                <MudItem xs="12" md="9"> </MudItem><MudItem xs="12" md="3">
                </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private ProformaInvoiceModel model = new ProformaInvoiceModel();
    private List<ProformaInvoiceModel> collection = new List<ProformaInvoiceModel>();
    private bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;
    private string searchTerm = "";
    int BranchID;
    string UserID;

    [Parameter]
    public int? id { get; set; } = null;

    public bool HasPermissionFreightBillingServiceEditProformaInvoice { get; set; } = false;
    public bool HasPermissionFreightBillingServiceViewProformaInvoice { get; set; } = false;
    public bool HasPermissionFreightBillingServiceReverseProformaInvoice { get; set; } = false;
    public bool HasPermissionFreightBillingServiceCancelBillProformaInvoice { get; set; } = false;
    public int FreightBillingDocTypeID = 116;

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    public string BranchName = "";
    public string ReportName { get; set; }
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    // Method to print the Proforma Invoice
    private async Task Print(int? ProformaInvoiceID, string Title)
    {
        ReportParameters.Clear();
        ReportParameters.Add("ProformaInvoiceID", ProformaInvoiceID.ToString());
        ReportParameters.Add("Title", Title);
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintTaxInvoice");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }

    // Method to print the annexure of the Proforma Invoice
    private async Task PrintAnnexure(int? ProformaInvoiceID)
    {
        ReportParameters.Clear();
        ReportParameters.Add("ProformaInvoiceID", ProformaInvoiceID.ToString());
        ReportParameters.Add("BranchName", BranchName);
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "AnnexureToInvoice");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }

    // Method to handle search key events
    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    // Method to reload the table with Proforma Invoices
    private async Task ReloadTable()
    {
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionFreightBillingServiceEditProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionFreightBillingServiceViewProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "View", ctc.Token);
        HasPermissionFreightBillingServiceReverseProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "Reverse", ctc.Token);
        HasPermissionFreightBillingServiceCancelBillProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "Cancel Bill", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        BranchName = User.Claims.First(x => x.Type == "BranchName").Value;
        UserID = User.Identity.Name;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);

        await Task.Delay(200);
        await signalRService.StartAsync();
        if (id != null && collection != null && collection.Any(g => g.ProformaInvoiceID == id))
        {
            await OpenDialog(collection.FirstOrDefault(s => s.ProformaInvoiceID == id), true);
        }
    }

    // Method to handle changes in the approval status
    void ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    // Method to open the Proforma Invoice dialog
    public async Task OpenDialog(ProformaInvoiceModel pfm, bool ReadOnly)
    {
        if (HasPermissionFreightBillingServiceViewProformaInvoice)
        {
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
            pfm.Gst = IFreightBilling.GetGstRate(pfm.DraftBillID);
            //pfm.UserInfo.UserID = UserID;
            pfm.BookedGCs = IFreightBilling.GetBilled(pfm.DraftBillID).ToList();
            DialogParameters parms = new DialogParameters();
            parms.Add("model", pfm.Clone());
            parms.Add("ReadOnly", ReadOnly);
            parms.Add("PageToRedirectLink", "/ProformaInvoiceView");
            var dialog = DialogService.Show<ProformaInvoiceDialog>("Proforma Invoice", parms, maxWidth);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                if (HasPermissionFreightBillingServiceEditProformaInvoice)
                {
                    ProformaInvoiceModel UpatedModel = (ProformaInvoiceModel)result.Data;

                    // Update the Proforma Invoice in the database
                    var SaveResult = IFreightBilling.UpdateProformaInvoice(UpatedModel);

                    var ReturnData = UpatedModel;
                    if (SaveResult != -1)
                    {
                        notificationMessage.InitiateBranch = new BranchModel() { BranchID = ReturnData.BranchID };
                        notificationMessage.ReceivedBranch = new BranchModel() { BranchID = ReturnData.BranchID };
                        notificationMessage.MessageTitle = IPushNotification.GetMessageTitle(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification");
                        notificationMessage.MessageBody = IPushNotification.GetMessageBody(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification", ReturnData.DocumentDate);
                        notificationMessage.RedirectedTo = 0;
                        notificationMessage.ExpiredBy = 7;
                        notificationMessage.DocumentID = SaveResult;
                        notificationMessage.MessageGroupID = "PendingVerification";
                        notificationMessage.PageToRedirectLink = "/ProformaInvoiceView";
                        notificationMessage.ClaimValue = "Verify 1";
                        notificationMessage.DocumentTypeID = FreightBillingDocTypeID;
                        notificationMessage.MsgDate = DateTime.Now;
                        await signalRService.Send(notificationMessage);

                    }
                    snackbar.Add("Saved Successfully ", Severity.Success);//value = "visible";
                }
                else
                {
                    bool? resultmsg = await DialogService.ShowMessageBox(
                        "Permission denied!",
                        "You don't have any permission to EditProformaInvoice FreightBilling.");
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to ViewProformaInvoice FreightBilling.");
        }
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    // Method to retrieve Proforma Invoices based on approval status and number of records
    public void GetPerfomaInvoice(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;

        // Fetch the list of Proforma Invoices based on approval status
        if (val)
        {
            collection = IFreightBilling.SelectProformaInvoiceList(BranchID, 0, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = IFreightBilling.SelectPendingProformaInvoiceList(BranchID, NumberOfRecords, searchTerm).ToList();
        }
    }

    // Method to delete a Proforma Invoice
    public async Task Delete(ProformaInvoiceModel model)
    {
        try
        {
            if (HasPermissionFreightBillingServiceCancelBillProformaInvoice)
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning !",
                    "Are you sure, you want to Cancel the Bill - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
                if (result == true)
                {
                    // Attempt to delete the approved Proforma Invoice
                    int a = IFreightBilling.DeleteApproved(model);
                    if (a != 0)
                    {
                        snackbar.Add("Bill Cancelled Successfully", Severity.Success);
                    }
                    else
                    {
                        snackbar.Add("Cancelation Failed !", Severity.Success);
                    }
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You don't have any permission to CancelBill FreightBilling.");
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    // Method to reverse a Proforma Invoice
    public async Task Reverse(ProformaInvoiceModel model)
    {
        try
        {
            if (HasPermissionFreightBillingServiceReverseProformaInvoice)
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning !",
                    "Are you sure, you want to reverse document - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
                if (result == true)
                {
                    // Reverse the Proforma Invoice
                    IFreightBilling.ReverseProformaInvoice(model.ProformaInvoiceID, UserID);
                    snackbar.Add("Updated Successfully", Severity.Success);
                    GetPerfomaInvoice(IsApproved, NumberOfRecords);
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You don't have any permission to ReverseProformaInvoice FreightBilling.");
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }
}
