@page "/ProformaInvoiceView"
@using System.Threading;
@inject IFreightBillingService Iservice
@inject IDimensionService dimensionIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService

@layout BillsLayout

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Proforma Invoices</MudText>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Proforma..." Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                              @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">TotalAmount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Primary" title="View" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                    @if (@context.AuthLevelId == null)
                    {
                        <MudFab @onclick="@(()=> Reverse(context))" Color="Color.Error" title="Reverse" Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(()=> OpenDialog(context,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Success" title="verify" Icon="@Icons.Material.Filled.Verified" Size="Size.Small" IconSize="Size.Small" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                <MudItem xs="12" md="9"> </MudItem><MudItem xs="12" md="3">
                </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {
    private ProformaInvoiceModel model = new ProformaInvoiceModel();
    private List<ProformaInvoiceModel> collection = new List<ProformaInvoiceModel>();

    private bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;
    private string searchTerm = "";
    int BranchID;
    string UserID;

    public bool HasAuthoriseDelete { get; set; } = false;
    int DocTypeID = 2;


    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {

        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;        
        BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }
    void ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }
    public async Task OpenDialog(ProformaInvoiceModel pfm, bool ReadOnly)
    {        
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        pfm.Gst = Iservice.GetGstRate(pfm.DraftBillID);
        pfm.UserInfo.UserID = UserID;
        pfm.BookedGCs = Iservice.GetBilled(pfm.DraftBillID).ToList();
        DialogParameters parms = new DialogParameters();
        parms.Add("model", pfm);
        parms.Add("ReadOnly", ReadOnly);        
        var dialog = DialogService.Show<ProformaInvoceDialog>("Proforma Invoce", parms, maxWidth);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            ProformaInvoiceModel UpatedModel = (ProformaInvoiceModel)result.Data;
            Iservice.UpdateProformaInvoice(UpatedModel);
            snackbar.Add("Saved Successfully ", Severity.Success);//value = "visible";
        }
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    public void GetPerfomaInvoice(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;

        if (val)
        {
            collection = Iservice.SelectProformaInvoiceList(0, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectPendingProformaInvoiceList(NumberOfRecords, searchTerm).ToList();
        }
    }

    public async Task Reverse(ProformaInvoiceModel pim)
    {

        if (HasAuthoriseDelete)
        {
        Iservice.ReverseProformaInvoice(pim.ProformaInvoiceID, UserID);
        snackbar.Add("Updated Successfully", Severity.Success);
        GetPerfomaInvoice(IsApproved, NumberOfRecords);

        }
        else
        {

            bool? result = await DialogService.ShowMessageBox(
        "Permission denied!",
        "You dont have any permission to reverse.");
        }
    }

}
