@page "/ProformaInvoiceView"
@page "/ProformaInvoiceView/{id:int}"
@using System.Threading;
@inject IFreightBillingService Iservice
@inject IDimensionService dimensionIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService
@layout BillsLayout

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="1" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Proforma Invoices</MudText>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Proforma..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenDialog(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Reverse(context))" Color="Color.Error" Title="Reverse" Class="ml-2" Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Small" Variant="Variant.Filled" />

                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="FreightBillingDocTypeID" DocumentID="context.ProformaInvoiceID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                    }
                    else
                    {
                        <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Success" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                <MudItem xs="12" md="9"> </MudItem><MudItem xs="12" md="3">
                </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private ProformaInvoiceModel model = new ProformaInvoiceModel();
    private List<ProformaInvoiceModel> collection = new List<ProformaInvoiceModel>();
    private bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;
    private string searchTerm = "";
    int BranchID;
    string UserID;

    [Parameter]
    public int? id { get; set; } = null;

    public bool HasPermissionFreightBillingServiceEditProformaInvoice { get; set; } = false;
    public bool HasPermissionFreightBillingServiceViewProformaInvoice { get; set; } = false;
    public bool HasPermissionFreightBillingServiceReverseProformaInvoice { get; set; } = false;
    public int FreightBillingDocTypeID = 116;

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionFreightBillingServiceEditProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionFreightBillingServiceViewProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "View", ctc.Token);
        HasPermissionFreightBillingServiceReverseProformaInvoice = await Irole.HasClaim(FreightBillingDocTypeID.ToString(), "Reverse", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);

        await Task.Delay(200);
        await signalRService.StartAsync();
        if (id != null && collection != null && collection.Any(g => g.ProformaInvoiceID == id))
        {
            await OpenDialog(collection.FirstOrDefault(s => s.ProformaInvoiceID == id), true);
        }
    }

    void ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetPerfomaInvoice(IsApproved, NumberOfRecords);
    }

    public async Task OpenDialog(ProformaInvoiceModel pfm, bool ReadOnly)
    {
        if (HasPermissionFreightBillingServiceViewProformaInvoice)
        {
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
            pfm.Gst = Iservice.GetGstRate(pfm.DraftBillID);
            pfm.UserInfo.UserID = UserID;
            pfm.BookedGCs = Iservice.GetBilled(pfm.DraftBillID).ToList();
            DialogParameters parms = new DialogParameters();
            parms.Add("model", pfm.Clone());
            parms.Add("ReadOnly", ReadOnly);
            parms.Add("PageToRedirectLink", "/ProformaInvoiceView");
            var dialog = DialogService.Show<ProformaInvoiceDialog>("Proforma Invoice", parms, maxWidth);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                if (HasPermissionFreightBillingServiceEditProformaInvoice)
                {
                    ProformaInvoiceModel UpatedModel = (ProformaInvoiceModel)result.Data;
                    var SaveResult = Iservice.UpdateProformaInvoice(UpatedModel);

                    var ReturnData = UpatedModel;
                    if (SaveResult != -1)
                    {
                        notificationMessage.InitiateBranch = new BranchModel() { BranchID = ReturnData.BranchID };
                        notificationMessage.ReceivedBranch = new BranchModel() { BranchID = ReturnData.BranchID };
                        notificationMessage.MessageTitle = IpushNotificationService.GetMessageTitle(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification");
                        notificationMessage.MessageBody = IpushNotificationService.GetMessageBody(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification", ReturnData.DocumentDate);
                        notificationMessage.RedirectedTo = 0;
                        notificationMessage.ExpiredBy = 7;
                        notificationMessage.DocumentID = SaveResult;
                        notificationMessage.MessageGroupID = "PendingVerification";
                        notificationMessage.PageToRedirectLink = "/ProformaInvoiceView";
                        notificationMessage.ClaimValue = "Verify 1";
                        notificationMessage.DocumentTypeID = FreightBillingDocTypeID;
                        notificationMessage.MsgDate = DateTime.Now;
                        await signalRService.Send(notificationMessage);

                    }
                    snackbar.Add("Saved Successfully ", Severity.Success);//value = "visible";
                }
                else
                {
                    bool? resultmsg = await DialogService.ShowMessageBox(
                        "Permission denied!",
                        "You dont have any permission to EditProformaInvoice FreightBilling.");
                }
            }
            GetPerfomaInvoice(IsApproved, NumberOfRecords);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to ViewProformaInvoice FreightBilling.");
        }
    }

    public void GetPerfomaInvoice(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;

        if (val)
        {
            collection = Iservice.SelectProformaInvoiceList(BranchID, 0, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectPendingProformaInvoiceList(BranchID, NumberOfRecords, searchTerm).ToList();
        }
    }

    public async Task Reverse(ProformaInvoiceModel pim)
    {
        if (HasPermissionFreightBillingServiceReverseProformaInvoice)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to reverse document - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
            if (result == true)
            {
                Iservice.ReverseProformaInvoice(pim.ProformaInvoiceID, UserID);
                snackbar.Add("Updated Successfully", Severity.Success);
                GetPerfomaInvoice(IsApproved, NumberOfRecords);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to ReverseProformaInvoice FreightBilling.");
        }
    }
}