@using System.Threading;

@using Microsoft.Extensions.Configuration
@using Views.Pages.Finance.Transactions.PurchaseAndPayment
@inject IReceiptService Iservice
@inject IPartyService partyIservice
@inject IOutstandingBillsService OutstandingIservice
@inject TruckDataArrayModel data
@inject IConfiguration configuration
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Receipt" formID="receiptForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="receiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudSelect Label="Select Party Type" Value="@model.BusinessNature" ValueChanged="BusinessNatureChanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            <MudSelectItem Value="@("Supplier")" />
                            <MudSelectItem Value="@("Customer")" />
                            <MudSelectItem Value="@("Renter")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <PartySelector Value="model.PartyInfo" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature" BranchID="branchID" For="(() => model.PartyInfo)" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudSelect Label="Nature Of Receipt" ReadOnly="ReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionchanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            <MudSelectItem Value="@("Deposit")" />
                            @if (!(model.BusinessNature == "Supplier"))
                            {
                                <MudSelectItem Value="@("Reciept")" />
                            }
                            <MudSelectItem Value="@("Prepayment")" />
                        </MudSelect>
                    </MudItem>
                    @if (model.Bills.Any())
                    {
                        <MudItem xs="12">
                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Bordered Elevation="0" >
                                <thead>
                                    <tr>
                                        <th>Invoice info</th>
                                        <th>Branch</th>
                                        <th>ReceiptAmount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in model.Bills)
                                    {
                                        <tr>
                                            <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                            <td>@item.BranchName</td>
                                            <td> <MudTextField T="decimal?" @bind-Value="item.ReceiptAmount" TextChanged="calcTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>
                                        </tr>
                                    }                                    
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode"
                        @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID"
                        @bind-BankCharges="@model.BankCharges" @bind-BankTool="@model.ReceiptTool" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Effective Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EffectiveDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="@ReadOnly" Disabled="@model.Bills.Any()" @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>
                    </MudItem>
                    
                    @* <MudItem xs="12" md="3">
                        <CostCenterSelector @bind-Value="@model.CostCenter"></CostCenterSelector>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <DimensionSelector @bind-Value="@model.Dimension"></DimensionSelector>
                    </MudItem> *@
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="ReceiptDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.ReceiptID" OnApprove="ApproveData"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public ReceiptModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    DialogForm dialogForm;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private bool _busy;

    public DocumentDetailsModel DocumentDetails { get; set; } = new();

    public bool HasPermissionReceiptServiceEdit { get; set; } = false;
    public bool HasPermissionReceiptServiceApprove { get; set; } = false;
    public int ReceiptDocTypeID = 14;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionReceiptServiceEdit = await Irole.HasClaim(ReceiptDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionReceiptServiceApprove = await Irole.HasClaim(ReceiptDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        if (model.ReceiptID != null)
        {
            model.Bills = Iservice.GetBills(model.ReceiptID).ToList();
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
        }
        else
        {
            model.BranchID = branchID;
        }

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);

        DocumentDetails.DocumentTypeID = ReceiptDocTypeID;
        DocumentDetails.DocumentID = model.ReceiptID;
    }

    async Task BusinessNatureChanged(string bn)
    {
        model.BusinessNature = bn;
        await PartyChanged(null);
        model.TotalAmount = 0;
    }

    async Task PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;
        await nTransactionchanged(null);
    }

    private async Task nTransactionchanged(string nt)
    {
        model.NatureOfTransaction = nt;
        if (nt != "Reciept")
        {
            model.Bills.Clear();
        }
        else
        {
            await OpenOutstandingBills();
        }
    }

    private void calcTotalAmt()
    {
        model.TotalAmount = model.Bills.Sum(x => x.ReceiptAmount);
    }

    private async Task OpenOutstandingBills()
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo?.PartyID ?? null);
        parms.Add("BranchID", branchID);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;
        List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
        if (!result.Canceled)
        {
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            if (SelectedItems != null)
            {
                foreach (var item in SelectedItems)
                {
                    model.Bills.Add(new BillsReceiptModel()
                        {
                            MID = item.MID,
                            BranchName = item.BranchName,
                            BranchID = item.BranchID,
                            InvoiceDate = item.ReferenceDocDate,
                            InvoiceNumber = item.ReferenceDocNo,
                            ReceiptAmount = item.OutstandingAmount,
                            CoaID = item.CoaID, 
                        });
                }
            }
        }
        else
        {
            await nTransactionchanged(null);
        }
    }

    public async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionReceiptServiceEdit)
        {
            try
            {
                model.PartyCoaID = partyIservice.GetPartyCoaID(model.PartyInfo.PartyID, model.BusinessNature, model.NatureOfTransaction);
                if (model.PartyCoaID == null)
                {
                    throw new Exception("Party Account is not mapped for " + model.NatureOfTransaction + "!");
                }
                model.UserInfo.UserID = UserID;
                Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit Receipt.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    protected async Task ApproveData(DataApprovedStatus aprvd)
    {
        if (HasPermissionReceiptServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.ReceiptID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve Receipt.");
        }
    }
}