@inherits DialogFormComponentBase<ReceiptModel>
@inject IReceiptService Iservice
@using PurchaseAndPayment

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Receipt" formID="receiptForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="receiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudSelect Label="Select Party Type" Value="@model.BusinessNature" ValueChanged="BusinessNatureChanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary">
                            <MudSelectItem Value="@("Supplier")" />
                            <MudSelectItem Value="@("Customer")" />
                            <MudSelectItem Value="@("Renter")" />
                            <MudSelectItem Value="@("SisterConcern")" >Sister Concern</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <PartySelector Value="model.PartyInfo" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature" BranchID="BranchID" For="(() => model.PartyInfo)" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <MudSelect Label="Nature Of Receipt" ReadOnly="ReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionChanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary">
                            @if (model.PartyInfo is not null)
                            {
                                foreach (var item in natureOfBusinessGroup)
                                {
                                    <MudSelectItem Value="@(item)" />
                                }
                            }
                        </MudSelect>
                    </MudItem>
                    @if (model.Bills.Any())
                    {
                        <MudItem xs="12">
                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Bordered Elevation="0" Outlined >
                                <thead>
                                    <tr>
                                        <th>Invoice info</th>
                                        <th>Branch</th>
                                        <th>ReceiptAmount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in model.Bills)
                                    {
                                        <tr>
                                            <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                            <td>@item.BranchName</td>
                                            <td> <MudTextField ReadOnly="@ReadOnly" T="decimal?" @bind-Value="item.ReceiptAmount" TextChanged="setTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>
                                        </tr>
                                    }                                    
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode"
                        @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID"
                        @bind-BankCharges="@model.BankCharges" @bind-BankTool="@model.ReceiptTool" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Effective Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EffectiveDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="@ReadOnly" Disabled="@model.Bills.Any()" @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>
                    </MudItem>                    
                   
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="DocInfo.DocumentTypeID" DocDate="@DocDate" DocumentID="model.ReceiptID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {


    [Parameter]
    public override ReceiptModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.ReceiptID; } }
    private ReceiptModel _model;


    string[] natureOfBusinessGroup = new string[] { };
    string[] RentGroup = { "Rent", "Deposit", "Other" };
    string[] SupplierGroup = { "Deposit", "Payable", "Prepayment" };
    string[] CustomerGroup = { "Deposit", "Receivable", "Prepayment" };
    string[] SisterGroup = { "Deposit", "Trade", "Prepayment" };

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 14,
            DocumentName = "Receipt"
        };
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (model.ReceiptID != null)
        {
            model.Bills = Iservice.GetBills(model.ReceiptID.Value).ToList();
        }
        else
        {
            model.BranchID = BranchID;
            model.BusinessNature = "Customer";
        }
        SetNTransaction(model.BusinessNature);
    }

    protected override async Task<int> Update(ReceiptModel editModel)
    {
        model = Iservice.Update(model);
        return model.ReceiptID.Value;
    }

    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.ReceiptID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }


    void SetNTransaction(string nBusiness)
    {
        if (nBusiness == "Renter")
        {
            natureOfBusinessGroup = RentGroup;
        }
        else if (nBusiness == "Customer")
        {
            natureOfBusinessGroup = CustomerGroup;
        }
        else if (nBusiness == "Supplier")
        {
            natureOfBusinessGroup = SupplierGroup;
        }
        else if (nBusiness == "SisterConcern")
        {
            natureOfBusinessGroup = SisterGroup;
        }
        else
        {
            natureOfBusinessGroup = new string[] { };
        }
    }    


    async Task BusinessNatureChanged(string bn)
    {
        model.BusinessNature = bn;
        await PartyChanged(null);
        SetNTransaction(bn);
        model.TotalAmount = 0;
    }

    async Task PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;
        await nTransactionChanged(null);
    }


    private async Task nTransactionChanged(string nt)
    {
        model.NatureOfTransaction = nt;
        if (model.NatureOfTransaction is not null)
        {
            model.PartyCoaID = partyService.GetPartyCoaID(model.PartyInfo.PartyID, model.BusinessNature, model.NatureOfTransaction);
            if (model.PartyCoaID == null)
            {
                bool? result = await dialogService.ShowMessageBox(
                    "Account Not Mapped!",
                    "Party Account is not mapped for " + model.NatureOfTransaction + "!");
                model.NatureOfTransaction = null;
            }
        }

        if (nt == "Receivable")
        {
            await OpenOutstandingBills();
        }
        else
        {
            model.Bills.Clear();
        }
    }    

    private void setTotalAmt()
    {
        model.TotalAmount = model.Bills.Sum(x => x.ReceiptAmount);
    }

    private async Task OpenOutstandingBills()
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo?.PartyID ?? null);
        parms.Add("BranchID", BranchID);
        var dialog = dialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;
        List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
        if (!result.Canceled)
        {
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            if (SelectedItems != null)
            {
                foreach (var item in SelectedItems)
                {
                        model.Bills.Add(new BillsReceiptModel()
                        {
                            MID = item.MID,
                            BranchName = item.BranchName,
                            BranchID = item.BranchID,
                            InvoiceDate = item.ReferenceDocDate,
                            InvoiceNumber = item.ReferenceDocNo,
                            ReceiptAmount = item.OutstandingAmount,
                            PartyID = item.PartyInfo.PartyID,                            
                            CoaID = item.CoaID,
                            SubArdCode = item.SubArdCode
                        });
                }
            }
        }
        else
        {
            await nTransactionChanged(null);
        }
    }
  
}