@using Microsoft.Extensions.Configuration
@using Views.Pages.Finance.Transactions.PurchaseAndPayment
@inject IReceiptService Iservice
@inject IPartyService partyIservice
@inject IOutstandingBillsService OutstandingIservice
@inject TruckDataArrayModel data
@inject IConfiguration configuration
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Receipt" formID="receiptForm" model="@model">
    <FormContent>
        <MudPaper Class="p-3" >
         <EditForm id="receiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudSelect Label="Select Party Type" Value="@model.BusinessNature" ValueChanged="BusinessNatureChanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Supplier")" />
                        <MudSelectItem Value="@("Customer")" />
                        <MudSelectItem Value="@("Renter")" />
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="4">
                    <PartySelector Value="model.PartyInfo" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature" For="(() => model.PartyInfo)"/>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudSelect Label="Nature Of Receipt" ReadOnly="ReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionchanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Deposit")" />
                        <MudSelectItem Value="@("Reciept")" />
                        <MudSelectItem Value="@("Prepayment")" />
                    </MudSelect>
                </MudItem>
                @if (model.Bills.Any())
                {
                    <MudItem xs="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th>Invoice info</th>
                                    <th>Branch</th>
                                    <th>ReceiptAmount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Bills)
                                {
                                    <tr>
                                        <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                        <td>@item.BranchName</td>
                                        <td> <MudTextField T="decimal?" @bind-Value="item.ReceiptAmount" TextChanged="calcTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total:@model.TotalAmount</td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                }
                <MudItem xs="12" md="12">
                    <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode"
                                            @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID"
                                            @bind-BankCharges="@model.BankCharges" @bind-BankTool="@model.ReceiptTool" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker ReadOnly="ReadOnly" Label="Effective Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EffectiveDate" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                </MudItem>                
                <MudItem xs="12" md="3">
                    <MudDatePicker ReadOnly="ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="3">
                    <CostCenterSelector @bind-Value="@model.CostCenter"></CostCenterSelector>
                </MudItem>
                <MudItem xs="12" md="3">
                    <DimensionSelector @bind-Value="@model.Dimension"></DimensionSelector>
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudCheckBox @bind-Checked="model.IsRealized" T="bool" ReadOnly="ReadOnly" Label="IsRealized" Color="Color.Primary"></MudCheckBox>
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                </MudItem>
            </MudGrid>
        </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="14" DocumentID="model.ReceiptID" OnApprove="ApproveData"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>



@code {
    [Parameter]
    public ReceiptModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }


    //bool Isbill = false;
    private int? branchID = null;
    private string UserID = null;

    private EditContext editContext;

    DialogForm dialogForm;
    int DocTypeID = 11;


    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);        
        UserID = User.Identity.Name;

        if (model.ReceiptID != null)
        {            
            model.Bills = Iservice.GetBills(model.ReceiptID).ToList();
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
        }
        else
            model.BranchID = branchID;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
    }

    async Task BusinessNatureChanged(string bn)
    {
        model.BusinessNature = bn;
        await PartyChanged(null);
    }

    async Task PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;
        await nTransactionchanged(null);
    }

    private async Task nTransactionchanged(string nt)
    {
        model.NatureOfTransaction = nt;
        if (nt != "Reciept")
        {
            model.Bills.Clear();
        }
        else
        {            
            await OpenOutstandingBills();
        }
    }

    private void calcTotalAmt()
    {
        model.TotalAmount = model.Bills.Sum(x=> x.ReceiptAmount);        
    }

    private async Task OpenOutstandingBills()
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        parms.Add("BranchID", branchID);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;
        List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
        if (!result.Canceled)
        {
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            if (SelectedItems != null)
            {
                foreach (var item in SelectedItems)
                {
                    BillsReceiptModel bpm = new BillsReceiptModel();
                    bpm.MID = item.MID;
                    bpm.BranchName = item.BranchName;
                    bpm.BranchID = item.BranchID;
                    bpm.InvoiceDate = item.ReferenceDocDate;
                    bpm.InvoiceNumber = item.ReferenceDocNo;
                    bpm.ReceiptAmount = item.OutstandingAmount;
                    model.Bills.Add(bpm);                }
            }
        }
    }

    public void OnValidSubmit(EditContext context)
    {
        try
        {
            model.PartyCoaID = partyIservice.GetPartyCoaID(model.PartyInfo.PartyID, model.BusinessNature, model.NatureOfTransaction);
            if (model.PartyCoaID == null)
            {
                throw new Exception("Party Account is not mapped for "+model.NatureOfTransaction+"!");
            }
            model.UserInfo.UserID = UserID;
            Iservice.Update(model);
            snackbar.Add("Saved Successfully", Severity.Success);
            dialogForm.Close(model);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    protected void ApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Approve(model.ReceiptID, model.UserInfo.UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }


        }

    }

}
