@page "/truckadd"

@inject TruckDataArrayModel data
@inject ITruckService Iservice
@inject ITruckTypeService Itrucktype
@inject IBranchService Ibranch
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IAssetService Iasset
@attribute [Authorize]

@using System.Globalization
<MudDialog>
    <DialogContent>
        <div style="max-height:500px;overflow-y:scroll">
            <MudContainer >
                <EditForm id="truckForm" Model="@EditModel" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />                    
                        <MudGrid>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="EditModel.CurrentRegistration.RegNo" Class=dropstyle Margin=Margin.Normal Label="Registered Number" Variant="Variant.Outlined" For="@(() => EditModel.CurrentRegistration.RegNo)"></MudTextField>
                            </MudItem>
                            <MudItem xs="6">
                                <MudSelect Variant="Variant.Outlined" Label="Home Branch" @bind-Value="EditModel.HomeBranchID" Margin=Margin.Normal OffsetY="true" AdornmentColor="Color.Secondary">
                                    @foreach (var item in Branches)
                                    {
                                        <MudSelectItem Value="@item.BranchID">@item.BranchName</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="6">
                                <MudDatePicker Margin="Margin.Normal" Variant="Variant.Outlined" Label="valid from" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectFrom" HelperText="Enter Date" Culture="@CultureInfo.GetCultureInfo("en-IN")" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudDatePicker Margin="Margin.Normal" Variant="Variant.Outlined" Label="Valid up to" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectTo" HelperText="Enter Date" Culture="@CultureInfo.GetCultureInfo("en-IN")" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudSelect Margin="Margin.Normal" Variant="Variant.Outlined" Label="Select Type" @bind-Value="EditModel.TruckTypeID" OffsetY="true" AdornmentColor="Color.Secondary">
                                    @foreach (var item in TruckTypes)
                                    {
                                        <MudSelectItem Value="@item.TruckTypeID">@item.TruckType</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="6">
                                <MudSelect Margin="Margin.Normal" Variant="Variant.Outlined" Label="Select Body Type" @bind-Value="EditModel.BodyType" OffsetY="true" AdornmentColor="Color.Secondary">
                                    @foreach (var item in data.BodyTypes)
                                    {
                                        <MudSelectItem Value="@item">@item</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="EditModel.EngineNumber" Label="Engine Number" Variant="Variant.Outlined" Margin="Margin.Normal" For="@(() => EditModel.EngineNumber)"></MudTextField>
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="EditModel.ChassisNumber" Label="Chassis Number" Variant="Variant.Outlined" Margin="Margin.Normal" For="@(() => EditModel.ChassisNumber)"></MudTextField>
                            </MudItem>
                            <MudItem xs="6">
                                <MudSelect Margin="Margin.Normal" Label="Select Fuel Type" @bind-Value="EditModel.FuelType" OffsetY="true" Variant="Variant.Outlined" AdornmentColor="Color.Secondary">
                                    @foreach (var item in data.FuelTypes)
                                    {
                                        <MudSelectItem Value="@item">@item</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="EditModel.FuelTankCapacity" Label="FuelTank Capacity" Variant="Variant.Outlined" Margin="Margin.Normal" For="@(() => EditModel.FuelTankCapacity)"></MudTextField>
                            </MudItem>
                            <MudItem xs="6">
                                <MudDatePicker Margin="Margin.Normal" Variant="Variant.Outlined" Label="Purchase Date" DisableToolbar="true" Editable="true" @bind-Date="EditModel.PurchaseDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="EditModel.ManufacturedYear" Label="Manufactured Year" Variant="Variant.Outlined" Margin="Margin.Normal" For="@(() => EditModel.ManufacturedYear)"></MudTextField>
                            </MudItem>
                            <MudItem xs="6">
                                <MudSelect Margin="Margin.Normal" Variant="Variant.Outlined" Class="mt-1" Label="Select Transmission Type" @bind-Value="EditModel.TransmissionType" OffsetY="true" AdornmentColor="Color.Secondary">
                                    @foreach (var item in data.TransmissionTypes)
                                    {
                                        <MudSelectItem Value="@item">@item</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="6">
                                <AssetSelector Class="dropstyle mt-1" Label="Link Asset" Value="SelectedAsset" ValueChanged="AssetSelected" BranchID="EditModel.HomeBranchID??0">
                                </AssetSelector>
                            </MudItem>
                        </MudGrid>                        
                </EditForm>
            </MudContainer>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton form="truckForm" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save Truck</MudButton>

    </DialogActions>

</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }   

    [Parameter]
    public TruckModel EditModel { get; set; } = new();

    private List<TruckTypeModel> TruckTypes = new List<TruckTypeModel>();
    private List<BranchModel> Branches = new List<BranchModel>();

    public AssetModel SelectedAsset { get; set; } = new();

    protected override void OnInitialized()
    {        
        TruckTypes = Itrucktype.Select(0).ToList();
        Branches = Ibranch.Select().ToList();
        if ((EditModel.AssetID??0) != 0)
            SelectedAsset = Iasset.SelectByID(EditModel.AssetID);
        else
            SelectedAsset = null;
    }   
    private void AssetSelected(AssetModel asset)
    {
        SelectedAsset = asset;
        EditModel.AssetID = asset?.AssetID;
    }

    private async void OnValidSubmit(EditContext context)
    {

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        EditModel.UserInfo.UserID = user.Identity.Name;
        EditModel.AssetID = SelectedAsset.AssetID;
        try
        {
            EditModel = Iservice.Update(EditModel);
            snackbar.Add("Saved Successfully", Severity.Success);
            MudDialog.Close(EditModel);            
            EditModel = new TruckModel();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

    }
    void Cancel(){
        EditModel = new();
        MudDialog.Cancel();
    }

   
    


}