@page "/truckadd"

@inject TruckDataArrayModel data
@inject ITruckService Iservice
@inject ITruckTypeService Itrucktype
@inject IBranchService Ibranch
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]

@using System.Globalization
<MudDialog Style="font-size:10px;margin-top:8%;">
 
    <DialogActions>
          <div style="height:600px;overflow-y:scroll">
<MudItem xs="12" >

      <EditForm Model="@EditModel" OnValidSubmit="OnValidSubmit">
               
          <DataAnnotationsValidator />

               <ValidationSummary />
                   <MudCardContent>
                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField  @bind-Value="EditModel.CurrentRegistration.RegNo" Class=dropstyle  Margin=Margin.Dense  Label="Registered Number" Variant="Variant.Text" For="@(() => EditModel.CurrentRegistration.RegNo)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="Home Branch" @bind-Value="EditModel.HomeBranchID" Margin=Margin.Dense  OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in Branches)
                                {
                                    <MudSelectItem Value="@item.BranchID">@item.BranchName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudDatePicker Class="dropstyle" Label="valid from" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectFrom" HelperText="Enter Date" Culture="@CultureInfo.GetCultureInfo("en-IN")" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudDatePicker Class="dropstyle" Label="Valid up to" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectTo" HelperText="Enter Date" Culture="@CultureInfo.GetCultureInfo("en-IN")" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="Select Type" @bind-Value="EditModel.TruckTypeID" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in TruckTypes)
                                {
                                    <MudSelectItem Value="@item.TruckTypeID">@item.TruckType</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="Select Body Type" @bind-Value="EditModel.BodyType" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.BodyTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="dropstyle"   @bind-Value="EditModel.EngineNumber"  Label="Engine Number" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.EngineNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="dropstyle" @bind-Value="EditModel.ChassisNumber" Label="Chassis Number" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.ChassisNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="Select Fuel Type" @bind-Value="EditModel.FuelType" OffsetY="true" Variant="Variant.Text" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.FuelTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="dropstyle" @bind-Value="EditModel.FuelTankCapacity" Label="FuelTank Capacity" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.FuelTankCapacity)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudDatePicker Label="Purchase Date" DisableToolbar="true" Editable="true" @bind-Date="EditModel.PurchaseDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField Class="dropstyle" @bind-Value="EditModel.ManufacturedYear" Label="Manufactured Year" Variant="Variant.Text" Margin="Margin.Normal" For="@(() => EditModel.ManufacturedYear)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="Select Transmission Type" @bind-Value="EditModel.TransmissionType" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.TransmissionTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudGrid>
                    <br />
                    <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save Truck</MudButton>

                </MudCardContent>
            </EditForm>
       
    </MudItem>
    </div>
    <br>
<br />
<br />
</DialogActions>

</MudDialog>

    @code {
        [Parameter]
    public TruckModel EditModel { get; set; }

    private string searchTruck = "";
    private List<TruckModel> collection = new List<TruckModel>();
    private List<TruckTypeModel> TruckTypes = new List<TruckTypeModel>();
    private List<BranchModel> Branches = new List<BranchModel>();


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());
        TruckTypes = Itrucktype.Select(0).ToList();
        Branches = Ibranch.Select().ToList();
    }
     private void GetAll()
    {
        collection.Clear();
        foreach (var item in Iservice.Select(0))
        {
            collection.Add(item);
        }
    }

    private async void OnValidSubmit(EditContext context)
    {
      
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        EditModel.UserInfo.UserID = user.Identity.Name;
        try
        {
            EditModel = Iservice.Update( EditModel);

            snackbar.Add("Saved Successfully", Severity.Success);
            if (collection.Exists(x => x.TruckID == EditModel.TruckID))
            {
                collection[collection.FindIndex(x => x.TruckID == EditModel.TruckID)] =  EditModel;
            }
            else
            {
                collection.Add( EditModel);
            }
             EditModel = new TruckModel();           
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Edit(int? id)
    {
         EditModel = Iservice.SelectByID(id);
        EditModel.CurrentRegistration = Iservice.GetRegistration(EditModel.TruckID);
    }
    private void Delete(int? id)
    {
        Iservice.Delete(id, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }


    private bool search(TruckModel Truck)
    {
        if (Truck.RegNo != null && Truck.RegNo.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (Truck.RegNo == null) return true;
        return false;
    }
      [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}


