
<MudPaper Width="250px" Class="d-inline-flex MenuClass" Style="height:100%" Square="true">
    <MudNavMenu Class="mud-width-full">
        <div class="px-6 py-2 logo">
            <a class="navbar-brand" href=""><img src="images/logoarms.png" style="margin-bottom:1%;" width="160px" /></a>
            <MudText Typo="Typo.subtitle2" Class="text-black-50 mt-2" Style="align-self:center"></MudText>
        </div>
        <MudDivider />
        <div class="py-3 menuContainer">
            <MudNavLink Href="/Userhome" Icon="@Icons.Outlined.VerifiedUser" IconColor="Color.Info">Users</MudNavLink>
            <MudNavLink Href="/userrole" Icon="@Icons.Outlined.VerifiedUser" IconColor="Color.Info">Role</MudNavLink>
            <MudNavLink Href="/branch" Icon="@Icons.Outlined.BarChart" IconColor="Color.Info">Branches</MudNavLink>
            <MudNavLink Href="/Store" Icon="@Icons.Outlined.Store" IconColor="Color.Info">Store</MudNavLink>
            <MudNavLink Href="/TripReviewManager" Icon="@Icons.Outlined.FireTruck" IconColor="Color.Info">Trip Manager</MudNavLink>
            <MudNavLink Href="/GeneralSettings" Icon="@Icons.Outlined.Settings" IconColor="Color.Info">Genaral Settings</MudNavLink>
            <MudNavLink Href="/DataAuthorizationSettingsView" Icon="@Icons.Outlined.Store" IconColor="Color.Info">Data Authorization Settings</MudNavLink>
        </div>
    </MudNavMenu>
</MudPaper>

@code {

}