@inject IDialogService DialogService
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsService
@inject IGstItemService gstIservice

@if (AssetList != null)
{
    @if (!ReadOnly || AssetList.Any())
    {
        <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
            <h6> <u>Assets</u></h6>
            <div style="width: 1600px;" class="pb-3">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="3"><span class="HeadText">Asset Code</span></MudItem>
                    <MudItem xs="1"><span class="HeadText">Description</span></MudItem>
                    <MudItem xs="1"><span class="HeadText">Nature Of Asset</span></MudItem>
                    <MudItem xs="2"><span class="HeadText">Account Name</span></MudItem>
                    <MudItem xs="2"><span class="HeadText">Book Value</span></MudItem>
                    <MudItem xs="1"><span class="HeadText">GST Rate</span></MudItem>
                    <MudItem xs="1"><span class="HeadText">GST Amount</span></MudItem>
                    <MudItem xs="1">Actions</MudItem>
                    @foreach (var item in AssetList)
                    {
                        <MudItem xs="3">@item.AssetCode</MudItem>
                        <MudItem xs="1">@item.Description</MudItem>
                        <MudItem xs="1">@item.NatureOfAsset</MudItem>
                        <MudItem xs="2">@item.AccountName</MudItem>
                        <MudItem xs="2">@item.BookValue</MudItem>
                        <MudItem xs="1">@item.TaxRate</MudItem>
                        <MudItem xs="1">@item.GSTValue</MudItem>
                        <MudItem xs="1" Class="d-flex">
                            @if (!ReadOnly)
                            {
                                <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> Delete(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                            }
                            @* <MudIconButton Title="Show Taxes" Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" /> *@
                        </MudItem>
                    }
                    @*                 @if (!ReadOnly && !NonInventoryItems)
            {
            <MudItem xs="3">
            <InventoryItemSelector Value="InventoryItem" ValueChanged="ItemSelected" />
            </MudItem>
            <MudItem xs="1">
            <MudNumericField HideSpinButtons
            Label="Quantity" @bind-Value="Model.ItemQty" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
            </MudItem>
            <MudItem xs="1">
            <MudNumericField HideSpinButtons
            Label="Item Rate" @bind-Value="Model.ItemRate" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
            </MudItem>
            <MudItem xs="2">
            <CostCenterSelector @bind-Value="@Model.CostCenter" @bind-ValueText="@Model.CostCenterVal" ReadOnly="@ReadOnly"></CostCenterSelector>
            </MudItem>
            <MudItem xs="2">
            <DimensionSelector @bind-Value="@Model.Dimension" @bind-ValueText=@Model.DimensionVal ReadOnly="@ReadOnly"></DimensionSelector>
            </MudItem>
            <MudItem xs="2" Class="d-flex align-center">
            @Model.Amount
            </MudItem>
            <MudItem xs="1" Class="d-flex align-center">
            <MudIconButton Title="Add" OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
            </MudItem>
            }
            *@
                </MudGrid>
            </div>
        </MudItem>
    }
}
@code {

    [Parameter]
    public List<AssetPOModel> AssetList { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public bool NonInventoryItems { get; set; }
    [Parameter]
    public int? BranchID { get; set; }
    [Parameter]
    public PartyModel PartyInfo { get; set; }
    [Parameter]
    public bool Local { get; set; } = true;
    [Parameter]
    public bool NonInventory { get; set; } = true;
    [Parameter]
    public EventCallback<AssetPOModel> OnAssetAdded { get; set; }
    [Parameter]
    public EventCallback OnAmountChange { get; set; }
    [Parameter]
    public bool EditMode { get; set; } = true;
    InventoryItemModel InventoryItem = new();
    AssetPOModel Model = new AssetPOModel();
    EditContext editContext;
    private bool _busy;

    protected override void OnParametersSet()
    {
        if (editContext == null)
        {
            editContext = new EditContext(Model);
            editContext.EnableDataAnnotationsValidation();
        }
    }

    protected override void OnInitialized()
    {
        if (AssetList != null)
        {
            if (AssetList.Count == 0)
            {
                NonInventoryItems = false;
            }
            else
            {
                NonInventoryItems = true;
            }
            if (!EditMode)
            {
                foreach (var item in AssetList)
                {
                    AddTax(item);
                }
            }
        }
    }

    public async Task AddItems()
    {
        if (AddTax(Model) && editContext.Validate())
        {
            await OnAssetAdded.InvokeAsync(Model);
            Model = new();
            InventoryItem = null;
        }
        else
        {
            snackbar.Add("Entered Items are invalid", Severity.Error);
        }
    }

    // void ItemSelected(AssetPOModel item)
    // {
    //     InventoryItem = item;
    //     Model.ItemID = InventoryItem?.InventoryItemID;
    //     Model.ItemDescription = InventoryItem?.ItemDescription;
    //     Model.CoaID = NonInventory ? (InventoryItem?.Group.MappedNonInventoryPurchaseHead) : InventoryItem?.Group.MappedPurchaseHead;
    // }

    private async Task Delete(AssetPOModel i)
    {
        int rowIndex = AssetList.IndexOf(i);
        AssetList.RemoveAt(rowIndex);
        await OnAmountChange.InvokeAsync();
    }

    private bool AddTax(AssetPOModel item)
    {
        // if (item?.ItemID != null && item.Amount != null)
        // {
        //     if (PartyInfo == null)
        //     {
        //         snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        //         snackbar.Add("Select Party !", Severity.Error);
        //         return false;
        //     }
        //     var gstItem = gstIservice.SelectByItem(item?.ItemID ?? 0, DateTime.Today);
        //     item.GstRate = gstItem?.TaxRate;
        //     decimal taxRate = item.GstRate ?? 0;
        //     if (!Local)
        //     {
        //         item.IGST = Math.Round(item.Amount.Value * taxRate / 100, 2);
        //     }
        //     else
        //     {
        //         item.SGST = Model.CGST = Math.Round(item.Amount.Value * taxRate / 200, 2);
        //     }
        //     decimal tdsRate = tdsService.GetTdsRate(PartyInfo.PartyID, item.CoaID);
        //     Model.TDS = Math.Round((item.Amount.Value * tdsRate) / 100, 2);
        //     return true;
        // }
        return false;
    }
}