@inject IDataAuthorizationService Iservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent><h3>Autherization Details</h3></TitleContent>
     <DialogContent>
    

   <MudPaper>
    <MudContainer Style="max-height: 450px; overflow-y: scroll">
    <MudGrid>
        <MudItem xs="12" md="12">
            <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model">


            <ToolBarContent>
                <MudText Typo="Typo.h6">DataAuthorization Status </MudText>
               


                <MudSpacer></MudSpacer>

            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationStatusModel, object>(x=> x.AuthType)" InitialDirection="SortDirection.Ascending">AuthType</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationStatusModel, object>(x=> x.IsCompleted)" InitialDirection="SortDirection.Ascending">IsCompleted</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationStatusModel, object>(x=> x.UserInfo.UserID)" InitialDirection="SortDirection.Ascending">UserID</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
              
                <MudTd DataLabel="DocumentNumber">@context.AuthType</MudTd>
                <MudTd DataLabel="PaymentMode">@context.IsCompleted</MudTd>
                <MudTd DataLabel="TotalAmount">@context.UserInfo</MudTd>
                <MudTd DataLabel="">
                    @*<MudTooltip Text="Edit">
                        <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>

                    <MudTooltip Text="View authentication Status">
                        <MudFab @onclick="@(()=> authentication(context))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>*@

                </MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                @*  <MudButton OnClick="selected" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>*@

            </PagerContent>
        </MudTable>
        </MudItem>
        
   
        
   
     
   
    </MudGrid>
    </MudContainer>
    </MudPaper>
    </DialogContent>
     <DialogActions>
      
        @* @if(@model.ApprovedInfo.RecordStatus!=1)
         {
           <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Success" >Submit</MudButton>
         }
         <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>
         *@
     </DialogActions>
    </MudDialog>
@code {
    [Parameter]
    public int? DocTypeID{ get; set; }
    [Parameter]
    public int? DocumentID{ get; set; }

    private DataAuthorizationStatusModel model = new DataAuthorizationStatusModel();

    private List<DataAuthorizationStatusModel> collection = new List<DataAuthorizationStatusModel>();

    protected override void OnInitialized()
    {

        GetAll();
    }
    private void GetAll()
    {
       
        collection = Iservice.GetAuthStatus(DocTypeID, DocumentID).ToList();



    }
}
