@page "/ProformaInvoiceDialog"
@inject IFreightBillingService Iservice
@inject IDimensionService dimensionIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>

<h3>Consolidate Draft Bill</h3>



@* <MudLink Href="ProformaInvoiceView" Underline="Underline.Always">PerfomaInvoice Approve</MudLink>

<hr />*@
 <MudGrid Spacing="4">
   <MudItem xs="12">
       
        <MudTable Items="@collection" @ref="mudTable" RowClassFunc="@SelectedRowClassFunc" OnRowClick="@RowClickEvent" @bind-SelectedItem="selectedItem1"   Dense="true" Hover="true"  Striped="true" Elevation="10"  @bind-place="model" T="ConsolidatedDraftBillModel">
           

            
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>
               <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">TotalAmount</MudTableSortLabel></MudTh>
                
                
                
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                
                 
                 
           
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
        
            </PagerContent>
        </MudTable>
    </MudItem>
       <MudItem xs="12"md="8"> </MudItem><MudItem xs="12"md="4">
                <MudButton OnClick="selected" Class="@value" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Create Proforma Invoice</MudButton>
        </MudItem>
    </MudGrid>
<br />
<br />
    @* <MudPaper Class="@value" >
    <MudContainer>
    <MudGrid   >
      <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.Reference"  Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
     <MudItem xs="12"md="4">
   
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="pmodel.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
   
     <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.TotalAmount" ReadOnly="true" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
      <MudItem xs="12" md="6">
                         <MudSelect Label="Select CostCenter" @bind-Value="pmodel.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                  </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Dimension" @bind-Value="pmodel.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="gs.GstRate"  Label="Cgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => gs.GstRate)"></MudTextField>
         </MudItem>

        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="gs.Cgst"  Label="Cgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => gs.Cgst)"></MudTextField>
         </MudItem>
          <MudItem xs="12" md="3">
            <MudTextField @bind-Value="gs.Igst"  Label="Igst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => gs.Igst)"></MudTextField>
         </MudItem>
          <MudItem xs="12" md="3">
            <MudTextField @bind-Value="gs.Sgst"  Label="Sgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => gs.Sgst)"></MudTextField>
         </MudItem>
         


                     <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="pmodel.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Narration)"></MudTextField>

                    </MudItem>
    <MudItem xs="12"md="10"> </MudItem><MudItem xs="12"md="2">
     <MudButton @onclick="Createbill" Variant="Variant.Filled"  Color="Color.Primary" >Submit</MudButton>
    </MudItem>

  </MudGrid></MudContainer></MudPaper>*@


@code {

    private ConsolidatedDraftBillModel model = new ConsolidatedDraftBillModel();
    private List<ConsolidatedDraftBillModel> collection = new List<ConsolidatedDraftBillModel>();
    // private HashSet<ConsolidatedDraftBillModel> selectedItems1= new HashSet<ConsolidatedDraftBillModel>();
    public string value="invisible";
    private MudTable<ConsolidatedDraftBillModel> mudTable;
    ProformaInvoiceModel pmodel=new();
    private ConsolidatedDraftBillModel selectedItem1 = null;
    private int selectedRowNumber = -1;
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    GstModel gs = new();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    protected override async Task OnInitializedAsync()
    {
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        GetConsolidatedDraftBill();
    }


    public void GetConsolidatedDraftBill()
    {


        collection = Iservice.SelectPendingConsolidatedDraftBillList(0).ToList();


    }
    private string SelectedRowClassFunc(ConsolidatedDraftBillModel consolidatedDraftBillModel, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;

            return string.Empty;
        }
        else if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(consolidatedDraftBillModel))
        {
            selectedRowNumber = rowNumber;

            return "selected";
        }
        else
        {
            return string.Empty;
        }

    }
    private void RowClickEvent(TableRowClickEventArgs<ConsolidatedDraftBillModel> tableRowClickEventArgs)
    {
        value = "visible";
        //model.TripID = selectedItem1.TripID;
        pmodel.TotalAmount = selectedItem1.TotalAmount;
        pmodel.DraftBillID = selectedItem1.DraftBillID;
        pmodel.OrderID = selectedItem1.Order.OrderID;
        pmodel.TariffTypeID = selectedItem1.TariffType.TariffTypeID;
        gs = Iservice.GetGstRate(pmodel.DraftBillID);
        pmodel.Gst = gs;
    }
    public async Task selected()
    {
            var authprov = await auth.GetAuthenticationStateAsync();
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            int brancID = int.Parse(brancIDString);
            var user = authprov.User;
            pmodel.BranchID = brancID;
            pmodel.UserInfo.UserID = user.Identity.Name;  
            DialogParameters parms = new DialogParameters();
            parms.Add("model",pmodel);
            var dialog =  DialogService.Show<ProformaInvoceDialog>("ProformaInvoce",parms,maxWidth);
            var result = await dialog.Result;

            if(!result.Cancelled)
            { 
             ProformaInvoiceModel UpatedModel = (ProformaInvoiceModel)result.Data;   
            
             Iservice.UpdateProformaInvoice(UpatedModel);
             snackbar.Add("Saved Successfully ", Severity.Success);//value = "visible";
            }
        GetConsolidatedDraftBill();
       
    }
    //public async Task Createbill()
    //{   var authprov = await auth.GetAuthenticationStateAsync();
    //    var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
    //    int brancID = int.Parse(brancIDString);
    //    var user = authprov.User;
    //    pmodel.BranchID = brancID;
    //    pmodel.Gst = gs;
    //    pmodel.UserInfo.UserID = user.Identity.Name;
    //    int m = 0;
    //    Iservice.UpdateProformaInvoice(pmodel);
    //    snackbar.Add("Saved Successfully", Severity.Success);
    //    uriHelper.NavigateTo("/ProformaInvoiceDialog");  

    //}
}
