@using System.Threading;

@attribute [Authorize]
@inherits DialogFormComponentBase<ContraModel>
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IContraService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Contra Entry" formID="contraForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="contraForm" OnValidSubmit="OnValidSubmit" Model="model">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                @if (ValidationMessage != null)
                {
                    <div class="validation-message">@ValidationMessage</div>
                }
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="Document Date" ReadOnly="ReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.EntryReference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.EntryReference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>
                    </MudItem>

                    <MudItem xs="12" md="12">
                        <strong>Debit/Deposit A/c</strong>
                        <PaymentAccountSelector @bind-PaymentMode="@model.ContraModeHome" @bind-ArdCode="@model.ArdCodeHome" @bind-CoaID="@model.CoaIDHome" @bind-BankCharges="@model.BankCharges" HideBankCharges @bind-BankTool="@model.PaymentTool" />
                    </MudItem>

                    <MudItem xs="12" md="12">
                        <strong>Credit/Draw A/c</strong>
                        <PaymentAccountSelector PaymentMode="@model.ContraModeOther" PaymentModeChanged="OnPaymentModeOtherChange" @bind-ArdCode="@model.ArdCodeOther" @bind-CoaID="@model.CoaIDOther" @bind-BankCharges="@model.BankCharges" HideBankCharges BankTool="@model.PaymentTool" BankToolChanged="OnPaymentToolChange" />
                    </MudItem>
                    @if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank")
                    {
                        <MudItem xs="12" md="6">
                            <MudTextField ReadOnly="ReadOnly" Value="model.ChequeInfo.ChequeNumber" TextChanged="OnCheckNoChange" Label="ChequeNumber" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ChequeInfo.ChequeNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudDatePicker ReadOnly="ReadOnly" Label="ChequeDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ChequeInfo.ChequeDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    }
                    @if (model.ContraModeHome == "Cash" && model.ContraModeOther == "Bank")
                    {
                        <MudItem xs="12" md="4">
                            <MudCheckBox @bind-Checked="@model.IsTdsApplicable">Is Applicable</MudCheckBox>
                        </MudItem>

                        <MudItem xs="12" md="8">
                            <MudNumericField ReadOnly="ReadOnly" @bind-Value="model.TdsAmount" Label="TDS For Cash Withdrawal" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TdsAmount)"></MudNumericField>
                        </MudItem>
                    }
                    <MudItem xs="12" md="6">
                        <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.ContraID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    public string ValidationMessage { get; set; } = null;
    string UserIDTemp;
    private decimal? TotalBillAmount;
    private bool _busy;

    // Document information model for the contra
    protected override DocumentInfoModel DocInfo { get; set; } = new();

    public bool HasPermissionContraServiceEdit { get; set; } = false;
    public bool HasPermissionContraServiceApprove { get; set; } = false;
    public int ContraDocTypeID = 3;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionContraServiceEdit = await Irole.HasClaim(ContraDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionContraServiceApprove = await Irole.HasClaim(ContraDocTypeID.ToString(), "Approve", ctc.Token);

        DocInfo.DocumentTypeID = ContraDocTypeID;
        DocInfo.DocumentID = model.ContraID;

        await base.OnInitializedAsync();

        model.NatureOfTransaction = "Contra";

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;

        if (model.ContraID != null)
        {
            UserIDTemp = model.UserInfo.UserID;
        }
    }

    // Lifecycle method called when parameters are set or changed
    protected override void OnParametersSet()
    {
        DocInfo.DocumentTypeID = ContraDocTypeID;
        DocInfo.DocumentID = model.ContraID;
    }

    // Method to handle changes in payment mode
    public void OnPaymentModeOtherChange(string PaymentModeOther)
    {
        model.ContraModeOther = PaymentModeOther;
        ModifyChequeNoValidation();
    }

    // Method to handle changes in payment tool
    public void OnPaymentToolChange(string PaymentTool)
    {
        model.PaymentTool = PaymentTool;
        ModifyChequeNoValidation();
    }

    // Method to handle changes in cheque number
    public void OnCheckNoChange(string CheckNo)
    {
        if (model.ChequeInfo == null)
        {
            model.ChequeInfo = new();
        }
        model.ChequeInfo.ChequeNumber = CheckNo;
        ModifyChequeNoValidation();
    }

    // Method to validate cheque number based on payment tool and mode
    public void ModifyChequeNoValidation()
    {
        if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank" && (model.ChequeInfo == null || string.IsNullOrEmpty(model.ChequeInfo.ChequeNumber)))
        {
            ValidationMessage = "Please fill the cheque NO. !";
        }
        else
        {
            ValidationMessage = null;
        }
    }

    // Method to update the contra model
    protected override async Task<int> Update(ContraModel editModel)
    {
        model = Iservice.Update(model); // Update the model using the service
        if (model.ContraID != null)
        {
            return model.ContraID.Value;
        }
        return 0;
    }

    // Method to approve the contra model
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.ContraID, model.UserInfo.UserID, aprvd.Remarks); // Call the service to approve
        model.UserInfo.UserID = UserIDTemp;
        return result;
    }

    // Method to validate the contra model
    public async Task<bool> validate(TaxPurchaseModel editModel)
    {
        if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank" && (model.ChequeInfo == null || string.IsNullOrEmpty(model.ChequeInfo.ChequeNumber)))
        {
            ValidationMessage = "Please fill the cheque NO. !";
            snackbar.Add("Please fill the cheque NO. !", Severity.Warning);
            return false;
        }
        if (model.ContraModeHome == "Cash" && model.ContraModeOther == "Bank" && model.IsTdsApplicable == true && (model.TdsAmount == null))
        {
            ValidationMessage = "Please enter cash withdrawal amount !";
            snackbar.Add("Please fill the cheque NO. !", Severity.Warning);
            return false;
        }
        if (TotalBillAmount != editModel.TotalAmount)
        {
            snackbar.Add("Please Set Billed amount", Severity.Warning);
            return false;
        }
        return true;
    }
}