@using System.Threading;

@inject IContraService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Contra Entry" formID="cotraForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="cotraForm" OnValidSubmit="OnValidSubmit" Model="model">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                @if (ValidationMessage != null)
                {
                    <div class="validation-message">@ValidationMessage</div>
                }
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="Document Date" ReadOnly="ReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.EntryReference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.EntryReference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>
                    </MudItem>
                    
                    <MudItem xs="12" md="12">
                        <strong>Debit/Deposit A/c</strong>
                        <PaymentAccountSelector @bind-PaymentMode="@model.ContraModeHome" @bind-ArdCode="@model.ArdCodeHome" @bind-CoaID="@model.CoaIDHome" @bind-BankCharges="@model.BankCharges" HideBankCharges @bind-BankTool="@model.PaymentTool" />
                     </MudItem>
                    
                     <MudItem xs="12" md="12">
                         <strong>Credit/Draw A/c</strong>
                         <PaymentAccountSelector PaymentMode="@model.ContraModeOther" PaymentModeChanged="OnPaymentModeOtherChange" @bind-ArdCode="@model.ArdCodeOther" @bind-CoaID="@model.CoaIDOther" @bind-BankCharges="@model.BankCharges" HideBankCharges BankTool="@model.PaymentTool" BankToolChanged="OnPaymentToolChange" />
                     </MudItem>
                     @if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank")
                    {
                        <MudItem xs="12" md="6">
                            <MudTextField ReadOnly="ReadOnly" Value="model.ChequeInfo.ChequeNumber" TextChanged="OnCheckNoChange" Label="ChequeNumber" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ChequeInfo.ChequeNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudDatePicker ReadOnly="ReadOnly" Label="ChequeDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ChequeInfo.ChequeDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    }
                    @if (model.ContraModeHome == "Cash" && model.ContraModeOther == "Bank")
                    {
                        <MudItem xs="12" md="4">
                            <MudCheckBox @bind-Checked="@model.IsTdsApplicable">Is Applicable</MudCheckBox>
                        </MudItem>

                        <MudItem xs="12" md="8">
                            <MudNumericField ReadOnly="ReadOnly" @bind-Value="model.TdsAmount" Label="TDS For Cash Withdrawal" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TdsAmount)"></MudNumericField>
                    </MudItem>
                    }
                    <MudItem xs="12" md="6">
                        <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@ContraDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.ContraID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public ContraModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    DialogForm dialogForm;
    public string ValidationMessage { get; set; } = null;
    private bool _busy;

    public DocumentInfoModel DocumentDetails { get; set; } = new();

    public bool HasPermissionContraServiceEdit { get; set; } = false;
    public bool HasPermissionContraServiceApprove { get; set; } = false;
    public int ContraDocTypeID = 3;

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionContraServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.ContraID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve Contra.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionContraServiceEdit = await Irole.HasClaim(ContraDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionContraServiceApprove = await Irole.HasClaim(ContraDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        model.BranchID = model.OtherBranchID = branchID;
        model.NatureOfTransaction = "Contra";

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        DocumentDetails.DocumentTypeID = ContraDocTypeID;
        DocumentDetails.DocumentID = model.ContraID;
    }
    public void OnPaymentModeOtherChange(string PaymentModeOther)
    {
        model.ContraModeOther = PaymentModeOther;
        ModifyChequeNoValidation();
    }
    public void OnPaymentToolChange(string PaymentTool)
    {
        model.PaymentTool = PaymentTool;
        ModifyChequeNoValidation();
    }
    public void OnCheckNoChange(string CheckNo)
    {
        if (model.ChequeInfo == null)
        {
            model.ChequeInfo = new();
        }
        model.ChequeInfo.ChequeNumber = CheckNo;
        ModifyChequeNoValidation();
    }
    public void ModifyChequeNoValidation()
    {
        if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank" && (model.ChequeInfo == null || string.IsNullOrEmpty(model.ChequeInfo.ChequeNumber)))
        {
            ValidationMessage = "Please fill the cheque NO. !";
        }
        else
        {
            ValidationMessage = null;
        }
    }
    public async Task OnValidSubmit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        if (HasPermissionContraServiceEdit)
        {
            if (model.PaymentTool == "CHEQUE" && model.ContraModeOther == "Bank" && (model.ChequeInfo == null || string.IsNullOrEmpty(model.ChequeInfo.ChequeNumber)))
            {
                ValidationMessage = "Please fill the cheque NO. !";
                snackbar.Add("Please fill the cheque NO. !", Severity.Warning);
                return;
            }

            if (model.ContraModeHome == "Cash" && model.ContraModeOther == "Bank" && model.IsTdsApplicable == true && (model.TdsAmount == null))
            {
                ValidationMessage = "Please enter cash withdrawal amount !";
                snackbar.Add("Please fill the cheque NO. !", Severity.Warning);
                return;
            }

            _busy = true;
            try
            {
                model.IsPayment = true;                
                model.UserInfo.UserID = UserID;
                model = Iservice.Update(model);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit Contra.");
        }

        await Task.Delay(200);
        _busy = false;
    }
}