@inject IContraService Iservice
@using ArmsModels.BaseModels.Finance.Transactions
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject IBranchService branchService
@inject TruckDataArrayModel data
@inject IConfiguration configuration
@using Microsoft.Extensions.Configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent><h3>Contra</h3></TitleContent>
     <DialogContent>
    

   <MudPaper>
    <MudContainer Style="max-height: 450px; overflow-y: scroll">
    @*<MudGrid>
        <MudItem xs="12" md="4">
             <MudSwitch Label="ContraModeHome: " @bind-Checked="customstr" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())" > @(customstr)</MudSwitch>
                 
        </MudItem>
         <MudItem xs="12" md="4">
             <MudAutocomplete T="ChartOfAccountModel" Label="Select Accounts CoaIDHome" @bind-Value="SelectedAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
              
        </MudItem>
         <MudItem xs="12" md="4">
             <MudSelect Label="Select Branch" @bind-Value="model.BranchIDOther" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in branches)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>

        </MudItem>

         <MudItem xs="12"md="4">
             <MudSwitch Label="ContraModeOther: " @bind-Checked="customstr1" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())" > @(customstr1)</MudSwitch>
   
   
    </MudItem>
        <MudItem xs="12"md="4">
             <MudAutocomplete T="ChartOfAccountModel" Label="Select Accounts CoaIDOther" @bind-Value="SelectedAccount1" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
              

        </MudItem>
        <MudItem xs="12"md="4">
           <MudTextField @bind-Value="model.EntryReference" Label="Reference"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.EntryReference)"></MudTextField>

        </MudItem>
        
    <MudItem xs="12"md="4">
   
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
    <MudItem xs="12"md="4">
   
       <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
    <MudItem xs="12"md="4">
   
     <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
     <MudItem xs="12"md="12">
           <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

     </MudItem>
     
   
    </MudGrid>*@
    <MudGrid>

         <MudItem xs="12"md="6">
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />

        </MudItem>
        
    <MudItem xs="12"md="6">
   
           <MudTextField @bind-Value="model.EntryReference" Label="Reference"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.EntryReference)"></MudTextField>


    </MudItem>
    <MudItem xs="12"md="6">
        <MudCard >
             <MudCardContent>
            <MudItem xs="12"md="12">
                <MudTextField ReadOnly="true" @bind-Value="hmbarnchName" Label="Home Branch"  Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>

            </MudItem>
          <MudItem xs="12"md="12">
              <MudSelect Label="Select ReceiptMode" @bind-Value="vaal" SelectedValuesChanged="ReceiptModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                             <MudSelectItem Value="@("Payment")" />
                             <MudSelectItem Value="@("Reciept")" />
                            
                   
                        </MudSelect>
            </MudItem>
             <MudItem xs="12"md="12">
                    <MudSelect Label="Mode" @bind-Value="model.ContraModeHome" SelectedValuesChanged="ModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                             <MudSelectItem Value="@("Bank")" />
                             <MudSelectItem Value="@("Cash")" />
                            
                   
                        </MudSelect>
                 </MudItem>
                  <MudItem xs="12"md="12">
                      <MudAutocomplete T="ChartOfAccountModel" Label="Select Accounts" @bind-Value="SelectedAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccountsHome" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
              
                      </MudItem>
</MudCardContent>
        </MudCard>
    </MudItem>
      <MudItem xs="12"md="6">
        <MudCard> <MudCardContent>
             <MudItem xs="12"md="12">
              <MudSelect Label="Select Other Branch" @bind-Value="model.BranchIDOther" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in branches)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
            </MudItem>
             <MudItem xs="12"md="12">
                <MudTextField ReadOnly="true" Label="Reciept Mode" @bind-Value="OrouteName"   Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>

            </MudItem>
              <MudItem xs="12"md="12">
                    <MudSelect Label="Mode" @bind-Value="model.ContraModeOther" SelectedValuesChanged="ModeChangeOther" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                             <MudSelectItem  Value="@("Bank")"  />
                             <MudSelectItem Value="@("Cash")" />
                            
                   
                        </MudSelect>
                 </MudItem>
                  <MudItem xs="12"md="12">
                      <MudAutocomplete T="ChartOfAccountModel" Label="Select Accounts" @bind-Value="SelectedAccount1" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccountsOther" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
              
                      </MudItem></MudCardContent>
        </MudCard>
    </MudItem>
     <MudItem xs="12"md="6">
   
           <MudTextField @bind-Value="model.TotalAmount" Label="Amount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>


    </MudItem>
    <MudItem xs="12"md="6">
     <MudSelect  ReadOnly=bnktl Label="Select Payment Mode" SelectedValuesChanged="banktoolChanged" T="string" @bind-Value="model.PaymentTool" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.BankTools)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                                </MudSelect>
       
                            </MudItem>
                             <MudItem xs="12"md="12">
                             <MudPaper Class="@value" >
             <MudContainer>
                 <MudGrid>
           <MudItem xs="12"md="6">
       <MudTextField @bind-Value="model.ChequeInfo.ChequeNumber" Label="ChequeNumber"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ChequeInfo.ChequeNumber)"></MudTextField>

 </MudItem>
 <MudItem xs="12"md="6">
      <MudDatePicker Label="ChequeDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ChequeInfo.ChequeDate" DateFormat="dd/MM/yyyy" />

 </MudItem></MudGrid>
             </MudContainer></MudPaper></MudItem>
 

 <MudItem xs="12"md="12">
   @* <MudCard Class="@value">
        <MudCardContent>
            
        </MudCardContent>
    </MudCard>*@
    @*  <MudExpansionPanel Text="Check Info" Disabled="!value">
      <MudItem xs="12"md="6">
    <MudTextField @bind-Value="model.ChequeInfo.ChequeNumber" Label="ChequeNumber"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ChequeInfo.ChequeNumber)"></MudTextField>

            </MudItem>
                 <MudItem xs="12"md="6">
    <MudDatePicker Label="ChequeDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ChequeInfo.ChequeDate" DateFormat="dd/MM/yyyy" />

            </MudItem>
    </MudExpansionPanel>*@
    </MudItem>
   <MudItem xs="12"md="6">
   
       <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
    <MudItem xs="12"md="6">
   
     <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
     <MudItem xs="12"md="12">
           <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

     </MudItem>
    </MudGrid>

    </MudContainer>
    </MudPaper>
    </DialogContent>
     <DialogActions>
         @if(@model.ApprovedInfo.RecordStatus!=1)
         {
           <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Success" >Submit</MudButton>
         }
         <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary" >Cancel</MudButton>

     </DialogActions>
    </MudDialog>

@code {
    [Parameter]
    public ContraModel model { get; set; }  
    // private List<SundryPaymentEntryModel> Entrys = new List<SundryPaymentEntryModel>();
    //private SundryPaymentEntryModel spe = new SundryPaymentEntryModel();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<BranchModel> branches = new();
    //public string customstr { get; set; } = "Bank";
    //public string customstr1 { get; set; } = "Bank";
    private ChartOfAccountModel SelectedAccount = null;
    private ChartOfAccountModel SelectedAccount1 = null;
    public bool Ispayment = true;
    public bool bnktl = true;
    private string vaal = "Payment";
    public string value="invisible";
    private string hmbarnchName,OrouteName;


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsHome(string searchString)
    {
        int coID =Convert.ToInt32(configuration.GetSection("Data")[model.ContraModeHome]);
        return await Task.FromResult(accountService.SelectChildren(coID));

    }
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsOther(string searchString)
    {

        int coID =Convert.ToInt32(configuration.GetSection("Data")[model.ContraModeOther]);
        return await Task.FromResult(accountService.SelectChildren(coID));

    }
    public void banktoolChanged()
    {
        if(model.PaymentTool=="CHEQUE")
        {
            value = "visible";
        }
        else
        {
            value = "invisible";
        }
    }
    public void ModeChange()
    {
        if(Ispayment==true)
        {
            if(model.ContraModeHome=="Bank")
            {
                bnktl = false;
            }
            else
            {
                value = "invisible";
                model.PaymentTool = null;
                bnktl = true;

            }
        }
    }

    public void ModeChangeOther()
    {
          if(Ispayment==false)
        {
            if(model.ContraModeOther=="Bank")
            {
                bnktl = false;
            }
            else
            {
                value = "invisible";
                model.PaymentTool = null;
                bnktl = true;

            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchName").Value;
        hmbarnchName = brancIDString.ToString();
        OrouteName = "Reciept";
        if (model.ContraID == null)
        {
            model.TotalAmount = 0;
        }
        else
        {
            SelectedAccount = new();
            SelectedAccount.CoaID = model.CoaIDHome;
           

        }

        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        branches = branchService.Select().ToList();
    }
    public void ReceiptModeChange()
    {

        if(vaal=="Payment")
        {
            OrouteName = "Reciept";
            Ispayment = true;

        }
        else
        {
            OrouteName = "Payment";
            Ispayment = false;
        }
    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }
    public async Task CreatePaymentMemo()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        model.CoaIDHome = SelectedAccount.CoaID;
        model.CoaIDOther = SelectedAccount1.CoaID;
        model.BranchID = brancID;
        model.IsPayment = Ispayment;
       
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        Iservice.Update(model);
        MudDialog.Close();

    }

    //public class CustomStringToBoolConverter : BoolConverter<string>
    //{

    //    public CustomStringToBoolConverter()
    //    {
    //        SetFunc = OnSet;
    //        GetFunc = OnGet;
    //    }

    //    private string TrueString = "Cash";
    //    private string FalseString = "Bank";
    //    private string NullString = "Error";

    //    private string OnGet(bool? value)
    //    {
    //        try
    //        {
                
    //            return (value == true) ? TrueString : FalseString;
               
    //        }
    //        catch (Exception e)
    //        {
    //            UpdateGetError("Conversion error: " + e.Message);
    //            return NullString;
    //        }
    //    }

    //    private bool? OnSet(string arg)
    //    {
    //        if (arg == null)
    //            return null;
    //        try
    //        {
    //            if (arg == TrueString)
    //                return true;
    //            if (arg == FalseString)
    //                return false;
    //            else
    //                return null;
    //        }
    //        catch (FormatException e)
    //        {
    //            UpdateSetError("Conversion error: " + e.Message);
    //            return null;
    //        }
    //    }
         
    //}
}
