@using System.Threading;
@using ArmsModels.BaseModels.Finance.Transactions;
@using ArmsServices.DataServices.Finance.Transactions;

@attribute [Authorize]
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IDocVoucherService Iservice

@inject IAssetDocumentService IDocumentService
@inject IGstUsageIDService usageService
@inject IDialogService DialogService
@inject ITdsRateService tdsService
@inject IChartOfAccountService ICoaService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Asset Documents Voucher" formID="DocVoucherForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3" Width="1200px" Style=" overflow-y: scroll;">
            <EditForm id="DocVoucherForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Document Type" T="AssetDocumentTypeModel" Value="model.DocumentType" ValueChanged="OnChangeDocumentType" ToStringFunc="@(e => e == null ? null : $"{e.DocumentTypeName}")" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in DocumentTypeList)
                            {
                                <MudSelectItem Value="@ditem">@ditem.DocumentTypeName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem> 
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudCheckBox Label="Credit?" Checked="@model.IsAgent" CheckedChanged="((bool IsAgent)=>OnChangeIsAgentChecked(IsAgent))" Size="Size.Medium" Color="Color.Primary"></MudCheckBox>
                    </MudItem>
                    @if (model.IsAgent)
                    {
                        <MudItem xs="12" md="12">
                            <PartySelector Value="@model.Agent" ValueChanged="OnChangeAgent" NatureOfBusiness="Supplier" BranchID="@model.BranchID" label="Agent"></PartySelector>
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12" md="12">
                            <PaymentAccountSelector @bind-PaymentMode="model.PaymentMode" @bind-CoaID="model.PaymentCoaID" @bind-ArdCode="model.PaymentArdCode" @bind-BankTool="model.PaymentTool" @bind-BankCharges="model.BankCharges"></PaymentAccountSelector>
                        </MudItem>
                    }
                  @*   <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.TotalAmount" Label="Total Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)" Disabled></MudTextField>
                    </MudItem> *@
                   
                    <MudItem xs="12">
                        <MudContainer Style="max-height: 450px;max-width: 1230px;  overflow-y: scroll;">
                            <MudTable Items="@model.DocVoucherSubList" Dense="true" Hover="true" Striped="true" Elevation="0" @bind-place="model" Context="SubContext">
                                <ToolBarContent>
                                    <div style="width:150%;">
                                        <MudText Typo="Typo.h6"> Items </MudText>
                                    </div>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.AssetName)" InitialDirection="SortDirection.Ascending"> Asset Name </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.SlipNo)" InitialDirection="SortDirection.Ascending"> Slip No </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.Reference)" InitialDirection="SortDirection.Ascending"> Refference </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending"> Amount </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.UsageCode)" InitialDirection="SortDirection.Ascending"> Usage Code </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.CostCenterMod.CostCenter)" InitialDirection="SortDirection.Ascending"> Cost Center </MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<DocumentVoucherSubModel, object>(x=> x.DimensionMod.Dimension)" InitialDirection="SortDirection.Ascending"> Dimension </MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Asset Name">@SubContext.AssetName | @SubContext.AssetCode</MudTd>
                                    <MudTd DataLabel="Slip No">@SubContext.SlipNo</MudTd>
                                    <MudTd DataLabel="Refference">@SubContext.Reference</MudTd>
                                    <MudTd DataLabel="Amount">@SubContext.Amount</MudTd>
                                    <MudTd DataLabel="Usage Code">@SubContext.UsageCode</MudTd>
                                    <MudTd DataLabel="Cost Center">
                                        <CostCenterSelector @bind-Value="@SubContext.CostCenter" ></CostCenterSelector>
                                      @*   <MudSelect ReadOnly="ReadOnly" Label="Select CostCenter" @bind-Value="@SubContext.CostCenterMod" T="CostCenterModel" ToStringFunc="@(e => e == null ? null : $"{e.CostCenter}")" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in costCenter)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem.CostCenter</MudSelectItem>
                                            }
                                        </MudSelect> *@
                                    </MudTd>
                                    <MudTd DataLabel="Dimension">
                                        <DimensionSelector @bind-Value="@SubContext.Dimension"></DimensionSelector>
                                      @*   <MudSelect ReadOnly="ReadOnly" Label="Select Dimension" @bind-Value="@SubContext.DimensionMod" T="DimensionModel" ToStringFunc="@(e => e == null ? null : $"{e.Dimension}")" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect> *@
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudContainer>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocVoucherDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.DocumentVoucherID" OnApprove="ApproveEntry"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public DocumentVoucherModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private List<GstUsageCodeModel> usageList = new();
    private DocumentVoucherSubModel DocVoucherSub { get; set; } = new();
    private GstUsageCodeModel gstusge = new();
    public string Area { get; set; } = null;
    public bool Local { get; set; } = true;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int? branchID = null;
    private string UserID = null;
    public int SubAssetModel { get; set; }
    public List<DocumentVoucherSubModel> SubList { get; set; }  
    private List<AssetDocumentTypeModel> DocumentTypeList = new();
    private EditContext editContext;
    DialogForm dialogForm;
    private bool _busy;

    
    public DocumentInfoModel DocumentDetails { get; set; } = new();


    public bool HasPermissionToEdit { get; set; } = false;
    public bool HasPermissionToApprove { get; set; } = false;
    int DocVoucherDocTypeID = 19;

    // Lifecycle method called when parameters are set or changed
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionToEdit = await Irole.HasClaim(DocVoucherDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionToApprove = await Irole.HasClaim(DocVoucherDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;        
        if (model == null || model != null && model.DocumentVoucherID == null || model != null && model.DocumentVoucherID == 0)
        {
            if (model == null)
            {
                model = new()
                    {
                        BranchID = branchID,
                        UserInfo = new() { UserID = UserID, },
                        TotalAmount = 0,
                        NatureOfTransaction = "Tax Voucher"
                    };
            }
            else
            {
                model.BranchID = branchID;
                model.UserInfo = new() { UserID = UserID, }; ;
                model.TotalAmount = 0;
                model.NatureOfTransaction = "Tax Voucher";
            }
        }
        else
        {
            // Fetch sub-document details if the model is already initialized
            model.DocVoucherSubList = Iservice.GetSub(model.DocumentVoucherID).ToList();
        }

        // Fetch document types and GST usage codes
        DocumentTypeList = IDocumentService.GetDocumentTypes().ToList();
        usageList = usageService.SelectByArea(Area, System.DateTime.Now).ToList();
        model.TotalTax = (model.IGST ?? 0) + (model.SGST ?? 0) + (model.CGST ?? 0) + (model.TDS ?? 0);

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    // Lifecycle method called when parameters are set or changed
    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);

        DocumentDetails.DocumentTypeID = DocVoucherDocTypeID;
        DocumentDetails.DocumentID = model.DocumentVoucherID;
    }

    // Method to approve the document entry
    protected async Task ApproveEntry(DataApprovedStatus aprvd)
    {
        if (HasPermissionToApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    // Call the service to approve the document voucher
                    Iservice.Approve(model.DocumentVoucherID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Approve Voucher.");
        }
    }

    //public void AddSubList()
    //{
    //    if (TaxVoucherSub.DocumentID == null)
    //    {
    //        snackbar.Add("Please select Asset", Severity.Error);
    //        return;
    //    }
    //    if (TaxVoucherSub.Amount == null)
    //    {
    //        snackbar.Add("Please add rate.", Severity.Error);
    //        return;
    //    }
    //    if (dialogForm.validate(TaxVoucherSub, editContext))
    //    {
    //        model.TaxVoucherSubList.Add(TaxVoucherSub);
    //        model.TotalAmount = model.TaxVoucherSubList.Sum(x => x.Amount);
    //        AddTax();
    //        TaxVoucherSub = new();
    //    }
    //}

    // Method to handle changes in the document type
    public async Task OnChangeDocumentType(AssetDocumentTypeModel obj)
    {
        model.DocumentType = obj;
        //AddTax();
        if (model.DocumentType != null)
        {
            DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
            DialogParameters parms = new DialogParameters();
            parms.Add("DocumentType", model.DocumentType);
            var dialog = DialogService.Show<AssetDocumentSelectDialoge>("Select Document", parms, mediumWidth);
            var result = await dialog.Result;
            var isCancelled = result.Canceled;
            if (!isCancelled)
            {
                var ReturnData = (DocumentVoucherModel)result.Data;

                if (ReturnData != null && ReturnData.DocVoucherSubList != null && ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true) != null && ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true).Count() != 0)
                {
                    model.DocVoucherSubList = ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true).ToList();
                    model.TotalAmount = ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true).Sum(s => s.Amount);
                }

                if (ReturnData == null || ReturnData.DocVoucherSubList == null || ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true) == null || ReturnData.DocVoucherSubList.Where(d => d.IsSelect == true).Count() == 0)
                {
                    model.DocumentType = null;
                    model.DocVoucherSubList = null;
                }
            }

        }
    }
    
    // Method to handle changes in the selected agent
    public void OnChangeAgent(PartyModel obj)
    {
        model.Agent = obj;
        //AddTax();
    }

    // Method to handle changes in the agent's checked status
    public void OnChangeIsAgentChecked(bool obj)
    {
        model.IsAgent = obj;
        if (!obj)
        {
            model.Agent = new();
            model.CGST = null;
            model.SGST = null;
            model.IGST = null;
            model.TDS = null;
            model.TotalTax = null;
        }
        else
        {
            model.PaymentMode = null;
            model.PaymentArdCode = null;
            model.PaymentCoaID = null;
            model.PaymentTool = null;
            model.BankCharges = null;
        }
    }

    // Method to handle form submission when the form is valid
    public async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        _busy = true;
        if (model.DocVoucherSubList == null || model.DocVoucherSubList.Count() == 0)
        {
            snackbar.Add("Items should not be empty!", Severity.Error);
            _busy = false;
            return;
        }

        // Validate cost center and dimension based on document type
        if (model.DocumentType != null && (IDocumentService.IsCostCenterIsMadatoryForGivenDocumentTypeID(model.DocumentType.DocumentTypeID) == false || IDocumentService.IsDimensionIsMadatoryForGivenDocumentTypeID(model.DocumentType.DocumentTypeID) == false))
        {
            if (model.DocVoucherSubList != null && model.DocVoucherSubList.Any(s => s.CostCenterMod == null))
            {
                snackbar.Add("CostCenter is mandatory to select!", Severity.Error);
                _busy = false;                
            }
            if (model.DocVoucherSubList != null && model.DocVoucherSubList.Any(s => s.DimensionMod == null))
            {
                snackbar.Add("Dimension is mandatory to select!", Severity.Error);
                _busy = false; 
            }

            if (_busy == false)
            {
                return;
            }
        }

        if (HasPermissionToEdit)
        {
            try
            {                
                model = Iservice.Update(model); // Update the model using the service
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Voucher.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to delete a sub-document from the list
    private void DeleteSubList(DocumentVoucherSubModel subModel)
    {
        if (model.DocVoucherSubList.Exists(x => x.DocumentVoucherSubID == subModel.DocumentVoucherSubID))
        {
            int rowIndex = model.DocVoucherSubList.IndexOf(subModel);
            model.DocVoucherSubList.RemoveAt(rowIndex);
            model.TotalAmount = model.DocVoucherSubList.Sum(x => x.Amount);
          
        }
    }

    //private async Task OpenDialogTaxRates(TaxVoucherModel i)
    //{
    //    GstModel taxModel = new GstModel();
    //    taxModel.CGST = i.CGST;
    //    taxModel.IGST = i.IGST;
    //    taxModel.TDS = i.TDS;
    //    taxModel.SGST = i.SGST;
    //    taxModel.GstRate = i.GstRate;
    //    DialogParameters parms = new DialogParameters();
    //    parms.Add("tax", taxModel.Clone());
    //    parms.Add("ReadOnly", ReadOnly);
    //    var dialog = DialogService.Show<TaxRatedialog>(i.TaxVoucherID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true });
    //    var result = await dialog.Result;
    //    if (!result.Canceled)
    //    {
    //        taxModel = (GstModel)result.Data;
    //        i.CGST = taxModel.CGST;
    //        i.IGST = taxModel.IGST;
    //        i.TDS = taxModel.TDS;
    //        i.SGST = taxModel.SGST;
    //        i.GstRate = taxModel.GstRate;
    //        i.TotalTax = i.IGST.Value + i.SGST.Value + i.CGST.Value + i.TDS.Value;
    //    }
    //}

    // Method to add tax to the model based on the selected agent and document type
    private bool AddTax()
    {
        if (model.IsAgent)
        {
            if (model.Agent == null)
            {
                snackbar.Add("Please select agent.", Severity.Error);
                return false;
            }
        }
        if (gstusge != null && model.TotalAmount != null && model.Agent != null && model.Agent.PartyID != null)
        {
            if (model.DocumentType == null)
            {
                snackbar.Add("Please select document type.", Severity.Error);
                return false;
            }
            
            // Get the GST rate based on the document type's usage code
            model.GstRate = usageService.GetGstRate(model.DocumentType?.UsageCode?.UsageCode ?? "", DateTime.Now);
            decimal taxRate = model.GstRate ?? 0;
            if (!Local)
            {
                model.IGST = Math.Round(model.TotalAmount.Value * taxRate / 100, 2);
            }
            else
            {
                model.SGST = model.CGST = Math.Round(model.TotalAmount.Value * taxRate / 200, 2);
            }

            // Calculate TDS based on the agent's party ID
            decimal tdsRate = tdsService.GetTdsRate(model.Agent.PartyID, model.PaymentCoaID);
            model.TDS = Math.Round((model.TotalAmount.Value * tdsRate) / 100, 2);
            model.TotalTax = (model.IGST ?? 0) + (model.SGST ?? 0) + (model.CGST ?? 0) + (model.TDS ?? 0);
            return true;
        }
        return false;
    }

}