@inherits DialogFormComponentBase<DrCrNoteModel>

@inject IDrCrNoteService Iservice
@inject IPartyService partyService
@inject ICancellationReasonCodeService reasonCodeService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Debit Note/ Credit Note" formID="sundryPaymentForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12">
                        <h6>Transaction Type</h6>
                        <MudRadioGroup @bind-SelectedOption="@model.DrCrType">
                            <MudRadio Option="@("Debit")" Color="Color.Primary">Debit Note</MudRadio>
                            <MudRadio Option="@("Credit")" Color="Color.Secondary">Credit Note</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudSelect Label="Nature Of Party" ReadOnly="ReadOnly" Value="model.BusinessNature" T="string" ValueChanged="BusinessNatureChanged" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary">
                            <MudSelectItem Disabled Value="@("Select")" />
                            <MudSelectItem Value="@("Supplier")" />
                            <MudSelectItem Value="@("Customer")" />
                            <MudSelectItem Value="@("Renter")" />
                            <MudSelectItem Value="@("SisterConcern")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="5">
                        <PartySelector Value="model.Party" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature" BranchID="@BranchID"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField OnAdornmentClick="fetch" ReadOnly="@true" Value="model.OriginalTranDocNumber" Label="Against" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.FileOpen" Disabled="@ReadOnly"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="6">
                        <MudAutocomplete ReadOnly="ReadOnly" FullWidth Label="Reason Code" @bind-Value="model.Reason" T="CancellationReasonCode" SearchFunc="@Search" ToStringFunc="@((e) => e?.ReasonCodeDescription)"
                                         Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                        </MudAutocomplete>
                    </MudItem>
                    @* <MudItem xs="12" md="6">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.ReasonCodeID" Label="ReasonCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ReasonCodeID)"></MudTextField>
                    </MudItem> *@
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <ExpenseListView OnExpenseAdded="AddExpense" OnAmountChange="SetTotal" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ExpenseList="@model.Particulars" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12">
                        <ItemsListView OnItemAdded="AddItems" OnAmountChange="SetTotal" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ItemList="@model.Items" ReadOnly="@ReadOnly" />
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocNumber="@DocNumber" DocumentID="model.DrCrNoteID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override DrCrNoteModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.DrCrNoteID; DocInfo.DocumentName = value.DrCrType + " Note"; } }
    private DrCrNoteModel _model;

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 5,
        };

    public List<CancellationReasonCode> ReasonCodeList { get; set; }


    public DocumentInfoModel DocumentDetails { get; set; } = new();

    public bool HasPermissionDrCrNoteServiceEdit { get; set; } = false;
    public bool HasPermissionDrCrNoteServiceApprove { get; set; } = false;
    public int? DrCrNoteDocTypeID = 5;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (model.DrCrNoteID != null)
        {
            model.Particulars = Iservice.GetExpenses(model.DrCrNoteID).ToList();
            model.Items = Iservice.GetItems(model.DrCrNoteID).ToList();
        }
        else
        {
            model.BranchID = BranchID;
            model.NatureOfTransaction = "DrCrNote";
        }

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        ReasonCodeList = reasonCodeService.SelectSubById(DrCrNoteDocTypeID).ToList();
    }

    void SetTotal()
    {
        model.TotalAmount = model.Particulars.Sum(x => (x.Amount ?? 0) + (x.IGST ?? 0) + (x.CGST ?? 0) + (x.SGST ?? 0));
        model.TotalAmount += model.Items.Sum(y => (y.Amount ?? 0) + (y.IGST ?? 0) + (y.CGST ?? 0) + (y.SGST ?? 0));
        model.TotalTaxableAmount = (model.Particulars.Sum(x => x.Amount) ?? 0) + (model.Items.Sum(y => y.Amount) ?? 0);
    }
    void PartyChanged(PartyModel party)
    {
        if (model.Party?.PartyID != party?.PartyID)
        {
            model.Party = party;
            if (party != null)
            {
                IsTaxable = party.GstType == "Registered" || party.GstType == "SEZ";
                Local = partyService.IsLocal(model.Party.PartyID, BranchID);
            }
            else { Local = false; }

            if (party is not null)
            {
                if (model.BusinessNature == "Supplier")
                {
                    model.PartyCoaID = partyService.GetVendorPayableCoaID(model.Party.PartyID);
                }
                else if (model.BusinessNature == "Customer")
                {
                    model.PartyCoaID = partyService.GetCustomerReceivableCoaID(model.Party.PartyID);
                }
                else if (model.BusinessNature == "Renter")
                {
                    model.PartyCoaID = partyService.GetRenterRentCoaID(model.Party.PartyID);
                }
                else
                {
                    model.PartyCoaID = partyService.GetPartyCoaID(model.Party.PartyID, "SisterConcern", "Trade");
                }

            }
        }
    }

    void AddExpense(TaxPurchaseExpenseModel expenseModel)
    {
        model.Particulars.Add(expenseModel);
        SetTotal();
    }

    void AddItems(TaxPurchaseItemModel ItemModel)
    {
        model.Items.Add(ItemModel);
        SetTotal();
    }

    void BusinessNatureChanged(string bn)
    {
        if (model.BusinessNature != bn)
        {
            model.BusinessNature = bn;
            PartyChanged(null);
        }
    }


    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.DrCrNoteID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    protected override async Task<int> Update(DrCrNoteModel editModel)
    {
        if (await validate(model))
        {
            if (model.DrCrNoteID == null)
            {
                foreach (var item in model.Items)
                {
                    item.TpiID = null;
                }
                foreach (var item in model.Particulars)
                {
                    item.TpeID = null;
                }
            }
            model = Iservice.Update(model);
            return (model.DrCrNoteID ?? 0);
        }
        return 0;
    }

    async Task<bool> validate(DrCrNoteModel editModel)
    {

        if (model.Particulars.Count == 0 && model.Items.Count == 0)
        {
            snackbar.Add("Please Add Particulars or Items!", Severity.Error);
            return false;
        }

        return true;
    }



    public async Task fetch()
    {
        if (ReadOnly)
        {
            return;
        }
        if (string.IsNullOrEmpty(model.DrCrType))
        {
            snackbar.Add("Select Document Type!", Severity.Error);
            return;
        }
        else if (model.Party?.PartyID == null)
        {
            snackbar.Add("Select Party!", Severity.Error);
            return;
        }
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.Party.PartyID);
        parms.Add("CrDrType", model.DrCrType);
        var dialog = dialogService.Show<DrCrBillInfo>("BillInfo", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
        var result = await dialog.Result;
        BillInfoModel Bill = new();
        if (!result.Canceled)
        {
            Bill = (BillInfoModel)result.Data;
            int PID = 0;
            if (Bill != null)
            {
                model.OriginalTranDocDate = Bill.DocumentDate;
                model.OriginalTransactionID = Bill.BillID;
                model.OriginalTranDocNumber = Bill.DocumentNumber;
                model.TotalAmount = Bill.TotalAmount;
                PID = Bill.PID.Value;
                model.Items = Bill.Items;
                model.Particulars = Bill.Particulars;
            }
        }
    }

    private async Task<IEnumerable<CancellationReasonCode>> Search(string value)
    {
        await Task.Delay(5);

        if (string.IsNullOrEmpty(value))
            return ReasonCodeList;
        return ReasonCodeList.Where(x => x.ReasonCodeDescription.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }


} 