@*@page "/DrCrNoteDialog"*@
@inject IDrCrNoteService Iservice
@inject IPartyService partyIservice
@inject ITaxPurchaseService TaxIservice
@inject IInventoryItemService itemIservice
@inject IDimensionService dimensionIservice
@inject IGstItemService gstitemIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IGstUsageIDService usageIservice
@inject ITdsRateService tdsIService
@inject IBranchService branchIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@*<h3>DrCrNoteDialog</h3>*@
 @*<MudLink Href="DrCrNoteView" Underline="Underline.Always">DrCrNote Approve</MudLink>
*@

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Sales
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="min-height: 450px; max-height: 450px; overflow-y: scroll">
            <MudGrid Spacing="4">
                <MudItem xs="12" md="2">

                    <MudSwitch ReadOnly="IsReadOnly" @bind-Checked="drCrType" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())"> @(drCrType)</MudSwitch>

                </MudItem>
                <MudItem xs="12" md="4">
                    <MudSelect Label="Select Party" @bind-Value="nbusiness" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        @foreach (var ditem in PartyList)
                        {
                            <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                        }
                    </MudSelect>

                </MudItem>
                <MudItem xs="12" md="4">


                    @if (nbusiness == "Supplier")
                    {
                        <PartySelector @bind-Value="model.Party" NatureOfBusiness="Supplier"></PartySelector>
                    }
                    @if (nbusiness == "Customer")
                    {
                        <PartySelector @bind-Value="model.Party" NatureOfBusiness="Customer"></PartySelector>
                    }
                </MudItem>
                @if (!IsReadOnly)
                {
                    <MudItem xs="12" md="2">
                        <MudButton OnClick="fetch" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Fetch</MudButton>

                    </MudItem>
                }
                @if (Isvisible)
                {

                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.ReasonCode" Label="ReasonCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ReasonCode)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    @*<MudItem xs="12"md="3">
                <MudTextField @bind-Value="model.TotalAmount" ReadOnly="true" Label="TotalAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                </MudItem>*@
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>Expenses</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                @* <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total</th>
                            <th>@model.TotalValue</th>
                            </tr>*@
                                <tr>

                                    @*  <th>Branch</th>*@
                                    <th width="200px">UsageID</th>
                                    @* <th>CoaID</th>*@
                                    <th>Amount</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                    <th>TDS</th>
                                    <th>Bill</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in txexpenses)
                                {
                                    <tr>

                                        @*  <td>@item.BranchID</td>*@
                                        <td>@item.UsageCode</td>
                                        @* <td>@item.CoaID</td>*@
                                        <td>@item.Amount</td>
                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>
                                        <td>@item.BillReference</td>
                                        <td>
                                            @* <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                    *@
                                        </td>

                                    </tr>
                                }

                                @* <tr>

                            <td colspan="3">

                            <UsageCodeSelector @bind-Value=gstusge></UsageCodeSelector>

                            </td>

                            <td colspan="2">
                            <MudTextField Label="Amount" @bind-Value="txexpense.Amount" TextChanged="taxRates" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.Amount)"></MudTextField>

                            </td>
                            <td>
                            <MudTextField Label="SGST" @bind-Value="txexpense.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.SGST)"></MudTextField>
                            </td>
                            <td>
                            <MudTextField Label="CGST" @bind-Value="txexpense.CGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.CGST)"></MudTextField>

                            </td></tr>
                            <tr>
                            <td>
                            <MudTextField Label="IGST" @bind-Value="txexpense.IGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.IGST)"></MudTextField>

                            </td>
                            <td>
                            <MudTextField Label="TDS" @bind-Value="txexpense.TDS" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.TDS)"></MudTextField>

                            </td>
                            <td colspan="4">
                            <MudTextField Label="BillReference" @bind-Value="txexpense.BillReference" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => txexpense.BillReference)"></MudTextField>

                            </td>
                            <td>

                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                            </td>
                            </tr>
                            *@
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>TaxPurchaseItems</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                @* <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total</th>
                            <th>@model.TotalValue</th>
                            </tr>*@
                                <tr>

                                    @*  <th>Branch</th>*@
                                    <th width="200px">ItemID</th>
                                    <th>ItemRate</th>
                                    <th>ItemQty</th>
                                    @* <th>CoaID</th>*@
                                    <th>Amount</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                    <th>TDS</th>

                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in txitemlist)
                                {
                                    <tr>

                                        @*  <td>@item.BranchID</td>
                                <td>@item.ItemID</td>*@
                                        <td style="width:200px">@(itm.First(x=> x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                                        <td>@item.ItemRate</td>
                                        <td>@item.ItemQty</td>
                                        @*  <td>@item.CoaID</td>*@
                                        <td>@item.Amount</td>

                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>

                                        <td>

                                            @* @if (model.ApprovedInfo.RecordStatus != 3)
                                    {
                                    <MudFab Color="Color.Error" @onclick="@(()=> DeleteItem(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                    @*}*@
                                        </td>

                                    </tr>
                                }

                                @* <tr>

                            <td colspan="2">
                            <MudAutocomplete T="InventoryItemModel"  ValueChanged="getitemCode" Value="SelectedPurchaseItems" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Items" ResetValueOnEmptyText="true"
                            SearchFunc="@SearchItems" ToStringFunc="@(e => e==null?string.Empty:e?.InventoryItemCode)"></MudAutocomplete>

                            </td >
                            <td colspan="2">
                            <MudTextField Label="ItemRate" @bind-Value="TaxItemModel.ItemRate" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemRate)"></MudTextField>

                            </td>
                            <td colspan="2">
                            <MudTextField Label="ItemQty" @bind-Value="TaxItemModel.ItemQty" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemQty)"></MudTextField>

                            </td>

                            <td colspan="2">
                            <MudTextField Label="Amount" @bind-Value="TaxItemModel.Amount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.Amount)"></MudTextField>

                            </td>  </tr>
                            <tr>
                            <td colspan="2">

                            <MudTextField Label="SGST" @bind-Value="TaxItemModel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.SGST)"></MudTextField>
                            </td >
                            <td colspan="2">
                            <MudTextField Label="CGST" @bind-Value="TaxItemModel.CGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.CGST)"></MudTextField>

                            </td>
                            <td colspan="2">
                            <MudTextField Label="IGST" @bind-Value="TaxItemModel.IGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.IGST)"></MudTextField>

                            </td>
                            <td colspan="2">
                            <MudTextField Label="TDS" @bind-Value="TaxItemModel.TDS" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.TDS)"></MudTextField>

                            </td>

                            <td>

                            <MudFab OnClick="AddTaxItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                            </td>
                            </tr>*@

                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                }

                <MudItem xs="12">
                    @if ((IsReadOnly) && (!IsView))
                    {
                        <AutherizationStatusComponent DocTypeID="5" DocumentID="model.DrCrNoteID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                    }

                </MudItem>


                @*<MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Submit</MudButton>*@



            </MudGrid>
        </MudContainer>
    </DialogContent>


    <DialogActions>
        @* @if(model.ApprovedInfo.RecordStatus!=3 && model.ApprovedInfo.RecordStatus!=1)*@
        <b>Total:@model.TotalAmount</b>

        @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>

            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" ButtonType="ButtonType.Submit">Submit</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>

@* <MudButton OnClick="Cancel">Cancel</MudButton>*@


@code {

    [Parameter]
    public DrCrNoteModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    public string drCrType { get; set; } = "Credit";
    private string nbusiness = "Customer";
    public bool Isvisible = false;
    private List<InventoryItemModel> itm = new();
    private List<TaxPurchaseExpenseModel> txexpenses = new();
    private List<TaxPurchaseExpenseModel> txexpensesList = new();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<TaxPurchaseItemModel> txitemlist = new();
    private TaxPurchaseExpenseModel txexpense = new TaxPurchaseExpenseModel();
    private TaxPurchaseItemModel TaxItemModel = new TaxPurchaseItemModel();
    public GstUsageCodeModel SelectedItems = new();
    private List<TaxPurchaseItemModel> txitems = new();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<GstUsageCodeModel> usageID = new();
    public GstUsageCodeModel gstusge = new();
    private List<BillInfoModel> Bill = new List<BillInfoModel>();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private List<string> PartyList = new List<string>() { "Supplier", "Customer" };


    int brancID;
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    protected override void OnInitialized()
    {
        //model.TotalAmount = 0;
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        usageID = usageIservice.Select(DateTime.Now).ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        if (model.DrCrNoteID != null)
        {
            Isvisible = true;
            txexpenses = Iservice.GetExpenses(model.DrCrNoteID).ToList();
            txitemlist = Iservice.GetItems(model.DrCrNoteID).ToList();
            drCrType = model.DrCrType;
        }
    }

    private async Task<IEnumerable<InventoryItemModel>> SearchItems(string searchString)
    {
        return await Task.FromResult(itm.Where(x => x.InventoryItemCode.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    public class CustomStringToBoolConverter : BoolConverter<string>
    {

        public CustomStringToBoolConverter()
        {
            SetFunc = OnSet;
            GetFunc = OnGet;
        }

        private string TrueString = "Credit";
        private string FalseString = "Debit";
        private string NullString = "Error";

        private string OnGet(bool? value)
        {
            try
            {
                return (value == true) ? TrueString : FalseString;
            }
            catch (Exception e)
            {
                UpdateGetError("Conversion error: " + e.Message);
                return NullString;
            }
        }

        private bool? OnSet(string arg)
        {
            if (arg == null)
                return null;
            try
            {
                if (arg == TrueString)
                    return true;
                if (arg == FalseString)
                    return false;
                else
                    return null;
            }
            catch (FormatException e)
            {
                UpdateSetError("Conversion error: " + e.Message);
                return null;
            }
        }

    }

    private void UsageChanged(GstUsageCodeModel igm)
    {
        txexpense = new();
        txexpense.UsageCode = igm.UsageCode;
        txexpense.CoaID = igm.CoaID;
        SelectedItems.UsageCode = igm.UsageCode;

    }

    private async Task taxRates()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        brancID = int.Parse(brancIDString);
        if (SelectedItems.UsageCode != null)
        {
            if (model.Party == null)
            {
                snackbar.Add("select party", Severity.Success);
                return;
            }

            decimal? taxRate = (decimal)usageIservice.GetGstRate(txexpense.UsageCode, DateTime.Now);
            decimal? tdsRate = (decimal)tdsIService.GetTdsRate(model.Party.PartyID.Value, txexpense.CoaID.Value);


            BranchModel br = branchIservice.SelectByID(brancID);

            string partyGstNo = (model.Party.GstNo).Substring(0, 2);
            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {
                txexpense.IGST = (txexpense.Amount * taxRate) / 100;
            }
            else
            {
                taxRate = taxRate / 2;
                txexpense.SGST = (txexpense.Amount * taxRate) / 100;
                txexpense.CGST = (txexpense.Amount * taxRate) / 100;
            }
            txexpense.TDS = (txexpense.Amount * tdsRate) / 100;
        }

    }

    public void AddItems()
    {
        //TaxPurchaseExpenseModel ientry = new();
        //ientry.BranchID = brancID;
        //ientry.UsageID = txexpense.UsageID;
        //ientry.CoaID = txexpense.CoaID;
        //ientry.Amount = txexpense.Amount;
        //ientry.SGST = txexpense.SGST;
        //ientry.CGST = txexpense.CGST;
        //ientry.IGST = txexpense.IGST;
        //ientry.TDS = txexpense.TDS;
        //ientry.BillReference = txexpense.BillReference;

        txexpense.BranchID = brancID;

        txexpenses.Add(txexpense);

        decimal tvalue = 0;
        if (txexpense.IGST == null)
        {
            tvalue = txexpense.SGST.Value + txexpense.CGST.Value;
        }
        else
        {
            tvalue = txexpense.IGST.Value;
        }
        model.TotalAmount = model.TotalAmount + txexpense.Amount +
                               tvalue;

        txexpense = new();
        SelectedItems = new();
    }


    private async Task calcAmount()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        brancID = int.Parse(brancIDString);

        if (TaxItemModel.ItemQty == null)
        {
            TaxItemModel.ItemQty = 0;
        }
        if (TaxItemModel.ItemRate == null)
        {
            TaxItemModel.ItemRate = 0;
        }
        TaxItemModel.Amount = TaxItemModel.ItemQty * TaxItemModel.ItemRate;
        if (TaxItemModel.Amount != 0)
        {

            GstItemModel gstItem = gstitemIservice.SelectByItem(TaxItemModel.ItemID.Value, DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            decimal? tdsRate = (decimal)tdsIService.GetTdsRate(model.Party.PartyID.Value, TaxItemModel.CoaID.Value);


            BranchModel br = branchIservice.SelectByID(brancID);

            string partyGstNo = (model.Party.GstNo).Substring(0, 2);
            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                TaxItemModel.IGST = (TaxItemModel.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                TaxItemModel.SGST = (TaxItemModel.Amount * taxRate) / 100;
                TaxItemModel.CGST = (TaxItemModel.Amount * taxRate) / 100;

            }

            TaxItemModel.TDS = (TaxItemModel.Amount * tdsRate) / 100;

        }


    }

    private void getitemCode(InventoryItemModel item)
    {
        SelectedPurchaseItems = item;


        if (item != null)
        {
            TaxItemModel.ItemID = item.InventoryItemID;
            InventoryGroupModel igm = inventoryGroupIservice.SelectByID(item.InventoryGroupID);
            //if (model.NonStoreInventory == true)
            //{
            //    TaxItemModel.CoaID = igm.MappedNonInventoryPurchaseHead;
            //}
            //else
            //{
            TaxItemModel.CoaID = igm.MappedPurchaseHead;
            //}

            //  TaxItemModel.CoaID = igm.MappedPurchaseHead;
            //decimal gstrate = 0;
            //try
            //{
            //    gstrate = getgstrate(item.InventoryItemID.Value);
            //}
            //catch (Exception e)
            //{
            //    gstrate = 0;
            //}
            //Entrymodel.ItemGstVal = gstrate;
        }
        else
        {
            TaxItemModel.ItemID = null;
        }

    }

    protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            Iservice.Approve(model.DrCrNoteID, model.UserInfo.UserID,aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }
    public void AddTaxItems()
    {

        TaxPurchaseItemModel ientry = new();
        ientry.ItemID = TaxItemModel.ItemID;
        ientry.ItemRate = TaxItemModel.ItemRate;
        ientry.ItemQty = TaxItemModel.ItemQty;
        ientry.CoaID = TaxItemModel.CoaID;
        ientry.SGST = TaxItemModel.SGST;
        ientry.CGST = TaxItemModel.CGST;
        ientry.IGST = TaxItemModel.IGST;
        ientry.TDS = TaxItemModel.TDS;
        ientry.Amount = TaxItemModel.Amount;



        txitemlist.Add(ientry);
        decimal tvalue = 0;
        try
        {
            if (TaxItemModel.IGST == null)
            {
                tvalue = TaxItemModel.SGST.Value + TaxItemModel.CGST.Value;
            }
            else
            {
                tvalue = TaxItemModel.IGST.Value;
            }
        }
        catch (Exception ex)
        { }
        model.TotalAmount = model.TotalAmount + TaxItemModel.Amount +
                               tvalue;
        TaxItemModel = new();
        // itm = new();
    }
    private async Task Submit()
    {
        if (!Isvisible)
        {
            snackbar.Add("Please Feth the Bill", Severity.Success);
            return;
        }
        model.Particulars = txexpenses;
        model.Items = txitemlist;
        model.DrCrType = drCrType;
        if (model.PartyCoaID == null)
        {
            if (nbusiness == "Supplier")
            {
                model.PartyCoaID = partyIservice.GetVendorPayableCoaID(model.Party.PartyID);
                model.NatureOfTransaction = "Payable";
            }
            else
            {
                model.PartyCoaID = partyIservice.GetCustomerReceivableCoaID(model.Party.PartyID);
                model.NatureOfTransaction = "Receivable";
            }
        }
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        model.BranchID = int.Parse(brancIDString);
        model.UserInfo.UserID = user.Identity.Name;

        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);
            model = new DrCrNoteModel();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

        MudDialog.Close();

    }
    public async Task fetch()
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.Party.PartyID);
        parms.Add("CrDrType", drCrType);
        var dialog = DialogService.Show<DrCrBillInfo>("BillInfo", parms, maxWidth);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {

            Bill = (List<BillInfoModel>)result.Data;
            int m = 0;
            //  List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            //SelectedItems=result.Data;
            //// GetAll();
            int PID = 0;
            if (SelectedItems != null)
            {

                Isvisible = true;
                foreach (var item in Bill)
                {
                    model.OriginalTranDocDate = item.DocumentDate;
                    model.OriginalTransactionID = item.BillID;
                    model.OriginalTranDocNumber = item.DocumentNumber;
                    model.TotalAmount = item.TotalAmount;
                    PID = item.PID.Value;
                   
                    
                }

            }
             txitemlist = TaxIservice.GetItems(PID).ToList();
            txexpenses = TaxIservice.GetExpenses(PID).ToList();
           


        }
    }


    private void DeleteExpenses(TaxPurchaseExpenseModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TDS.Value);
        decimal total = i.Amount.Value + gstrate;

        model.TotalAmount = model.TotalAmount - total;
        int rowIndex = txexpenses.IndexOf(i);
        txexpenses.RemoveAt(rowIndex);
    }

    private void DeleteItem(TaxPurchaseItemModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TDS.Value);


        decimal total = i.Amount.Value + gstrate;

        model.TotalAmount = model.TotalAmount - total;

        int rowIndex = txitemlist.IndexOf(i);
        txitemlist.RemoveAt(rowIndex);
    }
}
