@using System.Threading;
@attribute [Authorize]
@inject IDrCrNoteService Iservice
@inject IPartyService partyIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Debit Note/ Credit Note" formID="sundryPaymentForm" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12">
                        <h6>Transaction Type</h6>
                        <MudRadioGroup @bind-SelectedOption="@model.DrCrType">
                            <MudRadio Option="@("Debit")" Color="Color.Primary">Debit Note</MudRadio>
                            <MudRadio Option="@("Credit")" Color="Color.Secondary">Credit Note</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudSelect Label="Nature Of Party" ReadOnly="ReadOnly" Value="model.BusinessNature" T="string" ValueChanged="BusinessNatureChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            <MudSelectItem Disabled Value="@("Select")" />
                             <MudSelectItem Value="@("Supplier")" />
                             <MudSelectItem Value="@("Customer")" />
                             <MudSelectItem Value="@("Renter")" />
                         </MudSelect>
                     </MudItem>
                     <MudItem xs="12" md="5">
                         <PartySelector Value="model.Party" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature"></PartySelector>
                     </MudItem>
                     <MudItem xs="12" md="4">
                         <MudTextField OnAdornmentClick="fetch" ReadOnly="@true" Value="model.OriginalTranDocNumber" Label="Against" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.FileOpen" Disabled="@ReadOnly"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="6">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="6">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.ReasonCode" Label="ReasonCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ReasonCode)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="4">
                         <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12">
                         <ExpenseListView OnExpenseAdded="AddExpense" OnDelete="SetTotal" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ExpenseList="@model.Particulars" ReadOnly="@ReadOnly" />
                     </MudItem>
                     <MudItem xs="12">
                         <ItemsListView OnItemAdded="AddItems" OnDelete="SetTotal" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ItemList="@model.Items" ReadOnly="@ReadOnly" />
                     </MudItem>
                 </MudGrid>
             </EditForm>
         </MudPaper>
     </FormContent>
     <VerificationStatus>
         <AutherizationStatusComponent DocTypeID="@DrCrNoteDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.DrCrNoteID" OnApprove="Approve"></AutherizationStatusComponent>
     </VerificationStatus>
 </DialogForm>

 @code {

    [Parameter]
    public DrCrNoteModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int? BranchID = null;
    private string UserID = null;
    EditContext editContext;
    DialogForm dialogForm;
    bool Local;
    private bool _busy;

    public bool HasPermissionDrCrNoteServiceEdit { get; set; } = false;
    public bool HasPermissionDrCrNoteServiceApprove { get; set; } = false;
    public int DrCrNoteDocTypeID = 5;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionDrCrNoteServiceEdit = await Irole.HasClaim(DrCrNoteDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionDrCrNoteServiceApprove = await Irole.HasClaim(DrCrNoteDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        if (model.DrCrNoteID != null)
        {
            model.Particulars = Iservice.GetExpenses(model.DrCrNoteID).ToList();
            model.Items = Iservice.GetItems(model.DrCrNoteID).ToList();
        }
        else
        {
            model.BranchID = BranchID;
            model.NatureOfTransaction = "DrCrNote";
        }

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        if (editContext == null)
        {
            editContext = new EditContext(model);
        }
    }

    void SetTotal()
    {
        model.TotalAmount = (model.Particulars.Sum(x => x.Amount) ?? 0) + (model.Items.Sum(y => y.Amount) ?? 0);
    }

    void PartyChanged(PartyModel party)
    {
        if (model.Party?.PartyID != party?.PartyID)
        {
            model.Party = party;
            if (party != null)
            {
                Local = partyIservice.IsLocal(model.Party.PartyID, BranchID);
            }
            else { Local = false; }
        }
    }

    void AddExpense(TaxPurchaseExpenseModel expenseModel)
    {
        model.Particulars.Add(expenseModel);
        SetTotal();
    }

    void AddItems(TaxPurchaseItemModel ItemModel)
    {
        model.Items.Add(ItemModel);
        SetTotal();
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionDrCrNoteServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.DrCrNoteID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve DrCrNote.");
        }
    }

    void BusinessNatureChanged(string bn)
    {
        if (model.BusinessNature != bn)
        {
            model.BusinessNature = bn;
            PartyChanged(null);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        if (HasPermissionDrCrNoteServiceEdit)
        {
            if (model.Particulars.Count == 0 && model.Items.Count == 0)
            {
                snackbar.Add("Please Add Particulars or Items!", Severity.Error);
                return;
            }
            if (model.BusinessNature == "Supplier")
            {
                model.PartyCoaID = partyIservice.GetVendorPayableCoaID(model.Party.PartyID);
            }
            else
            {
                model.PartyCoaID = partyIservice.GetCustomerReceivableCoaID(model.Party.PartyID);
            }
            model.BranchID = BranchID;
            model.UserInfo.UserID = UserID;
            _busy = true;
            try
            {
                if (model.DrCrNoteID == null)
                {
                    foreach (var item in model.Items)
                    {
                        item.TpiID = null;
                    }
                    foreach (var item in model.Particulars)
                    {
                        item.TpeID = null;
                    }
                }
                model = Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
            dialogForm.Close(model);
            model = new();
            await Task.Delay(2000);
            _busy = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit DrCrNote.");
        }
    }

    public async Task fetch()
    {
        if (ReadOnly)
        {
            return;
        }
        if (string.IsNullOrEmpty(model.DrCrType))
        {
            snackbar.Add("Select Document Type!", Severity.Error);
            return;
        }
        else if (model.Party?.PartyID == null)
        {
            snackbar.Add("Select Party!", Severity.Error);
            return;
        }
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.Party.PartyID);
        parms.Add("CrDrType", model.DrCrType);
        var dialog = DialogService.Show<DrCrBillInfo>("BillInfo", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
        var result = await dialog.Result;
        BillInfoModel Bill = new();
        if (!result.Canceled)
        {
            Bill = (BillInfoModel)result.Data;
            int PID = 0;
            if (Bill != null)
            {
                model.OriginalTranDocDate = Bill.DocumentDate;
                model.OriginalTransactionID = Bill.BillID;
                model.OriginalTranDocNumber = Bill.DocumentNumber;
                model.TotalAmount = Bill.TotalAmount;
                PID = Bill.PID.Value;
                model.Items = Bill.Items;
                model.Particulars = Bill.Particulars;
            }
        }
    }
} 