@inherits DialogFormComponentBase<DrCrNoteModel>

@inject IDialogService DialogService
@inject IDrCrNoteService Iservice
@inject IPartyService partyService
@inject ICancellationReasonCodeService reasonCodeService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Debit Note/ Credit Note" formID="sundryPaymentForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="8" Class="mb-0 pb-0">
                        <h6>Transaction Type</h6>
                    </MudItem>
                    <MudItem xs="4" Class="mb-0 pb-0">
                        <h6>Debit or Credit Party ?</h6>
                    </MudItem>
                    <MudItem xs="4">
                        <MudRadioGroup @bind-Value="@model.IsRoundOff">
                            <MudRadio Value="@(false)" Color="Color.Error">Debit/Credit Note</MudRadio>
                            <MudRadio Value="@(true)" Color="Color.Default">Write/Round Off</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="4" >                       
                        <MudSelect Label="Nature Of Transaction" ReadOnly="ReadOnly" @bind-Value="model.NatureOfTransaction" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                            <MudSelectItem Value="@("Purchase")"/>
                            <MudSelectItem Value="@("Sales")" />                          
                        </MudSelect>
                    </MudItem>
                     <MudItem xs="4" >   
                            <MudRadioGroup @bind-Value="@model.DrCrType">
                                <MudRadio Value="@("Debit")" Color="Color.Primary">Debit</MudRadio>
                                <MudRadio Value="@("Credit")" Color="Color.Secondary">Credit</MudRadio>
                            </MudRadioGroup>                        
                    </MudItem>                        
                  
                    <MudItem xs="12" md="3">
                        <MudSelect Label="Nature Of Party" ReadOnly="ReadOnly" Value="model.BusinessNature" T="string" ValueChanged="BusinessNatureChanged" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                            <MudSelectItem Disabled Value="@("Select")" />
                            <MudSelectItem Value="@("Supplier")" />
                            <MudSelectItem Value="@("Customer")" />
                            <MudSelectItem Value="@("Renter")" />
                            <MudSelectItem Value="@("SisterConcern")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="5">
                        <PartySelector Value="model.Party" ValueChanged="PartyChanged" NatureOfBusiness="@model.BusinessNature" BranchID="@BranchID"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField OnAdornmentClick="fetch" ReadOnly="@true" Value="model.OriginalTranDocNumber" Label="Against" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.FileOpen" Disabled="@ReadOnly"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="6" md="6" lg="6">
                        <MudAutocomplete ReadOnly="ReadOnly" FullWidth Label="Reason Code" @bind-Value="model.Reason" T="CancellationReasonCode" SearchFunc="@Search" ToStringFunc="@((e) => e?.ReasonCodeDescription)"
                                         Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                        </MudAutocomplete>
                    </MudItem>
                    @* <MudItem xs="12" md="6">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.ReasonCodeID" Label="ReasonCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ReasonCodeID)"></MudTextField>
                    </MudItem> *@
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <ExpenseListView OnExpenseAdded="AddExpense" OnAmountChange="SetTotal" DocDate="@model.DocumentDate" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ExpenseList="@model.Particulars" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12">
                        @* <ItemsListView OnItemAdded="AddItems" OnAmountChange="SetTotal" BranchID="@BranchID" PartyInfo="@model.Party" Local="@Local" ItemList="@model.Items" ReadOnly="@ReadOnly" /> *@
                        @if (model.Items.Any())
                        {
                            <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                                <h6> <u>Items</u></h6>
                                <div style="width: 1600px;" class="pb-3">
                                    <MudGrid Justify="Justify.Center">
                                        <MudItem xs="3"><span class="HeadText">Item Name</span></MudItem>
                                        <MudItem xs="1"><span class="HeadText">Quantity</span></MudItem>
                                        <MudItem xs="1"><span class="HeadText">Rate</span></MudItem>
                                        <MudItem xs="2"><span class="HeadText">Cost Center</span></MudItem>
                                        <MudItem xs="2"><span class="HeadText">Dimension</span></MudItem>
                                        <MudItem xs="1"><span class="HeadText">Amount</span></MudItem>
                                        <MudItem xs="1"><span class="HeadText">Gst/TDS</span></MudItem>
                                        <MudItem xs="1">Actions</MudItem>
                                        @foreach (var item in model.Items)
                                        {
                                            <MudItem xs="3">@item.ItemCode | @item.ItemGroupDescription - @item.ItemDescription - @item.PartNumber</MudItem>
                                            <MudItem xs="1">
                                                <MudNumericField T="decimal?"
                                                                 HideSpinButtons
                                                                 Label="Qty"
                                                                 Immediate="true"
                                                                 Value="item.ItemQty"
                                                                 ValueChanged="@(val => OnQtyChanged(val, item))"
                                                                 Variant="Variant.Outlined"
                                                                 Margin="Margin.Dense"
                                                                 ReadOnly="(model.DrCrNoteID != null)" />
                                            </MudItem>
                                            @* <MudItem xs="1">@item.ItemQty</MudItem> *@
                                            <MudItem xs="1">@item.ItemRate</MudItem>
                                            <MudItem xs="2">@item.CostCenterVal</MudItem>
                                            <MudItem xs="2">@item.DimensionVal</MudItem>
                                            <MudItem xs="1">@item.Amount</MudItem>
                                            <MudItem xs="1">@(item.CGST + item.SGST + item.IGST)/@item.TDS</MudItem>
                                            <MudItem xs="1" Class="d-flex">
                                                @if (!ReadOnly)
                                                {
                                                    <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> Delete(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                                }
                                                <MudIconButton Title="Show Taxes" Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" />
                                            </MudItem>
                                        }
                                    </MudGrid>
                                </div>
                            </MudItem>
                        }
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocNumber="@DocNumber" DocumentID="model.DrCrNoteID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override DrCrNoteModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.DrCrNoteID; DocInfo.DocumentName = value.DrCrType + " Note"; } }
    private DrCrNoteModel _model;

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 5,
        };

    public List<CancellationReasonCode> ReasonCodeList { get; set; }


    public DocumentInfoModel DocumentDetails { get; set; } = new();

    public bool HasPermissionDrCrNoteServiceEdit { get; set; } = false;
    public bool HasPermissionDrCrNoteServiceApprove { get; set; } = false;
    public int? DrCrNoteDocTypeID = 5;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (model.DrCrNoteID != null)
        {
            model.Particulars = Iservice.GetExpenses(model.DrCrNoteID).ToList(); // Fetch expenses
            model.Items = Iservice.GetItems(model.DrCrNoteID).ToList(); // Fetch items
        }
        else
        {
            model.BranchID = BranchID;
            //model.NatureOfTransaction = "DrCrNote";
        }

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;

        // Fetch the list of cancellation reason codes
        ReasonCodeList = reasonCodeService.SelectSubById(DrCrNoteDocTypeID).ToList();
    }

    // Method to calculate total amounts for particulars and items
    void SetTotal()
    {
        model.TotalAmount = model.Particulars.Sum(x => (x.Amount ?? 0) + (x.IGST ?? 0) + (x.CGST ?? 0) + (x.SGST ?? 0));
        model.TotalAmount += model.Items.Sum(y => (y.Amount ?? 0) + (y.IGST ?? 0) + (y.CGST ?? 0) + (y.SGST ?? 0));
        model.TotalTaxableAmount = (model.Particulars.Sum(x => x.Amount) ?? 0) + (model.Items.Sum(y => y.Amount) ?? 0);
    }

    // Method to handle changes in party selection
    void PartyChanged(PartyModel party)
    {
        if (model.Party?.PartyID != party?.PartyID)
        {
            model.Party = party;
            if (party != null)
            {
                IsTaxable = party.GstType == "Registered" || party.GstType == "SEZ";
                Local = partyService.IsLocal(model.Party.PartyID, BranchID); // Check if the party is local
            }
            else { Local = false; }

            // Set the appropriate COA ID based on the business nature
            if (party is not null)
            {
                if (model.BusinessNature == "Supplier")
                {
                    model.PartyCoaID = partyService.GetVendorPayableCoaID(model.Party.PartyID);
                }
                else if (model.BusinessNature == "Customer")
                {
                    model.PartyCoaID = partyService.GetCustomerReceivableCoaID(model.Party.PartyID);
                }
                else if (model.BusinessNature == "Renter")
                {
                    model.PartyCoaID = partyService.GetRenterRentCoaID(model.Party.PartyID);
                }
                else
                {
                    model.PartyCoaID = partyService.GetPartyCoaID(model.Party.PartyID, "SisterConcern", "Trade");
                }

            }
        }
    }

    // Method to add an expense to the model
    void AddExpense(TaxPurchaseExpenseModel expenseModel)
    {
        model.Particulars.Add(expenseModel);
        SetTotal();
    }

    // Method to add an item to the model
    void AddItems(TaxPurchaseItemModel ItemModel)
    {
        model.Items.Add(ItemModel);
        SetTotal();
    } 


    // Method to handle changes in business nature
    void BusinessNatureChanged(string bn)
    {
        if (model.BusinessNature != bn)
        {
            model.BusinessNature = bn;
            PartyChanged(null);
        }
    }

    // Method to update approval status of the document
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.DrCrNoteID, model.UserInfo.UserID, aprvd.Remarks); // Call service to approve
        return result;
    }

    // Method to update the DrCrNote model
    protected override async Task<int> Update(DrCrNoteModel editModel)
    {
        if (await validate(model))
        {
            if (model.DrCrNoteID == null)
            {
                foreach (var item in model.Items)
                {
                    item.TpiID = null;
                }
                foreach (var item in model.Particulars)
                {
                    item.TpeID = null;
                }
            }
            model = Iservice.Update(model); // Call service to update the model
            return (model.DrCrNoteID ?? 0);
        }
        return 0;
    }

    // Method to validate the DrCrNote model
    async Task<bool> validate(DrCrNoteModel editModel)
    {

        if (model.Particulars.Count == 0 && model.Items.Count == 0)
        {
            snackbar.Add("Please Add Particulars or Items!", Severity.Error);
            return false;
        }

        return true;
    }

    // Method to fetch additional information based on the selected party and document type
    public async Task fetch()
    {
        if (ReadOnly)
        {
            return;
        }
        if (string.IsNullOrEmpty(model.DrCrType))
        {
            snackbar.Add("Select Document Type!", Severity.Error);
            return;
        }
        else if (model.Party?.PartyID == null)
        {
            snackbar.Add("Select Party!", Severity.Error);
            return;
        }
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.Party.PartyID);
        parms.Add("CrDrType", model.DrCrType);
        var dialog = dialogService.Show<DrCrBillInfo>("BillInfo", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
        var result = await dialog.Result;
        BillInfoModel Bill = new();
        if (!result.Canceled)
        {
            Bill = (BillInfoModel)result.Data;
            int PID = 0;
            if (Bill != null)
            {
                model.OriginalTranDocDate = Bill.DocumentDate;
                model.OriginalTransactionID = Bill.BillID;
                model.OriginalTranDocNumber = Bill.DocumentNumber;
                model.TotalAmount = Bill.TotalAmount;
                PID = Bill.PID.Value;
                model.Items = Bill.Items.Select(x =>
                {
                    x.OriginalQty = x.ItemQty;
                    return x;
                }).ToList();
                model.Particulars = Bill.Particulars;
            }
        }
    }

    // Method to search for cancellation reason codes based on input value
    private async Task<IEnumerable<CancellationReasonCode>> Search(string value)
    {
        await Task.Delay(5);

        if (string.IsNullOrEmpty(value))
            return ReasonCodeList;
        return ReasonCodeList.Where(x => x.ReasonCodeDescription.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    void OnQtyChanged(decimal? newVal, TaxPurchaseItemModel item)
    {
        item.ItemQty = newVal;

        if (item.ItemQty > item.OriginalQty)
        {
            snackbar.Add($"Qty cannot exceed original: {item.OriginalQty}", Severity.Error);
            item.ItemQty = item.OriginalQty;
        }

        // Recalculate amount when quantity changes
        if (item.ItemQty != null && item.ItemRate != null)
        {
            item.Amount = item.ItemQty * item.ItemRate;
        }
        else
        {
            item.Amount = 0;
        }

        editContext?.NotifyFieldChanged(new FieldIdentifier(item, nameof(item.ItemQty)));
        editContext?.NotifyFieldChanged(new FieldIdentifier(item, nameof(item.Amount)));

        SetTotal();
    }

    private async Task Delete(TaxPurchaseItemModel i)
    {
        int rowIndex = model.Items.IndexOf(i);
        model.Items.RemoveAt(rowIndex);
        SetTotal();
    }

    // Method to open the dialog for tax rates
    private async Task OpenDialogTaxRates(TaxPurchaseItemModel i)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        GstModel taxModel = new GstModel();
        taxModel.CGST = i.CGST;
        taxModel.IGST = i.IGST;
        taxModel.TDS = i.TDS;
        taxModel.SGST = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            taxModel = (GstModel)result.Data;
            i.CGST = taxModel.CGST;
            i.IGST = taxModel.IGST;
            i.TDS = taxModel.TDS;
            i.SGST = taxModel.SGST;
            i.GstRate = taxModel.GstRate;

            SetTotal();
        }
        await Task.Delay(200);
        _busy = false;
    }
} 