@page "/DrCrNoteView"
@page "/DrCrNoteView/{id:int}"
@inherits ViewComponentBase<DrCrNoteModel>
@inject IDialogService DialogService
@inject IDrCrNoteService Iservice
@inject ICancellationReasonCodeService IcancellationReasonCodeService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Debit Note/ Credit Note</MudText>
                <MudTooltip Text="New Document">
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new DrCrNoteModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Dr/Cr..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ToggleData(value))" Value="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DrCrNoteModel, object>(x=> x.DocumentDate)">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DrCrNoteModel, object>(x=> x.DrCrNoteID)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DrCrNoteModel, object>(x=> x.TotalAmount)" >Total Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToString("d")</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber
                    @if (context.AuthLevelId == 100)
                    {
                        <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
                    }
                </MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.DrCrNoteID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />
                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.DrCrNoteID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                        <MudIconButton OnClick="@(()=> PrintInvoice(context.DrCrNoteID))" Color="Color.Tertiary" Title="Print Invoice" Class="ml-2" Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    else if (@context.AuthLevelId != 100)
                    {
                        <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    protected override List<DrCrNoteModel> collection{ get; set; } = new List<DrCrNoteModel>();
    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 5,
            DocumentName = "DrCr Note"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (id != null && collection != null && collection.Any(g => g.DrCrNoteID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.DrCrNoteID == id), true);
        }
    }    

    protected override async Task OpenForm(DrCrNoteModel tds, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, ClassBackground = "blur" };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", tds.Clone());        
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<DrCrNoteDialog>(tds.DrCrNoteID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        var isCancelled = result.Canceled;
        if (!isCancelled)
        {
            var ReturnData = (DrCrNoteModel)result.Data;  
            LoadData(ShowApproved, NumberOfRecords);
        }
       
        await Task.Delay(200);
        _busy = false;
    }

    // private async Task ReverseTransactionDialogOpen(DrCrNoteModel tds, bool ReadOnly)
    // {
    //     if (_busy)
    //     {
    //         snackbar.Add("Please wait while form is closing!", Severity.Warning);
    //         return;
    //     }
    //     _busy = true;

    //     DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, ClassBackground = "blur" };
    //     DialogParameters parms = new DialogParameters();
    //     parms.Add("DocumentTypeID", DrCrNoteDocTypeID);
    //     var dialog = DialogService.Show<ReverseTransactionDialog>("Reverse Transaction", parms, maxWidth);
    //     var result = await dialog.Result;
    //     var isCancelled = result.Canceled;
    //     if (!isCancelled)
    //     {
    //         var ReturnData = (CancellationReasonCodesByDocumentType)result.Data;
    //         ReturnData.MID = tds.MID;
    //         ReturnData.DocumentID = tds.DrCrNoteID;
    //         ReturnData.DocumentNumber = tds.DocumentNumber;
    //         var resultSub = IcancellationReasonCodeService.UpdateReverseEntry(ReturnData);
    //         if (resultSub != null)
    //         {

    //             snackbar.Add("Reversed successfully!", Severity.Success);
    //             return;
    //         }
    //     }
    //     LoadData(ShowApproved, NumberOfRecords);

    //     await Task.Delay(200);
    //     _busy = false;
    // }


    // protected override void LoadData(bool val, int numberOfRecords)
    // {        
    //     if (val)
    //     {
    //         collection = Iservice.SelectByApproved(BranchID, NumberOfRecords, interbranch,searchTerm).ToList();
    //     }
    //     else
    //     {
    //         collection = Iservice.SelectByUnapproved(BranchID, NumberOfRecords, ,searchTerm).ToList();
    //     }       
    // }   
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    private async Task PrintInvoice(int? DrCrNoteID)
    {
        ReportParameters.Clear();
        ReportParameters.Add("DrCrNoteID", DrCrNoteID.ToString());
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintDrCrNote");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }
}