@page "/FastTagTollUpload"
@* @page "/FastTagTollUpload/{id:int}/{Readonly:bool}" *@
@page "/FastTagTollUpload/{encryptedId}/{Readonly:bool}"

@using Core.BaseModels.Finance.Transactions;
@using Core.IDataServices.Finance.Transactions;
@using System.IO;
@using NPOI.HSSF.UserModel;
@using NPOI.SS.UserModel;
@using OfficeOpenXml;
@using System.Threading;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager NavigationManager
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IFastTagService IFTService

<style>
    .mud-table-container {
        width: 100%;
        overflow-y: hidden !important;
    }
</style>

<MudPaper Style="padding-bottom: 1px;">
    <MudToolBar>
        <MudText Typo="Typo.h6" Style="font-weight:500;">FastTag Toll Transaction</MudText>
    </MudToolBar>
    <MudDivider />
    <MudItem Style="padding: 26px; background-color: whitesmoke; margin: 38px; border-radius: 4px; box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.3);">

        <MudPaper Style="min-width:min-content;">
            <MudItem xs="12" Style="padding: 38px">
                <MudGrid>
                    @if (!Readonly)
                    {
                        <MudItem xs="4">
                            <h6>Upload XLSX File : </h6>
                            <InputFile @ref="fileInput" OnChange="HandleXLSXFileButtonSelected" />
                            <MudButton Disabled="@_busy" Style="background-color: burlywood;" OnClick="@((args) => LoadExcelData())" Variant="Variant.Filled">Upload</MudButton>
                        </MudItem>
                    }
                    <MudItem xs="@((Readonly) ? 12 : 8)">
                        <EditForm id="FastTagForm" OnValidSubmit="OnValidSubmit" Model="MainModel">
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@MainModel.DocumentNumber" ReadOnly="true" Label="Document" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudDatePicker @bind-Date=@MainModel.DocumentDate ReadOnly="@Readonly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" For="@(()=> MainModel.DocumentDate)" Required />
                                </MudItem>
                                <MudItem xs="12">
                                    <PaymentAccountSelector ReadOnly="@Readonly" BranchID="@branchID" @bind-PaymentMode="@MainModel.PaymentMode" @bind-ArdCode="@MainModel.PaymentArdCode" @bind-CoaID="@MainModel.PaymentCoaID" @bind-BankCharges="@MainModel.BankCharges" @bind-BankTool="@MainModel.PaymentTool" />
                                </MudItem>
                                <MudItem xs="12">
                                    <MudTextField @bind-Value="MainModel.Narration" ReadOnly="@Readonly" Lines="3" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(()=> MainModel.Narration)"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudGrid>
                                        <MudItem xs="@((Readonly) ? 12 : 8)"><b>Total Excel Debit Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @((Readonly) ? ((MainModel.TotalAmount ?? 0).ToString("c")) : (ExcelModelCollection.Sum(e => e.DebitAmount).ToString("c")))</b></MudItem>
                                        @if (!Readonly)
                                        {
                                            <MudItem xs="2">
                                                <MudButton Style="width: 100%; height: 110%;" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
                                            </MudItem>
                                            <MudItem xs="2">
                                                <MudButton Style="width: 100%; height: 110%;" Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">Cancel</MudButton>
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudItem xs="8"><b>Total Reimbursable Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @ExcelModelCollection.Where(e => e.Reimbursable).Sum(e => e.DebitAmount).ToString("c")</b></MudItem>
                                            <MudItem xs="4">
                                                <MudButton Style="margin-left: 64%; width: 36%; height: 110%;" Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">Close</MudButton>
                                            </MudItem>
                                        }
                                    </MudGrid>
                                </MudItem>
                            </MudGrid>
                            <ObjectGraphDataAnnotationsValidator />
                            <ValidationSummary />
                        </EditForm>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudPaper>

        <MudPaper Style="margin-top:26px;">
            <MudItem xs="12" Style="padding: 26px 26px 26px 26px;">
                @* <MudProgressLinear Color="Color.Primary" Value="@Value" Class="my-7" /> *@
                <div Class="fullborder" style="padding: 0px; overflow-y: auto;">
                    <MudTable Items="@ExcelModelCollection" Loading="@IsLoading" HorizontalScrollbar="true" Context="item" Filter="new Func<FastTagModel, bool>(search)" RowsPerPage="100" Style="padding: 0px;width: max-content;" Elevation="0" Dense="true" Hover="true" Striped="true">

                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Transactions List</MudText>
                            <MudSpacer></MudSpacer>
                            <MudTextField @bind-Value="searchplatenumber" Placeholder="Search Licence Plate No..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                            </MudTextField>
                        </ToolBarContent>

                        <HeaderContent>
                            @if (Readonly)
                            {
                                <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.IsProcessed)" InitialDirection="SortDirection.Ascending"></MudTableSortLabel></MudTh>
                            }
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.TransactionDateTime)" InitialDirection="SortDirection.Ascending">Transaction DateTime</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.NumberPlate)" InitialDirection="SortDirection.Ascending">Licence Plate No</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.BranchName)" InitialDirection="SortDirection.Ascending">Branch Name</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.TripNumber)" InitialDirection="SortDirection.Ascending">Trip No</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.Destination)" InitialDirection="SortDirection.Ascending">Destination</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.PlazaCode)" InitialDirection="SortDirection.Ascending">Plaza Code</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.Description)" InitialDirection="SortDirection.Ascending">Transaction Description</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.TransactionID)" InitialDirection="SortDirection.Ascending">Unique Transaction ID</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.Reimbursable)" InitialDirection="SortDirection.Ascending">Reimbursable</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<FastTagModel, object>(x=> x.DebitAmount)" InitialDirection="SortDirection.Ascending">Amount(DR)</MudTableSortLabel></MudTh>
                            @* <MudTd></MudTd> *@
                        </HeaderContent>

                        <RowTemplate>
                            @if (Readonly)
                            {
                                <MudTd DataLabel="Selected Items">
                                    <MudCheckBox T="bool" @bind-Checked="@item.IsProcessed" ReadOnly></MudCheckBox>
                                </MudTd>
                            }
                            <MudTd DataLabel="Transaction DateTime">@item.TransactionDateTime</MudTd>
                            <MudTd DataLabel="NumberPlate">@item.NumberPlate</MudTd>
                            @if (item.BranchID.HasValue)
                            {
                                <MudTd DataLabel="Branch Name">@item.BranchName</MudTd>
                            }
                            else
                            {
                                <MudTd DataLabel="Branch Name"><BranchSelector LabelName="Select Branch" Value="SelectedBranch" ValueChanged="@((newValue) => BranchChanged(newValue, item))" /></MudTd>
                            }
                            <MudTd DataLabel="Trip No">@item.TripNumberDisplay</MudTd>
                            <MudTd DataLabel="Destination">@item.Destination</MudTd>
                            <MudTd DataLabel="PlazaCode">@item.PlazaCode</MudTd>
                            <MudTd DataLabel="TransactionDescription">@item.Description</MudTd>
                            <MudTd DataLabel="Unique Transaction ID">@item.TransactionID</MudTd>
                            <MudTd><MudCheckBox T="bool" @bind-Checked="@item.Reimbursable" ReadOnly></MudCheckBox></MudTd>
                            <MudTd DataLabel="Debit Amount">@item.DebitAmount</MudTd>
                            @* <MudTd><MudIconButton Icon="@Icons.Material.Filled.Remove" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small" @onclick="@(() => Delete(item))" /></MudTd> *@
                        </RowTemplate>

                        <PagerContent>
                            <MudTablePager PageSizeOptions="new int[] {5 ,10 ,50 , 100 , 150, 200}" />
                        </PagerContent>
                    </MudTable>
                </div>
            </MudItem>
        </MudPaper>

    </MudItem>
</MudPaper>

@code {

    private InputFile fileInput;
    private MemoryStream memoryStream = new MemoryStream();
    //private FastTagModel model = new FastTagModel();
    private HashSet<FastTagModel> selectedcollection = new HashSet<FastTagModel>();
    private FastTagTollModel MainModel = new FastTagTollModel();
    private List<FastTagModel> collection = new List<FastTagModel>();
    private List<FastTagModel> Pendingcollection = new List<FastTagModel>();
    private List<FastTagModel> excelcollection = new List<FastTagModel>();
    private List<FastTagModel> ExcelModelCollection = new List<FastTagModel>();
    private List<FastTagList> collectionlist = new List<FastTagList>();
    private string searchplatenumber = "";
    public string fileExtension = "";
    private bool _busy;
    public int branchID;
    private string UserID = null;
    FastTagModel newItem = new FastTagModel();
    public BranchModel SelectedBranch { get; set; } = new();
    public bool IsLoading = false;

    //[Parameter]
    public int? id { get; set; }
    [Parameter]
    public string encryptedId { get; set; }
    [Parameter]
    public bool Readonly { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        branchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
        MainModel.BranchID = branchID;
        MainModel.NatureOfTransaction = "FastTag";
        UserID = user.Identity.Name;

        // if (id != null && Readonly == true)
        // {
        //     MainModel = IFTService.GetUploadViewModel(id);
        //     collection = IFTService.GetUploadViewCollection(id).ToList();
        //     //selectedcollection = new HashSet<FastTagModel>(IFTService.GetUploadViewSelectedCollection(id));

        //     // Pendingcollection = IFTService.GetUploadViewSelectedCollection(id).ToList();

        //     // foreach (var item in Pendingcollection)
        //     // {
        //     //     selectedcollection.Add(item);
        //     // }
        // }
        // else if (id == 0 && Readonly == false)
        // {

        // }
    }

    // private async Task BranchChanged(BranchModel branch)
    // {
    //     SelectedBranch = branch;
    //     newItem.BranchName = branch?.BranchName;
    //     newItem.BranchID = branch?.BranchID;
    // }

    private async Task BranchChanged(BranchModel newValue, FastTagModel item)
    {
        if (newValue != null)
        {
            item.BranchID = newValue.BranchID;
            item.BranchName = newValue.BranchName;
        }
    }

    // private void AddNewItem()
    // {
    //     collection.Add(newItem);
    //     newItem = new FastTagModel();
    //     SelectedBranch = new();
    // }

    protected override void OnParametersSet()
    {
        try
        {
            id = Convert.ToInt32(EncryptionHelper.Decrypt(encryptedId));
            // Readonly = Convert.ToBoolean(EncryptionHelper.Decrypt(encryptedReadonly));
            // Verify = Convert.ToBoolean(EncryptionHelper.Decrypt(encryptedVerify));

            LoadData();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private void LoadData()
    {
        if (id != null && Readonly == true)
        {
            MainModel = IFTService.GetUploadViewModel(id);
            ExcelModelCollection = IFTService.GetUploadViewCollection(id).ToList();
            // collection = IFTService.GetUploadViewCollection(id).ToList();
            // selectedcollection = new HashSet<FastTagModel>(IFTService.GetUploadViewSelectedCollection(id));

            // Pendingcollection = IFTService.GetUploadViewSelectedCollection(id).ToList();

            // foreach (var item in Pendingcollection)
            // {
            //     selectedcollection.Add(item);
            // }
        }
        else if (id == 0 && Readonly == false)
        {

        }
    }

    public async Task Delete(FastTagModel model)
    {

    }

    public async Task Cancel()
    {
        NavigationManager.NavigateTo("/FastTagTollUploadView");
    }

    public async Task OnValidSubmit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        try
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            branchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
            MainModel.NatureOfTransaction = "FastTag";
            UserID = user.Identity.Name;

            MainModel.BranchID = branchID;
            MainModel.FastTagModelList = ExcelModelCollection.ToList();
            MainModel.TotalAmount = ExcelModelCollection.Sum(e => e.DebitAmount);
            MainModel.UserInfo.UserID = UserID;

            if (MainModel.FastTagModelList.Count != 0)
            {
                if (MainModel.FastTagModelList.Any(f => !f.BranchID.HasValue))
                {
                    bool? result = await DialogService.ShowMessageBox(
                        "Oops !",
                        "Branch not assigned to one or more Transaction !");
                }
                else
                {
                    IFTService.UpdateNew(MainModel);
                    snackbar.Add("Saved Successfully", Severity.Success);
                    NavigationManager.NavigateTo("/FastTagTollUploadView");
                    // MainModel = new();
                    // collection = new();
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Oops !",
                    "Please Upload the file !");
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
        await Task.Delay(100);
        _busy = false;
    }

    private bool search(FastTagModel model)
    {
        if (string.IsNullOrEmpty(searchplatenumber))
        {
            return true;
        }
        return model.NumberPlate?.Contains(searchplatenumber, StringComparison.OrdinalIgnoreCase) == true;
    }

    private async Task HandleXLSXFileButtonSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null)
        {
            try
            {
                var extension = System.IO.Path.GetExtension(file.Name);
                fileExtension = extension.ToString();

                if (extension.Equals(".xlsx", StringComparison.OrdinalIgnoreCase)) //|| extension.Equals(".xls", StringComparison.OrdinalIgnoreCase))
                {
                    memoryStream = new MemoryStream();
                    excelcollection.Clear();
                    collection.Clear();
                    memoryStream.SetLength(0); // Reset the stream before reading new file data
                    await file.OpenReadStream().CopyToAsync(memoryStream);
                }
                else
                {
                    bool? result = await DialogService.ShowMessageBox(
                        "File Denied !",
                        "The file you uploaded is not in .xlsx format.");
                }
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    private async Task LoadExcelData()
    {
        IsLoading = true;
        StateHasChanged();
        await Task.Delay(1);

        await UploadXLSXFile();

        IsLoading = false;
        StateHasChanged();
    }

    public async Task UploadXLSXFile()
    {
        try
        {
            // if (fileExtension == ".xls")
            // {
            //     memoryStream.Position = 0;
            //     IWorkbook workbook;

            //     using (workbook = new HSSFWorkbook(memoryStream)) // Use HSSFWorkbook for .xls files
            //     {
            //         HSSFSheet sheet = (HSSFSheet)workbook.GetSheetAt(0); // Access the first worksheet

            //         int rowCount = sheet.PhysicalNumberOfRows;

            //         for (int row = 0; row < rowCount; row++)
            //         {
            //             FastTagModel Model = new FastTagModel();
            //             HSSFRow excelRow = (HSSFRow)sheet.GetRow(row);

            //             if (excelRow != null)
            //             {
            //                 int colCount = excelRow.PhysicalNumberOfCells;

            //                 for (int col = 0; col < colCount; col++)
            //                 {

            //                 }
            //             }
            //             XLSXButtoncollection.Add(Model);
            //         }
            //     }
            // }
            if (fileExtension == ".xlsx")
            {
                memoryStream.Position = 0;

                using (ExcelPackage package = new ExcelPackage(memoryStream))
                {
                    int worksheetCount = package.Workbook.Worksheets.Count;
                    if (worksheetCount > 0)
                    {
                        ExcelWorksheet worksheet = package.Workbook.Worksheets[0]; // Access the first worksheet

                        int rowCount = worksheet.Dimension.Rows;
                        int colCount = worksheet.Dimension.Columns;
                        int TransactionDateTimeRow = 0,
                        LicencePlateNoRow = 0,
                        PlazaCodeRow = 0,
                        TransactionDescriptionRow = 0,
                        UniqueTransactionIDRow = 0,
                        Activity = 0,
                        DRAmountRow = 0;

                        for (int row = 1; row <= (rowCount - 1); row++)
                        {
                            FastTagModel Model = new FastTagModel();
                            if (row == 1)
                            {
                                for (int col = 1; col <= colCount; col++)
                                {
                                    if (worksheet.Cells[row, col].Value?.ToString() == "Transaction Date Time")
                                    {
                                        TransactionDateTimeRow = col;
                                    }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Licence Plate No")
                                    {
                                        LicencePlateNoRow = col;
                                    }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Activity")
                                    {
                                        Activity = col;
                                    }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Plaza Code")
                                    {
                                        PlazaCodeRow = col;
                                    }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Transaction Description")
                                    {
                                        TransactionDescriptionRow = col;
                                    }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Unique Transaction ID")
                                    {
                                        UniqueTransactionIDRow = col;
                                    }
                                    // else if (worksheet.Cells[row, col].Value?.ToString() == "Amount(CR)")
                                    // {
                                    //     CRAmountRow = col;
                                    // }
                                    else if (worksheet.Cells[row, col].Value?.ToString() == "Amount(DR)")
                                    {
                                        DRAmountRow = col;
                                    }
                                }
                            }
                            else
                            {
                                for (int col = 1; col <= colCount; col++)
                                {
                                    if (TransactionDateTimeRow == col)
                                    {
                                        Model.TransactionDateTime = DateTime.Parse(worksheet.Cells[row, TransactionDateTimeRow].Value?.ToString());
                                    }
                                    if (LicencePlateNoRow == col)
                                    {
                                        Model.NumberPlate = worksheet.Cells[row, LicencePlateNoRow].Value?.ToString();
                                    }
                                    if (Activity == col)
                                    {
                                        Model.Activity = worksheet.Cells[row, Activity].Value?.ToString();
                                    }
                                    if (PlazaCodeRow == col)
                                    {
                                        Model.PlazaCode = worksheet.Cells[row, PlazaCodeRow].Value?.ToString();
                                    }
                                    if (TransactionDescriptionRow == col)
                                    {
                                        Model.Description = worksheet.Cells[row, TransactionDescriptionRow].Value?.ToString();
                                    }
                                    if (UniqueTransactionIDRow == col)
                                    {
                                        Model.TransactionID = worksheet.Cells[row, UniqueTransactionIDRow].Value?.ToString();
                                    }
                                    // if (CRAmountRow == col)
                                    // {
                                    //     Model.CreditAmount = decimal.Parse(worksheet.Cells[row, CRAmountRow].Value?.ToString());
                                    // }
                                    if (DRAmountRow == col)
                                    {
                                        Model.DebitAmount = decimal.Parse(worksheet.Cells[row, DRAmountRow].Value?.ToString());
                                    }
                                }
                                //if (Model.DebitAmount > 0) //&& Model.Activity != "ADJUSTMENT") //&& Model.NumberPlate != null)
                                if (((Model.DebitAmount > 0) && (Model.NumberPlate != null)) || ((Model.Activity == "ADJUSTMENT") && (Model.NumberPlate != null) && (Model.DebitAmount > 0)))
                                {
                                    excelcollection.Add(Model);
                                }
                            }
                        }

                        collectionlist = excelcollection.Select(model => new FastTagList
                            {
                                TransactionDateTime = model.TransactionDateTime,
                                NumberPlate = model.NumberPlate
                            }).ToList();
                        collection = IFTService.MatchTrucks(collectionlist).ToList();

                        MainModel.NatureOfTransaction = "FastTag";
                        MainModel.BranchID = branchID;
                        if (collection.Count == 0)
                        {
                            bool? errorresult = await DialogService.ShowMessageBox(
                                "Oops !",
                                "No matching data found.");
                            excelcollection = new();
                            collection = new();
                            collectionlist = new();
                        }
                        else if (collection.Count != 0)
                        {
                            //foreach (var data in collection)
                            foreach (var data in excelcollection)
                            {
                                // var matchingCollectionData = excelcollection.FirstOrDefault(x => x.TransactionDateTime == data.TransactionDateTime
                                //                                                                && x.NumberPlate == data.NumberPlate);
                                var matchingCollectionData = collection.FirstOrDefault(x => x.TransactionDateTime == data.TransactionDateTime
                                                                                           && x.NumberPlate == data.NumberPlate);
                                if (matchingCollectionData != null)
                                {
                                    // Update 'excelData' properties with corresponding 'matchingCollectionData' values
                                    // data.PlazaCode = matchingCollectionData.PlazaCode;
                                    // data.Description = matchingCollectionData.Description;
                                    // data.TransactionID = matchingCollectionData.TransactionID;
                                    // data.CreditAmount = matchingCollectionData.CreditAmount;
                                    // data.DebitAmount = matchingCollectionData.DebitAmount;
                                    data.BranchID = matchingCollectionData.BranchID;
                                    data.BranchName = matchingCollectionData.BranchName;
                                    data.TruckID = matchingCollectionData.TruckID;
                                    data.TripID = matchingCollectionData.TripID;
                                    data.TripPrefix = matchingCollectionData.TripPrefix;
                                    data.TripNumber = matchingCollectionData.TripNumber;
                                    data.Destination = matchingCollectionData.Destination;
                                    // if (matchingCollectionData.Trip != null)
                                    //     {
                                    //         data.Trip = new TripModel
                                    //             {
                                    //                 TripID = matchingCollectionData.Trip.TripID,
                                    //                 TruckID = matchingCollectionData.Trip.TruckID,
                                    //                 TripPrefix = matchingCollectionData.Trip.TripPrefix,
                                    //                 TripNumber = matchingCollectionData.Trip.TripNumber
                                    //             };
                                    //     };
                                    // ... Update other properties as needed ...
                                }
                                else
                                {
                                    // Handle the case where there is no match in 'collection' for the current 'excelData'
                                    // You may choose to add default values or handle it as needed
                                }
                            }
                            ExcelModelCollection = excelcollection;
                        }
                        // else
                        // {
                        //     bool? errorresult = await DialogService.ShowMessageBox(
                        //         "Oops !",
                        //         "No matching data found.");
                        //     excelcollection = new();
                        //     collection = new();
                        //     collectionlist = new();
                        // }
                    }
                    else
                    {
                        bool? errorresult = await DialogService.ShowMessageBox(
                            "File Denied !",
                            "The file you uploaded seems to be Corrupted.");
                    }
                }
                memoryStream.Dispose();
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }
}