@using ArmsModels.BaseModels.Finance.Transactions;
@using ArmsServices.DataServices.Finance.Transactions;
@using ArmsServices.DataServices.Inventory;
@using System.Threading;

@attribute [Authorize]
@inject IRoleService<RoleModel> Irole
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IInventoryReleaseService Iservice
@inject IJobcardService IJobcardService
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice
@inject IInventoryRequestService IInventoryRequestservice
@inject ITruckService Itruck
@inject IStoreService storeIservice
@inject IPushNotificationService notiService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Inventory Release" formID="inventoryReleaseForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="inventoryReleaseForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <StoreSelector @bind-Value="@model.Store" BranchID="@branchID.Value" IsDisabled="@IsDisableStore"></StoreSelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Disabled Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Request" T="InventoryRequestModel" Value="SelectInventoryRequest" ValueChanged="OnChangeSelectedInventoryRequest" ToStringFunc="@(e => e == null ? null : $"{e.RequestNumber}")" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary" Disabled="ReadOnly">
                            @foreach (var ditem in InventoryRequestList)
                            {
                                <MudSelectItem Value="@ditem">@ditem.RequestNumber</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Job Card" T="JobcardModel" Value="model.Jobcard" ValueChanged="OnChangeJobcard" ToStringFunc="@(e => e == null ? null : $"{e.JobcardNumber}")" Variant="Variant.Outlined" Margin="Margin.Dense"   AdornmentColor="Color.Secondary" Disabled>
                            @foreach (var ditem in JobcardList)
                            {
                                <MudSelectItem Value="@ditem">@ditem.JobcardNumber</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <TruckSelector @bind-Value="@model.Truck" BranchID="@branchID" IsDisabled="@IsDisableTruck" Filter="All"></TruckSelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudCheckBox CheckedChanged="((bool e)=>SetUsedItem(e))" Checked="model.IsUsedItem" ReadOnly="@ReadOnly" Label="Used Item" Color="Color.Primary"></MudCheckBox>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.RefInvoiceNo" Label="Reference Invoice No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.RefInvoiceNo)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="@model.Narration" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="ReadOnly"></MudTextField>
                    </MudItem>
                    @if (ReadOnly)
                    {
                        <MudItem xs="12">
                            <h6><u>Items</u></h6>
                            <MudGrid Justify="Justify.Center">
                                @if (model.RequestID == null)
                                {
                                    <MudItem xs="6" Class="d-flex align-center"><span> <strong> <u>Item</u></strong> </span></MudItem>
                                    <MudItem xs="6" Class="d-flex align-center"><span><strong><u>Release Qty</u></strong> </span></MudItem>
                                }
                                else
                                {
                                    <MudItem xs="4" Class="d-flex align-center"><span> <strong> <u>Item</u></strong> </span></MudItem>
                                    <MudItem xs="4" Class="d-flex align-center"><span><strong><u>Requst Qty</u></strong> </span></MudItem>
                                    <MudItem xs="4" Class="d-flex align-center"><span><strong><u>Release Qty</u></strong> </span></MudItem>                                    
                                }
                                @foreach (var item in InventoryRequestSubList)
                                {
                                    @if (model.RequestID == null)
                                    {
                                        <MudItem xs="6"> @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.InventoryItemCode) | @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.ItemGroup.ItemGroupDescription) - @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.ItemDescription) </MudItem>
                                        <MudItem xs="6"> @item.ItemQty </MudItem>
                                    }
                                    else
                                    {
                                        <MudItem xs="4"> @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.InventoryItemCode) | @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.ItemGroup.ItemGroupDescription) - @(ItemList.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.ItemDescription) </MudItem>
                                        <MudItem xs="4"> @item.RequestQty </MudItem>
                                        <MudItem xs="4"> @item.ItemQty </MudItem>                                        
                                    }
                                }
                            </MudGrid>
                        </MudItem>
                    }
                    else
                    {
                        <MudItem xs="12">
                            <h6><u>Items</u></h6>
                            <MudGrid Justify="Justify.Center">
                                <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Item</u></strong> </span></MudItem>
                                <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Requst Qty</u></strong> </span></MudItem>
                                <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Available Qty</u></strong> </span></MudItem>
                                <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Released Qty</u></strong> </span></MudItem>
                                <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Pending Qty</u></strong> </span></MudItem>
                                <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Release</u></strong> </span></MudItem>
                                @foreach (var item in InventoryRequestSubList)
                                {
                                    <MudItem xs="2"> @item.ItemGroupDescription - @item.ItemDescription </MudItem>
                                    <MudItem xs="2"> @item.RequestQty </MudItem>
                                    <MudItem xs="2"> @item.AvailableQty </MudItem>
                                    <MudItem xs="2"> @item.ReleaseQty </MudItem>
                                    <MudItem xs="2"> @item.PendingQty </MudItem>
                                    <MudItem xs="2"> <MudTextField @bind-Value="item.ItemQty" Label="Quatity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.RequestQty)" Disabled="ReadOnly"></MudTextField> </MudItem>
                                }
                            </MudGrid>
                        </MudItem>
                    }
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@InventoryReleaseDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.RID" OnReject="OnReject" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public InventoryReleaseModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    public bool IsDisableTruck { get; set; } = false;
    public bool IsDisableStore { get; set; } = false;
    private GstUsageCodeModel gstusge = new();
    public string Area { get; set; } = null;
    public bool Local { get; set; } = true;
    [Parameter]
    public int? branchID { get; set; }
    [Parameter]
    public List<int?> RequestIds { get; set; } = new();
    private string UserID = null;
    public int SubAssetModel { get; set; }
    private List<InventoryItemModel> ItemList = new();
    private List<InventoryRequestModel> InventoryRequestList = new List<InventoryRequestModel>();
    public InventoryRequestModel SelectInventoryRequest { get; set; }
    private List<JobcardModel> JobcardList = new();
    private List<TruckModel> TruckList = new();
    private List<StoreModel> StoreList = new();
    private List<InventoryReleaseSubViewModel> InventoryRequestSubList = new List<InventoryReleaseSubViewModel>();
    public InventoryItemModel SelectedItems = new();
    private InventoryItemEntryModel Entrymodel = new InventoryItemEntryModel();
    private EditContext editContext;
    DialogForm dialogForm;
    private bool _busy;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    string UserIDTemp;

    public DocumentInfoModel DocumentDetails { get; set; } = new();

    public bool HasPermissionInventoryReleaseServiceEdit { get; set; } = false;
    public bool HasPermissionInventoryReleaseServiceApprove { get; set; } = false;
    public int InventoryReleaseDocTypeID = 97;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInventoryReleaseServiceEdit = await Irole.HasClaim(InventoryReleaseDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionInventoryReleaseServiceApprove = await Irole.HasClaim(InventoryReleaseDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        // if (model == null)
        // {
        //     model = new()
        //         {
        //             BranchID = branchID,
        //             UserInfo = new() { UserID = UserID, },
        //             TotalAmount = 0,
        //             NatureOfTransaction = "Inventory Release"
        //         };
        // }
        if (model == null || model.RID == null)
        {
            model.UserInfo = new();
            model.UserInfo.UserID = UserID;
            model.BranchID = branchID;
            model.TotalAmount = 0;
            model.NatureOfTransaction = "Inventory Release";

        }
        else
        {
            UserIDTemp = model.UserInfo.UserID;
            model.BranchID = branchID;
            model.TotalAmount = 0;
            model.NatureOfTransaction = "Inventory Release";
            //model.UserInfo = new() { UserID = UserID, };
        }

        // Load item, job card, inventory request, truck, and store lists
        ItemList = itemIservice.SearchByDescription(string.Empty).ToList();
        JobcardList = IJobcardService.SelectByBranch(branchID, true).ToList();
        InventoryRequestList = IInventoryRequestservice.SelectByStore(model?.Store?.StoreID ?? null, branchID).Where(d => !((((d.IsCompletelyReleased != null && d.IsCompletelyReleased.Value) || d.IsClosed) && d.RequestID != model.RequestID))).ToList();
        TruckList = Itruck.SelectByBranch(branchID, "All", "Home").ToList();
        StoreList = storeIservice.SelectByBranch(branchID.Value).ToList();
        if (model.RequestID != null && model.RequestID != 0 && InventoryRequestList.Any(s => s.RequestID == model.RequestID))
        {
            SelectInventoryRequest = InventoryRequestList.FirstOrDefault(s => s.RequestID == model.RequestID);
        }
        if (model.Truck != null && model.Truck.TruckID != 0)
        {
            IsDisableTruck = true;

            if (TruckList != null && model.Truck != null && TruckList.Any(s => s.TruckID == model.Truck.TruckID))
            {
                model.Truck = TruckList.FirstOrDefault(s => s.TruckID == model.Truck.TruckID);
                IsDisableTruck = true;
            }
            else
            {
                IsDisableTruck = false;
            }
        }
        if (model.Store != null && model.Store.StoreID != 0)
        {
            if (InventoryRequestSubList != null)
            {
                InventoryRequestSubList.Clear();
            }
            if (ReadOnly)
            {
                // Load inventory request sub-items in read-only mode
                InventoryRequestSubList = Iservice.GetRequstSubReadOnly(model.RID, model.Store.StoreID).ToList();
            }
            else
            {
                // Load inventory request sub-items based on whether items are used or notc
                if(!model.IsUsedItem)
                {
                    InventoryRequestSubList = Iservice.GetRequstSub(model.RequestID, model.Store.StoreID).ToList();                    
                }
                if(model.IsUsedItem)
                {
                    InventoryRequestSubList = Iservice.GetRequstSubUsed(model.RequestID, model.Store.StoreID).ToList();
                }
                foreach (var item in InventoryRequestSubList)
                {
                    item.ItemQty = (item.PendingQty != null && item.AvailableQty != null && (item.PendingQty > item.AvailableQty)) ? item.AvailableQty : item.PendingQty;
                }
            }
            model.TotalAmount = InventoryRequestSubList.Sum(x => x.Amount);
        }
        IsDisableStore = true;
        if (ReadOnly)
        {
            IsDisableStore = true;
            IsDisableTruck = true;
        }
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);

        DocumentDetails.DocumentTypeID = InventoryReleaseDocTypeID;
        DocumentDetails.DocumentID = model.RID;
    }

    // Method to handle item code selection
    protected void getitemCode(InventoryItemModel item)
    {
        if (item != null)
        {
            if (SelectedItems != null && SelectedItems.InventoryItemID == null)
            {
                SelectedItems = item;
            }
            else
            {
                SelectedItems = new InventoryItemModel();
            }
        }
    }

    // Method to handle job card selection
    public void OnChangeJobcard(JobcardModel obj) 
    {
        model.Jobcard = obj;
    }

    // Method to set the used item flag
    public void SetUsedItem(bool val)
    {
        model.IsUsedItem = val;
        if (model.Store != null && !model.IsUsedItem)
        {
            // Load inventory request sub-items if not using items
            InventoryRequestSubList = Iservice.GetRequstSub(model.RequestID, model.Store.StoreID).ToList();
        }
        if (model.Store != null && model.IsUsedItem)
        {
            // Load used inventory request sub-items if using items
            InventoryRequestSubList = Iservice.GetRequstSubUsed(model.RequestID, model.Store.StoreID).ToList();
        }
    }

    // Method to handle inventory request selection
    public void OnChangeSelectedInventoryRequest(InventoryRequestModel obj)
    {
        SelectInventoryRequest = obj;
        model.RequestID = obj?.RequestID ?? null;
        if (obj != null)
        {
            if (JobcardList != null && obj.Jobcard != null && JobcardList.Any(s => s.JobcardID == obj.Jobcard.JobcardID))
            {
                model.Jobcard = JobcardList.FirstOrDefault(s => s.JobcardID == obj.Jobcard.JobcardID);
            }
            if (TruckList != null && obj.Truck != null && TruckList.Any(s => s.TruckID == obj.Truck.TruckID))
            {
                model.Truck = TruckList.FirstOrDefault(s => s.TruckID == obj.Truck.TruckID);
                IsDisableTruck = true;
            }
            else
            {
                IsDisableTruck = false;
            }
            if (StoreList != null && obj.Store != null && StoreList.Any(s => s.StoreID == obj.Store.StoreID))
            {
                model.Store = StoreList.FirstOrDefault(s => s.StoreID == obj.Store.StoreID);
                IsDisableStore = true;
                // model.Narration = "Release from inventory " + obj.Store.StoreName;
            }
            else
            {
                //IsDisableStore = false;
            }
            if (InventoryRequestSubList != null)
            {
                InventoryRequestSubList.Clear();
            }

            // Load inventory request sub-items based on the selected store
            if (obj.Store != null && !model.IsUsedItem)
            {
                InventoryRequestSubList = Iservice.GetRequstSub(obj.RequestID, obj.Store.StoreID).ToList();
            }
            if (obj.Store != null && model.IsUsedItem)
            {
                InventoryRequestSubList = Iservice.GetRequstSubUsed(obj.RequestID, obj.Store.StoreID).ToList();
            }

            if (InventoryRequestSubList != null && InventoryRequestSubList.Any() && model.Truck != null)
            {
                var firstItem = InventoryRequestSubList.FirstOrDefault();
                if (firstItem != null && model.Truck != null && ItemList.Any(x => x.InventoryItemID == firstItem.ItemID))
                {
                    var itemDetail = ItemList.FirstOrDefault(x => x.InventoryItemID == firstItem.ItemID);
                    if (itemDetail != null)
                    {
                        string itemDescription = $"{itemDetail.InventoryItemCode} | {itemDetail.ItemGroup.ItemGroupDescription} - {itemDetail.ItemDescription}";
                        model.Narration = $"{itemDescription}, {model.Truck.RegNo}";
                    }
                }
            }
        }
        else
        {
            IsDisableTruck = false;
        }
    }

    // Method to handle truck selection
    public void OnChangeTruck(TruckModel obj)
    {
        model.Truck = obj;
    }

    // Method to handle rejection of the payment
    protected void OnReject()
    {
        Iservice.Reject(model.RID, "Inventory Release"); // Call service to reject the payment
    }

    // Method to handle form submission when valid
    public async void OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        if (HasPermissionInventoryReleaseServiceEdit)
        {
            try
            {
                if (InventoryRequestSubList == null || InventoryRequestSubList.Count() == 0)
                {
                    snackbar.Add("No items in the request", Severity.Error);
                    return;
                }
                if (model.Items == null)
                {
                    model.Items = new();
                }
                else if (model.Items.Count() != 0)
                {
                    model.Items.Clear();
                }
                foreach (var item in InventoryRequestSubList)
                {
                    if (item.ItemQty > item.AvailableQty || item.ItemQty > item.RequestQty || (item.PendingQty != null && item.ItemQty > item.PendingQty) || item.ItemQty < 0)
                    {
                        snackbar.Add(("You enterd invalid Qty in " + item.ItemDescription + "."), Severity.Error);
                        model.Items.Clear();
                        return;
                    }
                    if (item != null && item.ItemID != 0 && item.ItemQty > 0)
                    {
                        model.Items.Add(new InventoryItemEntryModel()
                            {
                                ItemEntryID = item.ItemEntryID,
                                ItemID = item.ItemID,
                                ItemQty = item.ItemQty.Value
                            });
                    }
                }
                _busy = true; 
                model = Iservice.Update(model); // Call service to update the model
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
            finally
            {
                await Task.Delay(200);
                _busy = false;
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit InventoryRelease.");
        }
    }

    // Method to delete an item from the inventory request
    private void DeleteItem(InventoryItemEntryModel ItemDetails)
    {
        if (model.Items.Exists(x => x.ItemID == ItemDetails.ItemID))
        {
            decimal total = (((ItemDetails.ItemQty) * (ItemDetails.ItemRate.Value)));
            int rowIndex = model.Items.IndexOf(ItemDetails);
            model.Items.RemoveAt(rowIndex);
            model.TotalAmount = model.TotalAmount - total;
        }
    }

    // Method to approve the inventory release
    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionInventoryReleaseServiceApprove)
        {
            if( model.RequestID is not null && !model.IsClosed)
            {
                snackbar.Add("Close request from job card", Severity.Warning);
                return;
            }
            if (aprvd.IsApprove)
            {
                try
                {
                    model.UserInfo.UserID = UserID;
                    Iservice.Approve(model.RID, model.UserInfo.UserID, aprvd.Remarks); // Call the service to approve the inventory release
                    notiService.AcknowledgeAuthNotification(99, 97, model.RID.Value, UserID);
                    model.UserInfo.UserID = UserIDTemp;
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Approve OpInventoryRelease.");
        }
    }
}