@page "/InventoryReleaseView"
@page "/InventoryReleaseView/{id:int}"
@using ArmsModels.BaseModels.Finance.Transactions;
@using ArmsServices.DataServices.Finance.Transactions;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using MudBlazor;
@using Views.Pages.Finance.Transactions;
@using System.Threading;
@attribute [Authorize]
@inject IRoleService<RoleModel> Irole
@inject AuthenticationStateProvider auth
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IInventoryReleaseService Iservice

<div class="opthead"><h6>Select Store </h6></div>
<MudPaper Class="p-2" Elevation="0">
    <div class="d-flex">
        <StoreSelector Value="SelectedStore" ValueChanged="StoreChanged" BranchID="@branchID.Value"></StoreSelector>
    </div>
</MudPaper>
@if (SelectedStore != null && SelectedStore.StoreID != null)
{
    <MudGrid Spacing="4">
        <MudItem xs="12">
            <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="5">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Inventory Release </MudText>
                    <MudTooltip Text="New Inventory Release">
                        <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(null))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                    </MudTooltip>
                    <MudSpacer></MudSpacer>
                    <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ApprovedChanged(value))" Value="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<InventoryReleaseModel, object>(x=> x.RID)" InitialDirection="SortDirection.Descending">Document Date</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<InventoryReleaseModel, object>(x=> x.Store.StoreName)" >Store Name</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<InventoryReleaseModel, object>(x=> x.Jobcard.JobcardNumber)" >Jobcard Number</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<InventoryReleaseModel, object>(x=> x.Truck.RegNo)" >Truck Reg No</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<InventoryReleaseModel, object>(x=> x.Status)" >Status</MudTableSortLabel></MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                    <MudTd DataLabel="Store Name">@context.Store.StoreName</MudTd>
                    <MudTd DataLabel="Jobcard Number">@context.Jobcard.JobcardNumber</MudTd>
                    <MudTd DataLabel="Truck Reg No">@context.Truck.RegNo</MudTd>
                    <MudTd DataLabel="Status">@context.Status</MudTd>
                    <MudTd DataLabel="">
                        <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                        <MudIconButton Disabled="@(context.AuthLevelId != null && context.Status != "Pending")" OnClick="@(()=> Delete(context))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />

                        @if (@context.AuthLevelId == 99)
                        {
                            <EntryReversedComponent DocTypeID="InventoryReleaseDocTypeID" DocumentID="context.RID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                        }
                        else if (@context.AuthLevelId != 100)
                        {
                            <MudIconButton OnClick="@(()=> OpenDialog(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="View authentication Status" Size="Size.Small" Variant="Variant.Filled" />
                        }
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </MudItem>
    </MudGrid>
}

@code {

    public bool IsApproved { get; set; } = false;
    private List<InventoryReleaseModel> collection = new List<InventoryReleaseModel>();
    public List<int?> RequestIds { get; set; } = new();
    public int? branchID { get; set; }
    public StoreModel SelectedStore { get; set; } = new();
    private bool _busy;

    [Parameter] public int? id { get; set; }

    public bool HasPermissionInventoryReleaseServiceDelete { get; set; } = false;
    public int InventoryReleaseDocTypeID = 97;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInventoryReleaseServiceDelete = await Irole.HasClaim(InventoryReleaseDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        if (id != null )
        {
            await Task.Delay(200);
            var item = Iservice.SelectByID(id);
            SelectedStore = item.Store;
            await OpenDialog(item, true);
        }
    }

    private void GetAll(bool val)
    {
        if (SelectedStore != null && SelectedStore.StoreID != 0)
        {
            if (val)
            {
                collection = Iservice.SelectByStoreAndBranchIDApproved(SelectedStore.StoreID, branchID).ToList();
            }
            else
            {
                collection = Iservice.SelectByStoreAndBranchIDUnApproved(SelectedStore.StoreID, branchID).ToList();
            }
        }
        else
        {
            if (collection != null)
            {
                collection.Clear();
            }
        }
    }

    async Task ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetAll(IsApproved);
    }

    private void StoreChanged(StoreModel obj)
    {
        SelectedStore = obj;
        GetAll(IsApproved);
    }

    private async Task Delete(InventoryReleaseModel model)
    {
        if (HasPermissionInventoryReleaseServiceDelete)
        {
            try
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning !",
                    "Are you sure, you want to delete - " + model.Store.StoreName + " (" + model.Jobcard.JobcardNumber + ") ?");
                if (result == true)
                {
                    var authprov = await auth.GetAuthenticationStateAsync();
                    var user = authprov.User;
                    Iservice.Delete(model.RID, model.IsUsedItem, user.Identity.Name);
                    snackbar.Add("Transaction reversed successfully", Severity.Success);
                    GetAll(IsApproved);
                }
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Delete InventoryRelease.");
        }
    }

    private async Task OpenDialog(InventoryReleaseModel model, bool ReadOnly = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        var authprov = await auth.GetAuthenticationStateAsync();
        var branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        if (RequestIds == null)
        {
            RequestIds = new();
        }
        if (RequestIds != null && RequestIds.Count() != 0)
        {
            RequestIds.Clear();
        }
        _busy = true;
        RequestIds = collection.Select(s => s.RequestID).Where(d => d != null).ToList();
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        if (model == null)
        {
            model = new();
        }
        model.Store = SelectedStore;
        parms.Add("model", model.Clone());
        parms.Add("branchID", branchID);
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("RequestIds", RequestIds);
        var dialog = DialogService.Show<InventoryReleaseDialog>(model == null ? "ADD" : "EDIT", parms, mediumWidth);
        var result = await dialog.Result;
        GetAll(IsApproved);
        await Task.Delay(200);
        _busy = false;
    }
}