@inject IDialogService DialogService
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsService
@inject IGstItemService gstIservice

@if (!ReadOnly || ItemList.Any())
{
    <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
        <h6> <u>Items</u></h6>
        <div style="width: 1600px;" class="pb-3">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="3"><span class="HeadText">Item Name</span></MudItem>
                <MudItem xs="1"><span class="HeadText">Quantity</span></MudItem>
                <MudItem xs="1"><span class="HeadText">Rate</span></MudItem>
                <MudItem xs="2"><span class="HeadText">Cost Center</span></MudItem>
                <MudItem xs="2"><span class="HeadText">Dimension</span></MudItem>
                <MudItem xs="1"><span class="HeadText">Amount</span></MudItem>
                <MudItem xs="1"><span class="HeadText">Gst/TDS</span></MudItem>
                <MudItem xs="1">Actions</MudItem>
                @foreach (var item in ItemList)
                {
                    <MudItem xs="3">@item.ItemDescription</MudItem>
                    <MudItem xs="1">@item.ItemQty</MudItem>
                    <MudItem xs="1">@item.ItemRate</MudItem>
                    <MudItem xs="2">@item.CostCenterVal</MudItem>
                    <MudItem xs="2">@item.DimensionVal</MudItem>
                    <MudItem xs="1">@item.Amount</MudItem>
                    <MudItem xs="1">@(item.CGST + item.SGST + item.IGST)/@item.TDS</MudItem>
                    <MudItem xs="1" Class="d-flex">
                        @if (!ReadOnly)
                        {
                            <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> Delete(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                        }
                        <MudIconButton Title="Show Taxes" Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" />
                    </MudItem>
                }
                @if (!ReadOnly && !NonInventory)
                {
                    <MudItem xs="3">
                        <InventoryItemSelector Value="InventoryItem" ValueChanged="ItemSelected" />
                    </MudItem>
                    <MudItem xs="1">
                        <MudNumericField      
                HideSpinButtons
                         Label="Quantity" @bind-Value="Model.ItemQty" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                     </MudItem>
                    <MudItem xs="1">
                        <MudNumericField    
                HideSpinButtons
                         Label="Item Rate" @bind-Value="Model.ItemRate" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                     </MudItem>
                    <MudItem xs="2">
                        <CostCenterSelector @bind-Value="@Model.CostCenter" @bind-ValueText="@Model.CostCenterVal" ReadOnly="@ReadOnly"></CostCenterSelector>
                    </MudItem>
                    <MudItem xs="2">
                        <DimensionSelector @bind-Value="@Model.Dimension" @bind-ValueText=@Model.DimensionVal ReadOnly="@ReadOnly"></DimensionSelector>
                    </MudItem>
                    <MudItem xs="2" Class="d-flex align-center">
                        @Model.Amount
                    </MudItem>
                    <MudItem xs="1" Class="d-flex align-center">
                        <MudIconButton Title="Add" OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                    </MudItem>
                }
            </MudGrid>
        </div>
    </MudItem>
}
@code {

    [Parameter]
    public List<TaxPurchaseItemModel> ItemList { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }    
    [Parameter]
    public int? BranchID { get; set; }
    [Parameter]
    public PartyModel PartyInfo { get; set; }
    [Parameter]
    public bool Local { get; set; } = true;
    [Parameter]
    public bool IsTaxable { get; set; } = true;
    [Parameter]
    public bool NonInventory { get; set; }
    [Parameter]
    public EventCallback<TaxPurchaseItemModel> OnItemAdded { get; set; }
    [Parameter]
    public EventCallback OnAmountChange { get; set; }
    [Parameter]
    public bool EditMode { get; set; } = true;
    InventoryItemModel InventoryItem = new();
    TaxPurchaseItemModel Model = new TaxPurchaseItemModel();
    EditContext editContext;
    private bool _busy;

    protected override void OnParametersSet()
    {
        if (editContext == null)
        {
            editContext = new EditContext(Model);
            editContext.EnableDataAnnotationsValidation();
        }
    }

    protected override void OnInitialized()
    {  
        if (!EditMode)
        {
            foreach (var item in ItemList)
            {
                AddTax(item);
            }
        }
    }

    public async Task AddItems()
    {
        if (AddTax(Model) && editContext.Validate())
        {
            await OnItemAdded.InvokeAsync(Model);
            Model = new();
            InventoryItem = null;
        }
        else
        {
            snackbar.Add("Entered Items are invalid", Severity.Error);
        }
    }

    void ItemSelected(InventoryItemModel item)
    {       
        InventoryItem = item;
        if (item is not null)
        {
            Model.CoaID = NonInventory ? (InventoryItem?.Group.MappedNonInventoryPurchaseHead) : InventoryItem?.Group.MappedPurchaseHead;
            if (Model.CoaID is null)
            {
                snackbar.Add("AccountHead not mapped!!", Severity.Warning);
                InventoryItem = null;
                return;
            }
            Model.ItemID = InventoryItem?.InventoryItemID;
            Model.ItemDescription = InventoryItem?.ItemDescription;
        }
    }

    private async Task OpenDialogTaxRates(TaxPurchaseItemModel i)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        GstModel taxModel = new GstModel();
        taxModel.CGST = i.CGST;
        taxModel.IGST = i.IGST;
        taxModel.TDS = i.TDS;
        taxModel.SGST = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            taxModel = (GstModel)result.Data;
            i.CGST = taxModel.CGST;
            i.IGST = taxModel.IGST;
            i.TDS = taxModel.TDS;
            i.SGST = taxModel.SGST;
            i.GstRate = taxModel.GstRate;

            await OnAmountChange.InvokeAsync();
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Delete(TaxPurchaseItemModel i)
    {
        int rowIndex = ItemList.IndexOf(i);
        ItemList.RemoveAt(rowIndex);
        await OnAmountChange.InvokeAsync();
    }

    private bool AddTax(TaxPurchaseItemModel item)
    {
        if (item?.ItemID != null && item.Amount != null)
        {
            if (PartyInfo == null)
            {                
                snackbar.Add("Select Party !", Severity.Error);
                return false;
            }
            var gstItem = gstIservice.SelectByItem(item?.ItemID ?? 0, DateTime.Today);
            item.GstRate = (gstItem?.TaxRate)??0;
            decimal tdsRate = tdsService.GetTdsRate(PartyInfo.PartyID, item.CoaID);
            item.TDS = Math.Round((item.Amount.Value * tdsRate) / 100, 2);
            if (!IsTaxable)
            {
                return true;
            }          
           
            decimal taxRate = item.GstRate.Value;
            if (!Local)
            {
                item.IGST = Math.Round(item.Amount.Value * taxRate / 100, 2);
            }
            else
            {
                item.SGST = item.CGST = Math.Round(item.Amount.Value * taxRate / 200, 2);
            }
           
            return true;
        }
        return false;
    }
}