@using System.Threading;
@inject IJournalService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService
@attribute [Authorize]

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Journal" formID="journalForm" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="journalForm" OnValidSubmit="OnValidSubmit" Model="model">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="DocumentDate" ReadOnly="ReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudGrid>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Debit Ac</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Credit Ac</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Cost Center</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Dimension</u></strong> </span></MudItem>
                            <MudItem xs="1" Class="d-flex align-center"><span><strong><u>Amount</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Reference</u></strong> </span></MudItem>
                            <MudItem xs="1"></MudItem>
                            @foreach (var item in model.JournalSubList)
                            {
                                <MudItem xs="2"> @item.Debit.AccountName </MudItem>
                                <MudItem xs="2"> @item.Credit.AccountName </MudItem>
                                <MudItem xs="2"> @item.CostCenterVal</MudItem>
                                <MudItem xs="2"> @item.DimensionVal</MudItem>
                                <MudItem xs="1"> @item.Amount </MudItem>
                                <MudItem xs="2"> @item.Reference </MudItem>
                                <MudItem xs="1" Class="d-flex">
                                    @if (!ReadOnly)
                                    {
                                        <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> DeleteSubList(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />

                                    }
                                </MudItem>
                            }
                            @if (!ReadOnly)
                            {
                                <MudItem xs="2"><CoaSelector @bind-Value="JournalSub.Debit" LabelName="Debit Ac" ReadOnly="ReadOnly" /></MudItem>
                                <MudItem xs="2"><CoaSelector @bind-Value="JournalSub.Credit" LabelName="Credit Ac" ReadOnly="ReadOnly" /></MudItem>
                                <MudItem xs="2"><CostCenterSelector @bind-Value="JournalSub.CostCenter" @bind-ValueText="@JournalSub.CostCenterVal" ReadOnly="@ReadOnly" /></MudItem>
                                <MudItem xs="2"><DimensionSelector @bind-Value="JournalSub.Dimension" @bind-ValueText="@JournalSub.DimensionVal" ReadOnly="@ReadOnly" /></MudItem>
                                <MudItem xs="1"><MudNumericField HideSpinButtons Label="Item Rate" @bind-Value="@JournalSub.Amount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField></MudItem>
                                <MudItem xs="2"><MudTextField ReadOnly="ReadOnly" @bind-Value="@JournalSub.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField></MudItem>
                                <MudItem xs="1" Class="d-flex align-center"><MudIconButton Title="Add" OnClick="AddSubList" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" /></MudItem>
                            }
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@JournalDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.JournalID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public JournalModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private JournalSubModel JournalSub { get; set; } = new();
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    DialogForm dialogForm;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    public List<JournalSubModel> SubList { get; set; }
    private bool _busy;

    public bool HasPermissionJournalServiceEdit { get; set; } = false;
    public bool HasPermissionJournalServiceApprove { get; set; } = false;
    public int JournalDocTypeID = 18;

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionJournalServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.JournalID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve Journal.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionJournalServiceEdit = await Irole.HasClaim(JournalDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionJournalServiceApprove = await Irole.HasClaim(JournalDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        if (model == null || model != null && model.JournalID == null || model != null && model.JournalID == 0)
        {
            if (model == null)
            {
                model = new()
                    {
                        BranchID = branchID,
                        UserInfo = new() { UserID = UserID, },
                        TotalAmount = 0,
                        NatureOfTransaction = "Journal"
                    };
            }
            else
            {
                model.BranchID = branchID;
                model.UserInfo = new() { UserID = UserID, }; ;
                model.TotalAmount = 0;
                model.NatureOfTransaction = "Journal";
            }
        }
        else
        {
            model.JournalSubList = Iservice.GetSubList(model.JournalID).ToList();
        }
        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
    }

    private void DeleteSubList(JournalSubModel JournalSub)
    {
        if (model.JournalSubList.Exists(x => x.JournalSubID == JournalSub.JournalSubID))
        {
            int rowIndex = model.JournalSubList.IndexOf(JournalSub);
            model.JournalSubList.RemoveAt(rowIndex);
            model.TotalAmount = model.JournalSubList.Sum(x => x.Amount);
        }
    }

    public void AddSubList()
    {
        if (JournalSub.Debit == null)
        {
            snackbar.Add("Please select Debit Ac", Severity.Error);
            return;
        }
        if (JournalSub.Credit == null)
        {
            snackbar.Add("Please select Credit Ac", Severity.Error);
            return;
        }
        if (JournalSub.Amount == null)
        {
            snackbar.Add("Please add Amount.", Severity.Error);
            return;
        }
        if (dialogForm.validate(JournalSub, editContext))
        {
            model.JournalSubList.Add(JournalSub);
            model.TotalAmount = model.JournalSubList.Sum(x => x.Amount);
            JournalSub = new();
        }
    }

    public async Task OnValidSubmit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionJournalServiceEdit)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                foreach (var item in model.JournalSubList)
                {
                    item.DebitCoaID = item.Debit.CoaID;
                    item.CreditCoaID = item.Credit.CoaID;
                }
                Iservice.Update(model);
                model = new();
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit Journal.");
        }
        await Task.Delay(2000);
        _busy = false;
    }
}