@page "/JournalView"
@using System.Threading;
@using System.Security.Claims;
@using ArmsModels.Shared;
@inject IJournalService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Journal</MudText>
                <MudTooltip Text="New Journal">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(new JournalModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Journal..." Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedToggled(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<JournalModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<JournalModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<JournalModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<JournalModel, object>(x=> x.Debit.AccountName)" InitialDirection="SortDirection.Ascending">Debit</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<JournalModel, object>(x=> x.Credit.AccountName)" InitialDirection="SortDirection.Ascending">Credit</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="Debit">@context.Debit.AccountName</MudTd>
                <MudTd DataLabel="Credit">@context.Credit.AccountName</MudTd>
                <MudTd DataLabel="">

                    <MudTooltip Text="View">
                        <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>


                    @if (@context.AuthLevelId == null)
                    {

                        <MudTooltip Text="Edit">
                            <MudFab @onclick="@(()=> OpenDialog(context,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                        <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" Title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    public bool IsApproved { get; set; } = false;
    private List<JournalModel> collection = new List<JournalModel>();
    private int numberOfRecords = 100;
    private string searchTerm = "";

    public bool HasAuthoriseDelete { get; set; } = false;
    public int DocTypeID = 18;


    private List<Claim> clamelist = new List<Claim>();
    private List<RoleClaimsList> Claims = new();
    IDictionary<int?, string> doctypes = null;

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    protected override async Task OnInitializedAsync()
    {

        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        await GetAll(IsApproved, NumberOfRecords);
    }


    private async Task GetAll(bool val, int numberOfRecords)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int? brancID = int.Parse(brancIDString);
        int NumberOfRecords = numberOfRecords;
        collection = new List<JournalModel>();

        if (val)
        {
            collection = Iservice.SelectByApproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectByUnapproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
    }

    async Task ApprovedToggled(bool value)
    {
        IsApproved = value;
        await GetAll(IsApproved, NumberOfRecords);
    }

    private async Task ReloadTable()
    {
        await GetAll(IsApproved, NumberOfRecords);
    }

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task Delete(JournalModel tx)
    {

        if (HasAuthoriseDelete)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            Iservice.Delete(tx.JournalID, user.Identity.Name);
            snackbar.Add("Deleted Successfully", Severity.Success);
            await GetAll(IsApproved, NumberOfRecords);

        }
        else
        {

            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to delete.");
        }
    }

    private async Task OpenDialog(JournalModel JournalModel, bool ReadOnly)
    {

        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", JournalModel);
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<JournalDialog>(JournalModel.JournalID == null ? "ADD" : "EDIT", parms, mediumWidth);
        var result = await dialog.Result;
        await GetAll(IsApproved, NumberOfRecords);
    }

}
