@using System.Threading;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inherits DialogFormComponentBase<JournalModel>
@inject IRoleService<RoleModel> Irole
@inject IJournalService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Journal" formID="journalForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="journalForm" OnValidSubmit="OnValidSubmit" Model="model">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="DocumentDate" ReadOnly="ReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Account</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span><strong><u>Reference</u></strong> </span></MudItem>
                            <MudItem xs="3" Class="d-flex align-center"><span><strong><u>Amount</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Cost Center</u></strong> </span></MudItem>
                            <MudItem xs="2" Class="d-flex align-center"><span> <strong> <u>Dimension</u></strong> </span></MudItem>
                            <MudItem xs="1"></MudItem>
                            @foreach (var item in model.JournalSubList)
                            {
                                <MudItem xs="2"> @item.Coa.AccountName </MudItem>
                                <MudItem xs="2"> @item.Reference </MudItem>
                                <MudItem xs="3"> @item.Amount @item.DrCrText </MudItem>
                                <MudItem xs="2"> @item.CostCenterVal</MudItem>
                                <MudItem xs="2"> @item.DimensionVal</MudItem>
                                <MudItem xs="1" Class="d-flex">
                                    @if (!ReadOnly)
                                    {
                                        <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> DeleteSubList(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                    }
                                </MudItem>
                            }
                            @if (!ReadOnly)
                            {
                                <MudItem xs="2">
                                    <CoaSelector @bind-Value="@JournalSub.Coa" LabelName="Account" />
                                </MudItem>
                                <MudItem xs="2">
                                    <MudTextField @bind-Value="@JournalSub.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudNumericField HideSpinButtons Label="Amount" @bind-Value="@JournalSub.Amount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                 </MudItem>
                                <MudItem xs="1">
                                    <MudSelect T="int?" Label="Dr/cr" @bind-Value="@JournalSub.DrCrType" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem T="int?" Value="1">Dr</MudSelectItem>
                                        <MudSelectItem T="int?" Value="-1">Cr</MudSelectItem>
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="2">
                                    <CostCenterSelector @bind-Value="JournalSub.CostCenter" @bind-ValueText="@JournalSub.CostCenterVal" />
                                </MudItem>
                                <MudItem xs="2">
                                    <DimensionSelector @bind-Value="JournalSub.Dimension" @bind-ValueText="@JournalSub.DimensionVal" />
                                </MudItem>
                                <MudItem xs="1" Class="d-flex align-center">
                                    <MudIconButton Title="Add" OnClick="AddSubList" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                                </MudItem>
                            }
                        </MudGrid>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@JournalDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.JournalID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    private JournalSubModel JournalSub { get; set; } = new();
    private int? branchID = null;
    private string UserID = null;
    private decimal? CheckEqual;
    private EditContext editContext;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    public List<JournalSubModel> SubList { get; set; }
    string UserIDTemp;
    private bool _busy;

    // Document information model for the tax purchase
    protected override DocumentInfoModel DocInfo { get; set; } = new();

    public bool HasPermissionJournalServiceEdit { get; set; } = false;
    public bool HasPermissionJournalServiceApprove { get; set; } = false;
    public int JournalDocTypeID = 18;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionJournalServiceEdit = await Irole.HasClaim(JournalDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionJournalServiceApprove = await Irole.HasClaim(JournalDocTypeID.ToString(), "Approve", ctc.Token);

        DocInfo.DocumentTypeID = JournalDocTypeID;
        DocInfo.DocumentID = model.JournalID;

        await base.OnInitializedAsync();

        if (model == null || model != null && model.JournalID == null || model != null && model.JournalID == 0)
        {
            if (model == null)
            {
                model = new()
                    {
                        UserInfo = new() { UserID = UserID, },
                        TotalAmount = 0,
                        NatureOfTransaction = "Journal"
                    };
            }
            else
            {
                model.UserInfo = new() { UserID = UserID, }; ;
                model.TotalAmount = 0;
                model.NatureOfTransaction = "Journal";
            }
        }
        else
        {
            // Load sub-list if JournalID is valid
            model.JournalSubList = Iservice.GetSubList(model.JournalID).ToList();
            UserIDTemp = model.UserInfo.UserID;
        }
        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);

        DocInfo.DocumentTypeID = JournalDocTypeID;
        DocInfo.DocumentID = model.JournalID;
    }

    // Method to delete a sub-entry from the journal
    private void DeleteSubList(JournalSubModel JournalSub)
    {
        if (model.JournalSubList.Exists(x => x.JournalSubID == JournalSub.JournalSubID))
        {
            int rowIndex = model.JournalSubList.IndexOf(JournalSub);
            model.JournalSubList.RemoveAt(rowIndex);
            model.TotalAmount = model.JournalSubList.Where(y => y.DrCrType == 1).Sum(x => x.Amount);
            CheckEqual = model.JournalSubList.Sum(x => x.DrCrType * x.Amount);
        }
    }

    // Method to add a sub-entry to the journal
    public void AddSubList()
    {
        if (JournalSub.Coa == null)
        {
            snackbar.Add("Please select Account", Severity.Error);
            return;
        }
        if (JournalSub.DrCrType == null)
        {
            snackbar.Add("Please select Dr/Cr", Severity.Error);
            return;
        }
        if (JournalSub.Amount == null)
        {
            snackbar.Add("Please add Amount.", Severity.Error);
            return;
        }
        model.JournalSubList.Add(JournalSub);
        model.TotalAmount = model.JournalSubList.Where(y => y.DrCrType == 1).Sum(x => x.Amount);
        CheckEqual = model.JournalSubList.Sum(x => x.DrCrType * x.Amount);
        JournalSub = new();
    }

    // Method to update the Journal model
    protected override async Task<int> Update(JournalModel editModel)
    {
        if (await validate(model))
        {
            model = Iservice.Update(model); // Update the model using the service
            return model.JournalID ?? 0;
        }
        return 0;
    }

    // Method to validate the Journal model
    public async Task<bool> validate(JournalModel editModel)
    {
        CheckEqual = model.JournalSubList.Sum(x => x.DrCrType * x.Amount);
        if (CheckEqual != 0)
        {
            snackbar.Add("Please check the amount", Severity.Warning);
            return false;
        }
        foreach (var item in model.JournalSubList)
        {
            item.CoaID = item.Coa.CoaID;
        }
        return true;
    }

    // Method to approve the Journal model
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.JournalID, model.UserInfo.UserID, aprvd.Remarks); // Call the service to approve
        model.UserInfo.UserID = UserIDTemp;
        return result;
    }
}