@using System.Threading;
@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IBranchService brIservice
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Trip Settlement" formID="Optranform" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="Optranform" EditContext="editContext" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <h6>Transaction</h6>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="@ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PaymentAccountSelector ReadOnly="@ReadOnly" @bind-PaymentMode="@model.PaymentMode" HideMode LabelName="Cash A/c" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.CreditCoaID" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th>UsageCode</th>
                                    <th>Reference</th>
                                    <th>Amount</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Transactions)
                                {
                                    <tr>
                                        <td>@item.ExpenseUsageCode</td>
                                        <td>@item.Reference</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Unit</td>
                                        @if (!ReadOnly)
                                        {
                                        <td><MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" /></td>
                                        }
                                    </tr>
                                }
                                @if (!ReadOnly)
                                {
                                    <tr>
                                        <td><UsageCodeSelector Value="@gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector></td>
                                        <td><MudTextField @bind-Value="opTranSubModel.Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Reference)"></MudTextField></td>
                                        <td><MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Amount)"></MudNumericField></td>
                                        <td><MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Quantity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Quantity)"></MudNumericField></td>
                                        <td><MudTextField @bind-Value="opTranSubModel.Unit" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Unit)"></MudTextField></td>
                                        <td><MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" /></td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="2">Total</td>
                                    <td>@model.TotalAmount</td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.OpTranID" OnApprove="OnApprove"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public OpTranModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; } = false;
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    DialogForm dialogForm;
    public GstUsageCodeModel gstusge = new();
    private OpTranSubModel opTranSubModel = new();

    private bool _busy;
    public bool HasAuthoriseEdit { get; set; } = false;
    int DocTypeID = 6;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        UserID = user.Identity.Name;
        branchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
        if (model == null)
        {
            model = new() { Area = "Operation", };
        }
        else
        {
            model.Transactions = Iservice.GetExpenses(model.OpTranID).ToList();
        }
        if (model.PaymentMode == null)
        {
            model.PaymentMode = "Cash";
        }
        model.NatureOfTransaction = model.Area;
        model.BranchID = branchID;
        model.UserInfo.UserID = UserID;

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
    }

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        opTranSubModel.ExpenseUsageCode = uc?.UsageCode;
        opTranSubModel.CoaID = uc?.CoaID;
    }

    protected async Task OnApprove(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            try
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                model.UserInfo.UserID = user.Identity.Name;
                Iservice.Approve(model.OpTranID, model.UserInfo.UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    public void AddItems()
    {
        opTranSubModel.ExpenseUsageCode = gstusge.UsageCode;
        model.Transactions.Add(opTranSubModel);
        model.TotalAmount = model.TotalAmount + (opTranSubModel.Amount * opTranSubModel.Quantity);
        opTranSubModel = new();
        gstusge = new();
        SetTotal();
    }

    public void DeleteExpenses(OpTranSubModel i)
    {
        int rowIndex = model.Transactions.IndexOf(i);
        model.TotalAmount = model.TotalAmount - (i.Amount * i.Quantity);
        model.Transactions.RemoveAt(rowIndex);
        SetTotal();
    }

    private void SetTotal()
    {
        model.TotalAmount = model.Transactions.Sum(x => x.Amount);
    }

    private async Task Submit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasAuthoriseEdit)
        {
            try
            {
                Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                model = new OpTranModel();
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to submit.");
        }
        await Task.Delay(2000);
        _busy = false;
    }
}