@using System.Threading;
@using Core.BaseModels.General;
@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IBranchService brIservice
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice
@inject IOperationPostingGroupService IOperationPostingGroupService

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Trip Settlement" formID="Optranform" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="Optranform" EditContext="editContext" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <h6>Transaction</h6>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="@ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PaymentAccountSelector ReadOnly="@ReadOnly" @bind-PaymentMode="@model.PaymentMode" HideMode LabelName="Cash A/c" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.CreditCoaID" />
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                             <thead>
                                 <tr>
                                     <th>Operation Head</th>
                                     <th>Reference</th>
                                     <th>Cost Center</th>
                                     <th>Dimension</th>
                                     <th>Amount</th>
                                     <th>Quantity</th>
                                     <th>Unit</th>
                                     <th></th>
                                 </tr>
                             </thead>
                             <tbody>
                                @foreach (var item in model.Transactions)
                                {
                                    <tr>
                                        <td>@item.ExpenseUsageCode</td>
                                        <td>@item.Reference</td>
                                        <td>@item.CostCenterVal</td>
                                        <td>@item.DimensionVal</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Unit</td>
                                        @if (!ReadOnly)
                                        {
                                            <td><MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" /></td>
                                        }
                                    </tr>
                                }
                                @if (!ReadOnly)
                                {
                                    <tr>
                                        <td>
                                            <MudAutocomplete T="OperationPostingGroupModel" Label="Operation" Value="opTranSubModel.OperationPostingGroupModel" ValueChanged="AddOperationPostingGroup"
                                                             ResetValueOnEmptyText="true" SearchFunc="@SearchOperationPostingGroup" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                             ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Title)) ? null : string.Format("{0} | {1}",e.ADCode,e.Title))"></MudAutocomplete>
                                        </td>
                                        <td><MudTextField @bind-Value="opTranSubModel.Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Reference)"></MudTextField></td>
                                        <td><CostCenterSelector @bind-Value="opTranSubModel.CostCenter" @bind-ValueText="@opTranSubModel.CostCenterVal" ReadOnly="@ReadOnly" /></td>
                                        <td><DimensionSelector @bind-Value="opTranSubModel.Dimension" @bind-ValueText="@opTranSubModel.DimensionVal" ReadOnly="@ReadOnly" /></td>
                                        <td><MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Amount)"></MudNumericField></td>
                                        <td><MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Quantity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Quantity)"></MudNumericField></td>
                                        <td><MudTextField @bind-Value="opTranSubModel.Unit" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Unit)"></MudTextField></td>
                                        <td><MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" /></td>
                                     </tr>
                                }
                                <tr>
                                    <td colspan="2">Total</td>
                                    <td>@model.TotalAmount</td>
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@OpTranDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.OpTranID" OnApprove="OnApprove"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public OpTranModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; } = false;
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    DialogForm dialogForm;
    public GstUsageCodeModel gstusge = new();
    private OpTranSubModel opTranSubModel = new();
    private List<OperationPostingGroupModel> OperationPostingList = new();
    private bool _busy;

    
    public DocumentDetailsModel DocumentDetails { get; set; } = new();


    public bool HasPermissionOpTranServiceEdit { get; set; } = false;
    public bool HasPermissionOpTranServiceApprove { get; set; } = false;
    public int OpTranDocTypeID = 6;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionOpTranServiceEdit = await Irole.HasClaim(OpTranDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionOpTranServiceApprove = await Irole.HasClaim(OpTranDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        UserID = user.Identity.Name;
        branchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
        if (model == null)
        {
            model = new() { Area = "Operation", };
        }
        else
        {
            model.Transactions = Iservice.GetExpenses(model.OpTranID).ToList();
        }
        if (model.PaymentMode == null)
        {
            model.PaymentMode = "Cash";
        }
        model.NatureOfTransaction = model.Area;
        model.BranchID = branchID;
        model.UserInfo.UserID = UserID;

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;

        OperationPostingList = IOperationPostingGroupService.Select().ToList();
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);

        DocumentDetails.DocumentTypeID = OpTranDocTypeID;
        DocumentDetails.DocumentID = model.OpTranID;
    }

    void AddOperationPostingGroup(OperationPostingGroupModel uc)
    {
        opTranSubModel.OperationPostingGroupModel = uc;
    }

    private async Task<IEnumerable<OperationPostingGroupModel>> SearchOperationPostingGroup(string searchString)
    {
        return await Task.FromResult(OperationPostingList.Where(x => x.ADCode.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase) ||
                                                                x.Title.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase)));
    }

    protected async Task OnApprove(DataApprovedStatus aprvd)
    {
        if (HasPermissionOpTranServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                try
                {
                    var authprov = await auth.GetAuthenticationStateAsync();
                    var user = authprov.User;
                    model.UserInfo.UserID = user.Identity.Name;
                    Iservice.Approve(model.OpTranID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve OpTran.");
        }
    }

    public void AddItems()
    {
        //opTranSubModel.ExpenseUsageCode = gstusge.UsageCode;
        opTranSubModel.ExpenseUsageCode = opTranSubModel.OperationPostingGroupModel.ADCode;
        model.Transactions.Add(opTranSubModel);
        model.TotalAmount = model.TotalAmount + (opTranSubModel.Amount * opTranSubModel.Quantity);
        opTranSubModel = new();
        //gstusge = new();
        SetTotal();
    }

    public void DeleteExpenses(OpTranSubModel i)
    {
        int rowIndex = model.Transactions.IndexOf(i);
        model.TotalAmount = model.TotalAmount - (i.Amount * i.Quantity);
        model.Transactions.RemoveAt(rowIndex);
        SetTotal();
    }

    private void SetTotal()
    {
        model.TotalAmount = model.Transactions.Sum(x => x.Amount);
    }

    private async Task Submit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionOpTranServiceEdit)
        {
            try
            {
                Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                model = new OpTranModel();
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit OpTran.");
        }
        await Task.Delay(200);
        _busy = false;
    }
}