@inherits DialogFormComponentBase<OpTranModel>
@using ArmsModels.BaseModels.General
@using Core.BaseModels.Operations;
@using Core.IDataServices.Operations;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Threading;
@using Views.Data
@using System.Threading;
@using Core.BaseModels.Finance.Transactions;
@using Pages.Operations.Expenses
@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject IConfigTable configTable
@inject IChartOfAccountService accountService
@inject IGstUsageIDService usage
@inject IDialogService DialogService

@* @inject IGstUsageIDService usageIservice
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
 *@
@inject ITruckService truckService
@inject ITruckAvailabilityService availabilityService
@inject ITripAdvanceService advanceService
@inject IOperationPostingGroupService IOpsArd

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Trip Settlement" formID="Optranform" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="Optranform" EditContext="editContext" OnValidSubmit="@OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <h6>Transaction</h6>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="@ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Payment Mode" Value="model.PaymentMode" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="OnPaymentModeChanged">
                            @foreach (var mode in PaymentModes)
                            {
                                <MudSelectItem Value="@mode">@mode</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="12" md="4">
                        <MudAutocomplete T="PaymentCodeModel"
                                         Value="SelectedArd"
                                         ValueChanged="OnAccountChanged"
                                         SearchFunc="SearchAccounts"
                                         ToStringFunc="@(e =>
                                                            e == null
                                                                ? string.Empty
                                                                : string.Format("{0} | {1}",
                                                                    string.IsNullOrWhiteSpace(e.ArdCode) ? "--" : e.ArdCode,
                                                                    string.IsNullOrWhiteSpace(e.Title) ? "--" : e.Title)
                                                        )"
                                         Label="Select A/c"
                                         Variant="Variant.Outlined"
                                         Margin="Margin.Dense"
                                         Dense="true"
                                         ResetValueOnEmptyText="true"
                                         CoerceValue="true"/>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Elevation="0">
                             <thead>
                                 <tr>
                                     <th>Particulars</th>
                                     <th>Reference</th>
                                     <th>Cost Center</th>
                                     <th>Dimension</th>
                                     <th>Amount</th>
                                     <th style="width:150px;">Quantity</th>
                                     <th style="width:150px;">Unit</th>
                                     <th style="width:150px;">Reimbursement</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @foreach (var item in model.Transactions)
                                {
                                    <tr>
                                        <td>@item.ExpenseUsageCode - @item.ExpenseTitle</td>
                                        <td>@item.Reference</td>
                                        <td>@item.CostCenterVal</td>
                                        <td>@item.DimensionVal</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Unit</td>
                                        <td>@item.Reimbursement</td>
                                        @if (!ReadOnly)
                                        {
                                            <td><MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" /></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                        @if (!ReadOnly)
                        {
                            <MudGrid>
                                <MudItem xs="12" md="5" lg="5">
                                    <MudAutocomplete SelectValueOnTab T="OperationPostingGroupModel" Label="Particulars"
                                                              CoerceValue
                                                      Value="opTranSubModel.OperationPostingGroupModel" ValueChanged="AddOperationPostingGroup"
                                                      ResetValueOnEmptyText="true" @ref="@OperationTitleControl"
                                                      SearchFunc="@SearchOperationPostingGroup" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                      ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Title)) ? null : string.Format("{0} ",e.Title))"></MudAutocomplete>
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                 </MudItem>
                                 <MudItem xs="12" md="4" lg="4">
                                     <MudTextField @bind-Value="opTranSubModel.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <CostCenterSelector @bind-Value="opTranSubModel.CostCenter" @bind-ValueText="@opTranSubModel.CostCenterVal" ReadOnly="@ReadOnly" />
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <DimensionSelector @bind-Value="opTranSubModel.Dimension" @bind-ValueText="@opTranSubModel.DimensionVal" ReadOnly="@ReadOnly" />
                                 </MudItem>

                                 <MudItem xs="12" md="2" lg="2">
                                     <MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Quantity" Label="Quantity" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                 </MudItem>
                                 <MudItem xs="12" md="1" lg="1">
                                     <MudTextField @bind-Value="opTranSubModel.Unit" Label="Unit" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                 </MudItem>
                                <MudItem xs="12" md="2" lg="2" Class="d-flex align-content-center">
                                    <MudCheckBox Label="Reimbursement" CheckedChanged="((bool value)=>ToggleData(value))" Checked="@opTranSubModel.IsReimbursed" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
                                </MudItem>
                                 <MudItem xs="12" md="1" lg="1" Class="d-flex align-content-center">
                                     <MudIconButton OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" Title="ADD" Edge="Edge.False" />
                                 </MudItem>
                             </MudGrid>
                        }


                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem>
                        <div class="d-flex"> <b>
                        <MudText Class="d-inline-flex" Typo="Typo.h6" Color="Color.Error">Trip Advance: @Advance.Amount</MudText>
                        <MudSpacer></MudSpacer>
                        <MudText Class="d-inline-flex" Typo="Typo.h6" Color="Color.Primary">
                        @if (AdvanceBalance > 0)
                        {
                             @string.Format(" Payment will be deducted from Advance..{0} will be pending!" , displayBalance ) 
                        }
                        else
                        {
                           @string.Format(" Payable Amount: {0}",displayBalance) 
                        }
                        </MudText>
                        </b>
                        </div>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocNumber="@DocNumber" DocumentID="model.OpTranID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override OpTranModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.OpTranID; } }
    private OpTranModel _model;

    MudAutocomplete<OperationPostingGroupModel> OperationTitleControl;

    private ElementReference ScrollableDiv;

    public GstUsageCodeModel gstusge = new();
    private OpTranSubModel opTranSubModel = new();
    private List
    <OperationPostingGroupModel> OperationPostingList = new();
    private TripAdvanceModel Advance = new();
    private decimal? AdvanceBalance;
    private decimal? AdvanceReturnAmount;
    private string displayBalance;
    private GstUsageCodeModel FastTagUsageCodeModel { get; set; }
    private GstUsageCodeModel LoadingAndUnlodingUsageCodeModel { get; set; }
    string UserIDTemp;
    private List<string> PaymentModes = new()
    { "Cash", "Bank", "Others"};
    private List<PaymentCodeModel> AllAccounts = new();
    private PaymentCodeModel SelectedArd;

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 6,
            DocumentName = "OpTran"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (model.OpTranID is null)
        {
            model.UserInfo.UserID = UserID;
            model.NatureOfTransaction = "Trip Expenses";
            var tripInfo = tripIservice.GetTripInfo(model.TripID); // Get trip information
            if (tripInfo is not null)
            {
                model.Narration = string.Format("Trip : {0}; Truck : {1}; Driver : {2};", tripInfo.TripNumber, tripInfo.Truck, tripInfo.Driver);
            }
            var TransferInfo = availabilityService.GetTransferInfo(model.RequestApprovalHistoryID);
            if (TransferInfo is not null)
            {
                model.Narration = string.Format("Transfer  : {0}; Truck : {1};", TransferInfo.DocNumber, TransferInfo.Truck.RegNo);
            }
        }
        else
        {
            UserIDTemp = model.UserInfo.UserID;
            model.Transactions = Iservice.GetExpenses(model.OpTranID).ToList(); // Get expenses for the operation transaction
        }       

        // if (model.PaymentMode == null)
        // {
        //     model.PaymentMode = "Cash";
        // }
        model.NatureOfTransaction = model.Area;
        model.BranchID = BranchID;
        OperationPostingList = IOpsArd.Select().ToList(); // Load operation posting groups

        // Get total advance for the trip
        Advance = advanceService.GetTotal(model.TripID);
        AdvanceBalance = Advance.Amount; 
        displayBalance = AdvanceBalance.ToString();

        if (!string.IsNullOrEmpty(model.PaymentMode))
        {
            await GetCodesAndSetDefault(BranchID, model.PaymentMode);
        }
    }

    private async Task<IEnumerable<PaymentCodeModel>> SearchAccounts(string searchString)
    {
        await Task.Delay(5);
        string search = searchString ?? string.Empty;

        return AllAccounts.Where(x =>
            (x.ArdCode ?? string.Empty).Contains(search, StringComparison.InvariantCultureIgnoreCase)
            || (x.Title ?? string.Empty).Contains(search, StringComparison.InvariantCultureIgnoreCase)
        );
    }


    private async Task OnPaymentModeChanged(string value)
    {
        model.PaymentMode = value;
        SelectedArd = null;
        model.PaymentArdCode = null;
        model.CreditCoaID = null;

        await GetCodesAndSetDefault(BranchID, value);
    }

    private async Task OnAccountChanged(PaymentCodeModel selected)
    {
        SelectedArd = selected;
        model.PaymentArdCode = selected?.ArdCode;
        model.CreditCoaID = selected?.CoaID;
    }

    private async Task GetCodesAndSetDefault(int? branchId, string mode)
    {
        AllAccounts = accountService.GetPaymentCodes(branchId, mode).ToList();

        if (!AllAccounts.Any())
            return;

        if (AllAccounts.Count == 1)
        {
            await OnAccountChanged(AllAccounts.First());
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (OperationTitleControl is not null && firstRender)
            await OperationTitleControl.FocusAsync();
    }

    // Method to toggle reimbursement status
    protected void ToggleData(bool value)
    {
        opTranSubModel.IsReimbursed = value;
    }

    // Method to add an operation posting group to the transaction
    void AddOperationPostingGroup(OperationPostingGroupModel uc)
    {
        opTranSubModel.OperationPostingGroupModel = uc;

    }

    // Method to search for operation posting groups based on a search string
    private async Task<IEnumerable<OperationPostingGroupModel>> SearchOperationPostingGroup(string searchString)
    {
        return await Task.FromResult(OperationPostingList.Where(x => x.ADCode.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase) ||
                                                                x.Title.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase)));
    }

    // Method to update approval status of the operation transaction
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.OpTranID, model.UserInfo.UserID, aprvd.Remarks); // Call service to approve
        model.UserInfo.UserID = UserIDTemp;
        return result;
    }

    // Method to add items to the operation transaction
    public async Task AddItems()
    {
        if(opTranSubModel.IsReimbursed)
        {
            // Get the fast tag usage code from the configuration
            ConfigModel cFModel = configTable.GetFastTagUsageCode();
            FastTagUsageCodeModel = usage.SelectByCode(cFModel.ValueString);

            // Get the unloading charge usage code from the configuration
            ConfigModel cLModel = configTable.GetUnloadingChargeUsageCode();
            LoadingAndUnlodingUsageCodeModel = usage.SelectByCode(cLModel.ValueString);

            if((opTranSubModel.OperationPostingGroupModel.UsageCode.UsageCode != FastTagUsageCodeModel.UsageCode) && (opTranSubModel.OperationPostingGroupModel.UsageCode.UsageCode != LoadingAndUnlodingUsageCodeModel.UsageCode))
            {
                snackbar.Add("Please Check Particulars", Severity.Error);
                return;
            }
        }

        if (opTranSubModel.OperationPostingGroupModel is not null && (opTranSubModel.Amount ?? 0) != 0)
        {
            //opTranSubModel.ExpenseUsageCode = gstusge.UsageCode;
            if(opTranSubModel.Amount <= 0)
            {
                snackbar.Add("Amount Cannot be Negative or Zero!",Severity.Error);
                return;
            }

            opTranSubModel.ExpenseUsageCode = opTranSubModel.OperationPostingGroupModel.ADCode;
            opTranSubModel.ExpenseTitle = opTranSubModel.OperationPostingGroupModel.Title;
            opTranSubModel.CoaID = opTranSubModel.OperationPostingGroupModel.UsageCode.CoaID;

            model.Transactions.Add(opTranSubModel);
            model.TotalAmount = model.TotalAmount + (opTranSubModel.Amount * opTranSubModel.Quantity);
            opTranSubModel = new() { OperationPostingGroupModel = null };
            //gstusge = new();
            SetTotal();
            await OperationTitleControl.Clear();
            await OperationTitleControl.FocusAsync();
            //await JsRuntime.InvokeVoidAsync("resetHorizontalScrollbarForElement", ScrollableDiv);
        }
    }

    // Method to delete expenses from the transaction
    public void DeleteExpenses(OpTranSubModel i)
    {
        int rowIndex = model.Transactions.IndexOf(i);
        model.TotalAmount = model.TotalAmount - (i.Amount * i.Quantity);
        model.Transactions.RemoveAt(rowIndex);
        SetTotal();
    }

    // Method to set total amounts and update display balance
    private void SetTotal()
    {
        model.TotalAmount = model.Transactions.Sum(x => x.Amount);
        AdvanceBalance = Advance.Amount - model.TotalAmount;
        displayBalance = Math.Abs(AdvanceBalance ?? 0).ToString(); 
    }

    // Method to update the operation transaction
    protected override async Task<int> Update(OpTranModel editModel)
    {
        if (model.OpTranID is null || model.OpTranID == 0)
        {
            bool? yesno = false;
            if (AdvanceBalance > 0)
            {
                {
                    yesno = await DialogService.ShowMessageBox(
                    "Advance",
                    "Do you want to Use This Advance",
                    yesText: "Yes!", noText: "No");
                }
                if (yesno == null)
                {
                    return 0;
                }
                if (yesno == true)
                {
                    AdvanceReturnAmount = model.TotalAmount;
                }
            }
            else
            {
                AdvanceReturnAmount = Advance.Amount;
            }

            if (AdvanceReturnAmount > 0)
            {
                //var AdvanceUsageCode = configTable.GetTripAdvanceUsageCode();
                model.Transactions.Add(new OpTranSubModel()
                    {
                        Amount = -1 * AdvanceReturnAmount,
                        CoaID = Advance.CoaID,
                        ExpenseUsageCode = Advance.UsageCode,
                        Reference = "Advance Reimbursed",
                    });
                model.TotalAmount = model.TotalAmount - AdvanceReturnAmount;
            }
        }

        // Call the service to update the operation transaction
        var updatedModel = Iservice.Update(model);
        model.OpTranID = updatedModel.OpTranID;
        if (updatedModel.OpTranID != null && AdvanceReturnAmount > 0 && model.TripID is not null)
        {
           
            var driverId = truckService.GetAssignedDriver(updatedModel.TruckID);

            TripAdvanceModel advanceModel = new()
                {
                    BranchID = BranchID,
                    TripID = Advance.TripID,
                    DriverID = Advance.DriverID,
                    Amount = - (AdvanceReturnAmount),
                    CoaID = Advance.CoaID,
                    UsageCode = Advance.UsageCode,
                    DocumentTypeID = DocInfo.DocumentTypeID,
                    DocumentID = updatedModel.OpTranID,
                    DocType = Advance.DocType,
                    RecordStatus = 3
                };

            // Update the advance record in the service            
            var queryStatus = advanceService.Update(advanceModel);
            if (queryStatus == null)
            {
                snackbar.Add("Something went wrong !  Please check Trip expense collect number then contact Admin", Severity.Error);
            }
            else
            {
                snackbar.Add("Created Successfully", Severity.Success);
            }
        }
        return updatedModel.OpTranID.Value;       
    }


}