@inherits DialogFormComponentBase<OpTranModel>

@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject IConfigTable configTable

@* @inject IGstUsageIDService usageIservice
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
 *@
@inject ITruckService truckService
@inject ITripAdvanceService advanceService
@inject IOperationPostingGroupService IOpsArd

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Trip Settlement" formID="Optranform" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="Optranform" EditContext="editContext" OnValidSubmit="@OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <h6>Transaction</h6>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="@ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PaymentAccountSelector ReadOnly="@ReadOnly" @bind-PaymentMode="@model.PaymentMode" HideMode LabelName="Cash A/c" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.CreditCoaID" />
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Elevation="0">
                             <thead>
                                 <tr>
                                     <th>Particulars</th>
                                     <th>Reference</th>
                                     <th>Cost Center</th>
                                     <th>Dimension</th>
                                     <th>Amount</th>
                                     <th style="width:150px;">Quantity</th>
                                     <th style="width:150px;">Unit</th>
                                     <th style="width:50px;"></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 @foreach (var item in model.Transactions)
                                {
                                    <tr>
                                        <td>@item.ExpenseUsageCode - @item.ExpenseTitle</td>
                                        <td>@item.Reference</td>
                                        <td>@item.CostCenterVal</td>
                                        <td>@item.DimensionVal</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Unit</td>
                                        @if (!ReadOnly)
                                        {
                                            <td><MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" /></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                        @if (!ReadOnly)
                        {
                            @* <div @ref="@ScrollableDiv" style="overflow-x:scroll;"> *@
                            <MudGrid>
                                <MudItem xs="12" md="5" lg="5">
                                    <MudAutocomplete SelectValueOnTab T="OperationPostingGroupModel" Label="Particulars"
                                                              CoerceValue
                                                      Value="opTranSubModel.OperationPostingGroupModel" ValueChanged="AddOperationPostingGroup"
                                                      ResetValueOnEmptyText="true" @ref="@OperationTitleControl"
                                                      SearchFunc="@SearchOperationPostingGroup" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                      ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Title)) ? null : string.Format("{0} | {1}",e.ADCode,e.Title))"></MudAutocomplete>
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                 </MudItem>
                                 <MudItem xs="12" md="4" lg="4">
                                     <MudTextField @bind-Value="opTranSubModel.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <CostCenterSelector @bind-Value="opTranSubModel.CostCenter" @bind-ValueText="@opTranSubModel.CostCenterVal" ReadOnly="@ReadOnly" />
                                 </MudItem>
                                 <MudItem xs="12" md="3" lg="3">
                                     <DimensionSelector @bind-Value="opTranSubModel.Dimension" @bind-ValueText="@opTranSubModel.DimensionVal" ReadOnly="@ReadOnly" />
                                 </MudItem>

                                 <MudItem xs="12" md="2" lg="2">
                                     <MudNumericField HideSpinButtons @bind-Value="opTranSubModel.Quantity" Label="Quantity" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                 </MudItem>
                                 <MudItem xs="12" md="2" lg="2">
                                     <MudTextField @bind-Value="opTranSubModel.Unit" Label="Unit" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                 </MudItem>
                                 <MudItem xs="12" md="2" lg="2" Class="d-flex align-content-center">
                                     <MudIconButton OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" Title="ADD" Edge="Edge.False" />
                                 </MudItem>
                             </MudGrid>
                            @*   </div> *@
                        }


                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem>
                        <div class="d-flex"> <b>
                        <MudText Typo="Typo.h6" Color="Color.Error">Trip Advance: @Advance.Amount</MudText>
                        <MudSpacer></MudSpacer>
                        <MudText Typo="Typo.h6" Color="Color.Primary">
                        @if (AdvanceBalance > 0)
                        {
                             @string.Format(" Payment will be deducted from Advance..{0} will be pending!" , displayBalance ) 
                        }
                        else
                        {
                           @string.Format(" Payable Amount: {0}",displayBalance) 
                        }
                        </MudText>
                        </b>
                        </div>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocNumber="@DocNumber" DocumentID="model.OpTranID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override OpTranModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.OpTranID; } }
    private OpTranModel _model;

    MudAutocomplete<OperationPostingGroupModel> OperationTitleControl;

    private ElementReference ScrollableDiv;

    public GstUsageCodeModel gstusge = new();
    private OpTranSubModel opTranSubModel = new();
    private List
    <OperationPostingGroupModel> OperationPostingList = new();
    private TripAdvanceModel Advance = new();
    private decimal? AdvanceBalance;
    private decimal? AdvanceReturnAmount;
    private string displayBalance;

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 6,
            DocumentName = "OpTran"
        };


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (model.OpTranID is null)
        {
            model.NatureOfTransaction = "Trip Expenses";
            var tripInfo = tripIservice.GetTripInfo(model.TripID);
            if (tripInfo is not null)
            {
                model.Narration = string.Format("Trip : {0}; Truck : {1}; Driver : {2};", tripInfo.TripNumber, tripInfo.Truck, tripInfo.Driver);
            }
        }
        else
        {
            model.Transactions = Iservice.GetExpenses(model.OpTranID).ToList();
        }
        if (model.PaymentMode == null)
        {
            model.PaymentMode = "Cash";
        }
        model.NatureOfTransaction = model.Area;
        model.BranchID = BranchID;
        model.UserInfo.UserID = UserID;
        OperationPostingList = IOpsArd.Select().ToList();

        Advance = advanceService.GetTotal(model.TripID);
        AdvanceBalance = Advance.Amount;
        displayBalance = AdvanceBalance.ToString();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (OperationTitleControl is not null && firstRender)
            await OperationTitleControl.FocusAsync();
    }


    void AddOperationPostingGroup(OperationPostingGroupModel uc)
    {
        opTranSubModel.OperationPostingGroupModel = uc;
    }

    private async Task<IEnumerable<OperationPostingGroupModel>> SearchOperationPostingGroup(string searchString)
    {
        return await Task.FromResult(OperationPostingList.Where(x => x.ADCode.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase) ||
                                                                x.Title.Contains(searchString ?? string.Empty, StringComparison.InvariantCultureIgnoreCase)));
    }

    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.OpTranID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    public async Task AddItems()
    {
        if (opTranSubModel.OperationPostingGroupModel is not null && (opTranSubModel.Amount ?? 0) != 0)
        {
            //opTranSubModel.ExpenseUsageCode = gstusge.UsageCode;
            opTranSubModel.ExpenseUsageCode = opTranSubModel.OperationPostingGroupModel.ADCode;
            opTranSubModel.ExpenseTitle = opTranSubModel.OperationPostingGroupModel.Title;
            model.Transactions.Add(opTranSubModel);
            model.TotalAmount = model.TotalAmount + (opTranSubModel.Amount * opTranSubModel.Quantity);
            opTranSubModel = new() { OperationPostingGroupModel = null };
            //gstusge = new();
            SetTotal();
            await OperationTitleControl.Clear();
            await OperationTitleControl.FocusAsync();
            //await JsRuntime.InvokeVoidAsync("resetHorizontalScrollbarForElement", ScrollableDiv);
        }
    }

    public void DeleteExpenses(OpTranSubModel i)
    {
        int rowIndex = model.Transactions.IndexOf(i);
        model.TotalAmount = model.TotalAmount - (i.Amount * i.Quantity);
        model.Transactions.RemoveAt(rowIndex);
        SetTotal();
    }

    private void SetTotal()
    {
        model.TotalAmount = model.Transactions.Sum(x => x.Amount);
        AdvanceBalance = Advance.Amount - model.TotalAmount;
        displayBalance = Math.Abs(AdvanceBalance ?? 0).ToString(); 
    }

    protected override async Task<int> Update(OpTranModel editModel)
    {
        if (model.OpTranID is null || model.OpTranID == 0)
        {
            if (AdvanceBalance > 0)
            {
                AdvanceReturnAmount = model.TotalAmount;
            }
            else
            {
                AdvanceReturnAmount = Advance.Amount;
            }

            if (AdvanceReturnAmount > 0)
            {
                var AdvanceUsageCode = configTable.GetTripAdvanceUsageCode();
                model.Transactions.Add(new OpTranSubModel()
                    {
                        Amount = -1 * AdvanceReturnAmount,
                        CoaID = Advance.CoaID,
                        ExpenseUsageCode = AdvanceUsageCode.ValueString,
                        Reference = "Advance Reimbursed",
                    });
                model.TotalAmount = model.TotalAmount - AdvanceReturnAmount;
            }
        }

        var updatedModel = Iservice.Update(model);
        if (updatedModel.OpTranID != null && model.OpTranID is null && model.TripID is not null)
        {
            model.OpTranID = updatedModel.OpTranID;
            var driverId = truckService.GetAssignedDriver(updatedModel.TruckID);

            TripAdvanceModel advanceModel = new()
                {
                    BranchID = BranchID,
                    TripID = Advance.TripID,
                    DriverID = Advance.DriverID,
                    Amount = - (AdvanceReturnAmount),
                    CoaID = Advance.CoaID,
                    DocumentTypeID = DocInfo.DocumentTypeID,
                    DocumentID = updatedModel.OpTranID
                };
            advanceService.Update(advanceModel);
        }
        return updatedModel.OpTranID.Value;       
    }


}