@using Microsoft.Extensions.Configuration
@inject IPaymentService Iservice
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IDimensionService dimensionIservice
@inject IChartOfAccountService accountService
@inject IConfiguration configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

@using System.Globalization
<MudDialog>
    <DialogContent>
         <EditForm id="formtfinishmemo" Model="@model" OnValidSubmit="OnValidSubmit">
<MudPaper>
    <MudContainer Style="max-height: 450px; overflow-y: scroll">
<MudGrid Spacing="4">
  
            <MudItem  xs="12" md="12">
                        <PaymentCodeSelector @bind-Value="accountRuleDefinitionModel" LabelName="Select Accounts"></PaymentCodeSelector>

               @* <MudSwitch @bind-Checked="customstr" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())" > @(customstr)</MudSwitch>
                   
               </MudItem>
               
                 <MudItem  xs="12" md="4">
                       <MudAutocomplete  T="ChartOfAccountModel" Label="Select Accounts" @bind-Value="SelectedAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
                 </MudItem>
                  <MudItem  xs="12" md="3">
                 <MudDatePicker @bind-Date="model.DocumentDate" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" Label="DocumentDate" Variant="Variant.Outlined"  Margin="Margin.Dense" For="@(() => model.DocumentDate)"></MudDatePicker>
    
               </MudItem>
                <MudItem xs="12"md="3">
                     @if (@customstr == "Cash")
                            {

                              <MudSelect ReadOnly="true" Label="Select Payment Tool" @bind-Value="model.PaymentTool" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.BankTools)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        }
                            @if (@customstr != "Cash")
                            {
                               <MudSelect ReadOnly="false" Label="Select Payment Tool" @bind-Value="model.PaymentTool" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.BankTools)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                            }*@
         </MudItem>
         <MudItem  xs="12" md="3">
                 <MudDatePicker @bind-Date="model.DocumentDate" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" Label="DocumentDate" Variant="Variant.Outlined"  Margin="Margin.Dense" For="@(() => model.DocumentDate)"></MudDatePicker>
    
               </MudItem>
          <MudItem xs="12" md="12">
        
                     
                       
                       <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
   
  

    @*</MudGrid> 
    </MudContainer>
    </MudPaper>
    
    <MudPaper>
    <MudContainer>
    <MudGrid   >*@
        <MudItem xs="12">
         <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                             
                                <tr>

                                 
                                    <th>Document No</th>
                                    <th>Reference</th>
                                    <th>EffectiveDate</th>
                                    <th>Amount</th>
                                   
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in paymentEntry)
                                {
                                    <tr>
                                       
                                    
                                        <td>@item.DocumentNumber</td>
                                        <td> <MudTextField  @bind-Value="item.Reference"  Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>
                                        <td> <MudDatePicker DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="item.EffectiveDate"  Variant="Variant.Outlined" Margin="Margin.Dense"> </MudDatePicker></td>
                                        <td> <MudTextField T="decimal?" @bind-Value="item.Amount" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>
                                    
                                      
                                      
                                        
                                    </tr>
                                }
                                <tr>
                                    <td></td
                                    <td></td>
                                    <td></td>
                                    <td>Total:<b>@model.TotalAmount</b></td>
                                </tr>
                                 
                               
                            </tbody>
                        </MudSimpleTable>
    </MudItem>
   
    

    </MudGrid>
    </MudContainer>
    </MudPaper>
    </EditForm>
    </DialogContent>
     <DialogActions>
     
             <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton form="formtfinishmemo"  Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
                    
    </DialogActions>
</MudDialog>



@code {
    [Parameter]
    public PaymentFinishModel model { get; set; }
    public string customstr { get; set; } = "Bank";
    private ChartOfAccountModel SelectedAccount = null;
    private List<PaymentEntryModel> paymentEntry = new List<PaymentEntryModel>();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private AccountRuleDefinitionModel accountRuleDefinitionModel = new();
    //@bind-Value="model.ReceiptMode"
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccounts(string searchString)
    {

        int coID =Convert.ToInt32(configuration.GetSection("Data")[customstr]);
        return await Task.FromResult(accountService.SelectChildren(coID));

    }

    public class CustomStringToBoolConverter : BoolConverter<string>
    {

        public CustomStringToBoolConverter()
        {
            SetFunc = OnSet;
            GetFunc = OnGet;
        }

        private string TrueString = "Cash";
        private string FalseString = "Bank";
        private string NullString = "Error";

        private string OnGet(bool? value)
        {
            try
            {
                return (value == true) ? TrueString : FalseString;
            }
            catch (Exception e)
            {
                UpdateGetError("Conversion error: " + e.Message);
                return NullString;
            }
        }

        private bool? OnSet(string arg)
        {
            if (arg == null)
                return null;
            try
            {
                if (arg == TrueString)
                    return true;
                if (arg == FalseString)
                    return false;
                else
                    return null;
            }
            catch (FormatException e)
            {
                UpdateSetError("Conversion error: " + e.Message);
                return null;
            }
        }


    }

    protected override async Task OnInitializedAsync()
    {
        GetPaymentEntryDetails();
    }
    public async Task GetPaymentEntryDetails()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        List<PartyPaymentMemoModel> ppmm = new List<PartyPaymentMemoModel>();

        ppmm =Iservice.Select(model.PiID.Value, brancID).ToList();
        // model.Payments = new();
        foreach (var item in ppmm)
        {
            PaymentEntryModel p = new PaymentEntryModel();
            p.PaymentMemoID = item.PaymentMemoID;
            p.DocumentNumber = item.DocumentNumber;
            p.Amount = null;
            p.EffectiveDate = null;
            p.Reference = null;
            p.PeID = null;
            //model.Payments.Add(p);
            paymentEntry.Add(p);

        }

    }
    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
       
        model.Payments = paymentEntry;
         model.PaymentMode = accountRuleDefinitionModel.paymentMode;
        model.PaymentCoaID = accountRuleDefinitionModel.CoaID;
        model.PaymentArdCode = accountRuleDefinitionModel.ArdCode;
        model.PaymentTool = accountRuleDefinitionModel.BankTools;
        model.BankCharges = accountRuleDefinitionModel.BankCharges;
        model.BranchID = brancID;
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        Iservice.CompletePayment(model);
        snackbar.Add("Saved Successfully", Severity.Success);
        MudDialog.Close();
    }
    public void Cancel()
    {}
    public void calcAmount()
    {
        model.TotalAmount = 0;
        foreach(var item in model.Payments)
        {
            if(item.Amount!=null)
            {
                model.TotalAmount = model.TotalAmount + item.Amount;
            }
        }
    }
}
