@inject IPaymentService Iservice
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject IPartyBranchService partyIservice
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudPaper>
    <MudContainer>
<MudGrid Spacing="4">
  
            <MudItem  xs="12" md="6">
                           <MudTextField ReadOnly="true" @bind-Value="partyName" Label="Vendor" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>

               </MudItem>
    <MudItem  xs="12" md="6">
           <MudTextField ReadOnly="true" @bind-Value="model.PartyBranchInfo.Address.Place" Label="Vendor Place" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PartyBranchInfo.Address.Place)"></MudTextField>

        </MudItem>
    </MudGrid> 
    </MudContainer>
    </MudPaper>
    
    <MudPaper >
    <MudContainer>
    <MudGrid   >
        <MudItem xs="12"   >
          <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                <tr>

                              
                                  
                                   
                                     <th>Invoice info</th>
                                      <th>Accounting Info</th>
                                       <th>Branch</th>
                                    <th>PayAmount</th>
                                  
                                    
                                     

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in billsPayed)
                                {
                                    <tr>
                                       
                                   
                                     
                                        <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                        <td>@item.DocNumber - @item.DocDate?.ToShortDateString()</td>
                                       <td>@item.BranchName</td>
                                         <td>@item.PayAmount</td>
                                       
                                       
                                       
                                        
                                        
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td >Total:@model.TotalAmount</td>
                                </tr>
                                 
                               
                            </tbody>
                        </MudSimpleTable>
    </MudItem>
   
        
    <MudItem xs="12"md="4">
   
      <MudDatePicker Label="DocumentDate" ReadOnly="true" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
    <MudItem xs="12"md="4">
   
       <MudSelect Label="Select CostCenter" ReadOnly="true" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
    <MudItem xs="12"md="4">
   
     <MudSelect Label="Select Dimension" ReadOnly="true" @bind-Value="model.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
     <MudItem xs="12"md="12">
           <MudTextField ReadOnly="true" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

     </MudItem>
     <hr />
   @*  
     <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Primary" >Submit</MudButton>
*@

    </MudGrid>
    </MudContainer>
    </MudPaper>
   @* <MudText Inline="true">Selected items: @(selectedItems1==null ? "" : string.Join(", ", selectedItems1.Select(x=>x.BoID)))</MudText>*@
@code {

    [Parameter]
    public PartyPaymentMemoModel model { get; set; }

    private List<OutstandingBillsModel> collection = new List<OutstandingBillsModel>();
    private List<BillsPaidModel> billsPayed = new List<BillsPaidModel>();
    //private HashSet<Element> selectedItems1 = new HashSet<Element>();
    //private HashSet<OutstandingBillsModel> selectedItems1= new HashSet<OutstandingBillsModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    private List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
    public string value="invisible";
    private List<CostCenterModel> costCenter = new();
    private List<PartyBranchModel> pmodel = new();
    private List<DimensionModel> dimension = new();
    private string partyName;
    protected override async Task OnInitializedAsync()
    {
        //model = new();
        // GetAll();
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        partyName = model.PartyBranchInfo.Party.PartyName;
        pmodel = partyIservice.Select(model.PartyBranchInfo.GstID.Value).ToList();
        foreach (var item in pmodel)
        {
            model.PartyBranchInfo = item;
        }
        billsPayed =Iservice.GetBills(model.PaymentMemoID.Value).ToList();
    }
    private  async Task GetAll()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        collection = new List<OutstandingBillsModel>();
        foreach (var item in OBIservice.SelectByParty(model.PartyBranchInfo.PartyID,model.PartyBranchInfo.GstID,brancID))
        {
            collection.Add(item);
        }


    }   

    private void GetTaxPurchase()
    {
        GetAll();

    }
    private async Task CreatePaymentMemo()
    {   var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        model.BranchID = brancID;
        model.PaymentStatus = 0;
        model.Bills = billsPayed;
        Iservice.Update(model);
        uriHelper.NavigateTo("/PaymentMemoView");  
    }
    private void calcTotalAmt()
    {
        model.TotalAmount = 0;
        foreach (var item in billsPayed)
        {
            model.TotalAmount = model.TotalAmount + item.PayAmount;
        }
    }
    private async Task OpenOtstandingBills()
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID",model.PartyBranchInfo.PartyID);
        parms.Add("GstID",model.PartyBranchInfo.GstID);
        var dialog =  DialogService.Show<OutstandingBillView>("Outstanding Bill",parms,maxWidth);
        var result = await dialog.Result;

        if(!result.Cancelled)
        {

            SelectedItems = (List<OutstandingBillsModel>)result.Data;         
            //  List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            //SelectedItems=result.Data;     
            // GetAll();
            if(SelectedItems!=null)
            {
                value = "visible";
                foreach (var item in SelectedItems)
                {
                    BillsPaidModel bpm = new BillsPaidModel();
                    bpm.BoID = item.BoID;
                    bpm.BranchName = item.BranchName;
                    bpm.DocDate = item.DocDate;
                    bpm.DocNumber = item.DocNumber;
                    bpm.InvoiceDate = item.InvoiceDate;
                    bpm.InvoiceNumber = item.InvoiceNumber;
                    bpm.PayAmount = 0;
                    billsPayed.Add(bpm);
                }

            }


        }
    
    }
    private void GetSelectedItem()
    {
        //if (selectedItems != null)
        //{
        //    string k = "0";
        //}
        
        //string itm = string.Join(", ", selectedItems1.Select(x=>x.BoID))
        //
    }
}
