@page "/ProformaInvoiceView"
@inject IFreightBillingService Iservice
@inject IDimensionService dimensionIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<h3>ProformaInvoice</h3>
 <MudGrid Spacing="4">
   <MudItem xs="12">
       
        <MudTable Items="@collection"   Dense="true" Hover="true"  Striped="true" Elevation="10"  @bind-place="model">
           

            
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>
               <MudTh><MudTableSortLabel SortBy="new Func<ProformaInvoiceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">TotalAmount</MudTableSortLabel></MudTh>
                
                
                <MudTh>Actions</MudTh> 
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                
                   <MudTd DataLabel="">

                    <MudFab @onclick="@(()=> View(context))" Color="Color.Primary" title="View" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                  
                    @*@if(@context.ApprovedInfo.RecordStatus!=3 && @context.ApprovedInfo.RecordStatus!=1)*@
                    {
                      <MudFab @onclick="@(()=> Approve(context))" Color="Color.Success" title="Approve" Icon="@Icons.Material.Filled.Check" Size="Size.Small" IconSize="Size.Small" />
                     <MudFab @onclick="@(()=> Edit(context))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Reverse(context))" Color="Color.Error" title="Reverse" Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Small" IconSize="Size.Small" />
                        
                    }
              
                    </MudTd>
                 
           
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
           <MudItem xs="12"md="9"> </MudItem><MudItem xs="12"md="3">
               
        </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
    </MudGrid>


    <br />
     <MudPaper Class="@value" >
    <MudContainer>
    <MudGrid   >
      <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.Reference"  Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
     <MudItem xs="12"md="4">
   
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="pmodel.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
   
     <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.TotalAmount" ReadOnly="true" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
      <MudItem xs="12" md="6">
                         <MudSelect Label="Select CostCenter" @bind-Value="pmodel.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                  </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Dimension" @bind-Value="pmodel.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="pmodel.Gst.Cgst"  Label="Cgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Gst.GstRate)"></MudTextField>
         </MudItem>

        <MudItem xs="12" md="3">
            <MudTextField @bind-Value="pmodel.Gst.Cgst"  Label="Cgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Gst.Cgst)"></MudTextField>
         </MudItem>
          <MudItem xs="12" md="3">
            <MudTextField @bind-Value="pmodel.Gst.Igst"  Label="Igst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Gst.Igst)"></MudTextField>
         </MudItem>
          <MudItem xs="12" md="3">
            <MudTextField @bind-Value="pmodel.Gst.Sgst"  Label="Sgst" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Gst.Sgst)"></MudTextField>
         </MudItem>
         


                     <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="pmodel.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Narration)"></MudTextField>

                    </MudItem>
    <MudItem xs="12"md="10"> </MudItem><MudItem xs="12"md="2">
        @if(@status=="Edit")
        {
     <MudButton @onclick="Update" Variant="Variant.Filled"  Color="Color.Primary" >Submit</MudButton>
        }
        </MudItem>

  </MudGrid></MudContainer></MudPaper>

@code {
    private ProformaInvoiceModel model = new ProformaInvoiceModel();
    private List<ProformaInvoiceModel> collection = new List<ProformaInvoiceModel>();
    public string value="invisible";
    public string status=null;
    ProformaInvoiceModel pmodel=new();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    GstModel gs = new();

    protected override async Task OnInitializedAsync()
    {
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        GetPerfomaInvoice();
    }


    public void GetPerfomaInvoice()
    {


        collection = Iservice.SelectPendingProformaInvoiceList(0).ToList();


    }
    public void Edit(ProformaInvoiceModel pim)
    {
        value = "visible";
        status = "Edit";
        pmodel = pim;

    }
    public void View(ProformaInvoiceModel pim)
    {
        value = "visible";
        status = "View";
        pmodel = pim;

    }
    public  void Reverse(ProformaInvoiceModel pim)
    {   
        value = "invisible";
        status = "Reverse";
        pmodel = pim;
        Iservice.ReverseProformaInvoice(pim.ProformaInvoiceID, "Rijas","remarks");
        snackbar.Add("Update Successfully", Severity.Success);
        GetPerfomaInvoice();
    }
     public  void Approve(ProformaInvoiceModel pim)
    {   
        value = "invisible";
        status = "Approve";
        pmodel = pim;
        Iservice.ApproveProformaInvoice(pim.ProformaInvoiceID, "Rijas","remarks");
        snackbar.Add("Update Successfully", Severity.Success);
        GetPerfomaInvoice();
    }
    public async Task Update()
    {   
        Iservice.UpdateProformaInvoice(pmodel);
        snackbar.Add("Saved Successfully", Severity.Success);
       

    }
}
