@page "/ProformaInvoiceDialog"
@inject IFreightBillingService Iservice
@inject IDimensionService dimensionIservice
@inject ICostCenterService costIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
<h3>ProformaInvoiceDialog</h3>


 <MudGrid Spacing="4">
   <MudItem xs="12">
       
        <MudTable Items="@collection" @bind-SelectedItems="selectedItems1" MultiSelection="true"  Dense="true" Hover="true"  Striped="true" Elevation="10"  @bind-place="model">
           

            
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>
               <MudTh><MudTableSortLabel SortBy="new Func<ConsolidatedDraftBillModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">TotalAmount</MudTableSortLabel></MudTh>
                
                
               @* <MudTh>Actions</MudTh>*@
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                
                
                 
           
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
           <MudItem xs="12"md="9"> </MudItem><MudItem xs="12"md="3">
                <MudButton OnClick="selected" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Get Details</MudButton>
        </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
    </MudGrid>
<br />
<br />
     <MudPaper Class="@value" >
    <MudContainer>
    <MudGrid   >
      <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.Reference"  Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
     <MudItem xs="12"md="4">
   
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="pmodel.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
   
     <MudItem xs="12"md="4">
   
      <MudTextField @bind-Value="pmodel.TotalAmount" ReadOnly="true" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" ></MudTextField>


    </MudItem>
      <MudItem xs="12" md="6">
                         <MudSelect Label="Select CostCenter" @bind-Value="pmodel.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                  </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Dimension" @bind-Value="pmodel.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                     <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="pmodel.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => pmodel.Narration)"></MudTextField>

                    </MudItem>
    <MudItem xs="12"md="10"> </MudItem><MudItem xs="12"md="2">
     <MudButton @onclick="Createbill" Variant="Variant.Filled"  Color="Color.Primary" >Submit</MudButton>
    </MudItem>

  </MudGrid></MudContainer></MudPaper>


@code {

    private ConsolidatedDraftBillModel model = new ConsolidatedDraftBillModel();
    private List<ConsolidatedDraftBillModel> collection = new List<ConsolidatedDraftBillModel>();
    private HashSet<ConsolidatedDraftBillModel> selectedItems1= new HashSet<ConsolidatedDraftBillModel>();
    public string value="invisible";
    ProformaInvoiceModel pmodel=new();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();

    protected override async Task OnInitializedAsync()
    {
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        GetConsolidatedDraftBill();
    }


    public void GetConsolidatedDraftBill()
    {


        collection = Iservice.SelectConsolidatedDraftBillList(0).ToList();


    }
    public void selected()
    {
        if(selectedItems1!=null && selectedItems1.Count==1)
        {
            value = "visible";
            foreach (var item in selectedItems1)
            {
                pmodel.TotalAmount = item.TotalAmount;
                pmodel.DraftBillID = item.DraftBillID;
            }

        }
        else
        {
            snackbar.Add("Please select one cosoilidate bill", Severity.Warning);
        }
    }
    public void Createbill()
    {

        

    }
}
