@using Microsoft.Extensions.Configuration
@inject IReceiptService Iservice
@inject IPartyService partyIservice
@inject IOutstandingBillsService OutstandingIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IDimensionService dimensionIservice
@inject IConfiguration configuration
@inject IChartOfAccountService accountService
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService





<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Receipt
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <MudGrid Spacing="4">

                <MudItem xs="12" md="3">
                    <MudSelect Label="Select Party" ReadOnly="IsReadOnly" @bind-Value="nbusiness" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Supplier")" />
                        <MudSelectItem Value="@("Customer")" />
                        <MudSelectItem Value="@("Renter")" />
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="4">

                    <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness=@nbusiness></PartySelector>

                </MudItem>

                <MudItem xs="12" md="3">


                    <MudSelect Label="NatureOfBusiness" ReadOnly="IsReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionchanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Deposit")" />
                        <MudSelectItem Value="@("Reciept")" />
                        <MudSelectItem Value="@("Prepayment")" />
                    </MudSelect>


                </MudItem>



            </MudGrid>



            <MudPaper>
                <MudContainer>
                    <MudGrid>
                        @if (Isbill)
                        {
                            <MudItem xs="12">
                                <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                                    <thead>
                                        <tr>
                                            <th>Invoice info</th>
                                            <th>Branch</th>
                                            <th>ReceiptAmount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in model.Bills)
                                        {
                                            <tr>
                                                <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                                <td>@item.BranchName</td>
                                                <td> <MudTextField T="decimal?" @bind-Value="item.ReceiptAmount" TextChanged="calcTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>

                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Total:@model.TotalAmount</td>
                                        </tr>


                                    </tbody>
                                </MudSimpleTable>
                            </MudItem>
                        }
                        <MudItem xs="12" md="12">


                            <PaymentCodeSelector @bind-Value="accountRuleDefinitionModel" LabelName="Select Accounts"></PaymentCodeSelector>


                        </MudItem>
                        <MudItem xs="12" md="4">

                            <MudDatePicker ReadOnly="IsReadOnly" Label="Effective Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EffectiveDate" DateFormat="dd/MM/yyyy" />


                        </MudItem>
                        <MudItem xs="12" md="4">

                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>

                        </MudItem>
                        @if (!Isbill)
                        {
                            <MudItem xs="12" md="4">

                                <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                            </MudItem>
                        }
                        <MudItem xs="12" md="3">

                            <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


                        </MudItem>
                        <MudItem xs="12" md="3">

                            <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in costCenter)
                                {
                                    <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                                }
                            </MudSelect>

                        </MudItem>
                        <MudItem xs="12" md="3">

                            <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in dimension)
                                {
                                    <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                }
                            </MudSelect>

                        </MudItem>
                        <MudItem xs="12" md="3">
                            <MudCheckBox @bind-Checked="model.IsRealized" T="bool" ReadOnly="IsReadOnly" Label="IsRealized" Color="Color.Primary"></MudCheckBox>
                        </MudItem>
                        <MudItem xs="12" md="12">
                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                        </MudItem>
                        <MudItem xs="12">
                            @if ((IsReadOnly) && (!IsView))
                            {
                                <AutherizationStatusComponent DocTypeID="14" DocumentID="model.ReceiptID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                            }
                        </MudItem>

                    </MudGrid>
                </MudContainer>
            </MudPaper>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>

            <MudButton @onclick="CreateReceipt" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>
@code {
    [Parameter]
    public ReceiptModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }

    public string nbusiness = "Supplier";

    private bool Isbill = false;
    private int? branchID = null;
    private string UserID = null;
    private AccountRuleDefinitionModel accountRuleDefinitionModel = new();


    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;

        if (model.ReceiptID != null)
        {
            nbusiness = model.ReceiptType;
            model.Bills = Iservice.GetBills(model.ReceiptID).ToList();
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            accountRuleDefinitionModel.paymentMode = model.ReceiptMode;
            accountRuleDefinitionModel.CoaID = model.ReceiptCoaID;
            accountRuleDefinitionModel.ArdCode = model.ReceiptArdCode;
            accountRuleDefinitionModel.BankTools = model.ReceiptTool;
            accountRuleDefinitionModel.BankCharges = model.BankCharges;

            if (model.Bills.Count != 0)
            {
                Isbill = true;
            }

        }
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();

    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task nTransactionchanged(string nt)
    {

        model.NatureOfTransaction = nt;
        if (nt != "Reciept")
        {

            Isbill = false;
        }
        else
        {

            Isbill = true;
            await OpenOtstandingBills();
        }
    }

    private void calcTotalAmt()
    {
        model.TotalAmount = 0;
        foreach (var item in model.Bills)
        {
            model.TotalAmount = model.TotalAmount + item.ReceiptAmount;
        }
    }

    private async Task OpenOtstandingBills()
    {

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        parms.Add("BranchID", branchID);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;
        List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
        if (!result.Canceled)
        {

            SelectedItems = (List<OutstandingBillsModel>)result.Data;

            if (SelectedItems != null)
            {

                foreach (var item in SelectedItems)
                {
                    BillsReceiptModel bpm = new BillsReceiptModel();
                    bpm.MID = item.MID;
                    bpm.BranchName = item.BranchName;
                    bpm.BranchID = item.BranchID;
                    bpm.InvoiceDate = item.ReferenceDocDate;
                    bpm.InvoiceNumber = item.ReferenceDocNo;
                    bpm.ReceiptAmount = item.OutstandingAmount;

                    model.Bills.Add(bpm);
                }

            }


        }

    }


    public void CreateReceipt()
    {
        model.ReceiptCoaID = Convert.ToInt32(configuration.GetSection("Data")["DefaultCashCoa"]);





        model.ReceiptMode = accountRuleDefinitionModel.paymentMode;
        model.ReceiptCoaID = accountRuleDefinitionModel.CoaID;
        model.ReceiptArdCode = accountRuleDefinitionModel.ArdCode;
        model.ReceiptTool = accountRuleDefinitionModel.BankTools;
        model.BankCharges = accountRuleDefinitionModel.BankCharges;
        if (nbusiness == "Supplier")
        {
            if (model.NatureOfTransaction == "Deposit")
            {
                model.PartyCoaID = partyIservice.GetVendorDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Reciept")
            {
                model.PartyCoaID = partyIservice.GetVendorPayableCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Prepayment")
            {
                model.PartyCoaID = partyIservice.GetVendorPrepaymentCoaID(model.PartyInfo.PartyID);
            }

        }
        if (nbusiness == "Customer")
        {
            if (model.NatureOfTransaction == "Reciept")
            {
                model.PartyCoaID = partyIservice.GetCustomerReceivableCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Deposit")
            {
                model.PartyCoaID = partyIservice.GetCustomerDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Prepayment")
            {
                model.PartyCoaID = partyIservice.GetCustomerPrepaymentCoaID(model.PartyInfo.PartyID);
            }
        }
        if (nbusiness == "Renter")
        {

            if (model.NatureOfTransaction == "Reciept")
            {
                model.PartyCoaID = partyIservice.GetRenterRentCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Deposit")
            {
                model.PartyCoaID = partyIservice.GetRenterDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction == "Other")
            {
                model.PartyCoaID = partyIservice.GetRenterOtherCoaID(model.PartyInfo.PartyID);
            }
        }
        model.ReceiptType = nbusiness;
        model.UserInfo.UserID = UserID;
        model.BranchID = branchID;
        Iservice.Update(model);
        snackbar.Add("Saved Successfully", Severity.Success);
        MudDialog.Close();
    }

    protected void IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {


            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Approve(model.ReceiptID, model.UserInfo.UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }


        }

    }

}
