@*@page "/Receipt"*@
@using Microsoft.Extensions.Configuration
@inject IReceiptService Iservice
@inject IPartyService partyIservice
@inject IOutstandingBillsService OutstandingIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IDimensionService dimensionIservice
@inject IConfiguration configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService




@*<MudLink Href="ReceiptApproveView" Underline="Underline.Always">Receipt Approve</MudLink>

<hr />
<MudPaper>
    <MudContainer>*@
        <MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Receipt
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
           <MudContainer Style="max-height: 450px; overflow-y: scroll">
        <MudGrid Spacing="4">
            @*
            <MudItem xs="12" md="10">
            <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Customer"></PartySelector>
            </MudItem>
            <MudItem xs="12" md="2">
            <MudButton @onclick="OpenOtstandingBills" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
            </MudItem>*@
            <MudItem xs="12" md="3">
                <MudSelect Label="Select Party" ReadOnly="IsReadOnly" @bind-Value="nbusiness" T="string" SelectedValuesChanged="nbusinesschanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    @foreach (var ditem in NatureOfBusiness)
                    {
                        <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="4">
                @if (nbusiness == "Supplier")
                {
                    <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Supplier"></PartySelector>
                }
                @if (nbusiness == "Customer")
                {
                    <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Customer"></PartySelector>
                }
                @if (nbusiness == "Renter")
                {
                    <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Renter"></PartySelector>
                }
            </MudItem>

            <MudItem xs="12" md="3">

                @if (nbusiness == "Supplier")
                {
                     <MudSelect ReadOnly="IsReadOnly" Label="NatureOfBusiness" @bind-Value="model.NatureOfTransaction" T="string" SelectedValuesChanged="nTransactionchanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Deposit")" />
                    <MudSelectItem Value="@("Payable")" />
                    <MudSelectItem Value="@("Prepayment")" />
                </MudSelect>
                }
                @if (nbusiness == "Customer")
                {
                    <MudSelect ReadOnly="IsReadOnly" Label="NatureOfBusiness" @bind-Value="model.NatureOfTransaction" T="string" SelectedValuesChanged="nTransactionchanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Receivable")" />
                    <MudSelectItem Value="@("Deposit")" />
                    <MudSelectItem Value="@("Prepayment")" />
                </MudSelect>
                }
                @if (nbusiness == "Renter")
                {
                    <MudSelect ReadOnly="IsReadOnly" Label="NatureOfBusiness" @bind-Value="model.NatureOfTransaction" T="string" SelectedValuesChanged="nTransactionchanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Deposit")" />
                    <MudSelectItem Value="@("Rent")" />
                    <MudSelectItem Value="@("Other")" />
                </MudSelect>
                }

               
            </MudItem>

            @if (Isbill)
            {

                <MudItem xs="12" md="2">
                    <MudButton @onclick="OpenOtstandingBills" Variant="Variant.Filled" Color="Color.Primary">Search</MudButton>
                </MudItem>
            }

        </MudGrid>
       
    @*</MudContainer>
</MudPaper>*@
<br />

<MudPaper Class="@value">
    <MudContainer>
        <MudGrid>
            @if (Isbill)
            {
                <MudItem xs="12">
                    <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                        <thead>
                            <tr>
                                <th>Invoice info</th>
                                <th>Accounting Info</th>
                                <th>Branch</th>
                                <th>ReceiptAmount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in billsReceipt)
                            {
                                <tr>
                                    <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                    <td>@item.DocNumber - @item.DocDate?.ToShortDateString()</td>
                                    <td>@item.BranchName</td>
                                    <td> <MudTextField T="decimal?" @bind-Value="item.ReceiptAmount" TextChanged="calcTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>

                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:@model.TotalAmount</td>
                            </tr>


                        </tbody>
                    </MudSimpleTable>
                </MudItem>
            }
            <MudItem xs="12" md="12">
                @* <MudSelect Label="Select ReceiptType" @bind-Value="model.ReceiptType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                <MudSelectItem Value="@("Advance")" />
                <MudSelectItem Value="@("Deposit")" />
                <MudSelectItem Value="@("Settlement")" />
                </MudSelect>
                </MudItem>
                <MudItem xs="12" md="3">
                <MudSelect Label="Select ReceiptMode" @bind-Value="model.ReceiptMode" TextChanged="ReceiptModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                <MudSelectItem Value="@("Cash")" />
                <MudSelectItem Value="@("Bank")" />

                </MudSelect>
                </MudItem>
                <MudItem xs="12" md="3">
                <MudSelect Label="Select ReceiptTool" ReadOnly="@readvalue" TextChanged="ReceiptToolChange" @bind-Valu="model.ReceiptTool" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                @foreach (var item in data.BankTools)
                {
                <MudSelectItem Value="@item">@item</MudSelectItem>
                }

                </MudSelect>*@

                <PaymentCodeSelector @bind-Value="accountRuleDefinitionModel" LabelName="Select Accounts"></PaymentCodeSelector>


            </MudItem>
            <MudItem xs="12" md="4">

                <MudDatePicker ReadOnly="IsReadOnly" Label="Effective Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EffectiveDate" DateFormat="dd/MM/yyyy" />


            </MudItem>
            <MudItem xs="12" md="4">

                <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>

            </MudItem>
            @if (!Isbill)
            {
                <MudItem xs="12" md="4">

                    <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                </MudItem>
            }
            <MudItem xs="12" md="3">

                <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


            </MudItem>
            <MudItem xs="12" md="3">

                <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    @foreach (var ditem in costCenter)
                    {
                        <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
            <MudItem xs="12" md="3">

                <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    @foreach (var ditem in dimension)
                    {
                        <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
            <MudItem xs="12" md="3">
                <MudCheckBox  @bind-Checked="@Basic_CheckBox2" ReadOnly="@checkread" Label="IsRealized" @bind-Value="model.IsRealized" Color="Color.Primary"></MudCheckBox>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

            </MudItem>
            <MudItem xs="12">
                  @if ((IsReadOnly) && (!IsView))
                        {
                            <AutherizationStatusComponent DocTypeID="14" DocumentID="model.ReceiptID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                        }
            </MudItem>
           
        </MudGrid>
    </MudContainer>
</MudPaper>
 </MudContainer>
</DialogContent>
<DialogActions>
       @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>

                 <MudButton @onclick="CreateReceipt" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
       }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
</DialogActions>
</MudDialog>
@code {
    [Parameter]
    public ReceiptModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<OutstandingPaymentModel> collection = new List<OutstandingPaymentModel>();
    public string value = "invisible";
    public bool readvalue = true;
    public string nbusiness = "Supplier";
    public bool checkread = false;
    public string status = null;
    private bool Isbill = false;
    ProformaInvoiceModel pmodel = new();
    private AccountRuleDefinitionModel accountRuleDefinitionModel = new();
    public bool Basic_CheckBox2 { get; set; } = false;
    private HashSet<OutstandingPaymentModel> selectedItems1 = new HashSet<OutstandingPaymentModel>();
    private List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
    private List<BillsReceiptModel> billsReceipt = new List<BillsReceiptModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<string> NatureOfBusiness = new List<string>() { "Supplier", "Customer", "Renter" };
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override void OnInitialized()
    {
        if(model.ReceiptID!=null)
        {
            nbusiness = model.ReceiptType;
            model.Bills = Iservice.GetBills(model.ReceiptID).ToList();
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            value = "visible";
            Isbill = true;
        }
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        // GetOutstandingBill();
    }
    private void nbusinesschanged()
    {
        StateHasChanged();
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private void nTransactionchanged()
    {
        if (model.NatureOfTransaction == "Payable")
        {
            value = "visible";
            Isbill = true;
        }
        else if (model.NatureOfTransaction == "Receivable")
        {
            value = "visible";
            Isbill = true;
        }
        else
        {
            value = "visible";
            Isbill = false;
        }
    }
    public void ReceiptToolChange()
    {
        if (model.ReceiptTool == "Cheque")
        {
            checkread = true;
        }
        else
        {

            Basic_CheckBox2 = false;
            checkread = false;
        }
    }
    private void calcTotalAmt()
    {
        model.TotalAmount = 0;
        foreach (var item in billsReceipt)
        {
            model.TotalAmount = model.TotalAmount + item.ReceiptAmount;
        }
    }
    public void ReceiptModeChange()
    {
        if (model.ReceiptMode == "Cash")
        {
            readvalue = false;
        }
        else
        {
            readvalue = true;
        }
    }

    private async Task OpenOtstandingBills()
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {

            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            //  List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            //SelectedItems=result.Data;
            // GetAll();
            if (SelectedItems != null)
            {
                value = "visible";
                foreach (var item in SelectedItems)
                {
                    BillsReceiptModel bpm = new BillsReceiptModel();
                    //bpm.BoID = item.BoID;
                    //bpm.BranchName = item.BranchName;
                    //bpm.DocDate = item.DocDate;
                    //bpm.BranchID = item.BranchID;
                    //bpm.DocNumber = item.DocNumber;
                    //bpm.InvoiceDate = item.InvoiceDate;
                    //bpm.InvoiceNumber = item.InvoiceNumber;
                    //bpm.ReceiptAmount = 0;
                    //billsReceipt.Add(bpm);
                }

            }


        }

    }


    public async Task CreateReceipt()
    {
        model.ReceiptCoaID = Convert.ToInt32(configuration.GetSection("Data")["DefaultCashCoa"]);



        model.Bills = billsReceipt;
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        var user = authprov.User;
        model.ReceiptMode = accountRuleDefinitionModel.paymentMode;
        model.ReceiptCoaID = accountRuleDefinitionModel.CoaID;
        model.ReceiptArdCode = accountRuleDefinitionModel.ArdCode;
        model.ReceiptTool = accountRuleDefinitionModel.BankTools;
        model.BankCharges = accountRuleDefinitionModel.BankCharges;
        if (nbusiness == "Supplier")
        {
            if (model.NatureOfTransaction=="Deposit")
            {
                model.PartyCoaID = partyIservice.GetVendorDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Payable")
            {
                model.PartyCoaID = partyIservice.GetVendorPayableCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Prepayment")
            {
                model.PartyCoaID = partyIservice.GetVendorPrepaymentCoaID(model.PartyInfo.PartyID);
            }

        }
        if (nbusiness == "Customer")
        {
            if (model.NatureOfTransaction=="Receivable")
            {
                model.PartyCoaID = partyIservice.GetCustomerReceivableCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Deposit")
            {
                model.PartyCoaID = partyIservice.GetCustomerDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Prepayment")
            {
                model.PartyCoaID = partyIservice.GetCustomerPrepaymentCoaID(model.PartyInfo.PartyID);
            }
        }
        if (nbusiness == "Renter")
        {

            if (model.NatureOfTransaction=="Rent")
            {
                model.PartyCoaID = partyIservice.GetRenterRentCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Deposit")
            {
                model.PartyCoaID = partyIservice.GetRenterDepositCoaID(model.PartyInfo.PartyID);
            }
            if (model.NatureOfTransaction=="Other")
            {
                model.PartyCoaID = partyIservice.GetRenterOtherCoaID(model.PartyInfo.PartyID);
            }
        }
        model.ReceiptType = nbusiness;
        model.UserInfo.UserID = user.Identity.Name;
        model.BranchID = brancID;
        Iservice.Update(model);
        snackbar.Add("Saved Successfully", Severity.Success);
        MudDialog.Close();
    }

     protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            Iservice.Approve(model.ReceiptID, model.UserInfo.UserID);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }

}
