@inject ISaleService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject IGstItemService gstitemIservice
@inject ICostCenterService costIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IDimensionService dimensionIservice
@inject IGstUsageIDService usageIservice
@inject IInventoryGrnService grnIservice
@inject IBranchService branchIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Sales
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="2">
                        <MudCheckBox @bind-Checked="model.IsCredit" Color="Color.Primary" For="@(() => model.IsCredit)">IsCredit</MudCheckBox>
                        @* <MudSwitch @bind-Checked="customstr" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())" > @(customstr)</MudSwitch>
                        *@

                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Customer"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>

                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.AdditionalTCS" Label="Additional TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalTCS)"></MudTextField>

                    </MudItem>






                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>Particulars</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>

                                <tr>

                                    @*  <th>Branch</th>*@
                                    <th width="200px">UsageCode</th>

                                    <th>Amount</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                    <th>TDS</th>
                                    <th>Bill</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in saleExpensesList)
                                {
                                    <tr>

                                        @*  <td>@item.BranchID</td>*@
                                        <td>@item.UsageCode</td>

                                        <td>@item.Amount</td>
                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TCS</td>
                                        <td>@item.BillReference</td>
                                        <td>

                                            <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />

                                        </td>

                                    </tr>
                                }

                                <tr>

                                    <td colspan="3">
                                        @* <MudSelect Label="Items" Value="SelectedItems" T="GstUsageCodeModel" ValueChanged="UsageChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e?.UsageCode)" >
                                        @foreach (var ditem in usageID)
                                        {
                                        <MudSelectItem Value="@ditem">@ditem.UsageCode</MudSelectItem>
                                        }
                                        </MudSelect>*@
                                        <UsageCodeSelector @bind-Value=gstusge></UsageCodeSelector>
                                    </td>

                                    <td colspan="2">
                                        <MudTextField Label="Amount" @bind-Value="saleExpense.Amount" TextChanged="taxRates" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.Amount)"></MudTextField>

                                    </td>
                                    <td>
                                        <MudTextField Label="SGST" @bind-Value="saleExpense.SGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.SGST)"></MudTextField>
                                    </td>

                                    <td>
                                        <MudTextField Label="CGST" @bind-Value="saleExpense.CGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.CGST)"></MudTextField>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <MudTextField Label="IGST" @bind-Value="saleExpense.IGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.IGST)"></MudTextField>

                                    </td>
                                    <td>
                                        <MudTextField Label="TDS" @bind-Value="saleExpense.TCS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.TCS)"></MudTextField>

                                    </td>
                                    <td colspan="4">
                                        <MudTextField Label="Bill Reference" @bind-Value="saleExpense.BillReference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleExpense.BillReference)"></MudTextField>

                                    </td>
                                    <td>

                                        <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                    </td>
                                </tr>

                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    <MudItem xs="12" md="12">
                        <h6>Sale Item</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                         <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                        <thead>

                        <tr>


                        <th width="200px">ItemID</th>
                        <th>ItemRate</th>
                        <th>ItemQty</th>

                        <th>Amount</th>
                        <th>SGST</th>
                        <th>CGST</th>
                        <th>IGST</th>
                        <th>TCS</th>

                        <th></th>


                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in saleItemsList)
                        {
                        <tr>


                        <td style="width:200px">@(itm.First(x=> x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                        <td>@item.ItemRate</td>
                        <td>@item.ItemQty</td>

                        <td>@item.Amount</td>
                        <td>@item.SGST</td>
                        <td>@item.CGST</td>
                        <td>@item.IGST</td>
                        <td>@item.TCS</td>

                        <td>


                        <MudFab Color="Color.Error" @onclick="@(()=> DeleteItem(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />

                        </td>

                        </tr>
                        }

                        <tr>

                        <td colspan="2">
                        <MudAutocomplete T="InventoryItemModel"  ValueChanged="getitemCode" Value="SelectedPurchaseItems" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Items" ResetValueOnEmptyText="true"
                        SearchFunc="@SearchItems" ToStringFunc="@(e => e==null?string.Empty:e?.InventoryItemCode)"></MudAutocomplete>

                        </td>
                        <td colspan="2">
                        <MudTextField Label="Item Rate" @bind-Value="saleItem.ItemRate" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.ItemRate)"></MudTextField>

                        </td>
                        <td colspan="2">
                        <MudTextField Label="Quantity" @bind-Value="saleItem.ItemQty" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.ItemQty)"></MudTextField>

                        </td>

                        <td colspan="2">
                        <MudTextField Label="Amount" @bind-Value="saleItem.Amount" ReadOnly="true" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.Amount)"></MudTextField>

                        </td></tr><tr>
                        <td>
                        <MudTextField Label="SGST" @bind-Value="saleItem.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.SGST)"></MudTextField>
                        </td>
                        <td colspan="2">
                        <MudTextField Label="CGST" @bind-Value="saleItem.CGST"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.CGST)"></MudTextField>

                        </td>
                        <td colspan="2">
                        <MudTextField Label="IGST" @bind-Value="saleItem.IGST"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.IGST)"></MudTextField>

                        </td>
                        <td colspan="2">
                        <MudTextField Label="TDS" @bind-Value="saleItem.TCS"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => saleItem.TCS)"></MudTextField>

                        </td>

                        <td>

                        <MudFab OnClick="AddSaleItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                        </td>
                        </tr>

                        </tbody>
                        </MudSimpleTable>
                    </MudItem>

                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @* @if(model.ApprovedInfo.RecordStatus!=3 && model.ApprovedInfo.RecordStatus!=1)*@
        <b>Total:@model.TotalAmount</b>
        


        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>

    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public SaleModel model { get; set; }
    private List<SaleExpenseModel> saleExpensesList = new List<SaleExpenseModel>();
    private List<SaleItemModel> saleItemsList = new List<SaleItemModel>();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<InventoryItemModel> itm = new();
    public GstUsageCodeModel gstusge = new();
    private static int branchID;
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private SaleExpenseModel saleExpense = new SaleExpenseModel();
    private SaleItemModel saleItem = new SaleItemModel();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private async Task taxRates()
    {
        if (gstusge.UsageCode != null)
        {
            if (model.PartyInfo == null)
            {
                snackbar.Add("select party", Severity.Success);
                return;
            }

            decimal? taxRate = (decimal)usageIservice.GetGstRate(gstusge.UsageCode, DateTime.Now);
            decimal? tdsRate = 0;
            try{
                tdsRate = (decimal)tdsIService.GetTdsRate(model.PartyInfo.PartyID.Value, gstusge.CoaID.Value).Value;
            }
            catch(Exception ex)
            {
                tdsRate = 0;
            }

            BranchModel br = branchIservice.SelectByID(branchID);
            string partyGstNo=null;
            if (model.PartyInfo.GstNo != null)
            {
                partyGstNo = (model.PartyInfo.GstNo).Substring(0, 2);
            }

            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                saleExpense.IGST = (saleExpense.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                saleExpense.SGST = (saleExpense.Amount * taxRate) / 100;
                saleExpense.CGST = (saleExpense.Amount * taxRate) / 100;
            }



            saleExpense.TCS = (saleExpense.Amount * tdsRate) / 100;

        }
        else
        {
            snackbar.Add("Select UsageCode", Severity.Warning);
            return;
        }

    }
    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        branchID = int.Parse(brancIDString);
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        model.TotalAmount = 0;
         model.NatureOfTransaction = "Sale";
        model.BranchID = branchID;
    }

    private void getitemCode(InventoryItemModel item)
    {
        SelectedPurchaseItems = item;


        if (item != null)
        {
            saleItem.ItemID = item.InventoryItemID;
            InventoryGroupModel igm = inventoryGroupIservice.SelectByID(item.InventoryGroupID);

            saleItem.CoaID = igm.MappedPurchaseHead;



        }
        else
        {
            saleItem.ItemID = null;
        }

    }

    private async Task<IEnumerable<InventoryItemModel>> SearchItems(string searchString)
    {
        return await Task.FromResult(itm.Where(x => x.InventoryItemCode.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    public void AddItems()
    {
        //TaxPurchaseExpenseModel ientry = new();
        saleExpense.BranchID = branchID;
        saleExpense.UsageCode = gstusge.UsageCode;
        saleExpense.CoaID = gstusge.CoaID;


        saleExpensesList.Add(saleExpense);

        decimal tvalue = 0;
        if (saleExpense.IGST == null)
        {
            tvalue = saleExpense.SGST.Value + saleExpense.CGST.Value;
        }
        else
        {
            tvalue = saleExpense.IGST.Value;
        }

        model.TotalAmount = model.TotalAmount + saleExpense.Amount +
                               tvalue;

        saleExpense = new();
        //SelectedItems = new();
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task OnValidSubmit(EditContext context)
    {

        model.Particulars=saleExpensesList;  
        model.Items=saleItemsList;  
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
       
        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);
            model = new();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        MudDialog.Close();
    }

    private void DeleteExpenses(SaleExpenseModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TCS.Value);
        decimal total = i.Amount.Value + gstrate;

        model.TotalAmount = model.TotalAmount - total;
        int rowIndex = saleExpensesList.IndexOf(i);
        saleExpensesList.RemoveAt(rowIndex);
    }

    private async Task calcAmount()
    {

        if(model.PartyInfo==null)
        {
            snackbar.Add("select party", Severity.Success);
            return;
        }
        if(saleItem.ItemQty==null)
        {
            saleItem.ItemQty = 0;
        }
        if(saleItem.ItemRate==null)
        {
            saleItem.ItemRate = 0;
        }
        saleItem.Amount = saleItem.ItemQty * saleItem.ItemRate;
        if( saleItem.Amount!=0) 
        {

            GstItemModel gstItem =gstitemIservice.SelectByItem(saleItem.ItemID.Value,DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            decimal? tdsRate =(decimal)tdsIService.GetTdsRate(model.PartyInfo.PartyID.Value,saleItem.CoaID.Value);


            BranchModel br = branchIservice.SelectByID(branchID);
            string partyGstNo = null;
            if(model.PartyInfo.GstNo!=null)
            {
                 partyGstNo= (model.PartyInfo.GstNo).Substring(0,2);
            }

           
            string branchGstNo = (br.GstNo).Substring(0,2);

            if(partyGstNo==branchGstNo)
            {

                saleItem.IGST = (saleItem.Amount * taxRate)/100;

            }
            else
            {
                taxRate = taxRate / 2;
                saleItem.SGST =  (saleItem.Amount * taxRate)/100;
                saleItem.CGST =  (saleItem.Amount * taxRate)/100;

            }

            saleItem.TCS=(saleItem.Amount * tdsRate)/100;

        }


    }
     private void DeleteItem(SaleItemModel i)
    {
        decimal gstrate = 0;
        if(i.IGST==null)
        {
            i.IGST = 0;
        }
         if(i.SGST==null)
        {
            i.SGST = 0;
        }
         if(i.CGST==null)
        {
            i.CGST = 0;
        }
       
        gstrate = (i.CGST.Value)+(i.SGST.Value)+(i.IGST.Value)+(i.TCS.Value);
    

    decimal total = i.Amount.Value+gstrate;

    model.TotalAmount = model.TotalAmount - total;
    
    int rowIndex = saleItemsList.IndexOf(i);
    saleItemsList.RemoveAt(rowIndex);
    }

    public void AddSaleItems()
    {

        saleItemsList.Add(saleItem);
        decimal tvalue = 0;
        try
        {
            if (saleItem.IGST == null)
            {
                tvalue = saleItem.SGST.Value + saleItem.CGST.Value;
            }
            else
            {
                tvalue = saleItem.IGST.Value;
            }
        }
        catch (Exception ex)
        { }
        model.TotalAmount = model.TotalAmount + saleItem.Amount +
                               tvalue;
        saleItem = new();
        // itm = new();
    }   
}
