@inject ISundryReceiptService Iservice
@using System.Threading;
@using ArmsModels.BaseModels.Finance.Transactions

@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService


<style>
    .zero-width {
        width: 0;
    }
</style>

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Receipt" formID="sundryReceiptForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryReceiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode" HideBankCharges HideTool @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayerName" Label="Payer Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerName)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudNumericField ReadOnly="ReadOnly" MaxLength="10" HideSpinButtons @bind-Value="model.PayerContactNo" Label="Payer Contact No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerContactNo)"></MudNumericField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                            <div style="width: 1600px;" class="pb-3">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="3"><span class="HeadText"><b>Account Name</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Cost Center</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Dimension</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Amount</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Reference</b></span></MudItem>
                                    <MudItem xs="1"></MudItem>
                                    @foreach (var item in model.Entries)
                                    {
                                        <MudItem xs="3">@string.Format("{0} | {1}", item.UsageCode, item.UsageCodeDescription)</MudItem>
                                        <MudItem xs="2">@item.CostCenterVal</MudItem>
                                        <MudItem xs="2">@item.DimensionVal</MudItem>
                                        <MudItem xs="2">@item.Amount</MudItem>
                                        <MudItem xs="2">@item.Reference</MudItem>
                                        <MudItem xs="1"></MudItem>
                                    }
                                    @if (!ReadOnly)
                                    {
                                        <MudItem xs="3">
                                            <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <CostCenterSelector @bind-Value="spe.CostCenter" @bind-ValueText="@spe.CostCenterVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <DimensionSelector @bind-Value="spe.Dimension" @bind-ValueText="@spe.DimensionVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudNumericField HideSpinButtons @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                         </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="1" Class="d-flex align-center">
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </div>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@SundryReceiptDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.SundryReceiptID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public SundryReceiptModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private EditContext editContext;
    DialogForm dialogForm;
    private SundryReceiptEntryModel spe = new SundryReceiptEntryModel();
    private int? branchID = null;
    private string UserID = null;
    public GstUsageCodeModel gstusge = new();

    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private bool _busy;


    public DocumentInfoModel DocumentDetails { get; set; } = new();


    public bool HasPermissionSundryReceiptServiceEdit { get; set; } = false;
    public bool HasPermissionSundryReceiptServiceApprove { get; set; } = false;
    int SundryReceiptDocTypeID = 12;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionSundryReceiptServiceEdit = await Irole.HasClaim(SundryReceiptDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionSundryReceiptServiceApprove = await Irole.HasClaim(SundryReceiptDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        if (model.SundryReceiptID == null)
        {
            model.NatureOfTransaction = "Sundry Receipt";
            model.BranchID = branchID;
        }
        else
        {
            model.Entries = Iservice.GetEntries(model.SundryReceiptID).ToList();
        }

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
        DocumentDetails.DocumentTypeID = SundryReceiptDocTypeID;
        DocumentDetails.DocumentID = model.SundryReceiptID;
    }

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode; 
        spe.UsageCodeDescription = uc?.Description;
        spe.CoaID = uc?.CoaID;
    }

    public void AddItems()
    {
        spe.BranchID = branchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            model.TotalAmount = model.Entries.Sum(x => x.Amount);
            spe = new();
            gstusge = null;
        }
    }


    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionSundryReceiptServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                try
                {
                    model.UserInfo.UserID = UserID;
                    Iservice.Approve(model.SundryReceiptID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve SundryReceipt.");
        }
    }

    public async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionSundryReceiptServiceEdit)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Update(model);
                model = new();
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
            dialogForm.Close(model);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit SundryReceipt.");
        }
        await Task.Delay(200);
        _busy = false;
    }
}