@inherits DialogFormComponentBase<SundryPaymentModel>
@inject ISundryPaymentService Iservice
@inject IChartOfAccountService Icoa
@inject ITripAdvanceService Iadvance

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Payment" formID="sundryPaymentForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    @if (model.IsInterBranch)
                    {
                        <MudItem xs="12" md="6">
                            <BranchSelector Value="@OtherBranch" ValueChanged="@OtherBranchSelected" LabelName="Target Branch Payment Made for"></BranchSelector>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudSelect Label="Select Transaction Type" ReadOnly="ReadOnly" @bind-Value="model.InterBranchTranID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in InterBranchTranTypes)
                                {
                                    <MudSelectItem Value="@ditem.ID">@ditem?.TransactionTypeName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    }
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayeeName" Label="Payee Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeName)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudNumericField HideSpinButtons MaxLength="10" ReadOnly="ReadOnly" @bind-Value="model.PayeeContactNo" Label="Payee Contact No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeContactNo)"></MudNumericField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector BranchID="@BranchID.Value" PaymentMode="@model.PaymentMode" PaymentModeChanged="OnChangePaymentMode" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.PaymentCoaID" BankCharges="@model.BankCharges" @bind-BankTool="@model.PaymentTool" BankChargesChanged="CalculateTotalAmount" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="4" md="4">
                        <MudCheckBox Label="Is Deferred Expenditure?" @bind-Value="@model.deferredExpenditure" Size="Size.Medium" Color="Color.Primary"></MudCheckBox>
                    </MudItem>
                    @if (model.deferredExpenditure)
                    {
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="Begin Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.beginDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="End Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EndDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    }
                    <MudItem xs="12">
                        <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                            <div style="width: 1600px;" class="pb-3">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="3"><span class="HeadText"><b>Account Name</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Cost Center</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Dimension</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Amount</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Reference</b></span></MudItem>
                                    <MudItem xs="1"></MudItem>
                                    @foreach (var item in model.Entries)
                                    {
                                        var rowindex = model.Entries.IndexOf(item);

                                        @if (editrow == rowindex)
                                        {
                                            <MudItem xs="3">
                                                <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                                <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                            </MudItem>
                                            <MudItem xs="2">
                                                <CostCenterSelector @bind-Value="@spe.CostCenter" @bind-ValueText="@spe.CostCenterVal" />
                                            </MudItem>
                                            <MudItem xs="2">
                                                <DimensionSelector @bind-Value="@spe.Dimension" @bind-ValueText="@spe.DimensionVal" />
                                            </MudItem>
                                            <MudItem xs="2">
                                                <MudNumericField HideSpinButtons @bind-Value="@spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                            </MudItem>
                                            <MudItem xs="2">
                                                <MudTextField @bind-Value="@spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                            </MudItem>
                                            <MudItem xs="1">
                                                <MudFab OnClick="AddParticulars" Color="Color.Tertiary" Icon="@Icons.Material.Filled.Check" Size="Size.Small" IconSize="Size.Small" />
                                            </MudItem>
                                        }
                                        else
                                        {
                                            <MudItem xs="3">@string.Format("{0} | {1}", item.UsageCode, item.UsageCodeDescription)</MudItem>
                                            <MudItem xs="2">@item.CostCenterVal</MudItem>
                                            <MudItem xs="2">@item.DimensionVal</MudItem>
                                            <MudItem xs="2">@item.Amount</MudItem>
                                            <MudItem xs="2">@item.Reference</MudItem>
                                            <MudItem xs="1"><MudFab OnClick="@(() => EditEntry(rowindex))" Color="Color.Error" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" /></MudItem>
                                        }
                                    }
                                    @if (!ReadOnly && editrow < 0)
                                    {
                                        <MudItem xs="3">
                                            <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <CostCenterSelector @bind-Value="spe.CostCenter" @bind-ValueText="@spe.CostCenterVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <DimensionSelector @bind-Value="spe.Dimension" @bind-ValueText="@spe.DimensionVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudNumericField HideSpinButtons @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="1" Class="d-flex align-center">
                                            <MudFab OnClick="AddParticulars" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </div>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocumentID="model.SundryPaymentID" OnReject="OnReject" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override SundryPaymentModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.SundryPaymentID; } }
    private SundryPaymentModel _model;
    private TripAdvanceModel advanceModel;
    public bool entryedit = true;

    [Parameter]
    public bool DisableAddition { get; set; } = false;

    private SundryPaymentEntryModel spe = new SundryPaymentEntryModel();
    private GstUsageCodeModel gstusge = new();

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 11,
            DocumentName = "SundryPayment"
        };


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (model.NatureOfTransaction == null)
        {
            model.NatureOfTransaction = "Sundry Payment";
            model.TotalAmount = 0;
        }
        else if (model.SundryPaymentID != null && model.Entries.Count == 0)
        {
            // Load entries if the model has a valid ID and no entries
            model.Entries = Iservice.GetEntries(model.SundryPaymentID).ToList();
        }
        model.TotalAmount = model.Entries.Sum(x => x.Amount);
    }

    private int editrow = -1;

    // Method to edit a specific entry
    public void EditEntry(int a)
    {
        editrow = a;
        gstusge = new()
            {
                UsageCode = model.Entries[editrow].UsageCode,
                CoaID = model.Entries[editrow].CoaID,
                Description = model.Entries[editrow].UsageCodeDescription
            };
        spe = (SundryPaymentEntryModel)model.Entries[editrow].Clone();
    }

    // Method to handle changes in the GST usage code
    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.UsageCodeDescription = uc?.Description;
        spe.CoaID = uc?.CoaID;
    }

    // Method to approve the sundry payment
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        // Call the service to approve the payment and return the result
        int result = Iservice.Approve(model.SundryPaymentID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    // Method to handle rejection of the payment
    protected void OnReject()
    {
        // Cancel the advance associated with the paymentc
        advanceModel = Iadvance.Cancel(DocInfo.DocumentTypeID, DocInfo.DocumentID);
        if (advanceModel.TripAdvanceID != null)
        {
            snackbar.Add("Advance Removed", Severity.Warning);
        }
    }

    // Method to add particulars to the payment entry
    public void AddParticulars()
    {
        spe.BranchID = BranchID;
        if (dialogForm.validate(spe, editContext))
        {
            if (editrow > -1)
            {
                model.Entries[editrow] = (SundryPaymentEntryModel)spe.Clone();
                editrow = -1;
            }
            else
            {
                model.Entries.Add(spe);
            }
            CalculateTotalAmount(model.BankCharges);
            spe = new();
            gstusge = null;
        }
    }

    // Method to calculate the total amount based on bank charges
    public void CalculateTotalAmount(decimal? val)
    {
        model.BankCharges = val;
        model.TotalAmount = model.Entries.Sum(x => x.Amount);
        if (model.PaymentMode != null)
        {
            if (model.PaymentMode.ToLower().Trim() == ("Bank").ToLower().Trim())
            {
                model.TotalAmount += model?.BankCharges ?? 0;
            }
        }
        else
        {
            snackbar.Add("PaymentMode is not selected !", Severity.Warning);
        }
    }

    // Method to handle changes in the payment mode
    public void OnChangePaymentMode(string? val)
    {
        model.PaymentMode = val;
        CalculateTotalAmount(model.BankCharges);
    }

    // Asynchronous method to update the SundryPaymentModel
    protected override async Task<int> Update(SundryPaymentModel editModel)
    {
        // Get the available balance for the branch
        var balance = Icoa.GetBalance(BranchID, 0, model.PaymentArdCode, null, DateTime.Today);
        if (model.TotalAmount > balance && model.PaymentMode != "Bank")
        {
            snackbar.Add(string.Format("insufficient balance! Only Rs {0} Available", balance), Severity.Warning);
            return 0;
        }
        if (model.OtherBranchID is not null && model.OtherBranchID != BranchID)
        {
            model.IsInterBranch = true;
            model.Entries.ForEach(x => x.BranchID = model.OtherBranchID);
        }
        if (model.PaymentMode == "Cash" && model.TotalAmount > 10000)
        {
            snackbar.Add("Cash Payment above 10000 is Restricted!", Severity.Warning);
        }

        // Call the service to update the model
        var UpdatedModel = Iservice.Update(model);
        model.SundryPaymentID = UpdatedModel.SundryPaymentID;
        return model.SundryPaymentID.Value;
    }
}