@inject ISundryReceiptService Iservice
@inherits DialogFormComponentBase<SundryReceiptModel>


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Receipt" formID="sundryReceiptForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryReceiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    @if (model.IsInterBranch)
                    {
                        <MudItem xs="12" md="6">
                            <BranchSelector Value="@OtherBranch" ValueChanged="@OtherBranchSelected" LabelName="Target Branch Payment Made for"></BranchSelector>
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudSelect Label="Select Transaction Type" ReadOnly="ReadOnly" @bind-Value="model.InterBranchTranID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in InterBranchTranTypes)
                                {
                                    <MudSelectItem Value="@ditem.ID">@ditem?.TransactionTypeName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector BranchID="@BranchID.Value" @bind-PaymentMode="@model.ReceiptMode" HideBankCharges HideTool @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayerName" Label="Payer Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerName)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudNumericField ReadOnly="ReadOnly" MaxLength="10" HideSpinButtons @bind-Value="model.PayerContactNo" Label="Payer Contact No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerContactNo)"></MudNumericField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                            <div style="width: 1600px;" class="pb-3">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="3"><span class="HeadText"><b>Account Name</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Cost Center</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Dimension</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Amount</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Reference</b></span></MudItem>
                                    <MudItem xs="1"></MudItem>
                                    @foreach (var item in model.Entries)
                                    {
                                        <MudItem xs="3">@string.Format("{0} | {1}", item.UsageCode, item.UsageCodeDescription)</MudItem>
                                        <MudItem xs="2">@item.CostCenterVal</MudItem>
                                        <MudItem xs="2">@item.DimensionVal</MudItem>
                                        <MudItem xs="2">
                                            @if (DisableAddition)
                                            {
                                                <MudNumericField HideSpinButtons Value="@item.Amount" T="decimal?" ValueChanged="@((e) =>  AmountChanged(e,item))" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.Amount)"></MudNumericField>
                                            }
                                            else
                                            {
                                                @item.Amount
                                            }
                                        </MudItem>
                                        <MudItem xs="2">@item.Reference</MudItem>
                                        <MudItem xs="1"></MudItem>
                                    }
                                    @if (!ReadOnly && !DisableAddition)
                                    {
                                        <MudItem xs="3">
                                            <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <CostCenterSelector @bind-Value="spe.CostCenter" @bind-ValueText="@spe.CostCenterVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <DimensionSelector @bind-Value="spe.Dimension" @bind-ValueText="@spe.DimensionVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudNumericField HideSpinButtons @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="1" Class="d-flex align-center">
                                            <MudFab OnClick="AddParticulars" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </div>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocumentID="model.SundryReceiptID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override SundryReceiptModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.SundryReceiptID; } }
    private SundryReceiptModel _model;

    [Parameter]
    public bool DisableAddition { get; set; } = false;

    private SundryReceiptEntryModel spe = new SundryReceiptEntryModel();
    private GstUsageCodeModel gstusge = new();
    //public stringBranchIDer { get; set; }

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 12,
            DocumentName = "SundryReceipt"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (model.SundryReceiptID == null)
        {
            model.NatureOfTransaction = "Sundry Receipt";
        }
        else
        {
            // Load entries if the model has a valid ID
            model.Entries = Iservice.GetEntries(model.SundryReceiptID).ToList();
        }
    }

    // Method to handle changes in the amount for a specific entry
    void AmountChanged(decimal? e, SundryReceiptEntryModel sr)
    {
        sr.Amount = e;
        model.TotalAmount = model.Entries.Sum(x => x.Amount);
    }

    // Method to handle changes in the GST usage code
    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.UsageCodeDescription = uc?.Description;
        spe.CoaID = uc?.CoaID;
    }

    // Method to add particulars to the receipt entry
    public void AddParticulars()
    {
        spe.BranchID = BranchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            model.TotalAmount = model.Entries.Sum(x => x.Amount);
            spe = new();
            gstusge = null;
        }
    }

    // Method to approve the sundry receipt
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        // Call the service to approve the receipt and return the result
        int result = Iservice.Approve(model.SundryReceiptID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    // Asynchronous method to update the SundryReceiptModel
    protected override async Task<int> Update(SundryReceiptModel editModel)
    {
        if (model.OtherBranchID is not null && model.OtherBranchID != BranchID)
        {
            model.IsInterBranch = true;
            model.Entries.ForEach(x => x.BranchID = model.OtherBranchID);
        }

        // Call the service to update the model
        model = Iservice.Update(model);
        return model.SundryReceiptID.Value;
    }

}

