@attribute [Authorize]
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth

@inject ISundryPaymentService Iservice

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Payment"  formID="sundryPaymentForm" model="@model" >
    <FormContent>
         <MudPaper Class="p-3" >
        <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudDatePicker ReadOnly="ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayeeName" Label="PayeeName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeName)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayeeContactNo" Label="PayeeContactNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeContactNo)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="12">
                    <PaymentAccountSelector @bind-PaymentMode="@model.PaymentMode"
                                            @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.PaymentCoaID"
                                            @bind-BankCharges="@model.BankCharges" @bind-BankTool="@model.PaymentTool" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                </MudItem>
                <MudItem xs="4" md="4">
                    <MudCheckBox Label="Is DeferredExpenditure?" @bind-Checked="@model.deferredExpenditure" Size="Size.Medium" Color="Color.Primary"></MudCheckBox>
                </MudItem>
                @if (model.deferredExpenditure)
                {
                    <MudItem xs="4" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Begin Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.beginDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="4" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="End Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EndDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                }
                <MudItem xs="12">
                    <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                        <thead>
                            <tr>
                                <th>UsageCode</th>
                                <th>Amount</th>
                                <th>Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in model.Entries)
                            {
                                <tr>
                                    <td>@item.UsageCode</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Reference</td>
                                    <td></td>
                                </tr>
                            }
                            @if (!ReadOnly)
                            {
                                <tr>
                                    <td>
                                        <UsageCodeSelector Value=gstusge ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                        <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                    </td>
                                    <td>
                                        <MudTextField @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudTextField>

                                    </td>
                                    <td>
                                        <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                    </td>
                                    <td>
                                        <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudItem>
            </MudGrid>
        </EditForm>       
    </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocumentID="model.SundryPaymentID" OnApprove="ApproveEntry"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public SundryPaymentModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }

    private SundryPaymentEntryModel spe { get; set; } = new();
    private GstUsageCodeModel gstusge = new();

    private int? branchID = null;
    private string UserID = null;

    private EditContext editContext;

    DialogForm dialogForm;
    int DocTypeID =11;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;

        if (model == null)
        {
            model = new()
                {
                    BranchID = branchID,
                    UserInfo = new() { UserID = UserID, },
                    NatureOfTransaction = "Sundry Payment",
                    TotalAmount = 0,
                };
        }
        else
        {
            model.Entries = Iservice.GetEntries(model.SundryPaymentID).ToList();
        }
    }


    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
        // editContext.OnValidationRequested += OnValidationRequestedAsync;
    }

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.CoaID = uc?.CoaID;
    }

    protected void ApproveEntry(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Approve(model.SundryPaymentID, model.UserInfo.UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    public void AddItems()
    {
        spe.BranchID = branchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            model.TotalAmount = model.Entries.Sum(x => x.Amount) + model.BankCharges??0;
            spe = new();
        }
    }

    public void OnValidSubmit(EditContext context)
    {
        try
        {
            model = Iservice.Update(model);
            snackbar.Add("Saved Successfully", Severity.Success);
            dialogForm.Close(model);

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
