@inject ISundryReceiptService Iservice
@using Microsoft.Extensions.Configuration
@using ArmsModels.BaseModels.Finance.Transactions
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject IConfiguration configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent>
        <h3>Sundry Receipt</h3>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>

    <DialogContent>


        <MudPaper>
            <MudContainer Style="max-height: 450px; overflow-y: scroll">
                <MudGrid>

                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode"
                                                @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID"
                                                 />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.PayerName" Label="PayerName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerName)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.PayerContactNo" Label="PayerContactNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerContactNo)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12" md="4">

                        <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                <tr>




                                    <th>AccountName</th>
                                    <th>Amount</th>
                                    <th>Reference</th>





                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Entries)
                                {
                                    <tr>



                                        <td>@item.UsageCode</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Rederence</td>
                                        <td></td>



                                    </tr>
                                }
                                @if (!IsReadOnly)
                                {
                                    <tr>
                                        <td>
                                            <UsageCodeSelector @bind-Value=gstusge></UsageCodeSelector>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Rederence" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Rederence)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    @if ((IsReadOnly) && (!IsView))

                    {

                        <MudItem xs="12" md="12">
                            <AutherizationStatusComponent DocTypeID="12" DocumentID="model.SundryReceiptID" OnApprove="IsApproveData"></AutherizationStatusComponent>
                        </MudItem>

                    }



                </MudGrid>
            </MudContainer>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <h6>Total:@model.TotalAmount</h6>
        @if (!IsReadOnly)
        {
            <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>

            <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>


</MudDialog>

@code {
    [Parameter]
    public SundryReceiptModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private SundryReceiptEntryModel spe = new SundryReceiptEntryModel();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private int? branchID = null;
    private string UserID = null;
    public GstUsageCodeModel gstusge = new();

    private PaymentCodeModel accountRuleDefinitionModel = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }


    public void statechange()
    {
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        if (model.SundryReceiptID == null)
        {
            model.TotalAmount = 0;
        }
        else
        {

            accountRuleDefinitionModel.CoaID = model.ReceiptCoaID;
            accountRuleDefinitionModel.ArdCode = model.ReceiptArdCode;
            accountRuleDefinitionModel.paymentMode = model.ReceiptMode;

            model.Entries = Iservice.GetEntries(model.SundryReceiptID).ToList();
        }

        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
    }
    public void AddItems()
    {


        spe.UsageCode = gstusge.UsageCode;
        spe.BranchID = branchID;

        model.TotalAmount = model.TotalAmount + spe.Amount;
        model.Entries.Add(spe);

        spe = new();

    }
    protected void IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {

            model.UserInfo.UserID = UserID;
            Iservice.Approve(model.SundryReceiptID, model.UserInfo.UserID, aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }

    public void CreatePaymentMemo()
    {

        model.NatureOfTransaction = "Sundry Receipt";
        model.ReceiptCoaID = accountRuleDefinitionModel.CoaID;
        model.ReceiptArdCode = accountRuleDefinitionModel.ArdCode;
        model.ReceiptMode = accountRuleDefinitionModel.paymentMode;
        model.BranchID = branchID;


        model.UserInfo.UserID = UserID;

        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);


        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        MudDialog.Close();


    }


}
