@inject ISundryReceiptService Iservice
@using Microsoft.Extensions.Configuration
@using ArmsModels.BaseModels.Finance.Transactions
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject IConfiguration configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent>
        <h3>Sundry Receipt</h3>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>

    <DialogContent>


        <MudPaper>
            <MudContainer Style="max-height: 450px; overflow-y: scroll">
                <MudGrid>
                    @* <MudItem xs="12" md="2">
                    <MudSelect Label="Mode" @bind-Value="model.ReceiptMode" SelectedValuesChanged="ModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Bank")" />
                    <MudSelectItem Value="@("Cash")" />


                    </MudSelect>
                    </MudItem>*@
                    <MudItem xs="12" md="12">
                        @*<PaymentCodeSelector @bind-Value="SelectedAccount" LabelName="SelectedAccount" CoaID="accountgroup" />*@
                        <PaymentCodeSelector @bind-Value="accountRuleDefinitionModel" LabelName="Select Accounts"></PaymentCodeSelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.PayerName" Label="PayerName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerName)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.PayerContactNo" Label="PayerContactNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerContactNo)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12" md="4">

                        <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>

                    <MudItem xs="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                <tr>




                                    <th>AccountName</th>
                                    <th>Amount</th>
                                    <th>Reference</th>





                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Entrys)
                                {
                                    <tr>



                                        <td>@item.UsageCode</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Rederence</td>
                                        <td></td>



                                    </tr>
                                }
                                @if (!IsReadOnly)
                                {
                                    <tr>
                                        <td>
                                            @*  <CoaSelector   @bind-Value="SelectedAccounts" LabelName="SelectedAccount" />*@
                                            <UsageCodeSelector @bind-Value=gstusge></UsageCodeSelector>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Rederence" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Rederence)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    @if ((IsReadOnly) && (!IsView))

                    {

                        <MudItem xs="12" md="12">
                            <AutherizationStatusComponent DocTypeID="12" DocumentID="model.SundryReceiptID" OnApprove="IsApproveData"></AutherizationStatusComponent>
                        </MudItem>

                    }



                </MudGrid>
            </MudContainer>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <h6>Total:@model.TotalAmount</h6>
        @if (!IsReadOnly)
        {
            <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>

            <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>


</MudDialog>

@code {
    [Parameter]
    public SundryReceiptModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<SundryReceiptEntryModel> Entrys = new List<SundryReceiptEntryModel>();
    private SundryReceiptEntryModel spe = new SundryReceiptEntryModel();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    public string customstr { get; set; } = "Bank";
    public int? accountgroup = 0;
    public GstUsageCodeModel gstusge = new();
    private ChartOfAccountModel SelectedAccount = null;
    private ChartOfAccountModel SelectedAccounts = null;
    private AccountRuleDefinitionModel accountRuleDefinitionModel = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsCash(string searchString)
    {
        int coID = Convert.ToInt32(configuration.GetSection("Data")[customstr]);
        return await Task.FromResult(accountService.SelectChildren(coID));

    }
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccounts(string searchString)
    {

        return await Task.FromResult(accountService.FilterSubLedgers(searchString));

    }
    public void statechange()
    {
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (model.SundryReceiptID == null)
        {
            model.TotalAmount = 0;
        }
        else
        {
            SelectedAccount = new();
            accountRuleDefinitionModel.CoaID = model.ReceiptCoaID;
            accountRuleDefinitionModel.ArdCode = model.ReceiptArdCode;
            accountRuleDefinitionModel.paymentMode = model.ReceiptMode;
           
            Entrys = Iservice.GetEntries(model.SundryReceiptID).ToList();
        }

        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
    }
    public async Task AddItems()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        SundryReceiptEntryModel sp = new SundryReceiptEntryModel();
        // sp.AccountName = SelectedAccounts.AccountName;
        // sp.CoaID = SelectedAccounts.CoaID;
        sp.UsageCode = gstusge.UsageCode;
        sp.Amount = spe.Amount;
        sp.Rederence = spe.Rederence;
        sp.BranchID = brancID;

        model.TotalAmount = model.TotalAmount + sp.Amount;
        Entrys.Add(sp);

        spe = new();

    }
    protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            Iservice.Approve(model.SundryReceiptID, model.UserInfo.UserID, aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }
    public void ModeChange()
    {
        if (model.ReceiptMode == "Bank")
        {

            accountgroup = Convert.ToInt32(configuration.GetSection("Data")[model.ReceiptMode]);

        }
        else
        {

            accountgroup = Convert.ToInt32(configuration.GetSection("Data")[model.ReceiptMode]);


        }
        StateHasChanged();
        SelectedAccount = new();
    }
    public async Task CreatePaymentMemo()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        model.NatureOfTransaction = "Sundry Receipt";
        model.ReceiptCoaID = accountRuleDefinitionModel.CoaID;
        model.ReceiptArdCode = accountRuleDefinitionModel.ArdCode;
        model.ReceiptMode = accountRuleDefinitionModel.paymentMode;
        model.Entries = Entrys;
        model.BranchID = brancID;
        //model.ReceiptMode = m;
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;

        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);


        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        MudDialog.Close();


    }


}
