@attribute [Authorize]
@using System.Threading;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

@inject ISundryPaymentService Iservice

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Payment" formID="sundryPaymentForm" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayeeName" Label="Payee Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeName)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudNumericField HideSpinButtons MaxLength="10" ReadOnly="ReadOnly" @bind-Value="model.PayeeContactNo" Label="Payee Contact No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeContactNo)"></MudNumericField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <PaymentAccountSelector PaymentMode="@model.PaymentMode" PaymentModeChanged="OnChangePaymentMode" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.PaymentCoaID" BankCharges="@model.BankCharges" @bind-BankTool="@model.PaymentTool" BankChargesChanged="CalculateTotalAmount" />
                     </MudItem>
                     <MudItem xs="12" md="4">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                     </MudItem>
                     <MudItem xs="4" md="4">
                         <MudCheckBox Label="Is Deferred Expenditure?" @bind-Checked="@model.deferredExpenditure" Size="Size.Medium" Color="Color.Primary"></MudCheckBox>
                     </MudItem>
                     @if (model.deferredExpenditure)
                    {
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="Begin Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.beginDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="End Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EndDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    }
                    <MudItem xs="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th>Usage Code</th>
                                    <th>CostCenter</th>
                                    <th>Dimension</th>
                                    <th>Amount</th>
                                    <th>Reference</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Entries)
                                {
                                    <tr>
                                        <td>@item.UsageCode</td>
                                        <td>@item.CostCenter</td>
                                        <td>@item.Dimension</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Reference</td>
                                        <td></td>
                                    </tr>
                                }
                                @if (!ReadOnly)
                                {
                                    <tr>
                                        <td>
                                            <UsageCodeSelector Value=gstusge ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </td>
                                        <td>
                                            <CostCenterSelector @bind-Value="spe.CostCenter" ReadOnly="@ReadOnly" />
                                        </td>
                                        <td>
                                            <DimensionSelector @bind-Value="spe.Dimension" ReadOnly="@ReadOnly" />
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@SundryPaymentDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.SundryPaymentID" OnApprove="ApproveEntry"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public SundryPaymentModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private SundryPaymentEntryModel spe { get; set; } = new();
    private GstUsageCodeModel gstusge;
    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    DialogForm dialogForm;
    private bool _busy;

    public bool HasPermissionSundryPaymentServiceEdit { get; set; } = false;
    public bool HasPermissionSundryPaymentServiceApprove { get; set; } = false;
    int SundryPaymentDocTypeID = 11;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionSundryPaymentServiceEdit = await Irole.HasClaim(SundryPaymentDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionSundryPaymentServiceApprove = await Irole.HasClaim(SundryPaymentDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        if (model == null || (model != null && model.SundryPaymentID == null))
        {
            model = new()
                {
                    BranchID = branchID,
                    UserInfo = new() { UserID = UserID, },
                    NatureOfTransaction = "Sundry Payment",
                    TotalAmount = 0,
                };
        }
        else
        {
            model.Entries = Iservice.GetEntries(model.SundryPaymentID).ToList();
        }
        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
    }

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.CoaID = uc?.CoaID;
    }

    protected async Task ApproveEntry(DataApprovedStatus aprvd)
    {
        if (HasPermissionSundryPaymentServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.SundryPaymentID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve SundryPayment.");
        }
    }

    public void AddItems()
    {
        spe.BranchID = branchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            CalculateTotalAmount(model.BankCharges);
            spe = new();
            gstusge = null;
        }
    }

    public void CalculateTotalAmount(decimal? val)
    {
        model.BankCharges = val;
        if (model.PaymentMode.ToLower().Trim() == ("Cash").ToLower().Trim())
        {
            model.TotalAmount = model.Entries.Sum(x => x.Amount);
        }
        else
        {
            model.TotalAmount = model.Entries.Sum(x => x.Amount) + model?.BankCharges ?? 0;
        }
    }

    public void OnChangePaymentMode(string? val)
    {
        model.PaymentMode = val;
        CalculateTotalAmount(model.BankCharges);
    }

    public async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionSundryPaymentServiceEdit)
        {
            try
            {
                model = Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit SundryPayment.");
        }
        await Task.Delay(2000);
        _busy = false;
    }
}