@page "/SundryReceiptView/"
@page "/SundryReceiptView/{interbranch:bool}" 
@page "/SundryReceiptView/{interbranch:bool}/{id:int}"
@inherits ViewComponentBase<SundryReceiptModel>
@inject ISundryReceiptService Iservice
@inject IConfigTable Iconfig
@inject IGstUsageIDService Iusage
@inject ITripAdvanceService Iadvance
@inject IDialogService DialogService
@using Views.Shared

@* @using System.Threading;
@using ArmsModels.BaseModels.Finance.Transactions *@

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Sundry Receipt </MudText>
                @if (interbranch)
                {
                    <MudText Typo="Typo.h6" Class="pl-2"> Interbranch </MudText>
                }
                <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new SundryReceiptModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.NaturePeople" Title="Stockists Freight Receivable" OnClick="StockistsFreightSelection" Color="Color.Secondary" Size="Size.Small"></MudIconButton>
                <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Money" Title="Advance balance Receivable" OnClick="AdvaceReceivableSelection" Color="Color.Secondary" Size="Size.Small"></MudIconButton>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Sundry Receipt..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ToggleData(value))" Checked="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<SundryReceiptModel, object>(x=> x.DocumentDate)" >Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<SundryReceiptModel, object>(x=> x.SundryReceiptID)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<SundryReceiptModel, object>(x=> x.ReceiptMode)" >Receipt Mode</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<SundryReceiptModel, object>(x=> x.TotalAmount)" >Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber
                    @if (context.AuthLevelId == 100)
                    {
                        <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
                    }
                </MudTd>
                
                <MudTd DataLabel="PaymentMode">@context.ReceiptMode</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
                    @* <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.SundryReceiptID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" /> *@
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.SundryReceiptID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />
                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.SundryReceiptID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                        <MudIconButton OnClick="@(()=> Print(context.SundryReceiptID))" Color="Color.Tertiary" Title="Print" Class="ml-2" Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    else if (@context.AuthLevelId != 100)
                    {
                        <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    protected override List<SundryReceiptModel> collection { get; set; } = new();
    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 12,
            DocumentName = "SundryReceipt"
        };

    public Dictionary<string, string> ReportParameters { get; set; } = new();
    public string BranchName = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        BranchName = User.Claims.First(x => x.Type == "BranchName").Value;

        if (id != null && collection != null && collection.Any(g => g.SundryReceiptID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.SundryReceiptID == id), true);
        }
    }

    private async Task StockistsFreightSelection()
    {
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("BranchID", BranchID);
        var dialog = dialogService.Show<StockistsFreightView>("Stockists Freight", parms, mediumWidth);       

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var data = (List<StockistFreightReceivableModel>)result.Data;

            try
            {
                SundryReceiptModel StockistsReceiptModel = new SundryReceiptModel()
                {
                    BranchID = BranchID,
                    NatureOfTransaction = "StockistFreight",
                    PayerContactNo = data.First().Consignee.Mobile,
                    PayerName = data.First().Consignee.ConsigneeName,
                    TotalAmount = data.Sum(x => x.Amount)

                };
                GstUsageCodeModel UsageCode = Iusage.SelectByCode(Iconfig.GetByID("ConsigneeUsageCode").ValueString);

                foreach (var item in data)
                {
                    StockistsReceiptModel.Entries.Add(new SundryReceiptEntryModel()
                    {
                        Amount = item.Amount,
                        BranchID = BranchID,
                        CoaID = UsageCode.CoaID,
                        Reference = item.EntryRef,
                        UsageCode = UsageCode.UsageCode,
                        UsageCodeDescription = UsageCode.Description,
                        SubArdCode = item.Consignee.ArdCode
                    });
                }

                await OpenForm(StockistsReceiptModel, false, true);

            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    private async Task AdvaceReceivableSelection()
    {
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("BranchID", BranchID);
        var dialog = dialogService.Show<AdvanceReceivableView>("Advance", parms, mediumWidth);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var data = (List<TripAdvanceModel>)result.Data;

            try
            {
                SundryReceiptModel AdvaceReceiptModel = new SundryReceiptModel()
                {
                    BranchID = BranchID,
                    NatureOfTransaction = "Advance",
                    PayerContactNo = data.First().DriverMobile,
                    PayerName = data.First().DriverName,
                    TotalAmount = data.Sum(x => x.Amount)
                };

                foreach (var item in data)
                {
                    AdvaceReceiptModel.Entries.Add(new SundryReceiptEntryModel()
                    {
                        Amount = item.Amount,
                        BranchID = BranchID,
                        CoaID = item.CoaID,
                        Reference = item.TripNo,
                        UsageCode = item.UsageCode,
                        UsageCodeDescription = item.UsageDescription,                        
                    });
                }

                //await OpenForm(AdvaceReceiptModel, false, true);
                DialogParameters sparms = new DialogParameters();
                sparms.Add("model", AdvaceReceiptModel);
                sparms.Add("ReadOnly", false);
                sparms.Add("DisableAddition", true);
                //sparms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
                var sdialog = dialogService.Show<SundryReceiptDialog>(AdvaceReceiptModel.SundryReceiptID == null ? "ADD" : "EDIT", sparms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
                var sresult = await sdialog.Result;
                if (!sresult.Canceled)
                {
                    var ReturnData = (SundryReceiptModel)sresult.Data;
                    ReturnData.Entries = Iservice.GetEntries(ReturnData.SundryReceiptID).ToList();
                    foreach (var item in ReturnData.Entries)
                    {
                        var adv = data.First(x => x.TripNo == item.Reference && x.CoaID == item.CoaID);
                        if (adv is not null)
                        {
                            adv.TripAdvanceID = null;
                            adv.BranchID = BranchID;
                            adv.Amount = -1 * (item.Amount);
                            adv.DocumentID = ReturnData.SundryReceiptID;
                            adv.DocumentTypeID = DocInfo.DocumentTypeID;
                            Iadvance.Update(adv);
                        }
                    }
                    LoadData(ShowApproved, NumberOfRecords);
                }

            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }        
    }

    protected override async Task OpenForm(SundryReceiptModel ppm, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        ppm.IsInterBranch = interbranch;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("DisableAddition", DisableAddition);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<SundryReceiptDialog>(ppm.SundryReceiptID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var ReturnData = (SundryReceiptModel)result.Data;
            LoadData(ShowApproved, NumberOfRecords);

        }
        await Task.Delay(200);
        _busy = false;
    }


    private async Task Print(int? SundryReceiptID)
    {
        ReportParameters.Clear();
        ReportParameters.Add("SundryReceiptID", SundryReceiptID.ToString());
        ReportParameters.Add("BranchName", BranchName);
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintSundryReceipt");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }   
}