@inherits DialogFormComponentBase<SundryPaymentModel>
@inject ISundryPaymentService Iservice
@inject IChartOfAccountService Icoa


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Payment" formID="sundryPaymentForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryPaymentForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayeeName" Label="Payee Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeName)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudNumericField HideSpinButtons MaxLength="10" ReadOnly="ReadOnly" @bind-Value="model.PayeeContactNo" Label="Payee Contact No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayeeContactNo)"></MudNumericField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <PaymentAccountSelector PaymentMode="@model.PaymentMode" PaymentModeChanged="OnChangePaymentMode" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.PaymentCoaID" BankCharges="@model.BankCharges" @bind-BankTool="@model.PaymentTool" BankChargesChanged="CalculateTotalAmount" />
                     </MudItem>
                     <MudItem xs="12" md="4">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                     </MudItem>
                     <MudItem xs="4" md="4">
                         <MudCheckBox Label="Is Deferred Expenditure?" @bind-Checked="@model.deferredExpenditure" Size="Size.Medium" Color="Color.Primary"></MudCheckBox>
                     </MudItem>
                     @if (model.deferredExpenditure)
                    {
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="Begin Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.beginDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="4" md="4">
                            <MudDatePicker ReadOnly="ReadOnly" Label="End Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EndDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                    }
                    <MudItem xs="12">
                        <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                            <div style="width: 1600px;" class="pb-3">
                                <MudGrid Justify="Justify.Center">
                                    <MudItem xs="3"><span class="HeadText"><b>Account Name</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Cost Center</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Dimension</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Amount</b></span></MudItem>
                                    <MudItem xs="2"><span class="HeadText"><b>Reference</b></span></MudItem>
                                    <MudItem xs="1"></MudItem>
                                    @foreach (var item in model.Entries)
                                    {
                                        <MudItem xs="3">@string.Format("{0} | {1}", item.UsageCode, item.UsageCodeDescription)</MudItem>
                                        <MudItem xs="2">@item.CostCenterVal</MudItem>
                                        <MudItem xs="2">@item.DimensionVal</MudItem>
                                        <MudItem xs="2">@item.Amount</MudItem>
                                        <MudItem xs="2">@item.Reference</MudItem>
                                        <MudItem xs="1"></MudItem>
                                    }
                                    @if (!ReadOnly)
                                    {
                                        <MudItem xs="3">
                                            <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </MudItem>
                                        <MudItem xs="2">
                                            <CostCenterSelector @bind-Value="spe.CostCenter" @bind-ValueText="@spe.CostCenterVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <DimensionSelector @bind-Value="spe.Dimension" @bind-ValueText="@spe.DimensionVal" ReadOnly="@ReadOnly" />
                                        </MudItem>
                                        <MudItem xs="2">
                                            <MudNumericField HideSpinButtons @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                         </MudItem>
                                        <MudItem xs="2">
                                            <MudTextField @bind-Value="spe.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Reference)"></MudTextField>
                                        </MudItem>
                                        <MudItem xs="1" Class="d-flex align-center">
                                            <MudFab OnClick="AddParticulars" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </div>
                        </MudItem>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate"  DocumentID="model.SundryPaymentID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {
    [Parameter]
    public override SundryPaymentModel model { get { return _model; } set { _model = value; DocInfo.DocumentID = value.SundryPaymentID; } }
    private SundryPaymentModel _model;

    [Parameter]
    public bool DisableAddition { get; set; } = false;

    private SundryPaymentEntryModel spe = new SundryPaymentEntryModel();
    private GstUsageCodeModel gstusge = new();

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 11,
            DocumentName = "SundryPayment"
        };


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (model == null || (model != null && model.NatureOfTransaction == null))
        {
            model = new()
                {
                    BranchID = BranchID,
                    UserInfo = new() { UserID = UserID, },
                    NatureOfTransaction = "Sundry Payment",
                    TotalAmount = 0,
                };
        }
        else if (model.Entries.Count == 0)
        {
            model.Entries = Iservice.GetEntries(model.SundryPaymentID).ToList();
        }
    }    

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.UsageCodeDescription = uc?.Description;
        spe.CoaID = uc?.CoaID;
    }

    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.SundryPaymentID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    public void AddParticulars()
    {
        spe.BranchID = BranchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            CalculateTotalAmount(model.BankCharges);
            spe = new();
            gstusge = null;
        }
    }

    public void CalculateTotalAmount(decimal? val)
    {
        model.BankCharges = val;
        if (model.PaymentMode.ToLower().Trim() == ("Cash").ToLower().Trim())
        {
            model.TotalAmount = model.Entries.Sum(x => x.Amount);
        }
        else
        {
            model.TotalAmount = model.Entries.Sum(x => x.Amount) + model?.BankCharges ?? 0;
        }
    }

    public void OnChangePaymentMode(string? val)
    {
        model.PaymentMode = val;
        CalculateTotalAmount(model.BankCharges);
    }

    protected override async Task<int> Update(SundryPaymentModel editModel)
    {
        var balance = Icoa.GetBalance(BranchID, 0, model.PaymentArdCode, null, DateTime.Today);
        if (model.TotalAmount > balance && model.PaymentMode != "Bank")
        {
            snackbar.Add(string.Format("insufficient balance! Only Rs {0} Available", balance), Severity.Warning);
            return 0;
        }
        model = Iservice.Update(model);
        return model.SundryPaymentID.Value;    
    }
}