@page "/SundryPaymentView"
@page "/SundryPaymentView/{id:int}"
@inherits ViewComponentBase<SundryPaymentModel>
@inject ISundryPaymentService Iservice


<MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="5">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Sundry Payment </MudText>
        <MudTooltip Text="New Sundry Payment">
            <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new SundryPaymentModel()))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        </MudTooltip>
        <MudSpacer></MudSpacer>
        <MudTextField @bind-Value="searchTerm" Placeholder="Search Sundry..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
        </MudTextField>
        <div class="tablefont">
            <span style="margin-right: 10px;">Maximum Records: </span>
        </div>
        <MudItem xs="1">
            <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
        </MudItem>
        <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ToggleData(value))" Checked="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<SundryPaymentModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SundryPaymentModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SundryPaymentModel, object>(x=> x.PaymentMode)" InitialDirection="SortDirection.Ascending">Payment Mode</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<SundryPaymentModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
        <MudTd DataLabel="PaymentMode">@context.PaymentMode</MudTd>
        <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.SundryPaymentID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />

            @if (@context.AuthLevelId == 99)
            {
                <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.SundryPaymentID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
            }
            else
            {
                <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
    </PagerContent>
</MudTable>

@code {

    protected override List<SundryPaymentModel> collection { get; set; } = new();

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 11,
            DocumentName = "SundryPayment"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (id != null && collection != null && collection.Any(g => g.SundryPaymentID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.SundryPaymentID == id), true);
        }
    }

    private void GeLoadData(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;
        if (val)
        {
            collection = Iservice.SelectByApproved(BranchID, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectByUnapproved(BranchID, NumberOfRecords, searchTerm).ToList();
        }
    }


    protected override async Task OpenForm(SundryPaymentModel model, bool ReadOnly = false, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", model.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<SundryPaymentDialog>(model == null ? "ADD" : "EDIT", parms, mediumWidth);
        var result = await dialog.Result;
        var isCancelled = result.Canceled;
        if (!isCancelled)
        {
            var ReturnData = (SundryPaymentModel)result.Data;
            LoadData(ShowApproved, NumberOfRecords);

        }
        await Task.Delay(200);
        _busy = false;
    }
   
}