@inject ISundryReceiptService Iservice
@using System.Threading;
@using ArmsModels.BaseModels.Finance.Transactions
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject TruckDataArrayModel data
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Sundry Receipt" formID="sundryReceiptForm" model="@model">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="sundryReceiptForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector @bind-PaymentMode="@model.ReceiptMode" HideBankCharges HideTool
                        @bind-ArdCode="@model.ReceiptArdCode" @bind-CoaID="@model.ReceiptCoaID" />
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.PayerName" Label="PayerName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerName)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" Mask="@(new PatternMask("0000000000"))"   @bind-Value="model.PayerContactNo" Label="PayerContactNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PayerContactNo)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <CostCenterSelector @bind-Value="model.CostCenter" ReadOnly="@ReadOnly" />
                        </MudItem>
                        <MudItem xs="12" md="4">
                        <DimensionSelector @bind-Value="model.Dimension" ReadOnly="@ReadOnly" />
                        </MudItem>
                        <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                        </MudItem>
                        <MudItem xs="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th>AccountName</th>
                                    <th>Amount</th>
                                    <th>Reference</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Entries)
                                {
                                    <tr>
                                        <td>@item.UsageCode</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Rederence</td>
                                        <td> </td>
                                    </tr>
                                }
                                @if (!ReadOnly)
                                {
                                    <tr>
                                        <td>
                                            <UsageCodeSelector Value="gstusge" ValueChanged="UsageCodeChanged"></UsageCodeSelector>
                                            <ValidationMessage For="(()=>spe.UsageCode)"></ValidationMessage>
                                        </td>
                                        <td>
                                            <MudNumericField HideSpinButtons @bind-Value="spe.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Amount)"></MudNumericField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="spe.Rederence" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => spe.Rederence)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocumentID="model.SundryReceiptID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {
    [Parameter]
    public SundryReceiptModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }

    private EditContext editContext;

    DialogForm dialogForm;
    public bool HasAuthoriseEdit { get; set; } = false;
    int DocTypeID = 12;

    private SundryReceiptEntryModel spe = new SundryReceiptEntryModel();

    private int? branchID = null;
    private string UserID = null;
    public GstUsageCodeModel gstusge = new();


    protected override async Task OnInitializedAsync()
    {

        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);


        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;

        if (model.SundryReceiptID == null)
        {
            model.NatureOfTransaction = "Sundry Receipt";
            model.BranchID = branchID;
        }
        else
        {
            model.Entries = Iservice.GetEntries(model.SundryReceiptID).ToList();
        }
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
    }

    void UsageCodeChanged(GstUsageCodeModel uc)
    {
        gstusge = uc;
        spe.UsageCode = uc?.UsageCode;
        spe.CoaID = uc?.CoaID;
    }

    public void AddItems()
    {
        spe.BranchID = branchID;
        if (dialogForm.validate(spe, editContext))
        {
            model.Entries.Add(spe);
            model.TotalAmount = model.Entries.Sum(x => x.Amount);
            spe = new();
        }
    }
    protected void Approve(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            model.UserInfo.UserID = UserID;
            Iservice.Approve(model.SundryReceiptID, model.UserInfo.UserID, aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }
    }


    public async Task OnValidSubmit(EditContext context)
    {
        if (HasAuthoriseEdit)
        {
            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Update(model);
                model = new();
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
            dialogForm.Close(model);

        }
        else
        {

            bool? result = await DialogService.ShowMessageBox(
        "Permission denied!",
        "You dont have any permission to submit.");

        }
    }
}
