@inject ITaxPurchaseService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject ICostCenterService costIservice
@inject IDimensionService dimensionIservice
@inject IPartyBranchService partyBranchIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService




<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
           Tax Purchase
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="min-height:300px;max-height: 800px overflow-y: scroll;">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="5">
                        <MudAutocomplete T="PartyModel" Value="SelectedParty" ValueChanged="getBranch"
                                         Variant="Variant.Outlined" Margin="Margin.Dense" Label="Vendor" ResetValueOnEmptyText="true"
                                         SearchFunc="@SearchParty" ToStringFunc="@(e => e?.PartyName)">
                        </MudAutocomplete>
                    </MudItem>

                    <MudItem xs="12" md="5">
                        <MudSelect Label="Select Party Branch" @bind-Value="model.PartyBranchInfo" T="PartyBranchModel" ToStringFunc="@((p) => p?.Address.Place)" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in partybranch)
                            {
                                <MudSelectItem Value="@ditem">@ditem.Address.Place</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                      <MudItem xs="12" md="2">
                       <MudCheckBox @bind-Checked="model.IsCredit" Color="Color.Primary">Credit</MudCheckBox>
                    </MudItem>

                    <MudItem xs="12" md="3">
                        <MudDatePicker Label="Invoice Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.InvoiceDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudTextField @bind-Value="model.InvoiceNo" Label="InvoiceNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InvoiceNo)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudTextField @bind-Value="model.AdditionalTDS" Label="Additional TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalTDS)"></MudTextField>

                    </MudItem>
                     <MudItem xs="12" md="3">
                      <MudCheckBox @bind-Checked="model.NonStoreInventory" ReadOnly=true Color="Color.Primary">NonStoreInventory</MudCheckBox>

                    </MudItem>
                   <MudItem xs="12" md="4">
                        <MudDatePicker Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.DocumentNumber" Label="DocumentNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentNumber)"></MudTextField>

                    </MudItem>
                     <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                    </MudItem>
                  <MudItem xs="12" md="6">
                         <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                  </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                     <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="12">
                       <h6>Expenses</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                           <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                               @* <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>@model.TotalValue</th>
                                </tr>*@
                                <tr>

                                    <th>Branch</th>
                                    <th>UsageID</th>
                                    <th>CoaID</th>
                                    <th>Amount</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                     <th>TDS</th>
                                      <th>Bill</th>
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in exitems)
                                {
                                    <tr>
                                       
                                        <td>@item.BranchID</td>
                                        <td>@item.UsageID</td>
                                        <td>@item.CoaID</td>
                                        <td>@item.Amount</td>
                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>
                                        <td>@item.BillReference</td>
                                        <td></td>
                                        
                                    </tr>
                                }
                                
                                  <tr>
                                        <td>

                                         @* <MudSelect Label="Select UsageID" @bind-Value="Expmodel.UsageID" T="st?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect>*@
                                        </td>
                                        <td>
                                          @*   <MudSelect Label="Select UsageID" @bind-Value="Expmodel.BranchID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect>*@
                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="Expmodel.CoaID"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.CoaID)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.Amount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.SGST)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.CGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.CGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.IGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.IGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.TDS" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.TDS)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.BillReference" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.BillReference)"></MudTextField>

                                        </td>
                                        <td>
                                           
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @*   <MudButton OnClick="DeleteTaxRate">Delete Tax Rate</MudButton>
        <MudButton OnClick="AddTaxRate">Add More Tax Rate</MudButton>*@

        @*@if (model.ApprovedInfo.RecordStatus != 3)
        {
             @if ( model.POID != null) { 
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Reverse">Reverse</MudButton>
           }
            
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
        }*@
    </DialogActions>
</MudDialog>



@code {
    [Parameter]
    public TaxPurchaseModel model { get; set; }
    private List<TaxPurchaseModel> collection = new List<TaxPurchaseModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    private PartyModel SelectedParty = new();
    private List<PartyBranchModel> partybranch = new();
    private List<PartyModel> partyList = new();

    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<TaxPurchaseExpensesModel> exitems = new List<TaxPurchaseExpensesModel>();

    private TaxPurchaseExpensesModel Expmodel = new TaxPurchaseExpensesModel();

    private async Task<IEnumerable<PartyModel>> SearchParty(string searchString)
    {
        return await Task.FromResult(partyList.Where(x => x.PartyName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    protected override async void OnInitialized()
    {
        if(model.GRNID==null)
        {
            model.NonStoreInventory = false;
        }

        await foreach (var party in partyIservice.Select(0))
        {
            partyList.Add(party);
        }
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        // SelectedParty = partyIservice.GetPartyFromBranch(model.PartyBranchInfo);
        // SelectedParty = null;
        // if (SelectedParty != null)
        //     partybranch = partyBranchIservice.SelectByParty(SelectedParty.PartyID).ToList();
        //// StateHasChanged();
    }
    public void AddItems()
    { }

    private void getBranch(PartyModel party)
    {
        // int values = int.Parse(e.Value.ToString());
        //SelectedParty = party;
        if (party != null)
        {
            partybranch = partyBranchIservice.SelectByParty(party.PartyID).ToList();
        }
        else
        {
            partybranch = new();
        }
        // snackbar.Add("Saved Successfully", Severity.Success);
    }


    private async Task OnValidSubmit(EditContext context)
    {
    }
}
