@inject ITaxPurchaseService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject IGstItemService gstitemIservice
@inject ICostCenterService costIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IDimensionService dimensionIservice
@inject IGstUsageIDService usageIservice
@inject IInventoryGrnService grnIservice
@inject IBranchService branchIservice
@inject IPartyBranchService partyBranchIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService




<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
           Tax Purchase
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                   @* <MudItem xs="12" md="5">
                        <MudAutocomplete T="PartyModel" Value="model.PartyBranchInfo.Party" ValueChanged="getBranch"
                                         Variant="Variant.Outlined" Margin="Margin.Dense" Label="Vendor" ResetValueOnEmptyText="true"
                                         SearchFunc="@SearchParty" ToStringFunc="@(e => e?.PartyName)">
                        </MudAutocomplete>
                    </MudItem>

                    <MudItem xs="12" md="5">
                        <MudSelect Label="Select Party Branch" @bind-Value="model.PartyBranchInfo" T="PartyBranchModel" ToStringFunc="@((p) => p?.Address.Place)"  For="@(() => model.PartyBranchInfo)" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in partybranch)
                            {
                                <MudSelectItem Value="@ditem">@ditem.Address.Place</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>*@
                     <MudItem xs="12" md="10">
                         <PartyBranchSelect @bind-Value="model.PartyBranchInfo"></PartyBranchSelect>
                         </MudItem>
                      <MudItem xs="12" md="2">
                      @* <MudCheckBox @bind-Checked="model.IsCredit" Color="Color.Primary" For="@(() => model.IsCredit)">Credit</MudCheckBox>*@
                    <MudSwitch @bind-Checked="customstr" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())" > @(customstr)</MudSwitch>
                   
                   
                   </MudItem>

                    <MudItem xs="12" md="4">
                        <MudDatePicker Label="Invoice Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.InvoiceDate"  />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.InvoiceNo" Label="InvoiceNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InvoiceNo)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.AdditionalTDS" Label="Additional TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalTDS)"></MudTextField>

                    </MudItem>
                     @*<MudItem xs="12" md="3">
                      <MudCheckBox @bind-Checked="model.NonStoreInventory" For="@(() => model.NonStoreInventory)" ReadOnly=true Color="Color.Primary">NonStoreInventory</MudCheckBox>

                    </MudItem>*@
                   <MudItem xs="12" md="4">
                        <MudDatePicker Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.DocumentNumber" ReadOnly ="true" Label="DocumentNo" Variant="Variant.Outlined"  Margin="Margin.Dense" For="@(() => model.DocumentNumber)"></MudTextField>

                    </MudItem>
                     <MudItem xs="12" md="4">
                        <MudTextField @bind-Value="model.TotalAmount" ReadOnly ="true" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                    </MudItem>
                  <MudItem xs="12" md="6">
                         <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                  </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                     <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="12">
                       <h6>Expenses</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                           <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                               @* <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>@model.TotalValue</th>
                                </tr>*@
                                <tr>

                                  @*  <th>Branch</th>*@
                                    <th width="200px">UsageID</th>
                                    <th>CoaID</th>
                                    <th>Amount</th>
                                    <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                     <th>TDS</th>
                                      <th>Bill</th>
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Expenses)
                                {
                                    <tr>
                                       
                                      @*  <td>@item.BranchID</td>*@
                                        <td>@item.UsageID</td>
                                        <td>@item.CoaID</td>
                                        <td>@item.Amount</td>
                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>
                                        <td>@item.BillReference</td>
                                        <td>
                                             @if (model.ApprovedInfo.RecordStatus != 3)
                                            {
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                            }
                                        </td>
                                        
                                    </tr>
                                }
                                
                                  <tr>
                                      @*  <td>

                                          <MudSelect Label="Select UsageID" @bind-Value="Expmodel.UsageID" T="st?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect>
                                        </td>*@
                                        <td>
                                             <MudSelect  Value="SelectedItems" T="GstUsageIDModel" ValueChanged="UsageChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e?.UsageID)" >
                                            @foreach (var ditem in usageID)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem.UsageID</MudSelectItem>
                                            }
                                        </MudSelect>
                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="Expmodel.CoaID"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.CoaID)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.Amount" TextChanged="taxRates" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.SGST)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="Expmodel.CGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.CGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.IGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.IGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.TDS" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.TDS)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="Expmodel.BillReference" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.BillReference)"></MudTextField>

                                        </td>
                                        <td>
                                           
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    <MudItem xs="12" md="12">
                       <h6>TaxPurchaseItems</h6>
                    </MudItem>
                       <MudItem xs="12" md="12">
                           <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                               @* <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>@model.TotalValue</th>
                                </tr>*@
                                <tr>

                                  @*  <th>Branch</th>*@
                                    <th width="200px">ItemID</th>
                                    <th>ItemRate</th>
                                    <th>ItemQty</th>
                                    <th>CoaID</th>
                                    <th>Amount</th>
                                     <th>SGST</th>
                                      <th>CGST</th>
                                    <th>IGST</th>
                                     <th>TDS</th>
                                    
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Items)
                                {
                                    <tr>
                                       
                                      @*  <td>@item.BranchID</td>
                                        <td>@item.ItemID</td>*@
                                       <td style="width:200px">@(itm.First(x=> x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                                        <td>@item.ItemRate</td>
                                        <td>@item.ItemQty</td>
                                        <td>@item.CoaID</td>
                                        <td>@item.Amount</td>
                                        <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>
                                       
                                        <td>

                                             @if (model.ApprovedInfo.RecordStatus != 3)
                                            {
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteItem(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                            }
                                        </td>
                                        
                                    </tr>
                                }
                                
                                  <tr>
                                      @*  <td>

                                          <MudSelect Label="Select UsageID" @bind-Value="Expmodel.UsageID" T="st?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect>
                                        </td>*@
                                        <td>
                                             <MudAutocomplete T="InventoryItemModel" ValueChanged="getitemCode" Value="SelectedPurchaseItems" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Items" ResetValueOnEmptyText="true"
                                                         SearchFunc="@SearchItems" ToStringFunc="@(e => e==null?string.Empty:e?.InventoryItemCode)"></MudAutocomplete>

                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="TaxItemModel.ItemRate" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemRate)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="TaxItemModel.ItemQty" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemQty)"></MudTextField>

                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="TaxItemModel.CoaID"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.CoaID)"></MudTextField>

                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="TaxItemModel.Amount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="TaxItemModel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.SGST)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="TaxItemModel.CGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.CGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="TaxItemModel.IGST" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.IGST)"></MudTextField>

                                        </td>
                                          <td>
                                            <MudTextField @bind-Value="TaxItemModel.TDS" ReadOnly="true"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.TDS)"></MudTextField>

                                        </td>
                                          
                                        <td>
                                           
                                            <MudFab OnClick="AddTaxItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
       @if(model.ApprovedInfo.RecordStatus!=3 && model.ApprovedInfo.RecordStatus!=1)
                    {
             <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
                    }
    </DialogActions>
</MudDialog>



@code {
    [Parameter]
    public TaxPurchaseModel model { get; set; }

    private List<TaxPurchaseModel> collection = new List<TaxPurchaseModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    private PartyModel SelectedParty = new();
    private List<PartyBranchModel> partybranch = new();
    private List<PartyModel> partyList = new();
    private List<GstUsageIDModel> usageID = new();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    public GstUsageIDModel SelectedItems = new();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<TaxPurchaseExpenseModel> exitems = new List<TaxPurchaseExpenseModel>();
    private List<TaxPurchaseItemModel> TxItitems = new List<TaxPurchaseItemModel>();
    private List<InventoryItemModel> itm = new();
    private List<InventoryItemEntryModel> iitem = new();
    private static int brancID;
    private TaxPurchaseExpenseModel Expmodel = new TaxPurchaseExpenseModel();
    private TaxPurchaseItemModel TaxItemModel = new TaxPurchaseItemModel();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    public string customstr { get; set; } = "Cash";



    private async Task<IEnumerable<PartyModel>> SearchParty(string searchString)
    {
        return await Task.FromResult(partyList.Where(x => x.PartyName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        brancID = int.Parse(brancIDString);
        model.BranchID = brancID;
        model.NonStoreInventory = true;
        if(model.GRNID==null)
        {
            model.NonStoreInventory = false;
            if (model.TotalAmount == null)
            {
                model.TotalAmount = 0;
                if(model.IsCredit==false)
                {
                    customstr = "Credit";
                }

            }
        }
        else
        {
            model.NonStoreInventory = true;
            iitem = grnIservice.GetItemEntries(model.GRNID.Value).ToList();
            foreach (var item in iitem)
            {
                TaxPurchaseItemModel tpi = new();
                tpi.ItemID = item.ItemID;
                tpi.ItemQty = item.ItemQty;
                tpi.ItemRate = item.ItemRate;
                tpi.Amount=item.ItemQty*item.ItemRate;



                InventoryItemModel iim = itemIservice.SelectByID(item.ItemID);
                InventoryGroupModel igm = inventoryGroupIservice.SelectByID(iim.InventoryGroupID);

                tpi.CoaID = igm.MappedNonInventoryPurchaseHead;
                GstItemModel gstItem =gstitemIservice.SelectByItem(item.ItemID.Value,DateTime.Now);
                decimal? taxRate = gstItem.TaxRate;
                decimal? tdsRate =(decimal)tdsIService.GetTdsRate(model.PartyBranchInfo.PartyID.Value,tpi.CoaID.Value);


                BranchModel br = await branchIservice.SelectByID(brancID);

                string partyGstNo = (model.PartyBranchInfo.GstNo).Substring(0,2);
                string branchGstNo = (br.GstNo).Substring(0,2);

                if(partyGstNo==branchGstNo)
                {
                    tpi.IGST = (tpi.Amount * taxRate)/100;
                }
                else
                {
                    taxRate = taxRate / 2;
                    tpi.SGST =  (tpi.Amount * taxRate)/100;
                    tpi.CGST =  (tpi.Amount * taxRate)/100;

                }

                tpi.TDS=(tpi.Amount * tdsRate)/100;



                TxItitems.Add(tpi);
            }
        }
        await foreach (var party in partyIservice.Select(0))
        {
            partyList.Add(party);
        }
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        usageID = usageIservice.Select(DateTime.Now).ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        // SelectedParty = partyIservice.GetPartyFromBranch(model.PartyBranchInfo);
        // SelectedParty = null;
        // if (SelectedParty != null)
        //     partybranch = partyBranchIservice.SelectByParty(SelectedParty.PartyID).ToList();
        //// StateHasChanged();
        if(model.PID !=null)
        {
            model.Expenses=Iservice.GetExpenses(model.PID).ToList();
            model.Items=Iservice.GetItems(model.PID).ToList();
        }
    }

    private async Task<IEnumerable<InventoryItemModel>> SearchItems(string searchString)
    {
        return await Task.FromResult(itm.Where(x => x.InventoryItemCode.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    public void AddItems()
    {
        TaxPurchaseExpenseModel ientry = new();
        ientry.BranchID = brancID;
        ientry.UsageID = Expmodel.UsageID;
        ientry.CoaID = Expmodel.CoaID;
        ientry.Amount = Expmodel.Amount;
        ientry.SGST = Expmodel.SGST;
        ientry.CGST = Expmodel.CGST;
        ientry.IGST = Expmodel.IGST;
        ientry.TDS = Expmodel.TDS;
        ientry.BillReference = Expmodel.BillReference;
        model.Expenses.Add(ientry);

        decimal tvalue = 0;
        if (Expmodel.IGST == null)
        {
            tvalue = Expmodel.SGST.Value + Expmodel.CGST.Value;
        }
        else
        {
            tvalue = Expmodel.IGST.Value;
        }
        model.TotalAmount = model.TotalAmount + Expmodel.Amount +
                               tvalue;

        Expmodel = new();
        SelectedItems = new();
    }

    public void AddTaxItems()
    {

        TaxPurchaseItemModel ientry = new();
        ientry.ItemID = TaxItemModel.ItemID;
        ientry.ItemRate = TaxItemModel.ItemRate;
        ientry.ItemQty = TaxItemModel.ItemQty;
        ientry.CoaID = TaxItemModel.CoaID;
        ientry.SGST = TaxItemModel.SGST;
        ientry.CGST = TaxItemModel.CGST;
        ientry.IGST = TaxItemModel.IGST;
        ientry.TDS = TaxItemModel.TDS;
        ientry.Amount = TaxItemModel.Amount;



        model.Items.Add(ientry);
        decimal tvalue = 0;
        try
        {
            if (TaxItemModel.IGST == null)
            {
                tvalue = TaxItemModel.SGST.Value + TaxItemModel.CGST.Value;
            }
            else
            {
                tvalue = TaxItemModel.IGST.Value;
            }
        }
        catch (Exception ex)
        { }
        model.TotalAmount = model.TotalAmount + TaxItemModel.Amount +
                               tvalue;
        TaxItemModel = new();
        // itm = new();
    }

    private void getBranch(PartyModel party)
    {
        // int values = int.Parse(e.Value.ToString());
        //SelectedParty = party;
        if (party != null)
        {
            partybranch = partyBranchIservice.SelectByParty(party.PartyID).ToList();
        }
        else
        {
            partybranch = new();
        }
        // snackbar.Add("Saved Successfully", Severity.Success);
    }
    private void UsageChanged(GstUsageIDModel igm)
    {
        Expmodel = new();
        Expmodel.UsageID=igm.UsageID;
        Expmodel.CoaID = igm.AccountID;
        SelectedItems.UsageID = igm.UsageID;

    }

    private async Task taxRates()
    {
        if(SelectedItems.UsageID!=null)
        {
            if(model.PartyBranchInfo==null)
            {
                snackbar.Add("select party Branch", Severity.Success);
                return;
            }

            decimal? taxRate =(decimal)usageIservice.GetGstRate(Expmodel.UsageID,DateTime.Now);
            decimal? tdsRate =(decimal)tdsIService.GetTdsRate(model.PartyBranchInfo.PartyID.Value,Expmodel.CoaID.Value);


            BranchModel br = await branchIservice.SelectByID(brancID);

            string partyGstNo = (model.PartyBranchInfo.GstNo).Substring(0,2);
            string branchGstNo = (br.GstNo).Substring(0,2);

            if(partyGstNo==branchGstNo)
            {

                Expmodel.IGST = (Expmodel.Amount * taxRate)/100;

            }
            else
            {
                taxRate = taxRate / 2;
                Expmodel.SGST =  (Expmodel.Amount * taxRate)/100;
                Expmodel.CGST =  (Expmodel.Amount * taxRate)/100;
            }



            Expmodel.TDS=(Expmodel.Amount * tdsRate)/100;

        }

    }
    private void getitemCode(InventoryItemModel item)
    {
        SelectedPurchaseItems = item;


        if (item != null)
        {
            TaxItemModel.ItemID = item.InventoryItemID;
            InventoryGroupModel igm = inventoryGroupIservice.SelectByID(item.InventoryGroupID);
            if (model.NonStoreInventory == true)
            {
                TaxItemModel.CoaID = igm.MappedNonInventoryPurchaseHead;
            }
            else
            {
                TaxItemModel.CoaID = igm.MappedPurchaseHead;
            }

            //  TaxItemModel.CoaID = igm.MappedPurchaseHead;
            //decimal gstrate = 0;
            //try
            //{
            //    gstrate = getgstrate(item.InventoryItemID.Value);
            //}
            //catch (Exception e)
            //{
            //    gstrate = 0;
            //}
            //Entrymodel.ItemGstVal = gstrate;
        }
        else
        {
            TaxItemModel.ItemID = null;
        }

    }

    private async Task calcAmount()
    {


        if(TaxItemModel.ItemQty==null)
        {
            TaxItemModel.ItemQty = 0;
        }
        if(TaxItemModel.ItemRate==null)
        {
            TaxItemModel.ItemRate = 0;
        }
        TaxItemModel.Amount = TaxItemModel.ItemQty * TaxItemModel.ItemRate;
        if( TaxItemModel.Amount!=0) 
        {

            GstItemModel gstItem =gstitemIservice.SelectByItem(TaxItemModel.ItemID.Value,DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            decimal? tdsRate =(decimal)tdsIService.GetTdsRate(model.PartyBranchInfo.PartyID.Value,TaxItemModel.CoaID.Value);


            BranchModel br = await branchIservice.SelectByID(brancID);

            string partyGstNo = (model.PartyBranchInfo.GstNo).Substring(0,2);
            string branchGstNo = (br.GstNo).Substring(0,2);

            if(partyGstNo==branchGstNo)
            {

                TaxItemModel.IGST = (TaxItemModel.Amount * taxRate)/100;

            }
            else
            {
                taxRate = taxRate / 2;
                TaxItemModel.SGST =  (TaxItemModel.Amount * taxRate)/100;
                TaxItemModel.CGST =  (TaxItemModel.Amount * taxRate)/100;

            }

            TaxItemModel.TDS=(TaxItemModel.Amount * tdsRate)/100;

        }


    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task OnValidSubmit(EditContext context)
    {
        model.Expenses=exitems;  
        model.Items=TxItitems;  
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);
            model = new TaxPurchaseModel();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

    }

    private void DeleteExpenses(TaxPurchaseExpenseModel i)
    {
         decimal gstrate = 0;
        if(i.IGST==null)
        {
            i.IGST = 0;
        }
         if(i.SGST==null)
        {
            i.SGST = 0;
        }
         if(i.CGST==null)
        {
            i.CGST = 0;
        }
       
        gstrate = (i.CGST.Value)+(i.SGST.Value)+(i.IGST.Value);
        decimal total = i.Amount.Value+gstrate;

        model.TotalAmount = model.TotalAmount - total;
        int rowIndex = exitems.IndexOf(i);
        exitems.RemoveAt(rowIndex);
    }

    private void DeleteItem(TaxPurchaseItemModel i)
    {
        decimal gstrate = 0;
        if(i.IGST==null)
        {
            i.IGST = 0;
        }
         if(i.SGST==null)
        {
            i.SGST = 0;
        }
         if(i.CGST==null)
        {
            i.CGST = 0;
        }
       
        gstrate = (i.CGST.Value)+(i.SGST.Value)+(i.IGST.Value);
    

    decimal total = i.Amount.Value+gstrate;

    model.TotalAmount = model.TotalAmount - total;
    
    int rowIndex = TxItitems.IndexOf(i);
    TxItitems.RemoveAt(rowIndex);
    }

     public class CustomStringToBoolConverter : BoolConverter<string>
    {

        public CustomStringToBoolConverter()
        {
            SetFunc = OnSet;
            GetFunc = OnGet;
        }

        private string TrueString = "Cash";
        private string FalseString = "Credit";
        private string NullString = "Error";

        private string OnGet(bool? value)
        {
            try
            {
                return (value == true) ? TrueString : FalseString;
            }
            catch (Exception e)
            {
                UpdateGetError("Conversion error: " + e.Message);
                return NullString;
            }
        }

        private bool? OnSet(string arg)
        {
            if (arg == null)
                return null;
            try
            {
                if (arg == TrueString)
                    return true;
                if (arg == FalseString)
                    return false;
                else
                    return null;
            }
            catch (FormatException e)
            {
                UpdateSetError("Conversion error: " + e.Message);
                return null;
            }
        }

    }
}
