@inject ITaxPurchaseService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject IGstItemService gstitemIservice
@inject ICostCenterService costIservice
@inject IInventoryGroupService inventoryGroupIservice
@inject IDimensionService dimensionIservice
@inject IGstUsageIDService usageIservice
@inject IInventoryGrnService grnIservice
@inject IBranchService branchIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Tax Purchase
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="6">
                        <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="Supplier"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="IsReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="2">
                        @* <MudCheckBox @bind-Checked="model.IsCredit" Color="Color.Primary" For="@(() => model.IsCredit)">Credit</MudCheckBox>*@
                        <MudSwitch ReadOnly="IsReadOnly" @bind-Checked="customstr" Color="Color.Primary" Converter="@(new CustomStringToBoolConverter())"> @(customstr)</MudSwitch>


                    </MudItem>

                    <MudItem xs="12" md="3">
                        <MudDatePicker ReadOnly="IsReadOnly" Label="Invoice Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.InvoiceDate" />
                    </MudItem>
                    <MudItem xs="12" md="3">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.InvoiceNo" Label="InvoiceNo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InvoiceNo)"></MudTextField>

                        </MudItem>
                        <MudItem xs="12" md="3">
                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.AdditionalTDS" Label="Additional TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalTDS)"></MudTextField>

                    </MudItem>
                    @*<MudItem xs="12" md="3">
                    <MudCheckBox @bind-Checked="model.NonStoreInventory" For="@(() => model.NonStoreInventory)" ReadOnly=true Color="Color.Primary">NonStoreInventory</MudCheckBox>

                    </MudItem>*@

                    @* <MudItem xs="12" md="4">
                    <MudTextField @bind-Value="model.DocumentNumber" ReadOnly ="true" Label="DocumentNo" Variant="Variant.Outlined"  Margin="Margin.Dense" For="@(() => model.DocumentNumber)"></MudTextField>

                    </MudItem>*@
                    <MudItem xs="12" md="3">
                        <MudTextField @bind-Value="model.TotalAmount" ReadOnly="true" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>Expenses</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                @* <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th>@model.TotalValue</th>
                                </tr>*@
                                <tr>

                                  @*  <th>Branch</th>*@
                                    <th width="150px" colspan="2">UsageID</th>

                                    <th colspan="1">Amount</th>
                                    @*   <th>SGST</th>
                                    <th>CGST</th>
                                    <th>IGST</th>
                                    <th>TDS</th>*@
                                    <th width="150px" colspan="2">Bill</th>
                                    <th colspan="1"></th>
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in exitems)
                                {
                                    <tr>
                                       
                                      @*  <td>@item.BranchID</td>*@
                                        <td colspan="2">@item.UsageCode</td>

                                        <td colspan="1">@item.Amount</td>
                                        @*  <td>@item.SGST</td>
                                    <td>@item.CGST</td>
                                    <td>@item.IGST</td>
                                    <td>@item.TCS</td>*@
                                        <td colspan="2">@item.BillReference</td>
                                        <td colspan="2">
                                           @if (!IsReadOnly)
                                            {
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                                <MudFab Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" IconSize="Size.Small" />
                                            }
                                        </td>

                                    </tr>
                                }
                                @if (!IsReadOnly)
                                {
                                    <tr>
                                        @*  <td>

                                          <MudSelect Label="Select UsageID" @bind-Value="Expmodel.UsageID" T="st?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in dimension)
                                            {
                                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                            }
                                        </MudSelect>
                                        </td>*@
                                        <td colspan="2">
                                            @*  <MudSelect Label="Items" Value="SelectedItems" T="GstUsageCodeModel" ValueChanged="UsageChanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e?.UsageCode)" >
                                        @foreach (var ditem in usageID)
                                        {
                                        <MudSelectItem Value="@ditem">@ditem.UsageCode</MudSelectItem>
                                        }
                                        </MudSelect>*@
                                            <UsageCodeSelector @bind-Value=gstusge></UsageCodeSelector>
                                        </td>

                                        <td colspan="1">
                                            <MudTextField Label="Amount" @bind-Value="Expmodel.Amount" TextChanged="taxRates" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.Amount)"></MudTextField>

                                        </td>
                                        <td colspan="3">
                                            <MudTextField Label="Bill Reference" @bind-Value="Expmodel.BillReference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.BillReference)"></MudTextField>

                                        </td>
                                      @*  <td>
                                                <MudTextField Label="SGST" @bind-Value="Expmodel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.SGST)"></MudTextField>
                                            </td>

                                            <td>
                                                <MudTextField Label="CGST" @bind-Value="Expmodel.CGST"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.CGST)"></MudTextField>

                                            </td>*@
                                        <td>

                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                                @*    <tr>*@
                                        @*<td >
                                            <MudTextField Label="IGST" @bind-Value="Expmodel.IGST"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.IGST)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField Label="TDS" @bind-Value="Expmodel.TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Expmodel.TDS)"></MudTextField>

                                        </td>*@
                                       
                                   @*    
                                    </tr>*@
                                    }
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    <MudItem xs="12" md="12">
                        <h6>TaxPurchaseItems</h6>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                                @* <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th>@model.TotalValue</th>
                                </tr>*@
                                <tr>

                                  @*  <th>Branch</th>*@
                                    <th width="200px" colspan="2">ItemID</th>
                                    <th colspan="1">ItemRate</th>
                                    <th colspan="1">ItemQty</th>

                                    <th colspan="1">Amount</th>
                                 
                                    <th></th>
                                    <th>TaxRates</th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in TxItitems)
                                {
                                    <tr>
                                       
                                      @*  <td>@item.BranchID</td>
                                        <td>@item.ItemID</td>*@
                                        <td style="width:200px" colspan="2">@(itm.First(x => x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                                        <td colspan="1">@item.ItemRate</td>
                                        <td colspan="1">@item.ItemQty</td>

                                        <td colspan="1">@item.Amount</td>
                                      @*  <td>@item.SGST</td>
                                        <td>@item.CGST</td>
                                        <td>@item.IGST</td>
                                        <td>@item.TDS</td>*@
                                       
                                        <td colspan="2">

                                            @*  @if (model.ApprovedInfo.RecordStatus != 3)*@
                                            @if (!IsReadOnly)
                                            {
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteItem(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                                    <MudFab Color="Color.Info" @onclick="@(()=> OpenDialogTax2Rates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" IconSize="Size.Small" />
                                             }
                                        </td>

                                    </tr>
                                }
                                @if (!IsReadOnly)
                                {
                                    <tr>
                                        @*  <td>

                                    <MudSelect Label="Select UsageID" @bind-Value="Expmodel.UsageID" T="st?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                    @foreach (var ditem in dimension)
                                    {
                                    <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                    }
                                    </MudSelect>
                                    </td>*@
                                        <td colspan="2">
                                            <ItemSelector Value="SelectedPurchaseItems" ValueChanged="@((InventoryItemModel newValue) => getitemCode(newValue))" />
                                        </td>
                                        
                                    @*<td colspan="2">
                                    <MudAutocomplete T="InventoryItemModel" ValueChanged="getitemCode" Value="SelectedPurchaseItems" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Items" ResetValueOnEmptyText="true"
                                    SearchFunc="@SearchItems" ToStringFunc="@(e => e==null?string.Empty:e?.InventoryItemCode)"></MudAutocomplete>

                                        </td>*@
                                        <td colspan="1">
                                            <MudTextField Label="Item Rate" @bind-Value="TaxItemModel.ItemRate" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemRate)"></MudTextField>

                                        </td>
                                        <td colspan="1">
                                            <MudTextField Label="Quantity" @bind-Value="TaxItemModel.ItemQty" TextChanged="calcAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.ItemQty)"></MudTextField>

                                        </td>

                                        <td colspan="1">
                                            <MudTextField Label="Amount" @bind-Value="TaxItemModel.Amount" ReadOnly="true" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.Amount)"></MudTextField>

                                        </td>
                                        <td>

                                            <MudFab OnClick="AddTaxItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                        </tr>
                                    
                                     @*   <td>
                                            <MudTextField Label="SGST" @bind-Value="TaxItemModel.SGST"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.SGST)"></MudTextField>
                                        </td>
                                        <td colspan="2">
                                            <MudTextField Label="CGST" @bind-Value="TaxItemModel.CGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.CGST)"></MudTextField>

                                        </td>
                                        <td colspan="2">
                                            <MudTextField Label="IGST" @bind-Value="TaxItemModel.IGST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.IGST)"></MudTextField>

                                        </td>
                                        <td colspan="2">
                                            <MudTextField Label="TDS" @bind-Value="TaxItemModel.TDS" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TaxItemModel.TDS)"></MudTextField>

                                        </td>*@
                                          
                             @*         
                                    </tr>*@
                                    }
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>

                    <MudItem xs="12">
                        @if ((IsReadOnly) && (!IsView))
                        {
                            <AutherizationStatusComponent DocTypeID="9" DocumentID="model.PID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                        }

                    </MudItem>

                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @* @if(model.ApprovedInfo.RecordStatus!=3 && model.ApprovedInfo.RecordStatus!=1)*@
        @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>
            <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>



@code {
    [Parameter]
    public TaxPurchaseModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<TaxPurchaseModel> collection = new List<TaxPurchaseModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    private PartyModel SelectedParty = new();
    private List<PartyModel> partyList = new();
    private List<GstUsageCodeModel> usageID = new();
    private List<CostCenterModel> costCenter = new();
    public GstUsageCodeModel gstusge = new();
    private List<DimensionModel> dimension = new();
    public GstUsageCodeModel SelectedItems = new();
    public InventoryItemModel SelectedPurchaseItems = new();
    private List<TaxPurchaseExpenseModel> exitems = new List<TaxPurchaseExpenseModel>();
    private List<TaxPurchaseItemModel> TxItitems = new List<TaxPurchaseItemModel>();
    private List<InventoryItemModel> itm = new();
    private List<InventoryItemEntryModel> iitem = new();
    private static int brancID;
    private TaxPurchaseExpenseModel Expmodel = new TaxPurchaseExpenseModel();
    private TaxPurchaseItemModel TaxItemModel = new TaxPurchaseItemModel();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    public string customstr { get; set; } = "Cash";
    private GstModel taxModel = new GstModel();

    private async Task OpenDialogTaxRates(TaxPurchaseExpenseModel i)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        taxModel.Cgst = i.CGST;
        taxModel.Igst = i.IGST;
        taxModel.TDS = i.TDS;
        taxModel.Sgst = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("IsReadOnly", true);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
    }
    private async Task OpenDialogTax2Rates(TaxPurchaseItemModel i)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        taxModel.Cgst = i.CGST;
        taxModel.Igst = i.IGST;
        taxModel.TDS = i.TDS;
        taxModel.Sgst = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("IsReadOnly", true);
        var dialog = DialogService.Show<TaxRatedialog>(i.PID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
    }
      protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            Iservice.Approve(model.PID, model.UserInfo.UserID, aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        brancID = int.Parse(brancIDString);
        model.BranchID = brancID;
        model.NonStoreInventory = true;
        model.NatureOfTransaction = "TaxPurchase";
        model.TotalAmount = 0;
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        if (model.GRNID == null)
        {
            model.NonStoreInventory = false;
            //model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            if (model.TotalAmount == null)
            {
                model.TotalAmount = 0;
                if (model.IsCredit == false)
                {
                    customstr = "Credit";
                }
            }
        }
        else
        {
            model.NonStoreInventory = true;
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            iitem = grnIservice.GetItemEntries(model.GRNID.Value).ToList();
            foreach (var item in iitem)
            {
                TaxPurchaseItemModel tpi = new();
                tpi.ItemID = item.ItemID;
                tpi.ItemQty = item.ItemQty;
                tpi.ItemRate = item.ItemRate;
                tpi.Amount = item.ItemQty * item.ItemRate;
                InventoryItemModel iim = itemIservice.SelectByID(item.ItemID);
                InventoryGroupModel igm = inventoryGroupIservice.SelectByID(iim.InventoryGroupID);

                tpi.CoaID = igm.MappedNonInventoryPurchaseHead;
                GstItemModel gstItem = gstitemIservice.SelectByItem(item.ItemID.Value, DateTime.Now);
                decimal? taxRate = gstItem.TaxRate;
                tpi.GstRate = taxRate;
                decimal? tdsRate = 0;
                try
                {
                    tdsRate = (decimal)tdsIService.GetTdsRate(model.PartyInfo.PartyID.Value, tpi.CoaID.Value);

                }
                catch (Exception ex)
                {
                    tdsRate = 0;
                }

                BranchModel br = branchIservice.SelectByID(brancID);
                string partyGstNo = null;
                try
                {
                    partyGstNo = (model.PartyInfo.GstNo).Substring(0, 2);
                }
                catch
                {
                    partyGstNo = null;
                }
                string branchGstNo = (br.GstNo).Substring(0, 2);

                if (partyGstNo == branchGstNo)
                {
                    tpi.IGST = (tpi.Amount * taxRate) / 100;
                }
                else
                {
                    taxRate = taxRate / 2;
                    tpi.SGST = (tpi.Amount * taxRate) / 100;
                    tpi.CGST = (tpi.Amount * taxRate) / 100;

                }

                tpi.TDS = (tpi.Amount * tdsRate) / 100;
                if (tpi.IGST == null)
                {
                    tpi.IGST = 0;
                }
                if (tpi.SGST == null)
                {
                    tpi.SGST = 0;
                }
                if (tpi.CGST == null)
                {
                    tpi.CGST = 0;
                }


                TxItitems.Add(tpi);
                model.TotalAmount = model.TotalAmount + tpi.Amount + tpi.CGST +
                tpi.SGST + tpi.IGST + tpi.TDS;
            }
            // model.Items = TxItitems;

        }

        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        usageID = usageIservice.Select(DateTime.Now).ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();

        if (model.PID != null)
        {
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            exitems = Iservice.GetExpenses(model.PID).ToList();
            TxItitems = Iservice.GetItems(model.PID).ToList();
        }

    }

    private async Task<IEnumerable<InventoryItemModel>> SearchItems(string searchString)
    {
        return await Task.FromResult(itm.Where(x => x.InventoryItemCode.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    public void AddItems()
    {
        //TaxPurchaseExpenseModel ientry = new();
        //ientry.BranchID = brancID;
        //ientry.UsageCode = Expmodel.UsageCode;
        //ientry.CoaID = Expmodel.CoaID;
        //ientry.Amount = Expmodel.Amount;
        //ientry.SGST = Expmodel.SGST;
        //ientry.CGST = Expmodel.CGST;
        //ientry.IGST = Expmodel.IGST;
        //ientry.TDS = Expmodel.TDS;
        //ientry.BillReference = Expmodel.BillReference;
        Expmodel.UsageCode = gstusge.UsageCode;
        Expmodel.CoaID = gstusge.CoaID;
        Expmodel.BranchID = brancID;
        exitems.Add(Expmodel);

        decimal tvalue = 0;
        if (Expmodel.IGST == null)
        {
            tvalue = Expmodel.SGST.Value + Expmodel.CGST.Value;
        }
        else
        {
            tvalue = Expmodel.IGST.Value;
        }

        model.TotalAmount = model.TotalAmount + Expmodel.Amount +
                               tvalue;

        Expmodel = new();
        SelectedItems = new();
    }

    public void AddTaxItems()
    {

        //TaxPurchaseItemModel ientry = new();
        //ientry.ItemID = TaxItemModel.ItemID;
        //ientry.ItemRate = TaxItemModel.ItemRate;
        //ientry.ItemQty = TaxItemModel.ItemQty;
        //ientry.CoaID = TaxItemModel.CoaID;
        //ientry.SGST = TaxItemModel.SGST;
        //ientry.CGST = TaxItemModel.CGST;
        //ientry.IGST = TaxItemModel.IGST;
        //ientry.TDS = TaxItemModel.TDS;
        //ientry.Amount = TaxItemModel.Amount;



        TxItitems.Add(TaxItemModel);
        decimal tvalue = 0;
        try
        {
            if (TaxItemModel.IGST == null)
            {
                tvalue = TaxItemModel.SGST.Value + TaxItemModel.CGST.Value;
            }
            else
            {
                tvalue = TaxItemModel.IGST.Value;
            }
        }
        catch (Exception ex)
        { }
        model.TotalAmount = model.TotalAmount + TaxItemModel.Amount +
                               tvalue;
        TaxItemModel = new();
        // itm = new();
    }
    private void UsageChanged(GstUsageCodeModel igm)
    {
        Expmodel = new();
        Expmodel.UsageCode = igm.UsageCode;
        Expmodel.CoaID = igm.CoaID;
        SelectedItems.UsageCode = igm.UsageCode;

    }

    private async Task taxRates()
    {
        if (gstusge.UsageCode != null)
        {
            if (model.PartyInfo == null)
            {
                snackbar.Add("select party", Severity.Success);
                return;
            }

            decimal? taxRate = (decimal)usageIservice.GetGstRate(gstusge.UsageCode, DateTime.Now);
            decimal? tdsRate = 0;
            Expmodel.GstRate = taxRate;
            try
            {
                tdsRate = (decimal)tdsIService.GetTdsRate(model.PartyInfo.PartyID.Value, gstusge.CoaID.Value).Value;
            }
            catch (Exception ex)
            {
                tdsRate = 0;
            }

            BranchModel br = branchIservice.SelectByID(brancID);

            string partyGstNo = null;
            if (model.PartyInfo.GstNo != null)
            {
                partyGstNo = (model.PartyInfo.GstNo).Substring(0, 2);
            }
            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                Expmodel.IGST = (Expmodel.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                Expmodel.SGST = (Expmodel.Amount * taxRate) / 100;
                Expmodel.CGST = (Expmodel.Amount * taxRate) / 100;
            }



            Expmodel.TDS = (Expmodel.Amount * tdsRate) / 100;

        }

    }
    private void getitemCode(InventoryItemModel item)
    {


        if (item != null)
        {

            if (SelectedPurchaseItems != null && SelectedPurchaseItems.InventoryItemID == null)
            {
                SelectedPurchaseItems = item;
            }
            else
            {
                SelectedPurchaseItems = new InventoryItemModel();
            }

            TaxItemModel.ItemID = item.InventoryItemID;
            InventoryGroupModel igm = inventoryGroupIservice.SelectByID(item.InventoryGroupID);
            if (model.NonStoreInventory == true)
            {
                TaxItemModel.CoaID = igm.MappedNonInventoryPurchaseHead;
            }
            else
            {
                TaxItemModel.CoaID = igm.MappedPurchaseHead;
            }

            //  TaxItemModel.CoaID = igm.MappedPurchaseHead;
            //decimal gstrate = 0;
            //try
            //{
            //    gstrate = getgstrate(item.InventoryItemID.Value);
            //}
            //catch (Exception e)
            //{
            //    gstrate = 0;
            //}
            //Entrymodel.ItemGstVal = gstrate;
        }
        else
        {
            TaxItemModel.ItemID = null;
        }

    }

    private async Task calcAmount()
    {

        if (model.PartyInfo == null)
        {
            snackbar.Add("select party", Severity.Success);
            return;
        }
        if (TaxItemModel.ItemQty == null)
        {
            TaxItemModel.ItemQty = 0;
        }
        if (TaxItemModel.ItemRate == null)
        {
            TaxItemModel.ItemRate = 0;
        }
        TaxItemModel.Amount = TaxItemModel.ItemQty * TaxItemModel.ItemRate;
        if (TaxItemModel.Amount != 0)
        {

            GstItemModel gstItem = gstitemIservice.SelectByItem(TaxItemModel.ItemID.Value, DateTime.Now);
            decimal? taxRate = gstItem.TaxRate;
            TaxItemModel.GstRate = taxRate;
            decimal? tdsRate = 0;
            try
            {
                tdsRate = (decimal)tdsIService.GetTdsRate(model.PartyInfo.PartyID.Value, TaxItemModel.CoaID.Value);

            }
            catch (Exception ex)
            {
                tdsRate = 0;
            }


            BranchModel br = branchIservice.SelectByID(brancID);
            string partyGstNo = null;
            if (model.PartyInfo.GstNo != null)
            {
                partyGstNo = (model.PartyInfo.GstNo).Substring(0, 2);
            }

            string branchGstNo = (br.GstNo).Substring(0, 2);

            if (partyGstNo == branchGstNo)
            {

                TaxItemModel.IGST = (TaxItemModel.Amount * taxRate) / 100;

            }
            else
            {
                taxRate = taxRate / 2;
                TaxItemModel.SGST = (TaxItemModel.Amount * taxRate) / 100;
                TaxItemModel.CGST = (TaxItemModel.Amount * taxRate) / 100;

            }

            TaxItemModel.TDS = (TaxItemModel.Amount * tdsRate) / 100;

        }


    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task OnValidSubmit(EditContext context)
    {
        model.Expenses = exitems;
        model.Items = TxItitems;
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;

        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);
            // model = new TaxPurchaseModel();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        MudDialog.Close();
    }

    private void DeleteExpenses(TaxPurchaseExpenseModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TDS.Value);
        decimal total = i.Amount.Value + gstrate;

        model.TotalAmount = model.TotalAmount - total;
        int rowIndex = exitems.IndexOf(i);
        exitems.RemoveAt(rowIndex);
    }

    private void DeleteItem(TaxPurchaseItemModel i)
    {
        decimal gstrate = 0;
        if (i.IGST == null)
        {
            i.IGST = 0;
        }
        if (i.SGST == null)
        {
            i.SGST = 0;
        }
        if (i.CGST == null)
        {
            i.CGST = 0;
        }

        gstrate = (i.CGST.Value) + (i.SGST.Value) + (i.IGST.Value) + (i.TDS.Value);


        decimal total = i.Amount.Value + gstrate;

        model.TotalAmount = model.TotalAmount - total;

        int rowIndex = TxItitems.IndexOf(i);
        TxItitems.RemoveAt(rowIndex);
    }

    public class CustomStringToBoolConverter : BoolConverter<string>
    {

        public CustomStringToBoolConverter()
        {
            SetFunc = OnSet;
            GetFunc = OnGet;
        }

        private string TrueString = "Cash";
        private string FalseString = "Credit";
        private string NullString = "Error";

        private string OnGet(bool? value)
        {
            try
            {
                return (value == true) ? TrueString : FalseString;
            }
            catch (Exception e)
            {
                UpdateGetError("Conversion error: " + e.Message);
                return NullString;
            }
        }

        private bool? OnSet(string arg)
        {
            if (arg == null)
                return null;
            try
            {
                if (arg == TrueString)
                    return true;
                if (arg == FalseString)
                    return false;
                else
                    return null;
            }
            catch (FormatException e)
            {
                UpdateSetError("Conversion error: " + e.Message);
                return null;
            }
        }

    }
}
