@inherits DialogFormComponentBase<TdsTransactionModel>
@inject ItdsEntryService Iservice
@inject ITdsRateService tdsIService


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="TDS/TCS - Entries" formID="formTdsEntry" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm autocomplete="off" id="formTdsEntry" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="6" md="6">
                        <MudRadioGroup @bind-Value="@model.TdsType" ReadOnly="ReadOnly">
                            <MudRadio Value=@("TDS") Color="Color.Primary">TDS</MudRadio>
                            <MudRadio Value=@("TCS") Color="Color.Secondary">TCS</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="6" md="6">
                        <MudRadioGroup @bind-Value="@model.IsTdsPayable" ReadOnly="ReadOnly">
                            <MudRadio Value="@(true)" Color="Color.Primary">Payable</MudRadio>
                            <MudRadio Value="@(false)" Color="Color.Secondary">Receivable</MudRadio>
                       </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PartySelector Value="model.Party" For="@(()=> model.Party)" ValueChanged="PartyChanged" BranchID="BranchID" ></PartySelector>                        
                    </MudItem>                   
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                        <h6><u>Particulars</u></h6>
                        <div style="width: 1600px;" class="pb-3">
                            <MudGrid Justify="Justify.Center">
                                @if (model.Tds is not null && model.Tds.Any())
                                {
                                    <MudItem xs="3"><span class="HeadText">Tds Section</span></MudItem>
                                    <MudItem xs="2"><span class="HeadText">Invoice Date</span></MudItem>
                                    <MudItem xs="2"><span class="HeadText">Invoice Number</span></MudItem>
                                    <MudItem xs="2"><span class="HeadText">Taxable Amount</span></MudItem>
                                    <MudItem xs="1"><span class="HeadText">Rate Of Tds/Tcs</span></MudItem>
                                    <MudItem xs="1"><span class="HeadText">Tds/Tcs</span></MudItem>
                                    <MudItem xs="1"><span class="HeadText">Actions</span></MudItem>                                  
                                    @foreach (var item in model.Tds)
                                    {
                                        <MudItem xs="3">@item.TdsNP</MudItem>
                                          <MudItem xs="2">
                                            @item.InvoiceDate
                                        </MudItem>
                                        <MudItem xs="2">
                                            @item.InvoiceNumber
                                        </MudItem>
                                        <MudItem xs="2">
                                            @item.TaxableAmount
                                        </MudItem>
                                        <MudItem xs="1">
                                            @item.RateOfTds
                                        </MudItem>
                                        <MudItem xs="1">@item.TdsAmount</MudItem>                                       
                                        <MudItem xs="1">
                                            @if (!ReadOnly)
                                            {
                                                <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> DeleteRow(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                            }                                            
                                        </MudItem>
                                    }
                                }
                                @if (!ReadOnly)
                                {
                                    <MudItem xs="12" Class="d-flex gap-4">
                                        <MudSelect Label="Select Nature of payment" Value="_entryModel.TdsNpID" ValueChanged="TdsNPSelected" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in TdsNPs)
                                            {
                                                <MudSelectItem Value="@ditem.TdsNPID">@ditem.NatureOfPayment</MudSelectItem>
                                            }
                                        </MudSelect>
                                        <MudDatePicker ReadOnly="ReadOnly" Label="Invoice Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="_entryModel.InvoiceDate" For="@(() => _entryModel.InvoiceDate)" />
                                        <MudTextField ReadOnly="ReadOnly" @bind-Value="_entryModel.InvoiceNumber" Label="Invoice No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => _entryModel.InvoiceNumber)"></MudTextField>
                                        <MudNumericField HideSpinButtons Label="Taxable Amount" Value="@_entryModel.TaxableAmount" ValueChanged="TaxableAmountChanged" T ="decimal?"  Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                        <MudNumericField HideSpinButtons Label="TDS Rate" @bind-Value="@_entryModel.RateOfTds" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                        <MudNumericField HideSpinButtons Label="TDS Amount" @bind-Value="@_entryModel.TdsAmount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                                        <MudIconButton Title="Add" OnClick="ADD" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                                    </MudItem>
                                }
                            </MudGrid>
                        </div>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocumentID="@model.ID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>


@code {

    [Parameter]
    public override TdsTransactionModel model { get; set; }
    private TdsTransactionModel _model { get { return model; } set { model = value; DocInfo.DocumentID = value.ID; } }


    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 131,
            DocumentName = "TdsEntry"
        };

    private TdsTransactionEntryModel _entryModel = new();
    private List<NatureOfPaymentModel> TdsNPs = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        TdsNPs = tdsIService.SelectTdsNP().ToList();
        if (model.ID == null)
        {                        
            model.BranchID = BranchID;
            if (model.Party != null)
                PartyChanged(model.Party);
        }
        else
        {
            model.Party = partyService.SelectByID(model.Party.PartyID);            
            model.Tds = Iservice.GetEntries(model.ID).ToList();
        }
        model.NatureOfTransaction = "TdsEntry";
    }

    private void TdsNPSelected(int? val)
    {
        _entryModel.TdsNpID = val;
        _entryModel.TdsNP = TdsNPs.FirstOrDefault(x => x.TdsNPID == val)?.NatureOfPayment;      
        if(model.IsTdsPayable)
        {
            SetTds(_entryModel);
        }
    }

    private void TaxableAmountChanged(decimal? val)
    {
        _entryModel.TaxableAmount = val;
        if (model.IsTdsPayable)
        {
            SetTds(_entryModel);
        }
    }

    void SetTotal()
    {
        model.TotalAmount = model.Tds.Sum(x => x.TdsAmount);
    }

    void PartyChanged(PartyModel party)
    {
        model.Party = party;
        if (party is not null)
            model.PartyCoaID = partyService.GetPartyDefaultCoaID(model.Party?.PartyID);
        else
            model.PartyCoaID = null;
    }

    protected override async Task<int> Update(TdsTransactionModel editModel)
    {
        if (await validate(model))
        {
            model = Iservice.Update(model);
            return model.ID.Value;
        }
        return 0;
    }

    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.ID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    async Task<bool> validate(TdsTransactionModel editModel)
    {
        return true;
    }

    private void ADD()
    {
        if (model.Tds is null)
        {
            model.Tds = new();
        }
        editContext = new EditContext(_entryModel);
        editContext.EnableDataAnnotationsValidation();       

        if ( editContext.Validate())
        {
            model.Tds.Add((TdsTransactionEntryModel)_entryModel);
            SetTotal();
            _entryModel = new();            
        }
        else
        {
            editContext.NotifyValidationStateChanged();
        }
    }   

    private void DeleteRow(TdsTransactionEntryModel i)
    {
        int rowIndex = model.Tds.IndexOf(i);
        model.Tds.RemoveAt(rowIndex);
        SetTotal();
    }

    private void SetTds(TdsTransactionEntryModel e)
    {
        if (e.TaxableAmount is not null && e.TdsNpID is not null && model.Party is not null)
        {
            e.RateOfTds = tdsIService.GetTdsRate2(model.Party.PartyID, e.TdsNpID);
            e.TdsAmount = Math.Round((e.TaxableAmount.Value * e.RateOfTds.Value / 100), MidpointRounding.AwayFromZero);
        }
        else
        {
            e.RateOfTds = null;
            e.TdsAmount = null;
        }
    }
}