@page "/TdsReceivable"
@page "/TdsReceivable/{id:int}"
@inherits ViewComponentBase<TdsTransactionModel>
@inject ItdsEntryService Iservice

<MudTable Items="@collection" RowsPerPage="10" Dense="true" Hover="true" Striped="true" Elevation="10">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Tds Payable/Receivable</MudText>
        <MudTooltip Text="New Entry">
            <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new TdsTransactionModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        </MudTooltip>       
        <MudSpacer></MudSpacer>
        <MudTextField @bind-Value="searchTerm" Placeholder="Search..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
        </MudTextField>
        <div class="tablefont">
            <span style="margin-right: 10px;">Maximum Records: </span>
        </div>
        <MudItem xs="1">
            <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
        </MudItem>
        <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ToggleData(value))" Value="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
    </ToolBarContent>
    <HeaderContent>        
        <MudTh><MudTableSortLabel SortBy="new Func<TdsTransactionModel, object>(x=> x.Party.TradeName)" >Party Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TdsTransactionModel, object>(x=> x.DocumentDate)" >Document Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TdsTransactionModel, object>(x=> x.ID)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TdsTransactionModel, object>(x=> x.TotalAmount)"> Total Amount</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>        
        <MudTd DataLabel="TradeName">@context.Party.TradeName</MudTd>
        <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="DocumentNumber">@context.DocumentNumber
            @if (context.AuthLevelId == 100)
            {
                <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
            }
        </MudTd>
        <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />           
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.ID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />
            @if (@context.AuthLevelId == 99)
            {
                <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.ID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
            }
            else if (@context.AuthLevelId != 100)
            {
                <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
    </PagerContent>
</MudTable>

@code {

    protected override List<TdsTransactionModel> collection { get; set; } = new List<TdsTransactionModel>();
    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 131,
            DocumentName = "TdsEntry"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (id != null && collection != null && collection.Any(g => g.ID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.ID == id), true);
        }
    }

    protected override async Task OpenForm(TdsTransactionModel ppm, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<TdsEntryDialog>(ppm.ID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var ReturnData = (TdsTransactionModel)result.Data;
            LoadData(ShowApproved, NumberOfRecords);
        }
       
        await Task.Delay(200);
        _busy = false;
    }
}