@inject IBranchService ibranch

<MudDialog>
    <TitleContent>
        <h4>Select Branches</h4>
    </TitleContent>
    <DialogContent>
        <MudTabs>

            <MudTabPanel Text="Branches">
                <MudGrid Class="p-2">
                    <MudItem xs="12" Class="m-0 p-0 d-flex">
                        <MudCheckBox Disabled="@(!EnableSelector)" Value="SelectAll" ValueChanged="SelectAllChanged" T="bool" Size="Size.Medium" Color="Color.Tertiary">
                            <b>SELECT ALL</b>
                        </MudCheckBox>
                        <MudCheckBox Value="SelectAllSubs" ValueChanged="SelectAllSubsChanged" T="bool" Size="Size.Medium" Color="Color.Tertiary">
                            <b>SELECT ALL SUB-BRANCHES</b>
                        </MudCheckBox>
                    </MudItem>

                    @foreach (var item in AllBranches)
                    {
                        <MudItem xs="12" md="3" xl="3" Class="m-0 p-0">
                            <MudCheckBox Disabled="@(!EnableSelector)"
                                         T="bool"
                                         Value="@(UpdatedBranches.Contains(item.BranchID.Value))"
                                         ValueChanged="@((e) => CheckedChanged(e, item.BranchID.Value))"
                                         Label="@item.BranchName"
                                         Color="Color.Primary" />
                        </MudItem>
                    }
                </MudGrid>
            </MudTabPanel>

            <MudTabPanel Text="GST No">
                <MudGrid Class="p-2">
                    @foreach (var group in BranchesByGst)
                    {
                        <MudItem xs="12">
                            <MudPaper Class="p-2 my-2">
                                <MudCheckBox T="bool"
                                             Label=@($"GST: {group.Key}")
                                             Value="@IsGstGroupSelected(group.Value)"
                                             ValueChanged="@((val) => SelectByGst(val, group.Value))"
                                             Color="Color.Secondary" />
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            </MudTabPanel>

        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton Style="margin-right:18px; margin-bottom:18px;" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Success" OnClick="@Submit">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }

    [Parameter] public List<int> SelectedBranches { get; set; }
    [Parameter] public bool EnableSelector { get; set; } = true;

    List<int> UpdatedBranches = new();
    List<BranchModel> AllBranches = new();
    Dictionary<string, List<BranchModel>> BranchesByGst = new();
    bool SelectAll;
    bool SelectAllSubs;

    protected override void OnInitialized()
    {
        AllBranches = ibranch.Select().ToList();

        foreach (var item in SelectedBranches)
            UpdatedBranches.Add(item);

        BranchesByGst = AllBranches
            .Where(b => !string.IsNullOrWhiteSpace(b.GstNo))
            .GroupBy(b => b.GstNo)
            .ToDictionary(g => g.Key, g => g.ToList());

        SetSelectAll();
    }

    void SetSelectAll()
    {
        SelectAll = UpdatedBranches.Count == AllBranches.Count;
    }

    void CheckedChanged(bool val, int branchId)
    {
        if (val)
        {
            if (!UpdatedBranches.Contains(branchId))
                UpdatedBranches.Add(branchId);
        }
        else
        {
            UpdatedBranches.Remove(branchId);
        }
        SetSelectAll();
    }

    void SelectAllChanged(bool val)
    {
        SelectAll = val;
        if (val)
        {
            UpdatedBranches = AllBranches.Select(b => b.BranchID.Value).ToList();
        }
        else
        {
            UpdatedBranches.Clear();
        }
    }

    void SelectAllSubsChanged(bool val)
    {
        SelectAllSubs = val;
        UpdatedBranches.Clear();
        if (val && SelectedBranches.Any())
        {
            List<int?> subs = ibranch.SelectSubBranches(SelectedBranches.First()).ToList();
            foreach (var id in subs.Where(x => x.HasValue).Select(x => x.Value))
                UpdatedBranches.Add(id);
        }
    }

    bool IsGstGroupSelected(List<BranchModel> group)
    {
        return group.All(b => UpdatedBranches.Contains(b.BranchID.Value));
    }

    void SelectByGst(bool isSelected, List<BranchModel> group)
    {
        var ids = group.Select(b => b.BranchID.Value);
        if (isSelected)
        {
            foreach (var id in ids)
            {
                if (!UpdatedBranches.Contains(id))
                    UpdatedBranches.Add(id);
            }
        }
        else
        {
            UpdatedBranches = UpdatedBranches.Except(ids).ToList();
        }
        SetSelectAll();
    }

    void Submit()
    {
        MudDialog.Close(UpdatedBranches);
    }
}
