@inject IBranchService ibranch


    <MudDialog>
        <TitleContent>
            <h4>Select Branches</h4>
        </TitleContent>
        <DialogContent>
            <MudGrid Class="p-2">
                <MudItem xs="12" Class="m-0 p-0">
                <MudCheckBox Disabled="@(!EnableSelector)" Checked="SelectAll" CheckedChanged="SelectAllChanged" T="bool" Size="Size.Medium" Color="Color.Tertiary"><B>SELECT ALL</B></MudCheckBox>
                </MudItem>
                @foreach (var item in AllBranches)
                {
                    <MudItem xs="12" md="3" xl="3" Class="m-0 p-0">
                        <MudCheckBox Disabled="@(!EnableSelector)" T="bool" Checked="@(UpdatedBranches.Any(x =>  x == item.BranchID.Value))" CheckedChanged="@((e)=> CheckedChanged(e,item.BranchID.Value))" Label="@item.BranchName" Color="Color.Primary"></MudCheckBox>
                    </MudItem>
                }
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton Style="margin-right:18px; margin-bottom:18px;" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Success" OnClick="@Submit"> Submit</MudButton>
        </DialogActions>
    </MudDialog>
}

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public List<int> SelectedBranches { get; set; }
    [Parameter]
    public bool EnableSelector { get; set; } = true;

    List<int> UpdatedBranches = new();
    List<BranchModel> AllBranches = new();
    bool SelectAll;

    protected override void OnInitialized()
    {
        AllBranches = ibranch.Select().ToList();

        foreach (var item in SelectedBranches)
        {
            UpdatedBranches.Add(item);
        }
        SetSelectAll();
    }

    void SetSelectAll()
    {
        SelectAll = UpdatedBranches.Count == AllBranches.Count;
    }

    void CheckedChanged(bool val, int BranchID)
    {
        if (val)
        {
            UpdatedBranches.Add(BranchID);
        }
        else
        {
            UpdatedBranches.Remove(BranchID);
        }
        SetSelectAll();
    }

    void Submit()
    {
        MudDialog.Close(UpdatedBranches);
    }

    void SelectAllChanged(bool val)
    {
        SelectAll = val;
        if (val)
        {
            foreach (var item in AllBranches.Select(x => x.BranchID.Value).Except(UpdatedBranches))
            {
                UpdatedBranches.Add(item);
            }
        }
        else
        {
            UpdatedBranches.Clear();
        }
    }
}