@page "/InventoryGroup"
@inject IInventoryGroupService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService





<MudGrid Spacing="4">
   <MudItem xs="6">
        <MudTable Items="@collection"  Dense="true" Hover="true"  Striped="true" Elevation="10" Filter="new Func<InventoryGroupModel, bool>(search)" @bind-place="model">
           

             <ToolBarContent>
                <MudText Typo="Typo.h6">Inventory Group</MudText>
                
                
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchInventory" Placeholder="Search Inventory Group... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<InventoryGroupModel, object>(x=> x.InventoryGroupID)" InitialDirection="SortDirection.Ascending">ID</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<InventoryGroupModel, object>(x=> x.InventoryGroupName)" InitialDirection="SortDirection.Ascending">GroupName</MudTableSortLabel></MudTh>
             
                
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="UsageID">@context.InventoryGroupID</MudTd>
                <MudTd DataLabel="AccountID">@context.InventoryGroupName</MudTd>
               
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
     <MudItem xs="6">
         <MudPaper Elevation="2" Class="pa-2">
     
    
        
         <MudContainer Style="min-height:300px;max-height: 800px;">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                     <MudItem xs="12" md="12">
        
                   <h4>Add Inventory Group</h4>
        
                    </MudItem>
                     <MudItem xs="12" md="12">
                         
                        <MudTextField  @bind-Value="model.InventoryGroupName" Label="Group Name" Variant="Variant.Outlined" Margin="Margin.Normal" For="@(() => model.InventoryGroupName)"></MudTextField>
                         
                    </MudItem>
                     <MudItem xs="12">
                       

                           <MudAutocomplete T="ChartOfAccountModel" Label="MappedPurchaseHead" @bind-Value="MappedPurchaseHead_at" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Normal" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
                    </MudItem>
                    <MudItem xs="12">
                       

                           <MudAutocomplete T="ChartOfAccountModel" Label="MappedConsumptionHead" @bind-Value="MappedConsumptionHead_at" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Normal" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
                    </MudItem>
                    <MudItem xs="12">
                       

                           <MudAutocomplete T="ChartOfAccountModel" Label="MappedNonInventoryPurchaseHead" @bind-Value="MappedNonInventoryPurchaseHead_at" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Normal" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
                    </MudItem>
                    <MudItem xs="12">
                        <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
                        <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
      
                    </MudItem>
                   
                   
                </MudGrid>
            </EditForm>
        </MudContainer>
       
         <MudGrid Spacing="2">
          </MudGrid>
       
        </MudPaper>
          </MudItem>

    </MudGrid>
    
     


@code {


    private InventoryGroupModel model = new InventoryGroupModel();
    private List<InventoryGroupModel> collection = new List<InventoryGroupModel>();

    private ChartOfAccountModel MappedPurchaseHead_at = null;
    private ChartOfAccountModel MappedConsumptionHead_at = null;
    private ChartOfAccountModel MappedNonInventoryPurchaseHead_at = null;
    private string searchInventory = "";

    protected override async Task OnInitializedAsync()
    {
        model = new();
        GetAll();
    }
    private async Task OnValidSubmit()
    {
        if(MappedConsumptionHead_at==null)
        {
            snackbar.Add("Select MappedConsumptionHead", Severity.Success);
            return;
        }
        if(MappedPurchaseHead_at==null)
        {
            snackbar.Add("Select MappedPurchaseHead", Severity.Success);
            return;
        }
        if(MappedNonInventoryPurchaseHead_at==null)
        {
            snackbar.Add("Select MappedNonInventoryPurchaseHead", Severity.Success);
            return;
        }
        model.MappedConsumptionHead = MappedConsumptionHead_at.CoaID;
        model.MappedPurchaseHead = MappedPurchaseHead_at.CoaID;
        model.MappedNonInventoryPurchaseHead = MappedNonInventoryPurchaseHead_at.CoaID;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        Iservice.Update(model);

        snackbar.Add("Saved Successfully", Severity.Success);
        MappedPurchaseHead_at = null;
        MappedConsumptionHead_at = null;
        MappedNonInventoryPurchaseHead_at = null;
        model = new();
        GetAll();
    }
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccounts(string searchString)
    {

        return await Task.FromResult(accountService.FilterSubLedgers(searchString));

    }
    private  void GetAll()
    {
        collection = new List<InventoryGroupModel>();
        foreach (var item in Iservice.SearchByName(string.Empty))
        {
            collection.Add(item);
        }


    }   

    private async Task OpenDialog(InventoryGroupModel tds)
    {
        model = Iservice.SelectByID(tds.InventoryGroupID);
        MappedPurchaseHead_at = accountService.SelectByID(tds.MappedPurchaseHead);
        MappedConsumptionHead_at = accountService.SelectByID(tds.MappedConsumptionHead);
        MappedNonInventoryPurchaseHead_at = accountService.SelectByID(tds.MappedNonInventoryPurchaseHead);


    }
    
    private void Delete(InventoryGroupModel tds)
    {
        Iservice.Delete(tds.InventoryGroupID, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }

    private bool search(InventoryGroupModel tds)
    {
     if (tds.InventoryGroupName != null && tds.InventoryGroupName.Contains(searchInventory, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (tds.InventoryGroupName == null)
        return true;
        return false;
    }
    private void Cancel()
    {
        MappedPurchaseHead_at = null;
        MappedConsumptionHead_at = null;
        MappedNonInventoryPurchaseHead_at = null;
        model = new();
        GetAll();
    }


}
