@using Views.Pages.Finance.Transactions
@inject IPurchaseOrderService Iservice
@inject IPartyService partyIservice
@inject IGstUsageIDService testIservice
@inject IInventoryItemService itemIservice
@inject IStoreService storeIservice
@inject IGstItemService gstIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService



<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Create Purchase Order
        </MudText>
          @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="min-height:300px;max-height: 450px;overflow-y: scroll">
            <EditForm  id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">                   
                    <MudItem xs="12" md="12"> 
                           <PartySelector @bind-Value="partyinfo" NatureOfBusiness="Supplier"></PartySelector>                       
                        </MudItem>
                       
                    <MudItem xs="12" md="4">
                        <MudDatePicker  ReadOnly="IsReadOnly" Label="Entry Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EntryDate"  DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                         <MudTextField  ReadOnly="IsReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12" md="4">
                          <MudSelect  ReadOnly="IsReadOnly" Label="Select Store" @bind-Value="model.StoreID" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in store)
                            {
                                <MudSelectItem Value="@ditem.StoreID">@ditem.StoreName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                     <MudItem xs="12" md="12">
                         <MudTextField  ReadOnly="IsReadOnly" @bind-Value="model.Remarks" Lines="2" Label="Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                        
                    </MudItem>
                    <MudItem xs="12" md="12">

                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true"  >
           
                            
                            <thead>
                                <tr>
                                    <th></th>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th>@model.TotalValue</th>
                      </tr>
                    <tr >
                       
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Gst</th>
                        <th></th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in items)
                    {
                        <tr>
                           <td>@(itm.First(x=> x.InventoryItemID == item.ItemID)?.InventoryItemCode)</td>
                            <td>@item.ItemQty</td>
                            <td>@item.ItemRate</td>
                            <td>@item.ItemGstVal</td>

                             <td>  @if (!IsReadOnly)
                                            {         
                                                <MudFab  Color="Color.Error" @onclick="@(()=> Delete(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                            }
                                        </td>
                        </tr>
                    }
                    @if (!IsReadOnly)
                                {           
                                    <tr>
                                                                                <td>
                                            
                           <MudAutocomplete T="InventoryItemModel"  @bind-Value="SelectedItems"  Variant="Variant.Outlined"  Margin="Margin.Dense" Label="Items"  ResetValueOnEmptyText="true"
                                                 SearchFunc="@SearchItems" ToStringFunc="@(e => e==null?string.Empty:e?.InventoryItemCode)" ></MudAutocomplete>
                       
                           </td>
                           <td>
                            <MudTextField @bind-Value="Entrymodel.ItemQty" Label="Quatity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Entrymodel.ItemQty)"></MudTextField>

                           </td>
                           <td>
                              <MudTextField @bind-Value="Entrymodel.ItemRate" Label="Rate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Entrymodel.ItemRate)"></MudTextField>
                           </td>
                           <td>
                             @*<MudTextField @bind-Value="Entrymodel.ItemGstVal" ReadOnly="true" Label="GST" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Entrymodel.ItemGstVal)"></MudTextField>*@

                           </td>
                           <td>
                     @*       <MudButton OnClick="AddItems" Variant="Variant.Filled" Color="Color.Primary">Add</MudButton>*@
                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />
                                
                           </td>
                    </tr>
                    }
                </tbody>
            </MudSimpleTable>

         
           </MudItem>
           <MudItem xs="12">
                        @if ((IsReadOnly) && (!IsView))
                        {
                            <AutherizationStatusComponent DocTypeID="17" DocumentID="model.POID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                        }

                    </MudItem>








                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @*   <MudButton OnClick="DeleteTaxRate">Delete Tax Rate</MudButton>
            <MudButton OnClick="AddTaxRate">Add More Tax Rate</MudButton>*@
       
        @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>

         
            <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
        }
         @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>



@code {
    [Parameter]
    public PurchaseOrderModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<PurchaseOrderModel> collection = new List<PurchaseOrderModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    private List<GstRateModel> gstRate = new();
    private List<StoreModel> store = new();
    private List<InventoryItemModel> itm = new();
    public PartyModel partyinfo = new();
    private List<GstItemModel> gstitem = new();
    private PurchaseOrderModel tds = new();
    public InventoryItemModel SelectedItems = new();
    private InventoryItemEntryModel Entrymodel = new InventoryItemEntryModel();
    private List<InventoryItemEntryModel> items = new List<InventoryItemEntryModel>();    

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private PartyModel SelectedParty = new();

    private async Task<IEnumerable<InventoryItemModel>> SearchItems(string searchString)
    {
        return await Task.FromResult(itm.Where(x => x.InventoryItemCode.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }
    protected override void OnInitialized()
    {
        store = storeIservice.Select().ToList();
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        if(model.POID!=null)
        {
            items = Iservice.GetItemEntries(model.POID.Value).ToList();
            partyinfo = partyIservice.SelectByID(model.PartyID);
        }
        else
        {
            model.TotalValue = 0;
        }    
    }

     protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
          //  Iservice.Approve(model.POID.Value, model.UserInfo.UserID);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }

    private void OnValidSubmit(EditContext context)
    {
        if (items == null)
        {
            snackbar.Add("Add at least one Entry before Submitting", Severity.Success);
            return;
        }
        else
        {
            model.Entries = items;
            model.PartyCode = partyinfo.PartyCode;
            model.PartyID=partyinfo.PartyID;
            model.PartyName = partyinfo.TradeName;
       
            MudDialog.Close(model);
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private void Delete(InventoryItemEntryModel i)
    {
      

        decimal total=(((i.ItemQty.Value)*(i.ItemRate.Value))+(i.ItemGstVal.Value));

        model.TotalValue = model.TotalValue - total;
        int rowIndex=items.IndexOf(i);
        items.RemoveAt(rowIndex);
    }
    public decimal getgstrate(int itemID)
    {
        gstitem = new();
        gstitem = gstIservice.SelectByItem(itemID).ToList();
        decimal gstrate=gstitem[0].TaxRate.Value;
        return gstrate;
    }
    private void AddItems()
    {

        model.PartyID = partyinfo.PartyID;
        InventoryItemEntryModel ientry = new();
        ientry.ItemID = SelectedItems.InventoryItemID;
        
           
            ientry.ItemQty = Entrymodel.ItemQty;
            ientry.ItemRate = Entrymodel.ItemRate;
            //  ientry.ItemGstVal=Entrymodel.ItemGstVal;
            if (ientry.ItemID== null||ientry.ItemRate==null||ientry.ItemQty==null)
            {
                snackbar.Add("Please fill in all Fields", Severity.Success);
                return;
            }
            decimal gstrt = 0;
            decimal gstrate = 0;
            try
            {
                gstrt = getgstrate(ientry.ItemID.Value);

            }
            catch(Exception ex)
            {
                gstrt = 0;
            }
            if (gstrt != 0)
            {
                gstrate = (((Entrymodel.ItemRate.Value) * (Entrymodel.ItemQty.Value)) * gstrt) / 100;
            }
            ientry.ItemGstVal = gstrate;
            items.Add(ientry);
            
            



            decimal total = ((Entrymodel.ItemQty.Value) * (Entrymodel.ItemRate.Value) + (ientry.ItemGstVal.Value));
            model.TotalValue = model.TotalValue + total;
            Entrymodel = new();
           
        SelectedItems = null;
        SelectedItems = new();
       

        

    }

   

}
