@inject IAssetService iservice
@inject MudBlazor.ISnackbar snackbar
@inject IPartyService partyIservice
@inject ITdsRateService tdsService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Select Asset to Initiate Purchase
            <MudText> (@selectedItems?.Count) Asstes Selected</MudText>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTable T="AssetModel" Items="@Asset" MultiSelection="true" @bind-SelectedItems="selectedItems" Hover="true" SelectOnRowClick>
            <HeaderContent>
                <MudTh>Description</MudTh>
                <MudTh>Asset Code</MudTh>
                <MudTh>Book Value</MudTh>
                <MudTh>Asset Status</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="AssetCode">@context.AssetCode</MudTd>
                <MudTd DataLabel="BookValue">@context.BookValue</MudTd>
                    <MudTd DataLabel="AssetStatus">@context.AssetStatus</MudTd>
@*                     <MudTd DataLabel="@(context.IsComplex ? "Complex" : "Simple")">
                        @if (context.IsComplex)
                    {
                        <div>Complex</div>
                    }
                    else
                    {
                        <div>Simple</div>
                    }
 *@               
            </RowTemplate>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(()=> MudDialog.Cancel())">Cancel</MudButton>
        <MudButton Disabled="@_busy" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Button" OnClick="Submit">Submit</MudButton>
    </DialogActions>
</MudDialog>


@code {

    [Parameter]
    public int BranchID { get; set; }

    private bool _busy;

    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }
    private HashSet<AssetModel> selectedItems = new();
    private List<AssetModel> Asset = new();

    private bool Local;

    protected override void OnInitialized()
    {
        // Fetching the list of non-invoiced assets for the specified branch
        Asset = iservice.GetAssetListNonInvoiced(BranchID, null, null, "").ToList();
        // if (Asset.Count > 0 && Asset[0].VendorInfo.PartyID != null)
        // {
        //     Local = partyIservice.IsLocal(Asset[0].VendorInfo.PartyID, BranchID);
        //     if (Local == true)
        //     {
        //         // var gstItem = gstIservice.SelectByItem(item?.ItemID ?? 0, DateTime.Today);
        //         // item.GstRate = gstItem?.TaxRate;
        //         // decimal taxRate = item.GstRate ?? 0;
        //         decimal taxRate = 0;
        //         foreach(var item in Asset)
        //         {
        //             taxRate = Convert.ToDecimal(item.TaxRate);
        //             if (!Local)
        //             {
        //                 item.IGSTValue = Math.Round(item.BookValue.Value * taxRate / 100, 2);
        //             }
        //             else
        //             {
        //                 item.SGSTValue = item.CGSTValue = Math.Round(item.BookValue.Value * taxRate / 200, 2);
        //             }
        //             decimal tdsRate = tdsService.GetTdsRate(item.VendorInfo.PartyID, item.CoaID);
        //             item.TDS = Math.Round((item.BookValue.Value * tdsRate) / 100, 2);
        //             //Asset.Add(item);
        //         }
        //     }
        // }
    }


    private async Task Submit()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        if (selectedItems.Count > 0)
        {
            // var PartyCount = selectedItems.DistinctBy(x => x.VendorInfo.PartyID).ToList().Count;
            // if( PartyCount > 1)
            // {
            //     snackbar.Add("Please select Assets having same Party!", Severity.Warning);
            //     return;
            // }           
            MudDialog.Close(selectedItems.ToList());  // Close the dialog and return selected items

        }
        else
        {
            snackbar.Add("Please select atleast one Asset!", Severity.Warning);
        }

        await Task.Delay(200);
        _busy = false;
    }


    void OnRowClick(TableRowClickEventArgs<AssetModel> args)
    {
        //_selectedItemText = $"{args.Item.Name} ({args.Item.Sign})";
    }
}
