@attribute [Authorize]
@using System.Threading;

@inject AuthenticationStateProvider auth
@inject IAssetService iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@using System.Text;
@using Views.Pages.Finance.Transactions
@inject IJSRuntime JSRuntime
@inject IPartyService partyIservice
@inject IRoleService<RoleModel> Irole
@inject ITaxPurchaseService Iservice
@inject IDialogService DialogService
@inject ITdsRateService tdsService
@inject IPushNotificationService notiService


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Asset Purchase" formID="formAssetPurchase" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="formAssetPurchase" OnValidSubmit="OnValidSubmit" EditContext="editContext" autocomplete="off">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PartySelector Value="model.PartyInfo" For="@(()=> model.PartyInfo)" ValueChanged="PartyChanged" NatureOfBusiness="Supplier" BranchID="@branchID"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Invoice Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.InvoiceDate" For="@(() => model.InvoiceDate)" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.InvoiceNo" Label="Invoice No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InvoiceNo)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <ExpenseListView OnExpenseAdded="AddExpense" OnAmountChange="SetTotal" BranchID="@branchID" PartyInfo="@model.PartyInfo" Local="@Local" ExpenseList="@model.Expenses" ReadOnly="@ReadOnly" />
                    </MudItem>
                    @* <MudItem xs="12">
                    <ItemsListView OnItemAdded="AddItems" OnAmountChange="SetTotal" BranchID="@branchID" PartyInfo="@model.PartyInfo" Local="@Local" ItemList="@model.Items" ReadOnly="@ReadOnly" EditMode="@(model.PID != null)" />
                    </MudItem> *@
                </MudGrid>
            </EditForm>
            <h6> <u>Assets</u></h6>
            <MudTable Class="mb-3" T="AssetPOModel" Items="@PI.SelectedAssets" Hover="true" SelectOnRowClick>
                <HeaderContent>
                    <MudTh>Description</MudTh>
                    <MudTh>Account Head</MudTh>
                    <MudTh>Value</MudTh>
                    <MudTh>GST Rate</MudTh>
                    <MudTh>GST Mechanism</MudTh>
                    <MudTh>CGST</MudTh>
                    <MudTh>SGST</MudTh>
                    <MudTh>IGST</MudTh>
                    <MudTh>TDS</MudTh>
                    @* <MudTh>Actions</MudTh> *@
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Description">@context.Description</MudTd>
                    <MudTd DataLabel="NatureOfAsset">@context.AccountName</MudTd>

                    <MudTd DataLabel="BookValue">
                        @* @context.BookValue *@

                        @if (PI.SelectedAssets.Any(asset => asset.AssetStatus == "WIP"))
                        {
                            <!-- Editable text box -->
                            <MudTextField @bind-Value="@context.BookValue" />
                        }
                        else
                        {
                            <!-- Non-editable value -->
                            @context.BookValue
                        }

                    </MudTd>
                    <MudTd DataLabel="CurrentValue">
                        @* @context.TaxRate *@
                        @if (PI.SelectedAssets.Any(asset => asset.AssetStatus == "WIP"))
                        {
                            <!-- Editable text box -->
                            <MudTextField T="decimal?" Value="@context.TaxRate" Immediate="true" ValueChanged="((e)=> CalcTax(e,context))" />
                            @* <MudTextField Value="@context.TaxRate" Immediate="true" ValueChanged="@(newValue => CalcTax(newValue))" /> *@
                        }
                        else
                        {
                            <!-- Non-editable value -->
                            @context.TaxRate
                        }
                    </MudTd>
                    <MudTd>
                        @if (PI.SelectedAssets.Any(asset => asset.AssetStatus == "WIP"))
                        {
                            <GstMechanismSelector page="Asset" @bind-Value="@context.GstMechanism"></GstMechanismSelector>
                        }
                        else
                        {
                            <!-- Non-editable value -->
                            @context.GstMechanism
                        }
                    </MudTd>
                    <MudTd DataLabel="CGSTValue">
                        @string.Format("{0:F3}", context.CGSTValue)
                    </MudTd>
                    <MudTd DataLabel="SGSTValue">
                        @string.Format("{0:F3}", context.SGSTValue)
                    </MudTd>
                    <MudTd DataLabel="IGSTValue">
                        @string.Format("{0:F3}", context.IGSTValue)
                    </MudTd>
                    <MudTd DataLabel="TDS">
                        @* @string.Format("{0:F3}", context.TDS) *@
                        @if (PI.SelectedAssets.Any(asset => asset.AssetStatus == "WIP"))
                        {
                            <!-- Editable text box -->
                            <MudTextField @bind-Value="@context.TDS" />
                        }
                        else
                        {
                            <!-- Non-editable value -->
                            @string.Format("{0:F3}", context.TDS)
                        }
                    </MudTd>
                    @* <MudTd>
                    <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> Delete(@context))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                    </MudTd> *@
                </RowTemplate>
            </MudTable>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="@model.PID" OnApprove="ApproveEntry"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>


@code {

    [Parameter]
    public TaxPurchaseModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; } = true;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    string docNum;
    string UserID;
    private bool _busy;
    public AssetDocumentTypeModel DocumentType { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private EditContext editContext;
    private int? branchID = null;
    private bool Local;
    public bool HasPermissionTaxPurchaseServiceEdit { get; set; } = false;
    public bool HasPermissionTaxPurchaseServiceApprove { get; set; } = false;
    int DocTypeID = 117;
    DialogForm dialogForm;
    public DocumentInfoModel DocumentDetails { get; set; } = new();
    [Parameter]
    public string PageToRedirectLink { get; set; }

    [Parameter]
    public AssetPurchaseModel PI { get; set; }
    [Parameter]
    public List<AssetPOModel> ListPI { get; set; }
    ValidationMessageStore messageStore;


    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTaxPurchaseServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionTaxPurchaseServiceApprove = await Irole.HasClaim(DocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        UserID = user.Identity.Name;
        branchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
        model.Assets = PI.SelectedAssets;
        model.PartyInfo = PI.SelectedAssets[0].VendorInfo;
        model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
        if (model.PartyInfo != null)
        {
            Local = partyIservice.IsLocal(model.PartyInfo.PartyID, branchID);
        }
        else { Local = false; }
        if (model.PID == null && model.PartyInfo != null)
        {
            PartyChanged(model.PartyInfo);
        }

        if (model.PID != null)
        {
            model.PartyInfo = partyIservice.SelectByID(model.PartyInfo.PartyID);
            model.Expenses = Iservice.GetExpenses(model.PID).ToList();
            model.Items = Iservice.GetItems(model.PID).ToList();
        }
        else
        {
            model.NatureOfTransaction = "TaxPurchase";
            model.BranchID = branchID;
            model.NonStoreInventory = model.GRNID == null;
        }
        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
        AddTax(model.Assets);

    }

    protected override void OnParametersSet()
    {
        if (editContext == null)
        {
            editContext = new EditContext(model);
        }
        DocumentDetails.DocumentTypeID = DocTypeID;
        DocumentDetails.DocumentID = model.PID;
        SetTotal();
    }

    void PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;
        if (party != null)
        {
            Local = partyIservice.IsLocal(model.PartyInfo.PartyID, branchID);
        }
        else { Local = false; }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionTaxPurchaseServiceEdit)
        {
            try
            {
                TaxPurchaseModel check = Iservice.CheckInvoiceDuplication(model);
                if (check == null || (check.PID != null && check.PID == model.PID && check.DocumentNumber == model.DocumentNumber))
                {
                    model.UserInfo.UserID = UserID;

                    decimal? amt = 0;
                    foreach (var asset in model.Assets)
                     {
                        asset.CoaID = iservice.GetCapitalizationCoaID(asset.AssetID);
                        if (asset.CoaID is null)
                        {
                            snackbar.Add(string.Format("Acpitalization Account is not mapped for {0}", asset.AssetCode), Severity.Error);
                            return;
                        }
                        decimal? cgst = asset.CGSTValue ?? 0;
                        decimal? sgst = asset.SGSTValue ?? 0;
                        decimal? igst = asset.IGSTValue ?? 0;
                        amt = asset.BookValue + cgst + sgst + igst;
                        asset.GSTValue = cgst + sgst + igst;
                    }
                    model.TotalAmount = amt;

                    var result = Iservice.Update(model);
                    snackbar.Add("Saved Successfully", Severity.Success);
                    dialogForm.Close(result);
                    model = new();
                }
                else
                {
                    bool? result = await DialogService.ShowMessageBox(
                        "Warning",
                        new MarkupString("Invoice already entered On <b>" + check.DocumentDate + "</b> as <b>" + check.DocumentNumber + "</b>!"));
                }
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit TaxPurchase.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    protected void ApproveEntry(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            try
            {
                Iservice.Approve(model.PID, UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
                model.AuthLevelId = 99;
                model.AuthStatus = "Approved";
                notiService.AcknowledgeAuthNotification(99, DocTypeID, model.PID.Value, UserID);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    async Task AddExpense(TaxPurchaseExpenseModel expenseModel)
    {
        model.Expenses.Add(expenseModel);
        SetTotal();
    }

    void SetTotal()
    {
        model.TotalAmount = (model.Expenses.Where(x => x != null).Sum(x => x.Amount + x.IGST + x.CGST + x.SGST) ?? 0) + (model.Assets.Where(y => y != null).Sum(y => y.BookValue + y.GSTValue) ?? 0);
    }

    private bool AddTax(List<AssetPOModel> asset)
    {

        if (model.PartyInfo == null)
        {
            snackbar.Add("select party", Severity.Error);
            return false;
        }
        //Model.GstRateID = usageIservice.GetGstRate(Model.UsageCode, DateTime.Now);
        foreach (var item in asset)
        {
            decimal taxRate = item.TaxRate ?? 0;
            if (!Local)
            {
                item.IGSTValue = Math.Round(item.BookValue.Value * taxRate / 100, 2);
            }
            else
            {
                item.SGSTValue = item.CGSTValue = Math.Round(item.BookValue.Value * taxRate / 200, 2);
            }
            decimal tdsRate = tdsService.GetTdsRate(model.PartyInfo.PartyID, item.CoaID);
            item.TDS = Math.Round((item.BookValue.Value * tdsRate) / 100, 2);
            //asset.Add(item);
        }

        return true;
    }

    private void CalcTax(decimal? tax, AssetPOModel item)
    {
        //AssetPOModel item = new AssetPOModel();
        decimal taxRate = tax ?? 0;
        item.TaxRate = taxRate;
        if (!Local)
        {
            item.IGSTValue = Math.Round(item.BookValue.Value * taxRate / 100, 2);
        }
        else
        {
            item.SGSTValue = item.CGSTValue = Math.Round(item.BookValue.Value * taxRate / 200, 2);
        }
        decimal tdsRate = tdsService.GetTdsRate(model.PartyInfo.PartyID, item.CoaID);
        item.TDS = Math.Round((item.BookValue.Value * tdsRate) / 100, 2);
        //asset.Add(item);

    }
}
