@page "/AssetPurchase"
@page "/AssetPurchase/{id:int}"
@using System.Threading
@using Views.Pages.Finance.Transactions.PurchaseAndPayment
@inject IAssetService Iservice
@inject IAssetClassService assetclassIservice
@inject IGstUsageIDService gstIservice
@inject IPartyService partyIservice
@inject MudBlazor.ISnackbar snackbar
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject ITaxPurchaseService Iservice1
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService
@inject IRoleService<RoleModel> Irole

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Asset Purchase</MudText>
                <MudTooltip Text="Asset PO">
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" @onclick="@(()=> SelectAssets())" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Assets..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <MudTextField Class="pt-3" @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Style="width: 80px;"></MudTextField>

            </ToolBarContent>
            @* <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<AssetPOModel, object>(x=> x.Description)" InitialDirection="SortDirection.Ascending">Description</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<AssetPOModel, object>(x=> x.NatureOfAsset)" InitialDirection="SortDirection.Ascending">Nature Of Asset</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<AssetPOModel, object>(x=> x.SerialNumber)" InitialDirection="SortDirection.Ascending">Serial Number</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<AssetPOModel, object>(x=> x.IsComplex)" InitialDirection="SortDirection.Ascending">Simple/Complex</MudTableSortLabel></MudTh>
            <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="NatureOfAsset">@context.NatureOfAsset</MudTd>
            <MudTd DataLabel="SerialNumber">@context.SerialNumber</MudTd>
            <MudTd DataLabel="@(context.IsComplex ? "Complex" : "Simple")">
            @if (context.IsComplex)
            {
            <div>Complex</div>
            }
            else
            {
            <div>Simple</div>
            }
            </MudTd>

            <MudTooltip Text="View">
            <MudFab @onclick="@(()=> ViewAsset(context))" Color="Color.Primary" Title="View asset" Icon="@Icons.Material.Filled.Fullscreen" Size="Size.Small" IconSize="Size.Small" />
            </MudTooltip>

            </RowTemplate> *@
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceDate)" InitialDirection="SortDirection.Ascending">Invoice Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceNo)" InitialDirection="SortDirection.Ascending">Invoice No</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                @* <MudTh>Actions</MudTh> *@
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="InvoiceDate">@context.InvoiceDate?.ToShortDateString()</MudTd>
                    <MudTd DataLabel="InvoiceNo">@context.InvoiceNo</MudTd>
                    <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                    <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                    <MudTd DataLabel="">
                        @*     @if (@context.AuthLevelId == null)
                    {
                    <MudFab @onclick="@(()=> SelectAssets()(context,false,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                    <MudFab @onclick="@(()=> SelectAssets()(context,true,false))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />
                    }
                    @if (@context.AuthLevelId == 99)
                    {
                    <MudFab @onclick="@(()=> GetAccountDetails(context))" Color="Color.Info" Icon="@Icons.Material.Filled.CurrencyExchange" title="Accounts" Size="Size.Small" IconSize="Size.Small" />
                    } *@
                        <MudFab @onclick="@(()=> Edit(context,false,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(()=> Edit(context,true,false))" Color="Color.Info" Icon="@Icons.Material.Filled.GridView" title="View" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        @* @if (@context.AuthLevelId == 99)
                    {
                    <EntryReversedComponent DocTypeID="TaxPurchaseDocTypeID" DocumentID="context.PID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                    } *@
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                </PagerContent>
            </MudTable>

        </MudItem>
    </MudGrid>



    @code {
    bool IsOpen = false;
    private TaxPurchaseModel model = new TaxPurchaseModel();
    private List<TaxPurchaseModel> collection = new List<TaxPurchaseModel>();
    private int numberOfRecords = 100;    

    [Parameter]
    public int? id { get; set; } = null;

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseOnEscapeKey = true };
    private string searchTerm = "";
    int BranchID; string UserID;
    private bool _busy;
    public bool IsApproved { get; set; } = false;

    public bool DeletePermission { get; set; } = false;
    public bool EditPermission { get; set; } = false;
    public bool ViewPermission { get; set; } = false;
    public int DocTypeID = 117;

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await GetAll(IsApproved, NumberOfRecords);
        }
    }

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = GetAll(IsApproved, NumberOfRecords);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        DeletePermission = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);
        EditPermission = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        ViewPermission = await Irole.HasClaim(DocTypeID.ToString(), "View", ctc.Token);
        var authprov = await auth.GetAuthenticationStateAsync();
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = authprov.User.Identity.Name;
        await GetAll(IsApproved, NumberOfRecords);

        if (id != null && collection != null && collection.Any(g => g.PID == id))
        {
            await Edit(collection.FirstOrDefault(s => s.PID == id), true,true);
        }
    }

    private async Task SelectAssets()
    {
        if (EditPermission)
        {
            TaxPurchaseModel tds = new TaxPurchaseModel();
            DialogParameters parms = new DialogParameters();
            parms.Add("BranchID", BranchID);
            var dialog = DialogService.Show<AssetPOConsolidateSelectionDialog>("Asset Purchase", parms, maxWidth);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                var data = (List<AssetPOModel>)result.Data;
                AssetPurchaseModel PI = new AssetPurchaseModel()
                    {                        
                        BranchID = BranchID,
                        UserInfo = new ArmsModels.SharedModels.UserInfoModel() { UserID = UserID },
                        SelectedAssets = data,
                    };
                parms = new DialogParameters();
                parms.Add("model", model.Clone());                
                parms.Add("PI", PI);
                parms.Add("ReadOnly", false);
                var dialog2 = DialogService.Show<AssetPurchaseConsolidateDialog>("Asset Purchase", parms, maxWidth);
                var result2 = await dialog2.Result;
                if (!result2.Canceled)
                {
                    var ResultData = (TaxPurchaseModel)result2.Data;
                    IpushNotificationService.CreateAuthNotifications(BranchID, DocTypeID, ResultData.PID.Value);
                    await GetAll(IsApproved, NumberOfRecords);
                }
            }

        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
            "Permission denied!",
            "You dont have any permission to Create AssetPurchase.");
        }
    }

    public async Task GetAll(bool val, int numberOfRecords)
    {

        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int? brancID = int.Parse(brancIDString);
        int NumberOfRecords = numberOfRecords;

        if (val)
        {
            collection = Iservice1.SelectByApproved(brancID, NumberOfRecords, searchTerm, "Asset").ToList();
        }
        else
        {
            collection = Iservice1.SelectByUnapproved(brancID, NumberOfRecords, searchTerm, "Asset").ToList();
        }
        await Task.Delay(200);
    }

    public async void ViewAsset(AssetPOModel pim)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        // pim.Children = IAssetService.SelectInitiated(pim.AssetID).ToList();
        // DialogParameters parms = new DialogParameters();
        // parms.Add("PI", pim);
        // parms.Add("ReadOnly", true);
        // var dialog = DialogService.Show<PaymentConsolidateDialog>("Asset", parms, maxWidth);
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Edit(TaxPurchaseModel tds, bool ReadOnly, bool View)
    {
        if (EditPermission)
        {
            if (_busy)
            {
                snackbar.Add("Please wait while form is closing!", Severity.Warning);
                return;
            }
            _busy = true;
            DialogParameters parms = new DialogParameters();
            parms.Add("model", tds.Clone());
            parms.Add("PageToRedirectLink", "/TaxPurchase");
            parms.Add("ReadOnly", ReadOnly);

            var dialog = DialogService.Show<AssetTaxPurchaseDialog>(tds.PID == null ? "ADD" : "EDIT", parms, maxWidth);
            var result = await dialog.Result; 

            if (!result.Canceled)
            {
                var ResultData = (TaxPurchaseModel)result.Data;
                
            }
            await GetAll(IsApproved, NumberOfRecords);
            await Task.Delay(200);
            _busy = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to View AssetPurchase.");
        }
    }

    private async Task Delete(TaxPurchaseModel model)
    {
        if (DeletePermission)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to delete - " + model.InvoiceNo + " (" + model.InvoiceDate + ") ?");
            if (result == true)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                Iservice1.Delete(model.PID, user.Identity.Name);
                IpushNotificationService.CancelAuthNotifications( DocTypeID, model.PID.Value); 
                snackbar.Add("Deleted Successfully", Severity.Success);
            }
            await GetAll(IsApproved, NumberOfRecords);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Delete TaxPurchase.");
        }
    }
}
