@attribute [Authorize]
@inject IInsuranceClaimService Iservice
@inject IAssetDocumentService IdocService
@inject ITruckService Itruck
@inject IBreakdownService Ibreakdown
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

@if (Visible == true && (ClaimList != null || SelectedModels != null))
{
    <MudPaper Width="100%" Class="p-2">
        @* @SelectedItem?.ChildContent *@
        @if (EventMasterSource?.Any(x => x.IsMandatory) != true && SelectedModel.IsOpen)
        {
            <MudButton Color="Color.Primary" OnClick="CloseClaim">Close Claim</MudButton>
        }
        <MudList>
            <MudListSubheader>
                Event History
            </MudListSubheader>
            @if (ClaimEvents?.Any() == true)
            {
                <MudDivider></MudDivider>
                @foreach (var item in ClaimEvents)
                {
                    <MudListItem>
                        @item.Title On @item.EventDate?.ToString("dd/MM/yy")
                    </MudListItem>
                    <MudDivider></MudDivider>
                }
            }
            @if (EventMasterSource?.Any() == true && SelectedModel.IsOpen)
            {
                <MudListItem>
                    <MudGrid>
                        <MudItem xs="5">
                            <MudSelect T="int?" Label="Event" Value="UpdateStatusModel.IcemID" ValueChanged="EventSelected" OffsetY="true" AdornmentColor="Color.Secondary" Variant="Variant.Outlined" Required>
                             @if (EventMasterSource?.Any() == true)
                                {
                                    @foreach (var item in EventMasterSource)
                                    {
                                        <MudSelectItem T="int?" Value="item.IcemID">@item.Title</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="5">
                            <MudDatePicker Label="Date of Event" @bind-Date="UpdateStatusModel.EventDate" Variant=Variant.Outlined Required></MudDatePicker>
                         </MudItem>
                         <MudItem xs="2">
                             <MudButton OnClick="UpdateStatus" Color="Color.Primary">Update</MudButton>
                         </MudItem>
                     </MudGrid>
                 </MudListItem>
            }
        </MudList>
    </MudPaper>
    <h5>Images</h5>
    <MudGrid Spacing="2" Justify="Justify.Center">
        @foreach (var imagePath in SelectedModel?.Images)
        {
            <MudItem xs="12" md="6" Class="d-flex">
                <MudPaper Class="p-2" Elevation="3">
                    <img src="@imagePath" alt="@imagePath" />
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}
@code {
    [Parameter]
    public List<MudListItem> SelectedItems { get; set; }
    private MudListItem SelectedItem;
    public int? BreakdownID { get; set; }
    private TruckModel Truck = new();
    private AssetDocumentModel Insurance = new();
    private List<InsuranceClaimModel> listOfItems = new();
    private List<InsuranceClaimEventStatusModel> ClaimEvents;
    private List<InsuranceClaimEventMasterModel> EventMasterSource;
    InsuranceClaimModel SelectedModel = new();
    private InsuranceClaimEventStatusModel UpdateStatusModel = new();
    MyFileUpload Mfu;

    public bool HasPermissionInsuranceClaimServiceEdit { get; set; } = false;
    public bool HasPermissionInsuranceClaimServiceUpdateList { get; set; } = false;
    public int InsuranceClaimDocTypeID = 83;
    [Parameter]
    public EventCallback<MudListItem> OnClaimAdded { get; set; }
    [Parameter]
    public MudListItem ClaimList { get; set; }
    [Parameter]
    public InsuranceClaimModel SelectedModels { get; set; }
    [Parameter]
    public string Page { get; set; }
    [Parameter]
    public bool Visible{ get; set; }

    protected override void OnParametersSet()
    {
        if (Page == "JobCard")
        {
            SelectedItemChangedJobCard(SelectedModels);
        }
        else
        {
            SelectedItem = ClaimList;
            SelectedItemChanged(SelectedItem);
        }
    }
    protected override void OnInitialized()
    {
        if (Page == "JobCard")
        {
            //SelectedItem = (MudListItem)obj;
            //SelectedModel = (InsuranceClaimModel)SelectedItem.Value;
            //SelectedItem = (MudListItem)SelectedModels;
            SelectedItemChangedJobCard(SelectedModels);
        }
        else
        {
            SelectedItem = ClaimList;
            SelectedItemChanged(SelectedItem);
        }
    }

    protected async Task SelectedItemChanged(object obj)
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInsuranceClaimServiceEdit = await Irole.HasClaim(InsuranceClaimDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionInsuranceClaimServiceUpdateList = await Irole.HasClaim(InsuranceClaimDocTypeID.ToString(), "UpdateList", ctc.Token);

        SelectedItem = (MudListItem)obj;
        SelectedModel = (InsuranceClaimModel)SelectedItem.Value;
        var e = await auth.GetAuthenticationStateAsync();
        BreakdownModel breakdown = Ibreakdown.SelectByID(BreakdownID);
        int TruckID = breakdown.TruckID.Value;
        Truck = Itruck.SelectByID(TruckID);
        Insurance = IdocService.SelectByAsset(TruckID).FirstOrDefault(x => x.DocumentType.DocumentTypeName.ToUpper().Contains("INSURANCE") && IdocService.IsValid(x, breakdown.BreakdownTime));
        ClaimEvents = Iservice.GetEventStatusList(SelectedModel.InsuranceClaimID).ToList();
        UpdateStatusModel = new()
            {
                InsuranceClaimID = SelectedModel.InsuranceClaimID,
            };

        SetEventMaster();
    }

    protected async Task SelectedItemChangedJobCard(object obj)
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInsuranceClaimServiceEdit = await Irole.HasClaim(InsuranceClaimDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionInsuranceClaimServiceUpdateList = await Irole.HasClaim(InsuranceClaimDocTypeID.ToString(), "UpdateList", ctc.Token);

        //SelectedItem = (MudListItem)obj;
        SelectedModel = (InsuranceClaimModel)SelectedModels;
        var e = await auth.GetAuthenticationStateAsync();
        BreakdownModel breakdown = Ibreakdown.SelectByID(BreakdownID);
        int TruckID = breakdown.TruckID.Value;
        Truck = Itruck.SelectByID(TruckID);
        Insurance = IdocService.SelectByAsset(TruckID).FirstOrDefault(x => x.DocumentType.DocumentTypeName.ToUpper().Contains("INSURANCE") && IdocService.IsValid(x, breakdown.BreakdownTime));
        ClaimEvents = Iservice.GetEventStatusList(SelectedModel.InsuranceClaimID).ToList();
        UpdateStatusModel = new()
            {
                InsuranceClaimID = SelectedModel.InsuranceClaimID,
            };

        SetEventMaster();
    }


    private void SetEventMaster()
    {
        int? maxval = null;
        if (ClaimEvents.Any() == true)
        {
            maxval = ClaimEvents?.Max(x => x.IcesID).Value;
        }
        EventMasterSource = Iservice.GetEventList(maxval).ToList();
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (HasPermissionInsuranceClaimServiceEdit)
        {
            try
            {
                Iservice.Update(SelectedModel);
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit InsuranceClaim.");
        }
    }

    private async Task UpdateStatus()
    {
        if (HasPermissionInsuranceClaimServiceUpdateList)
        {
            try
            {
                var authState = await auth.GetAuthenticationStateAsync();
                UpdateStatusModel.UserInfo.UserID = authState.User.Identity.Name;
                UpdateStatusModel = Iservice.UpdateClaimEvent(UpdateStatusModel);
                ClaimEvents.Add(UpdateStatusModel);
                UpdateStatusModel = new()
                    {
                        InsuranceClaimID = SelectedModel.InsuranceClaimID,
                    };
                SetEventMaster();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to UpdateList InsuranceClaim.");
        }
    }

    private void EventSelected(int? IcemID)
    {
        var SelectedEvent = EventMasterSource.First(x => x.IcemID == IcemID);
        if (EventMasterSource.Any(y => y.Order < SelectedEvent.Order && y.IsMandatory))
        {
            snackbar.Add("Other Mandatory Events are Missing!", Severity.Error);
            return;
        }
        UpdateStatusModel.IcemID = IcemID;
    }

    private async Task CloseClaim()
    {
        if (HasPermissionInsuranceClaimServiceEdit)
        {
            try
            {
                var authState = await auth.GetAuthenticationStateAsync();
                SelectedModel.IsOpen = false;
                SelectedModel.UserInfo.UserID = authState.User.Identity.Name;
                Iservice.Update(SelectedModel);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit InsuranceClaim.");
        }
    }

    private void FileUploaded(string filePath)
    {
        SelectedModel.Images.Add(filePath);
    }

}