@inject IUserService iservice
@inject IRoleService<RoleModel> Irole
@inject RoleManager<RoleModel> rolemngr
@inject IDataAuthorizationSettingsService dataAuthSetting
@inject UserManager<UserModel> Usmg
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@using System.Globalization
@using System.Security.Claims
@using System.Threading
@using System.Linq

/* Styles for the dialog and table layout */
<style>
    .mud-table-container {
        overflow: revert;
    }

    .d-flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .panels-container {
        display: flex;
        justify-content: space-between;
    }

    .panel {
        min-width: 300px; /* Adjust this value as needed */
        background-color: #f5f5f5;
        margin-right: 15px;
    }
</style>

<MudDialog Class="my-dialogue pb-3">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Manage Permissions
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (Progressing)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
        }
        else
        {
            <MudContainer Style="min-height:300px;max-height: 70vh; overflow-y:auto">
                <MudTable Style="overflow-y:hidden" Class="mb-3" Items="@Claims" Dense="true" Hover="true" Striped="true" Elevation="0" Filter="new Func<roleClaimView, bool>(search)" @bind-place="roleClaimModel">
                    <ToolBarContent>
                        <MudCheckBox T="bool" CheckedChanged="@SetAllPermissions" Class="mr-2" Checked="SetAllPermssionsVal" Label="Select All Permissions" Color="Color.Primary"></MudCheckBox>
                        <MudSpacer></MudSpacer>
                        <MudTextField @bind-Value="searchClaim" Placeholder="Search Claim... " Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Page</MudTh>
                        <MudTh>Permission</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Claim Type">@context.DocType</MudTd>
                        <MudTd DataLabel="Value" Class="d-flex flex-wrap">
                            <MudExpansionPanels>
                                @if (context.ClaimValuesEditGroup != null && context.ClaimValuesEditGroup.Any())
                                {
                                    <MudExpansionPanel Text="Role" Class="panel mb-2">
                                        @foreach (var item in @context.ClaimValuesEditGroup)
                                        {
                                            <span class="mr-5">
                                                <MudCheckBox CheckedChanged="@((bool val) => Roleupdate(val, context.ClaimType, item))" Class="mr-1" Checked="@UserClaimList.Any(x => x.Type == @context.ClaimType && x.Value == item)" Label="@item" Color="Color.Primary" />
                                            </span>
                                        }
                                    </MudExpansionPanel>
                                }
                                @if (context.ClaimValuesApprovalGroup != null && context.ClaimValuesApprovalGroup.Any())
                                {
                                    <MudExpansionPanel Text="Approval" Class="panel mb-2">
                                        @foreach (var item in @context.ClaimValuesApprovalGroup)
                                        {
                                            <span class="mr-5">
                                                <MudCheckBox CheckedChanged="@((bool val) => Roleupdate(val, context.ClaimType, item))" Class="mr-1" Checked="@UserClaimList.Any(x => x.Type == @context.ClaimType && x.Value == item)" Label="@item" Color="Color.Primary" />
                                            </span>
                                        }
                                    </MudExpansionPanel>
                                }
                            </MudExpansionPanels>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                    </PagerContent>
                </MudTable>
            </MudContainer>
        }
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public RoleModel RoleModel { get; set; }
    private RoleModel model = new RoleModel();
    public IList<Claim> UserClaimList { get; set; } = new List<Claim>();
    private string searchTruck = "";
    private string searchClaim = "";
    private string id = "";
    private UserModel usmodel = new UserModel();
    private List<RoleModel> collection = new List<RoleModel>();
    private List<Claim> clamelist = new List<Claim>();
    public string csroleid { get; set; } = "";
    IDictionary<int?, string> doctypes = new Dictionary<int?, string>();
    public bool checkbox { get; set; } = false;
    private bool SetAllPermssionsVal;

    string UserID;

    private bool Progressing;

    // Class to represent the view model for role claims
    class roleClaimView
    {
        public string DocType { get; set; }
        public string ClaimType { get; set; }
        public List<string> ClaimValuesEditGroup { get; set; } = new();
        public List<string> ClaimValuesApprovalGroup { get; set; } = new();
    }

    private List<roleClaimView> Claims = new();
    roleClaimView roleClaimModel = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await auth.GetAuthenticationStateAsync(); // Get authentication state
        UserID = authState.User.Identity.Name; // Get the user ID

        doctypes = dataAuthSetting.GetDocTypes(); // Fetch document types
        UserClaimList = await rolemngr.GetClaimsAsync(RoleModel); // Get claims for the role
        await Task.Run(() => GetAll());
        GetClaim();
        SetValue();
    }

    // Method to fetch all roles
    private void GetAll()
    {
        collection.Clear();
        collection = Irole.Select(null).ToList(); // Fetch roles from the role service
    } 

    // Method to fetch claims
    private void GetClaim()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        clamelist = Irole.GetAllClaims(ctc.Token).Result.ToList(); // Fetch all claims
        
        // Populate the Claims list with distinct claim types and their values
        foreach (var claimType in clamelist.DistinctBy(x => x.Type).Select(y => y.Type))
        {
            Claims.Add(new roleClaimView()
                {
                    DocType = doctypes.FirstOrDefault(s => s.Key.ToString() == claimType).Value,
                    ClaimType = claimType,
                    ClaimValuesEditGroup = new(clamelist.Where(x => x.Type == claimType && x.Issuer == "EditGroup").Select(y => y.Value).ToList()),
                    ClaimValuesApprovalGroup = new(clamelist.Where(x => x.Type == claimType && x.Issuer == "ApprovalGroup").Select(y => y.Value).ToList()),
                });
        }
    }

    // Method to set the initial state of permissions
    public void SetValue()
    {
        int UserClaimListCount = UserClaimList.Count;
        int clamelistCount = clamelist.Count;
        if (UserClaimListCount == clamelistCount)
        {
            SetAllPermssionsVal = true;
        }
        else
        {
            SetAllPermssionsVal = false;
        }
    }

    private void Edit(RoleModel editModel)
    {

    }

    // Method to delete a role
    private async Task Delete(int? id)
    {
        // Show confirmation dialog before deletion
        bool? result = await DialogService.ShowMessageBox(
           "Warning !",
           "Are you sure, you want to delete ?");
        if (result == true)
        {
            snackbar.Add("Deleted Successfully", Severity.Success);
        }
        GetAll();
    }

    // Method to search roles based on criteria
    private bool search(RoleModel roles)
    {
        if (roles.RoleNo != null && roles.RoleID.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (roles.RoleID == null) return true;
        return false;
    }

    // Method to update role claims
    private async Task Roleupdate(bool val, String Claimtype, String claimvalue)
    {
        Claim claim = new Claim(Claimtype, claimvalue);
        try
        {
            if (val == true)
            {
                await rolemngr.AddClaimAsync(RoleModel, claim);
                UserClaimList.Add(claim);
            }
            else
            {
                await rolemngr.RemoveClaimAsync(RoleModel, claim);
                UserClaimList.Remove(UserClaimList.FirstOrDefault(s => s.Type == claim.Type && s.Value == claim.Value));
            }
            SetValue();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    // Method to set all permissions for the role
    private async Task SetAllPermissions(bool val)
    {
        string valText = val ? "enable" : "disable";
        bool? confirm = await DialogService.ShowMessageBox("CAUTION", string.Format("Are you Sure to {0} all rights for this role?", valText), "Sure", "No");
        if (confirm == true)
        {
            SetAllPermssionsVal = val;
            Progressing = true;
            if (val)
            {
                Irole.SelectAllPermissions(RoleModel, UserID); // Select all permissions for the role
                UserClaimList.Clear();

                // Add all claims to the user claim list
                foreach (var i in clamelist)
                {
                    UserClaimList.Add(i);
                }
            }
            else
            {
                Irole.DeSelectAllPermissions(RoleModel, UserID); // Deselect all permissions for the role
                UserClaimList.Clear();
            }

            Progressing = false;
            StateHasChanged();
        }
    }

    // Method to search role claims based on document type
    private bool search(roleClaimView roleClaim)
    {
        if (roleClaim.DocType != null && roleClaim.DocType.Contains(searchClaim, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (roleClaim.DocType == null)
            return false;
        return false;
    }
}