@page "/DataAuthorizationSettingsView"
@layout AdminMainLayout
@inject IDataAuthorizationSettingsService Iservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudItem Style="padding-top:16px; padding-bottom:30px;">
    <MudPaper Class="d-flex p-3 mb-3">
        <div style="width:150%; margin-left:14px; margin-right:14px;">
            <MudAutocomplete FullWidth Label="Document Type" Value="SelectedDocType" ValueChanged="ValueChanged" T="DocTypeModel" SearchFunc="@Search" ToStringFunc="@((e) => e?.Description)"
                              Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
             </MudAutocomplete>
         </div>
         <div style="width:15%; padding-top:5px;">
             <MudButton OnClick="FetchDocData" Variant="Variant.Filled" Color="Color.Primary">Fetch Data</MudButton>
         </div>
     </MudPaper>
     @if (SelectedDocType != null)
    {
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="1" @bind-place="model">
            <ToolBarContent>
                <div style="width:150%;">
                    <MudText Typo="Typo.h6">@(SelectedDocType.Description) Settings </MudText>
                </div>
                <div v style="width:12%;">
                    <MudTooltip Text="Add Verification level">
                        <MudButton Style="margin-top:4px;" OnClick="AddNewAuthentication" Variant="Variant.Filled" Color="Color.Primary">Add New</MudButton>
                    </MudTooltip>
                </div>
            </ToolBarContent>

            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationSettingsModel, object>(x=> x.AuthorizeType)" InitialDirection="SortDirection.Ascending">AuthorizeType</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationSettingsModel, object>(x=> x.DocType)" InitialDirection="SortDirection.Ascending">DocType</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DataAuthorizationSettingsModel, object>(x=> x.RoleID)" InitialDirection="SortDirection.Ascending">RoleID</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="AuthorizeType">@context.AuthorizeType</MudTd>
                <MudTd DataLabel="DocType">@context.DocType</MudTd>
                <MudTd DataLabel="RoleID">@context.RoleID</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (@collection.Count == 0)
                {
                    <MudText>There is no authentication settings</MudText>
                }
            </ChildRowContent>
        </MudTable>
    }
</MudItem>

@code {

    private DataAuthorizationSettingsModel model = new DataAuthorizationSettingsModel();
    private List<DataAuthorizationSettingsModel> collection = new List<DataAuthorizationSettingsModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    private DocTypeModel SelectedDocType;

    private List<DocTypeModel> doctypelist;

    protected override void OnInitialized()
    {
        model = new();
        doctypelist = Iservice.GetDocTypesList().ToList();
    }


    private async Task<IEnumerable<DocTypeModel>> Search(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return doctypelist;
        return doctypelist.Where(x => x.Description.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    void ValueChanged(DocTypeModel val)
    {
        SelectedDocType = val;
        GetAll();
    }

    public void FetchDocData()
    {
        if (SelectedDocType == null || SelectedDocType.ID == null)
        {
            snackbar.Add("Please Select Doctype", Severity.Warning);
            return;
        }
        else
        {
            GetAll();
        }
    }

    public async Task AddNewAuthentication()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        DialogParameters parms = new DialogParameters();
        parms.Add("model", new DataAuthorizationSettingsModel() { DocTypeID = SelectedDocType.ID });
        var dialog = DialogService.Show<DataAuthorizationSettingsDialog>(model.ID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            GetAll();
        }
    }

    public async Task Delete(DataAuthorizationSettingsModel model)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning !",
            "Are you sure, you want to delete - AuthorizeType : " + model.AuthorizeType + " for DocType : " + model.DocType + "?");
        if (result == true)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            Iservice.Delete(model.ID, user.Identity.Name);
            snackbar.Add("Deleted Successfully", Severity.Success);
        }
        GetAll();
    }

    public void GetAll()
    {
        collection = Iservice.Select(SelectedDocType.ID).ToList();
    }
}