@page "/rolesadd"
@inject IUserService Iservice
@inject IRoleService<RoleModel> Irole
@inject IBranchService bsr
@inject RoleManager<RoleModel> imgr
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="12">
                <h5>Assign new role for @UserRmodel.UserName</h5>
                <hr />
                <div class="d-flex flex-column" style="height:70vh; overflow-x:auto;">
                    <MudCheckBox T="bool" @bind-Checked="@selectAllBranches" Label="Set All Branches" />
                    <MudTable Items="@collection" Elevation="0">
                        <HeaderContent>
                            <MudTh Style="display:none;"><MudTableSortLabel SortBy="new Func<UserBranchRoleModel, object>(x=> x.IsSelected)" InitialDirection="SortDirection.Ascending">Check</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel, object>(x=> x.Branch)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel, object>(x=> x.Role)" InitialDirection="SortDirection.Ascending">Role</MudTableSortLabel></MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Select" Style="display:none;"><MudCheckBox T="bool" @bind-Checked="@context.IsSelected" Disabled="true"></MudCheckBox></MudTd>
                            <MudTd DataLabel="Branch">@context.Branch.BranchName</MudTd>
                                <MudTd DataLabel="RoleNo">
                                    <MudSelect T="string" Label="Select Role" Value="@context.Role.RoleID" ValueChanged="((e)=> OnRoleIdSet(e,context))" AdornmentColor="Color.Secondary">
                                        @foreach (var item in rolecollection)
                                    {
                                        <MudSelectItem Value="@item.RoleID">@item.RoleID</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudTd>
                            <MudTd DataLabel="Delete">
                                <MudFab @onclick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            </MudItem>
        </MudGrid>
        <hr />
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public UserModel UserRmodel { get; set; }
    private BranchModel bmodel = new BranchModel();
    private List<BranchModel> bcollection = new List<BranchModel>();
    private RoleModel Rolem = new RoleModel();
    private List<RoleModel> rolecollection = new List<RoleModel>();

    private string searchUser = "";
    private bool selectAllBranches;
    private UserBranchRoleModel usbr = new UserBranchRoleModel();
    private List<UserBranchRoleModel> collection = new List<UserBranchRoleModel>();
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; }

    // Method to cancel the dialog
    void Cancel()
    {
        MudDialog.Cancel();
    }

    // Method to set the role ID for a specific branch or all branches
    public void OnRoleIdSet(string RoleId, UserBranchRoleModel SelectedModel)
    {
        if (selectAllBranches)
        {
            // Set the role for all branches
            foreach (var branchRoleModel in collection)
            {
                branchRoleModel.Role.RoleID = RoleId;
            }
            OnValidSubmit(null); // Pass null or a default value to indicate "All Branches" role change
        }
        else if ((!String.IsNullOrWhiteSpace(RoleId)) && SelectedModel != null)
        {
            SelectedModel.Role.RoleID = RoleId;
            OnValidSubmit(SelectedModel); // Call the submission method with the selected model
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        rolecollection = Irole.Select(null).ToList(); // Fetch all roles
        bcollection = bsr.Select().ToList(); // Fetch all branches
    }

    // Method to fetch all user-branch-role assignments
    private async Task GetAll()
    {
        collection.Clear();
        collection = Iservice.GetAllBranchesNRoles(UserRmodel?.UserID ?? null).ToList(); // Fetch assignments for the specified user
        foreach (var item in collection)
        {
            if (item.Role == null)
            {
                item.Role = new();
            }
            item.User = UserRmodel;
        }
    }

    // Method to delete a user-branch-role assignment
    public async Task Delete(UserBranchRoleModel Context)
    {
        bool? result = await DialogService.ShowMessageBox(
               "Warning !",
               "Are you sure, you want to delete ?");
        if (result == true)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User.Identity.Name;
            Iservice.DeleteBranchesNRoles(Context, user); // Call the service to delete the assignment
            snackbar.Add("Deleted Successfully", Severity.Success);
            GetAll();
        }
    }

    // Method to handle the submission of role assignmentso
    private async void OnValidSubmit(UserBranchRoleModel context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        try
        {
            if (selectAllBranches)
            {
                // If "Set All Branches" is checked, set roles for all branches
                Iservice.SetBranchesNRoles(collection.Where(s => s.Role != null).ToList(), user.Identity.Name); // Call the service to set roles
                snackbar.Add("Saved Successfully", Severity.Success);
            }
            else if (collection != null && collection.Where(s => s.Role != null && s.Role.RoleID != null && s.Role.RoleID != string.Empty && context != null && context.Role != null && s.Role.RoleID == context.Role.RoleID) != null && collection.Where(s => s.Role != null).Count() != 0)
            {
                // If specific roles are assigned, set roles for those branches
                Iservice.SetBranchesNRoles(collection.Where(s => s.Role != null && s.Role.RoleID != null && s.Role.RoleID != string.Empty).ToList(), user.Identity.Name); // Call the service to set roles
                snackbar.Add("Saved Successfully", Severity.Success);
            }
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }
}