@page "/rolesadd"
@inject IUserService Iservice
@inject IRoleService<RoleModel> Irole
@inject IBranchService bsr
@inject RoleManager<RoleModel> imgr
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

    <MudDialog>
    <TitleContent><MudIconButton OnClick="Cancel"Icon=@Icons.Filled.Close ></MudIconButton></TitleContent>
   
    <DialogContent><hr />
        <MudPaper>
    <MudContainer>
    <MudGrid>
      <MudItem xs="12" md="6">
        
 <h5>Current role of user</h5>
  <hr />

   
 
       <MudTable  Items="@collection"   Dense="true" Hover="true"  Striped="true" Elevation="10" @bind-user="usbr">            
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel,object>(x=> x.Branch.BranchName)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel, object>(x=> x.Role.RoleID)" InitialDirection="SortDirection.Ascending">Role</MudTableSortLabel></MudTh></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Branch Name">@context.Branch.BranchName</MudTd>
               <MudTd DataLabel="Role">@usbr.Role</MudTd>
                @*<MudTd DataLabel="Role">@context.Role.RoleNo</MudTd>*@
               <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" title="Delete" Size="Size.Small" IconSize="Size.Small" />

                    </MudTd>
               
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
          </MudTable>
        
    
     </MudItem>
      
       <MudItem xs="12" md="6">
        <h5>Assign new role</h5>

        <hr />
<EditForm Model="@collection" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudItem>
              <MudCardContent>
                   <MudItem xs="12" md="12">
 <MudSelect Label="Select Branch" @bind-Value="usbr.Branch" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in bcollection)
                                {
                                    <MudSelectItem Value="@item">@item.BranchName</MudSelectItem>
                                }
                                </MudSelect>
</MudItem> <MudItem xs="12" md="12">
   <MudSelect Label="Select Role" @bind-Value="Rolem.RoleNo" T="int?" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var items in rolecollection)
                                {
                                    <MudSelectItem Value="@items.RoleNo">@items.RoleID</MudSelectItem>
                                }
                                </MudSelect></MudItem>
                                <br />
                      <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Apply role</MudButton>

                </MudCardContent>
                </MudItem>
            </EditForm>
         
   
   
    </MudItem>
      </MudGrid>
    </MudContainer>
    </MudPaper>
    <hr />

     </DialogContent>
     </MudDialog>
 





@code {

    [Parameter]
    public String UserRmodel { get; set; }

    private BranchModel bmodel = new BranchModel();
    private List<BranchModel> bcollection = new List<BranchModel>();
    private RoleModel Rolem = new RoleModel();
    private List<RoleModel> rolecollection = new List<RoleModel>();

    private string searchUser = "";
    private UserBranchRoleModel usbr = new UserBranchRoleModel();
    private List<UserBranchRoleModel> collection = new List<UserBranchRoleModel>();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());      
        rolecollection = Irole.Select(null).ToList();
        bcollection = bsr.Select().ToList();       
    }
    private void GetAll()
    {
        collection.Clear();
        collection = Iservice.GetBranchesNRoles(UserRmodel).ToList();
    }
    public void Delete(UserBranchRoleModel Context)
    {
        Iservice.DeleteBranchesNRoles(Context, "Rijas");
        GetAll();
    }
    private async void OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;


        string userid = UserRmodel;
        //usbr.User.UserID = userid;
       // usbr.Role.RoleNo = Rolem.RoleNo;
        try
        {


            {
                
                collection.Add(usbr);
            Iservice.SetBranchesNRoles(collection,userid);
            snackbar.Add("Saved Successfully", Severity.Success);
            if (collection.Exists(x => x.Branch == usbr.Branch))
            {
                collection[collection.FindIndex(x => x.Branch == usbr.Branch && x.Role==usbr.Role )] = usbr;
            }
            else
            {
                collection.Add(usbr);
            }
            usbr = new UserBranchRoleModel();           
        }
         }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }
   
}