
@page "/rolesadd"
@inject IUserService Iservice
@inject IRoleService<RoleModel> Irole
@inject IBranchService bsr
@inject RoleManager<RoleModel> imgr
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Globalization
@using Microsoft.AspNetCore.Identity

<div style="padding:5%" >
   

    <MudDialog>
    <TitleContent><MudIconButton OnClick="Cancel"Icon=@Icons.Filled.Close ></MudIconButton></TitleContent>
    <DialogContent>
<h5>Current role of user</h5>

     <MudGrid>
   <MudItem xs="12">
       <MudTable  Items="@collection" @bind-user="usbr">            
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel,object>(x=> x.Branch.BranchName)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<UserBranchRoleModel, object>(x=> x.Role.RoleID)" InitialDirection="SortDirection.Ascending">Role</MudTableSortLabel></MudTh></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Branch Name">@context.Branch.BranchName</MudTd>
                <MudTd DataLabel="Role">@usbr.Role</MudTd>
               <MudTd DataLabel="">

                    </MudTd>
               
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
          </MudTable>
          </MudItem>
        </MudGrid>
        <h5>Assign new role</h5>
   <MudGrid>
<MudItem xs="12">
<EditForm Model="@collection" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />'
                <MudItem>
              <MudCardContent>
 <MudSelect Label="Select Branch" @bind-Value="usbr.Branch" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in bcollection)
                                {
                                    <MudSelectItem Value="@item">@item.BranchName</MudSelectItem>
                                }
                                </MudSelect>

   <MudSelect Label="Select Role" @bind-Value="Rolem.RoleNo" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var items in rolecollection)
                                {
                                    <MudSelectItem Value="@items.RoleNo">@items.RoleID</MudSelectItem>
                                }
                                </MudSelect>
                                <br />
                      <MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Apply role</MudButton>

                </MudCardContent>
                </MudItem>
            </EditForm>
            </MudItem>
     </MudGrid>
     </DialogContent>
     </MudDialog>
   </div>

@code {

    [Parameter]
    public String UserRmodel { get; set; }

    private BranchModel bmodel = new BranchModel();
    private List<BranchModel> bcollection = new List<BranchModel>();
    private RoleModel Rolem = new RoleModel();
    private List<RoleModel> rolecollection = new List<RoleModel>();

    private string searchUser = "";
    private UserBranchRoleModel usbr = new UserBranchRoleModel();
    private List<UserBranchRoleModel> collection = new List<UserBranchRoleModel>();
      [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());      
        rolecollection = Irole.Select(null).ToList();
        bcollection = bsr.Select().ToList();       
    }
    private void GetAll()
    {
        collection.Clear();
        collection = Iservice.GetBranchesNRoles(UserRmodel).ToList();
    }

    private async void OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        //usbr.User.UserID = user.Identity.Name;
        string userid = UserRmodel;
        try
        {
            
 
        {
            Iservice.SetBranchesNRoles(collection,userid);
            snackbar.Add("Saved Successfully", Severity.Success);
            if (collection.Exists(x => x.Branch == usbr.Branch))
            {
                collection[collection.FindIndex(x => x.Branch == usbr.Branch && x.Role==usbr.Role )] = usbr;
            }
            else
            {
                collection.Add(usbr);
            }
            usbr = new UserBranchRoleModel();           
        }
         }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }
   
}