@using ArmsModels.BaseModels.General;
@using System.Threading;
@inject IBranchSettingsService IBranchSettings
@inject AuthenticationStateProvider auth
@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog Class="my-dialogue pb-3">
    <DialogContent>
        <div style="padding:8px;">
            <EditForm id="SettingsForm" Model="@SettingsList" OnValidSubmit="@(() => OnValidSubmit(SettingsList))">
                <MudGrid style="padding:0px;">
                    <MudItem sm="12" style="border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right:1px solid lightgray;bor ; border-top-left-radius:7px; border-top-right-radius:7px; ">
                        <MudGrid>
                            <MudItem sm="4">
                                <p style="padding-Top:18px;"><b><Center><h6>SETTINGS</h6></Center></b></p>
                            </MudItem>
                            <MudItem sm="4">
                                <p style="padding-Top:19px;"><b><Center><h6>SETTINGS DESCRIPTION</h6></Center></b></p>
                            </MudItem>
                            <MudItem sm="4">
                                <p style="padding-Top:19px;"><b><Center><h6>Value</h6></Center></b></p>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    @foreach (var i in SettingsList)
                    {
                        if (i == SettingsList.Last())
                        {
                            <MudItem sm="12" style="border:1px solid lightgray; border-bottom-left-radius:7px; border-bottom-right-radius:7px; ">
                                <MudGrid>
                                    <MudItem sm="4" Class="d-flex align-content-lg-between">
                                        <MudCheckBox T="bool" @bind-Checked="@i.RecordStatus" Label="@i.SettingsName"></MudCheckBox>
                                    </MudItem>
                                    <MudItem sm="4" Class="d-flex align-content-lg-between">
                                        <p Class="d-flex align-content-center">@i.SettingsDescription</p> @*style="padding-Top:19px;"*@
                                    </MudItem>
                                    <MudItem sm="4" Class="d-flex align-items-center">
                                        @if (i.ValueInput == true)
                                        {
                                            <MudTextField @bind-Value="@i.Value"
                                                          Placeholder="Enter Value"
                                                          Disabled="@(i.RecordStatus != true)"
                                                          Immediate="true"
                                                          For="@(() => i.Value)"
                                                          Required="@(i.ValueInput == true && i.RecordStatus == true)"
                                                          RequiredError="Value is required when active." />
                                        }
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem sm="12" style="border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right:1px solid lightgray;">
                                <MudGrid>
                                    <MudItem sm="4" Class="d-flex align-content-center">
                                        <MudCheckBox T="bool" @bind-Checked="@i.RecordStatus" Label="@i.SettingsName"></MudCheckBox>
                                    </MudItem>
                                    <MudItem sm="4" Class="d-flex align-content-lg-between">
                                        <p Class="d-flex align-content-lg-between">@i.SettingsDescription</p> @*style="padding-Top:19px;"*@
                                    </MudItem>
                                    <MudItem sm="4" Class="d-flex align-items-center">
                                        @if (i.ValueInput == true)
                                        {
                                            <MudTextField @bind-Value="@i.Value"
                                                          Placeholder="Enter Value"
                                                          Disabled="@(i.RecordStatus != true)"
                                                          Immediate="true"
                                                          For="@(() => i.Value)"
                                                          Required="@(i.ValueInput == true && i.RecordStatus == true)"
                                                          RequiredError="Value is required when active." />
                                        }
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:2px; padding-Top:12px;" class="d-flex">
            <MudButton Disabled="@_busy" form="SettingsForm" Variant="Variant.Filled" Color="Color.Dark" ButtonType="ButtonType.Submit">Save Settings</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    string UserID;
    [Parameter]
    public int? branchID { get; set; }
    private List<SettingsModel> SettingsList;
    private bool _busy;

    public bool HasPermissionBranchSettingsServiceEdit { get; set; } = false;
    int BranchSettingsDocTypeID = 72;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;

        CancellationTokenSource ctc = new CancellationTokenSource();
        // Check if the user has permission to edit branch settings
        HasPermissionBranchSettingsServiceEdit = await Irole.HasClaim(BranchSettingsDocTypeID.ToString(), "Edit", ctc.Token);

        // Fetch the settings for the specified branch ID
        SettingsList = IBranchSettings.SelectByID(branchID).ToList();
    }

    // Method to handle form submission
    private async Task OnValidSubmit(List<SettingsModel> context)
    {
        if (!HasPermissionBranchSettingsServiceEdit)
        {
            await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have permission to edit BranchSettings.");
            return;
        }

        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        // 👇 Manual validation
        foreach (var setting in context)
        {
            if (setting.ValueInput == true && setting.RecordStatus == true && string.IsNullOrWhiteSpace(setting.Value))
            {
                snackbar.Add($"'{setting.SettingsName}' requires a value.", Severity.Error);
                return;
            }
        }

        _busy = true;

        try
        {
            var filteredContext = context.Where(s => s.RecordStatus == true).ToList();
            await Task.Run(() => IBranchSettings.Update(branchID, filteredContext, UserID));
            snackbar.Add("Updated Successfully", Severity.Success);
        }
        catch (Exception ex)
        {
            snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        finally
        {
            _busy = false;
        }
    }


}