@using ArmsModels.BaseModels.General;
@inject IBranchSettingsService IBranchSettings
@inject AuthenticationStateProvider auth


<MudDialog Class="my-dialogue pb-3">
    <DialogContent>
        <div style="padding:8px;">
            <EditForm id="SettingsForm" Model="@SettingsList" OnValidSubmit="@(() => OnValidSubmit(SettingsList))">
                <MudGrid style="padding:0px;">
                    @*@if (i == SettingsList.First())
                    {*@
                    <MudItem sm="12" style="border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right:1px solid lightgray;bor ; border-top-left-radius:7px; border-top-right-radius:7px; ">
                        <MudGrid>
                            <MudItem sm="4">
                                <p style="padding-Top:18px;"><b><Center><h6>SETTINGS</h6></Center></b></p>
                            </MudItem>
                            <MudItem sm="8">
                                <p style="padding-Top:19px;"><b><Center><h6>SETTINGS DESCRIPTION</h6></Center></b></p>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    @*}*@
                    @foreach (var i in SettingsList)
                    {
                        if (i == SettingsList.Last())
                        {
                            <MudItem sm="12" style="border:1px solid lightgray; border-bottom-left-radius:7px; border-bottom-right-radius:7px; ">
                                <MudGrid>
                                    <MudItem sm="4" Class="d-flex align-content-lg-between">
                                        <MudCheckBox @bind-Checked="@i.RecordStatus" Label="@i.SettingsName"></MudCheckBox>
                                    </MudItem>
                                    <MudItem sm="8" Class="d-flex align-content-lg-between">
                                        <p Class="d-flex align-content-center">@i.SettingsDescription</p> @*style="padding-Top:19px;"*@
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        }
                        else
                        {
                            <MudItem sm="12" style="border-top: 1px solid lightgray; border-left: 1px solid lightgray; border-right:1px solid lightgray;">
                                <MudGrid>
                                    <MudItem sm="4" Class="d-flex align-content-center">
                                        <MudCheckBox @bind-Checked="@i.RecordStatus" Label="@i.SettingsName"></MudCheckBox>
                                    </MudItem>
                                    <MudItem sm="8" Class="d-flex align-content-lg-between">
                                        <p Class="d-flex align-content-lg-between">@i.SettingsDescription</p> @*style="padding-Top:19px;"*@
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:2px; padding-Top:12px;" class="d-flex">
            <MudButton form="SettingsForm" Variant="Variant.Filled" Color="Color.Dark" ButtonType="ButtonType.Submit">Save Settings</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    string UserID;

    [Parameter]
    public int? branchID { get; set; }

    private List<SettingsModel> SettingsList;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;

        SettingsList = IBranchSettings.SelectByID(branchID).ToList();
    }


    private async Task OnValidSubmit(List<SettingsModel> context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        List<int?> RecordStatusList = context.Where(s => s.RecordStatus ?? false).Select(d => d.SettingsID).ToList();

       // IBranchSettings.Update(branchID, RecordStatusList, UserID);
    }
}