@page "/userrole"
@layout AdminMainLayout
@inject IUserService iservice
@inject IRoleService<RoleModel> Irole
@inject RoleManager<RoleModel> rolemngr
@inject UserManager<UserModel> Usmg
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize(Policy = "Admin")]
@inject IDialogService DialogService
@using System.Globalization
@using System.Security.Claims
@using System.Threading

<div style="padding-top:16px;">
    <div style="background-color:#1469c0; padding:1%; padding-top:1%; color:#fff; border-top-left-radius:4px; border-top-right-radius:4px;">
        <div style="float:left;padding-top:1%"><h6> Roles</h6></div><div style="float:right;">
            <MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
                Add New Role
            </MudButton>
        </div>
        <br />
        <br />
    </div>

    <MudTable Items="@collection" Dense="true" Filter="new Func<RoleModel, bool>(search)" @bind-role="model">
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleNo)" InitialDirection="SortDirection.Ascending">Role No</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleID)" InitialDirection="SortDirection.Ascending">Role ID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleDesc)" InitialDirection="SortDirection.Ascending">RoleDesc</MudTableSortLabel></MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd @onclick="@(()=>croleid(context.RoleID))" DataLabel="Role ID">@context.RoleID</MudTd>
            <MudTd DataLabel="Role No">@context.RoleNo</MudTd>
            <MudTd DataLabel="Role Desc">@context.RoleDesc</MudTd>
            <MudTd DataLabel="">
                <MudIconButton  OnClick="@(()=> Edit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" Class="ml-2" />
                <MudIconButton OnClick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" Class="ml-2" />
                <MudIconButton OnClick="@(()=>PermissionsDilogue(context))" Color="Color.Secondary" Icon="@Icons.Material.Filled.PermIdentity" Variant="Variant.Filled" Class="ml-2" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
        </PagerContent>
    </MudTable>
</div>

@code {

    private string searchTruck = "";
    private string id = "";

    private RoleModel model = new RoleModel();
    private UserModel usmodel = new UserModel();
    private List<RoleModel> collection = new List<RoleModel>();
    private List<Claim> clamelist = new List<Claim>();
    public string csroleid { get; set; } = "";
    public bool checkbox { get; set; } = false;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Cancel() => MudDialog.Cancel();

    class roleClaimView
    {
        public string ClaimType { get; set; }
        public List<string> ClaimValues { get; set; } = new();
    }

    private List<roleClaimView> Claims = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
        await GetClaim();
    }

    private async Task GetAll()
    {
        if (collection != null)
        {
            collection.Clear();
        }
        collection = Irole.Select(null).ToList();
    }

    private async Task GetClaim()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        clamelist = Irole.GetAllClaims(ctc.Token).Result.ToList();
        foreach (var claimName in clamelist.DistinctBy(x => x.Type).Select(y => y.Type))
        {
            Claims.Add(new roleClaimView()
                {
                    ClaimType = claimName,
                    ClaimValues = new(clamelist.Where(x => x.Type == claimName).Select(y => y.Value).ToList())
                });
        }
    }

    private async Task OpenDialog()
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", new RoleModel());
        var dialog = DialogService.Show<UserAddDilog>("Add Roles", parms);
        var result = await dialog.Result;

        // you can check if the modal was cancelled
        var isCancelled = result.Canceled;

        await GetAll();
        await GetClaim();
    }

    private async Task Edit(RoleModel editModel)
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", editModel.Clone());
        var dialog = DialogService.Show<UserAddDilog>("Add Roles", parms);
        var result = await dialog.Result;

        // you can check if the modal was cancelled
        var isCancelled = result.Cancelled;
        if (!isCancelled)
        {
            await GetAll();
            await GetClaim();
        }
    }

    private async Task Delete(RoleModel editModel)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Are you sure you want to delete this entry?",
            yesText: "Delete!", cancelText: "Cancel");
        var state = result == null ? "Cancelled" : "Deleted!";
        if (state == "Deleted!")
        {
            await rolemngr.DeleteAsync(editModel);
            snackbar.Add("Deleted Successfully", Severity.Success);
            await GetAll();
            await GetClaim();
        }
    }

    private bool search(RoleModel roles)
    {
        if (roles.RoleNo != null && roles.RoleID.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (roles.RoleID == null) return true;
        return false;
    }

    private void PermissionsDilogue(RoleModel editModel)
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("RoleModel", editModel.Clone());
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium };
        DialogService.Show<ClaimDilogue>("Manage Permissions", parms, maxWidth);
    }

    private void croleid(String rid)
    {
        csroleid = rid;
    }

    private async Task Roleupdate(bool val, String Claimtype, String claimvalue)
    {
        Claim claim = new Claim(Claimtype, claimvalue);
        model.RoleID = csroleid;
        if (val == true)
        {
            rolemngr.AddClaimAsync(model, claim);
            snackbar.Add("Claim Added", Severity.Success);
            await GetAll();
        }
        else
        {
            rolemngr.RemoveClaimAsync(model, claim);
            snackbar.Add("Claim Removed", Severity.Success);
            await GetAll();
        }
    }
}