@page "/userhome"
@layout AdminMainLayout
@inject IUserService Iservice
@inject UserManager<UserModel> Usmg
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize(Policy = "Admin")]
@inject IDialogService DialogService
@using System.Globalization
@using Microsoft.AspNetCore.Identity

<div style="padding-top:16px;">
    <div style="background-color:#1469c0; padding:1%; padding-top:1%; color:#fff; border-top-left-radius:4px; border-top-right-radius:4px">
        <div style="float:left;padding-top:1%"><h6>User List</h6></div><div style="float:right;">
            <MudButton OnClick="DeletedUsersDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
                Disabled Users
            </MudButton>
            <MudButton OnClick="Undilog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
                Unapproved User
            </MudButton>
        </div>
        <br />
        <br />
    </div>

    <MudTable Items="@collection" Dense="true" Filter="new Func<UserModel, bool>(search)" @bind-Truck="model">
        <ToolBarContent>
            <MudTextField @bind-Value="searchUser" Placeholder="Search User... " Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.UserID)" InitialDirection="SortDirection.Ascending">UserID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.UserName)" InitialDirection="SortDirection.Ascending">UserName</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.Email)" InitialDirection="SortDirection.Ascending">Email</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.PhoneNumber)" InitialDirection="SortDirection.Ascending">Phone</MudTableSortLabel></MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="UserID">@context.UserID</MudTd>
            <MudTd DataLabel="UserName">@context.UserName</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>
            <MudTd DataLabel="PhoneNumber">@context.PhoneNumber</MudTd>
            <MudTd DataLabel="">
                <MudFab style="font-size:5px" @onclick="@(()=> Edit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.ManageAccounts" Size="Size.Small" IconSize="Size.Small" />
                <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
        </PagerContent>
    </MudTable>
</div>

@code {

    private UserModel model = new UserModel();

    private string searchUser = "";

    private List<UserModel> collection = new List<UserModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    DialogOptions maxWidthMedium = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    protected async override Task OnInitializedAsync()
    {
        await GetAll();
    }

    private async Task GetAll()
    {
        collection.Clear();
        collection = Iservice.Select(null).ToList();
    }

    private void Edit(UserModel editModel)
    {
        DialogParameters parms = new();
        parms.Add("UserRmodel", editModel.Clone());
        DialogService.Show<RoleassignDilog>("ADD/EDIT", parms);
    }

    private async Task Delete(UserModel model)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning !",
            "Are you sure, you want to delete - " + model.UserName + " (" + model.UserID + ") ?");
        if (result == true)
        {
            var CurrentElement = collection.First(x => x.UserID == model.UserID);
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            int value = Iservice.DeleteUser(CurrentElement.UserID, user.Identity.Name);
            if (value != -1)
            {
                snackbar.Add("Deleted Successfully", Severity.Success);
            }
        }
        await GetAll();
    }

    private bool search(UserModel users)
    {
        if (users.UserID != null && users.UserID.Contains(searchUser, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (users.UserID == null) return true;
        return false;
    }

    private void OpenDialog()
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", new UserDilogue());
    }

    private void DeletedUsersDialog()
    {
        DialogService.Show<DeletedUserDialog>("", maxWidthMedium);
    }

    private void Undilog()
    {
        DialogService.Show<UnaprovedDilog>("", maxWidthMedium);
    }

    private void Roledilog(String UserRModel)
    {
        DialogParameters parms = new();
        parms.Add("UserRModel", UserRModel);
        DialogService.Show<RoleassignDilog>("Assign Branches", parms, maxWidth);
    }
}