@page "/userrole"

<h3>UserManagement</h3>


@inject IUserService iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@using System.Globalization


<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6> Truick List</h6></div><div style="float:right;"><MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
   Manage User Privilage
</MudButton></div>
<br />
<br />
</div>
<MudGrid Spacing="2">
  
    <MudItem>
        <MudTable Items="@collection" Elevation="8" Filter="new Func<RoleModel, bool>(search)" @bind-Truck="model">
            <ToolBarContent>
               
                <MudTextField @bind-Value="searchTruck" Placeholder="Search Trucks... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleID)" InitialDirection="SortDirection.Ascending">Truck</MudTableSortLabel></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleNo)" InitialDirection="SortDirection.Ascending">Type</MudTableSortLabel></MudTh></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleDesc)" InitialDirection="SortDirection.Ascending">Fuel Type</MudTableSortLabel></MudTh></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Truck">@context.RoleID</MudTd>
                <MudTd DataLabel="TruckType">@context.RoleNo</MudTd>
                <MudTd DataLabel="FuelType">@context.RoleDesc</MudTd>

                 <MudTd DataLabel="">

                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>



</MudGrid>
@code {

    private RoleModel model = new RoleModel();

    private string searchTruck = "";

    private List<RoleModel> collection = new List<RoleModel>();

    public UserManagement()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());

    }

    private void GetAll()
    {
     //  collection.Clear();
       //foreach (var item in Istore.Select(0))
       //{
         // collection.Add(item);
        //}
    }



    private void Edit(RoleModel editModel)
    {

    }
    private void Delete(int? id)
    {
       
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }


    private bool search(RoleModel roles)
    {
        if (roles.RoleNo != null && roles.RoleID.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (roles.RoleID == null) return true;
        return false;
    }
    private void OpenDialog()
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", new TruckModel());

       
    }
}


