@page "/userhome"

<h3>UserManagement</h3>


@inject IUserService Iservice

@inject UserManager<UserModel> Usmg
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@using System.Globalization
@using Microsoft.AspNetCore.Identity


<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6> Truick List</h6></div><div style="float:right;"><MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Manage User Roles
</MudButton></div>
<br />
<br />
</div>
<MudGrid Spacing="2">
  
    <MudItem>
        <MudTable Items="@collection" Elevation="8" Filter="new Func<UserModel, bool>(search)" @bind-Truck="model">
            <ToolBarContent>
               
                <MudTextField @bind-Value="searchTruck" Placeholder="Search Trucks... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.UserID)" InitialDirection="SortDirection.Ascending">Truck</MudTableSortLabel></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.UserName)" InitialDirection="SortDirection.Ascending">Type</MudTableSortLabel></MudTh></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.Email)" InitialDirection="SortDirection.Ascending">Fuel Type</MudTableSortLabel></MudTh></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<UserModel, object>(x=> x.PhoneNumber)" InitialDirection="SortDirection.Ascending">Fuel Capacity</MudTableSortLabel></MudTh></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Truck">@context.UserID</MudTd>
                <MudTd DataLabel="TruckType">@context.UserName</MudTd>
                <MudTd DataLabel="FuelType">@context.Email</MudTd>
                <MudTd DataLabel="FuelTankCapacity">@context.PhoneNumber</MudTd>
                <MudTd DataLabel="BodyType">@context.RecordStatus</MudTd>
                 <MudTd DataLabel="">

                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>



</MudGrid>
@code {

    private UserModel model = new UserModel();

    private string searchTruck = "";

    private List<UserModel> collection = new List<UserModel>();


    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());

    }

    private void GetAll()
    {
        collection.Clear();
        collection = Iservice.Select(null).ToList();

    }



    private void Approve(UserModel editModel)
    {

    }
    private async Task Delete(String id)
    {
        var usrmdl = collection.First(x => x.UserID == id);
        await Usmg.DeleteAsync(usrmdl);
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }


    private bool search(UserModel users)
    {
        if (users.UserID != null && users.UserID.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (users.UserID == null) return true;
        return false;
    }
    private void OpenDialog()
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", new TruckModel());

       
    }
}


