@page "/userrole"
@layout AdminMainLayout

@inject IUserService iservice
@inject IRoleService<RoleModel> Irole
@inject RoleManager<RoleModel> rolemngr
@inject UserManager<UserModel> Usmg
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize(Policy = "Admin")]
@inject IDialogService DialogService
@using System.Globalization
@using System.Security.Claims
@using System.Threading

<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6> Roles</h6></div><div style="float:right;"><MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Add New Role
</MudButton></div>
<br />
<br />
</div>

        <MudTable Items="@collection" Filter="new Func<RoleModel, bool>(search)" @bind-role="model">
            <ToolBarContent>
               
               @* <MudTextField @bind-Value="searchRoles" Placeholder="Search Trucks... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"></MudTextField>*@
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleNo)" InitialDirection="SortDirection.Ascending">Role No</MudTableSortLabel></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleID)" InitialDirection="SortDirection.Ascending">Role ID</MudTableSortLabel></MudTh></MudTh>
                <MudTh><MudTh><MudTableSortLabel SortBy="new Func<RoleModel, object>(x=> x.RoleDesc)" InitialDirection="SortDirection.Ascending">RoleDesc</MudTableSortLabel></MudTh></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd @onclick="@(()=>croleid(context.RoleID))" DataLabel="Role ID">@context.RoleID</MudTd>
                <MudTd DataLabel="Role No">@context.RoleNo</MudTd>
                <MudTd DataLabel="Role Desc">@context.RoleDesc</MudTd>
                 <MudTd DataLabel="">
                    <MudFab style="font-size:5px" @onclick="@(()=> Edit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" /><MudFab @onclick="@(()=> Delete(context.RoleNo))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                                   <MudButton Variant="Variant.Filled" @onclick="@(()=>ClaimDilogue(context.RoleID))" Color="Color.Secondary">Claims</MudButton>

                    </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    



@code {

    private RoleModel model = new RoleModel();

    private string searchTruck = "";
    private string id = "";
    private UserModel usmodel= new UserModel();
    private List<RoleModel> collection = new List<RoleModel>();
    private List<Claim> clamelist = new List<Claim>();
    public string csroleid { get; set; } = "";
    public bool checkbox { get; set; } = false;

      [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();
    class roleClaimView
    {        
        public string ClaimType { get; set; }
        public List<string> ClaimValues { get; set; } = new();
    }
    private List<roleClaimView> Claims = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => GetAll());
        GetClaim();
    }

    private void GetAll()
    {
        
        collection = Irole.Select(null).ToList();

    }

    private void GetClaim()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        clamelist= Irole.GetAllClaims(ctc.Token).Result.ToList();
        foreach(var claimName in clamelist.DistinctBy(x => x.Type).Select(y => y.Type))
        {
            Claims.Add(new roleClaimView()
                {
                    ClaimType = claimName,
                    ClaimValues = new(clamelist.Where(x => x.Type == claimName).Select(y => y.Value).ToList())
                });
        }

    }
    private void Edit(RoleModel editModel)
    {

    }
    private void Delete(int? id)
    {

        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }


    private bool search(RoleModel roles)
    {
        if (roles.RoleNo != null && roles.RoleID.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (roles.RoleID == null) return true;
        return false;
    }

    private void OpenDialog()
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("EditModel", new RoleModel());

        DialogService.Show<UserAddDilog>("Add Roles",parms);
    }
    private void ClaimDilogue( String RoleId)
    {
         DialogParameters parms = new DialogParameters();
        parms.Add("ClaimModel", new RoleModel());

        DialogService.Show<ClaimDilogue>("Add Claims",parms);
    }
    private void croleid(String rid)
    {
        csroleid = rid;
    }
    private void Roleupdate(bool val,String Claimtype,String claimvalue)
    { 
        Claim claim = new Claim(Claimtype, claimvalue);
        model.RoleID = csroleid;

        if(val==true)
        {

            rolemngr.AddClaimAsync(model,claim);
            snackbar.Add("Claim Added", Severity.Success);
            GetAll();
        }
        else
        {
            rolemngr.RemoveClaimAsync(model, claim);
            snackbar.Add("Claim Removed", Severity.Success);
            GetAll();
        }
    }

}
