@inject IPartyService Iparty
@inject IDriverService Iservice
@inject IBranchService Ibranchservice

@inject IAddressService Iaddress
@inject IContactService Icontact

@inject IDialogService DialogService

@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@using System.Threading;
@inject IRoleService<RoleModel> Irole

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            ADD/EDIT Drivers
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="min-height:300px;max-height:70vh; overflow:scroll">
            <EditForm id="formDriver" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudTabs Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Driver Info">
                        <MudGrid Spacing="4">
                            @if (string.IsNullOrEmpty(model.DriverImage))
                            {
                                <MudItem xs="12" md="4">
                                    <MudImage Fluid ObjectFit="ObjectFit.Cover" Src="/ArmsStaticFiles/Drivers/defaultImage.png" Alt="PHOTO" />
                                </MudItem>
                            }
                            else
                            {
                                <MudItem xs="12" md="4">
                                    @*<iframe class="mt-1 mr-1 ml-1" src="@model.DriverImage" height="500" alt="PHOTO" />*@
                                    <MudImage Fluid ObjectFit="ObjectFit.Cover" Src="@model.DriverImage" Alt="PHOTO" />
                                </MudItem>
                            }
                            <MudItem xs="12" md="8">
                                <MudGrid Spacing="2">
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.DriverName" Label="Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DriverName)"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudDatePicker Label="DOB" Variant="Variant.Outlined" DisableToolbar="true" Margin="Margin.Dense" Editable="true" @bind-Date="model.DateOfBirth" DateFormat="dd/MM/yyyy" For="@(() => model.DateOfBirth)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudNumericField HideSpinButtons MaxLength="12" @bind-Value="model.AdhaarNo" Label="ADHAAR No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdhaarNo)"></MudNumericField>
                                    </MudItem>
                                    <!-- Rest of the Blazor component markup -->
                                    @*                                    <MudItem xs="12" md="6">
                                    <MudTextField @bind-Value="model.FestivalBonus" Label="Bonus For" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.FestivalBonus)"></MudTextField>
                                    </MudItem>*@
                                    <MudItem xs="12" md="6">
                                        <PartySelector @bind-Value="model.DriverAgent" label="Contractor / Supplier" NatureOfBusiness="Supplier"></PartySelector>
                                    </MudItem>
                                    <MudItem md="6">
                                        <MudTextField Label="Reference" @bind-Value="model.AdditionalInfo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalInfo)"></MudTextField>
                                    </MudItem>
                                    <MudItem md="6">
                                        <MudNumericField HideSpinButtons MaxLength="10" Label="Mobile" @bind-Value="model.Mobile" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Mobile)"></MudNumericField>
                                    </MudItem>
                                    <MudItem md="6">
                                        <MudTextField Label="Email" @bind-Value="model.Email" InputMode="InputMode.email" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="InputType.Email" For="@(() => model.Email)"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" md="6" Class="d-flex align-center">
                                        @if (!string.IsNullOrEmpty(model.AdhaarImage))
                                        {
                                            @*<MudTooltip Text="Download Adhaar">*@

                                            <a href="@model.AdhaarImage" download="Adhaar">
                                                <MudText Typo="Typo.h6" Color="Color.Primary">
                                                    Adhaar
                                                    <MudIcon Icon="@Icons.Material.Filled.Download" Title="Download" />
                                                </MudText>
                                            </a>

                                            @*</MudTooltip>*@
                                        }
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                    <MudTabPanel Text="Address">
                        <AddressView Address="model.Address" Label="@(null)"></AddressView>
                    </MudTabPanel>
                    @foreach (var item in model.Contacts.Select((value, i) => new { i, value }))
                    {
                        <MudTabPanel Text="@("Contact"+(item.i+1))">
                            <ContactView Index="null" Model="item.value"></ContactView>
                        </MudTabPanel>
                    }
                </MudTabs>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudTooltip Text="Upload Adhaar">
            <MyFileUpload FolderName="Drivers/Adhaar" FileName="@Guid.NewGuid().ToString()" Label="Adhaar" @bind-FilePath="model.AdhaarImage"></MyFileUpload>
        </MudTooltip>
        <MudTooltip Text="Upload Photo">
            <MyFileUpload FolderName="Drivers/Photos" FileName="@Guid.NewGuid().ToString()" Label="Photo" @bind-FilePath="model.DriverImage"></MyFileUpload>
        </MudTooltip>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddContact">Add Contact</MudButton>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton form="formDriver" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public DriverModel model { get; set; }

    private List<PartyModel> parties = new List<PartyModel>();

    DriverModel existingDriver;

    public bool HasPermissionDriverServiceEdit { get; set; } = false;
    public int DocTypeID = 50;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionDriverServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        if (model.DriverAgentID != null && model.DriverAgentID != 0)
        {
            model.DriverAgent = Iparty.SelectByID(model.DriverAgentID);

        }
        if (model.AddressID != null && model.AddressID != 0)
        {
            model.Address = Iaddress.SelectByID(model.AddressID);
        }
        model.Contacts = Icontact.Select(model.DriverID, "Driver").ToList();
    }


    private void Cancel()
    {
        MudDialog.Cancel();
    }


    private void AddContact()
    {
        model.Contacts.Add(new ContactModel()
            {
                RefTable = "Driver"
            });
    }


    private async Task OnValidSubmit(EditContext context)
    {
        if (HasPermissionDriverServiceEdit)
        {
            existingDriver = (Iservice.GetDriverByAdhaarNo(model.AdhaarNo)).FirstOrDefault();

            if (existingDriver != null && existingDriver.DriverID != model.DriverID)
            {
                // Display the existing driver information
                string branchName = Ibranchservice.GetBranchName(existingDriver.HomeBranchID);
                string workPeriod = Iservice.GetWorkPeriod(existingDriver.DriverID);

                snackbar.Add("A driver with the same Aadhaar number already exists.", Severity.Warning);
                bool? result = await DialogService.ShowMessageBox(
                    "Warning",
                    (MarkupString)$"A driver with the same Aadhaar number already exists <br /> <b>Name:<b> {existingDriver.DriverName} <br /> Branch: {branchName} <br /> Work Period: {workPeriod}",
                    yesText: "OK");

                return;
            }

            model.DriverAgentID = model.DriverAgent.PartyID;
            model.Address.AddresseeName = model.DriverName;

            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.HomeBranchID = int.Parse(user.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value);
            model.UserInfo.UserID = user.Identity.Name;

            try
            {
                //string AdhaarPath = Configuration.GetSection("FilePath")["Adhaar"];
                //string PhotoPath = Configuration.GetSection("FilePath")["DriverPhoto"];
                // model.AdhaarImage = await UploadImage(adhaarImage, model.AdhaarNo, AdhaarPath);
                //model.DriverImage = await UploadImage(driverImage, model.DriverName, PhotoPath);

                //$"{env.WebRootPath}\\images"

                var contacts = model.Contacts;
                model = Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);

                foreach (var item in contacts)
                {
                    item.RefKey = model.DriverID;
                    item.UserInfo = model.UserInfo;
                    Icontact.Update(item);
                }

                MudDialog.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
               "Permission denied!",
               "You dont have any permission to Add or Edit Driver.");
        }
    }
}