@page "/OpInventoryReleaseView"
@using System.Threading;
@using ArmsModels.BaseModels.Finance.Transactions
@using Core.BaseModels.Finance.Transactions;
@using Core.IDataServices.Finance.Transactions;
@inject IOpInventoryReleaseService Iservice
@inject ICostCenterService costIservice
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Bulk Inventory Release </MudText>
                <MudTooltip Text="New Op Inventory Release">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(new OpInventoryReleaseModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Op Inventory Release..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<OpInventoryReleaseModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<OpInventoryReleaseModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<OpInventoryReleaseModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@(Math.Abs(context.TotalAmount ?? 0))</MudTd>
                    <MudTd DataLabel="">
                        @if (@context.AuthLevelId == null)
                    {
                        <MudTooltip Text="Edit">
                            <MudFab @onclick="@(()=> OpenDialog(context,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                        <MudTooltip Text="Delete">
                            <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudTooltip Text="View authentication Status">
                            <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                    <MudTooltip Text="View">
                        <MudFab @onclick="@(()=> OpenDialog(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    public bool IsApproved { get; set; } = false;
    private List<OpInventoryReleaseModel> collection = new List<OpInventoryReleaseModel>();
    private int numberOfRecords = 100;
    private string searchTerm = "";

    public bool HasAuthoriseDelete { get; set; } = false;
    public int DocTypeID = 51;

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        GetAll(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        GetAll(IsApproved, NumberOfRecords);
    }

    private void GetAll(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;
        if (val)
        {
            collection = Iservice.SelectByApproved(NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectByUnapproved(NumberOfRecords, searchTerm).ToList();
        }
    }

    void ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetAll(IsApproved, NumberOfRecords);
    }

    private async Task OpenDialog(OpInventoryReleaseModel RModel, bool ReadOnly)
    {
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", RModel.Clone());
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<OpInventoryReleaseDialog>(RModel.OpInventoryReleaseID == null ? "ADD" : "EDIT", parms, mediumWidth);
        var result = await dialog.Result;
        GetAll(IsApproved, NumberOfRecords);
    }

    private async Task Delete(OpInventoryReleaseModel model)
    {
        if (HasAuthoriseDelete)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to delete - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
            if (result == true)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                Iservice.Delete(model.OpInventoryReleaseID, user.Identity.Name);
                snackbar.Add("Deleted Successfully", Severity.Success);
            }
            GetAll(IsApproved, NumberOfRecords);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to delete.");
        }
    }
}