@inject MudBlazor.ISnackbar snackbar
@inject IPlaceService Iplace
@inject IBranchService IBranchService
@using System.Globalization;

<MudDialog DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Add/Edit Branch
        </MudText>
    </TitleContent>
    <DialogContent>
        <div Style="padding:20px;">
            <MudContainer>
                <MudGrid>
                    <MudGrid xs="12">
                        <EditForm id="mainForm" Model="@model" OnValidSubmit="OnValidSubmit">
                            <FluentValidationValidator />
                            <ValidationSummary />
                            <ObjectGraphDataAnnotationsValidator />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="model.BranchName" Class="ToUpperCase" Label="Branch Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchName)"></MudTextField>
                                </MudItem>
                                <MudItem xs="3">
                                    <MudTextField @bind-Value="model.BranchAbbrev" MaxLength="3" Label="Abbrev" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchAbbrev)"></MudTextField>

                                </MudItem>
                                <MudItem xs="3" Class="d-flex">
                                    <MudCheckBox @bind-Checked="model.IsStateOffice" Label="SO?" For="@(() => model.IsStateOffice)" Color="Color.Success" />

                                    <MudCheckBox @bind-Checked="model.Active" Label="Active?" For="@(() => model.Active)" Color="Color.Error" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudAutocomplete T="PlaceModel" Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="model.Place" ResetValueOnEmptyText="true" SearchFunc="@Search" ToStringFunc="@(e => e == null ? null : $"{e.PlaceName}")" For="@(() => model.Place)"></MudAutocomplete>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudAutocomplete T="BranchModel" Label="Parent Branch" @bind-Value="UpwardBranch" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" SearchFunc="@SearchBranch" ToStringFunc="@(e => e == null ? null : $"{e.BranchName}")" Immediate="true"></MudAutocomplete>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.Building" Class="ToCapitalize" Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Building)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.Street" Class="ToCapitalize" Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Street)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.City" Class="ToCapitalize" Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.City)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.PinCode" Label="PinCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.PinCode)" Mask="@(new PatternMask("000000"))"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.GstNo" Label="GST NO" MaxLength="15" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.GstNo)" HelperText="GST Format : 11AAAAA1111A1Z1" Mask="@(new PatternMask("00aaaaa0000a***"))"></MudTextField>
                                    @if (ValidationMessage != null)
                                    {
                                        <div class="validation-message">@ValidationMessage</div>
                                    }
                                </MudItem>
                                <MudItem xs="6" md="6" Class="d-flex align-center">
                                    @if (!string.IsNullOrEmpty(model.GstCertificate))
                                    {
                                        <a href="@model.GstCertificate" download="Gst">
                                            <MudText Typo="Typo.h6" Color="Color.Primary">
                                                GST Certificate
                                                <MudIcon Icon="@Icons.Material.Filled.Download" Title="Download" />
                                            </MudText>
                                        </a>
                                    }
                                </MudItem>
                            </MudGrid>
                        </EditForm>
                    </MudGrid>
                </MudGrid>
            </MudContainer>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudTooltip Text="Upload GST Certificate">
                <MyFileUpload FolderName="Branch\GstCertificate" FileName="@Guid.NewGuid().ToString()" Label="GST Certificate" @bind-FilePath="model.GstCertificate"></MyFileUpload>
            </MudTooltip>
        </div>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Disabled="@_busy" form="mainForm" Variant="Variant.Filled" Color="Color.Dark" ButtonType="ButtonType.Submit">Save Branch</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public BranchModel model { get; set; }
    public BranchModel UpwardBranch { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private List<PlaceModel> places = new List<PlaceModel>();
    private List<BranchModel> branches = new();
    private bool _busy;

    protected override async Task OnInitializedAsync()
    {
        places = Iplace.Select(0, null).ToList();
        branches = IBranchService.Select().Where(x => x.IsStateOffice || (x.StateOfficeID ?? 0) == 0).ToList();
        if (model.BranchID != null)
        {
            UpwardBranch = IBranchService.SelectByID(model.StateOfficeID);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        if (model.Place?.PlaceID == null)
        {
            snackbar.Add("Place is not selected", Severity.Error);
            return;
        }
        else if (!places.Select(x => x.PlaceName).Contains(model.Place.PlaceName))
        {
            snackbar.Add("Invalid Place", Severity.Error);
            return;
        }
        else if (model.StateOfficeID == null)
        {
            snackbar.Add("Please select parent branch", Severity.Error);
            return;
        }
        else if (!ValidCustomGstNo(model))
        {
            ValidationMessage = "GstNo StateCode is InValid for " + model.Place.PlaceName + " ! ";
            return;
        }
        _busy = true;
        ValidationMessage = null;
        model.StateOfficeID = UpwardBranch?.BranchID;

        string[] words = model.BranchName.Split(new char[] { ' ', '\t' }, StringSplitOptions.RemoveEmptyEntries);
        string formattedValue = "";
        foreach (var item in words)
        {
            var temp = item;
            if (formattedValue != "")
            {
                formattedValue = formattedValue + " " + item[0].ToString().ToUpper() + (item.Substring(1, (item.Length - 1)).ToString().ToLower());
            }
            else
            {
                formattedValue = item[0].ToString().ToUpper() + (item.Substring(1, (item.Length - 1)).ToString().ToLower());
            }
        }
        model.BranchName = formattedValue;
        model.BranchAbbrev = model.BranchAbbrev.ToUpper();
        model.GstNo = model.GstNo.ToUpper();
        _busy = false;
        MudDialog.Close(model);
        await Task.Delay(200);
    }

    public string ValidationMessage = null;

    private bool ValidCustomGstNo(BranchModel model)
    {
        var gstcode = model.Place.GstCode;
        var gst_no = model.GstNo.Substring(0, 2);
        int gstno = int.Parse(gst_no);
        if (gstno == gstcode)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private async Task<IEnumerable<PlaceModel>> Search(string searchString)
    {
        return await Task.FromResult(places.Where(x => x.PlaceName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    private async Task<IEnumerable<BranchModel>> SearchBranch(string searchString)
    {
        return await Task.FromResult(branches.Where(x => x.BranchName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)).Where(x => x.BranchID != model.BranchID));
    }
}