@inject MudBlazor.ISnackbar snackbar
@inject IPlaceService Iplace
@inject IBranchService IBranchService

<MudDialog DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Add/Edit Branch
        </MudText>
    </TitleContent>
    <DialogContent>
        <div Style="padding:20px;">
            <MudContainer>
                @*Style="height: 400px; width:720px;">*@
                <MudGrid>
                    <MudGrid xs="12">
                        <EditForm id="mainForm" Model="@model" OnValidSubmit="OnValidSubmit">
                            <FluentValidationValidator />
                            <ValidationSummary />
                            <ObjectGraphDataAnnotationsValidator />
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="model.BranchName" Label="Branch Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchName)"></MudTextField>
                                </MudItem>
                                @*<MudItem xs="6">
                                <MudTextField @bind-Value="model.BranchCode" Label="Branch Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchCode)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                <MudTextField @bind-Value="model.BranchAbbrev" MaxLength="3" Label="Branch Abbreviation" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchAbbrev)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                <CoaSelector LabelName="Chart Of Accounts" @bind-Value="model.Coa" />
                                </MudItem>*@
                                <MudItem xs="6">
                                    <MudAutocomplete T="PlaceModel" Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="model.Place" ResetValueOnEmptyText="true"
                                                     SearchFunc="@Search" ToStringFunc="@(e => e == null ? null : $"{e.PlaceName}")"
                                                     For="@(() => model.Place)"></MudAutocomplete>
                                </MudItem>
                                @*<MudItem xs="12">
                                </MudItem>*@
                                @*<MudItem xs="6">
                                <MudCheckBox @bind-Checked="model.Operate" Label="Allow Operation" For="@(() => model.Operate)" />
                                </MudItem>*@
                                <MudItem xs="6">
                                    <MudCheckBox @bind-Checked="model.Active" Label="Is Active" For="@(() => model.Active)" />
                                </MudItem>
                                <MudItem xs="6">
                                    <MudAutocomplete T="BranchModel" Label="Parent Branch" @bind-Value="UpwardBranch" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                     SearchFunc="@SearchBranch" ToStringFunc="@(e => e == null ? null : $"{e.BranchName}")"
                                                     Immediate="true"></MudAutocomplete>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.Building" Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Building)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.Street" Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Street)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.City" Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.City)"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.Address.PinCode" Label="PinCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.PinCode)" Mask="@(new PatternMask("000000"))"></MudTextField>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudTextField @bind-Value="@model.GstNo" Label="GST NO" MaxLength="15" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.GstNo)" HelperText="GST Format : 11AAAAA1111A1Z1" Mask="@(new PatternMask("00aaaaa0000a***"))"></MudTextField>
                                    @if (ValidationMessage != null)
                                    {
                                        <div class="validation-message">@ValidationMessage</div>
                                    }
                                </MudItem>
                            </MudGrid>
                        </EditForm>
                    </MudGrid>
                </MudGrid>
            </MudContainer>
        </div>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton form="mainForm" Variant="Variant.Filled" Color="Color.Dark" ButtonType="ButtonType.Submit">Save Branch</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public BranchModel model { get; set; }

    public BranchModel UpwardBranch { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private List<PlaceModel> places = new List<PlaceModel>();
    private List<BranchModel> branches = new();

    protected override async Task OnInitializedAsync()
    {
        places = Iplace.Select(0).ToList();
        branches = IBranchService.Select().ToList();
        if (model.BranchID != null)
        {
            UpwardBranch = IBranchService.SelectByID(model.UpwardBranchID);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (model.Place?.PlaceID == null)
        {
            snackbar.Add("Place is not selected", Severity.Error);
            return;
        }
        else if (!places.Select(x => x.PlaceName).Contains(model.Place.PlaceName))
        {
            snackbar.Add("Invalid Place", Severity.Error);
            return;
        }
        else if (model.UpwardBranchID == null)
        {
            snackbar.Add("Please select parent branch", Severity.Error);
            return;
        }
        else if (!ValidCustomGstNo(model))
        {
            ValidationMessage = "GstNo StateCode is InValid for " + model.Place.PlaceName + " ! ";
            return;
        }
        ValidationMessage = null;
        model.UpwardBranchID = UpwardBranch?.BranchID;
        model.GstNo = model.GstNo.ToUpper();
        MudDialog.Close(model);
    }

    public string ValidationMessage = null;

    private bool ValidCustomGstNo(BranchModel model)
    {
        var gstcode = model.Place.GstCode;
        var gstno = model.GstNo.Substring(0, 2);
        if (gstno == gstcode.Value.ToString())
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private async Task<IEnumerable<PlaceModel>> Search(string searchString)
    {
        return await Task.FromResult(places.Where(x => x.PlaceName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    private async Task<IEnumerable<BranchModel>> SearchBranch(string searchString)
    {
        return await Task.FromResult(branches.Where(x => x.BranchName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)).Where(x => x.BranchID != model.BranchID));
    }
}