@page "/branch"
@using System.Threading;
@using ArmsAdmin.Pages.User;
@layout AdminMainLayout
@inject IBranchService Iservice
@inject IPlaceService Iplace
@inject IOrderService Iorder
@inject IChartOfAccountService Icoa
@inject IAddressService Iaddress
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudGrid Spacing="4" style="padding-top:16px;">
    <MudItem xs="12" md="12">
        @if (isLoaded)
        {
            <MudTable Items="@collection" Dense="true" Filter="new Func<BranchModel, bool>(search)">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Branches</MudText>
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(() => Edit(new BranchModel()))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                    <MudSpacer></MudSpacer>
                    <MudTextField @bind-Value="searchBranch" Placeholder="Search Branchs... " Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.BranchID)" InitialDirection="SortDirection.Ascending">ID</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.BranchName)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Place.PlaceName)" InitialDirection="SortDirection.Ascending">Place</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.District.DistrictName)" InitialDirection="SortDirection.Ascending">District</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.State.StateName)" InitialDirection="SortDirection.Ascending">State</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Operate)" InitialDirection="SortDirection.Ascending">Operate</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Active)" InitialDirection="SortDirection.Ascending">Active</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.GstNo)" InitialDirection="SortDirection.Ascending">GST No</MudTableSortLabel></MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="BranchID">@context.BranchID</MudTd>
                    <MudTd DataLabel="BranchName">@context.BranchName</MudTd>
                    <MudTd DataLabel="Place">@context.Place.PlaceName</MudTd>
                    <MudTd DataLabel="Place">@context.District.DistrictName</MudTd>
                    <MudTd DataLabel="Place">@context.State.StateName</MudTd>
                    <MudTd DataLabel="Operate">@context.Operate</MudTd>
                    <MudTd DataLabel="Active">@context.Active</MudTd>
                    <MudTd DataLabel="GSTNo">@context.GstNo</MudTd>
                    <MudTd DataLabel="">
                        <MudFab @onclick="@(() => openOrders(context.BranchID))" Title="Open Orders" Color="Color.Primary" Icon="@Icons.Material.Filled.AddBox" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(() => Edit(context))" Title="Edit" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(() => Delete(context))" Title="Delete" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(() => AddContact(context.BranchID))" Title="Add Contact" Color="Color.Primary" Icon="@Icons.Material.Filled.PersonAdd" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(() => Settings(context.BranchID))" Title="Settings" Color="Color.Primary" Icon="@Icons.Material.Filled.Settings" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(() => UserList(context.BranchID))" Title="Users" Color="Color.Primary" Icon="@Icons.Material.Filled.SupervisedUserCircle" Size="Size.Small" IconSize="Size.Small" />
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                </PagerContent>
            </MudTable>
        }
        else
        {
            <h1>Loading.........</h1>
        }
    </MudItem>
    <MudDialog @bind-IsVisible="visibleOrders" DisableSidePadding="true">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> @collection.Find(x=> x.BranchID == ClickedBranchID).BranchName Orders
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudContainer Style="height: 300px; overflow-y: auto">
                @if (ClickedBranchID != 0)
                {
                    <MudTable Items="@AssignedOrders">
                        <RowTemplate>
                            <MudTd DataLabel="Order Name">
                                <MudText Typo="Typo.h6">
                                    @context.OrderName
                                    <MudFab Class="float-right" @onclick="@(() => removeOrder(context.OrderID))" Color="Color.Dark" Icon="@Icons.Material.Filled.Remove" Size="Size.Small" IconSize="Size.Small" />
                                </MudText>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                    <MudItem>
                        <MudAutocomplete T="OrderModel" Label="Order" Value="OrderAssigned" ResetValueOnEmptyText="true" SearchFunc="@SearchOrders" ToStringFunc="@(e => e == null ? null : $"{e.OrderName}")" ValueChanged="addOrder"></MudAutocomplete>
                    </MudItem>
                }
            </MudContainer>
        </DialogContent>
    </MudDialog>
</MudGrid>

@code {

    private BranchModel model = new BranchModel();
    private List<BranchModel> collection = new List<BranchModel>();
    private List<OrderModel> AssignedOrders = new List<OrderModel>();
    private List<OrderModel> Orders = new List<OrderModel>();
    private OrderModel OrderAssigned { get; set; }
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    public bool HasPermissionOrderServiceAddRemoveOrder { get; set; } = false;
    public int OrderDocTypeID = 45;
    public bool HasPermissionBranchServiceEdit { get; set; } = false;
    public bool HasPermissionBranchServiceDelete { get; set; } = false;
    public int BranchDocTypeID = 73;

    private bool _busy;
    private string searchBranch = "";
    private bool visibleOrders;
    private int? ClickedBranchID;
    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionOrderServiceAddRemoveOrder = await Irole.HasClaim(OrderDocTypeID.ToString(), "AddRemoveOrder", ctc.Token);
        HasPermissionBranchServiceEdit = await Irole.HasClaim(BranchDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionBranchServiceDelete = await Irole.HasClaim(BranchDocTypeID.ToString(), "Delete", ctc.Token);

        await GetAll();
    }

    private async Task openOrders(int? BranchID)
    {
        ClickedBranchID = BranchID;
        await refreshOrders();
        visibleOrders = true;
    }

    private async Task<IEnumerable<OrderModel>> SearchOrders(string searchString)
    {
        return await Task.FromResult(
            Orders.Where(x => x.OrderName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase))
             .Where(x => AssignedOrders.All(y => y.OrderID != x.OrderID)));
    }

    private async Task GetAll()
    {
        collection = Iservice.Select().ToList();
        isLoaded = true;
    }

    private async Task Edit(BranchModel model)
    {
        try
        {
            if (HasPermissionBranchServiceEdit)
            {
                if (_busy)
                {
                    snackbar.Add("Please wait while form is closing!", Severity.Warning);
                    return;
                }
                _busy = true;
                if (model.BranchID != null)
                {
                    model.Address = Iaddress.SelectByID(model.Address.AddressID);
                    model.Place = await Iplace.SelectByID(model.Place.PlaceID);
                    if (model.Coa != null)
                    {
                        model.Coa = Icoa.SelectByID(model.Coa.CoaID);
                    }
                }
                DialogParameters parms = new DialogParameters();
                parms.Add("model", model.Clone());
                var dialog = DialogService.Show<BranchDialog>("Add/Edit Branch", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
                var result = await dialog.Result;
                if (!result.Cancelled)
                {
                    BranchModel UpdatedModel = (BranchModel)result.Data;
                    if ((UpdatedModel.BranchID == null && !collection.Exists(x => x.BranchName == UpdatedModel.BranchName)) ||
                        (UpdatedModel.BranchID != null && !collection.Exists(x => x.BranchName == UpdatedModel.BranchName && x.BranchID != UpdatedModel.BranchID)))
                    {
                        var authState = await auth.GetAuthenticationStateAsync();
                        UpdatedModel.UserInfo.UserID = authState.User.Identity.Name;
                        Iservice.Update(UpdatedModel);
                        snackbar.Add("Saved Successfully", Severity.Success);
                    }
                    else
                    {
                        bool? value = await DialogService.ShowMessageBox(
                           "Error !",
                           (MarkupString)$"BranchName - <b>{UpdatedModel.BranchName}</b> already exist !");
                    }
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You dont have any permission to Edit Branch.");
            }
            await GetAll();
        }
        catch (Exception a)
        {
            snackbar.Add(a.Message, Severity.Error);
        }
        finally
        {
            await Task.Delay(200);
            _busy = false;
        }
    }

    private async Task Settings(int? BranchID)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("branchID", BranchID);
        var dialog = DialogService.Show<SettingsDialog>("Branch Settings", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
        await Task.Delay(200);
        _busy = false;
    }

    private async Task UserList(int? BranchID)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("branchID", BranchID);
        var dialog = DialogService.Show<UserListDialog>("Users List", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
        await Task.Delay(200);
        _busy = false;
    }

    private async Task refreshOrders()
    {
        AssignedOrders = new List<OrderModel>();
        Orders = new List<OrderModel>();
        await foreach (var item in Iorder.SelectByBranch(ClickedBranchID))
        {
            AssignedOrders.Add(item);
        }
        await foreach (var item in Iorder.Select(0))
        {
            if (!AssignedOrders.Contains(item))
            {
                Orders.Add(item);
            }
        }
    }

    private async Task Delete(BranchModel model)
    {
        if (HasPermissionBranchServiceDelete)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to delete branch - " + model.BranchName + "?");
            if (result == true)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                Iservice.Delete(model.BranchID, authprov.User.Identity.Name);
                snackbar.Add("Deleted Successfully", Severity.Success);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Delete Branch.");
        }
        await GetAll();
    }

    private async void AddContact(int? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("branchID", id);
        var dialog = DialogService.Show<BranchContactDetailsView>("Contact Details", parms, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            //BranchModel UpdatedModel = (BranchModel)result.Data;
            //var authState = await auth.GetAuthenticationStateAsync();
            //UpdatedModel.UserInfo.UserID = authState.User.Identity.Name;
            //Iservice.Update(UpdatedModel);
            //await GetAll();
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task addOrder(OrderModel obj)
    {
        if (HasPermissionOrderServiceAddRemoveOrder)
        {
            OrderAssigned = obj;
            if (OrderAssigned?.OrderID > 0)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                int result = await Iorder.BranchOrderUpdate(ClickedBranchID, OrderAssigned.OrderID, authprov.User.Identity.Name, "Update");
                await refreshOrders();
                OrderAssigned = new OrderModel();
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add/Remove Order.");
        }
    }

    private async Task removeOrder(int? OrderID)
    {
        if (HasPermissionOrderServiceAddRemoveOrder)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            int result = await Iorder.BranchOrderUpdate(ClickedBranchID, OrderID, authprov.User.Identity.Name, "Delete");
            await refreshOrders();
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add/Remove Order.");
        }
    }

    private bool search(BranchModel model)
    {
        if (model.BranchName != null && model.BranchName.Contains(searchBranch, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }
}