@inject IDashboardService Iservice

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6"><b>@SelectedValue.ToUpper() DRIVERS</b> (Count: @Count)</MudText>
    </TitleContent>
    <DialogContent>
        <div style="padding-bottom: 16px;">
            <MudTable T="DriverModel" Items="@driverStatus">
                <HeaderContent>
                    <MudTh>Driver Name</MudTh>
                    <MudTh>Phone Number</MudTh>
                    <MudTh>TimeSince</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Driver">@context.DriverName</MudTd>
                    <MudTd DataLabel="PhoneNo">@context.Mobile</MudTd>
                    <MudTd DataLabel="TimeSince">@context.SinceLastEvent</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        </div>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int? BranchID { get; set; }
    [Parameter]
    public string SelectedValue { get; set; }
    [Parameter]
    public string Count { get; set; }
    private List<DriverModel> driverStatus = new List<DriverModel>();

    protected override async Task OnInitializedAsync()
    {
        driverStatus = Iservice.GetDriverStatusByEvent(BranchID, SelectedValue).ToList();
    }
}
