@using System.Text.RegularExpressions;
@inject IPartyService Iservice
@inject IContactService Icontact
@inject IVendorPostingGroupService vendorService
@inject IRenterPostingGroupService renterService
@inject ICustomerPostingGroupService customerService
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIservice
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager nav
@inject IBankAccountService bankAccountService
@inject IAddressService addressService
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Customers/Vendors
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="12">
                        <MudRadioGroup @bind-SelectedOption="model.NatureOfBusiness">
                            <MudRadio Option="@("Supplier")" Color="Color.Primary">Supplier</MudRadio>
                            <MudRadio Option="@("Customer")" Color="Color.Primary">Customer</MudRadio>
                            <MudRadio Option="@("Renter")" Color="Color.Primary">Renter</MudRadio>
                        </MudRadioGroup>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>General Details</h6>
                        <MudPaper Outlined="true">
                            <MudContainer>
                                <br />
                                <MudGrid Spacing="2">
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.PartyCode" Label="Party Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PartyCode)" Disabled></MudTextField>
                                     </MudItem>
                                     <MudItem xs="12" md="6">
                                         <MudTextField @bind-Value="model.TradeName" Label="Trade Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TradeName)"></MudTextField>
                                     </MudItem>
                                     <MudItem xs="12" md="6">
                                         <MudTextField @bind-Value="model.RegName" Label="Reg Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.RegName)"></MudTextField>
                                     </MudItem>
                                     <MudItem xs="12" md="6">
                                         <MudCheckBox @bind-Checked="model.PanAvailable" Color="Color.Primary" Dense="true">Is PAN Available</MudCheckBox>
                                     </MudItem>
                                     @if (model.PanAvailable == true)
                                    {
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="model.PAN" Label="PAN No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PAN)" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>GST Informations</h6>
                        <MudPaper Outlined="true">
                            <MudContainer>
                                <br />
                                <MudGrid>
                                    <MudItem xs="12" md="6">
                                        <MudCheckBox @bind-Checked="model.TdsApplicable" Color="Color.Primary" Dense="true">Is TDS Applicable</MudCheckBox>
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudSelect Label="Select GST Type" @bind-Value="model.GstType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in GstType)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    @if (model.GstType == "Registered")
                                    {
                                        <MudItem xs="12" md="6">
                                            <MudSelect Label="Select GST Registration Type" @bind-Value="model.GstRegType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                                @foreach (var ditem in GstRegType)
                                                {
                                                    <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="model.GstNo" MaxLength=15 Label="GST No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.GstNo)" HelperText="GST Format : 11AA AAA1 111A 1Z1" Mask="@(new PatternMask("00aaaaa0000a***"))" />
                                        </MudItem>
                                    }
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.TanNo" Label="TAN No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TanNo)" HelperText="TanNo Format : AAAA11111A" Mask="@(new PatternMask("aaaa00000a"))" />
                                    </MudItem>
                                </MudGrid>
                            </MudContainer>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>Payment Informations</h6>
                        <MudPaper Outlined="true">
                            <MudContainer>
                                <br />
                                <MudGrid>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.CreditPeriod" Label="Credit Period(In Days)" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.CreditPeriod)" InputMode="InputMode.numeric" InputType="InputType.Number" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.CreditLimit" Label="Credit Limit" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.CreditLimit)" InputType="InputType.Number" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudRadioGroup T="string" SelectedOption="model.PaymentMode" SelectedOptionChanged="OnSelectedOptionChanged">
                                            <MudRadio Option="@("Cash")" Color="Color.Secondary" Dense="true">Cash</MudRadio>
                                            <MudRadio Option="@("Bank")" Color="Color.Secondary" Dense="true">Bank</MudRadio>
                                        </MudRadioGroup>
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        @if (model.NatureOfBusiness == "Supplier")
                                        {
                                            <MudSelect Label="Vendor Account Group" @bind-Value="model.VendorPostingGroup" T="VendorPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                                @foreach (var ditem in VendorList)
                                                {
                                                    <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        @if (model.NatureOfBusiness == "Customer")
                                        {
                                            <MudSelect Label="Customer Account Group" @bind-Value="model.CustomerPostingGroup" T="CustomerPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                                @foreach (var ditem in CustomerList)
                                                {
                                                    <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                        @if (model.NatureOfBusiness == "Renter")
                                        {
                                            <MudSelect Label="Renter Account Group" @bind-Value="model.RenterPostingGroup" T="RenterPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                                @foreach (var ditem in RenterList)
                                                {
                                                    <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                                }
                                            </MudSelect>
                                        }
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudCheckBox @bind-Checked="model.InterCompany" Color="Color.Primary" Dense="true">Is InterCompany</MudCheckBox>
                                    </MudItem>
                                    @if (model.InterCompany == true)
                                    {
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="model.IcPartnerCode" Label="IcPartner Code" MaxLength="15" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.IcPartnerCode)" />
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <h6>Address Informations</h6>
                        <MudPaper Outlined="true" Class="pb-4">
                            <MudContainer>
                                <br />
                                <MudGrid>
                                    <br />
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.Address.AddresseeName" Label="Addressee Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.AddresseeName)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.Address.Building" Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Building)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.Address.Street" Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Street)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.Address.Place" Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Place)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudTextField @bind-Value="model.Address.City" Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.City)" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudNumericField HideSpinButtons @bind-Value="model.Address.PinCode" Label="Pincode" Variant="Variant.Outlined" MaxLength="6" Margin="Margin.Dense" For="@(() => model.Address.PinCode)" />
                                     </MudItem>
                                 </MudGrid>
                             </MudContainer>
                         </MudPaper>
                     </MudItem>
                     @if (IsShowBankInformation == true)
                    {
                        <MudItem xs="12" md="12">
                            <h6>BankAccount Informations</h6>
                            <MudPaper Outlined="true" Class="pb-4">
                                <MudContainer>
                                    <br />
                                    <MudGrid>
                                        <br />
                                        <MudItem xs="12" md="6">
                                            <MudTextField MaxLength="18" @bind-Value="model.BankAccount.BeneficiaryName" Label="Beneficiary Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BeneficiaryName)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField MaxLength="18" @bind-Value="model.BankAccount.AccountNumber" Label="Account Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.AccountNumber)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField MaxLength="11" @bind-Value="model.BankAccount.IfscCode" Label="IFSC Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.IfscCode)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField MaxLength="9" @bind-Value="model.BankAccount.MicrCode" Label="MICR Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.MicrCode)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField MaxLength="8" @bind-Value="model.BankAccount.SwiftCode" Label="SWIFT Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.SwiftCode)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="model.BankAccount.BankTitle" Label="Bank Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BankTitle)" />
                                        </MudItem>
                                        <MudItem xs="12" md="6">
                                            <MudTextField @bind-Value="model.BankAccount.BankBranch" Label="Bank Branch" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BankBranch)" />
                                        </MudItem>
                                        <br />
                                    </MudGrid>
                                </MudContainer>
                            </MudPaper>
                        </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <h6>Contact Informations</h6>
                        <MudPaper Outlined="true">
                            <MudContainer>
                                <br />
                                <MudGrid>
                                    <MudItem xs="12" md="12">
                                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Additional Info</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Contactlist)
                                                {
                                                    <tr>
                                                        <td>@item.ContactName</td>
                                                        <td>@item.AdditionalInfo</td>
                                                        <td>@item.Phone</td>
                                                        <td>@item.Email</td>
                                                        <td><MudFab Color="Color.Error" @onclick="@(()=> DeleteContact(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" /></td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td><MudTextField Label="Contact Name" @bind-Value="contactModel.ContactName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.ContactName)"></MudTextField></td>
                                                    <td><MudTextField Label="Additional Info" @bind-Value="contactModel.AdditionalInfo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.AdditionalInfo)"></MudTextField></td>
                                                    <td><MudNumericField HideSpinButtons MaxLength="10" Label="Phone" @bind-Value="contactModel.Phone" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.Phone)"></MudNumericField></td>
                                                    <td><MudTextField Label="Email" @bind-Value="contactModel.Email" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.Email)"></MudTextField></td>
                                                    <td><MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" /></td>
                                                 </tr>
                                             </tbody>
                                         </MudSimpleTable>
                                     </MudItem>
                                 </MudGrid>
                             </MudContainer>
                         </MudPaper>
                     </MudItem>
                 </MudGrid>
                 <ObjectGraphDataAnnotationsValidator />
                 <ValidationSummary />
             </EditForm>
         </MudContainer>
     </DialogContent>
     <DialogActions>
         <MudButton Disabled="@_busy" form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
     </DialogActions>
 </MudDialog>

 @code {

    [Parameter]
    public PartyModel model { get; set; }
    private List<VendorPostingGroupModel> VendorList = new();
    private List<CustomerPostingGroupModel> CustomerList = new();
    private List<RenterPostingGroupModel> RenterList = new();
    private List<ContactModel> Contactlist = new();
    private ContactModel contactModel = new();
    bool IsShowBankInformation { get; set; } = false;
    private bool _busy;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    public bool HasPermissionPartyServiceEdit { get; set; } = false;
    public int PartyDocTypeID = 85;

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionPartyServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            model.Contacts = Contactlist;
            try
            {
                model.GstNo = model.GstNo?.ToUpper()??null;
                model = Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                MudDialog.Close(model);
                model = new();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit Party.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private void OnSelectedOptionChanged(string option)
    {
        model.PaymentMode = option;
        if (option == "Bank")
        {
            model.BankAccount = new();
            IsShowBankInformation = true;
        }
        else
        {
            model.BankAccount = null;
            IsShowBankInformation = false;
        }
    }

    private List<string> GstType = new List<string>() { "Registered", "UnRegistered", "Export", "Deemed Export", "Exempted", "SEZ" };
    private List<string> GstRegType = new List<string>() { "GSTIN", "UID", "GID" };

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionPartyServiceEdit = await Irole.HasClaim(PartyDocTypeID.ToString(), "Edit", ctc.Token);

        if (VendorList != null)
        {
            VendorList.Clear();
        }
        if (CustomerList != null)
        {
            CustomerList.Clear();
        }
        if (RenterList != null)
        {
            RenterList.Clear();
        }
        VendorList = vendorService.Select().ToList();
        CustomerList = customerService.Select().ToList();
        RenterList = renterService.Select().ToList();
        if (model.NatureOfBusiness == null)
        {
            model.NatureOfBusiness = "Supplier";
            model.PanAvailable = false;
        }
        // if (model.PaymentMode == "Bank")
        // {
        //     model.BankAccount = new();
        //     IsShowBankInformation = true;
        // }
        // else
        // {
        //     model.BankAccount = null;
        //     IsShowBankInformation = false;
        // }
        if (model.BankAccount != null && model.BankAccount.BankAccountID != null && model.BankAccount.BankAccountID != 0)
        {
            model.BankAccount = bankAccountService.SelectByID(model.BankAccount.BankAccountID ?? 0);
        }
        if (model.Address != null && model.Address.AddressID != null && model.Address.AddressID != 0)
        {
            model.Address = addressService.SelectByID(model.Address.AddressID);
        }
        if (VendorList != null && VendorList.Count() != 0 && model.VendorPostingGroup != null && model.VendorPostingGroup.VendorPostingGroupID != null && model.VendorPostingGroup.VendorPostingGroupID != 0)
        {
            if (VendorList.Any(s => s.VendorPostingGroupID == model.VendorPostingGroup.VendorPostingGroupID))
                model.VendorPostingGroup = VendorList.FirstOrDefault(s => s.VendorPostingGroupID == model.VendorPostingGroup.VendorPostingGroupID);
        }
        if (CustomerList != null && CustomerList.Count() != 0 && model.CustomerPostingGroup != null && model.CustomerPostingGroup.CustomerPostingGroupID != null && model.CustomerPostingGroup.CustomerPostingGroupID != 0)
        {
            if (CustomerList.Any(s => s.CustomerPostingGroupID == model.CustomerPostingGroup.CustomerPostingGroupID))
                model.CustomerPostingGroup = CustomerList.FirstOrDefault(s => s.CustomerPostingGroupID == model.CustomerPostingGroup.CustomerPostingGroupID);
        }
        if (RenterList != null && RenterList.Count() != 0 && model.RenterPostingGroup != null && model.RenterPostingGroup.RenterPostingGroupID != null && model.RenterPostingGroup.RenterPostingGroupID != 0)
        {
            if (RenterList.Any(s => s.RenterPostingGroupID == model.RenterPostingGroup.RenterPostingGroupID))
                model.RenterPostingGroup = RenterList.FirstOrDefault(s => s.RenterPostingGroupID == model.RenterPostingGroup.RenterPostingGroupID);
        }
        if (model.PartyID != null && model.PartyID != 0)
        {
            if (Contactlist != null)
            {
                Contactlist.Clear();
            }
            Contactlist = Iservice.GetContacts(model.PartyID).ToList();
        }
        if (model.PaymentMode == "Bank")
        {
            IsShowBankInformation = true;
        }
    }

    public void DeleteContact(ContactModel cm)
    {
        int rowIndex = Contactlist.IndexOf(cm);
        Contactlist.RemoveAt(rowIndex);
    }

    public void AddItems()
    {
        if (contactModel.ContactName == null || contactModel.AdditionalInfo == null || contactModel.Phone == null)
        {
            snackbar.Add("Please fill all entries.", Severity.Error);
            return;
        }
        if (contactModel.Phone == null || contactModel.Phone.Length != 10)
        {
            snackbar.Add("Phone number should be 10 digit", Severity.Error);
            return;
        }
        var pattern = @"^[a-zA-Z0-9.!#$%&'*+-/=?^_`{|}~]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$";
        var regex = new Regex(pattern);
        if (contactModel.Email == null || !regex.IsMatch(contactModel.Email))
        {
            snackbar.Add("Enter valid Email address.", Severity.Error);
            return;
        }
        contactModel.RefTable = "Party";
        Contactlist.Add(contactModel);
        contactModel = new();
    }
}