@page "/tdsRate"
@inject ITdsRateService Iservice

@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService





<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6>TDS</h6></div><div style="float:right;"><MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Add new TDS Rate
</MudButton></div>
<br />
<br />
</div>

   <MudItem xs="12">
        <MudTable Items="@collection" Elevation="10" Filter="new Func<TdsRateModel, bool>(search)" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">TdsRateView</MudText>
              
                <MudTextField @bind-Value="searchTds" Placeholder="Search TDS... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<TdsRateModel, object>(x=> x.TdsNP.NatureOfPayment)" InitialDirection="SortDirection.Ascending">Nature of Payment</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<TdsRateModel, object>(x=> x.AssesseeType.AssesseeTypeName)" InitialDirection="SortDirection.Ascending">Assessee Type</MudTableSortLabel></MudTh>
               <MudTh><MudTableSortLabel SortBy="new Func<TdsRateModel, object>(x=> x.PeriodFrom)" InitialDirection="SortDirection.Ascending">PeriodFrom</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TdsRateModel, object>(x=> x.PeriodTo)" InitialDirection="SortDirection.Ascending">PeriodTo</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TdsRateModel, object>(x=> x.TaxRate)" InitialDirection="SortDirection.Ascending">TaxRate</MudTableSortLabel></MudTh>
                
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="NatureOfPayment">@context.TdsNP.NatureOfPayment</MudTd>
                <MudTd DataLabel="AssesseeTypeName">@context.AssesseeType.AssesseeTypeName</MudTd>
                <MudTd DataLabel="PeriodFrom">@context.PeriodFrom</MudTd>
                 <MudTd DataLabel="PeriodTo">@context.PeriodTo</MudTd>
                  <MudTd DataLabel="TaxRate">@context.TaxRate</MudTd>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> Edit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>


@code {

    private TdsRateModel model = new TdsRateModel();
    private List<TdsRateModel> collection = new List<TdsRateModel>();


    private string searchTds = "";

    protected override async Task OnInitializedAsync()
    {
        model = new();
        GetAll();
    }

    private  void GetAll()
    {
        collection = new List<TdsRateModel>();
        foreach (var item in Iservice.SelectByIDT(0))
        {
            collection.Add(item);
        }


    }
    private void OpenDialog()
    {

     
        DialogParameters parms = new DialogParameters();
        parms.Add("model", model);
        DialogService.Show<TdsRateDialog>("ADD CONTENT",parms);
     
    }

    private async Task Edit(TdsRateModel tds)
    {
      DialogParameters parms = new DialogParameters();
        parms.Add("model",tds);
        DialogService.Show<TdsRateDialog>("Edit",parms);
        GetAll();
    }
    
    private void Delete(TdsRateModel tds)
    {
        Iservice.Delete(tds.TdsRateID, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }

    private bool search(TdsRateModel tds)
    {
     if (tds.TdsNP.NatureOfPayment != null && tds.TdsNP.NatureOfPayment.Contains(searchTds, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (tds.TaxRate == null) return true;
        return false;
    }


   
}
