@using System.Threading;
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROIDriverBattaService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Driver Batta
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="model.FromStdKM" Label="Standard KM From" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.FromStdKM)"></MudTextField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="model.ToStdKM" Label="Standard KM To" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ToStdKM)"></MudTextField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudNumericField HideSpinButtons @bind-Value="model.Wheels" Label="Wheels" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="2" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Label="Select Type" @bind-Value="model.BodyType" AdornmentColor="Color.Secondary">
                    <MudSelectItem Value="@("Bulk")">Bulk</MudSelectItem>
                    <MudSelectItem Value="@("Open")">Open</MudSelectItem>
                </MudSelect>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="model.LoadingMTFrom" Label="Loading MT From" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.LoadingMTFrom)"></MudTextField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="model.LoadingMTTo" Label="Loading MT To" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.LoadingMTTo)"></MudTextField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField @bind-Value="model.DriverBatta" Label="Driver Batta" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DriverBatta)"></MudTextField>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" OnClick="Submit" Class="ml-auto">Sumbit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROIDriverBattaModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    public List<ROIDriverBattaModel> Collection = new();
    string UserID;
    int BranchID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
    }

    protected async Task Submit()
    {
        model.UserInfo.UserID = UserID;
        model = Iservice.Update(model);
        MudDialog.Close(model);
    }

}