@using System.Threading;
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROIDriverIncentiveService Iservice
@inject ITruckService ITruckService
@inject IOrderService Iorder
@inject IDistrictService Idistservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Driver Incentive
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm id="formroiince" Model="@model" OnValidSubmit="OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.Wheels" Label="Wheels" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="2" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="ROITonnageModel" Label="BS-Type" ResetValueOnEmptyText="true" ValueChanged="BSTypeChanged" Value="model.BSType"
                                        SearchFunc="SearchBSType" ToStringFunc="@(e=> e == null ? null : $"{e.BSType}")"></MudAutocomplete>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="StateModel" Label="State" ResetValueOnEmptyText="true" ValueChanged="StateChanged" Value="model.State"
                                        SearchFunc="SearchState" ToStringFunc="@(e=> e==null?null : $"{e.StateName}")"></MudAutocomplete>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="OrderModel" Label="Order" ResetValueOnEmptyText="true" ValueChanged="OrderChanged" Value="model.Order"
                                        SearchFunc="SearchOrders" ToStringFunc="@(e=> e==null?null : $"{e.OrderName}")"></MudAutocomplete>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.LoadingMTFrom" Label="Loading MT From" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.LoadingMTFrom)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.LoadingMTTo" Label="Loading MT To" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.LoadingMTTo)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudNumericField HideSpinButtons @bind-Value="model.Amount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Amount)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudDatePicker Label="Period From" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.FromDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudDatePicker Label="Period To" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ToDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" form="formroiince" ButtonType="ButtonType.Submit" Class="ml-auto">Sumbit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROIDriverIncentiveModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    public ROITonnageModel tmodel { get; set; }
    public List<ROIDriverIncentiveModel> Collection = new();
    public List<OrderModel> OrderList { get; set; }
    public List<ROITonnageModel> BSTypeList = new();
    private List<StateModel> states = new();
    string UserID;
    int BranchID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        BSTypeList = ITruckService.SelectBSType().ToList();
        Collection = Iservice.Select().ToList();
        OrderList = await Iorder.Select(0).ToListAsync();
        states = Idistservice.GetStates().ToList();
    }

    public async Task<IEnumerable<OrderModel>> SearchOrders(string searchString)
    {
        return await Task.FromResult(OrderList.Where(x => x.OrderName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    public async Task<IEnumerable<ROITonnageModel>> SearchBSType(string searchString)
    {
        return await Task.FromResult(BSTypeList.Where(x => x.BSType.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    public async Task<IEnumerable<StateModel>> SearchState(string searchString)
    {
        return await Task.FromResult(states.Where(x => x.StateName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    public void OrderChanged(OrderModel obj)
    {
        model.Order = obj;
    }

    public void BSTypeChanged(ROITonnageModel obj)
    {
        model.BSType = obj;
    }

    public void StateChanged(StateModel obj)
    {
        model.State = obj;
    }

    private async void OnValidSubmit(EditContext context)
    {
        model.UserInfo.UserID = UserID;
        try
        {
            model = Iservice.Update(model);
            MudDialog.Close(model);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}