@using System.Threading;
@using Core.BaseModels.Operations.ROI
@using Core.IDataServices.Operations.ROI
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IROIFixedExpenseService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole

<MudDialog Style="overflow-y: hidden;">
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add/Edit Expense
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm id="formexp" Model="@model" OnValidSubmit="OnValidSubmit">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.Wheels" Label="Wheels" Variant="Variant.Outlined" Margin="Margin.Dense" MaxLength="2" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudAutocomplete Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense" T="ROITonnageModel" Label="BS-Type" ResetValueOnEmptyText="true" ValueChanged="BSTypeChanged" Value="model.BSType"
                                     SearchFunc="SearchBSType" ToStringFunc="@(e=> e == null ? null : $"{e.BSType}")"></MudAutocomplete>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Label="Select Type" @bind-Value="model.BodyType" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Bulker")">Bulker</MudSelectItem>
                        <MudSelectItem Value="@("Open")">Open</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.BranchAdmin" Label="Branch Admin" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BranchAdmin)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.HOAdmin" Label="HO Admin" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.HOAdmin)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.Tax" Label="Tax" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Tax)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.Maintenance" Label="Maintenance" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Maintenance)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.Tyre" Label="Tyre" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Tyre)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.TaxAndInsurance" Label="Tax And Insurance" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TaxAndInsurance)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudNumericField HideSpinButtons @bind-Value="model.FC" Label="FC" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.FC)"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker Label="Period From" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.FromDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudDatePicker Label="Period To" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ToDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div style="padding-right:12px; padding-bottom:12px;">
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success" form="formexp" ButtonType="ButtonType.Submit" Class="ml-auto">Sumbit</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public ROIFixedExpenseModel model { get; set; }
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    public List<ROIFixedExpenseModel> Collection = new();
    public List<ROITonnageModel> BSTypeList = new();
    string UserID;
    int BranchID;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        Collection = Iservice.Select().ToList();
    }

    public async Task<IEnumerable<ROITonnageModel>> SearchBSType(string searchString)
    {
        return await Task.FromResult(BSTypeList.Where(x => x.BSType.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    public void BSTypeChanged(ROITonnageModel obj)
    {
        model.BSType = obj;
    }

    private async void OnValidSubmit(EditContext context)
    {
        model.UserInfo.UserID = UserID;
        try
        {
            model = Iservice.Update(model);
            MudDialog.Close(model);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

}