@page "/RenterPostingGroup"
@inject IRenterPostingGroupService Iservice
@inject IChartOfAccountService accountService
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@using ArmsServices.DataServices.General

@inject IConfigTable IConfig
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudGrid>
    <MudItem xs="4" lg="4">
        <MudPaper Width="100%" Class="p-2">
            <MudList Clickable="true" SelectedItem="SelectedItem" SelectedItemChanged="SelectedItemChanged">
                <MudText Typo="Typo.h6" style="padding: 4px; margin-top: -8px; margin-bottom: -22px; margin-left: 8px;">
                        Renter Posting Group 
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogGroup(model))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                    </MudText>

                <br />

                @if (listOfItems?.Any() == true)
                {
                    @foreach (var item in listOfItems)
                    {
                        <ContextMenuTrigger MenuId="myMenu" Data="@item">

                            <MudListItem OnClick="((e) => ViewDetails(e,item))" Class="border-solid border-2 pa-4 mb-2 mt-2" Style="border-color:#ccc; border-radius:3%" Value="item">
                                <MudText Typo=Typo.subtitle1> @item.Title.ToString() </MudText>
                                @* <MudText Typo="Typo.overline">Since : @item.UserInfo.TimeStampField?.ToString("dd/MM/yy")</MudText>
                        <MudText Typo="Typo.overline">Since : @item.InventoryGroupName.ToString()</MudText>*@

                            </MudListItem>
                        </ContextMenuTrigger>
                    }
                }
            </MudList>
        </MudPaper>
    </MudItem>


    @if (@value == true)
    {
        <MudItem xs="8" lg="8">

            <MudPaper>
                <MudContainer>
                    <h4 style="padding-top:18px;">@titleValue</h4>
                    <br />
                    <MudGrid Spacing="4">

                        <MudItem xs="12" lg="12">
                            <MudTextField @bind-Value="model.Title" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Title)" Disabled="IsOnlyView"></MudTextField>

                        </MudItem>
                        <MudItem xs="12" md="12">
                            <CoaSelector @bind-Value="model.Rent" LabelName="SelectedAccountRentAccount" IsDisable="IsOnlyView" />
                        </MudItem>
                        <MudItem xs="12" md="12">
                            <CoaSelector @bind-Value="model.Deposit" LabelName="SelectedAccountDeposit" IsDisable="IsOnlyView" />
                        </MudItem>
                        <MudItem xs="12" md="12">
                            <CoaSelector @bind-Value="model.Other" LabelName="SelectedAccountOther" IsDisable="IsOnlyView" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                        </MudItem> <MudItem xs="12" md="6">
                            <MudButton @onclick="CancelRenterPostingGroup" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Warning">Cancel</MudButton>
                            @if (!IsOnlyView)
                            {
                                <MudButton @onclick="CreateRenterPostingGroup" Class="ml-2 mr-2" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>
                            }
                        </MudItem>
                    </MudGrid>
                </MudContainer>

            </MudPaper>
        </MudItem>
    }



</MudGrid>

<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    @*   <Item OnClick="@ContextMenuOnClickadd"  Id="addItem" >Add Items</Item>*@
    <Item OnClick="@ContextMenuOnClickedit" Id="editGroup">Edit Group</Item>
</ContextMenu>


@code {

    RenterPostingGroupModel model = new RenterPostingGroupModel();
    private MudListItem SelectedItem;
    private List<RenterPostingGroupModel> listOfItems = new();
    RenterPostingGroupModel SelectedModel = new();
    public bool value = false;
    public string titleValue = null;
    private List<RenterPostingGroupModel> collection = new List<RenterPostingGroupModel>();

    //private async Task<IEnumerable<ChartOfAccountModel>> SearchAccountsBankAccount(string searchString)
    //{
    //    await Task.Delay(5);
    //    int coID =Convert.ToInt32(IConfig.GetByID("FinanceBankGroupID").ValueString);
    //    return await Task.FromResult(accountService.SelectChildren(coID));
    //}

    private bool IsOnlyView { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        GetAll();

    }
    protected async Task SelectedItemChanged(object obj)
    {
        SelectedItem = (MudListItem)obj;
        SelectedModel = (RenterPostingGroupModel)SelectedItem.Value;

    }
    private void GetAll()
    {

        listOfItems = Iservice.Select().ToList();
    }

    public async Task CancelRenterPostingGroup()
    {

        IsOnlyView = false;
        value = false;
        model = new();


    }
    public async Task CreateRenterPostingGroup()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        try
        {
            Iservice.Update(model);
            snackbar.Add("Successfully Submitted", Severity.Success);
            GetAll();
            value = false;
        }
        catch (Exception a)
        {
            snackbar.Add(a.Message, Severity.Error);

        }
    }


    private async Task OpenDialog(RenterPostingGroupModel ii)
    {





    }


    private void OpenDialogGroup(RenterPostingGroupModel ig)
    {
        IsOnlyView = false;
        value = true;
        model = new();

        titleValue = "Add Renter Posting Group";
    }
    void OnAppearing(MenuAppearingEventArgs e)
    {
        //TreeItemData item = (TreeItemData)e.Data;
        // e.PreventShow = !item.HasChildren;
    }
    protected void ContextMenuOnClickedit(ItemClickEventArgs e)
    {
        IsOnlyView = false;
        model = (RenterPostingGroupModel)e.Data;

        value = true;
        titleValue = "Edit Renter Posting Group";
        //await OpenDialogGroup(ig);

    }

    protected void ViewDetails(MouseEventArgs e, RenterPostingGroupModel Data)
    {
        IsOnlyView = true;
        model = Data;
        value = true;
        titleValue = "View Renter Posting Group";
        //await OpenDialogGroup(ig);

    }
}
