@using System.IO
@using System.Threading;
@using Core.BaseModels.Operations;
@using Core.IDataServices.Operations;
@inject AuthenticationStateProvider auth
@inject ITruckAvailabilityService Iservice
@inject IBranchService Ibranchservice
@inject IAssetService IassetService
@inject IAssetSettingsService Iassetsettingsservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IRoleService<RoleModel> Irole

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            @if (model.RequestStatus == 1)
            {
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Accept Or Reject Truck.
                </MudText>
            }
            else
            {
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Approve Or Reject Truck.
                </MudText>
            }
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm id="formDriver" Model="@model" OnValidSubmit="Approve">
            <ObjectGraphDataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid>
                <MudItem xs="6" md="6">
                    <MudTextField @bind-Value="model.DocNumber" Label="Transfer No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Truck.RegNo)" ReadOnly></MudTextField>
                </MudItem>
                <MudItem xs="6" md="6">
                    <MudTextField @bind-Value="model.Truck.RegNo" Label="Truck" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Truck.RegNo)" ReadOnly></MudTextField>
                </MudItem>
                <MudItem xs="6" md="6">
                    <MudTextField @bind-Value="model.RequestedBranch.BranchName" Label="Requested Branch" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.RequestedBranch.BranchName)" ReadOnly></MudTextField>
                </MudItem>
                <MudItem xs="6" md="6">
                    <MudNumericField HideSpinButtons="true" @bind-Value="Odometer" Label="OdometerReading" Variant="Variant.Outlined" Margin="Margin.Dense"></MudNumericField>
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudTextField @bind-Value="model.Remarks" Label="Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="12">
                    @if (model.CheckList != null && model.CheckList.Any())
                    {
                        <MudText Typo="Typo.h6">Checklist</MudText>
                        <br />
                        <MudContainer>
                            <MudGrid class="border">
                                @foreach (var item in model.CheckList)
                                {
                                    @if(model.RequestStatus == 0)
                                    {
                                        <MudItem xs="12" md="12">
                                            <MudText>@item.SettingsName:</MudText>
                                            @if (item.ValueInput == true)
                                            {
                                                @if (item.Value == null)
                                                {
                                                    <MudTextField @bind-Value="item.Value" Label="Value" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                                                }
                                                else
                                                {
                                                    <MudText>@item.Value</MudText>
                                                }
                                            }
                                            <MudRadioGroup @bind-Value="@item.Condition">
                                                <MudRadio Value="@("Excellent")" Color="Color.Tertiary">Excellent</MudRadio>
                                                <MudRadio Value="@("Good")" Color="Color.Primary">Good</MudRadio>
                                                <MudRadio Value="@("Poor")" Color="Color.Secondary">Poor</MudRadio>
                                                <MudRadio Value="@("Not Available")">Not Available</MudRadio>
                                            </MudRadioGroup>
                                        </MudItem>
                                    }
                                    else
                                    {
                                        <MudItem xs="6">
                                            <MudText>@item.SettingsName - @item.Value - @item.Condition : </MudText> 
                                        </MudItem>
                                        <MudItem xs="6">
                                            <MudCheckBox Color="Color.Primary" @bind-Checked="@item.IsRecieved"></MudCheckBox>
                                        </MudItem>
                                    }
                                }
                            </MudGrid>
                        </MudContainer>
                    }
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudToolBar>
                        <MudText Typo="Typo.h6">Truck photos/video</MudText>
                        <MudSpacer />
                        @if (model.RequestStatus == 0)
                        {
                            <MyFileUpload @ref="Mfu" AllowMultiple="true" Resize="true" DeleteExistingFile="false" FileName="@Guid.NewGuid().ToString()" FolderName="@("Truck/Transfer-"+model.RequestApprovalHistoryID.ToString())" Label="Upload Photos/Videos" FilePathChanged="FileUploaded"></MyFileUpload>
                        }
                    </MudToolBar>
                    <MudGrid Style="padding: 24px;" Spacing="2" Justify="Justify.Center">
                        @if (model?.Uploads != null && model.Uploads.Any())
                        {
                            foreach (var imagePath in model.Uploads.Where(x => !string.IsNullOrWhiteSpace(x)))
                            {
                                <MudItem xs="12" md="6" Class="d-flex">
                                    <MudPaper Class="p-2 position-relative" Elevation="3">
                                        @{
                                            var extension = Path.HasExtension(imagePath) ? Path.GetExtension(imagePath).ToLower() : string.Empty;
                                            var isVideo = extension is ".mp4" or ".mov" or ".avi";
                                        }
                                        @if (isVideo)
                                        {
                                            <video src="@imagePath" controls class="w-100" />
                                        }
                                        else
                                        {
                                            <img src="@imagePath" alt="@imagePath" class="w-100" />
                                        }

                                        @if (model.RequestStatus == 0)
                                        {
                                            <MudFab Style="width: 36px; height: 16px; margin-top: -20px; margin-left: -18px;"
                                                Icon="@Icons.Material.Rounded.Close"
                                                Color="Color.Error"
                                                Class="position-absolute top-0 end-0"
                                                OnClick="() => DeleteImage(imagePath)" />
                                        }
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        @if (model.RequestStatus == 1)
        {
            <MudButton Style="margin: 0px 15px 12px 0px;" Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => Complete(model.CheckList))" Class="px-12">Complete</MudButton>
        }
        else
        {
            <div style="margin: 0px 15px 12px 0px;">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="Approve" Class="px-12">Approve</MudButton>
                <MudButton Style="margin-left: 12px;" Variant="Variant.Filled" Color="Color.Warning" OnClick="Reject" Class="px-12">Reject</MudButton>
            </div>
        }

    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public RequestApprovalHistoryModel model { get; set; } = new();
    private int branchID { get; set; } = 0;
    private int? BranchID { get; set; } = 0;
    MyFileUpload Mfu;
    private int? Odometer;
    public AssetModel Asset { get; set; } = new();
    public bool HasPermissionTruckAvailabilityServiceEdit { get; set; } = false;
    public int TruckAvailabilityDocTypeID = 139;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTruckAvailabilityServiceEdit = await Irole.HasClaim(TruckAvailabilityDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        BranchID = int.Parse(brancIDString);
        model.RespondedBranchID = BranchID;
        branchID = model?.RespondedBranch?.BranchID ?? 0;

        if (model.RequestStatus == 0)
        {
            Asset = IassetService.SelectByTruckID(model.TruckID);
            model.CheckList = Iassetsettingsservice.GetSettings(Asset.SubClass.AssetSubClassID, model.TruckID).ToList();
        }
        else
        {
            model.CheckList = Iservice.GetCheckList(model.RequestApprovalHistoryID).ToList();
        }

        if (model.Uploads == null)
            model.Uploads = new List<string>();
    }

    protected override void OnParametersSet()
    {

    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    // Method to handle file uploads
    private void FileUploaded(string filePath)
    {
        var webPath = "/" + filePath.Replace("\\", "/");
        model.Uploads.Add(webPath);
    }


    // Method to delete an image associated with the insurance claim
    private async Task DeleteImage(string imagePath)
    {
        model.Uploads.Remove(imagePath);
    }

    public async Task Approve()
    {
        if (HasPermissionTruckAvailabilityServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;            
            
            if (Odometer == null)
            {
                Snackbar.Add("Odometer for Opening KM is required !", Severity.Warning);
                return;                
            }

            if (model.Uploads == null || !model.Uploads.Any())
            {
                Snackbar.Add("At least one upload is required!", Severity.Warning);
                return;
            }

            if (model.Truck == null || model.Truck.TruckID == 0)
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning",
                    "Please, select truck.", yesText: "OK");
                return;
            }

            if (model != null)
            {
                foreach (var item in model.CheckList)
                {
                    if (item.ValueInput == true)
                    {
                        if (string.IsNullOrWhiteSpace(item.Value))
                        {
                            Snackbar.Add($"Please provide value for '{item.SettingsName}'", Severity.Warning);
                            return;
                        }
                        if (string.IsNullOrWhiteSpace(item.Condition))
                        {
                            Snackbar.Add($"Please select condition for '{item.SettingsName}'", Severity.Warning);
                            return;
                        }
                    }
                }

                model.RespondedUserInfo = new();                
                model.OpeningKM = Odometer;
                model.RespondedUserInfo.UserID = user.Identity.Name;
                model.RequestStatus = 1;

                try
                {
                    Iservice.UpdateStatus(model, null);
                    Snackbar.Add("Approved succesfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
            MudDialog.Close(model);
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Add or Edit Driver.");
        }
    }

    public async Task Complete(List<AssetSettingsModel> context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        if (Odometer == null)
        {
            Snackbar.Add("Odometer for Closing KM is required !", Severity.Warning);
            return;
        }
        if (Odometer < model.OpeningKM)
        {
            Snackbar.Add("Odometer for Closing KM cannot be lesser than Opening KM !", Severity.Warning);
            return;
        }
        if (model.Truck == null || model.Truck.TruckID == 0)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning",
                "Please, Select truck.", yesText: "OK");
            return;
        }
        if (model != null)
        {
            if (!context.All(x => x.IsRecieved == true))
            {
                Snackbar.Add("All checklist items must be marked as received!", Severity.Warning);
                return;
            }

            List<int?> RecievedList = context.Where(s => s.IsRecieved == true).Select(d => d.SettingsID).ToList();

            model.RequestStatus = 2;
            model.ClosingKM = Odometer;

            try
            {
                Iservice.UpdateStatus(model, RecievedList);
                Snackbar.Add("Completed succesfully", Severity.Success);
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }
        MudDialog.Close(model);
    }

    public async Task Reject()
    {
        if (HasPermissionTruckAvailabilityServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            if (model.Truck == null || model.Truck.TruckID == 0)
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning",
                    "Please, Select truck.", yesText: "OK");
                return;
            }
            if (model != null)
            {
                model.RespondedUserInfo = new();
                model.RequestStatus = 99;
                model.RespondedUserInfo.UserID = user.Identity.Name;
                try
                {
                    Iservice.UpdateStatus(model, null);
                    Snackbar.Add("Rejected succesfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
            MudDialog.Close(model);
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Add or Edit Driver.");
        }
    }
}