@page "/TruckAvailabilityView"
@page "/TruckAvailabilityView/{id:int}"
@using ArmsModels.BaseModels.General
@using Core.BaseModels.Operations;
@using Core.IDataServices.Operations;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Threading;
@using Views.Data
@using System.Threading;
@using Core.BaseModels.Finance.Transactions;
@using Pages.Operations.Expenses

@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject ITruckAvailabilityService Iservice
@inject IPushNotificationService IpushNotificationService
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IBranchService IbranchService
@inject NavigationManager NavigationManager
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService
@inject IRoleService<RoleModel> Irole

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Truck Request">
                <MudToolBar>
                    <MudText Typo="Typo.h6">Initiate Request</MudText>
                    <MudTooltip Text="New Truck Request">
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogEditOutGoing(new RequestApprovalHistoryModel()))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                    </MudTooltip>
                    <MudSpacer></MudSpacer>
                    <MudCheckBox Label="Completed Entries" CheckedChanged="((bool value)=>CompletedChanged(value))" Checked="@IsCompleted" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
                </MudToolBar>
                <MudGrid Class="mud-cols-xs-1 mud-cols-md-2 mud-cols-lg-2">
                    @foreach (var item in collectionOutGoing)
                    {
                        <MudItem sm="12" xl="4" lg="6">
                            <MudCard Class="mt-3" Style="height:auto" Elevation="4">
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="Color.Tertiary"><MudIcon Icon="@Icons.Material.Filled.Train" Title="Reg No" Color="Color.Primary" /></MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudGrid>
                                            <MudItem xs="6">
                                                <MudText Typo="Typo.h6" GutterBottom="true">
                                                    <b>@item.Truck.RegNo</b>
                                                </MudText>
                                            </MudItem>
                                        </MudGrid>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudTooltip Text="Add Fuel">
                                            <MudIconButton Icon="@Icons.Material.Filled.LocalGasStation" Size="Size.Large" Color="Color.Success" @onclick="@(()=> OpenFuelForm(new TripFuelModel(){RequestApprovalHistoryID = item.RequestApprovalHistoryID , TruckID = item.TruckID}))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Add Expenses">
                                            <MudIconButton Icon="@Icons.Material.Filled.MenuBook" Color="Color.Success" Size="Size.Large" @onclick="@(()=> OpenExpenseForm(new OpTranModel(){RequestApprovalHistoryID = item.RequestApprovalHistoryID}))" />
                                        </MudTooltip>
                                        <MudTooltip Text="Add Mileage Shortage Receipt">
                                            <MudIconButton Icon="@Icons.Material.Filled.Toll" Color="Color.Success" Size="Size.Large" @onclick="@(()=> OpenMileageShortageReceipt(new MileageShortageReceiptModel(){RequestApprovalHistoryID = item.RequestApprovalHistoryID, DriverID = item.DriverID}))" />
                                        </MudTooltip>
                                        @if (item.RequestStatus != 2)
                                        {
                                            @if (item.RequestStatus != 0)
                                            {
                                                @if (item.RequestStatus == 99)
                                                {
                                                    <MudText Color="Color.Error">Rejected</MudText>
                                                }
                                                else
                                                {
                                                    <MudTooltip Text="Accept/Reject">
                                                        <MudIconButton @onclick="@(()=> OpenDialogEditIncoming(item))" Color="Color.Primary" Icon="@Icons.Material.Filled.AddTask" Size="Size.Medium" IconSize="Size.Small" />
                                                    </MudTooltip>
                                                }
                                            }
                                            else
                                            {
                                                <MudTooltip Text="Edit">
                                                    <MudIconButton @onclick="@(()=> OpenDialogEditOutGoing(item))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                                                </MudTooltip>
                                                <MudTooltip Text="Remove">
                                                    <MudIconButton @onclick="@(()=> OpenDialogDeleteOutGoing(item))" Color="Color.Primary" Icon="@Icons.Material.Filled.Remove" Size="Size.Small" IconSize="Size.Small" />
                                                </MudTooltip>
                                            }
                                        }
                                    </CardHeaderActions>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudList Style="width:700px">
                                        <MudGrid>
                                            <MudItem md="5">
                                                <MudListItem Avatar="@Icons.Material.Filled.DateRange" IconColor="Color.Primary">
                                                    <b>@item.RequestedUserInfo?.TimeStampField?.ToString("dd/MM/yyyy")</b>
                                                </MudListItem>
                                                <MudListItem Avatar="@Icons.Material.Filled.Approval" IconColor="Color.Primary">
                                                    Status :<b>@item.StatusText</b>
                                                </MudListItem>
                                            </MudItem>
                                            <MudItem md="5">
                                                <MudListItem Avatar="@Icons.Material.Filled.Warehouse" IconColor="Color.Primary">
                                                    Responded Branch : <b>@item.RespondedBranch.BranchName</b>
                                                </MudListItem>
                                            </MudItem>
                                        </MudGrid>
                                    </MudList>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="Truck Approve/ Reject">
                <MudGrid Class="mud-cols-xs-1 mud-cols-md-2 mud-cols-lg-2">
                    @foreach (var item in collectionIncoming)
                    {
                        <MudItem sm="12" xl="4" lg="6">
                            <MudCard Class="mt-3" Style="height:auto" Elevation="4">
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="Color.Tertiary"><MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Title="Trip Number" Color="Color.Primary" /></MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudGrid>
                                            <MudItem xs="6">
                                                <MudText Typo="Typo.h6" GutterBottom="true">
                                                    <b>@item.Truck.RegNo</b>
                                                </MudText>
                                            </MudItem>
                                        </MudGrid>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudTooltip Text="Accept/Reject">
                                            <MudIconButton @onclick="@(()=> OpenDialogEditIncoming(item))" Color="Color.Primary" Icon="@Icons.Material.Filled.AddTask" Size="Size.Medium" IconSize="Size.Small" />
                                        </MudTooltip>
                                    </CardHeaderActions>
                                </MudCardHeader>
                                <MudCardContent>
                                    <div class="TabStyle">
                                        <MudList Style="width:700px">
                                            <MudGrid>
                                                <MudItem md="5">
                                                    <MudListItem Avatar="@Icons.Material.Filled.DateRange" IconColor="Color.Primary">
                                                        <b>@item.RequestedUserInfo?.TimeStampField?.ToString("dd/MM/yyyy")</b>
                                                    </MudListItem>
                                                    <MudListItem Avatar="@Icons.Material.Filled.Approval" IconColor="Color.Primary">
                                                        Status :<b>@item.StatusText</b>
                                                    </MudListItem>
                                                </MudItem>
                                                <MudItem md="5">
                                                    <MudListItem Avatar="@Icons.Material.Filled.Warehouse" IconColor="Color.Primary">
                                                        Requested Branch : <b>@item.RequestedBranch.BranchName</b>
                                                    </MudListItem>
                                                </MudItem>
                                            </MudGrid>

                                        </MudList>
                                    </div>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                </MudGrid>
            </MudTabPanel>
        </MudTabs>
    </MudItem>
</MudGrid>

@code {

    int CurrentBranchId = 0;
    private List<BranchModel> BranchList = new();
    [Parameter]
    public int? id { get; set; } = null;
    public bool IsCompleted { get; set; } = false;

    int DocTypeID = 3;

    #region SignaIR Notification

    //private IEnumerable<PushNotificationModel> allNotificationMessages = null;
    private List<PushNotificationModel> currentNotificationMessages = new List<PushNotificationModel>();
    private PushNotificationModel notificationMessage = new PushNotificationModel();

    #endregion
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };

    protected override async Task OnInitializedAsync()
    {
        BranchList = IbranchService.Select().ToList();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        CurrentBranchId = int.Parse(brancIDString);
        BranchList = IbranchService.Select().ToList();
        //hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub")).Build();
        //signalRService.RegisterReceivedMessage(e => Receive(e));
        //await hubConnection.StartAsync();

        await GetAllOutGoing();
        await GetAllIncoming();
        await Task.Delay(200);
        await signalRService.StartAsync();
        if (id != null && collectionIncoming != null && collectionIncoming.Any(g => g.RequestApprovalHistoryID == id))
        {
            await OpenDialogEditIncoming(collectionIncoming.FirstOrDefault(s => s.RequestApprovalHistoryID == id));
        }
    }

    private async Task GetAll(bool val)
    {
        if(val)
        {
            await GetAllOutGoingCompleted();
        }
        else
        {
            await GetAllOutGoing();
        }
        await GetAllIncoming();
    }

    async Task CompletedChanged(bool value)
    {
        IsCompleted = value;
        await GetAll(IsCompleted);
    }

    #region Outgoing

    private RequestApprovalHistoryModel modelOutGoing = new();
    private List<RequestApprovalHistoryModel> collectionOutGoing = new();
    string state = "Message box hasn't been opened yet";

    private async Task OpenDialogEditOutGoing(RequestApprovalHistoryModel TruckTransferInitiation)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        TruckTransferInitiation.RequestedUserInfo = new();
        if (TruckTransferInitiation.RequestedUserInfo != null)
        {
            TruckTransferInitiation.RequestedUserInfo.UserID = user.Identity.Name;
        }
        if (TruckTransferInitiation.RespondedBranch == null)
        {
            TruckTransferInitiation.RespondedBranch = new();
        }
        if (TruckTransferInitiation.RespondedBranch == null)
        {
            TruckTransferInitiation.RespondedBranch = new();
        }
        TruckTransferInitiation.RespondedBranch.BranchID = int.Parse(brancIDString);
        TruckTransferInitiation.RequestedBranchID = int.Parse(brancIDString);
        List<int?> SelectedTruckIDs = new();
        SelectedTruckIDs = collectionOutGoing.Select(s => s.TruckID).ToList();
        var modelOutGoing = new DialogParameters { ["model"] = TruckTransferInitiation.Clone(), ["SelectedTruckIDs"] = SelectedTruckIDs };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<TruckAvailabilityRequestDialog>("Simple Dialog", modelOutGoing, options);
        var result = await dialog.Result;
        var isCancelled = result.Canceled;
        if (!isCancelled)
        {
            var ReturnData = (RequestApprovalHistoryModel)result.Data;
            notificationMessage.InitiateBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.RequestedBranchID ?? 0)) ?? null;
            notificationMessage.ReceivedBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.RespondedBranchID ?? 0)) ?? null;
            notificationMessage.MessageTitle = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Requested.";
            notificationMessage.MessageBody = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Requested from " + (ReturnData?.RequestedBranch?.BranchName ?? "") + " on " + (DateTime.Now).ToString() + ".";
            notificationMessage.RedirectedTo = 0;
            notificationMessage.ExpiredBy = 7;
            notificationMessage.DocumentID = ReturnData.RequestApprovalHistoryID;
            notificationMessage.MessageGroupID = "TruckRequestApproval";
            notificationMessage.PageToRedirectLink = "/TruckAvailabilityView";
            notificationMessage.ClaimValue = "Edit";
            notificationMessage.DocumentTypeID = DocTypeID;
            notificationMessage.MsgDate = DateTime.Now;
            await signalRService.Send(notificationMessage);

            await GetAll(IsCompleted);
        }
    }

    private async Task OpenDialogDeleteOutGoing(RequestApprovalHistoryModel TruckTransferInitiation)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Are you sure you want to delete this entry?",
            yesText: "Delete!", cancelText: "Cancel");
        state = result == null ? "Cancelled" : "Deleted!";
        if (state == "Deleted!")
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            TruckTransferInitiation.RequestedUserInfo = new();
            if (TruckTransferInitiation.RequestedUserInfo != null)
            {
                TruckTransferInitiation.RequestedUserInfo.UserID = user.Identity.Name;
                try
                {
                    Iservice.DeleteRequest(TruckTransferInitiation.RequestApprovalHistoryID, TruckTransferInitiation.RequestedUserInfo.UserID);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
            await GetAll(IsCompleted);
        }
    }

    private async Task GetAllOutGoing()
    {
        collectionOutGoing = new();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        if (modelOutGoing.RespondedBranch == null)
        {
            modelOutGoing.RespondedBranch = new();
        }
        modelOutGoing.RespondedBranch.BranchID = int.Parse(brancIDString);
        modelOutGoing.RequestedBranchID = int.Parse(brancIDString);
        foreach (var item in Iservice.SelectOutgoingRequests(null, modelOutGoing.RequestedBranchID).Where(x => x.RequestStatus != 2))
        {
            collectionOutGoing.Add(item);
        }
    }

    private async Task GetAllOutGoingCompleted()
    {
        collectionOutGoing = new();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        if (modelOutGoing.RespondedBranch == null)
        {
            modelOutGoing.RespondedBranch = new();
        }
        modelOutGoing.RespondedBranch.BranchID = int.Parse(brancIDString);
        modelOutGoing.RequestedBranchID = int.Parse(brancIDString);
        foreach (var item in Iservice.SelectOutgoingRequests(null, modelOutGoing.RequestedBranchID).Where(x => x.RequestStatus == 2))
        {
            collectionOutGoing.Add(item);
        }
    }
    #endregion

    #region Incoming

    private RequestApprovalHistoryModel modelIncoming = new();
    private List<RequestApprovalHistoryModel> collectionIncoming = new();

    private async Task OpenDialogEditIncoming(RequestApprovalHistoryModel ResponseRequest)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        ResponseRequest.RespondedUserInfo = new();
        if (ResponseRequest.RespondedUserInfo != null)
        {
            ResponseRequest.RespondedUserInfo.UserID = user.Identity.Name;
        }
        if (ResponseRequest.RespondedBranch == null || ResponseRequest.RespondedBranch.BranchID == null || ResponseRequest.RespondedBranchID == null)
        {
            ResponseRequest.RespondedBranch = new();
            ResponseRequest.RespondedBranch.BranchID = int.Parse(brancIDString);
            ResponseRequest.RespondedBranchID = int.Parse(brancIDString);
        }

        var modelIncoming = new DialogParameters { ["model"] = ResponseRequest.Clone() };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<TruckAvailabilityResponseDialog>("Simple Dialog", modelIncoming, options);
        var result = await dialog.Result;
        var isCancelled = result.Canceled;
        if (!isCancelled)
        {
            var ReturnData = (RequestApprovalHistoryModel)result.Data;            
            currentNotificationMessages = IpushNotificationService.SelectActiveNotifications(ResponseRequest.RespondedBranch.BranchID).ToList(); 
            if (currentNotificationMessages != null && currentNotificationMessages.Any(g => g.DocumentID == ReturnData.RequestApprovalHistoryID && g.DocumentTypeID == DocTypeID && g.MessageID != null))
            {
                string MessageIDs = String.Join(",", currentNotificationMessages.Where(g => g.DocumentID == ReturnData.RequestApprovalHistoryID && g.DocumentTypeID == DocTypeID && g.MessageID != null).Select(d => d.MessageID).ToList());
                try
                {
                    if (!string.IsNullOrEmpty(MessageIDs))
                    {
                        IpushNotificationService.AknowledgedSelectedItems(MessageIDs, user.Identity.Name);
                    }
                }
                catch (Exception ex)
                {
                    snackbar.Add("Error while sending message!", Severity.Error);
                }
            }
            string messageTitle = string.Empty;
            string messageBody = string.Empty;
            if (ReturnData.RequestStatus == 1)
            {
                messageTitle = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Approved.";
                messageBody = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Approved" + ((ReturnData.RequestedBranch != null && ReturnData.RequestedBranch.BranchName != null) ? (" from branch " + ReturnData.RequestedBranch.BranchName + ((ReturnData.RespondedUserInfo != null && ReturnData.RespondedUserInfo.UserID != null) ? (" by user " + ReturnData.RespondedUserInfo.UserID + ".") : ".")) : ".") + " on " + (DateTime.Now).ToString() + ".";
            }
            else if (ReturnData.RequestStatus == 99)
            {
                messageTitle = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Rejected.";
                messageBody = "Truck name " + (ReturnData?.Truck?.RegNo ?? "") + " is Rejected" + ((ReturnData.RequestedBranch != null && ReturnData.RequestedBranch.BranchName != null) ? (" from branch " + ReturnData.RequestedBranch.BranchName + ((ReturnData.RespondedUserInfo != null && ReturnData.RespondedUserInfo.UserID != null) ? (" by user " + ReturnData.RespondedUserInfo.UserID + ".") : ".")) : ".") + " on " + (DateTime.Now).ToString() + ".";
            }
            notificationMessage.InitiateBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData.RespondedBranchID ?? 0)) ?? null;
            notificationMessage.ReceivedBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData.RequestedBranchID ?? 0)) ?? null;
            notificationMessage.MessageTitle = messageTitle;
            notificationMessage.MessageBody = messageBody;
            notificationMessage.RedirectedTo = 0;
            notificationMessage.MsgDate = DateTime.Now;
            notificationMessage.ExpiredBy = 7;
            notificationMessage.DocumentID = ReturnData.RequestApprovalHistoryID;
            notificationMessage.MessageGroupID = "TruckRequestApproval";
            notificationMessage.PageToRedirectLink = "/TruckAvailabilityView";
            notificationMessage.ClaimValue = "Edit";
            notificationMessage.DocumentTypeID = DocTypeID;
            await signalRService.Send(notificationMessage);
        }
        await GetAll(IsCompleted);
    }

    private async Task GetAllIncoming()
    {
        collectionIncoming = new();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        modelIncoming.RespondedUserInfo.UserID = user.Identity.Name;
        if (modelIncoming.RequestedBranch == null)
        {
            modelIncoming.RequestedBranch = new();
        }
        modelIncoming.RequestedBranch.BranchID = int.Parse(brancIDString);
        modelIncoming.RespondedBranchID = int.Parse(brancIDString);
        foreach (var item in Iservice.SelectIncomingTrucks(null, modelIncoming.RespondedBranchID ?? 0))
        {
            collectionIncoming.Add(item);
        }
    }

    private async Task OpenFuelForm(TripFuelModel fuelModel)
    {
        DialogParameters parms = new DialogParameters();
        //parms.Add("TruckNumber", modelOutGoing.Truck.RegNo);
        parms.Add("Tmodel", new TripFuelModel() { RequestApprovalHistoryID = fuelModel.RequestApprovalHistoryID , TruckID = fuelModel.TruckID});
        var dialog = DialogService.Show<TripsFuelDialog>("ADD FUEL", parms, maxWidth);
        var result = await dialog.Result;
    }

    private async Task OpenExpenseForm(OpTranModel tranModel)
    {
        DialogParameters parms = new DialogParameters();
        tranModel.PaymentMode = "Cash"; tranModel.Area = "Operation";
        parms.Add("model", tranModel.Clone());
        var dialog = DialogService.Show<Finance.Transactions.OpTranDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
    }

    private async Task OpenMileageShortageReceipt(MileageShortageReceiptModel morModel)
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("model", new MileageShortageReceiptModel()
            {
                RequestApprovalHistoryID = morModel.RequestApprovalHistoryID,
                DriverID = morModel.DriverID
            });
        var dialog = DialogService.Show<Finance.Transactions.MileageShortageReceiptDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
    }

    #endregion
} 