@page "/trucks"
@using System.Threading;
@using System.Globalization
@using OfficeOpenXml
@using System.IO
@using OfficeOpenXml.Style
@using Views.Pages.Inventory.TyreManager
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager UriHelper;
@inject TruckDataArrayModel data
@inject ITruckService Iservice
@inject ITruckTypeService Itrucktype
@inject IBranchService Ibranch
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService
@inject IRoleService<RoleModel> Irole
@inject IJSRuntime JSRuntime

<style>

    .InactiveTrucks > td > p::after {
        color: red;
        content: " (Unavailable)";
    }

</style>

<MudTable Items="@collection" RowClassFunc="RowClassFunc" Elevation="8" Filter="new Func<TruckModel, bool>(search)" @bind-Truck="model">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Trucks</MudText>
        <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> Edit(null))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        <MudSpacer></MudSpacer>
        <MudTextField @bind-Value="searchTruck" Placeholder="Search Trucks... " Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
        <MudButton OnClick="ExcelDownload" Style="margin: 14px; margin-left: 60px;" StartIcon="@Icons.Material.Outlined.Article" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Button">Export to Excel</MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.RegNo)" InitialDirection="SortDirection.Ascending">Truck</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.TruckType)" InitialDirection="SortDirection.Ascending">Type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.HomeBranchName)" InitialDirection="SortDirection.Ascending">HomeBranch</MudTableSortLabel></MudTh>
        @if(BranchID == 7)
        {
            <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.OperatingBranchName)" InitialDirection="SortDirection.Ascending">OperatingBranch</MudTableSortLabel></MudTh>
        }
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.FuelType)" InitialDirection="SortDirection.Ascending">Fuel Type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.FuelTankCapacity)" InitialDirection="SortDirection.Ascending">Fuel Capacity</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.BodyType)" InitialDirection="SortDirection.Ascending">Body Type</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TruckModel, object>(x=> x.ManufacturedYear)" InitialDirection="SortDirection.Ascending">Year</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Truck" Class="truckNumber">
            <p>
                @context.RegNo  @if (!context.CurrentRegistration.IsValid)
                {
                    <MudText Typo="Typo.caption">(Expired)</MudText>
                }
            </p>
        </MudTd>
        <MudTd DataLabel="TruckType">@context.TruckType</MudTd>
        <MudTd DataLabel="HomeBranchName">@context.HomeBranchName</MudTd>
        @if (BranchID == 7)
        {
            <MudTd DataLabel="OperatingBranchName">@context.OperatingBranchName</MudTd>
        }
        <MudTd DataLabel="FuelType">@context.FuelType</MudTd>
        <MudTd DataLabel="FuelTankCapacity">@context.FuelTankCapacity</MudTd>
        <MudTd DataLabel="BodyType">@context.BodyType</MudTd>
        <MudTd DataLabel="ManufacturedYear">@context.ManufacturedYear</MudTd>
        <MudTd DataLabel="">
            <MudTooltip Text="Edit">
                <MudFab style="font-size:5px" @onclick="@(()=> Edit(context.TruckID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudFab @onclick="@(()=> Delete(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
            </MudTooltip>
            <MudTooltip Text="Tyre Info">
                <MudFab @onclick="@(()=> TruckMountDetails(context.TruckID))" Color="Color.Primary" Icon="@Icons.Material.Filled.TableView" Size="Size.Small" IconSize="Size.Small" />
            </MudTooltip>
            <MudTooltip Text="Registration Info">
                <MudFab @onclick="@(()=> RegisterNumberList(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.List" Size="Size.Small" IconSize="Size.Small" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
    </PagerContent>
</MudTable>

@code {

    private TruckModel model = new TruckModel();
    private string searchTruck = "";
    private List<TruckModel> collection = new List<TruckModel>();
    private List<TruckTypeModel> TruckTypes = new List<TruckTypeModel>();
    private List<BranchModel> Branches = new List<BranchModel>();
    public string TruckRegisterListurl = "/TruckRegisterList";
    private bool _busy;
    int BranchID = 0;

    public bool HasPermissionITruckServiceEdit { get; set; } = false;
    public bool HasPermissionITruckServiceDelete { get; set; } = false;
    public int DocTypeID = 37;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionITruckServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionITruckServiceDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        BranchID = int.Parse(user.Claims.FirstOrDefault(x => x.Type == "BranchID").Value);
        TruckTypes = Itrucktype.Select(0).ToList();
        Branches = Ibranch.Select().ToList();
        GetAll();
    }

    private void GetAll()
    {
        collection = Iservice.SelectByBranch(BranchID, "All", "Operation").ToList();
    }

    private string RowClassFunc(TruckModel truck, Int32 index)
    {
        string classNames = string.Empty;
        if (!truck.CurrentRegistration.IsValid)
        {
            classNames += "InvalidRow ";
        }
        if (truck.HomeBranchID == BranchID && truck.CurrentBranchID != truck.HomeBranchID)
        {
            classNames += "InactiveTrucks ";
        }
        return classNames;
    }

    private async Task ExcelDownload()
    {
        var fileName = "TruckList.xlsx";
        var sheetName = "Sheet1"; // Change the sheet name as needed
        var fileBytes = GenerateExcelBytes(sheetName);

        await JSRuntime.InvokeVoidAsync("triggerFileDownload", fileName, Convert.ToBase64String(fileBytes));
    }

    private byte[] GenerateExcelBytes(string sheetName)
    {
        using (var package = new ExcelPackage())
        {
            var worksheet = package.Workbook.Worksheets.Add(sheetName);

            // Add column headers
            worksheet.Cells[1, 1].Value = "HomeBranch Name";
            worksheet.Cells[1, 2].Value = "OperatingBranch Name";
            worksheet.Cells[1, 3].Value = "Reg No";
            worksheet.Cells[1, 4].Value = "Truck Type";
            worksheet.Cells[1, 5].Value = "BS Type";
            worksheet.Cells[1, 6].Value = "Body Type";
            worksheet.Cells[1, 7].Value = "Transmission Type";
            worksheet.Cells[1, 8].Value = "Fuel Type";
            worksheet.Cells[1, 9].Value = "FuelTank Capacity";
            worksheet.Cells[1, 10].Value = "Manufactured Year";
            worksheet.Cells[1, 11].Value = "Purchase Date Year";
            worksheet.Cells[1, 12].Value = "Valid From";
            worksheet.Cells[1, 13].Value = "Valid To";
            worksheet.Cells[1, 14].Value = "Engine Number";
            worksheet.Cells[1, 15].Value = "Chassis Number";
            worksheet.Cells[1, 16].Value = "Unladen Weight";
            worksheet.Cells[1, 17].Value = "Gross Weight";
            for (int i = 1; i <= 17; i++)
            {
                worksheet.Cells[1, i].Style.Font.Bold = true;
            }

            //worksheet.Column(11).Style.Numberformat.Format = "dd-MM-yyyy"; // Date format
            worksheet.Column(15).Style.Numberformat.Format = "0.00"; // Integer format
            worksheet.Column(16).Style.Numberformat.Format = "0.00"; // Integer format
                                                                     // worksheet.Column(5).Style.Numberformat.Format = "0.00"; // Integer format
                                                                     // worksheet.Column(6).Style.Numberformat.Format = "0.00";

            // Add data rows
            int row = 2;
            foreach (var item in collection)
            {
                worksheet.Cells[row, 1].Value = item.HomeBranchName;
                worksheet.Cells[row, 2].Value = item.OperatingBranchName;
                worksheet.Cells[row, 3].Value = item.RegNo;
                worksheet.Cells[row, 4].Value = item.TruckType;
                worksheet.Cells[row, 5].Value = item.BSType;
                worksheet.Cells[row, 6].Value = item.BodyType;
                worksheet.Cells[row, 7].Value = item.TransmissionType;
                worksheet.Cells[row, 8].Value = item.FuelType;
                worksheet.Cells[row, 9].Value = item.FuelTankCapacity;
                worksheet.Cells[row, 10].Value = item.ManufacturedYear;
                worksheet.Cells[row, 11].Value = item.PurchaseDate.Value.ToString("dd-MM-yyyy"); 
                worksheet.Cells[row, 12].Value = item.CurrentRegistration.EffectFrom.Value.ToString("dd-MM-yyyy");
                worksheet.Cells[row, 13].Value = item.CurrentRegistration.EffectTo.Value.ToString("dd-MM-yyyy");
                worksheet.Cells[row, 14].Value = item.EngineNumber;
                worksheet.Cells[row, 15].Value = item.ChassisNumber;
                worksheet.Cells[row, 16].Value = item.UnladenWeight;
                worksheet.Cells[row, 17].Value = item.GrossWeight;

                if (!item.CurrentRegistration.IsValid)
                {
                    using (var range = worksheet.Cells[row, 1, row, 17])
                    {
                        range.Style.Fill.PatternType = ExcelFillStyle.Solid;
                        range.Style.Fill.BackgroundColor.SetColor(System.Drawing.Color.Red);
                    }
                }

                row++;
            }

            worksheet.Cells[worksheet.Dimension.Address].Style.Border.Top.Style = ExcelBorderStyle.Thin;
            worksheet.Cells[worksheet.Dimension.Address].Style.Border.Left.Style = ExcelBorderStyle.Thin;
            worksheet.Cells[worksheet.Dimension.Address].Style.Border.Right.Style = ExcelBorderStyle.Thin;
            worksheet.Cells[worksheet.Dimension.Address].Style.Border.Bottom.Style = ExcelBorderStyle.Thin;

            // Save the Excel package to a memory stream
            using (var stream = new MemoryStream())
            {
                package.SaveAs(stream);
                return stream.ToArray();
            }
        }
    }

    private async void TruckMountDetails(int? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        model = new();
        DialogOptions options = new DialogOptions()
            {
                MaxWidth = MaxWidth.Large,
            };
        if (id != null)
        {
            model = Iservice.SelectByID(id);
            model.CurrentRegistration = Iservice.GetRegistration(id);
        }
        DialogParameters parms = new();
        parms.Add("SelectedTruck", model.Clone());
        DialogService.Show<MountTruckDetailsDialog>("ADD/EDIT", parms, options);
        await Task.Delay(200);
        _busy = false;
    }

    private async Task RegisterNumberList(TruckModel truck)
    {
        var truckIdstring = (truck?.TruckID ?? 0).ToString();
        UriHelper.NavigateTo($"TruckRegisterList/{truckIdstring}");
    }

    private async Task Edit(int? id)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionITruckServiceEdit)
        {
            model = new();
            DialogOptions options = new DialogOptions()
                {
                    MaxWidth = MaxWidth.Large,
                };
            if (id != null)
            {
                model = Iservice.SelectByID(id);
                model.CurrentRegistration = Iservice.GetRegistration(id);
            }
            DialogParameters parms = new();
            parms.Add("EditModel", model.Clone());
            var dialog = DialogService.Show<Truckdilog>("Truck", parms, options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                var data = (TruckModel)result.Data;
                if (data != null)
                {
                    if (id == null)
                    {
                        data.CurrentRegistration = Iservice.GetRegistration(data.TruckID);
                        collection.Add(data);
                    }
                    else
                    {
                        if (collection.Exists(x => x.TruckID == data.TruckID))
                        {
                            data.CurrentRegistration = Iservice.GetRegistration(data.TruckID);
                            collection[collection.FindIndex(x => x.TruckID == data.TruckID)] = data;
                        }
                    }
                }
            }
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit Truck.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Delete(TruckModel model)
    {
        if (model.HomeBranchID != BranchID)
        {
            snackbar.Add("You dont have any permission to Delete Truck.", Severity.Warning);
            return;
        }

        if (HasPermissionITruckServiceDelete)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to delete Truck : " + model.RegNo + " ?");
            if (result == true)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                Iservice.Delete(model.TruckID, user.Identity.Name);
                snackbar.Add("Deleted Successfully", Severity.Error);
            }
            GetAll();
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Delete Truck.");
        }
    }

    private bool search(TruckModel Truck)
    {
        if (Truck?.RegNo != null && Truck.RegNo.Contains(searchTruck, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        else if (Truck.RegNo == null) return true;
        return false;
    }
}