@page "/truckadd"
@using System.Threading;
@using System.Globalization
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject TruckDataArrayModel data
@inject IConfigTable config
@inject ITruckService Iservice
@inject ITruckTypeService Itrucktype
@inject IBranchService Ibranch
@inject MudBlazor.ISnackbar snackbar
@inject IAssetService Iasset
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <div style="max-height:500px;overflow-y:scroll">
            <MudContainer>
                <EditForm id="truckForm" Model="@EditModel" OnValidSubmit="OnValidSubmit">
                    <MudGrid>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="EditModel.CurrentRegistration.RegNo" Class=dropstyle Margin=Margin.Normal Label="Registered Number" Variant="Variant.Outlined" For="@(() => EditModel.CurrentRegistration.RegNo)" Disabled=@(EditModel.TruckID == null?false:true) Required></MudTextField>
                         </MudItem>
                         <MudItem xs="6">
                             <MudSelect ReadOnly Disabled Variant="Variant.Outlined" Label="Home Branch" @bind-Value="EditModel.HomeBranchID" Margin=Margin.Normal OffsetY="true" AdornmentColor="Color.Secondary">
                                 @foreach (var item in Branches)
                                {
                                    <MudSelectItem Value="@item.BranchID">@item.BranchName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudDatePicker Margin="Margin.Dense" Variant="Variant.Outlined" Label="Registration valid from" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectFrom" Culture="@CultureInfo.GetCultureInfo("en-IN")" Disabled=@(EditModel.TruckID == null?false:true) Required RequiredError="EffectFrom date is Required !" />
                         </MudItem>
                         <MudItem xs="6">
                             <MudDatePicker Margin="Margin.Dense" Variant="Variant.Outlined" Label="Registration Valid to" DisableToolbar="true" Editable="true" @bind-Date="EditModel.CurrentRegistration.EffectTo" Culture="@CultureInfo.GetCultureInfo("en-IN")" Disabled=@(EditModel.TruckID == null?false:true) Required RequiredError="EffectTo date is Required !" />
                         </MudItem>
                         <MudItem xs="6">
                             <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Label="Select Type" @bind-Value="EditModel.TruckTypeID" OffsetY="true" AdornmentColor="Color.Secondary">
                                 @foreach (var item in TruckTypes)
                                {
                                    <MudSelectItem Value="@item.TruckTypeID">@item.TruckType (@item.BSType)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Label="Select Body Type" @bind-Value="EditModel.BodyType" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.BodyTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="EditModel.EngineNumber" Label="Engine Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => EditModel.EngineNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="EditModel.ChassisNumber" Label="Chassis Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => EditModel.ChassisNumber)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Margin="Margin.Dense" Label="Select Fuel Type" @bind-Value="EditModel.FuelType" OffsetY="true" Variant="Variant.Outlined" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.FuelTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="EditModel.FuelTankCapacity" Label="FuelTank Capacity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => EditModel.FuelTankCapacity)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudDatePicker Margin="Margin.Dense" Variant="Variant.Outlined" Label="Purchase Date" DisableToolbar="true" Editable="true" @bind-Date="EditModel.PurchaseDate" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField @bind-Value="EditModel.ManufacturedYear" Label="Manufactured Year" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => EditModel.ManufacturedYear)"></MudTextField>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Margin="Margin.Dense" Variant="Variant.Outlined" Class="mt-1" Label="Select Transmission Type" @bind-Value="EditModel.TransmissionType" OffsetY="true" AdornmentColor="Color.Secondary">
                                @foreach (var item in data.TransmissionTypes)
                                {
                                    <MudSelectItem Value="@item">@item</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <AssetSelector Class="dropstyle mt-1" Label="Link Asset" Value="SelectedAsset" PassedListAssets="PassedListAssets" ValueChanged="AssetSelected" BranchID="EditModel.HomeBranchID??0" SubClassID="AssetSubClassID" ClearOnSelect="true">
                            </AssetSelector>
                        </MudItem>
                    </MudGrid>
                    <ObjectGraphDataAnnotationsValidator />
                    <ValidationSummary />
                </EditForm>
            </MudContainer>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="truckForm" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save Truck</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public TruckModel EditModel { get; set; } = new();
    private List<TruckTypeModel> TruckTypes = new List<TruckTypeModel>();
    private List<BranchModel> Branches = new List<BranchModel>();
    public AssetModel SelectedAsset { get; set; } = new();
    int? AssetSubClassID;
    int BranchID;
    string UserID;
    public List<AssetModel> PassedListAssets = new();
    private bool _busy;

    public bool HasPermissionITruckServiceEdit { get; set; } = false;
    public int DocTypeID = 37;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionITruckServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        UserID = User.Identity.Name;
        if (EditModel.HomeBranchID == null)
        {
            EditModel.HomeBranchID = BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        }
        ConfigModel cModel = config.GetAssetSubclassForTrucks();
        AssetSubClassID = int.Parse(cModel.ValueString);
        TruckTypes = Itrucktype.Select(0).ToList();
        Branches = Ibranch.Select().ToList();
        if ((EditModel.AssetID ?? 0) != 0)
        {
            SelectedAsset = Iasset.SelectByID(EditModel.AssetID);
        }
        else
        {
            SelectedAsset = null;
        }
        int selectesAssetId = SelectedAsset?.AssetID ?? 0;
        PassedListAssets = Iasset.SelectLinkedAssetsOnTruck().Where(s => s.AssetID != selectesAssetId).ToList();
    }

    private void AssetSelected(AssetModel asset)
    {
        SelectedAsset = asset;
        EditModel.AssetID = asset?.AssetID;
    }

    private async void OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        if (HasPermissionITruckServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            EditModel.UserInfo.UserID = user.Identity.Name;
            if (SelectedAsset == null || SelectedAsset.AssetID == 0)
            {
                snackbar.Add("Please select Link Asset.", Severity.Error);
                return;
            }
            _busy = true;
            EditModel.AssetID = SelectedAsset.AssetID;
            try
            {
                EditModel = Iservice.Update(EditModel);
                snackbar.Add("Saved Successfully", Severity.Success);
                MudDialog.Close(EditModel);
                EditModel = new TruckModel();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
            await Task.Delay(2000);
            _busy = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit Truck.");
        }
    }

    void Cancel()
    {
        EditModel = new();
        MudDialog.Cancel();
    }
}