@page "/branch"
@layout AdminMainLayout
@inject IBranchService Iservice
@inject IPlaceService Iplace
@inject IOrderService Iorder
@inject IAddressService Iaddress
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12" md="12">
        @if (isLoaded)
        {
        <MudTable Items="@collection" Dense="true" Elevation="10" Filter="new Func<BranchModel, bool>(search)" >
            <ToolBarContent>
                <MudText Typo="Typo.h6">Branches</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(() => Edit(new BranchModel()))"  Color="Color.Dark" Size="Size.Small"></MudIconButton>
                
                <MudSpacer></MudSpacer>

                <MudTextField @bind-Value="searchBranch" Placeholder="Search Branchs... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.BranchID)" InitialDirection="SortDirection.Ascending">ID</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.BranchName)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Address.Place)" InitialDirection="SortDirection.Ascending">Place</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Operate)" InitialDirection="SortDirection.Ascending">Operate</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.Active)" InitialDirection="SortDirection.Ascending">Active</MudTableSortLabel></MudTh>
                 <MudTh><MudTableSortLabel SortBy="new Func<BranchModel, object>(x => x.GstNo)" InitialDirection="SortDirection.Ascending">GST No</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Branch">@context.BranchID</MudTd>
                <MudTd DataLabel="Tan">@context.BranchName</MudTd>
                <MudTd DataLabel="Phone">@context.Address.Place</MudTd>
                <MudTd DataLabel="Place">@context.Operate</MudTd>
                <MudTd DataLabel="Pin">@context.Active</MudTd>
                  <MudTd DataLabel="GSTNo">@context.GstNo</MudTd>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(() => openOrders(context.BranchID))" Color="Color.Primary" Icon="@Icons.Material.Filled.AddBox" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(() => Edit(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />

                    <MudFab @onclick="@(() => Delete(context.BranchID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
        }
        else
                    {
                        <h1>Loading.........</h1>
                    }
    </MudItem>

    <MudDialog @bind-IsVisible="visibleOrders" DisableSidePadding="true">
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> @collection.Find(x=> x.BranchID == ClickedBranchID).BranchName Orders
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudContainer Style="height: 300px; overflow-y: auto">
                @if (ClickedBranchID!= 0)
                {
                    <MudTable Items="@AssignedOrders">
                        <RowTemplate>
                            <MudTd DataLabel="Order Name">
                                <MudText Typo="Typo.h6">
                                    @context.OrderName
                                    <MudFab Class="float-right" @onclick="@(() => removeOrder(context.OrderID))" Color="Color.Dark" Icon="@Icons.Material.Filled.Remove" Size="Size.Small" IconSize="Size.Small" />
                                </MudText>
                                
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                    <MudItem>
                        <MudAutocomplete T="OrderModel" Label="Order" Value="OrderAssigned" ResetValueOnEmptyText="true"
                                         SearchFunc="@SearchOrders" ToStringFunc="@(e => e == null ? null : $"{e.OrderName}")"
                                         ValueChanged="addOrder"></MudAutocomplete>
                    </MudItem>

                }
            </MudContainer>
        </DialogContent>
    </MudDialog>

</MudGrid>
@code {

    private BranchModel model = new BranchModel() { Address = new AddressModel() { AddresseeName = "temp", Place = "temp" } };
    private List<BranchModel> collection = new List<BranchModel>();

    private List<OrderModel> AssignedOrders = new List<OrderModel>();
    private List<OrderModel> Orders = new List<OrderModel>();

    private OrderModel OrderAssigned { get; set; }

    private string searchBranch = "";
    private bool visibleOrders;
    private int? ClickedBranchID;

    private bool isLoaded = false;



    protected override async Task OnInitializedAsync()
    {       
        GetAll();
    }

    private async Task openOrders(int? BranchID)
    {
        ClickedBranchID = BranchID;
        await refreshOrders();
        visibleOrders = true;
    }



    private async Task<IEnumerable<OrderModel>> SearchOrders(string searchString)
    {
        return await Task.FromResult(
            Orders.Where(x => x.OrderName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase))
             .Where(x => AssignedOrders.All(y => y.OrderID != x.OrderID)));
    }



    private void GetAll()
    {
        collection = Iservice.Select().ToList();       
        isLoaded = true;
    }





    private async Task Edit(BranchModel model)
    {
        if (model.BranchID != null)
        {            
            model.Address = Iaddress.SelectByID(model.AddressID);
            model.Place = await Iplace.SelectByID(model.PlaceID);            
        }
        DialogParameters parms = new DialogParameters();
        parms.Add("model",model);        
        var dialog = DialogService.Show<BranchDialog>("Add/Edit Branch",parms);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            BranchModel UpdatedModel = (BranchModel)result.Data;
            var authState = await auth.GetAuthenticationStateAsync();

            UpdatedModel.UserInfo.UserID = authState.User.Identity.Name;
            await Iservice.Update(UpdatedModel);
            GetAll();
        }
    }

    private async Task refreshOrders()
    {
        AssignedOrders = new List<OrderModel>();
        Orders = new List<OrderModel>();
        await foreach (var item in Iorder.SelectByBranch(ClickedBranchID))
        {
            AssignedOrders.Add(item);
        }
        await foreach (var item in Iorder.Select(0))
        {
            if (!AssignedOrders.Contains(item))
                Orders.Add(item);
        }
    }

    private async void Delete(int? id)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        await Iservice.Delete(id, authprov.User.Identity.Name);
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll();
    }

    private async Task addOrder(OrderModel obj)
    {
        OrderAssigned = obj;
        if (OrderAssigned?.OrderID > 0)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            int result = await Iorder.BranchOrderUpdate(ClickedBranchID, OrderAssigned.OrderID, authprov.User.Identity.Name, "Update");
            await refreshOrders();
            OrderAssigned = new OrderModel();
        }
    }

    private async Task removeOrder(int? OrderID)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        int result = await Iorder.BranchOrderUpdate(ClickedBranchID, OrderID, authprov.User.Identity.Name, "Delete");
        await refreshOrders();
    }

    private bool search(BranchModel model)
    {
        if (model.BranchName != null && model.BranchName.Contains(searchBranch, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }
}



