@inject IBranchService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IChartOfAccountService accountService
@inject IConfiguration configuration
@using Microsoft.Extensions.Configuration
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>

    <DialogContent>
        <MudContainer Style="min-height: 450px;max-height: 450px; overflow-y: scroll">
            <MudGrid>

                <MudItem xs="4" lg="4">
                    <MudPaper Width="100%" Class="p-2">
                        <MudList Clickable="true" SelectedItem="SelectedItem" SelectedItemChanged="SelectedItemChanged">
                            <MudText Typo="Typo.h6">
                                Branch Contact List
                                <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogGroup(model))" Color="Color.Dark" Size="Size.Small"></MudIconButton>

                            </MudText>



                            @if (listOfItems?.Any() == true)
                            {
                                @foreach (var item in listOfItems)
                                {
                                    <ContextMenuTrigger MenuId="myMenu" Data="@item">

                                        <MudListItem Value="item">
                                            <MudText Typo=Typo.subtitle1> @item.ContactName.ToString() </MudText>

                                        </MudListItem>
                                    </ContextMenuTrigger>





                                }
                                <ContextMenu Id="myMenu" OnAppearing="OnAppearing">
                                    @*   <Item OnClick="@ContextMenuOnClickadd"  Id="addItem" >Add Items</Item>*@
                                    <Item OnClick="@ContextMenuOnClickedit" Id="editGroup">Edit Group</Item>
                                </ContextMenu>
                            }

                        </MudList>
                    </MudPaper>

                </MudItem>


                @if (@value == true)
                {

                    <MudItem xs="8" lg="8">
                        <MudPaper>
                            <MudContainer>
                                <h4>@titleValue</h4>
                                <br />
                                <MudGrid Spacing="4">

                                    <MudItem xs="12" lg="12">
                                        <MudTextField @bind-Value="model.ContactName" Label="ContactName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ContactName)"></MudTextField>

                                    </MudItem>
                                    <MudItem xs="12" md="12">
                                        <MudTextField @bind-Value="model.AdditionalInfo" Label="AdditionalInfo" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AdditionalInfo)"></MudTextField>

                                    </MudItem>
                                    <MudItem xs="12" md="12">
                                        <MudTextField @bind-Value="model.Phone" Label="Phone" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Phone)"></MudTextField>

                                    </MudItem>
                                    <MudItem xs="12" md="12">
                                        <MudTextField @bind-Value="model.Email" Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Email)"></MudTextField>

                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                    </MudItem> <MudItem xs="12" md="6">
                                        <MudButton @onclick="CancelContact" Variant="Variant.Filled" Color="Color.Warning">Cancel</MudButton>

                                        <MudButton @onclick="CreateContact" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>

                                    </MudItem>
                                </MudGrid>
                            </MudContainer>

                        </MudPaper>
                    </MudItem>
                }


            </MudGrid>


        </MudContainer>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public int? branchID { get; set; }
    ContactModel model = new ContactModel();
    private MudListItem SelectedItem;
    private List<ContactModel> listOfItems = new();
    ContactModel SelectedModel = new();
    public bool value = false;
    public string titleValue = null;
    private List<ContactModel> collection = new List<ContactModel>();

    
    protected override async Task OnInitializedAsync()
    {
        GetAll();

    }
    protected async Task SelectedItemChanged(object obj)
    {
        SelectedItem = (MudListItem)obj;
        SelectedModel = (ContactModel)SelectedItem.Value;

    }
    private void GetAll()
    {
        listOfItems = Iservice.GetContacts(branchID).ToList();
    }
    public async Task CancelContact()
    {
        value = false;
        model = new();

    }
    public async Task CreateContact()
    {

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        model.RefTable = "Branch";
        Iservice.AddContact(branchID, model);
        snackbar.Add("Successfully Submitted", Severity.Success);
        GetAll();
        value = false;
    }
    void OnAppearing(MenuAppearingEventArgs e)
    {
        //TreeItemData item = (TreeItemData)e.Data;
        // e.PreventShow = !item.HasChildren;
    }

    private void OpenDialogGroup(ContactModel ig)
    {
        value = true;
        model = new();

        titleValue = "Add Contacts";
    }

    protected void ContextMenuOnClickedit(ItemClickEventArgs e)
    {
        model = (ContactModel)e.Data;

        value = true;
        titleValue = "Edit Contacts";


    }

}
