@inject IPartyService Iservice
@inject IContactService Icontact
@inject IVendorPostingGroupService vendorService
@inject IRenterPostingGroupService renterService
@inject ICustomerPostingGroupService customerService
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIservice
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager nav
    


<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
           Tax Purchase
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">   
                      <MudItem xs="12" md="12">
                     <MudRadioGroup @bind-SelectedOption="model.NatureOfBusiness">
                        <MudRadio Option="@("Supplier")" Color="Color.Primary">Supplier</MudRadio>
                        <MudRadio Option="@("Customer")" Color="Color.Primary">Customer</MudRadio>
                        <MudRadio Option="@("Renter")" Color="Color.Primary">Renter</MudRadio>
                       
                    </MudRadioGroup>

                    </MudItem>
                      <MudItem xs="12" md="12">
                          <h6>General Details</h6>
                    <MudPaper  Outlined="true">
                        <MudContainer><br />
                          <MudGrid Spacing="2">   
                        <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.PartyCode" Label="PartyCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PartyCode)"></MudTextField>

                     </MudItem>
                      <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.TradeName" Label="TradeName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TradeName)"></MudTextField>

                     </MudItem>
                        <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.RegName" Label="RegName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.RegName)"></MudTextField>

                     </MudItem>
                      <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.AssesseeType" Label="AssesseeType" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AssesseeType)"></MudTextField>

                     </MudItem>
                       <MudItem xs="12" md="6">
           
          <MudCheckBox @bind-Checked="model.PanAvailable" Color="Color.Primary"   Dense="true" >Is PanAvailable</MudCheckBox>
        
      </MudItem>
     
              @if (model.PanAvailable==true)
              {
            <MudItem xs="12" md="6">
                   <MudTextField  @bind-Value="model.PAN"  Label="PAN No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.PAN)"/>

           </MudItem> 
              }
                    </MudGrid>
                    </MudContainer>
                    </MudPaper>
                     </MudItem>
                     <MudItem xs="12" md="12">
                          <h6>GST Informations</h6>
                    <MudPaper  Outlined="true">
                         <MudContainer><br />
                       <MudGrid>
                             <MudItem xs="12" md="6">
          <MudCheckBox @bind-Checked="model.TdsApplicable" Color="Color.Primary"   Dense="true" >Is TdsApplicable</MudCheckBox>
          </MudItem> <MudItem xs="12" md="6">
            <MudSelect Label="Select Gst Type" @bind-Value="model.GstType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in GstType)
                            {
                                <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                            }
                        </MudSelect></MudItem>
                        @if(model.GstType=="Registered")
                                {
                                <MudItem xs="12" md="6">
                                <MudSelect Label="Select Gst Registration Type" @bind-Value="model.GstRegType" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                    @foreach (var ditem in GstRegType)
                                    {
                                        <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                                    }
                                </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="6">
                                <MudTextField  @bind-Value="model.GstNo"  Label="GST No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.GstNo)"/>

                                </MudItem>
                                    
                                }
                          <MudItem xs="12" md="6">
                         <MudTextField  @bind-Value="model.TanNo"  Label="Tan No" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TanNo)" />
                         </MudItem>

                    </MudGrid>
                    </MudContainer>
                    </MudPaper></MudItem>
                     <MudItem xs="12" md="12">
                     <h6>Payment Informations</h6>
                    <MudPaper  Outlined="true">
                         <MudContainer><br />
                     <MudGrid>
                          <MudItem xs="12" md="6">
                         <MudTextField  @bind-Value="model.CreditPeriod"  Label="CreditPeriod(In Days)" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.CreditPeriod)" />
                         </MudItem>
                          <MudItem xs="12" md="6">
                         <MudTextField  @bind-Value="model.CreditLimit"  Label="CreditLimit" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.CreditLimit)"/>
                         </MudItem>
                         <MudItem xs="12" md="6">
                              <MudRadioGroup @bind-SelectedOption="model.PaymentMode">
                        <MudRadio Option="@("Cash")" Color="Color.Secondary" Dense="true">Cash</MudRadio>
                        <MudRadio Option="@("Bank")" Color="Color.Secondary" Dense="true">Bank</MudRadio>
                        
                       
                        </MudRadioGroup>
                         </MudItem>
                           <MudItem xs="12" md="6">
                               @if(model.NatureOfBusiness=="Supplier")
                                    {
                                     <MudSelect Label="Select Supplier" @bind-Value="model.VendorPostingGroup" T="VendorPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                        @foreach (var ditem in VendorList)
                                        {
                                            <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                        }
                                    </MudSelect>
                                    }
                                @if(model.NatureOfBusiness=="Customer")
                                    {
                                     <MudSelect Label="Select Customer" @bind-Value="model.CustomerPostingGroup" T="CustomerPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                        @foreach (var ditem in CustomerList)
                                        {
                                            <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                        }
                                    </MudSelect>
                                    }
                                     @if(model.NatureOfBusiness=="Renter")
                                    {
                                     <MudSelect Label="Select Renter" @bind-Value="model.RenterPostingGroup" T="RenterPostingGroupModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.Title}")">
                                        @foreach (var ditem in RenterList)
                                        {
                                            <MudSelectItem Value="@ditem">@ditem.Title</MudSelectItem>
                                        }
                                    </MudSelect>
                                    }
                           </MudItem>
                            <MudItem xs="12" md="6">
           
                         <MudCheckBox @bind-Checked="model.InterCompany" Color="Color.Primary"   Dense="true" >Is InterCompany</MudCheckBox>
        
                      </MudItem>
                     
                              @if (model.InterCompany==true)
                              {
                                <MudItem xs="12" md="6">
                                   <MudTextField  @bind-Value="model.IcPartnerCode"  Label="IcPartnerCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.IcPartnerCode)" />

                             </MudItem>  
                              }
                            
                     </MudGrid>
                     </MudContainer>
                     </MudPaper>
                     </MudItem>

                    <MudItem xs="12" md="12">
                     <h6>Address Informations</h6>
                    <MudPaper  Outlined="true">
                         <MudContainer><br />
                      <MudGrid>
             <br />
               <MudItem xs="12" md="6">
                  <MudTextField  @bind-Value="model.Address.AddresseeName"  Label="AddresseeName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.AddresseeName)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.Address.Building"  Label="Building" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Building)"/>

        </MudItem>
         <MudItem xs="12" md="6">
         <MudTextField  @bind-Value="model.Address.Street"  Label="Street" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Street)"/>

        </MudItem>
        <MudItem xs="12" md="6">
          <MudTextField  @bind-Value="model.Address.Place"  Label="Place" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.Place)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.Address.City"  Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.City)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.Address.PinCode"  Label="PinCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Address.PinCode)"/>

        </MudItem>
        
        </MudGrid>

                     </MudContainer>
                     </MudPaper>
                     </MudItem>


                       <MudItem xs="12" md="12">
                     <h6>BankAccount Informations</h6>
                    <MudPaper  Outlined="true">
                         <MudContainer><br />
                    
                <MudGrid>
             <br />
               <MudItem xs="12" md="6">
                  <MudTextField  @bind-Value="model.BankAccount.BeneficiaryName"  Label="BeneficiaryName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BeneficiaryName)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccount.AccountNumber"  Label="Account Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.AccountNumber)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccount.IfscCode"  Label="Ifsc Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.IfscCode)"/>

        </MudItem>
        <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="model.BankAccount.MicrCode"  Label="Micr Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.MicrCode)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccount.SwiftCode"  Label="Swift Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.SwiftCode)"/>

        </MudItem>
         <MudItem xs="12" md="6">
            <MudTextField  @bind-Value="model.BankAccount.BankTitle"  Label="Bank Name" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BankTitle)"/>

        </MudItem>
        <MudItem xs="12" md="6">
           <MudTextField  @bind-Value="model.BankAccount.BankBranch"  Label="Bank Branch" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BankAccount.BankBranch)"/>

        </MudItem>
        
      <br />
      </MudGrid>

                     </MudContainer>
                     </MudPaper>
                     </MudItem>


                       <MudItem xs="12" md="12">
                     <h6>Contact Informations</h6>
                    <MudPaper  Outlined="true">
                         <MudContainer><br />
                            <MudGrid>

                         <MudItem xs="12" md="12">
                           <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                             
                                <tr>

                                 
                                 
                                    <th>Name</th>
                                    <th>AdditionalInfo</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                   
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Contactlist)
                                {
                                    <tr>
                                   
                                        <td>@item.ContactName</td>
                                      
                                        <td>@item.AdditionalInfo</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                       
                                        <td>
                                          
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteContact(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                           
                                        </td>
                                        
                                    </tr>
                                }
                                
                                  <tr>
                                    
                                        
                                       
                                        <td>
                                            <MudTextField Label="ContactName" @bind-Value="contactModel.ContactName"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.ContactName)"></MudTextField>

                                        </td>
                                       <td>
                                            <MudTextField Label="AdditionalInfo" @bind-Value="contactModel.AdditionalInfo"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.AdditionalInfo)"></MudTextField>

                                        </td>
                                   
                                        <td>
                                            <MudTextField Label="Phone" @bind-Value="contactModel.Phone"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.Phone)"></MudTextField>

                                        </td>
                                        
                                          <td>
                                            <MudTextField Label="Email" @bind-Value="contactModel.Email"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => contactModel.Email)"></MudTextField>

                                        </td>
                                         
                                        <td>
                                           
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                               
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>



                            </MudGrid>
                        </MudContainer>
                     </MudPaper>
                     </MudItem>

                </MudGrid>

            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
     
            @* <MudButton OnClick="Cancel">Cancel</MudButton>*@
            <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
                    
    </DialogActions>
</MudDialog>


    

@code {


    [Parameter]
    public PartyModel model { get; set; }
    private List<VendorPostingGroupModel> VendorList = new();
    private List<CustomerPostingGroupModel> CustomerList = new();
    private List<RenterPostingGroupModel> RenterList = new();
    private List<ContactModel> Contactlist = new();
    private ContactModel contactModel = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private async Task OnValidSubmit(EditContext context)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        model.Contacts = Contactlist;
        try
        {

            Iservice.Update(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);
           

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
        MudDialog.Close();
    }


    private List<string> GstType = new List<string>() { "Registered", "UnRegistered", "Export","Deemed Export","Exempted","SEZ" };
    private List<string> GstRegType = new List<string>() { "GSTIN", "UID", "GID" };

   

    protected override async Task OnInitializedAsync()
    { 
        VendorList = vendorService.Select().ToList();
        CustomerList = customerService.Select().ToList();
        RenterList = renterService.Select().ToList();
        if(model.NatureOfBusiness==null)
        {
            model.NatureOfBusiness = "Supplier";
            model.PanAvailable = false;
        }
    }
    public void DeleteContact(ContactModel cm)
    {
        int rowIndex = Contactlist.IndexOf(cm);
        Contactlist.RemoveAt(rowIndex);
    }
    public void AddItems()
    {
        contactModel.RefTable = "Party";
        Contactlist.Add(contactModel);
        contactModel = new();
    }

   



}
