@inject AuthenticationStateProvider auth
@inject IInventoryReleaseService inventoryReleaseService
@inject IBranchService branchservice
@inject IInventoryItemService itemIservice
@inject IGstItemService Igst
@inject IStockTransferService IService

@inject MudBlazor.ISnackbar snackbar
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

@using ArmsServices.DataServices.Finance.Transactions;
@using Core.BaseModels.Inventory;
@using Views.Pages.Finance.Transactions
@using System.Threading;




<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Initiate Stock Transfer" formID="stockTransferForm" model="@InitiationModel" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="stockTransferForm" Model="@InitiationModel" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12" Class="d-flex">
                        <MudCheckBox ReadOnly Checked="@InitiationModel.IsLocal" Label="Local" />
                        <MudCheckBox ReadOnly Checked="@InitiationModel.IsTaxable" Label="Taxable" />
                    </MudItem>
                    <MudItem xs="12" md="5">
                        <StoreSelector IsDisabled="@(ReadOnly)" @bind-Value="@InitiationModel.Store" BranchID="@branchID.Value"></StoreSelector>
                        <MudText Typo="Typo.caption">@HomeGst</MudText>
                    </MudItem>
                    <MudItem xs="12" md="2">
                        <Center>
                            <MudIcon Style="margin-top:10px" Icon="@Icons.Material.Filled.East"></MudIcon>
                        </Center>
                    </MudItem>
                    <MudItem xs="12" md="5">
                        <BranchSelector LabelName="Destination Branch" ValueChanged="@BranchSelected" Value="@SelectedBranch"></BranchSelector>
                        <MudText Typo="Typo.caption">@TargetGst</MudText>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <CostCenterSelector @bind-Value="InitiationModel.CostCenter" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <DimensionSelector @bind-Value="InitiationModel.Dimension" ReadOnly="@ReadOnly" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="@InitiationModel.Narration" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="ReadOnly"></MudTextField>
                    </MudItem>
                    <br />
                    <MudItem xs="12" md="12">

                        <MudSimpleTable Elevation="1" Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th colspan="2">Items</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Tax %</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in InitiationModel.ItemsList)
                                {
                                    <tr>
                                        <td colspan="2">@item.ItemDescription</td>
                                        <td>@item.ItemQty</td>
                                        <td>@item.ItemRate</td>
                                        <td>
                                            <MudText hidden="@(!InitiationModel.IsTaxable)"> @item.ItemGstVal</MudText>
                                        </td>
                                        <td>
                                            <MudFab hidden="@ReadOnly" Color="Color.Error" @onclick="@(()=> Delete(item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                        </td>
                                    </tr>
                                }
                                @if (!ReadOnly)
                                {
                                    <tr>
                                        <td colspan="2">
                                            <InventoryItemSelector Value="SelectedItem" ValueChanged="@((InventoryItemModel newValue) => ItemSelected(newValue))" />
                                        </td>
                                        <td><MudTextField @bind-Value="ItemsModel.ItemQty" Label="Quatity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => ItemsModel.ItemQty)"></MudTextField></td>
                                        <td colspan="2"><MudTextField @bind-Value="ItemsModel.ItemRate" Label="Rate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => ItemsModel.ItemRate)"></MudTextField></td>
                                        <td><MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" /></td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocDate="@InitiationModel.DocumentDate" DocType="@DocType" DocNumber="@InitiationModel.DocumentNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="InitiationModel.StockTransferID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>

</DialogForm>



@code {

    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public StockTransferInitiationModel InitiationModel { get; set; } = new();

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }


    DialogForm dialogForm;
    bool _busy;

    InventoryItemEntryModel ItemsModel { get; set; } = new();
    int? branchID; string UserID;

    BranchModel SelectedBranch;    
    List<InventoryItemEntryModel> EnteredItems = new();
    InventoryItemModel SelectedItem = new();

    bool HasPermissionStockTransferServiceEdit = false,
         HasPermissionStockTransferServiceAccept = false;
    int DocTypeID = 66;
    string DocType;
    string PageToRedirectLink;
    string HomeGst, TargetGst;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionStockTransferServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionStockTransferServiceAccept = await Irole.HasClaim(DocTypeID.ToString(), "Accept", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = authprov.User.Identity.Name;
        HomeGst = branchservice.GetGstNo(branchID);

        if (InitiationModel.StockTransferID != null)
        {
            InitiationModel.ItemsList = IService.SelectItemsList(InitiationModel?.InvTranID).ToList();
            SelectedBranch = branchservice.SelectByID(InitiationModel.OtherBranchID);
            InitiationModel.TotalAmount = GetTotal();
        }
        else
        {
            InitiationModel.NatureOfTransaction = "StockTransferOut";
            InitiationModel.BranchID = branchID;
        }
    }    

    void BranchSelected(BranchModel e)
    {
        SelectedBranch = e;
        InitiationModel.OtherBranchID = e?.BranchID;
        TargetGst = branchservice.GetGstNo(e?.BranchID);
        InitiationModel.IsLocal = HomeGst.Substring(0, 2) == TargetGst.Substring(0, 2);
        InitiationModel.IsTaxable = HomeGst != TargetGst;
        InitiationModel.TotalAmount = GetTotal();
    }

    public async Task OnValidSubmit()
    {
        if (InitiationModel.ItemsList == null)
        {
            snackbar.Add("Add at least one Entry before Submitting", Severity.Success);
            return;
        }
        else
        {
            if (_busy)
            {
                snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
                return;
            }
            _busy = true;

            InitiationModel.UserInfo.UserID = UserID;
            try
            {
                if (HasPermissionStockTransferServiceEdit)
                {
                    IService.Initiate(InitiationModel);
                    InitiationModel = new();
                    snackbar.Add("Saved Successfully", Severity.Success);
                    MudDialog.Close(InitiationModel);
                }
                else
                {
                    throw new Exception("You dont have any permission to Edit StockTransfer.");
                }
            }
            catch (Exception ex)
            {
                bool? result = await DialogService.ShowMessageBox(
                        "Permission denied!", ex.Message);
            }

            await Task.Delay(200);
            _busy = false;
        }
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        try
        {
            if (HasPermissionStockTransferServiceEdit)
            {
                if (aprvd.IsApprove)
                {
                    IService.Approve(InitiationModel.StockTransferID, UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
            }
            else
            {
                throw new Exception("You dont have any permission to Approve OpInventoryRelease.");
            }
        }
        catch (Exception ex)
        {
            bool? result = await DialogService.ShowMessageBox("Permission denied!", ex.Message);
        }
    }

    private void AddItems()
    {
        if (ItemsModel.ItemID == null || ItemsModel.ItemRate == null || ItemsModel.ItemQty == null)
        {
            snackbar.Add("Please fill in all Fields", Severity.Error);
            return;
        }
        ItemsModel.ItemGstVal = Igst.SelectByItem(ItemsModel.ItemID.Value, InitiationModel.DocumentDate).TaxRate;
        InitiationModel.ItemsList.Add(ItemsModel);
        InitiationModel.TotalAmount = GetTotal();
        ItemsModel = new();
        SelectedItem = null;
    }


    decimal? GetTotal()
    {
        var totamt = InitiationModel.ItemsList.Sum(s => (s.ItemQty * s.ItemRate));
        decimal? gstVal = 0;

        if(InitiationModel.IsTaxable)
        {
            gstVal = InitiationModel.ItemsList.Sum(s => (s.ItemQty * s.ItemRate) * (s.ItemGstVal / 100));
        }        
        return totamt + gstVal;
    }

    private void Delete(InventoryItemEntryModel i)
    {
        int rowIndex = InitiationModel.ItemsList.IndexOf(i);
        InitiationModel.ItemsList.RemoveAt(rowIndex);
        InitiationModel.TotalAmount = GetTotal();
    }

    private void CloseDialog()
    {
        MudDialog.Close();
    }

    protected void ItemSelected(InventoryItemModel item)
    {
        SelectedItem = item;
        ItemsModel.ItemID = item?.InventoryItemID;
        ItemsModel.ItemDescription = item?.ItemDescription;
    }
}