@page "/content"
@inject IContentService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService






        <div class="opthead"><h6>Content</h6></div>  
        <MudTable Items="@collection" Elevation="5" Filter="new Func<ContentModel, bool>(search)" @bind-place="model">
            <ToolBarContent>
              <MudTextField @bind-Value="searchContent" Placeholder="Search here"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh class="rowclas"><MudTableSortLabel SortBy="new Func<ContentModel, object>(x=> x.ContentName)" InitialDirection="SortDirection.Ascending">Content</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContentModel, object>(x=> x.PrimaryUnit)" InitialDirection="SortDirection.Ascending">Primary Unit</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContentModel, object>(x=> x.SecondaryUnit)" InitialDirection="SortDirection.Ascending">Secondary Unit</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContentModel, object>(x=> x.UnitRatio)" InitialDirection="SortDirection.Ascending">Unit Ratio</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
</HeaderContent>
            <RowTemplate >
                <MudTd DataLabel="Content">@context.ContentName</MudTd>
                <MudTd DataLabel="Primary Unit">@context.PrimaryUnit</MudTd>
                <MudTd DataLabel="Secondary Unit">@context.SecondaryUnit</MudTd>
                <MudTd DataLabel="Unit Ratio">@context.UnitRatio</MudTd>
                <MudTd DataLabel="">
                    <MudFab style="font-siz:5px" @onclick="@(()=> Edit(context.ContentID))" Color="Color.Primary" Icon="@Icons.Material.Outlined.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context.ContentID))" Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
  








@code {

    private ContentModel model = new ContentModel();
    private List<ContentModel> collection = new List<ContentModel>();
    public List<DistrictModel> districts = new List<DistrictModel>();

    private string searchContent = "";

    protected override async Task OnInitializedAsync()
    {       
        await GetAll();
    }   

    private async Task GetAll()
    {
        await foreach (var place in Iservice.Select(0))
        {
            collection.Add(place);
        }
    }

    private async void OnValidSubmit(EditContext context)
    {

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;

        try
        {
            model = await Iservice.Update(model);

            if (collection.Exists(x => x.ContentID == model.ContentID))
            {
                collection[collection.FindIndex(x => x.ContentID == model.ContentID)] = model;
            }
            else
            {
                collection.Add(model);
            }
            model = new ContentModel();
            snackbar.Add("Saved Successfully", Severity.Success);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Edit(int? id)
    {
        model = collection.FirstOrDefault(x => x.ContentID == id);
         DialogService.Show<Contentedit>("Edit");
    }
    private async void Delete(int? id)
    {
        await Iservice.Delete(id, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        await GetAll();
    }

    private bool search(ContentModel model)
    {
        if (model.ContentName != null && model.ContentName.Contains(searchContent, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }
}

