@page "/route"
@inject IRouteService Iservice
@inject IPlaceService Iplace
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService


<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;"><div style="float:left;padding-top:1%"><h6> Route</h6></div><div style="float:right;"><MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Add new Route
</MudButton></div>
<br />
<br />
</div>
<MudGrid Spacing="4">
  
    <MudItem xs="12" md="12">
        <MudTable Items="@collection" Elevation="10" Filter="new Func<RouteModel, bool>(search)" @bind-model="model">
            <ToolBarContent>
               
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchRoute" Placeholder="Search Routes... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<RouteModel, object>(x=> x.RouteName)" InitialDirection="SortDirection.Ascending">Route</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<RouteModel, object>(x=> x.Distance)" InitialDirection="SortDirection.Ascending">Distance</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<RouteModel, object>(x=> x.SpeedLimit)" InitialDirection="SortDirection.Ascending">Running Hours</MudTableSortLabel></MudTh>                
                <MudTh><MudTableSortLabel SortBy="new Func<RouteModel, object>(x=> x.RouteType)" InitialDirection="SortDirection.Ascending">Route Type</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<RouteModel, object>(x=> x.TollBooths)" InitialDirection="SortDirection.Ascending">No of Tollbooths</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Route">@context.RouteName</MudTd>
                <MudTd DataLabel="Distance">@context.Distance</MudTd>                
                <MudTd DataLabel="RunningHours">@context.RunningHours</MudTd>
                <MudTd DataLabel="RouteType">@context.RouteType</MudTd>
                <MudTd DataLabel="TollBooths">@context.TollBooths</MudTd>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> Edit(context.RouteID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context.RouteID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>



</MudGrid>
@code {

    private RouteModel model = new RouteModel();
    private List<RouteModel> collection = new List<RouteModel>();
    public List<PlaceModel> places = new List<PlaceModel>();

    private List<string> RouteTypes = new List<string>() { "Highland", "City", "Highway", "Other" };

    private string searchRoute = "";

    protected override async Task OnInitializedAsync()
    {
        places = Iplace.Select(0).ToList();
        await GetAll();
    }

    private async Task<IEnumerable<PlaceModel>> Search(string searchString)
    {
        return await Task.FromResult(places.Where(x => x.PlaceName.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    private async Task GetAll()
    {
        await foreach (var route in Iservice.Select(0))
        {
            collection.Add(route);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (!places.Select(x => x.PlaceName).Contains(model.Origin.PlaceName))
        {
            snackbar.Add("Invalid Origin", Severity.Error);
            return;
        }
        else
             if (!places.Select(x => x.PlaceName).Contains(model.Via.PlaceName))
        {
            snackbar.Add("Invalid Via", Severity.Error);
            return;
        }
        else
        if (!places.Select(x => x.PlaceName).Contains(model.Destination.PlaceName))
        {
            snackbar.Add("Invalid Destination", Severity.Error);
            return;
        }
        var authprov = await auth.GetAuthenticationStateAsync();
        model.UserInfo.UserID = authprov.User.Identity.Name;
        model.RouteName = model.Origin.PlaceName + "-" + model.Via.PlaceName + "-" + model.Destination.PlaceName;
        model.MieageModifier = 1;
        try
        {
            model = await Iservice.Update(model);
            snackbar.Add("Saved Successfully", Severity.Success);
            if (collection.Exists(x => x.RouteID == model.RouteID))
            {
                collection[collection.FindIndex(x => x.RouteID == model.RouteID)] = model;
            }
            else
            {
                collection.Add(model);
            }
            model = new RouteModel();
        }
        catch(Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }
    }

    private void Edit(int? id)
    {

        model = collection.FirstOrDefault(x => x.RouteID == id);
        model.Origin = places.FirstOrDefault(x => x.PlaceID == model.Origin.PlaceID);
        model.Via = places.FirstOrDefault(x => x.PlaceID == model.Via.PlaceID);
        model.Destination = places.FirstOrDefault(x => x.PlaceID == model.Destination.PlaceID);
        DialogParameters parms = new DialogParameters();
        parms.Add("routemodel",model);
        DialogService.Show<RouteDilog>("ADD ROUTE",parms);
        

    }
    private async void Delete(int? id)
    {
        await Iservice.Delete(id, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        await GetAll();
    }


    private bool search(RouteModel model)
    {
        if (model.RouteName != null && model.RouteName.Contains(searchRoute, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }
      private void OpenDialog()
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("routemodel", model);

        DialogService.Show<RouteDilog>("ADD ROUTE",parms);
    }
}


