@inject AuthenticationStateProvider auth
@inject IAssetService Iassetservice
@inject IAssetTransferService Iservice
@inject IAssetSettingsService Iassetsettingsservice
@inject IBranchService Ibranchservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IConfigTable config
@using System.Threading
@inject IRoleService<RoleModel> Irole
@using Views.Pages.Finance.Transactions

<style>
    .border {
        border: 10px solid black;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Asset Transfer Initiate
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll;">
            <EditForm id="AssetTransferForm" Model="@model" OnValidSubmit="Submit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    @*  <MudItem xs="12" md="6">
                        <AssetSelector Value="model.Asset" BranchID="BranchID" ValueChanged="AssetSelected" />
                    </MudItem> *@
                    <MudItem xs="12" md="6">
                        <GstMechanismSelector ReadOnly="@ReadOnly" page="Asset" @bind-Value="@model.GstMechanism"></GstMechanismSelector>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect ReadOnly="@ReadOnly" Label="Destination Branch" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="model.DestinationBranch.BranchID" T="int?" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter" AdornmentColor="Color.Secondary" Required>
                            @foreach (BranchModel ditem in DestinationBranchList)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.TransferInitiatedDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.Remarks" Label="Remarks" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (model.CheckList != null && model.CheckList.Any())
                        {
                            <MudText Typo="Typo.h6">Checklist</MudText>
                            <br />
                            <MudContainer>
                                <MudGrid class="border">
                                    @foreach (var item in model.CheckList)
                                    {
                                        <MudItem xs="6">
                                            <MudTextField ReadOnly="@ReadOnly" @bind-Value="item.SettingsDescription" Label="@item.SettingsName" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        }
                    </MudItem>
                    <MudItem xs="12" Class="d-flex">
                        <MudText Typo="Typo.h6">Transfer Images</MudText>
                        <MudSpacer />
                        <MyFileUpload @ref="Mfu" Resize="true" DeleteExistingFile="false" FileName="@Guid.NewGuid().ToString()" FolderName="AssetTransfer" Label="Upload Photos" FilePathChanged="FileUploaded"></MyFileUpload>
                    </MudItem>
                    <MudGrid Style="padding: 24px;" Spacing="2" Justify="Justify.Center">
                        @foreach (var imagePath in model?.ImagePath)
                        {
                            @if (imagePath != "")
                            {
                                <MudItem xs="12" md="6" Class="d-flex">
                                    <MudPaper Class="p-2 position-relative" Elevation="3">
                                        <img src="@imagePath" alt="@imagePath" class="w-100" />
                                        <MudFab Disabled="@ReadOnly" Style="width: 36px; height: 16px; margin-top: -20px; margin-left: -18px;" StartIcon="@Icons.Material.Rounded.Close" Color="Color.Error" Class="position-absolute top-0 end-0" OnClick="() => DeleteImage(imagePath)" />
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                    <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                        <div class="d-flex align-items-center mb-2">
                            <h6><u>Assets</u></h6>
                            <MudSpacer />
                            <MudButton OnClick="clearAllAssets" Variant="Variant.Outlined" Color="Color.Error" Disabled="@(ReadOnly || model.Items == null || !model.Items.Any())">Clear Assets</MudButton>
                        </div>
                        <div style="width: 1600px;" class="pb-3">
                            <MudGrid Justify="Justify.Center">
                                <MudItem xs="2" Class="d-flex align-items-center"><span class="HeadText"><b>Asset Name</b></span></MudItem>
                                <MudItem xs="2" Class="d-flex align-items-center"><span class="HeadText"><b>Status</b></span></MudItem>
                                <MudItem xs="1" Class="d-flex align-items-center"><span class="HeadText"><b>Book Value</b></span></MudItem>
                                <MudItem xs="2" Class="d-flex align-items-center"><span class="HeadText"><b>Taxable value</b></span></MudItem>
                                <MudItem xs="2" Class="d-flex align-items-center"><span class="HeadText"><b>Tax rate</b></span></MudItem>
                                <MudItem xs="2" Class="d-flex align-items-center"><span class="HeadText"><b>Tax value</b></span></MudItem>
                                <MudItem xs="1" Class="d-flex align-items-center">Actions</MudItem>

                                @foreach (var item in model.Items)
                                {
                                    <MudItem xs="2" Class="d-flex align-items-center">@item.Description</MudItem>
                                    <MudItem xs="2" Class="d-flex align-items-center">@item.AssetStatus</MudItem>
                                    <MudItem xs="1" Class="d-flex align-items-center">@item.BookValue</MudItem>

                                    <MudItem xs="2" Class="d-flex align-items-center">
                                        <MudTextField ReadOnly="@ReadOnly" Disabled="@(item.BookValue == null)" @bind-Value="@item.TaxableValue"
                                                      @onblur="@((e) => UpdateTaxValue(item))" Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100" />
                                    </MudItem>

                                    <MudItem xs="2" Class="d-flex align-items-center">
                                        <MudTextField ReadOnly="@ReadOnly" Disabled="@(item.BookValue == null)" @bind-Value="@item.TaxRate"
                                                      @onblur="@((e) => UpdateTaxValue(item))" Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100" />
                                    </MudItem>

                                    <MudItem xs="2" Class="d-flex align-items-center">
                                        <MudTextField ReadOnly="@ReadOnly" Disabled="@(item.BookValue == null)" @bind-Value="@item.TaxValue"
                                                      Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100" />
                                    </MudItem>

                                    <MudItem xs="1" Class="d-flex align-items-center">
                                        <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(() => Delete(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                    </MudItem>
                                }

                                <MudItem xs="4" Class="d-flex align-items-center">
                                    <AssetSelector Value="model.Asset" BranchID="BranchID" ValueChanged="AssetSelected" />
                                </MudItem>
                                <MudItem xs="1" Class="d-flex align-items-center">
                                    @if(!ReadOnly)
                                    {
                                       <MudIconButton Title="Add" Color="Color.Primary" @onclick="Add" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                                    }
                                </MudItem>
                                <MudItem xs="7" />
                            </MudGrid>
                        </div>
                    </MudItem>
                </MudGrid>
            </EditForm>
            @if (ReadOnly)
            {
                <AutherizationStatusComponent DocTypeID="@AssetTransferDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" DocumentID="model.AssetTransferID" CreatedBy="@model.UserInfo" OnApprove="Approve"></AutherizationStatusComponent>
            }
            <MudContainer Class="dialogInset">
                @if (ReadOnly)
                {
                    @if (model.MID != null)
                    {
                        <AccountInfoDialog MID="@model.MID"></AccountInfoDialog>
                    }
                }
            </MudContainer>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudText Align="Align.Start" Class="pl-3">Total : <b>@TotalValue</b></MudText>
        <MudSpacer></MudSpacer>

        @if (ReadOnly)
        {
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>
            </div>
        }
        else
        {
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton Disabled="@_busy" form="AssetTransferForm" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="px-12">Submit</MudButton>
            </div>
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
            </div>
        }
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; }
    [Parameter]
    public AssetTransferInitiationModel model { get; set; } = new();
    [Parameter]
    public bool ReadOnly { get; set; }
    public int? SubClassID { get; set; } = new();
    public int? TruckID { get; set; } = new();
    int? AssetTrucksSubClassID;
    private List<BranchModel> DestinationBranchList = new();
    [Parameter]
    public List<AssetModel> ChildAssets { get; set; } = new();
    private int BranchID { get; set; } = 0;
    private bool _busy;
    MyFileUpload Mfu;

    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }

    public decimal TotalValue => model.Items.Sum(item => (item.BookValue ?? 0) + (item.TaxValue ?? 0));

    public bool HasPermissionAssetTransferServiceEdit { get; set; } = false;
    public bool HasPermissionAssetTransferServiceApprove { get; set; } = false;
    public int AssetTransferDocTypeID = 110;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetTransferServiceEdit = await Irole.HasClaim(AssetTransferDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionAssetTransferServiceApprove = await Irole.HasClaim(AssetTransferDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        if (model.UserInfo == null)
        {
            model.UserInfo = new();
            model.UserInfo.UserID = User.Identity.Name;
        }
        if (model.InitiatedBranch == null)
        {
            model.InitiatedBranch = new();
            model.InitiatedBranch.BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        }
        if (model.DestinationBranch == null)
        {
            model.DestinationBranch = new();
        }
        if (model.Asset == null)
        {
            model.Asset = new();
        }
        BranchID = model?.InitiatedBranch?.BranchID ?? 0;

        // Load the checklist for the asset transfer
        if (model != null)
        {
            model.CheckList = Iservice.GetCheckList(model.AssetTransferID).ToList();
        }

        // Load the items for the asset transfer
        if (model != null && model.Asset != null)
        {
            model.Items = Iservice.GetAssets(model.AssetTransferID).ToList();
        }

        // Load the list of destination branches excluding the current branch
        DestinationBranchList = Ibranchservice.Select().Where(d => d.BranchID != BranchID).ToList();

        DocNumber = model.DocumentNumber;
        DocDate = model.TransferInitiatedDate;
        DocType = "Asset Transfer Initiate";
    }

    // Method to handle file uploads
    private void FileUploaded(string filePath)
    {
        model.ImagePath.Add(filePath);
    }

    private void UpdateTaxValue(AssetTransferItemModel item)
    {
        // Check if both TaxableValue and TaxRate are set
        if (item.TaxableValue.HasValue && item.TaxRate.HasValue)
        {
            // Calculate TaxValue
            item.TaxValue = (item.TaxableValue.Value) / 100 * item.TaxRate.Value;
        }
        else
        {
            // If either value is null, set TaxValue to 0
            item.TaxValue = 0;
        }
    }

    private async Task Delete(AssetTransferItemModel i)
    {
        int rowIndex = model.Items.IndexOf(i);
        model.Items.RemoveAt(rowIndex);
    }

    // Method to delete an uploaded image
    private async Task DeleteImage(string imagePath)
    {
        if (HasPermissionAssetTransferServiceEdit)
        {
            try
            {
                var authState = await auth.GetAuthenticationStateAsync();
                AssetTransferInitiationModel Model = new();
                Model.AssetTransferID = model.AssetTransferID;
                Model.Images = imagePath.Normalize();
                Model.UserInfo.UserID = authState.User.Identity.Name;

                // Call the service to remove the photo
                int a = Iservice.RemovePhoto(Model);
                if (a == 1)
                {
                    if (Mfu.DeleteFile(imagePath)) // Delete the file from the file upload component
                    {
                        model.ImagePath.Remove(imagePath); // Delete the file from the file upload component
                    }
                    Snackbar.Add("Photo removed Successfully", Severity.Success);
                    return;
                }
                else
                {
                    Snackbar.Add("Photo not removed !", Severity.Error);
                    return;
                }
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit AssetTransfer.");
        }
    }

    // Method to cancel the dialog
    void Cancel()
    {
        MudDialog.Cancel();
    }

    // Method to submit the asset transfer
    public async Task Submit()
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionAssetTransferServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var User = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            if (model.Asset.AssetID == null)
            {
                bool? result = await DialogService.ShowMessageBox(
                "Warning",
                "Please, Select asset.", yesText: "OK");
                _busy = false;
                return;
            }

            if (model.Items == null || (model.Items != null && model.Items.Count() == 0))
            {
                Snackbar.Add("No assets found", Severity.Warning);
                _busy = false;
                return;
            }

            foreach (var item in model.Items)
            {
                if (item.AssetStatus != "Ready To Use")
                {
                    Snackbar.Add("Some asset status is not 'Ready To Use'", Severity.Warning);
                    _busy = false;
                    return;
                }

                if (string.IsNullOrWhiteSpace(item.TaxableValue?.ToString()) ||
                    string.IsNullOrWhiteSpace(item.TaxRate?.ToString()) ||
                    string.IsNullOrWhiteSpace(item.TaxValue?.ToString()))
                {
                    Snackbar.Add("All fields must be filled for all items.", Severity.Warning);
                    _busy = false;
                    return;
                }
            }

            if (model != null)
            {
                try
                {
                    model.InitiatedBranch.BranchID = int.Parse(brancIDString);
                    model.UserInfo.UserID = User.Identity.Name;
                    if (model.DestinationBranch.BranchID == null)
                    {
                        bool? result = await DialogService.ShowMessageBox(
                              "Warning",
                              "Select branch !.",
                              yesText: "OK");
                        _busy = false;
                        return;
                    }

                    _busy = true;
                    Iservice.UpdateOutgoing(model); // Update the status without truck ID
                    Snackbar.Add("Transferred successfully", Severity.Success);
                    MudDialog.Close(model);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit AssetTransfer.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to handle the selection of an asset
    private void AssetSelected(AssetModel obj)
    {
        model.Asset = obj;
    }

    private void Add()
    {

        var obj = model.Asset;

        // helper method to validate duplicate assets
        bool validateDuplicate(AssetModel asset)
        {
            if (model.Items.Any(i => i.AssetID == asset.AssetID))
                return false;
            return true;
        }

        // This method can be used to add additional assets if needed
        if (obj != null)
        {
            // Check if the asset is complex
            if (obj.IsComplex == false && validateDuplicate(obj))
            {
                // Add the selected asset to the model.Items
                model.Items.Add(new AssetTransferItemModel
                {
                    AssetID = obj.AssetID,
                    BookValue = obj.CurrentValue,
                    Description = obj.Description,
                    AssetStatus = obj.AssetStatus
                });
            }
            else if (obj.IsComplex == true)
            {
                // Retrieve attached assets and subclass ID for the selected asset
                ChildAssets = Iassetservice.GetAttachedAssets(obj?.AssetID).Where(x => x.IsComplex == false).ToList();
                SubClassID = Iassetservice.SelectByID(obj?.AssetID).SubClass.AssetSubClassID;
                model.CheckList = Iassetsettingsservice.GetSettings(SubClassID, null).ToList(); // Load checklist settings for the subclass

                // Add all child assets to the model.Items
                foreach (var childAsset in ChildAssets)
                {
                    if (validateDuplicate(childAsset))
                {
                        model.Items.Add(new AssetTransferItemModel
                        {
                            AssetID = childAsset.AssetID,
                            BookValue = childAsset.CurrentValue,
                            Description = childAsset.Description,
                            AssetStatus = childAsset.AssetStatus
                        });
                    }
                }
            }
        }
    }

    void clearAllAssets()
    {
        model.Items.Clear();
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        if (HasPermissionAssetTransferServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = User.Identity.Name;
                try
                {
                    Iservice.ApproveOutgoing(model.AssetTransferID.Value, model.UserInfo.UserID);
                    Snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Approve InventoryGrn.");
        }
    }
}

