@page "/AssetTransferView"
@using ArmsModels.BaseModels.General
@using ArmsServices.DataServices.General
@using Microsoft.AspNetCore.SignalR.Client;
@using Views.Data
@using Core.BaseModels.Finance.Transactions;
@inject IAssetService Iassetservice
@inject IAssetTransferService Iservice
@inject IPushNotificationService IpushNotificationService
@inject MudBlazor.ISnackbar snackbar
@inject IConfigTable config
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IBranchService Ibranchservice
@inject NavigationManager NavigationManager
@inject SignalRService signalRService
@using System.Threading;
@inject IRoleService<RoleModel> Irole

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="px-4 py-6">
            <MudTabPanel Style="min-width: 200px;" Text="Outgoing Asset" BadgeData="@(collectionOutGoing?.Count > 0 ? collectionOutGoing.Count : null)" BadgeColor="Color.Info" Visible="@(collectionOutGoing?.Count > 0)">
                <MudTable Items="@collectionOutGoing" Dense="true" Hover="true" Striped="true" Elevation="0">
                    <ToolBarContent>
                        @if (!IsOutApproved)
                        {
                            <MudText Typo="Typo.h6">Initiate Transfer</MudText>
                            <MudTooltip Text="New Asset Transfer">
                                <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" @onclick="@(()=> OpenDialogEditOutGoing(new AssetTransferInitiationModel(),false))" Title="Add" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                            </MudTooltip>
                        }
                        else
                        {
                            <MudText Typo="Typo.h6">Approved Transfer</MudText>
                        }
                        <MudSpacer></MudSpacer>
                        <MudTextField @bind-Value="searchTermOut" Placeholder="Search Journal..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUpOut">
                        </MudTextField>
                        <div class="tablefont">
                            <span style="margin-right: 10px;">Maximum Records: </span>
                        </div>
                        <MudItem xs="1">
                            <MudTextField @bind-Value="@NumberOfRecordsOut" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                        </MudItem>
                        <MudCheckBox Style="margin-right: 16px;" Label="Approved Transfers" CheckedChanged="((bool value)=>ApprovedToggledOut(value))" Checked="@IsOutApproved"></MudCheckBox>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.DestinationBranch)" InitialDirection="SortDirection.Descending">Destination Branch</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.TransferInitiatedDate)" InitialDirection="SortDirection.Descending">Initiated Date</MudTableSortLabel></MudTh>
                        @if (IsOutApproved)
                        {
                            <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.AssetTransferEndModel.TransferEndDate)" InitialDirection="SortDirection.Descending">TransferEnd Date</MudTableSortLabel></MudTh>
                        }
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x?.AssetTransferEndModel.StatusText)" InitialDirection="SortDirection.Descending">Status</MudTableSortLabel></MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Document Number">@context.DocumentNumber</MudTd>
                        <MudTd DataLabel="Destination Branch">@context.DestinationBranch.BranchName</MudTd>
                        <MudTd DataLabel="Initiated Date">@context.TransferInitiatedDate?.ToShortDateString()</MudTd>
                        @if (IsOutApproved)
                        {
                            <MudTd DataLabel="TransferEnd Date">@context.AssetTransferEndModel.TransferEndDate?.ToShortDateString()</MudTd>
                        }
                        <MudTd DataLabel="Status">@context?.AssetTransferEndModel.StatusText</MudTd>
                        <MudTd DataLabel="Actions">
                            <MudIconButton Disabled="@(context.MID != null)" @onclick="@(()=> OpenDialogEditOutGoing(context,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Title="Edit" Size="Size.Small" Variant="Variant.Filled" />
                            <MudIconButton Disabled="@(context.MID != null)" @onclick="@(()=> OpenDialogDeleteOutGoing(context))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Title="Remove" Size="Size.Small" Variant="Variant.Filled" />
                            <MudIconButton Disabled="@(context.MID != null)" @onclick="@(()=> OpenDialogEditOutGoing(context,true))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                            <MudIconButton @onclick="@(()=> OpenDialogEditOutGoing(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Size="Size.Small" Variant="Variant.Filled" />
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
                    </PagerContent>
                </MudTable>
            </MudTabPanel>
            <MudTabPanel Style="min-width: 200px;" Text="Incoming Asset" BadgeData="@(collectionIncoming?.Count > 0 ? collectionIncoming.Count : null)" BadgeColor="Color.Info" Visible="@(collectionIncoming?.Count > 0)">
                <MudTable Items="@collectionIncoming" Dense="true" Hover="true" Striped="true" Elevation="0">
                    <ToolBarContent>
                        @if (!IsInApproved)
                        {
                            <MudText Typo="Typo.h6">Incoming Transfer</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h6">Approved Transfer</MudText>
                        }
                        <MudSpacer></MudSpacer>
                        <MudTextField @bind-Value="searchTermIn" Placeholder="Search Journal..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUpIn">
                        </MudTextField>
                        <div class="tablefont">
                            <span style="margin-right: 10px;">Maximum Records: </span>
                        </div>
                        <MudItem xs="1">
                            <MudTextField @bind-Value="@NumberOfRecordsIn" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                        </MudItem>
                        <MudCheckBox Style="margin-right: 16px;" Label="Approved Transfers" CheckedChanged="((bool value)=>ApprovedToggledIn(value))" Checked="@IsInApproved"></MudCheckBox>
                    </ToolBarContent>

                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.InitiatedBranch.BranchName)" InitialDirection="SortDirection.Descending">Initiated Branch</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.TransferInitiatedDate)" InitialDirection="SortDirection.Descending">Initiated Date</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Descending">Transfer Number</MudTableSortLabel></MudTh>
                        @if (IsInApproved)
                        {
                            <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.AssetTransferEndModel.TransferEndDate)" InitialDirection="SortDirection.Descending">TransferEnd Date</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x.AssetTransferEndModel.DocumentNumber)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
                        }
                        <MudTh><MudTableSortLabel SortBy="new Func<AssetTransferInitiationModel, object>(x=> x?.AssetTransferEndModel.StatusText)" InitialDirection="SortDirection.Descending">Status</MudTableSortLabel></MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>

                    <RowTemplate>
                        <MudTd DataLabel="Initiated Branch">@context.InitiatedBranch.BranchName</MudTd>
                        <MudTd DataLabel="Initiated Date">@context.TransferInitiatedDate?.ToShortDateString()</MudTd>
                        <MudTd DataLabel="Document Number">@context.DocumentNumber</MudTd>
                        @if (IsInApproved)
                        {
                            <MudTd DataLabel="TransferEnd Date">@context.AssetTransferEndModel.TransferEndDate?.ToShortDateString()</MudTd>
                            <MudTd DataLabel="DocumentNumber">@context.AssetTransferEndModel.DocumentNumber</MudTd>
                        }
                        <MudTd DataLabel="Status">@context?.AssetTransferEndModel.StatusText</MudTd>
                        <MudTd DataLabel="Actions"> 
                            <MudIconButton Disabled="@(context.MID != null || context.AssetTransferEndModel.TransferStatus != null)" @onclick="@(()=> OpenDialogEditIncoming(context,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.AddTask" Title="Accept/Reject" Size="Size.Small" Variant="Variant.Filled" />
                            <MudIconButton Disabled="@(context.MID != null || context.AssetTransferEndModel.TransferStatus == null)" @onclick="@(()=> OpenDialogEditIncoming(context,true))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                            <MudIconButton @onclick="@(()=> OpenDialogEditIncoming(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Size="Size.Small" Variant="Variant.Filled" />
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
                    </PagerContent>
                </MudTable>
            </MudTabPanel>
        </MudTabs>
    </MudItem>
</MudGrid>

@code {

    int CurrentBranchId = 0;
    private List<BranchModel> BranchList = new();

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();

    #endregion
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };
    private bool _busy;

    public bool HasPermissionAssetTransferServiceDelete { get; set; } = false;
    public int AssetTransferDocTypeID = 110;
    public int? branchID { get; set; }

    public bool IsOutApproved { get; set; } = false;
    public bool IsInApproved { get; set; } = false;
    private int numberOfRecordsOut = 100;
    private int numberOfRecordsIn = 100;
    private string searchTermOut = "";
    private string searchTermIn = "";
       
    private AssetTransferInitiationModel model = new();

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetTransferServiceDelete = await Irole.HasClaim(AssetTransferDocTypeID.ToString(), "Delete", ctc.Token);

        // Load the list of branches
        BranchList = Ibranchservice.Select().ToList();
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        CurrentBranchId = int.Parse(brancIDString);
        await signalRService.StartAsync();

        await GetAll();
    }
        
    //Method to retrieve all outgoing and incoming asset transfers
    private async Task GetAll()
    {
        collectionOutGoing = Iservice.SelectOutgoingUnapproved(CurrentBranchId, numberOfRecordsOut, searchTermOut).ToList();
        collectionIncoming = Iservice.SelectIncomingUnapproved(CurrentBranchId, numberOfRecordsIn, searchTermIn).ToList();
    }

    #region Outgoing
    private List<AssetTransferInitiationModel> collectionOutGoing = new();
    string state = "Message box hasn't been opened yet";

    private int NumberOfRecordsOut
    {
        get => numberOfRecordsOut;
        set
        {
            if (numberOfRecordsOut != value)
            {
                numberOfRecordsOut = value;
                _ = ReloadTableOut();
            }
        }
    }

    private async Task HandleSearchKeyUpOut(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTableOut();
        }
    }

    private async Task ReloadTableOut()
    {
        await GetAllOutGoing(IsOutApproved, NumberOfRecordsOut);
    }

    // Method to toggle the approval status and reload the table
    async Task ApprovedToggledOut(bool value)
    {
        IsOutApproved = value;
        await GetAllOutGoing(IsOutApproved, NumberOfRecordsOut);
    }

    // Method to retrieve all outgoing asset transfers
    async Task GetAllOutGoing(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;
        
        collectionOutGoing = new List<AssetTransferInitiationModel>();

        @if (val)
        {
            collectionOutGoing = Iservice.SelectOutgoingApproved(CurrentBranchId, NumberOfRecords, searchTermOut).ToList();
        }
        else
        {
            collectionOutGoing = Iservice.SelectOutgoingUnapproved(CurrentBranchId, NumberOfRecords, searchTermOut).ToList();
        }
    }

    // Method to open the dialog for editing outgoing asset transfers
    private async Task OpenDialogEditOutGoing(AssetTransferInitiationModel AssetTransferInitiation, bool ReadOnly)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;

        if (AssetTransferInitiation.InitiatedBranch == null)
        {
            AssetTransferInitiation.InitiatedBranch = new();
        }
        if (AssetTransferInitiation.DestinationBranch == null)
        {
            AssetTransferInitiation.DestinationBranch = new();
        }
        if (AssetTransferInitiation.Asset == null)
        {
            AssetTransferInitiation.Asset = new();
        }
        AssetTransferInitiation.InitiatedBranch.BranchID = int.Parse(brancIDString);

        var model = new DialogParameters
            {
                ["model"] = AssetTransferInitiation,
                ["ReadOnly"] = ReadOnly
            };

        // Show the dialog for editing
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Large };
        var dialog = DialogService.Show<AssetTransferInitiationDialog>("Simple Dialog", model, options);
        var result = await dialog.Result;
        var isCancelled = result.Cancelled;
        if (!isCancelled)
        {
            var ReturnData = (AssetTransferInitiationModel)result.Data;

            // Prepare notification message for asset transfer
            notificationMessage.InitiateBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.InitiatedBranch?.BranchID ?? 0)) ?? null;
            notificationMessage.ReceivedBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.DestinationBranch?.BranchID ?? 0)) ?? null;
            notificationMessage.MessageTitle = "Asset " + (ReturnData?.Asset?.Description ?? "") + " is transfered to this branch.";
            notificationMessage.MessageBody = "Asset " + (ReturnData?.Asset?.Description ?? "") + " is transfered from " + (notificationMessage?.InitiateBranch?.BranchName ?? "") + " to this branch on " + (DateTime.Now).ToString() + ".";
            notificationMessage.RedirectedTo = 0;
            notificationMessage.ExpiredBy = 7;
            notificationMessage.DocumentID = ReturnData.AssetTransferID;
            notificationMessage.MessageGroupID = "AssetTransfer";
            notificationMessage.PageToRedirectLink = "/AssetTransferView";
            notificationMessage.ClaimValue = "Edit";
            notificationMessage.DocumentTypeID = AssetTransferDocTypeID;
            notificationMessage.MsgDate = DateTime.Now;

            // Send notification via SignalR
            await signalRService.Send(notificationMessage);

            await GetAll();
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open the dialog for deleting outgoing asset transfers
    private async Task OpenDialogDeleteOutGoing(AssetTransferInitiationModel AssetTransferInitiation)
    {
        if (HasPermissionAssetTransferServiceDelete)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning",
                "Are you sure you want to delete this entry?",
                yesText: "Delete!", cancelText: "Cancel");
            state = result == null ? "Cancelled" : "Deleted!";
            if (state == "Deleted!")
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var user = authprov.User;
                var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
                try
                {
                    var BranchID = int.Parse(brancIDString);
                    var UserID = user.Identity.Name;

                    Iservice.DeleteInitiation(AssetTransferInitiation.AssetTransferID, BranchID, AssetTransferInitiation.Asset.AssetID, UserID);
                    snackbar.Add("Asset Transfer Canceled", Severity.Warning);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
                await GetAll();
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Delete AssetTransfer.");
        }
    }

    #endregion

    #region Incoming
    private List<AssetTransferInitiationModel> collectionIncoming = new();


     private int NumberOfRecordsIn
    {
        get => numberOfRecordsIn;
        set
        {
            if (numberOfRecordsIn != value)
            {
                numberOfRecordsIn = value;
                _ = ReloadTableIn();
            }
        }
    }

    private async Task HandleSearchKeyUpIn(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTableIn();
        }
    }

    private async Task ReloadTableIn()
    {
        await GetAllIncoming(IsInApproved, NumberOfRecordsIn);
    }

    // Method to toggle the approval status and reload the table
    async Task ApprovedToggledIn(bool value)
    {
        IsInApproved = value;
        await GetAllIncoming(IsInApproved, NumberOfRecordsIn);
    }

    // Method to retrieve all incoming asset transfers
    async Task GetAllIncoming(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;

        collectionIncoming = new List<AssetTransferInitiationModel>();

        @if (val)
        {
            collectionIncoming = Iservice.SelectIncomingApproved(CurrentBranchId, NumberOfRecords, searchTermIn).ToList();
        }
        else
        {
            collectionIncoming = Iservice.SelectIncomingUnapproved(CurrentBranchId, NumberOfRecords, searchTermIn).ToList();
        }
    }

    // Method to open the dialog for editing incoming asset transfers
    private async Task OpenDialogEditIncoming(AssetTransferInitiationModel AssetTransferEnd, bool ReadOnly)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;

        if (AssetTransferEnd.AssetTransferEndModel == null)
        {
            AssetTransferEnd.AssetTransferEndModel = new();
        }
        if (AssetTransferEnd.DestinationBranch == null)
        {
            AssetTransferEnd.DestinationBranch = new();
        }
        AssetTransferEnd.DestinationBranch.BranchID = int.Parse(brancIDString);

        var model = new DialogParameters
            {
                ["model"] = AssetTransferEnd,
                ["ReadOnly"] = ReadOnly
            };

        // Show the dialog for editing
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<AssetTransferEndDialog>("Simple Dialog", model, options);
        var result = await dialog.Result;
        var isCancelled = result.Cancelled;

        if (!isCancelled)
        {
            var ReturnData = (AssetTransferInitiationModel)result.Data;
            // Prepare notification message for asset rejection
            if (ReturnData.IsAssetReject == 1)
            {
                notificationMessage.InitiateBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.DestinationBranch?.BranchID ?? 0)) ?? null;
                notificationMessage.ReceivedBranch = BranchList?.FirstOrDefault(s => s.BranchID == Convert.ToInt32(ReturnData?.InitiatedBranch?.BranchID ?? 0)) ?? null;
                notificationMessage.MessageTitle = "Asset " + (ReturnData?.Asset?.Description ?? "") + " is rejected.";
                notificationMessage.MessageBody = "Asset " + (ReturnData?.Asset?.Description ?? "") + " is rejected from " + (notificationMessage?.InitiateBranch?.BranchName ?? "") + " on " + (DateTime.Now).ToString() + ".";
                notificationMessage.RedirectedTo = 0;
                notificationMessage.MsgDate = DateTime.Now;
                notificationMessage.ExpiredBy = 7;
                notificationMessage.DocumentID = ReturnData.AssetTransferID;
                notificationMessage.MessageGroupID = "AssetTransfer";
                notificationMessage.PageToRedirectLink = "/AssetTransferView";
                notificationMessage.ClaimValue = "Edit";
                notificationMessage.DocumentTypeID = AssetTransferDocTypeID;
                // Send notification via SignalR
                await signalRService.Send(notificationMessage);
            }
            await GetAll();
        }
        await Task.Delay(200);
        _busy = false;
    }

    #endregion
        
}