@inject AuthenticationStateProvider auth
@inject IAssetService Iassetservice
@inject ITruckService Itruckservice
@inject IAssetTransferService Iservice
@inject IAssetSettingsService Iassetsettingsservice
@inject IBranchService Ibranchservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IConfigTable config
@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .border {
        border: 10px solid black;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Asset Transfer
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll;">
            <EditForm id="AssetTransferForm" Model="@model" OnValidSubmit="Submit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <AssetSelector Value="model.Asset" BranchID="BranchID" ValueChanged="AssetSelected" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (ChildAssets != null && ChildAssets.Any())
                        {
                            <MudText Typo="Typo.body1">Following assets will be transferred along with the above asset</MudText>
                            <div class="d-flex">
                                @foreach (var asset in ChildAssets)
                                {
                                    <div class="m-2"><b>@asset.Description</b></div>
                                    @if (!asset.Equals(ChildAssets.Last()))
                                    {
                                        <div class="m-2">|</div>
                                    }
                                }
                            </div>
                        }
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Destination Branch" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="model.DestinationBranch.BranchID" T="int?" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter" AdornmentColor="Color.Secondary" Required>
                            @foreach (BranchModel ditem in DestinationBranchList)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.TransferInitiatedDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Remarks" Label="Remarks" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (model.CheckList != null && model.CheckList.Any())
                        {
                            <MudText Typo="Typo.h6">Checklist</MudText>
                            <br />
                            <MudContainer>
                                <MudGrid class="border">
                                    @foreach (var item in model.CheckList)
                                    {
                                        <MudItem xs="6">
                                            <MudTextField Form="" @bind-Value="item.SettingsDescription" Label="@item.SettingsName" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        }
                    </MudItem>
                    <MudItem xs="12" Class="d-flex">
                        <MudText Typo="Typo.h6">Transfer Images</MudText>
                        <MudSpacer />
                        <MyFileUpload @ref="Mfu" Resize="true" DeleteExistingFile="false" FileName="@Guid.NewGuid().ToString()" FolderName="AssetTransfer" Label="Upload Photos" FilePathChanged="FileUploaded"></MyFileUpload>
                    </MudItem>
                    <MudGrid Style="padding: 24px;" Spacing="2" Justify="Justify.Center">
                        @foreach (var imagePath in model?.ImagePath)
                        {
                            @if (imagePath != "")
                            {
                                <MudItem xs="12" md="6" Class="d-flex">
                                    <MudPaper Class="p-2 position-relative" Elevation="3">
                                        <img src="@imagePath" alt="@imagePath" class="w-100" />
                                        <MudFab Style="width: 36px; height: 16px; margin-top: -20px; margin-left: -18px;" Icon="@Icons.Material.Rounded.Close" Color="Color.Error" Class="position-absolute top-0 end-0" OnClick="() => DeleteImage(imagePath)" />
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudGrid>
                <br />
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="AssetTransferForm" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="px-12">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public AssetTransferInitiationModel model { get; set; } = new();
    public int? SubClassID { get; set; } = new();
    public int? TruckID { get; set; } = new();
    int? AssetTrucksSubClassID;
    private List<BranchModel> DestinationBranchList = new();
    [Parameter]
    public List<AssetModel> ChildAssets { get; set; } = new();
    private int BranchID { get; set; } = 0;
    private bool _busy;
    MyFileUpload Mfu;

    public bool HasPermissionAssetTransferServiceEdit { get; set; } = false;
    public int AssetTransferDocTypeID = 110;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetTransferServiceEdit = await Irole.HasClaim(AssetTransferDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        if (model.UserInfo == null)
        {
            model.UserInfo = new();
            model.UserInfo.UserID = User.Identity.Name;
        }
        if (model.InitiatedBranch == null)
        {
            model.InitiatedBranch = new();
            model.InitiatedBranch.BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        }
        if (model.DestinationBranch == null)
        {
            model.DestinationBranch = new();
        }
        if (model.Asset == null)
        {
            model.Asset = new();
        }
        BranchID = model?.InitiatedBranch?.BranchID ?? 0;

        // Load the checklist for the asset transfer
        if (model != null)
        {
            model.CheckList = Iservice.GetCheckList(model.AssetTransferID).ToList();
        }

        // Load the list of destination branches excluding the current branch
        DestinationBranchList = Ibranchservice.Select().Where(d => d.BranchID != BranchID).ToList();
    }

    // Method to handle file uploads
    private void FileUploaded(string filePath)
    {
        model.ImagePath.Add(filePath);
    }

    // Method to delete an uploaded image
    private async Task DeleteImage(string imagePath)
    {
        if (HasPermissionAssetTransferServiceEdit)
        {
            try
            {
                var authState = await auth.GetAuthenticationStateAsync();
                AssetTransferInitiationModel Model = new();
                Model.AssetTransferID = model.AssetTransferID;
                Model.Images = imagePath.Normalize();
                Model.UserInfo.UserID = authState.User.Identity.Name;

                // Call the service to remove the photo
                int a = Iservice.RemovePhoto(Model);
                if (a == 1)
                {
                    if (Mfu.DeleteFile(imagePath)) // Delete the file from the file upload component
                    {
                        model.ImagePath.Remove(imagePath); // Delete the file from the file upload component
                    }
                    Snackbar.Add("Photo removed Successfully", Severity.Success);
                    return;
                }
                else
                {
                    Snackbar.Add("Photo not removed !", Severity.Error);
                    return;
                }
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit AssetTransfer.");
        }
    }

    // Method to cancel the dialog
    void Cancel()
    {
        MudDialog.Cancel();
    }

    // Method to submit the asset transfer
    public async Task Submit()
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionAssetTransferServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var User = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            if (model.Asset.AssetID == null)
            {
                bool? result = await DialogService.ShowMessageBox(
                "Warning",
                "Please, Select asset.", yesText: "OK");
                _busy = false;
                return;
            }
            if (model != null)
            {
                try
                {
                    model.InitiatedBranch.BranchID = int.Parse(brancIDString);
                    model.UserInfo.UserID = User.Identity.Name;
                    if (model.DestinationBranch.BranchID == null)
                    {
                        bool? result = await DialogService.ShowMessageBox(
                              "Warning",
                              "Select branch !.",
                              yesText: "OK");
                        _busy = false;
                        return;
                    }

                    // Get the subclass ID for trucks
                    ConfigModel cModel = config.GetAssetSubclassForTrucks();
                    AssetTrucksSubClassID = int.Parse(cModel.ValueString);
                    if (SubClassID == AssetTrucksSubClassID)
                    {
                        TruckID = Itruckservice.SelectByAsset(model.Asset.AssetID).TruckID; // Get the truck ID
                        Iservice.UpdateOutgoing(model, TruckID); // Update the status with truck ID
                    }
                    else
                    {
                        _busy = true;
                        Iservice.UpdateOutgoing(model, null); // Update the status without truck ID
                    }
                    Snackbar.Add("Transferred successfully", Severity.Success);
                    MudDialog.Close(model);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit AssetTransfer.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to handle the selection of an asset
    private void AssetSelected(AssetModel obj)
    {
        model.Asset = obj;
        if (obj != null)
        {
            // Retrieve attached assets and subclass ID for the selected asset
            ChildAssets = Iassetservice.GetAttachedAssets(obj?.AssetID).Skip(1).ToList();
            SubClassID = Iassetservice.SelectByID(obj?.AssetID).SubClass.AssetSubClassID;
            model.CheckList = Iassetsettingsservice.GetSettings(SubClassID).ToList(); // Load checklist settings for the subclass
        }
    }
}