@inject AuthenticationStateProvider auth
@inject IAssetService Iassetservice
@inject ITruckService Itruckservice
@inject IAssetTransferService Iservice
@inject IAssetSettingsService Iassetsettingsservice
@inject IBranchService Ibranchservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IConfigTable config

@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .border {
        border: 10px solid black;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Asset Transfer
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll; margin-left:20px">
            <EditForm id="AssetTransferForm" Model="@model" OnValidSubmit="Submit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <AssetSelector Value="model.Asset" BranchID="BranchID" ValueChanged="AssetSelected" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (ChildAssets != null && ChildAssets.Any())
                        {
                            <MudText Typo="Typo.body1">Following assets will be transferred along with the above asset</MudText>
                            <div class="d-flex">
                                @foreach (var asset in ChildAssets)
                                {
                                    <div class="m-2"><b>@asset.Description</b></div>
                                    @if (!asset.Equals(ChildAssets.Last()))
                                    {
                                        <div class="m-2">|</div>
                                    }
                                }
                            </div>
                        }
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Label="Destination Branch" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="model.DestinationBranch.BranchID" T="int?" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter" AdornmentColor="Color.Secondary" Required>
                            @foreach (BranchModel ditem in DestinationBranchList)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.TransferInitiatedDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Remarks" Label="Remarks" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (model.CheckList != null && model.CheckList.Any())
                        {
                            <MudText Typo="Typo.h6">Checklist</MudText>
                            <br />
                            <MudContainer>
                                <MudGrid class="border">
                                    @foreach (var item in model.CheckList)
                                    {
                                        <MudItem xs="6">
                                            <MudTextField Form="" @bind-Value="item.SettingsDescription" Label="@item.SettingsName" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        }
                    </MudItem>
                </MudGrid>
                <br />
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" form="AssetTransferForm" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="px-12">Submit</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public AssetTransferInitiationModel model { get; set; } = new();
    public int? SubClassID { get; set; } = new();
    public int? TruckID { get; set; } = new();
    int? AssetSubClassID;
    private bool _busy;
    private List<BranchModel> DestinationBranchList = new();
    [Parameter]
    public List<AssetModel> ChildAssets { get; set; } = new();
    private int BranchID { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        if (model.UserInfo == null)
        {
            model.UserInfo = new();
            model.UserInfo.UserID = User.Identity.Name;
        }
        if (model.InitiatedBranch == null)
        {
            model.InitiatedBranch = new();
            model.InitiatedBranch.BranchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        }
        if (model.DestinationBranch == null)
        {
            model.DestinationBranch = new();
        }
        if (model.Asset == null)
        {
            model.Asset = new();
        }
        BranchID = model?.InitiatedBranch?.BranchID ?? 0;

        if (model != null)
        {
            model.CheckList = Iservice.GetCheckList(model.AssetTransferID).ToList();
        }
        DestinationBranchList = Ibranchservice.Select().Where(d => d.BranchID != BranchID).ToList();
    }

    void Cancel()
    {
        MudDialog.Cancel();
    }

    public async Task Submit()
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        if (model.Asset.AssetID == null)
        {
            bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Please, Select asset.", yesText: "OK");

            return;
        }
        if (model != null)
        {

            try
            {
                model.InitiatedBranch.BranchID = int.Parse(brancIDString);
                model.UserInfo.UserID = User.Identity.Name;
                if (model.DestinationBranch.BranchID == null)
                {
                    bool? result = await DialogService.ShowMessageBox(
                          "Warning",
                          "Select branch !.",
                          yesText: "OK");
                    return;
                }
                ConfigModel cModel = config.GetAssetSubclassForTrucks();
                AssetSubClassID = int.Parse(cModel.ValueString);
                if (SubClassID == AssetSubClassID)
                {
                    TruckID = Itruckservice.SelectByAsset(model.Asset.AssetID).TruckID;
                    Iservice.UpdateOutgoing(model, TruckID);
                }
                else
                {
                    _busy = true;
                    Iservice.UpdateOutgoing(model, null);
                }
                Snackbar.Add("Transferred successfully", Severity.Success);
                MudDialog.Close(model);
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
            finally
            {
                await Task.Delay(2000);
                _busy = false;
            }
        }
    }

    private void AssetSelected(AssetModel obj)
    {
        model.Asset = obj;
        if (obj != null)
        {
            ChildAssets = Iassetservice.GetAttachedAssets(obj?.AssetID).Skip(1).ToList();
            SubClassID = Iassetservice.SelectByID(obj?.AssetID).SubClass.AssetSubClassID;
            model.CheckList = Iassetsettingsservice.GetSettings(SubClassID).ToList();
        }

    }
}