@inject AuthenticationStateProvider auth
@inject IAssetTransferService Iservice
@inject IAssetService Iassetservice
@inject ITruckService Itruckservice
@inject IBranchService Ibranchservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IConfigTable config

@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .completed {
        text-decoration: line-through;
    }

    .border {
        border: 10px solid black;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" /> Accept Or Reject Asset
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll; margin-left:20px">
            <EditForm Model="@model" OnValidSubmit="() => Accept(Checklist)">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="12">
                        <MudTextField Value="model.Asset.Description" Label="Asset" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Asset.Description)" Disabled></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         @if (ChildAssets != null && ChildAssets.Any())
                        {
                            <MudText Typo="Typo.body1">Following assets will be transferred along with the above asset</MudText>
                            <div class="d-flex">
                                @foreach (var asset in ChildAssets)
                                {
                                    <div class="m-2"><b>@asset.Description</b></div>
                                    @if (!asset.Equals(ChildAssets.Last()))
                                    {
                                        <div class="m-2">|</div>
                                    }
                                }
                            </div>
                        }
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.InitiatedBranch.BranchName" Label="Initiated Branch" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InitiatedBranch.BranchName)" Disabled></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="6">
                         <MudDatePicker Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.AssetTransferEndModel.TransferEndDate" DateFormat="dd/MM/yyyy" />
                     </MudItem>
                     <MudItem xs="12" md="12">
                         <MudTextField @bind-Value="model.AssetTransferEndModel.Remarks" Label="Remarks" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                     </MudItem>
                     <MudItem xs="12" md="12">
                         @if (Checklist != null && Checklist.Any())
                        {
                            <MudText Typo="Typo.h6">Checklist</MudText>
                            <br />
                            <MudContainer>
                                <MudGrid class="border">
                                    @foreach (var item in Checklist)
                                    {
                                        <MudItem xs="3">
                                            <MudTextField Form="" @bind-Value="item.SettingsDescription" Label="@item.SettingsName" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly></MudTextField>
                                         </MudItem>
                                        <MudItem xs="3">
                                            <MudCheckBox Color="Color.Primary" @bind-Checked="@item.IsRecieved"></MudCheckBox>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        }
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>

    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => Accept(Checklist)" Class="px-12">Accept Asset</MudButton>
        @if (model.AssetTransferEndModel.TransferStatus == null)
        {
            <MudButton Disabled="@_busy" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => Reject(Checklist)" Class="px-12">Reject Asset</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public AssetTransferInitiationModel model { get; set; } = new();
    public int IsCompleted;
    [Parameter]
    public List<AssetModel> ChildAssets { get; set; } = new();
    [Parameter]
    public List<AssetSettingsModel> Checklist { get; set; } = new();
    public int? SubClassID { get; set; } = new();
    public int? TruckID { get; set; } = new();
    int? AssetSubClassID;
    private bool _busy;

    protected override void OnInitialized()
    {
        branchID = model?.DestinationBranch?.BranchID ?? 0;
        Checklist = Iservice.GetCheckList(model.AssetTransferID).ToList();
        SubClassID = Iassetservice.SelectByID(model.Asset.AssetID).SubClass.AssetSubClassID;
        ConfigModel cModel = config.GetAssetSubclassForTrucks();
        AssetSubClassID = int.Parse(cModel.ValueString);
    }

    private int branchID { get; set; } = 0;

    void Cancel()
    {
        MudDialog.Cancel();
    }

    public async Task Accept(List<AssetSettingsModel> context)
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        if (model != null)
        {
            model.IsAssetReject = 0;
            try
            {
                List<int?> RecievedList = context.Where(s => s.IsRecieved ?? false).Select(d => d.SettingsID).ToList();
                model.UserInfo.UserID = user.Identity.Name;
                model.AssetTransferEndModel.TransferStatus = true;
                if (SubClassID == AssetSubClassID)
                {
                    TruckID = Itruckservice.SelectByAsset(model.Asset.AssetID).TruckID;
                    Iservice.UpdateStatus(model, TruckID, RecievedList);
                }
                else
                {
                    Iservice.UpdateStatus(model, null, RecievedList);
                }
                Snackbar.Add("Transfered succesfully", Severity.Success);
            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }
        await Task.Delay(2000);
        _busy = false;
        MudDialog.Close(model);
    }

    public async Task Reject(List<AssetSettingsModel> context)
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        if (model != null)
        {
            model.IsAssetReject = 1;
            try
            {
                List<int?> RecievedList = context.Where(s => s.IsRecieved ?? false).Select(d => d.SettingsID).ToList();
                model.UserInfo.UserID = user.Identity.Name;
                model.AssetTransferEndModel.TransferStatus = false;
                if (SubClassID == AssetSubClassID)
                {
                    TruckID = Itruckservice.SelectByAsset(model.Asset.AssetID).TruckID;
                    Iservice.UpdateStatus(model, TruckID, RecievedList);
                }
                else
                {
                    Iservice.UpdateStatus(model, null, RecievedList);
                }
                Snackbar.Add("Asset Transfer Rejected", Severity.Error);

            }
            catch (Exception ex)
            {
                Snackbar.Add(ex.Message, Severity.Error);
            }
        }
        MudDialog.Close(model);

        await Task.Delay(2000);
        _busy = false;
    }
}