@inject AuthenticationStateProvider auth
@inject IAssetTransferService Iservice
@inject IAssetService Iassetservice
@inject IBranchService Ibranchservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IConfigTable config
@using Views.Pages.Finance.Transactions
@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .completed {
        text-decoration: line-through;
    }

    .border {
        border: 10px solid black;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3" />  Asset Complete
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 400px; overflow-y: scroll;">
            <EditForm Model="@model" OnValidSubmit="() => Accept(Checklist)">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudTextField Value="model.Asset.Description" Label="Asset" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Asset.Description)" Disabled></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <GstMechanismSelector ReadOnly="@ReadOnly" page="Asset" @bind-Value="@model.AssetTransferEndModel.GstMechanism"></GstMechanismSelector>
                    </MudItem>                   
                    <MudItem xs="12" md="6">
                        <MudTextField @bind-Value="model.InitiatedBranch.BranchName" Label="Initiated Branch" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.InitiatedBranch.BranchName)" Disabled></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.AssetTransferEndModel.TransferEndDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="@ReadOnly" @bind-Value="model.AssetTransferEndModel.Remarks" Label="Remarks" Lines="3" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        @if (Checklist != null && Checklist.Any())
                        {
                            <MudText Typo="Typo.h6">Checklist</MudText>
                            <br />
                            <MudContainer>
                                <MudGrid class="border">
                                    @foreach (var item in Checklist)
                                    {
                                        <MudItem xs="3">
                                            <MudTextField Form="" @bind-Value="item.SettingsDescription" Label="@item.SettingsName" Variant="Variant.Text" Margin="Margin.Dense" ReadOnly></MudTextField>
                                        </MudItem>
                                        <MudItem xs="3">
                                            <MudCheckBox Color="Color.Primary" @bind-Checked="@item.IsRecieved"></MudCheckBox>
                                        </MudItem>
                                    }
                                </MudGrid>
                            </MudContainer>
                        }
                    </MudItem>
                    <MudItem xs="12" Class="d-flex">
                        <MudText Typo="Typo.h6">Transfer Images</MudText>
                        <MudSpacer />
                    </MudItem>
                    <MudGrid Style="padding: 24px;" Spacing="2" Justify="Justify.Center">
                        @foreach (var imagePath in model?.ImagePath)
                        {
                            @if (imagePath != "")
                            {
                                <MudItem xs="12" md="6" Class="d-flex">
                                    <MudPaper Class="p-2 position-relative" Elevation="3">
                                        <img src="@imagePath" alt="@imagePath" class="w-100" />
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudGrid>
                <MudItem xs="12" Style="overflow-x:auto; overflow-y:hidden;">
                    <h6> <u>Assets</u></h6>
                    <div style="width: 1600px;" class="pb-3">
                        <MudGrid Justify="Justify.Center">
                            <MudItem xs="4"><span class="HeadText"><b>Asset Name</b></span></MudItem>
                            <MudItem xs="2"><span class="HeadText"><b>Book Value</b></span></MudItem>
                            <MudItem xs="2"><span class="HeadText"><b>Taxable value</b></span></MudItem>
                            <MudItem xs="2"><span class="HeadText"><b>Tax rate</b></span></MudItem>
                            <MudItem xs="2"><span class="HeadText"><b>Tax value</b></span></MudItem>
                            @foreach (var item in model.Items)
                            {
                                <MudItem xs="4">@item.Description</MudItem>
                                <MudItem xs="2">@item.BookValue</MudItem>
                                <MudItem xs="2">@item.TaxableValue</MudItem>
                                <MudItem xs="2">@item.TaxRate</MudItem>
                                <MudItem xs="2">@item.TaxValue</MudItem>
                            }
                        </MudGrid>
                    </div>
                </MudItem>
            </EditForm>
            <MudItem xs="12">
                @if (ReadOnly && model.AssetTransferEndModel.AssetTransferEndID != null)
                {
                    <AutherizationStatusComponent DocTypeID="@AssetTransferEndDocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" DocumentID="model.AssetTransferEndModel.AssetTransferEndID" CreatedBy="@model.UserInfo" OnApprove="Approve"></AutherizationStatusComponent>
                }
            </MudItem>
            <MudContainer Class="dialogInset">
                @if (ReadOnly)
                {
                    @if (model.MID != null)
                    {
                        <AccountInfoDialog MID="@model.MID"></AccountInfoDialog>
                    }
                }
            </MudContainer>
        </MudContainer>
    </DialogContent>
    <DialogActions>

        @if (ReadOnly)
        {
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>
            </div>
        }
        else
        {
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton Disabled="@_busy" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => Accept(Checklist)" Class="px-12">Accept</MudButton>
            </div>
            <div style="padding-bottom:12px; padding-right:12px;">
                <MudButton Disabled="@_busy" Variant="Variant.Filled" Color="Color.Warning" OnClick="() => Reject(Checklist)" Class="px-12">Reject</MudButton>
            </div>
        }
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public AssetTransferInitiationModel model { get; set; } = new();
    [Parameter]
    public List<AssetModel> ChildAssets { get; set; } = new();
    [Parameter]
    public List<AssetSettingsModel> Checklist { get; set; } = new();
    [Parameter]
    public bool ReadOnly { get; set; }
    public int IsCompleted;
    private bool _busy;
    MyFileUpload Mfu;
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    public bool HasPermissionAssetTransferServiceAccept { get; set; } = false;
    public bool HasPermissionAssetTransferServiceReject { get; set; } = false;
    public bool HasPermissionAssetTransferServiceApprove { get; set; } = false;
    public int AssetTransferEndDocTypeID = 142;

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        // Check user permissions for accepting and rejecting asset transfers
        HasPermissionAssetTransferServiceAccept = await Irole.HasClaim(AssetTransferEndDocTypeID.ToString(), "Accept", ctc.Token);
        HasPermissionAssetTransferServiceReject = await Irole.HasClaim(AssetTransferEndDocTypeID.ToString(), "Reject", ctc.Token);
        HasPermissionAssetTransferServiceApprove = await Irole.HasClaim(AssetTransferEndDocTypeID.ToString(), "Approve", ctc.Token);

        branchID = model?.DestinationBranch?.BranchID ?? 0;

        // Check user permissions for accepting and rejecting asset transfers
        Checklist = Iservice.GetCheckList(model.AssetTransferID).ToList();

        model.Items = Iservice.GetAssets(model.AssetTransferID).ToList();

        DocNumber = model.AssetTransferEndModel.DocumentNumber;
        DocDate = model.AssetTransferEndModel.TransferEndDate;
        DocType = "Asset Transfer End";
    }

    private int branchID { get; set; } = 0;

    // Method to cancel the dialog
    void Cancel()
    {
        MudDialog.Cancel();
    }

    // Method to accept the asset transfer
    public async Task Accept(List<AssetSettingsModel> context)
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionAssetTransferServiceAccept)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;

            if (model.AssetTransferEndModel.GstMechanism == null)
            {
                Snackbar.Add("Please select GST mechanism!", Severity.Warning);
                return;
            }

            if (model.AssetTransferEndModel.TransferEndDate == null)
            {
                Snackbar.Add("Please select date!", Severity.Warning);
                return;
            }

            if (model != null)
            {
                model.IsAssetReject = 0; // Set rejection status to false
                try
                {
                    List<int?> RecievedList = context.Where(s => s.IsRecieved ?? false).Select(d => d.SettingsID).ToList();
                    model.UserInfo.UserID = user.Identity.Name;
                    model.AssetTransferEndModel.TransferStatus = true;
                    Iservice.UpdateStatus(model, RecievedList); // Update the status without truck ID
                    Snackbar.Add("Transfered succesfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
            MudDialog.Close(model);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Accept AssetTransfer.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to reject the asset transfer
    public async Task Reject(List<AssetSettingsModel> context)
    {
        if (_busy)
        {
            Snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionAssetTransferServiceReject)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            if (model != null)
            {
                model.IsAssetReject = 1; // Set rejection status to true
                try
                {
                    List<int?> RecievedList = context.Where(s => s.IsRecieved ?? false).Select(d => d.SettingsID).ToList();
                    model.UserInfo.UserID = user.Identity.Name;
                    model.AssetTransferEndModel.TransferStatus = false;
                    Iservice.UpdateStatus(model, RecievedList); // Update the status without truck ID
                    
                    Snackbar.Add("Asset Transfer Rejected", Severity.Error);

                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
            MudDialog.Close(model);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Reject AssetTransfer.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        if (HasPermissionAssetTransferServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = User.Identity.Name;
                try
                {
                    Iservice.ApproveIncoming(model.AssetTransferEndModel.AssetTransferEndID.Value, model.UserInfo.UserID);
                    Snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    Snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Approve InventoryGrn.");
        }
    }
}