@page "/ManageTrips"
@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IConfiguration configuration
@using Microsoft.Extensions.Configuration
@inject IBranchService brIservice
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>
 <MudLink Href="OptranView" Underline="Underline.Always">Ortation Approve</MudLink>

<br />
<MudPaper>
    <MudContainer>
<MudGrid Spacing="4">
    <MudItem  xs="12" md="5">
              <TruckSelector   @bind-Value="SelectedTruck"  />
  
               </MudItem>
                <MudItem  xs="12" md="5">
                <MudTextField @bind-Value="tripnumber"  Label="Trip Number" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

               </MudItem>
               <MudItem  xs="12" md="2">
       <MudButton OnClick="fetch" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Fetch</MudButton>

               </MudItem>

               

   </MudGrid>
   </MudContainer>
   </MudPaper>

    <MudPaper Class="@value" >
    <MudContainer>
    <MudGrid>
          <MudItem  xs="12" md="12">


                <MudTable Items="@collection" MultiSelection="true" @ref="mudTable" RowClassFunc="@SelectedRowClassFunc" OnRowClick="@RowClickEvent" @bind-SelectedItem="selectedItem1" Dense="true" Hover="true"  Striped="true" Elevation="10"  @bind-place="tripModel" T="TripModel" >
           

             <ToolBarContent>
                <MudText Typo="Typo.h6">Trips</MudText>
                
               
                <MudSpacer></MudSpacer>
                 </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<TripModel, object>(x=> x.TripDate)" InitialDirection="SortDirection.Ascending">TripDate</MudTableSortLabel></MudTh>
             <MudTh><MudTableSortLabel SortBy="new Func<TripModel, object>(x=> x.TripNumber)" InitialDirection="SortDirection.Ascending">TripNumber</MudTableSortLabel></MudTh>
              
                
               
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="TripDate">@context.TripDate</MudTd>
                <MudTd DataLabel="TripNumber">@context.TripNumber</MudTd>
             
                 
                
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>


              </MudItem>
              <MudItem xs="12" md="10">
            </MudItem>
          @*  <MudItem xs="12" md="2">
                <MudButton @onclick="selected" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Fueling</MudButton>

            </MudItem>*@

        </MudGrid>
        </MudContainer>
        </MudPaper>
       @* <MudPaper Class="@FuelVal">
    <MudContainer>
        <MudGrid>
            <MudItem xs="12" md="12">
                <h6>Trip Fueling</h6>
            </MudItem>
            <MudItem xs="12" md="3">

                <MudDatePicker Label="Entry Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="TModel.EntryDate" DateFormat="dd/MM/yyyy" />

            </MudItem>
        
            <MudItem xs="12" md="3">

                <MudSelect Label="Select FuelItem" @bind-Value="TModel.FuelItemID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    @foreach (var ditem in items)
                    {
                        <MudSelectItem Value="@ditem.InventoryItemID">@ditem.ItemDecription</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
      <MudItem xs="12"md="3">
           <MudTextField @bind-Value="TModel.Quantity" Label="Quantity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TModel.Quantity)"></MudTextField>

     </MudItem>
           <MudItem xs="12"md="3">
         <MudCheckBox @Checked="@isInv" Color="Color.Primary" T="bool" Label="Is Purchase" CheckedChanged="@isPurChanged">
              isInv: @(isInv == null ? "false" : isInv.ToString())
         </MudCheckBox>
     </MudItem> 
        </MudGrid>
    
    </MudContainer>

</MudPaper>*@
     @*  <MudPaper Class="@IsPur" >
           <MudContainer>
        <MudGrid>
         
                    <MudItem xs="12" md="3">

                <MudSelect Label="CostCenter " @bind-Value="TModel.Costcenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                    @foreach (var ditem in costCenter)
                    {
                        <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                    }
                </MudSelect>

            </MudItem>
          
                <MudItem xs="12"md="3">
   
     <MudSelect Label="Select Dimension" @bind-Value="TModel.Diomension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
       <MudItem xs="12"md="6">
           <PartySelector @bind-Value="TModel.PartyBranch"></PartySelector>
           </MudItem>

              <MudItem xs="12"md="3">
                         <MudTextField @bind-Value="TModel.invoiceNo"  Label="Invoice Number"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TModel.invoiceNo)"></MudTextField>
                 </MudItem>
                   <MudItem xs="12"md="3">
                         <MudTextField @bind-Value="TModel.RatePerLitre" Label="Rate Per Litre"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TModel.RatePerLitre)"></MudTextField>
                 </MudItem>
                   <MudItem xs="12"md="3">
                         <MudTextField @bind-Value="TModel.TotalAmount" ReadOnly="true" Label="TotalAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => TModel.TotalAmount)"></MudTextField>
                 </MudItem>
                   <MudItem xs="12"md="3">
 <MudButton @onclick="TripFuelSubmitt" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save</MudButton>
 </MudItem>
        </MudGrid>
        </MudContainer>
         </MudPaper>*@
         <MudPaper Class="@IsPurBtn">
<MudContainer>

<div style="background-color:#1469c0;padding:1%;padding-top:1%;  color:#fff;">
    <div style="float:left;padding-top:1%"><h6>Fueling</h6></div><div style="float:right;">
    <MudButton @onclick="OpenDialog" StartIcon="@Icons.Outlined.Add" Variant="Variant.Filled" Style="background:none;color:#fff;">
  Add Fuel
</MudButton></div>
            <br />
            <br />
        </div>
    </MudContainer>
         </MudPaper>
         <MudPaper Class="@valueTran" >
    <MudContainer>
    <MudGrid>
         <MudItem  xs="12" md="12">
             <h6>Transaction</h6>
         </MudItem>
         
               <MudItem xs="12"md="4">
                    <MudSelect Label="Mode" @bind-Value="model.PaymentMode" SelectedValuesChanged="ModeChange"  T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                             <MudSelectItem Value="@("Bank")" />
                             <MudSelectItem Value="@("Cash")" />
                            
                   
                        </MudSelect>
                 </MudItem>
                  <MudItem xs="12"md="4">
                   @* <MudAutocomplete T="ChartOfAccountModel" Label="Select Accounts" @bind-Value="SelectedAccount" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                     SearchFunc="SearchAccounts" ToStringFunc="@(e => e == null ? null : $"{e.AccountName}")"></MudAutocomplete>
              *@
              @* <PaymentCodeSelector   @bind-Value="SelectedAccount" LabelName="SelectedAccount" CoaID="accountgroup"/>
              *@     
                 </MudItem>
                  <MudItem xs="12"md="4">
                    <MudSelect Label="Area" @bind-Value="model.Area" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                             <MudSelectItem Value="@("Operation")" />
                             <MudSelectItem Value="@("Maintenenace")" />
                            
                   
                        </MudSelect>
                 </MudItem>
               
         <MudItem  xs="12" md="12">
             
              <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">


                            <thead>
                              
                                <tr>

                                  @*  <th>Branch</th>*@
                                    
                                    <th>ExpenseID</th>
                                    <th>Reference</th>
                                    <th>Amount</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    
                                      <th></th>
                                       

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in subModels)
                                {
                                    <tr>
                                       
                                      
                                        <td>@item.ExpenseUsageCode.UsageCode</td>
                                        <td>@item.Reference</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Unit</td>
                                       
                                        
                                        <td>
                                            @* @if (model.ApprovedInfo.RecordStatus != 3)*@
                                           
                                                <MudFab Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                            
                                        </td>
                                        
                                    </tr>
                                }
                                
                                  <tr>
                                    
                                        <td>
                                           <MudSelect Label="Items" @bind-Value="opTranSubModel.ExpenseUsageCode" T="GstUsageCodeModel"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e?.UsageCode)" >
                                            @foreach (var ditem in usageID)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem.UsageCode</MudSelectItem>
                                            }
                                        </MudSelect>
                                        </td>
                                         <td>
                                            <MudTextField @bind-Value="opTranSubModel.Reference"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Reference)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="opTranSubModel.Amount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Amount)"></MudTextField>

                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="opTranSubModel.Quantity"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Quantity)"></MudTextField>
                                        </td>
                                        <td>
                                            <MudTextField @bind-Value="opTranSubModel.Unit"   Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => opTranSubModel.Unit)"></MudTextField>

                                        </td>
                                         
                                        <td>
                                           
                                            <MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" />

                                        </td>
                                    </tr>
                               
                            </tbody>
                        </MudSimpleTable>


             </MudItem>
              <MudItem xs="12"md="3">
   
      <MudDatePicker Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


    </MudItem>
    <MudItem xs="12"md="3">
   
       <MudSelect Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
    <MudItem xs="12"md="3">
   
     <MudSelect Label="Select Dimension" @bind-Value="model.Dimension" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

    </MudItem>
    <MudItem xs="12"md="3">
     <MudTextField @bind-Value="model.TotalAmount" ReadOnly="true" Label="TotalAmount"  Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

    </MudItem>
    
     <MudItem xs="12"md="2">
          <MudButton form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" OnClick="Submit">Submit</MudButton>
           
     </MudItem>
        </MudGrid>
        </MudContainer>
        </MudPaper>


@code {
    public TruckModel SelectedTruck { get; set; }
    public OpTranModel model = new OpTranModel();
    public string tripnumber;
    private List<TripModel> collection = new List<TripModel>();
    public string value="invisible";
    public string IsPurBtn = "invisible";
    public string valueTran="invisible";
    private TripModel tripModel = new TripModel();
    private TripModel selectedItem1 = null;
    private int selectedRowNumber = -1;
    private MudTable<TripModel> mudTable;
    public int? accountgroup = 0;
    private ChartOfAccountModel SelectedAccount = null;
    private List<OpTranSubModel> subModels = new List<OpTranSubModel>();
    private OpTranSubModel opTranSubModel = new();
    // private OpExpenseModel SelectedExpenses = null;
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
   // private GstUsageIDModel usg = new GstUsageIDModel();
    private List<GstUsageCodeModel> usageID = new();
    private TaxPurchaseModel Taxmodel = new TaxPurchaseModel();
    //public PartyBranchModel selectedpartybr{ get; set; }
    //public string FuelVal="invisible";
    //public string IsPur = "invisible";
    //public bool? isInv { get; set; } = null;
    private List<BranchModel> branch = new();
    //public TripFuelModel TModel = new TripFuelModel();
    private List<InventoryItemModel> items = new();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    private List<TaxPurchaseExpenseModel> exitems = new List<TaxPurchaseExpenseModel>();
    private List<TaxPurchaseItemModel> TxItitems = new List<TaxPurchaseItemModel>();
    private List<TaxPurchaseModel> Taxmodellist = new List<TaxPurchaseModel>();

   
    private TripFuelModel Tmodel = new();
       private void OpenDialog()
    {

        DialogParameters parms = new DialogParameters();
        Tmodel.TripID = selectedItem1.TripID;
        //model.OrderID = Order.OrderID;
        //TModel.TripID = selectedItem1.TripID;
        parms.Add("Tmodel", Tmodel);

        DialogService.Show<TripsFuelDialog>("ADD FUEL",parms,maxWidth);
    }
    protected override void OnInitialized()
    {
     usageID = usageIservice.Select(DateTime.Now).ToList();
    }
    //private void selected()
    //{
    //    //FuelVal = "visible";
    //    branch = brIservice.Select().ToList();
    //    costCenter = costIservice.Select().ToList();
    //    dimension = dimensionIservice.Select().ToList();
       
    //    items = itemIservice.SearchByDescription(string.Empty).ToList();
    //    TModel.TotalAmount = 0;
    //    TModel.TripID = selectedItem1.TripID;
    //    //selecteditem = selectedItems1.ToList();
    //    //MudDialog.Close(selecteditem);

    //}
    public void ModeChange()
    {
        if(model.PaymentMode=="Bank")
        {
            accountgroup =Convert.ToInt32(configuration.GetSection("Data")[model.PaymentMode]);

        }
        else
        {
            accountgroup =Convert.ToInt32(configuration.GetSection("Data")[model.PaymentMode]);


        }

        SelectedAccount = new();
    }
    private async Task<IEnumerable<ChartOfAccountModel>> SearchAccounts(string searchString)
    {
        await Task.Delay(5);
        int coID =Convert.ToInt32(configuration.GetSection("Data")[model.PaymentMode]);
        return accountService.SelectChildren(coID);
    }
    //private void isPurChanged()
    //{
    //    //if ( isInv == true)
    //    //{
    //    IsPur = "visible";
    //    TModel.IsPurchase = true;

    //    //}
    //    //else
    //    //{
    //    //    IsPur="invisible";
    //    //}

    //}
    private void addPurchaseEntry()
    {
        TaxPurchaseModel tpm = new();
        tpm.InvoiceNo = Taxmodel.InvoiceNo;
        Taxmodellist.Add(tpm);
        //TModel.PurchaseEntry= Taxmodel.InvoiceNo;
    }
    //private async Task TripFuelSubmitt()
    //{
    //    var authprov = await auth.GetAuthenticationStateAsync();
    //    var user = authprov.User;

    //    TModel.UserInfo.UserID = user.Identity.Name;
    //    var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
    //    TModel.BranchID = int.Parse(brancIDString);
    //    TModel.UsageID = "16";
    //    TModel.TotalAmount = (TModel.RatePerLitre * TModel.Quantity);
    //    addPurchaseEntry();
    //    try
    //    {

    //        tripFuelIservice.Update(TModel);

    //        snackbar.Add("Saved Successfully", Severity.Success);
    //        TModel = new TripFuelModel();

    //    }
    //    catch (Exception ex)
    //    {
    //        snackbar.Add(ex.Message, Severity.Warning);
    //    }
    //}

//

    public async Task fetch()
    {
        if(tripnumber==null)
        {
            tripnumber = string.Empty;
        }
        int? tr = SelectedTruck.TruckID;
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        collection = new List<TripModel>();
        foreach (var item in tripIservice.SearchTrips(SelectedTruck.TruckID,brancID,tripnumber))
        {
            collection.Add(item);
        }
        value = "visible";
    }

    //private async Task<IEnumerable<OpExpenseModel>> SearchExpenses(string searchString)
    //{

    //    return await Task.FromResult(Iservice.GetOpExpenseHeads());

    //}

    public void AddItems()
    {

       // opTranSubModel.ExpenseUsageCode=SelectedExpenses.ExpenseID;
        //opTranSubModel.ExpenseID=1;
        subModels.Add(opTranSubModel);

        model.TotalAmount = model.TotalAmount + opTranSubModel.Amount;
        opTranSubModel = new();
        // SelectedExpenses = new();

    }
    public void DeleteExpenses(OpTranSubModel i)
    {
        int rowIndex = subModels.IndexOf(i);
        model.TotalAmount = model.TotalAmount - i.Amount;
        subModels.RemoveAt(rowIndex);
    }
    private void RowClickEvent(TableRowClickEventArgs<TripModel> tableRowClickEventArgs)
    {

        model.TripID = selectedItem1.TripID;
        model.TripInfo =tripIservice.GetTripInfo(selectedItem1.TripID);
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        model.TotalAmount = 0;
        valueTran = "visible";
        IsPurBtn = "visible";
    }
    private string SelectedRowClassFunc(TripModel tripModel, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;

            return string.Empty;
        }
        else if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(tripModel))
        {
            selectedRowNumber = rowNumber;

            return "selected";
        }
        else
        {
            return string.Empty;
        }

    }
    private async Task Submit()
    {
        model.Transactions=subModels;  
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        model.UserInfo.UserID = user.Identity.Name;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        model.BranchID = int.Parse(brancIDString);
        model.PaymentArdCode = SelectedAccount.AccountCode;
        model.CreditCoaID = SelectedAccount.CoaID;
      //  model.JobCardID=model.TripInfo.
        try
        {

            Iservice.Update(model);
           
            snackbar.Add("Saved Successfully", Severity.Success);
            model = new OpTranModel();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

    }
}
