@page "/operations"

@inject ITruckService Itruck
@inject ITripService Itrip
@inject IEventService Ievent
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService


<MudGrid Spacing="4">

    <MudItem xs="8" md="4">
        <MudAutocomplete T="TruckModel" Label="Select Truck" @bind-Value="SelectedTruck" ResetValueOnEmptyText="true" IsOpenChanged="IsTruckSelected" 
                         SearchFunc="Search" ToStringFunc="@(e => e == null ? null : $"{e.RegNo}")"></MudAutocomplete>
    </MudItem>
    <MudItem xs="4" md="2">
        <MudFab Icon="@Icons.Material.Filled.LabelImportant" Label="Get" OnClick="GetTruckInfo" />
    </MudItem>
    <MudItem xs="12" md="12" hidden="@HideStatus">
        <MudPaper Class="pa-4 ma-2">           
                <h5>   @EventType?.EventStatusText   On  @CurrentEvent?.EventTime</h5>           
        </MudPaper>
    </MudItem>
    <MudItem xs="12" md="12" hidden="@HideControls">
        <MudFab Icon="@Icons.Material.Outlined.AddTask" OnClick="UpdateEvent" IconColor="Color.Success" Label="@EventButtonLabel" />
        <MudFab Icon="@Icons.Material.Outlined.Cancel" Label="Cancel Trip" OnClick="CancelTrip" IconColor="Color.Error" />
        <MudFab Icon="@Icons.Material.Outlined.ReportProblem" Label="Breakdown/Accident" OnClick="ReportBreakDown" />
    </MudItem>
</MudGrid>


@code{

    private List<TruckModel> Trucks;
    private TruckModel SelectedTruck { get; set; }
    private EventModel CurrentEvent { get; set; }
    private EventTypeModel EventType { get; set; }






    string EventButtonLabel;

    private bool HideControls { get; set; } = true;
    public bool HideStatus { get; set; } = true;
    private bool DisableEventButton { get; set; } = false;
    private bool DisableCancelButton { get; set; } = true;

    protected override void OnInitialized()
    {
        Trucks = new();
        foreach (var item in Itruck.Select(0))
        {
            Trucks.Add(item);
        }
    }

    private async Task<IEnumerable<TruckModel>> Search(string searchString)
    {
        return await Task.FromResult(Trucks.Where(x => x.RegNo.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }


    private void GetTruckInfo()
    {



    }

    private async Task UpdateEvent()
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", SelectedTruck);

        if (EventButtonLabel == "Start New Trip")
        {
            var result = DialogService.Show<NewTripView>("Start Trip", parameters);
            var Data = await result.Result;
            var trip = Data.Data;
        }
        else
        {
            var result = DialogService.Show<UpdateEventView>("Update Event", parameters);
            var Data = await result.Result;
            var ev = Data.Data;
        }

        truckStatusUpdated();
    }

    private void CancelTrip()
    {

    }

    private void ReportBreakDown()
    {

    }

    private void AddConsignment()
    {

    }

    private async Task IsTruckSelected(bool IsOpenChanged)
    {
        if (!IsOpenChanged)
        {
            truckStatusUpdated();
        }
    }


    private void truckStatusUpdated()
    {
        if (SelectedTruck == null)
        {
            HideControls = true;
            HideStatus = true;
            CurrentEvent = null;
            EventType = null;
        }
        else
        {

            CurrentEvent = Ievent.GetCurrentEvent(SelectedTruck.TruckID);
            if (CurrentEvent != null )
            {
                HideStatus = false;
                EventType = Ievent.GetEventType(CurrentEvent.EventTypeID);
            }


            if (EventType != null && EventType.IsBlocking)
            {
                HideControls = true;
            }
            else
            if (EventType == null || EventType.EventStatusText == "UnAssigned")
            {
                HideControls = false;
                HideStatus = true;
                EventButtonLabel = "Start New Trip";

            }
            else
            {
                HideControls = false;
                HideStatus = false;
                EventButtonLabel = "Add Event";
            }
        }
    }
}