@page "/operations"



@inject IBranchService Ibranch
@inject ITruckService Itruck
@inject IDriverService Idriver
@inject ITripService Itrip
@inject IEventService Ievent
@inject IGcService Igc
@inject IPlaceService Iplace
@inject ITruckDocumentService idocument


@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService

@using Pages.Truck
@using Pages.FMS.Breakdown

<div class=opthead>
    <h4>Operations</h4>
</div>
<MudGrid Spacing="4">

    <MudItem xs="12">
        <MudAutocomplete Class="optxtbox" Clearable="true" T="TruckModel" Label="Select Truck" ResetValueOnEmptyText="true" ValueChanged="IsTruckSelected"
                         Value="SelectedTruck" SearchFunc="Search" ToStringFunc="@(e => e == null ? null : $"{e.RegNo}")"></MudAutocomplete>
    </MudItem>
    <MudItem xs="12">
        @if (CurrentTrip != null)
        {
            <MudText hidden="@HideStatus"Class="subbutn" Style="display:inline-block"><MudIcon Icon="@Icons.Filled.ModeOfTravel" Title="Trip Number" Color="Color.Primary" /> @(CurrentTrip?.TripPrefix + CurrentTrip?.TripNumber)</MudText>
        }


        @if (SelectedTruck != null && AssignedDriver == null)
        {
            <MudText Class="subbutn" Style="display:inline-block"><MudIcon Icon="@Icons.Outlined.AssignmentTurnedIn" Title="Driver" Color="Color.Warning" /> UNASSAIGNED</MudText>
        }
        else if (SelectedTruck != null && AssignedDriver != null)
        {
            <MudText Typo="Typo.h4" Style="display:inline-block"><MudIcon Icon="@Icons.Filled.AirlineSeatReclineNormal" Title="Driver" Color="Color.Success" /> @AssignedDriver.DriverName</MudText>
        }
      
    </MudItem>
    


    <MudItem xs="12" md="12" hidden="@HideControls">
        <MudButtonGroup Color="Color.Surface" Variant="Variant.Filled">
            <MudButton StartIcon="@Icons.Material.Filled.AddTask" OnClick="UpdateEvent" IconColor="Color.Default">@EventButtonLabel</MudButton>
            @if (CurrentEvent?.EventTypeID == 2)
            {<MudButton StartIcon="@Icons.Material.Outlined.AddTask" OnClick="AddConsignment" IconColor="Color.Tertiary">Load Consignment</MudButton>}
            <MudButton StartIcon="@Icons.Material.Outlined.PersonAddAlt1" OnClick="AssignDriver" IconColor="Color.Primary">@AssignDriverLabel</MudButton>
            <MudButton StartIcon="@Icons.Material.Filled.ReportProblem" OnClick="ReportBreakDown" IconColor="Color.Secondary">Breakdown/Accident</MudButton>


            @*@if (CurrentTrip != null)
        {
            <MudButton StartIcon="@Icons.Material.Outlined.Cancel" OnClick="CancelTrip" IconColor="Color.Error">Cancel Trip</MudButton>
        }*@
            @*<MudButton StartIcon="@Icons.Material.Outlined.Money" OnClick="AddTransaction" IconColor="Color.Primary">Inc/Exp</MudButton>*@
        </MudButtonGroup>
    </MudItem>
</MudGrid>

<TripManagerView @ref="TripManager"></TripManagerView>


@code{
    [Parameter]
    public TruckModel SelectedTruck { get; set; }

    TripManagerView TripManager;

    private List<TruckModel> Trucks;

    private DriverModel AssignedDriver { get; set; }
    private EventModel CurrentEvent { get; set; }
    private EventTypeModel EventType { get; set; }
    private TripModel CurrentTrip { get; set; }


    string TruckStatus;
    string EventButtonLabel;
    string AssignDriverLabel;

    private bool HideControls { get; set; } = true;
    public bool HideStatus { get; set; } = true;
    private bool DisableEventButton { get; set; } = false;
    private bool DisableCancelButton { get; set; } = true;



    protected override void OnInitialized()
    {
        Trucks = new();
        foreach (var item in Itruck.Select(0))
        {
            Trucks.Add(item);
        }

    }

    private async Task<IEnumerable<TruckModel>> Search(string searchString)
    {
        return await Task.FromResult(Trucks.Where(x => x.RegNo.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }


    private void GetTruckInfo()
    {
    }

    private async Task UpdateEvent()
    {
        if(!IsFit())
        {
            return;
        }

        var parameters = new DialogParameters();
        parameters.Add("Truck", SelectedTruck);
        parameters.Add("AssignedDriver", AssignedDriver);
        parameters.Add("CurrentEvent", CurrentEvent);

        if (EventButtonLabel == "Start New Trip")
        {
            var result = DialogService.Show<NewTripView>("Start Trip", parameters);
            var Data = await result.Result;
            CurrentTrip = (TripModel)Data.Data;
        }
        else
        {
            parameters.Add("CurrentTrip", CurrentTrip);
            var result = DialogService.Show<UpdateEventView>("Update Event", parameters);
            var Data = await result.Result;
            var ev = Data.Data;
        }

        truckStatusUpdated();
    }

    private void CancelTrip()
    {

    }

    private async Task ReportBreakDown()
    {
        int pendingGcs = Igc.SelectPending(CurrentTrip?.TripID).Count();
        if (pendingGcs != 0)
        {
            bool? yesno = await DialogService.ShowMessageBox(
           "Warning",
           pendingGcs+ " Unfinished GCs found.Do you want to Cancel those GCs",
           yesText: "Proceed!", cancelText: "Cancel");
            if(yesno==null)
            {
                return;
            }
        }

        var parameters = new DialogParameters();
        parameters.Add("Truck", SelectedTruck);
        parameters.Add("CurrentTrip",CurrentTrip);
        parameters.Add("PendingGcs", pendingGcs);
        var result = DialogService.Show<BreakdownView>(null,parameters);
        var Data = await result.Result;
        var ev = Data.Data;
        if (!Data.Cancelled)
        {
            truckStatusUpdated();
        }
    }

    private async Task AssignDriver()
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", SelectedTruck);
        parameters.Add("AssignedDriver", AssignedDriver);
        var result = DialogService.Show<AssignDriverView>(AssignDriverLabel, parameters);
        var Data = await result.Result;
        var ev = Data.Data;
        if (!Data.Cancelled)
        {
            AssignedDriver = (DriverModel)ev;
            AssignDriverLabel = AssignedDriver == null ? "Assign Driver" : "Replace Driver";
        }
    }

    private async Task AddConsignment()
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", SelectedTruck);
        parameters.Add("TripID", CurrentTrip.TripID);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        var result = DialogService.Show<Pages.Gc.GcSelectDialog>("Load Consignment", parameters, maxWidth);
        var Data = await result.Result;
        var ev = Data.Data;
        TripManager.LoadGcs(CurrentTrip.TripID);
    }
    private async Task AddTransaction()
    {
        var parameters = new DialogParameters();
        parameters.Add("trip", CurrentTrip);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        var result = DialogService.Show<TransactionDialog>("Inc/Exp", parameters, maxWidth);
        var Data = await result.Result;
        var ev = Data.Data;
        TripManager.LoadTransactions(CurrentTrip);
    }

    private void ViewTransactions(TripModel Trip)
    {
        TripManager.LoadTransactions(CurrentTrip);
    }


    private async Task IsTruckSelected(TruckModel model)
    {
        SelectedTruck = model;
        truckStatusUpdated();
    }

    private bool IsFit()
    {
        var doc = idocument.SelectByTruck(SelectedTruck.TruckID);
        if(doc.Any(x=> x.EndDate < DateTime.Today))
        {
            string[] doctTyps = doc.Where(x => x.EndDate < DateTime.Today).Select(y => y.DocumentTypeName).ToArray();
            snackbar.Add(String.Join(",", doctTyps)+" Expired" , Severity.Error);
            return false;
        }
        return true;
    }


    private void truckStatusUpdated()
    {
        if (SelectedTruck == null)
        {
            HideControls = true;
            HideStatus = true;
            CurrentEvent = null;
            EventType = null;
            CurrentTrip = null;
        }
        else
        {
            int? DriverID = Itruck.GetAssignedDriver(SelectedTruck.TruckID);
            AssignedDriver = DriverID == null ? null : Idriver.SelectByID(DriverID.Value);
            AssignDriverLabel = AssignedDriver == null ? "Assign Driver" : "Replace Driver";
            CurrentEvent = Ievent.GetCurrentEvent(SelectedTruck.TruckID);

            CurrentTrip = null;


            if (CurrentEvent != null)
            {

                HideStatus = false;
                EventType = Ievent.GetEventType(CurrentEvent.EventTypeID);

                CurrentTrip = Itrip.Select(CurrentEvent.TripID);

                string TruckStatusAppend;
                if (!EventType.IsStationary)
                {
                    TruckStatusAppend = " From " + CurrentEvent.OriginName + " To " + CurrentEvent.DestinationName;
                }
                else
                {
                    TruckStatusAppend = " At " + CurrentEvent.OriginName;
                }

                TruckStatus = EventType?.EventStatusText + " On " + @CurrentEvent?.EventTime + TruckStatusAppend + " (Reported by " + Ibranch.GetBranchName(CurrentEvent.BranchID) + ")";

            }

            if (EventType != null && EventType.IsBlocking)
            {
                HideControls = true;
            }
            else
            if (EventType == null || EventType.EventStatusText == "UnAssigned")
            {
                HideControls = false;
                HideStatus = true;
                EventButtonLabel = "Start New Trip";

            }
            else
            {
                HideControls = false;
                HideStatus = false;
                EventButtonLabel = "Update Status";
            }
        }

        TripManager.LoadAll(CurrentTrip);
    }

}