@inject IOpTranService Itransaction
@inject ITariffService Itariff

@inject IDialogService DialogService

@foreach (var item in Transactions)
{
    <div class="mt-4">

        @if (Trip != null)
        {
            <MudText Typo="Typo.h5">
                TripNumber: @{
                    @Trip.TripPrefix
                    @Trip.TripNumber
                }
            </MudText>
        }
        else if (Jobcard != null)
        {
            <MudText Typo="Typo.h5">
                Jobcard: @Jobcard.JobcardNumber
            </MudText>
        }

        <div class="d-flex">
            <MudText Typo="Typo.h5" Class="text-secondary">
                Date of Entry:  @item.TransactionDate?.ToString("dd-MMM-yyyy")
            </MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="(()=>EditTransaction(item))"></MudIconButton>
        </div>
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Head</th>
                    <th>Qty</th>
                    <th>As Per Norms</th>
                    <th>Actually Incurred</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in item.Transactions)
                {
                    <tr>
                        <td>@(TariffTypes.First(x => x.TariffTypeID == sub.TariffTypeID).TariffTypeName)</td>
                        <td>@{

                                @sub.Quantity @sub.Unit
                            }</td>
                        <td>@sub.AmountAsPerNorms?.ToString("C2")</td>
                        <td>@((sub.Sign * sub.Amount)?.ToString("C2"))</td>
                        <td>@(Math.Round((sub.Amount-sub.AmountAsPerNorms).Value,2))</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {

    [Parameter]
    public TripModel Trip { get; set; }
    private TripModel _trip;

    [Parameter]
    public JobcardModel Jobcard { get; set; }
    private JobcardModel _jobcard;

    private List<OpTranModel> Transactions = new();
    private List<TariffTypeModel> TariffTypes = new();


    protected async override Task OnInitializedAsync()
    {
        TariffTypes = Itariff.SelectTariffTypes("All").ToList();
    }


    protected async override Task OnParametersSetAsync()
    {
        if (_trip?.TripID != Trip?.TripID || _jobcard?.JobcardID!= Jobcard?.JobcardID)
        {
            _trip = new TripModel { TripID = Trip?.TripID };
            _jobcard = new JobcardModel { JobcardID = Jobcard?.JobcardID };
            Refresh();
        }
    }


    public void Refresh()
    {
        if (Trip != null)
        {
            Transactions = Itransaction.SelectByTrip(Trip?.TripID).ToList();
        }
        else if (Jobcard != null)
        {
            Transactions = Itransaction.SelectByJobcard(Jobcard?.JobcardID).ToList();
        }
        else
        {
            Transactions = new();
        }
    }

    private async Task EditTransaction(OpTranModel item)
    {
        var parameters = new DialogParameters();
        parameters.Add("model", item);
        if(Trip!= null)
            parameters.Add("Trip", Trip);
        if(Jobcard != null)
            parameters.Add("Jobcard", Jobcard);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<TransactionDialog>("Inc/Exp", parameters, maxWidth);
        var result = await dialog.Result;
        var ev = result.Data;
        if (!result.Cancelled)
        {
            Refresh();
        }
    }

}
