@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IBranchService brIservice
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice
@inject IInventoryItemService IsInvService
@inject IEventService Ievent
@inject ITruckService Itruck
@inject IDriverService Idriver
@inject IGcService Igc
@using Core.BaseModels.Finance.Transactions;
@using Views.Pages.Operations.Gc
@using Pages.Operations.Expenses

@using System.Threading;
@inject IRoleService<RoleModel> Irole

<MudCard Class="mt-3" Style="height:auto" Elevation="4">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Tertiary"><MudIcon Icon="@Icons.Material.Filled.ModeOfTravel" Title="Trip Number" Color="Color.Primary" /></MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.h5" GutterBottom="true">
                        <b> @(Trip != null ? (Trip.TripPrefix + Trip.TripNumber) : "")</b>
                    </MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.h5" GutterBottom="true">
                        <MudIcon Icon="@Icons.Material.Filled.AirlineSeatReclineNormal" Title="Driver" Color="Color.Primary" />
                        <b>@TripInfoMdl?.Driver</b>
                    </MudText>
                </MudItem>
            </MudGrid>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudTooltip Text="Add Fuel">
                <MudIconButton Icon="@Icons.Material.Filled.LocalGasStation" Disabled="@IsLocked" Size="Size.Large" Color="Color.Success" @onclick="@(()=> OpenFuelForm())" />
            </MudTooltip>
            <MudTooltip Text="Add Expenses">
                <MudIconButton Icon="@Icons.Material.Filled.MenuBook" Disabled="@IsLocked" Color="Color.Success" Size="Size.Large" @onclick="@(()=> OpenExpenseForm())" />
            </MudTooltip>
            <MudTooltip Text="Add Mileage Shortage Receipt">
                <MudIconButton Icon="@Icons.Material.Filled.Toll" Disabled="@IsLocked" Color="Color.Success" Size="Size.Large" @onclick="@(()=> OpenMileageShortageReceipt())" />
            </MudTooltip>
            <MudSwitch Checked="@IsLocked" CheckedChanged="((bool value)=>TripLocked(value))" Color="Color.Primary" Label="Trip Locked" />
        </CardHeaderActions>

    </MudCardHeader>

    <MudCardContent>
        <MudTabs Rounded="true" MinimumTabWidth="40px" Color="@Color.Transparent" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext" Class="shadow-sm shadow border-0 border">
            <MudTabPanel ToolTip="Trip Info" Icon="@Icons.Material.Filled.Info">
                <div class="TabStyle">
                    <MudList Style="width:700px">
                        <MudGrid>
                            <MudItem md="5">
                                <MudListItem Avatar="@Icons.Material.Filled.DateRange" IconColor="Color.Primary">
                                    <b>@Trip?.TripDate?.ToString("dd/MM/yyyy")</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.GasMeter" IconColor="Color.Primary">
                                    Running Km : <b>@TripInfoMdl?.RunKM</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Construction" IconColor="Color.Primary">
                                    Total Fuel :<b>@TripInfoMdl?.Fuel</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Construction" IconColor="Color.Primary">
                                    Total Expense :<b>@TripInfoMdl?.Expenses</b>
                                </MudListItem>
                            </MudItem>

                            <MudItem md="5">
                                <MudListItem Avatar="@Icons.Material.Filled.FireTruck" IconColor="Color.Primary">
                                    <b>@TripInfoMdl?.Truck</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.EditRoad" IconColor="Color.Primary">
                                    Mileage :<b>@TripInfoMdl?.Mileage</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Filled.Money" IconColor="Color.Primary">
                                    Total Frieght :<b>@TripInfoMdl?.Freight</b>
                                </MudListItem>
                            </MudItem>
                        </MudGrid>

                    </MudList>
                    @*    </MudPaper>*@
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Events" Icon="@Icons.Material.Filled.Event" OnClick="EventTabSelected">
                <div class="TabStyle">
                    @if (IsEventSelected)
                    {
                        <TripEventsComponent Trip="@Trip" OnEventCount="@OnEventCount" IsLocked="@IsLocked"></TripEventsComponent>
                    }
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Consignments" OnClick="GcTabSelected" Icon="@Icons.Material.Filled.Backpack">
                <div class="TabStyle">
                    @if (AssignedGCs != null)
                    {
                        <MudGrid>
                            @foreach (var gc in AssignedGCs)
                            {
                                <MudItem xs="6" lg="6" md="6">
                                    <GcItemCard item="gc" Style="@($"background:{Colors.Purple.Lighten5};")" IsLocked="@IsLocked"></GcItemCard>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Frieght" Icon="@Icons.Material.Filled.Money" OnClick="FreightTabSelected">
                <div class="TabStyle">
                    <MudGrid>
                        <MudItem md="12">
                            <MudTable Items="@TarifList" Dense="true" Hover="true" Striped="true">
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.GcNumber)" InitialDirection="SortDirection.Ascending">GC No</MudTableSortLabel></MudTh>
                                    <MudTh Style="width:180px;"><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.TariffTypeName)" InitialDirection="SortDirection.Ascending">Tarif type Name</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Gc Number">@context.GcNumber</MudTd>
                                    <MudTd DataLabel="Tariff Type Name">@context.TariffTypeName</MudTd>
                                    <MudTd DataLabel="Amount">@context.Amount</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                    </MudGrid>
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Expenses" Icon="@Icons.Material.Filled.Receipt" OnClick="ExpenseTabSelected">
                <div class=" TabStyle">
                    <MudTable Elevation="0" Items="@OptranList" Dense="true" Hover="true" Striped="true">

                        <HeaderContent>
                            <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document No</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Doc Date</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                            <MudTd DataLabel="DocumnetDtae">@Convert.ToDateTime(@context.DocumentDate).ToString("dd/MM/yyyy")</MudTd>
                            <MudTd DataLabel="Amount">@context.TotalAmount</MudTd>
                            <MudTd DataLabel="">
                                <MudFab @onclick="@(()=> OpenExpenseForm(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Numbers" Size="Size.Small" IconSize="Size.Small" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Fuel Entries" Icon="@Icons.Material.Filled.ReadMore" OnClick="FuelTabSelected">
                <div class="TabStyle">
                    <MudTable Elevation="0" Items="@TFuelList" Dense="true" Hover="true" Striped="true">

                        <HeaderContent>
                            <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.EntryDate)" InitialDirection="SortDirection.Ascending">Entry Date</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.FuelItemID)" InitialDirection="SortDirection.Ascending">Item</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.Quantity)" InitialDirection="SortDirection.Ascending">Quantity</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.RatePerLitre)" InitialDirection="SortDirection.Ascending">Rate/Ltr</MudTableSortLabel></MudTh>
                            @*<MudTh>Actions</MudTh>*@
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="EntryDate">@Convert.ToDateTime(@context.EntryDate).ToString("dd/MM/yyyy")</MudTd>
                            <MudTd DataLabel="Item">@context.FuelItemID</MudTd>
                            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                            <MudTd DataLabel="Frieght">@context.RatePerLitre</MudTd>
                            @*    <MudTd DataLabel="">
                            <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                            </MudTd>*@
                        </RowTemplate>
                        @* <FooterContent>
                        <MudText>Total Frieght</MudText>
                        </FooterContent>*@
                    </MudTable>

                </div>
            </MudTabPanel>
        </MudTabs>
    </MudCardContent>
</MudCard>
@code {

    [Parameter]
    public TripModel Trip { get; set; }
    [Parameter]
    public bool IsLocked { get; set; } = false;
    string UserID;
    private int? EventCount = 0;
    protected void OnEventCount(int? eventCount)
    {
        EventCount = eventCount;
    }
    private List<OpTranModel> OptranList = new();
    private List<TripFuelModel> TFuelList = new();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };


    public List<GcSetModel> AssignedGCs { get; set; }
    private List<GcTariffModel> TarifList = new();
    private TripInfoModel TripInfoMdl = new();
    private bool IsEventSelected = false;

    public bool HasPermissionTripFuelServiceEdit { get; set; } = false;
    public int DocTypeID = 40;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTripFuelServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;

        if (Trip != null)
        {
            TripInfoMdl = tripIservice.GetTripInfo(Trip.TripID);
        }
    }


    public void GcTabSelected()
    {
        LoadGcs();
    }


    public void FreightTabSelected()
    {
        TarifList = tripIservice.GetTariffs(Trip.TripID).ToList();
    }


    public void EventTabSelected()
    {
        IsEventSelected = true;
    }


    public void ExpenseTabSelected()
    {
        OptranList = Iservice.SelectByTrip(Trip.TripID).ToList();
    }


    public void FuelTabSelected()
    {
        TFuelList = tripFuelIservice.SelectByTrip(Trip.TripID).ToList();
    }


    private async Task OpenExpenseForm(OpTranModel opModel = null)
    {
        DialogParameters parms = new DialogParameters();
        if (opModel == null)
        {
            opModel = new OpTranModel() { TripID = Trip.TripID, TruckID = Trip.TruckID, PaymentMode = "Cash", Area = "Operation" };
        }
        else
        {
            parms.Add("ReadOnly", true);
        }
        parms.Add("model", opModel);
        var dialog = DialogService.Show<Finance.Transactions.OpTranDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
    }


    private async Task OpenMileageShortageReceipt(MileageShortageReceiptModel omsrModel = null)
    {
        DialogParameters parms = new DialogParameters();
        if (omsrModel == null)
        {
            omsrModel = new MileageShortageReceiptModel()
                {
                    TripID = Trip.TripID,
                    TripNo = (Trip.TripPrefix + Trip.TripNumber.ToString()),
                    DriverID = Trip.DriverID,
                    ReceiptMode = "Cash",
                    RunningKM = TripInfoMdl?.RunKM ?? 0,
                    ConsumedFuel = TripInfoMdl?.Fuel ?? 0
                };
        }
        else
        {
            parms.Add("ReadOnly", true);
        }
        parms.Add("model", omsrModel);
        var dialog = DialogService.Show<Finance.Transactions.MileageShortageReceiptDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
    }


    public void LoadGcs()
    {
        if (Trip == null)
            AssignedGCs = null;
        else
            AssignedGCs = Igc.SelectByTrip(Trip.TripID);
    }


    private async Task OpenFuelForm()
    {
        if (HasPermissionTripFuelServiceEdit)
        {
            DialogParameters parms = new DialogParameters();
            parms.Add("Tmodel", new TripFuelModel() { TripID = Trip.TripID });
            var dialog = DialogService.Show<TripsFuelDialog>("ADD FUEL", parms, maxWidth);
            var result = await dialog.Result;
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                      "Permission denied!",
                      "You dont have any permission to Add or Edit TripFuel.");
        }
    }

    private void TripLocked(bool value)
    {
        IsLocked = value;
        tripIservice.LockedTrip(Trip.TripID, true, UserID);
    }

}
