@using System.Threading;
@using Core.BaseModels.Finance.Transactions;
@using Views.Pages.Operations.Gc
@using Pages.Operations.Expenses
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IBranchService brIservice
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice
@inject IInventoryItemService IsInvService
@inject IEventService Ievent
@inject ITruckService Itruck
@inject IDriverService Idriver
@inject IGcService Igc
@inject IRoleService<RoleModel> Irole
@inject IMileageShortageReceiptService IMileageService

<MudCard Class="mt-3" Style="height:auto" Elevation="4">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Dark" Size="Size.Medium">
                <MudIcon Icon="@Icons.Material.Filled.ModeOfTravel" Title="Trip Number" Color="Color.Warning" />
                </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent> 
                    <MudText Typo="Typo.h6" GutterBottom="true">
                        <b>@(Trip != null ? Trip.TripNumberDisplay : "")</b>
                <MudSwitch Checked="@IsLocked" CheckedChanged="((bool value)=>TripLocked(value))" Color="Color.Error" Label="Trip Locked" />
                    </MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudTooltip Text="Add Fuel">
                <MudIconButton Icon="@Icons.Material.Filled.LocalGasStation" Disabled="@IsLocked" Size="Size.Large" Color="Color.Primary" @onclick="@(()=> OpenFuelForm())" />
            </MudTooltip>
            <MudTooltip Text="Add Expenses">
                <MudIconButton Icon="@Icons.Material.Filled.MenuBook" Disabled="@IsLocked" Color="Color.Primary" Size="Size.Large" @onclick="@(()=> OpenExpenseForm())" />
            </MudTooltip>
            <MudTooltip Text="Add Mileage Shortage Receipt">
                <MudIconButton Icon="@Icons.Material.Filled.Toll" Disabled="@IsLocked" Color="Color.Primary" Size="Size.Large" @onclick="@(()=> OpenMileageShortageReceipt())" />
            </MudTooltip>
          
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudTabs Rounded="true" MinimumTabWidth="40px" Color="@Color.Transparent" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext" Class="shadow-sm shadow border-0 border">
            <MudTabPanel ToolTip="Trip Info" Icon="@Icons.Material.Filled.Info">
                <div class="TabStyle">
                    <MudList Style="width:700px">
                        <MudGrid>
                            <MudItem md="6">
                                <MudListItem Avatar="@Icons.Material.Rounded.DateRange"   IconColor="Color.Dark" IconSize="Size.Small">
                                    <b>@Trip?.TripDate?.ToString("dd/MM/yyyy")</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.GasMeter" IconColor="Color.Dark" IconSize="Size.Small">
                                    Running Km : <b>@TripInfoMdl?.RunKM</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.Construction" IconColor="Color.Dark" IconSize="Size.Small">
                                    Total Fuel :<b>@TripInfoMdl?.Fuel</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.Construction" IconColor="Color.Dark" IconSize="Size.Small">
                                    Total Expense :<b>@TripInfoMdl?.Expenses</b>
                                </MudListItem>
                            </MudItem>
                            <MudItem md="6">
                                <MudListItem Avatar="@Icons.Material.Rounded.FireTruck" IconColor="Color.Dark" IconSize="Size.Small">
                                    <b>@TripInfoMdl?.Truck</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.AirlineSeatReclineNormal" IconColor="Color.Dark" IconSize="Size.Small">
                                    <b>@TripInfoMdl?.Driver</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.EditRoad" IconColor="Color.Dark" IconSize="Size.Small">
                                    Mileage :<b>@TripInfoMdl?.Mileage</b>
                                </MudListItem>
                                <MudListItem Avatar="@Icons.Material.Rounded.Money" IconColor="Color.Dark" IconSize="Size.Small">
                                    Total Frieght :<b>@TripInfoMdl?.Freight</b>
                                </MudListItem>
                            </MudItem>
                        </MudGrid>
                    </MudList>
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Events" Icon="@Icons.Material.Filled.Event" OnClick="EventTabSelected">
                <div class="TabStyle">
                    @if (IsEventSelected)
                    {
                        <TripEventsComponent Trip="@Trip" IsLocked="@IsLocked"></TripEventsComponent>
                    }
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Consignments" OnClick="GcTabSelected" Icon="@Icons.Material.Filled.Backpack">
                <div class="TabStyle">
                    @if (AssignedGCs != null)
                    {
                        <MudGrid>
                            @foreach (var gc in AssignedGCs)
                            {
                                <MudItem xs="6" lg="6" md="6">
                                    <GcItemCard item="gc" Style="@($"background:{Colors.Purple.Lighten5};")" IsLocked="@IsLocked"></GcItemCard>
                                </MudItem>
                            }
                        </MudGrid>
                    }
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Frieght" Icon="@Icons.Material.Filled.Money" OnClick="FreightTabSelected">
                <div class="TabStyle">
                    <MudGrid>
                        <MudItem md="12">
                            <MudTable Items="@TarifList" Dense="true" Hover="true" Striped="true">
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.GcNumber)" InitialDirection="SortDirection.Ascending">GC No</MudTableSortLabel></MudTh>
                                    <MudTh Style="width:180px;"><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.TariffTypeName)" InitialDirection="SortDirection.Ascending">Tarif type Name</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Gc Number">@context.GcNumber</MudTd>
                                    <MudTd DataLabel="Tariff Type Name">@context.TariffTypeName</MudTd>
                                    <MudTd DataLabel="Amount">@context.Amount</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudItem>
                    </MudGrid>
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Expenses" Icon="@Icons.Material.Filled.Receipt" OnClick="ExpenseTabSelected">
                <div class=" TabStyle">
                    <MudTable Elevation="0" Items="@OptranList" Dense="true" Hover="true" Striped="true">
                        <HeaderContent>
                            <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<OpTranSubModel, object>(x=> x.ExpenseTitle)" InitialDirection="SortDirection.Ascending">Operation Head </MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<OpTranSubModel, object>(x=> x.Reference)" InitialDirection="SortDirection.Ascending">Refernce</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<OpTranSubModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                            <MudTh>Actions</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="ExpenseTitle">@context.ExpenseTitle</MudTd>
                            <MudTd DataLabel="Reference">@context.Reference</MudTd>
                            <MudTd DataLabel="Amount">@context.Amount</MudTd>
                            <MudTd DataLabel="">
                                <MudFab @onclick="@(()=> OpenExpenseForm(context.OpTranID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Numbers" Size="Size.Small" IconSize="Size.Small" />
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            </MudTabPanel>
            <MudTabPanel ToolTip="Fuel & AdBlue Entries" Icon="@Icons.Material.Filled.ReadMore" OnClick="FuelTabSelected">
                <div class="TabStyle">
                    <MudTable Elevation="0" Items="@TFuelList" Dense="true" Hover="true" Striped="true">
                        <HeaderContent>
                            <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.EntryDate)" InitialDirection="SortDirection.Ascending">Entry Date</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.ItemType)" InitialDirection="SortDirection.Ascending">Item Type</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.FuelItemDescription)" InitialDirection="SortDirection.Ascending">Fuel Type</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.Quantity)" InitialDirection="SortDirection.Ascending">Quantity</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.RatePerLitre)" InitialDirection="SortDirection.Ascending">Rate/Ltr</MudTableSortLabel></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="EntryDate">@Convert.ToDateTime(@context.EntryDate).ToString("dd/MM/yyyy")</MudTd>
                            <MudTd DataLabel="ItemType">@context.ItemType</MudTd>
                            <MudTd DataLabel="FuelType">@context.FuelItemDescription</MudTd>
                            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                            <MudTd DataLabel="Frieght">@context.RatePerLitre</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            </MudTabPanel>

            @* <MudTabPanel ToolTip="Mileage Shortage Receipt" Icon="@Icons.Material.Filled.ReceiptLong" OnClick="MileageTabSelected">
            <div class="TabStyle">
            <MudTable Elevation="0" Items="@MileageList" Dense="true" Hover="true" Striped="true">
            <HeaderContent>
            <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document No</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.RunningKM)" InitialDirection="SortDirection.Ascending">Running KM</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.ConsumedFuel)" InitialDirection="SortDirection.Ascending">Consumed Fuel</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.AllottedMileage)" InitialDirection="SortDirection.Ascending">Alloted Mileage</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.AllottedDistance)" InitialDirection="SortDirection.Ascending">Alloted Distance</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.FuelPrice)" InitialDirection="SortDirection.Ascending">Fuel Price</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MileageShortageReceiptModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
            <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
            <MudTd DataLabel="RunningKM">@context.RunningKM</MudTd>
            <MudTd DataLabel="ConsumedFuel">@context.ConsumedFuel</MudTd>
            <MudTd DataLabel="AllottedMileage">@context.AllottedMileage</MudTd>
            <MudTd DataLabel="AllottedDistance">@context.AllottedDistance</MudTd>
            <MudTd DataLabel="FuelPrice">@context.FuelPrice</MudTd>
            <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
            </RowTemplate>
            </MudTable>
            </div>
            </MudTabPanel> *@

            <MudTabPanel ToolTip="Mileage Shortage Receipt" Icon="@Icons.Material.Filled.ReceiptLong" OnClick="MileageTabSelected">
                <div class="TabStyle">
                    <MudList Style="width:700px">
                        @if (MileageList.Count > 0)
                        {
                            <MudGrid>
                                <MudItem md="6">
                                    <MudListItem >
                                        Document Number : <b>@MileageList[0].DocumentNumber</b>
                                    </MudListItem>
                                    <MudListItem >
                                        Running Km : <b>@MileageList[0].RunningKM</b>
                                    </MudListItem>
                                    <MudListItem >
                                        Consumed Fuel :<b>@MileageList[0].ConsumedFuel</b>
                                    </MudListItem>
                                    <MudListItem >
                                        Allotted Mileage :<b>@MileageList[0].AllottedMileage</b>
                                    </MudListItem>
                                </MudItem>
                                <MudItem md="6">
                                    <MudListItem >
                                        Allotted Distance : <b>@MileageList[0].AllottedDistance</b>
                                    </MudListItem>
                                    <MudListItem >
                                        Fuel Price :<b>@MileageList[0].FuelPrice</b>
                                    </MudListItem>
                                    <MudListItem >
                                        Total Amount :<b>@MileageList[0].TotalAmount</b>
                                    </MudListItem>
                                </MudItem>
                            </MudGrid>
                        }
                    </MudList>
                </div>
            </MudTabPanel>

        </MudTabs>
    </MudCardContent>
</MudCard>

@code {

    [Parameter]
    public TripModel Trip { get; set; }
    [Parameter]
    public bool IsLocked { get; set; } = false;
    string UserID;
    private int? EventCount = 0;
    private bool _busy;

    protected void OnEventCount(int? eventCount)
    {
        EventCount = eventCount;
    }
    private List<OpTranSubModel> OptranList = new();
    private List<TripFuelModel> TFuelList = new();
    private List<MileageShortageReceiptModel> MileageList = new();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };
    public List<GcSetModel> AssignedGCs { get; set; }
    private List<GcTariffModel> TarifList = new();
    private TripInfoModel TripInfoMdl = new();
    private bool IsEventSelected = false;

    public bool HasPermissionTripFuelServiceEdit { get; set; } = false;
    public int DocTypeIDTripFuel = 40;

    public bool HasPermissionTripServiceEnableLock { get; set; } = false;
    public bool HasPermissionTripServiceDisableLock { get; set; } = false;
    public int DocTypeIDTrip = 39;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTripFuelServiceEdit = await Irole.HasClaim(DocTypeIDTripFuel.ToString(), "Edit", ctc.Token);
        HasPermissionTripServiceEnableLock = await Irole.HasClaim(DocTypeIDTrip.ToString(), "EnableLock", ctc.Token);
        HasPermissionTripServiceDisableLock = await Irole.HasClaim(DocTypeIDTrip.ToString(), "DisableLock", ctc.Token);
        var authprov = await auth.GetAuthenticationStateAsync();
        UserID = authprov.User.Identity.Name;
        if (Trip.TripID != null)
        {
            TripInfoMdl = tripIservice.GetTripInfo(Trip.TripID);
        }
    }

    public void Refresh(TripModel Trip)
    {
        if (Trip.TripID != null && tripIservice != null)
        {
            TripInfoMdl = tripIservice.GetTripInfo(Trip.TripID);
        }
    }

    public void GcTabSelected()
    {
        LoadGcs();
    }

    public void FreightTabSelected()
    {
        TarifList = tripIservice.GetTariffs(Trip.TripID).ToList();
    }

    public void EventTabSelected()
    {
        IsEventSelected = true;
    }

    public void ExpenseTabSelected()
    {
        OptranList = new();
        var OpList = Iservice.SelectByTrip(Trip.TripID).ToList();
        foreach (var item in OpList)
        {
            OptranList.AddRange(Iservice.GetExpenses(item.OpTranID) .Where(x=> x.Amount > 0).ToList());
        }

    }

    public void FuelTabSelected()
    {
        TFuelList = tripFuelIservice.SelectByTrip(Trip.TripID).ToList();
    }

    public void MileageTabSelected()
    {
        MileageList = IMileageService.SelectByTripID(Trip.TripID).ToList();
    }

    private async Task OpenExpenseForm(long? OpTranID = null)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        OpTranModel opModel;

        DialogParameters parms = new DialogParameters();
        if (OpTranID != null)
        {
            opModel = Iservice.SelectByID(OpTranID);
            parms.Add("ReadOnly", true);
        }
        else
        {
            opModel = new OpTranModel() { TripID = Trip.TripID, TruckID = Trip.TruckID, PaymentMode = "Cash", Area = "Operation" };
        }

        parms.Add("model", opModel.Clone());
        var dialog = DialogService.Show<Finance.Transactions.OpTranDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
        await Task.Delay(200);
        _busy = false;
    }

    private async Task OpenMileageShortageReceipt(MileageShortageReceiptModel omsrModel = null)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        if (omsrModel == null)
        {
            omsrModel = new MileageShortageReceiptModel()
                {
                    TripID = Trip.TripID,
                    TripNo = (Trip.TripNumberDisplay.ToString()),
                    DriverID = Trip.DriverID,
                    ReceiptMode = "Cash",
                    RunningKM = TripInfoMdl?.RunKM ?? 0,
                    ConsumedFuel = TripInfoMdl?.Fuel ?? 0
                };
        }
        else
        {
            parms.Add("ReadOnly", true);
        }
        parms.Add("model", omsrModel.Clone());
        var dialog = DialogService.Show<Finance.Transactions.MileageShortageReceiptDialog>("ADD", parms, maxWidth);
        var result = await dialog.Result;
        await Task.Delay(200);
        _busy = false;
    }

    public void LoadGcs()
    {
        if (Trip == null)
            AssignedGCs = null;
        else
            AssignedGCs = Igc.SelectByTrip(Trip.TripID);
    }

    private async Task OpenFuelForm()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionTripFuelServiceEdit)
        {
            DialogParameters parms = new DialogParameters();
            parms.Add("Tmodel", new TripFuelModel() { TripID = Trip.TripID, TruckID = Trip.TruckID });
            var dialog = DialogService.Show<TripsFuelDialog>("ADD FUEL", parms, maxWidth);
            var result = await dialog.Result;
            var isCancel = result.Canceled;
            if (!isCancel)
            {
                TripFuelModel UpdatedModel = (TripFuelModel)result.Data;
                TFuelList.Add(UpdatedModel);
            }
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit TripFuel.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task TripLocked(bool value)
    {
        if (!value)
        {
            if (HasPermissionTripServiceDisableLock)
            {
                IsLocked = value;
                tripIservice.LockedTrip(Trip.TripID, false, UserID);
            }
            else
            {
                bool? ResultModel = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You dont have any permission to Disable Lock Trip.");
            }
        }
        if (value)
        {
            if (HasPermissionTripServiceEnableLock)
            {
                IsLocked = value;
                tripIservice.LockedTrip(Trip.TripID, true, UserID);
            }
            else
            {
                bool? ResultModel = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You dont have any permission to Enable Lock Trip.");
            }
        }
    }
}