@using Views.Pages.Operations.Gc
@inject IGcService Igc
@inject IEventService Ievent
@inject ITruckService Itruck
@inject ITripService Itrip
@inject IDialogService DialogService

@if (CancelledStatus != string.Empty)
{
    <MudItem xs="12">
        <MudPaper Style="padding:20px; margin:18px 0px; text-align-last: center; background-color:#ff969c;">
            <MudText Typo="Typo.h5" Style="display:inline-block;" Class="text-uppercase text-danger"><b>@CancelledStatus</b></MudText>
        </MudPaper>
    </MudItem>
}
<MudGrid Class="mt-4">
    <MudItem xs="12" md="6">
        <MudCard Class="dashboard-card" Elevation="0">
            <MudCardHeader Class="dashboard-header">
                <CardHeaderContent>
                    <div class="d-flex align-center">
                        <MudBadge Content="@EventCount" Color="Color.Error" Overlap="true" Class="d-flex mr-3">
                            <MudIcon Icon="@Icons.Material.Filled.AccessTimeFilled" Color="Color.Tertiary" Size="Size.Large" />
                        </MudBadge>
                        <MudText Typo="Typo.h6" Color="Color.Tertiary"><b>Trip Timeline</b></MudText>
 <MudSpacer></MudSpacer>                      
                        <MudText Typo="Typo.h6" Color="Color.Tertiary"><b> <i class="fa-solid fa-truck"></i> @Truck?.RegNo @TruckStatus</b></MudText>
                    </div>                    
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent Class="pa-4">
                <TripEventsComponent Trip="@_trip"></TripEventsComponent>
            </MudCardContent>
        </MudCard>
    </MudItem>

    @if (AssignedGCs != null)
    {
        <MudItem xs="12" md="6">
             <MudCard Class="dashboard-card" Elevation="0">
                <MudCardHeader Class="dashboard-header">
                    <CardHeaderContent>
                        <div class="d-flex align-center">
                            <MudBadge Content="@(AssignedGCs.Count)" Color="Color.Error" Overlap="true" Class="d-flex mr-3">
                                <MudIcon Icon="@Icons.Material.Filled.Event" Color="Color.Tertiary" Size="Size.Large" />
                            </MudBadge>
                            <MudText Typo="Typo.h6" Color="Color.Tertiary"><b>Assigned Consignments</b></MudText>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="pa-4">
                    <MudGrid Spacing="4">
                        @foreach (var gc in AssignedGCs)
                        {
                            <MudItem xs="12">
                                <GcItemCard IsLoading="Isloading" item="gc" Style="@($"background:{Colors.Shades.White}; border: 1px solid #e0e0e0;")" OnGcRemoved="gcRemoved"></GcItemCard>
                            </MudItem>
                        }
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code {

    [Parameter]
    public TripModel Trip { get; set; }    

    private TripModel _trip
    {
        get { return Trip; }
        set
        {
            if (Trip?.TripID != value?.TripID)
            {
                Trip = value;                
            }
        }
    }    

    [Parameter]
    public EventCallback<EventModel> OnTripStatusUpdated { get; set; }

    private bool hidden = false;
    private TruckModel Truck;
    private List<EventModel> TripEvents = new();
    private List<EventTypeModel> EventTypes = new();
    private int? EventID = 0;
    public List<GcSetModel> AssignedGCs { get; set; }
    public string TruckStatus;
    private string CancelledStatus;
    private bool Isloading = false;
    private int? EventCount = 0;


    protected override void OnInitialized()
    {
        hidden = false;
        LoadAll();
        OnTripStatusUpdated.InvokeAsync();
    }

    protected void gcRemoved(long? gcSetID)
    {
        AssignedGCs.RemoveAll(x => x.GcSetID == gcSetID);
    }

    public void LoadAll()
    {
        if (Trip != null)
        {
            hidden = false;
            if (Itrip.Select(Trip.TripID)?.UserInfo.RecordStatus == 4)
            {
                CancelledStatus = "Cancelled";
            }
            else
            {
                CancelledStatus = string.Empty;
            }
        }
        else
        {
            hidden = true;
        }
        Truck = Itruck.SelectByID(_trip?.TruckID);
        EventCount = null;
        if (Trip != null)
        {
            var eventList = Ievent.SelectByTrip(Trip.TripID).ToList();
            EventCount = eventList.Count();
        }

        LoadGcs();
        IsLoading();
    }

    public void LoadAllUsingCurrentTrip(TripModel CurrentTrip)
    {
        if (CurrentTrip != null)
        {
            Trip = CurrentTrip;
            if (Trip != null)
            {
                var eventList = Ievent.SelectByTrip(Trip.TripID).ToList();
                EventCount = eventList.Count();
            }
            hidden = false;
            if (Itrip.Select(CurrentTrip.TripID)?.UserInfo.RecordStatus == 4)
            {
                CancelledStatus = "Cancelled";
            }
            else
            {
                CancelledStatus = string.Empty;
            }
        }
        else
        {
            hidden = true;
        }
        Truck = Itruck.SelectByID(CurrentTrip?.TruckID);
        LoadGcs();
        IsLoading();
        StateHasChanged();
    }

    public void LoadGcs()
    {
        if (Trip == null)
            AssignedGCs = null;
        else
            AssignedGCs = Igc.SelectByTrip(Trip.TripID);
    }

    // To check whether truck is in loading status currently and enable Gc removal button
    // Also invoke Tripstatus Changed method
    public void IsLoading()
    {
        if (Trip != null)
        {
            EventModel ev = Ievent.GetCurrentEvent(Trip.TruckID);
            //await OnTripStatusUpdated.InvokeAsync(ev);
            Isloading = ev?.EventTypeID == 2;
        }
    }

    private async Task UpdateEvent(EventModel ev)
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", Truck);
        parameters.Add("CurrentTrip", Itrip.Select(ev.TripID));
        parameters.Add("model", ev.Clone());
        var result = await DialogService.ShowAsync<UpdateEventView>("Edit Event", parameters);
        var Data = await result.Result;
        if (!Data.Canceled)
        {
            ev = (EventModel)Data.Data;
            // await OnTripStatusUpdated.InvokeAsync(ev);
            IsLoading();
            //  await RefreshEvents();
        }
    }
}
