@inject IEventService Ievent
@inject IDialogService DialogService

<style>
    .timelineCard, .timelineCard::after {
        background: #ffebd8;
        border: 1px solid #ffebd8;
    }
</style>

@if (TripEvents.Count > 0)
{
    <MudTimeline>
        @foreach (var item in TripEvents)
        {
            string timetext;
            DateTime today = DateTime.Today;

            @if (item.EventTime?.Date == today)
            {
                timetext = "Today " + item.EventTime?.ToString("hh:mm tt");
            }
            else if (item.EventTime?.Date.AddDays(1) == today)
            {
                timetext = "YesterDay " + item.EventTime?.ToString("hh:mm tt");
            }
            else
            {
                timetext = item.EventTime?.ToString("ddd dd-MMM-yyyy hh:mm tt");
            }
            EventTypeModel et = EventTypes.FirstOrDefault(x => x.EventTypeID == item.EventTypeID);
            <MudTimelineItem Color="Color.Success" Elevation="10" TimelineAlign="TimelineAlign.End">
                <ItemOpposite>
                    <MudText Color="Color.Dark" Typo="Typo.h6">@timetext</MudText>
                </ItemOpposite>
                <ItemContent>
                <ItemContent>
                        <MudCard Elevation="0" Class="pa-2 timelineCard">
                        <MudCardContent>
                            <div class="d-flex justify-space-between align-center">
                                <MudText Typo="Typo.subtitle2" Color="Color.Primary"><b>@et?.EventStatusText</b></MudText>
                                @if (et?.IsTripRelated == true)
                                {
                                    <MudIconButton Size="Size.Small" Disabled="@IsLocked" Icon="@Icons.Material.Filled.Edit" OnClick="(() => UpdateEvent(item))" Color="Color.Default"></MudIconButton>
                                }
                            </div>
                            <MudText Typo="Typo.body2" Class="mt-1">
                                @string.Format("{0} {1}",et.StationoryText,item.OriginName)
                            </MudText>
                            <MudText Typo="Typo.caption" Class="mud-text-secondary">@item.BranchName</MudText>
                        </MudCardContent>
                    </MudCard>
                </ItemContent>
                </ItemContent>
            </MudTimelineItem>
        }
    </MudTimeline>
}

@code {

    [Parameter]
    public TripModel Trip { get; set; }
    private List<EventModel> TripEvents = new();
    private List<EventTypeModel> EventTypes = new();

    [Parameter]
    public bool IsLocked { get; set; } = false;

    protected override void  OnInitialized()
    {
        EventTypes = Ievent.GetEventTypes().ToList();
    }

    protected override void OnParametersSet()
    {      
        LoadEvents();
    }


    public void Refresh()
    {
        LoadEvents();
    }

    public void LoadEvents()
    {
        if (Trip == null)
        {
            TripEvents = new();
        }
        else
        {
            TripEvents = Ievent.SelectByTrip(Trip.TripID).ToList();
            //await OnEventCount.InvokeAsync(TripEvents.Count());
        }
    }

    private async Task UpdateEvent(EventModel ev)
    {
        var parameters = new DialogParameters();
        parameters.Add("CurrentTrip", Trip);
        parameters.Add("model", ev.Clone());
        var dialog = DialogService.Show<UpdateEventView>("Edit Event", parameters);
        var result = await dialog.Result;
        if(!result.Canceled)
        {
            var data = (EventModel)result.Data;
            ev = data;
        }
    }
}
