@inject IOpTranService Iservice
@inject ITripService tripIservice
@inject ITripFuelService tripFuelIservice
@inject ICostCenterService costIservice
@inject IGstUsageIDService usageIservice
@inject IDimensionService dimensionIservice
@inject MudBlazor.ISnackbar snackbar
@inject ITdsRateService tdsIService
@inject IChartOfAccountService accountService
@inject IConfiguration configuration
@using Microsoft.Extensions.Configuration
@inject IBranchService brIservice
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject IInventoryItemService itemIservice
@inject IInventoryItemService IsInvService
@inject IEventService Ievent
@inject ITruckService Itruck
@inject IDriverService Idriver
@inject IGcService Igc
@using Views.Pages.Gc
<MudCard Class="@Class" Style="height:auto" Elevation="@Elevation">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Tertiary"><MudIcon Icon="@Icons.Material.Filled.ModeOfTravel" Title="Trip Number" Color="Color.Primary" /></MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.h5" GutterBottom="true">
                        <MudIcon Icon="@Icons.Material.Filled.ConfirmationNumber" Title="Trip Number" Color="Color.Primary" />
                        <b>@trips.TripPrefix@trips.TripNumber</b>
                    </MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.h5" GutterBottom="true">
                        <MudIcon Icon="@Icons.Material.Filled.AirlineSeatReclineNormal" Title="Driver" Color="Color.Primary" />
                        <b>@AssignedDriver.DriverName</b>
                    </MudText>
                </MudItem>




            </MudGrid>



        </CardHeaderContent>
        <CardHeaderActions>
            <MudTooltip Text="Add Fuel">
                <MudIconButton Icon="@Icons.Material.Filled.LocalGasStation" Size="Size.Large" Color="Color.Success" @onclick="@(()=> OpenDialog(Tmodel))" />
            </MudTooltip>
            <MudTooltip Text="Add Expenses">
                <MudIconButton Icon="@Icons.Material.Filled.MenuBook" Color="Color.Success" Size="Size.Large" @onclick="@(()=> OpenDialog(Opmodel))" />
            </MudTooltip>
        </CardHeaderActions>
    </MudCardHeader>

    <MudCardContent>       

            <MudTabs Rounded="true" MinimumTabWidth="40px" Color="@Color.Transparent" PrevIcon="@Icons.Material.Filled.SkipPrevious" NextIcon="@Icons.Material.Filled.SkipNext" Class="shadow-sm shadow border-0 border">

                <MudTabPanel ToolTip="Trip Info" Icon="@Icons.Material.Filled.Info" >
                    <MudContainer Class="TabStyle">
                        @* <MudPaper Style="width:700px">*@
                        <MudList Style="width:700px">
                            <MudGrid>
                                <MudItem md="5">
                                    <MudListItem Avatar="@Icons.Material.Filled.DateRange" IconColor="Color.Primary">
                                        <b>@Convert.ToDateTime(@trips.TripDate).ToString("dd/MM/yyyy")</b>
                                    </MudListItem>
                                    <MudListItem Avatar="@Icons.Material.Filled.GasMeter" IconColor="Color.Primary">
                                        Running Km : <b>@TripInfoMdl?.RunKM</b>
                                    </MudListItem>
                                    <MudListItem Avatar="@Icons.Material.Filled.Construction" IconColor="Color.Primary">
                                        Total Fuel :<b>@TripInfoMdl?.Fuel</b>
                                    </MudListItem>
                                    <MudListItem Avatar="@Icons.Material.Filled.Construction" IconColor="Color.Primary">
                                        Total Expense :<b>@TotalExpense</b>
                                    </MudListItem>
                                </MudItem>

                                <MudItem md="5">
                                    <MudListItem Avatar="@Icons.Material.Filled.FireTruck" IconColor="Color.Primary">
                                        <b>@Truck?.RegNo</b>
                                    </MudListItem>
                                    <MudListItem Avatar="@Icons.Material.Filled.EditRoad" IconColor="Color.Primary">
                                        Mileage :<b>@TripInfoMdl?.Mileage</b>
                                    </MudListItem>
                                    <MudListItem Avatar="@Icons.Material.Filled.Money" IconColor="Color.Primary">
                                        Total Frieght :<b>@FrieghtAmount</b>
                                    </MudListItem>
                                </MudItem>
                            </MudGrid>

                        </MudList>
                        @*    </MudPaper>*@
                    </MudContainer>
                </MudTabPanel>
               <MudTabPanel ToolTip="Frieght" Icon="@Icons.Material.Filled.Money" OnClick="Frieght_Selecting">
                    <MudContainer Class="TabStyle">
                      
                        <MudGrid>
                            <MudItem md="12">

                                <MudTable Items="@TarifList" Dense="true" Hover="true" Striped="true" @bind-place="GcTarifModel" >


                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.GcNumber)" InitialDirection="SortDirection.Ascending">GC No</MudTableSortLabel></MudTh>
                                        <MudTh Style="width:180px;"><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.TariffTypeName)" InitialDirection="SortDirection.Ascending">Tarif type Name</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<GcTariffModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Gc Number">@context.GcNumber</MudTd>
                                        <MudTd DataLabel="Tariff Type Name">@context.TariffTypeName</MudTd>
                                        <MudTd DataLabel="Amount">@context.Amount</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </MudItem>
                        </MudGrid>
                       
                    </MudContainer>
                </MudTabPanel>
                <MudTabPanel ToolTip="Consignments" OnClick="Consignments_Selected" Icon="@Icons.Material.Filled.Backpack"  >
                    <MudContainer Class="TabStyle">
                        <br />
                  
                        @if (AssignedGCs != null)

                        {
                            <MudGrid>
                                @foreach (var gc in AssignedGCs)
                                {

                                    <MudItem xs="6" lg="6" md="6">
                                        <GcItemCard item="gc" Style="@($"background:{Colors.Cyan.Lighten5};")"></GcItemCard>
                                    </MudItem>
                                }
                            </MudGrid>

                        }

                    
                    </MudContainer>
                </MudTabPanel>
                <MudTabPanel ToolTip="Events" Icon="@Icons.Material.Filled.Event" OnClick="Events_Selecting" >
                    <MudContainer Class="TabStyle">
                    @if (IsEventSelected)
                    {
                        <MudTimeline>
                            <TripEventsComponent Trip="@trips" OnEventCount="@OnEventCount"></TripEventsComponent>
                            @*@foreach (var item in TripEvents)
                            {
                            string timetext;
                            DateTime today = DateTime.Today;
                            @if (item.EventTime?.Date == today)
                            timetext = "Today " + item.EventTime?.ToString("hh:mm tt");
                            else if (item.EventTime?.Date.AddDays(1) == today)
                            timetext = "YesterDay " + item.EventTime?.ToString("hh:mm tt");
                            else timetext = item.EventTime?.ToString("ddd dd-MMM-yyyy hh:mm tt");

                            EventTypeModel et = EventTypes.First(x => x.EventTypeID == item.EventTypeID);


                            <MudTimelineItem Color="Color.Success" Elevation="10">
                            <MudCard Elevation="25" Style="@($"background:{Colors.Brown.Lighten5};")">
                            <MudCardContent>
                            <MudText Typo="Typo.h6" Color="Color.Primary">@et.EventStatusText </MudText>
                            @if (et.EventTypeID != 1)
                            {
                            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="(() => UpdateEvent(item))"></MudIconButton>
                            }
                            <MudText Typo="Typo.button">@(et.IsStationary ? "Reached " : "Left ")  @item.OriginName </MudText>
                            <MudText Typo="Typo.body2" Class="mud-text-secondary">@timetext  </MudText>
                            </MudCardContent>
                            </MudCard>
                            </MudTimelineItem>
                            }*@
                        </MudTimeline>
                        }
                    </MudContainer>
                </MudTabPanel>
                <MudTabPanel ToolTip="Expenses" Icon="@Icons.Material.Filled.Receipt" OnClick="Expense_Selecting">
                    <MudContainer Class="TabStyle">   
                    
                        <MudTable Elevation="0" Items="@OptranList" Dense="true" Hover="true" Striped="true" @bind-place="Opmodel">

                                    <HeaderContent>
                                        <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document No</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Doc Date</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<OpTranModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                                        <MudTh>Actions</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                                        <MudTd DataLabel="DocumnetDtae">@Convert.ToDateTime(@context.DocumentDate).ToString("dd/MM/yyyy")</MudTd>
                                        <MudTd DataLabel="Amount">@context.TotalAmount</MudTd>
                                        <MudTd DataLabel="">
                                            <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>    
                                
                    </MudContainer>
                </MudTabPanel>
                <MudTabPanel ToolTip="Fuel Entries" Icon="@Icons.Material.Filled.ReadMore" OnClick="Fuel_Selecting">
                    <div class="TabStyle ">   
                       
                        <MudTable Elevation="0" Items="@TFuelList" Dense="true" Hover="true" Striped="true" @bind-place="Tmodel">
                            @*  <ToolBarContent>
                                    <MudText><b>Add Fuel</b></MudText>
                                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add"
                                    @onclick="@(()=> OpenDialog(Tmodel))" Color="Color.Dark"
                                    Size="Size.Small"></MudIconButton>

                                    <MudSpacer></MudSpacer>
                                    </ToolBarContent>*@
                            <HeaderContent>
                                <MudTh Style="width:160px;"><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.EntryDate)" InitialDirection="SortDirection.Ascending">Entry Date</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.FuelItemID)" InitialDirection="SortDirection.Ascending">Item</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.Quantity)" InitialDirection="SortDirection.Ascending">Quantity</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<TripFuelModel, object>(x=> x.RatePerLitre)" InitialDirection="SortDirection.Ascending">Rate/Ltr</MudTableSortLabel></MudTh>
                                @*<MudTh>Actions</MudTh>*@
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="EntryDate">@Convert.ToDateTime(@context.EntryDate).ToString("dd/MM/yyyy")</MudTd>
                                <MudTd DataLabel="Item">@context.FuelItemID</MudTd>
                                <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                                <MudTd DataLabel="Frieght">@context.RatePerLitre</MudTd>
                                @*    <MudTd DataLabel="">
                                        <MudFab @onclick="@(()=> OpenDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                                        </MudTd>*@
                            </RowTemplate>
                            @* <FooterContent>
                                    <MudText>Total Frieght</MudText>
                                    </FooterContent>*@
                        </MudTable>
                    
                </div>
                </MudTabPanel>
            </MudTabs>

    </MudCardContent>   
</MudCard>
<style>
   

    .TabStyle {
        margin-top : 10px;
        padding : 5px;
        box-shadow: inset 2px 1px 3px #999;
        height: 250px;
        overflow: scroll;
    }
</style>
@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
    [Parameter]
    public TripModel trips { get; set; }

    [Parameter]
    public int Elevation { get; set; } = 1;
    private int? EventCount = 0;
    protected void OnEventCount(int? eventCount)
    {
        EventCount = eventCount;
    }
    private Color ewaycolor = new();
    private Color FillExpColor = new();
    //Transactions
    //private List<OpTranModel> OptranList = new List<OpTranModel>();
    //private OpTranModel Opmodel = new OpTranModel();
    private List<OpTranModel> OptranList = new();
    private OpTranModel Opmodel = new();
    //Fueling
    // private List<TripFuelModel> TFuelList = new List<TripFuelModel>();
    private List<TripFuelModel> TFuelList = new();
    public TripFuelModel Tmodel { get; set; } = new TripFuelModel();
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<InventoryItemModel> Ac = new();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = true, CloseOnEscapeKey = true };

    public bool? IsPur = null;
    public string IsPurView = "invisible";
    //Event start
    private TruckModel Truck;
    private EventModel CurrentEvent { get; set; }
    private EventTypeModel EventType { get; set; }
    private List<EventModel> TripEvents = new();
    private List<EventTypeModel> EventTypes = new();
    private TripModel _trip;
    private DriverModel AssignedDriver { get; set; } = new();
    public List<GcSetModel> AssignedGCs { get; set; }
    //EventEnd
    //tarif
    //private List<GcTariffModel> TarifList = new List<GcTariffModel>();
    private List<GcTariffModel> TarifList = new();
    private GcTariffModel GcTarifModel = new GcTariffModel();
    private decimal? FrieghtAmount { get; set; } = 0;
    private decimal? TotalExpense { get; set; } = 0;
    //End
    //tripINfo
    private List<TripInfoModel> TripInfoList = new List<TripInfoModel>();
    private TripInfoModel TripInfoMdl = new();
    private bool IsEventSelected = false;
    
    //end

    public void Consignments_Selected()
    {
       
        LoadGcs();
    }
    public void Frieght_Selecting()
    {
        
        FrieghtAmount = 0;
        foreach (var tarif in tripIservice.GetTariffs(trips.TripID))
        {
            TarifList.Add(tarif);
            FrieghtAmount = FrieghtAmount + tarif.Amount;
        }
    }
    public void Events_Selecting()
    {
        IsEventSelected = true;
    }
    public void Expense_Selecting()
    {
       
        TotalExpense = 0;
        foreach (var item in Iservice.SelectByTrip(trips.TripID))
        {
            OptranList.Add(item);
            TotalExpense = TotalExpense + item.TotalAmount;
        }
    }
    public void Fuel_Selecting()
    {
        
        TFuelList = tripFuelIservice.SelectByTrip(trips.TripID).ToList();
      
    }
    private async void Submit()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        Tmodel.BranchID = brancID;
        Tmodel.UserInfo.UserID = user.Identity.Name;
        try
        {

            //Iservice.Update(Tmodel);
            Tmodel = new();
            snackbar.Add("Saved Successfully", Severity.Success);
            Tmodel = new();

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        //costCenter = costIservice.Select().ToList();
        //dimension = dimensionIservice.Select().ToList();
        //////Ac = IsInvService.SelectByID(0).ToList();
        //Ac = IsInvService.SearchByDescription(string.Empty).ToList();



        TripInfoMdl = tripIservice.GetTripInfo(trips.TripID);

       // EventTypes = Ievent.GetEventTypes().ToList();
        AssignedDriver = trips.DriverID == null ? null : Idriver.SelectByID(trips.DriverID.Value);
        ////string truck
    }
    private void totalAmt()
    {
        Tmodel.TotalAmount = (Tmodel.RatePerLitre * Tmodel.Quantity);
    }
    //TranStart
    private async Task OpenDialog(OpTranModel ema)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;

        TripModel tm = tripIservice.Select(_trip.TripID);
        ema.TruckID = tm.TruckID;
        ema.TripID = _trip.TripID;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ema);
        parms.Add("PaymentMode", "Cash");
        parms.Add("Area", "Operation");
        var dialog = DialogService.Show<Finance.Transactions.OpTranDialog>(ema.TripID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        //LoadAllList();
    }
    //tranEnd
    //Event start
    private async Task UpdateEvent(EventModel ev)
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", Truck);
        parameters.Add("CurrentTrip", tripIservice.Select(ev.TripID));
        parameters.Add("model", ev);

        var result = DialogService.Show<UpdateEventView>("Edit Event", parameters);
        var Data = await result.Result;
        LoadEvents();
    }
    private void LoadAllList()
    {
        FrieghtAmount = 0;
        TotalExpense = 0;
        TarifList = new();
        OptranList = new();
        TFuelList = new();
        foreach (var tarif in tripIservice.GetTariffs(trips.TripID))
        {
            TarifList.Add(tarif);
            FrieghtAmount = FrieghtAmount + tarif.Amount;
        }
        TripInfoMdl = tripIservice.GetTripInfo(trips.TripID);

        foreach (var fitem in tripFuelIservice.SelectByTrip(trips.TripID))
        {
            TFuelList.Add(fitem);
        }
        foreach (var item in Iservice.SelectByTrip(trips.TripID))
        {
            OptranList.Add(item);
            TotalExpense = TotalExpense + item.TotalAmount;
        }

    }
    protected async override Task OnParametersSetAsync()
    {
        if (_trip?.TripID != trips?.TripID)
        {
            _trip = new TripModel { TripID = trips?.TripID };
            //LoadAllList();
            //LoadAll();
        }
    }
    private void TransactionUpdated(long? TransID)
    {
        //TransactionsListViewRef.Refresh();
    }
    private void LoadAll()
    {
        //CancelledStatus = string.Empty;
        if (trips != null)
        {
            //hidden = false;
            if (tripIservice.Select(trips.TripID)?.UserInfo.RecordStatus == 4)
            {
                //CancelledStatus = "Cancelled";
            }
        }
        else
        {
            // hidden = true;
        }

        Truck = Itruck.SelectByID(trips?.TruckID);
        LoadEvents();
        LoadGcs();
    }
    public void LoadGcs()
    {
        if (trips == null)
            AssignedGCs = null;
        else
            AssignedGCs = Igc.SelectByTrip(trips.TripID);
    }
    public void LoadEvents()
    {
        if (trips == null)
            TripEvents = new();
        else
            TripEvents = Ievent.SelectByTrip(trips.TripID).ToList();
    }
    //EventEnd
    //fueling
    private async Task OpenDialog(TripFuelModel Tmodel)
    {

        DialogParameters parms = new DialogParameters();
        //trips.TripID = selectedItem1.TripID;
        //model.OrderID = Order.OrderID;
        Tmodel.TripID = trips.TripID;
        parms.Add("Tmodel", Tmodel);

        var dialog = DialogService.Show<TripsFuelDialog>("ADD FUEL", parms, maxWidth);
        var result = await dialog.Result;
        //LoadAllList();
    }
    //Fuel end
}
