
@inject IGcService Igc
@inject IEventService Ievent
@inject ITruckService Itruck
@inject ITripService Itrip

@inject IDialogService DialogService

@using Views.Pages.Gc



<MudText Typo="Typo.h5" Style="display:inline-block" Class="text-danger"><b> @CancelledStatus</b></MudText>


<MudExpansionPanels MultiExpansion="true" Class="mt-4"  hidden="@hidden">
    <MudExpansionPanel>
        <TitleContent>
            <div class="d-flex px-3">
                <MudBadge Content="@EventCount" Color="Color.Primary" Overlap="true" Class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.AccessTimeFilled"></MudIcon>
                </MudBadge>
                <MudText Class="ml-3"><strong>@Truck?.RegNo</strong> @TruckStatus </MudText>
            </div>
        </TitleContent>
        <ChildContent>
            <TripEventsComponent Trip="@Trip" OnEventCount="@OnEventCount"></TripEventsComponent>
        </ChildContent>
    </MudExpansionPanel>
    @if (AssignedGCs != null)
    {
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex px-3">
                    <MudBadge Content="@(AssignedGCs.Count)" Color="Color.Primary" Overlap="true" Class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Event"></MudIcon>
                    </MudBadge>
                    <MudText Class="ml-3"><strong>Assigned Consignments</strong></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudGrid Spacing="4">
                    @foreach (var gc in AssignedGCs)
                    {
                        <MudItem xs="6" lg="4">
                            <GcItemCard IsLoading="Isloading"   item="gc" Style="@($"background:{Colors.Brown.Lighten5};")" OnGcRemoved="gcRemoved" ></GcItemCard>
                        </MudItem>
                    }
                </MudGrid>
            </ChildContent>
        </MudExpansionPanel>
    }   
</MudExpansionPanels>


@code{

    [Parameter]
    public TripModel Trip { get; set; }

    private TripModel _trip;

    //TransactionsListView TransactionsListViewRef;

    private bool hidden = false;
    private TruckModel Truck;
    private List<EventModel> TripEvents = new();
    private List<EventTypeModel> EventTypes = new();
    //protected TransactionsListView TransView;
    private int? EventID = 0;
    public List<GcSetModel> AssignedGCs { get; set; }
    public string TruckStatus;
    private string CancelledStatus;
    private bool Isloading = false;

    private int? EventCount = 0;

    [Parameter]
    public EventCallback<EventModel> OnTripStatusUpdated { get; set; }

    protected async override Task OnInitializedAsync()
    {
        hidden = false;
        if (_trip?.TripID != Trip?.TripID)
        {
            _trip = new TripModel { TripID = Trip?.TripID };
            await LoadAll();
        }
    }


    protected override void OnParametersSet()
    {

    }

    protected void gcRemoved(long? gcSetID)
    {
        AssignedGCs.RemoveAll(x => x.GcSetID == gcSetID);
    }


    private async Task LoadAll()
    {
        CancelledStatus = string.Empty;
        if (Trip != null)
        {
            hidden = false;
            if (Itrip.Select(Trip.TripID)?.UserInfo.RecordStatus == 4)
            {
                CancelledStatus = "Cancelled";
            }         
        }
        else
        {
            hidden = true;
        }   
        Truck = Itruck.SelectByID(Trip?.TruckID);
        LoadGcs();
        await IsLoading();       
    }


    public void LoadGcs()
    {
        if (Trip == null)
            AssignedGCs = null;
        else
            AssignedGCs = Igc.SelectByTrip(Trip.TripID);
    }

    // To check whether truck is in loading status currently and enable Gc removal button
    // Also invoke Tripstatus Changed method
    public async Task IsLoading()
    {
        if (Trip != null)        
        {
            EventModel ev = Ievent.GetCurrentEvent(Trip.TruckID);
            await OnTripStatusUpdated.InvokeAsync(ev);            
            Isloading = ev.EventTypeID == 2;
        }
    }


    protected void OnEventCount(int? eventCount)
    {
        EventCount = eventCount;
    }


    private async Task UpdateEvent(EventModel ev)
    {
        var parameters = new DialogParameters();
        parameters.Add("Truck", Truck);
        parameters.Add("CurrentTrip", Itrip.Select(ev.TripID));
        parameters.Add("model", ev);

        var result = DialogService.Show<UpdateEventView>("Edit Event", parameters);
        var Data = await result.Result;
        if (!Data.Canceled)
        {
            ev = (EventModel)Data.Data;
            await OnTripStatusUpdated.InvokeAsync(ev);
            await IsLoading();
        }
    }
}