@page "/NewAutoSettle"
@inject IOutstandingBillsService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject NavigationManager uriHelper;
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Auto Settlement" formID="AutoSettleForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="AutoSettleForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <PartySelector Value="model.PartyInfo" ValueChanged="PartyChanged" BranchID="branchID" NatureOfBusiness="Select"></PartySelector>
                    </MudItem>
                    @if (model.Bills.Any())
                    {
                        <MudItem xs="12">
                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Elevation="0">
                                <thead>
                                    <tr>
                                        <th>Invoice info</th>
                                        <th>Branch</th>
                                        <th>Outstanding Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in model.Bills)
                                    {
                                        <tr>
                                            <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                            <td>@item.BranchName</td>
                                            <td>@item.OutstandingAmount</td>
                                        </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@model.UserInfo" DocTypeID="@DocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.AutoSettleID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public AutoSettleModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public bool Dialog { get; set; } = true;
    [Parameter]
    public string PageToRedirectLink { get; set; }


    EditContext editContext;
    DialogForm dialogForm;
    int? branchID = null;
    string UserID = null;

    string DocNumber { get; set; }
    DateTime? DocDate { get; set; }
    string DocType { get; set; }
    bool _busy;


    DocumentInfoModel DocumentDetails { get; set; } = new();

    bool HasPermissionPaymentServiceEdit { get; set; } = false;
    bool HasPermissionPaymentServiceApprove { get; set; } = false;
    int DocTypeID = 118;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionPaymentServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionPaymentServiceApprove = await Irole.HasClaim(DocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        if (model.AutoSettleID != null)
        {
            model.Bills = Iservice.GetAutoSettledBills(model.AutoSettleID.Value).ToList();
        }
        else
        {
            model.BranchID = branchID;
        }
        model.NatureOfTransaction = "AutoSettlement";
        //GetBills();

        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
        DocumentDetails.DocumentTypeID = DocTypeID;
        DocumentDetails.DocumentID = model.AutoSettleID;
    }
    // protected async Task Approve(DataApprovedStatus aprvd)
    // {
    //     if (HasPermissionPaymentServiceApprove)
    //     {
    //         if (aprvd.IsApprove)
    //         {
    //             try
    //             {
    //                 model.UserInfo.UserID = UserID;
    //                 //Iservice.Approve(model.PaymentMemoID, model.UserInfo.UserID, aprvd.Remarks);
    //                 snackbar.Add("Approved Successfully", Severity.Success);
    //             }
    //             catch (Exception ex)
    //             {
    //                 snackbar.Add(ex.Message, Severity.Error);
    //             }
    //         }
    //     }
    //     else
    //     {
    //         bool? result = await DialogService.ShowMessageBox(
    //             "Permission denied!",
    //             "You dont have any permission to Approve Payment.");
    //     }
    // }

    // private void GetBills()
    // {
    //     List<OutstandingBillsModel> collection = new List<OutstandingBillsModel>();

    //     if (model?.PartyInfo?.PartyID != null)
    //     {
    //         collection = Iservice.SelectByParty(model.PartyInfo.PartyID, branchID).ToList();
    //     }
    // }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;
        // if (model.Bills.Sum(x=> x.PayAmount) != 0)
        // {
        //     snackbar.Add("Debit and Credit must be equal!", Severity.Error);
        //     _busy = false;
        //     return;
        // }
        if (HasPermissionPaymentServiceEdit)
        {
            try
            {
                model.UserInfo.UserID = UserID;
                int? result = Iservice.AutoSettle(model);
                snackbar.Add("Submitted Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have permission!.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    private void SetTotalAmt()
    {
        model.TotalAmount = (model.Bills.Where(y => y.OutstandingAmount > 0).Sum(x => x.OutstandingAmount) ?? 0);
    }

    async Task PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;
        model.Bills.Clear();

        if (party != null)
            await OpenOutstandingBills(party);
    }

    private async Task OpenOutstandingBills(PartyModel partyInfo)
    {
        DialogOptions Doptions = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        parms.Add("BranchID", branchID);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, Doptions);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            model.Bills.Clear();
            foreach (var item in SelectedItems)
            {
                model.Bills.Add(new BillsPaidModel()
                    {
                        MID = item.MID,
                        BranchName = item.BranchName,
                        InvoiceDate = item.ReferenceDocDate,
                        InvoiceNumber = item.ReferenceDocNo,
                        OutstandingAmount = item.OutstandingAmount,
                        PayAmount = -(item.OutstandingAmount),
                        IsMemo = item.isMemo,
                        CoaID = item.CoaID,
                        SubArdCode = item.SubArdCode
                    });
            }

        }
        if (!model.Bills.Any())
        {
            model.PartyInfo = null;
        }
        SetTotalAmt();
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionPaymentServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                model.UserInfo.UserID = UserID;
                try
                {
                    Iservice.Approve(model.AutoSettleID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve Contra.");
        }
    }
}