@page "/PaymentMemoView"
@page "/PaymentMemoView/{id:int}"
@inherits ViewComponentBase<PaymentMemoModel>
@inject IDialogService DialogService

@inject IPaymentService Iservice
@inject IPaymentInitiatedService IinitiateService


<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10"  T="PaymentMemoModel">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Payment Memo</MudText>
                <MudTooltip Text="New Payment Memo">
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new PaymentMemoModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Payment Memo..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ToggleData(value))" Value="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.DocumentDate)">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.PaymentMemoID)" InitialDirection="SortDirection.Descending">Memo Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.PartyInfo.TradeName)" >Party Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.Reference)">Purpose</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.TotalAmount)" >Total Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()
                    @if (context.AuthLevelId == 100)
                    {
                        <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
                    }
                </MudTd>
                <MudTd DataLabel="Docnum">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="PartyName">@context.PartyInfo.TradeName</MudTd>
                <MudTd DataLabel="Purpose">@context.Reference</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton Disabled="@((context.AuthLevelId??100) != 100 || context.AuthLevelId == 0)" OnClick="@(()=> Delete(context.PaymentMemoID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />

                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="DocInfo.DocumentTypeID" DocumentID="context.PaymentMemoID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                        <MudIconButton OnClick="@(()=> Print(context.PaymentMemoID))" Color="Color.Tertiary" Title="Print" Class="ml-2" Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled" />
                    }
                    else
                    {
                        <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {


    protected override List<PaymentMemoModel> collection { get; set; } = new List<PaymentMemoModel>();

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 7,
            DocumentName = "PaymentMemo"
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (id != null && collection != null && collection.Any(g => g.PaymentMemoID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.PaymentMemoID == id), true);
        }        
    }   

    protected override async Task OpenForm(PaymentMemoModel ppm, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        ppm.IsInterBranch = interbranch;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());        
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<PaymentMemoDialog>(ppm.PaymentMemoID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var ReturnData = (PaymentMemoModel)result.Data;
        }
        LoadData(ShowApproved, NumberOfRecords);
        await Task.Delay(200);
        _busy = false;
    }   

    private async Task Print(int? ID)
    {
        Dictionary<string, string> ReportParameters = new();
        ReportParameters.Add("ID", ID.ToString());
        ReportParameters.Add("Operation", "Memo");
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintPaymentMemo");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }
}