@page "/PaymentsListView"
@page "/PaymentsListView/{id:int}"
@using System.Threading;
@inject IPaymentFinalizeService Iservice
@inject IPaymentService ImemoService
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" RowsPerPage="10" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Completed Payments</MudText>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Payments..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentFinishModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentFinishModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentFinishModel, object>(x=> x.PaymentMode)" InitialDirection="SortDirection.Ascending">Mode</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentFinishModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="PaymentMode">@context.PaymentMode   @context.PaymentTool</MudTd>
                <MudTd DataLabel="Amount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudIconButton OnClick="@(()=> View(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Fullscreen" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
                    <MudIconButton OnClick="@(()=> Print(context.PaymentInitiatedID))" Color="Color.Tertiary" Title="Print" Class="ml-2" Icon="@Icons.Material.Filled.Print" Size="Size.Small" Variant="Variant.Filled" />
                    @if (@context.AuthLevelId == 99)
                    {
                        <EntryReversedComponent DocTypeID="DocTypeID" DocumentID="context.PaymentFinalizeID" MID="context.MID" DocumentNumber="context.DocumentNumber"></EntryReversedComponent>
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private List<PaymentFinishModel> collection = new List<PaymentFinishModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseOnEscapeKey = true };
    private int numberOfRecords = 100;
    private string searchTerm = "";
    int BranchID; string UserID;

    [Parameter]
    public int? id { get; set; } = null;
    private bool _busy;
    public bool HasAuthoriseDelete { get; set; } = false;
    public int DocTypeID { get; set; } = 8;

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            ReloadTable();
        }
    }

    private void ReloadTable()
    {
        GetAll(NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = authprov.User.Identity.Name;
        GetAll(NumberOfRecords);
        await Task.Delay(200);
        await signalRService.StartAsync();
        //if (id != null && collection != null && collection.Any(g => g.PaymentFinalizeID == id))
        //{
        //    await OpenDialog(collection.FirstOrDefault(s => s.PaymentFinalizeID == id), true);
        //}
    }

    private void GetAll(int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;
        collection = Iservice.Select(BranchID, null, NumberOfRecords, searchTerm).ToList();
    }

    public async Task Delete(PaymentFinishModel pi)
    {
        if (HasAuthoriseDelete)
        {
            //Iservice.Delete(pi.PaymentInitiatedID, UserID);
            GetAll(NumberOfRecords);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to delete.");
        }
    }

    public async void View(PaymentFinishModel model)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        model.SelectedMemos =  ImemoService.SelectInitiated(model.PaymentInitiatedID).ToList();
        DialogParameters parms = new DialogParameters();
        parms.Add("model", model.Clone());
        parms.Add("ReadOnly", true);
        parms.Add("PageToRedirectLink", "/PaymentsListView");
        var dialog = DialogService.Show<PaymentFinishDilaog>("Payment", parms, maxWidth);
        await Task.Delay(200);
        _busy = false;
    }

    //private async Task OpenDialog(PaymentFinishModel tds, bool ReadOnly)
    //{
    //    var authprov = await auth.GetAuthenticationStateAsync();
    //    var user = authprov.User;

    //    PaymentFinishModel pfm = new PaymentFinishModel(ImemoService.SelectByID(tds.PaymentMemoID));
    //    pfm.PaymentInitiatedID = tds.PaymentInitiatedID;
    //    pfm.InitiatedDocumentDate = tds.InitiatedDocumentDate;
    //    pfm.DueOn = tds.DueOn;
    //    pfm.UserInfo = tds.UserInfo;

    //    DialogParameters parms = new DialogParameters();
    //    parms.Add("model", pfm);
    //    parms.Add("PageToRedirectLink", "/PaymentsListView");
    //    parms.Add("ReadOnly", ReadOnly);
    //    var dialog = DialogService.Show<PaymentFinishDilaog>("Payment", parms, maxWidth);
    //    var result = await dialog.Result;
    //    if (!result.Canceled)
    //    {
    //        var ReturnData = (PaymentFinishModel)result.Data;
    //        notificationMessage.InitiateBranch = new BranchModel() { BranchID = ReturnData.BranchID };
    //        notificationMessage.ReceivedBranch = new BranchModel() { BranchID = ReturnData.BranchID };
    //        notificationMessage.MessageTitle = IpushNotificationService.GetMessageTitle(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification");
    //        notificationMessage.MessageBody = IpushNotificationService.GetMessageBody(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification", ReturnData.DocumentDate);
    //        notificationMessage.RedirectedTo = 0;
    //        notificationMessage.ExpiredBy = 7;
    //        notificationMessage.DocumentID = ReturnData.PaymentFinalizeID;
    //        notificationMessage.MessageGroupID = "PendingVerification";
    //        notificationMessage.PageToRedirectLink = "/PaymentsListView";
    //        notificationMessage.ClaimValue = "Verify 1";
    //        notificationMessage.DocumentTypeID = DocTypeID;
    //        notificationMessage.MsgDate = DateTime.Now;
    //        await signalRService.Send(notificationMessage);
    //        GetAll(NumberOfRecords);
    //    }
    //}

    private async Task Print(int? ID)
    {
        Dictionary<string, string> ReportParameters = new();
        ReportParameters.Add("ID", ID.ToString());
        ReportParameters.Add("Operation", "Initiated");
        var parameters = new DialogParameters();
        parameters.Add("Parameters", ReportParameters); // Add the dictionary as a parameter
        parameters.Add("ReportName", "PrintPaymentMemo");

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var result = DialogService.Show<PrintDialog>("PRINT", parameters, maxWidth);
    }
}