@page "/NewPaymentMemo"

@inherits DialogFormComponentBase<PaymentMemoModel>
@inject IPaymentService Iservice


<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Payment Memo" formID="PaymentMemoForm" DocumentDetails="DocInfo" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="PaymentMemoForm" OnValidSubmit="OnValidSubmit" EditContext="editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Purpose" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Party" ReadOnly="ReadOnly" Value="@model.BusinessNature" T="string" ValueChanged="nbusinesschanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            <MudSelectItem Value="@("Supplier")" />
                            <MudSelectItem Value="@("Customer")" />
                            <MudSelectItem Value="@("Renter")" />
                            <MudSelectItem Value="@("SisterConcern")">Sister-Concern</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <PartySelector Value="model.PartyInfo" ValueChanged="PartyChanged" BranchID="BranchID" NatureOfBusiness="@model.BusinessNature"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Nature Of Payment" ReadOnly="ReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionChanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @if (model.PartyInfo is not null)
                            {
                                foreach (var item in natureOfBusinessGroup)
                                {
                                    <MudSelectItem Value="@(item)" />
                                }
                            }
                        </MudSelect>
                    </MudItem>                                    
                    
                    @if (model.Bills.Any())
                    {
                        <MudItem xs="12">
                            <MudSimpleTable Hover="true" Dense="true" FixedHeader="true" Elevation="0">
                                <thead>
                                    <tr>
                                        <th>Invoice info</th>
                                        <th>Branch</th>
                                        <th>Outstanding Amount</th>
                                        <th>Pay Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in model.Bills)
                                    {
                                        <tr>
                                            <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                            <td>@item.BranchName</td>
                                            <td>@item.OutstandingAmount</td>
                                            <td> <MudNumericField T="decimal?" ReadOnly="@ReadOnly" @bind-Value="item.PayAmount" TextChanged="SetTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense" HideSpinButtons> </MudNumericField></td>
                                     </tr>
                                    }
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    }
                    @if (model.NatureOfTransaction == "Deposit" || model.NatureOfTransaction == "Prepayment")
                    {
                        <MudItem xs="12" md="12">
                            <MudNumericField ReadOnly="ReadOnly" HideSpinButtons @bind-Value="model.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudNumericField>
                         </MudItem>
                    }
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocType="@DocInfo.DocumentName" DocNumber="@DocNumber" DocumentID="DocInfo.DocumentID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public override PaymentMemoModel model { get { return _model; }  set { _model = value;  DocInfo.DocumentID = value.PaymentMemoID; }  }
    private PaymentMemoModel _model;


    string[] natureOfBusinessGroup = new string[] { };
    string[] RentGroup = { "Rent", "Deposit", "Other" };
    string[] SupplierGroup = { "Deposit", "Payable", "Prepayment" };   
    string[] CustomerGroup = { "Deposit", "Receivable", "Prepayment" };
    string[] SisterGroup = { "Deposit", "Trade", "Prepayment" };

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
    {        
        DocumentTypeID = 7,
        DocumentName = "PaymentMemo"
     };

    protected override async Task OnInitializedAsync()
    {    
        await base.OnInitializedAsync();
        if (model.PaymentMemoID != null)
        {
            model.Bills = Iservice.GetBills(model.PaymentMemoID.Value).ToList();
        }
        else
        {
            model.BranchID = BranchID;
            model.BusinessNature = "Supplier";
        }
        SetNTransaction(model.BusinessNature);   
    }   

    protected override async Task<int> Update(PaymentMemoModel editModel)
    {
        model = Iservice.Update(model);
        return model.PaymentMemoID.Value;
    }

    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.PaymentMemoID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }
       

    private void SetTotalAmt()
    {
        model.TotalAmount = (model.Bills.Sum(x => x.PayAmount) ?? 0);
    }

    async Task nbusinesschanged(string val)
    {
        model.BusinessNature = val;
        SetNTransaction(val);
        await PartyChanged(null);
    }

    void SetNTransaction(string nBusiness)
    {
        if (nBusiness == "Renter")
        {
            natureOfBusinessGroup = RentGroup;
        }
        else if (nBusiness  == "Customer")
        {
            natureOfBusinessGroup = CustomerGroup;
        }
        else if (nBusiness == "Supplier")
        {
            natureOfBusinessGroup = SupplierGroup;
        }
        else if (nBusiness == "SisterConcern")
        {
            natureOfBusinessGroup = SisterGroup;
        }
        else
        {
            natureOfBusinessGroup = new string[] { };
        }
    }

    async Task PartyChanged(PartyModel party)
    {
        model.PartyInfo = party;       
        await nTransactionChanged(null);
    }

    private async Task nTransactionChanged(string nt)
    {
        model.NatureOfTransaction = nt;
        if (model.NatureOfTransaction is not null)
        {
            model.PartyCoaID = partyService.GetPartyCoaID(model.PartyInfo.PartyID, model.BusinessNature, model.NatureOfTransaction);
            if (model.PartyCoaID == null)
            {
                bool? result = await dialogService.ShowMessageBox(
                    "Account Not Mapped!",
                    "Party Account is not mapped for " + model.NatureOfTransaction + "!");
                model.NatureOfTransaction = null;
            }
        }

        if (nt == "Payable" || nt == "Rent" || nt == "Trade")
        {
            await OpenOutstandingBills();
        }
        else
        {
            model.Bills.Clear();
        }
    }

    private async Task OpenOutstandingBills()
    {
        DialogOptions Doptions = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        parms.Add("BranchID", BranchID);
        var dialog = dialogService.Show<OutstandingBillView>("Outstanding Bill", parms, Doptions);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            model.Bills.Clear();
            foreach (var item in SelectedItems)
            {
                model.Bills.Add(new BillsPaidModel()
                    {
                        MID = item.MID,
                        BranchName = item.BranchName,
                        InvoiceDate = item.ReferenceDocDate,
                        InvoiceNumber = item.ReferenceDocNo,
                        OutstandingAmount = item.OutstandingAmount,
                        PayAmount = -(item.OutstandingAmount),
                        IsMemo = item.isMemo,
                        CoaID =  item.CoaID,
                        SubArdCode = item.SubArdCode
                    });
            }
            //model.Reference = string.Join(",", SelectedItems.Select(x => x.ReferenceDocNo));
        }
        if (!model.Bills.Any())
        {
            model.NatureOfTransaction = null;
        }
    }
}