@using ArmsServices.DataServices.General
@using System.Threading;
@inject IConfigTable IConfig
@inject IPaymentFinalizeService Iservice

@inject IPaymentService ImemoService
@inject TruckDataArrayModel data
@inject IChartOfAccountService Icoa
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@using System.Globalization

@using OfficeOpenXml;
@using System.IO;

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Payment" formID="PaymentForm" DocumentDetails="DocumentDetails" model="@model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="PaymentForm" OnValidSubmit="OnValidSubmit" EditContext="@editContext">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid>
                    <MudItem xs="6" md="6">
                        <MudDatePicker @bind-Date="model.DocumentDate" ReadOnly="ReadOnly" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" Label="Document Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DocumentDate)"></MudDatePicker>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled @bind-Value="model.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Disabled Label="Initiated On" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.InitiatedDocumentDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudDatePicker Disabled Label="Due On" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DueOn" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <PaymentAccountSelector ReadOnly="@ReadOnly" @bind-PaymentMode="@model.PaymentMode" @bind-ArdCode="@model.PaymentArdCode" @bind-CoaID="@model.PaymentCoaID" @bind-BankTool="@model.PaymentTool" HideBankCharges />
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTable Class="mb-3" T="PaymentMemoModel" Items="@model.SelectedMemos" Hover="true" SelectOnRowClick Context="memos">
                            <HeaderContent>
                                <MudTh>Memo Date</MudTh>
                                <MudTh>Party</MudTh>
                                <MudTh>Amount</MudTh>
                                <MudTh>Reference</MudTh>
                                <MudTh>Bank Charges</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="DocumentDate">@memos.DocumentDate</MudTd>
                                <MudTd DataLabel="Party">@memos.PartyInfo.TradeName</MudTd>
                                <MudTd DataLabel="Amount">@memos.TotalAmount</MudTd>
                                <MudTd DataLabel="Reference">
                                    <MudTextField Disabled="@ReadOnly" @bind-Value="@memos.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudTd>
                                <MudTd DataLabel="BankCharges">
                                    <MudTextField Disabled="@ReadOnly" @bind-Value="@memos.BankCharges" Label="Bank Charges (if any)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                                </MudTd>
                                <MudTd>
                                    <MudFab @onclick="@(()=> OpenMemo(memos))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                                </MudTd>
                            </RowTemplate>
                            <FooterContent>
                                @if (!ReadOnly)
                                {
                                    <MudItem xs="12" Style="width: 372px; text-wrap : nowrap; margin-left: 160%; padding: 16px">
                                        <h6>Upload Payment Memo File : </h6>
                                        <InputFile @ref="fileInput" OnChange="HandleXLSXFileButtonSelected" />
                                        <MudButton OnClick="UploadXLSXFile" Variant="Variant.Filled">Upload</MudButton>
                                    </MudItem>
                                }
                            </FooterContent>
                        </MudTable>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField @bind-Value="model.Narration" ReadOnly="ReadOnly" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent DocTypeID="@DocTypeID" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.PaymentFinalizeID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>

@code {

    [Parameter]
    public PaymentFinishModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    private int? branchID = null;
    private string UserID = null;
    private EditContext editContext;
    private int numberOfRecords = 100;
    DialogForm dialogForm;

    [Parameter]
    public string PageToRedirectLink { get; set; }

    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }
    private int DocTypeID = 8;


    public DocumentInfoModel DocumentDetails { get; set; } = new();


    private string searchTerm = "";
    private bool _busy;

    public bool HasPermissionPaymentFinalizeServiceEdit { get; set; } = false;
    public bool HasPermissionPaymentFinalizeServiceApprove { get; set; } = false;
    public int PaymentFinalizeDocTypeID = 8;

    private InputFile fileInput;
    private MemoryStream memoryStream = new MemoryStream();
    private List<PaymentMemoPrintDetailModel> XLSXcollection = new List<PaymentMemoPrintDetailModel>();

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionPaymentFinalizeServiceEdit = await Irole.HasClaim(PaymentFinalizeDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionPaymentFinalizeServiceApprove = await Irole.HasClaim(PaymentFinalizeDocTypeID.ToString(), "Approve", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
        UserID = User.Identity.Name;
        model.BranchID = branchID;
        model.DocumentDate = DateTime.Today;
        DocNumber = model.DocumentNumber;
        DocDate = model.DocumentDate;
        DocType = model.NatureOfTransaction;
    }

    protected override void OnParametersSet()
    {
        editContext = new EditContext(model);
        DocumentDetails.DocumentTypeID = PaymentFinalizeDocTypeID;
        DocumentDetails.DocumentID = model.PaymentFinalizeID;
    }

    private async Task HandleXLSXFileButtonSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null)
        {
            try
            {
                memoryStream = new MemoryStream();
                XLSXcollection.Clear();
                memoryStream.SetLength(0); // Reset the stream before reading new file data
                await file.OpenReadStream().CopyToAsync(memoryStream);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
    }

    private void UploadXLSXFile()
    {
        try
        {
            memoryStream.Position = 0;

            using (ExcelPackage package = new ExcelPackage(memoryStream))
            {
                ExcelWorksheet worksheet = package.Workbook.Worksheets[0]; // Access the first worksheet
                int rowCount = worksheet.Dimension.Rows;
                int colCount = worksheet.Dimension.Columns;
                XLSXcollection.Clear();

                int PMcolNum = 0, BankChargesColNum = 0, ReferenceColNum = 0;

                for (int row = 1; row <= rowCount; row++)
                {
                    if (row == 1)
                    {
                        for (int col = 1; col <= colCount; col++)
                        {
                            if (worksheet.Cells[row, col].Value?.ToString() == "PaymentMemoID")
                            {
                                PMcolNum = col;
                            }
                            else if (worksheet.Cells[row, col].Value?.ToString() == "Reference")
                            {
                                ReferenceColNum = col;
                            }
                            else if (worksheet.Cells[row, col].Value?.ToString() == "BankCharges")
                            {
                                BankChargesColNum = col;
                            }
                        }
                    }
                    else
                    {
                        for (int col = 1; col <= colCount; col++)
                        {
                            var pmModel = model.SelectedMemos.First(x => x.PaymentMemoID == int.Parse(worksheet.Cells[row, PMcolNum].Value?.ToString()));
                            pmModel.BankCharges = decimal.Parse(worksheet.Cells[row, BankChargesColNum].Value?.ToString());
                            pmModel.Reference = worksheet.Cells[row, ReferenceColNum].Value?.ToString();
                            StateHasChanged();
                        }
                    }
                }
            }
            memoryStream.Dispose();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    public async Task OpenMemo(PaymentMemoModel ppm)
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());
        parms.Add("PageToRedirectLink", "/PaymentMemoView");
        parms.Add("ReadOnly", true);
        var dialog = DialogService.Show<PaymentMemoDialog>("MEMO", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;

        if (HasPermissionPaymentFinalizeServiceEdit)
        {
            model.UserInfo.UserID = UserID;

            var balance =  Icoa.GetBalance(0, model.PaymentArdCode, null, DateTime.Today);
            if(model.TotalAmount > balance && model.PaymentMode != "Bank")
            {
                snackbar.Add(string.Format("insufficient balance! Only Rs {0} Available",balance), Severity.Error);
                return;
            }

            try
            {
                Iservice.Update(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                dialogForm.Close(model);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit PaymentFinalize.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    protected async Task Approve(DataApprovedStatus aprvd)
    {
        if (HasPermissionPaymentFinalizeServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                try
                {
                    var authprov = await auth.GetAuthenticationStateAsync();
                    var user = authprov.User;
                    model.UserInfo.UserID = user.Identity.Name;
                    Iservice.Approve(model.PaymentFinalizeID, model.UserInfo.UserID, aprvd.Remarks);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve PaymentFinalize.");
        }
    }
}