@page "/TaxPurchase"
@page "/TaxPurchase/{id:int}"
@using Inventory.GoodsReceipt
@inherits ViewComponentBase<TaxPurchaseModel>
@inject ITaxPurchaseService Iservice

<MudTable Items="@collection" RowsPerPage="15" Dense="true" Hover="true" Striped="true" Elevation="10">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Purchase</MudText>
        <MudTooltip Text="New TaxPurchase">
            <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenForm(new TaxPurchaseModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        </MudTooltip>
        <MudTooltip Text="Add from GRN">
            <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.AddLink" @onclick="openGrn" Color="Color.Dark" Size="Size.Small"></MudIconButton>
        </MudTooltip>
        <MudSpacer></MudSpacer>
        <MudTextField Style="margin-top:0px;" @bind-Value="searchTerm" Placeholder="Search Tax..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
        </MudTextField>
        <MudSpacer></MudSpacer>

        <MudRadioGroup Value="@model.TaxPurchaseType" T="string" Style="padding-top: 8px;" ValueChanged="OnSelectedOptionChanged">
            <MudRadio Value="@("Normal")" Color="Color.Primary">Normal</MudRadio>
            <MudRadio Value="@("Fuel")" Color="Color.Primary">Fuel</MudRadio>
            <MudRadio Value="@("Maintenance")" Color="Color.Primary">Maintenance</MudRadio>
        </MudRadioGroup>

        <MudSpacer></MudSpacer>
        <div class="tablefont">
            <span style="margin-right: 10px;">Maximum Records: </span>
        </div>
        <MudItem xs="1">
            <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
        </MudItem>
        <MudCheckBox Label="Approved Entries" ValueChanged="((bool value)=>ToggleData(value))" Value="@ShowApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceDate)">Invoice Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceNo)">Invoice No</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.PartyInfo.TradeName)">Party Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.DocumentDate)">Document Date</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.PID)" InitialDirection="SortDirection.Descending">Document Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.TotalAmount)">Total Amount</MudTableSortLabel></MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="InvoiceDate">@context.InvoiceDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="InvoiceNo">@context.InvoiceNo</MudTd>
        <MudTd DataLabel="TradeName">@context.PartyInfo.TradeName</MudTd>
        <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
        <MudTd DataLabel="DocumentNumber">
            @context.DocumentNumber
            @if (context.AuthLevelId == 100)
            {
                <MudText Color="Color.Error" GutterBottom> Rejected </MudText>
            }
        </MudTd>
        <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
        <MudTd DataLabel="">
            <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Title="View" Class="ml-2" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> OpenForm(context,false))" Color="Color.Primary" Title="Edit" Class="ml-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled" />
            <MudIconButton Disabled="@(context.AuthLevelId != null)" OnClick="@(()=> Delete(context.PID))" Color="Color.Error" Title="Delete" Class="ml-2" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" />
            @if (@context.AuthLevelId == 99)
            {
                <EntryReversedComponent DocTypeID="@DocInfo.DocumentTypeID" TDS="@context.TDS" DocumentID="@context.PID" MID="@context.MID" DocumentNumber="@context.DocumentNumber"></EntryReversedComponent>
            }
            else if (@context.AuthLevelId != 100)
            {
                <MudIconButton OnClick="@(()=> OpenForm(context,true))" Color="Color.Warning" Class="ml-2" Icon="@Icons.Material.Filled.Verified" Title="Verify" Size="Size.Small" Variant="Variant.Filled" />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 15, 20, 50, 100 }" />
    </PagerContent>
</MudTable>

@code {

    protected override List<TaxPurchaseModel> collection { get; set; } = new List<TaxPurchaseModel>();
    public TaxPurchaseModel model { get; set; } = new TaxPurchaseModel();
    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 9,
            DocumentName = "Purchase"
        };

    // Method to handle changes in the selected option
    public void OnSelectedOptionChanged(string value)
    {
        model.TaxPurchaseType = value;
        switch (value)
        {
            case "Fuel":
                DocInfo.DocumentTypeID = 133; // Set the appropriate DocumentTypeID for Fuel
                DocInfo.DocumentName = "Fuel Purchase";
                break;
            case "Maintenance":
                DocInfo.DocumentTypeID = 134; // Set the appropriate DocumentTypeID for Maintenance
                DocInfo.DocumentName = "Maintenance Purchase";
                break;
            default:
                DocInfo.DocumentTypeID = 9; // Default DocumentTypeID for Normal
                DocInfo.DocumentName = "Purchase";
                break;
        }

        LoadData(ShowApproved, NumberOfRecords);
        // if (value == "Fuel")
        // {

        // }
        // else if (value == "Maintenance")
        // {

        // }
        // else
        // {

        // }
        // StateHasChanged();
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        string type = model.TaxPurchaseType;
        if (id != null && collection != null && collection.Any(g => g.PID == id))
        {
            await OpenForm(collection.FirstOrDefault(s => s.PID == id), true);
        }
        model.TaxPurchaseType = "Normal";
    }

    // Method to open the tax purchase form for adding or editing
    protected override async Task OpenForm(TaxPurchaseModel ppm, bool ReadOnly, bool DisableAddition = false)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("OnApproved", new EventCallbackFactory().Create(this, () => LoadData(ShowApproved, NumberOfRecords)));
        var dialog = dialogService.Show<TaxPurchaseDialog>(ppm.PID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            var ReturnData = (TaxPurchaseModel)result.Data;
        }
        LoadData(ShowApproved, NumberOfRecords);
        await Task.Delay(200);
        _busy = false;
    }

    // Method to load data based on approval status and number of records
    protected override void LoadData(bool val, int numberOfRecords)
    {
        if (val)
        {
            collection = Iservice.SelectByApproved(BranchID, numberOfRecords, searchTerm, "Purchase", model.TaxPurchaseType).ToList(); // Fetch approved tax purchases
        }
        else
        {
            collection = Iservice.SelectByUnapproved(BranchID, numberOfRecords, searchTerm, "Purchase", model.TaxPurchaseType).ToList(); // Fetch unapproved tax purchases
        }
    }

    // Method to open the GRN (Goods Receipt Note) dialog
    public async Task openGrn()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        DialogParameters parms = new DialogParameters();
        var dialog = dialogService.Show<InventoryGrnViewDialog>("GRN", parms, new DialogOptions() { MaxWidth = MaxWidth.Large });
        var result = await dialog.Result;
        LoadData(ShowApproved, NumberOfRecords);
        await Task.Delay(200);
        _busy = false;
    }
}
