@page "/TaxPurchase"
@using System.Threading;
@inject ITaxPurchaseService Iservice
@inject MudBlazor.ISnackbar snackbar

@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService
@using Inventory.GoodsReceipt


<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model">


            <ToolBarContent>
                <MudText Typo="Typo.h6">Tax Purchase</MudText>
                <MudTooltip Text="New TaxPurchase">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(model,false,false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add from GRN">
                    <MudIconButton Icon="@Icons.Material.Filled.AddLink" @onclick="openGrn" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Tax..." Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                              @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>

            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceDate)" InitialDirection="SortDirection.Ascending">Invoice No</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.InvoiceNo)" InitialDirection="SortDirection.Ascending">Invoice Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">DocumentDate</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<TaxPurchaseModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">DocumentNumber</MudTableSortLabel></MudTh>


                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="GrnNO">@context.InvoiceNo</MudTd>
                <MudTd DataLabel="EntryDate">@context.InvoiceDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="EntryDate">@context.DocumentDate?.ToShortDateString()</MudTd>

                <MudTd DataLabel="GrnNO">@context.DocumentNumber</MudTd>

                <MudTd DataLabel="">
                    @if (@context.AuthLevelId == null)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,false,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />

                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,true,false))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />

                    }
                    @if (@context.AuthLevelId == 99)
                    {
                        <MudFab @onclick="@(()=> GetAccountDetails(context))" Color="Color.Info" Icon="@Icons.Material.Filled.CurrencyExchange" title="Accounts" Size="Size.Small" IconSize="Size.Small" />
                    }
                    <MudFab @onclick="@(()=> OpenDialog(context,true,true))" Color="Color.Info" Icon="@Icons.Material.Filled.GridView" title="View" Size="Size.Small" IconSize="Size.Small" />


                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>



@code {


    private TaxPurchaseModel model = new TaxPurchaseModel();
    private List<TaxPurchaseModel> collection = new List<TaxPurchaseModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    public bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;


    public bool HasAuthoriseDelete { get; set; } = false;
    public int DocTypeID = 9;


    private string searchTerm = "";

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        GetAll(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {

        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        model = new();

        GetAll(IsApproved, NumberOfRecords);
    }
    void ApprovedChanged(bool value)
    {

        IsApproved = value;
        GetAll(IsApproved, NumberOfRecords);

    }
    private void GetAll(bool val, int numberOfRecords)
    {

        int NumberOfRecords = numberOfRecords;

        if (val)
        {
            collection = Iservice.SelectByApproved(NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectByUnapproved(NumberOfRecords, searchTerm).ToList();
        }

    }

    private async Task OpenDialog(TaxPurchaseModel tds, bool ReadOnly, bool View)
    {

        DialogParameters parms = new DialogParameters();
        parms.Add("model", tds);
        parms.Add("ReadOnly", ReadOnly);        
        var dialog = DialogService.Show<TaxPurchaseDialog>(tds.PID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        GetAll(IsApproved, NumberOfRecords);
    }


    private async Task Delete(TaxPurchaseModel tx)
    {

        if (HasAuthoriseDelete)
        {
        Iservice.Delete(tx.PID, "Rijas");
        snackbar.Add("Deleted Successfully", Severity.Success);
        GetAll(IsApproved, NumberOfRecords);

        }
        else
        {

            bool? result = await DialogService.ShowMessageBox(
        "Permission denied!",
        "You dont have any permission to delete.");
        }
    }

    private void GetAccountDetails(TaxPurchaseModel tpm)
    {
        int MID = tpm.MID.Value;
        DialogParameters parms = new DialogParameters();
        parms.Add("MID", MID);
        DialogService.Show<AccountInfoDialog>(tpm.DocumentNumber, parms, maxWidth);
    }
    public async Task openGrn()
    {
        PurchaseOrderModel tds = new();
        DialogParameters parms = new DialogParameters();
        var dialog = DialogService.Show<InventoryGrnViewDialog>("GRN", parms, maxWidth);
        var result = await dialog.Result;
        GetAll(IsApproved, NumberOfRecords);

    }

}
