@page "/ReceiptsandPaymentsReport"
@inherits ReportComponentBase
@using ArmsModels.BaseModels.Finance.Report;
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudPaper Class="mb-5 p-4">
            <MudToolBar Style="padding-left: 0px; margin-top: -22px;">
                <MudText Typo="Typo.h5" Style="font-weight:500;">Receipts and Payments Report</MudText>
            </MudToolBar>
            <MudDivider />
            <MudGrid Style="padding-top: 22px;">
                <MudToolBar Style="padding-left: 0px; margin-top: -22px;">
                    <MudRadioGroup T="string" @bind-Value="Operation">
                        <MudRadio Value="@("Bank")" Color="Color.Secondary" Size="Size.Medium">Bank</MudRadio>
                        <MudRadio Value="@("Cash")" Color="Color.Primary" Size="Size.Medium">Cash</MudRadio>
                    </MudRadioGroup>
                </MudToolBar>
                <MudDivider />
                <MudGrid Style="padding-top: 22px;">
                    <MudItem xs="4">
                        <MudDatePicker Label="Start Date" @bind-Date="@(StartDate)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudDatePicker Label="End Date" @bind-Date="@(EndDate)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                    </MudItem>
                   @* // <MudItem xs="3">
                        <BranchSelector Value="@Branch" ValueChanged="BranchChanged" LabelName="Branch"></BranchSelector>
                    </MudItem> *@
                    <MudItem xs="1">
                        <div class="d-flex gap-3">
                            @* <MudIconButton Style="margin-right: 8px;" Title="Select Branches" Icon="@Icons.Material.Filled.List" Variant="Variant.Filled" Color="Color.Success" OnClick="SelectBranches"></MudIconButton> *@
                            <MudButton Style="width: -webkit-fill-available;" Variant="Variant.Filled" Color="Color.Success" OnClick="RenderReportViewer">View Report</MudButton>
                        </div>
                    </MudItem>
                </MudGrid>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>
<MudGrid Style="@(ShowReport?"":"Display:none")">
    <MudItem xs="12">
        <ReportViewer ReportName="@ReportName" Parameters=@ReportParameters @ref="@report"></ReportViewer>
    </MudItem>
</MudGrid>

@code {

    ReportViewer report;
    DateTime? StartDate { get; set; } = DateTime.Now;
    DateTime? EndDate { get; set; } = DateTime.Now;
    public BranchModel Branch { get; set; } = null;
    bool ShowReport { get; set; } = false;
    string Operation { get; set; }
    string ReportName { get; set; }
    public BranchModel CurrentBranch { get; set; } = new();
    bool IsBrachDiasbled = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        string BranchIDString = User.Claims.First(x => x.Type == "BranchID").Value;
        CurrentBranch.BranchName = User.Claims.First(x => x.Type == "BranchName").Value;
        CurrentBranch.BranchID = int.Parse(BranchIDString);
        //CurrentBranch.BranchID = int.Parse(BranchIDString);
        //BranchList = Ibranchservice.Select().ToList();
    }

    async Task BranchChanged(BranchModel branch)
    {
        Branch = branch;
    }

    public async Task RenderReportViewer()
    {
        if (!SelectedBranches.Any())
        {
            snackbar.Add("Please select branch.", Severity.Error);
            return;
        }
        if (Operation == null)
        {
            snackbar.Add("Please select cash/bank!.", Severity.Warning);
            return;
        }
        if (StartDate == null)
        {
            snackbar.Add("Please select start date.", Severity.Error);
            return;
        }
        if (EndDate == null)
        {
            snackbar.Add("Please select end date.", Severity.Error);
            return;
        }

        ShowReport = true;
        ReportName = "CashBankAuditReport";
        ReportParameters.Clear();
        ReportParameters.Add("Operation", Operation);
        ReportParameters.Add("FromDate", StartDate.Value.ToString("yyyy/MM/dd"));
        ReportParameters.Add("ToDate", EndDate.Value.ToString("yyyy/MM/dd"));
        ReportParameters.Add("BranchID", CurrentBranch.BranchID.Value.ToString());
        await report.RenderReport();
    }

}
