@inject IAssetService Iservice
@inject IAssetClassService assetclassIservice
@inject IGstUsageIDService gstIservice
@inject IPartyService partyIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <MudGrid Spacing="4">
                <MudItem xs="12" md="12">
                    <h6>Asset Details</h6>
                    <MudPaper>
                        <MudContainer>
                            <MudGrid>
                                <MudItem xs="12" md="12">
                                    <MudTextField ReadOnly="true" @bind-Value="model.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Description)"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" md="3">
                                    <MudTextField ReadOnly="true" @bind-Value="model.SerialNumber" Label="Serial Number" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.SerialNumber)"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" md="3">
                                    <MudSelect ReadOnly="true" Label="Nature Of Asset" @bind-Value="model.NatureOfAsset" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                        @foreach (var ditem in NatureOfAssetList)
                                        {
                                            <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="3">
                                    <MudTextField ReadOnly="true" @bind-Value="model.HsnCode" Label="Hsn Code" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.HsnCode)"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" md="3">
                                    <MudDatePicker ReadOnly="true" Label="Warrenty Date" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.WarrentyDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.WarrentyDate" />
                                </MudItem>
                            </MudGrid>
                        </MudContainer>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="12">
                    <h6>Asset Parent Details</h6>
                    <MudPaper>
                        <MudContainer>
                            <MudGrid>
                                @if (model.ParentAssetID == null)
                                {
                                    <MudItem xs="12" md="10">
                                        <MudAutocomplete T="AssetModel" Label="Select Parent Asset" @bind-Value="SelectedParentAsset" ResetValueOnEmptyText="true" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary"
                                                         SearchFunc="SearchAsset" ToStringFunc="@(e => e == null ? null : $"{e.Description}")"></MudAutocomplete>
                                    </MudItem>
                                    <MudItem xs="12" md="2">
                                        <MudButton OnClick="GetDetails" Variant="Variant.Filled" Color="Color.Primary">Details</MudButton>
                                    </MudItem>
                                }
                                @if (model.ParentAssetID != null)
                                {
                                    <MudItem xs="12" md="12">
                                        <MudTextField ReadOnly="true" @bind-Value="assetModel.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => assetModel.Description)"></MudTextField>
                                    </MudItem>
                                }
                                @if (fetch)
                                {
                                    <MudItem xs="12" md="3">
                                        <MudTextField ReadOnly="true" @bind-Value="assetModel.SerialNumber" Label="SerialNumber" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => assetModel.SerialNumber)"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" md="3">
                                        <MudSelect ReadOnly="true" Label="NatureOfAsset" @bind-Value="assetModel.NatureOfAsset" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                            @foreach (var ditem in NatureOfAssetList)
                                            {
                                                <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs="12" md="3">
                                        <MudTextField ReadOnly="true" @bind-Value="assetModel.HsnCode" Label="HsnCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => assetModel.HsnCode)"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" md="3">
                                        <MudDatePicker ReadOnly="true" Label="WarrentyDate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => assetModel.WarrentyDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="assetModel.WarrentyDate" />
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudContainer>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="@_busy" OnClick="Move" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">@Buttontxt</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public AssetModel model { get; set; }
    public bool fetch = false;
    string Buttontxt = "Move To Parent";
    AssetModel assetModel = new AssetModel();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private List<string> NatureOfAssetList = new List<string>() { "Tangible", "Intangible" };
    private AssetModel SelectedParentAsset = null;
    private bool _busy;

    public bool HasPermissionAssetServiceMove { get; set; } = false;
    public int AssetDocTypeID = 112;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetServiceMove = await Irole.HasClaim(AssetDocTypeID.ToString(), "Move", ctc.Token);

        if (model.ParentAssetID != null)
        {
            fetch = true;
            assetModel = Iservice.SelectByID(model.ParentAssetID);
            Buttontxt = "Remove";
        }
    }
    private async Task<IEnumerable<AssetModel>> SearchAsset(string searchString)
    {
        await Task.Delay(5);
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        return await Task.FromResult((Iservice.SelectByBranch(brancID, false, null, "").Where(x => x.IsComplex)));
    }

    public void GetDetails()
    {
        if (SelectedParentAsset != null)
        {
            fetch = true;
            assetModel = Iservice.SelectByID(SelectedParentAsset.AssetID);
        }
        else
        {
            snackbar.Add("Please Select Parent Asset", Severity.Warning);
        }
    }

    public async Task Move()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }

        if (HasPermissionAssetServiceMove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
            int brancID = int.Parse(brancIDString);
            string mode = "Attach";
            if (Buttontxt == "Remove")
            {
                mode = "Detach";
            }
            _busy = true;
            try
            {
                if (assetModel == null || assetModel.AssetID == null)
                {
                    if (SelectedParentAsset != null)
                    {
                        assetModel = Iservice.SelectByID(SelectedParentAsset.AssetID);
                    }
                }
                Iservice.MoveAsset(model.AssetID, assetModel.AssetID, mode, user.Identity.Name);
                snackbar.Add("Moved Successfully", Severity.Success);
                model = new();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
            MudDialog.Close();
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Move Asset.");
        }
        await Task.Delay(2000);
        _busy = false;
    }
}