
@inject IAssetService Iservice
@inject IAssetClassService assetclassIservice
@inject IGstUsageIDService gstIservice
@inject IPartyService partyIservice
@inject MudBlazor.ISnackbar snackbar

@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
<MudDialog >
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
           Simple Asset<h6>@model.AssetCode</h6>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
   
<MudGrid Spacing="4">
    <MudItem xs="12" md="12">
      
            <h6>Asset Details</h6>
        <MudPaper>
      <MudContainer>
      <MudGrid>
    <MudItem xs="12" md="12">
        <MudTextField @bind-Value="model.Description" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Description)"></MudTextField>
    </MudItem>
    @*<MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.AssetCode" Label="AssetCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.AssetCode)"></MudTextField>
    </MudItem>*@
    <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.SerialNumber" Label="SerialNumber" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.SerialNumber)"></MudTextField>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudSelect Label="NatureOfAsset" @bind-Value="model.NatureOfAsset" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
            @foreach (var ditem in NatureOfAssetList)
            {
                <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudSelect Label="Select AssetClass" @bind-Value="model.AssetClass" SelectedValuesChanged="getSubClass" T="AssetClassModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.AssetClassName}")">
            @foreach (var ditem in assetclassList)
            {
                <MudSelectItem Value="@ditem">@ditem.AssetClassName</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12" md="4">
        <MudSelect Label="Select SubClass" @bind-Value="model.SubClass" T="AssetClassModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.AssetClassName}")">
            @foreach (var ditem in assetsubclassList)
            {
                <MudSelectItem Value="@ditem">@ditem.AssetClassName</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
     <MudItem xs="12" md="4">
     <MudSelect Label="Select GstRate" @bind-Value="model.GstRateID" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in gstRate)
                            {
                                <MudSelectItem Value="@ditem.RID">@ditem.TaxRate</MudSelectItem>
                            }
                        </MudSelect>
    </MudItem>
     <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.HsnCode" Label="HsnCode" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.HsnCode)"></MudTextField>

     </MudItem>
      <MudItem xs="12" md="4">
                        <MudDatePicker Label="WarrentyDate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.WarrentyDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.WarrentyDate"  />

      </MudItem>
       <MudItem xs="12" md="4">
           <MudSelect Label="Select VendorInfo" @bind-Value="model.VendorInfo" T="PartyModel" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" ToStringFunc="@(e => e == null ? null : $"{e.TradeName}")">
            @foreach (var ditem in vendorListList)
            {
                <MudSelectItem Value="@ditem">@ditem.TradeName</MudSelectItem>
            }
        </MudSelect>
       </MudItem>
       </MudGrid> 
         </MudContainer> </MudPaper>
    </MudItem>
                @if (model.IsComplex == false)

                {
                    <MudItem xs="12" md="12">

            <h6>Asset Depreciation Details</h6>
        <MudPaper>
      <MudContainer> <MudGrid>
        <MudItem xs="12" md="4">
             <MudSelect Label="Select DepreciationBookCode" @bind-Value="model.DepreciationBookCode"  T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
           
                <MudSelectItem Value="@("IncomeTax")">Income Tax</MudSelectItem>
                 <MudSelectItem Value="@("CompanyAct")">Company Act</MudSelectItem>
            
        </MudSelect>
        </MudItem>
            <MudItem xs="12" md="4">
          <MudSelect Label="Select DepreciationMethod" @bind-Value="model.DepreciationMethod"  T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary" >
           
                <MudSelectItem Value="@("StraigtLine")">Straigt Line</MudSelectItem>
                 <MudSelectItem Value="@("DiminishingBalance")">Diminishing Balance</MudSelectItem>
                 <MudSelectItem Value="@("SumofYearsDigits")">Sum of Years Digits</MudSelectItem>
            
        </MudSelect>
        </MudItem>
            <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.RateOfDepreciation" Label="RateOfDepreciation" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.RateOfDepreciation)"></MudTextField>

        </MudItem>
         <MudItem xs="12" md="4">
                        <MudDatePicker Label="DepreciationStartingDate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DepreciationStartingDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.DepreciationStartingDate"  />

         </MudItem>
           <MudItem xs="12" md="4">
                        <MudDatePicker Label="DepreciationEndingDate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.DepreciationEndingDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.DepreciationEndingDate"  />

           </MudItem>
             <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.BookValue" Label="BookValue" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.BookValue)"></MudTextField>

             </MudItem>
                  <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.SpanOfYear" Label="SpanOfYear" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.SpanOfYear)"></MudTextField>

             </MudItem>
                  <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.SalvageValue" Label="SalvageValue" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.SalvageValue)"></MudTextField>

             </MudItem>
               <MudItem xs="12" md="4">
        <MudTextField @bind-Value="model.CurrentValue" Label="CurrentValue" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly="true"></MudTextField>

             </MudItem>
                  
                  <MudItem xs="12" md="4">
                        <MudDatePicker Label="ProjectedDisposalDate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ProjectedDisposalDate)" DisableToolbar="true" Editable="true" DateFormat="dd/MM/yyyy" @bind-Date="model.ProjectedDisposalDate"  />

             </MudItem>
             </MudGrid>
             </MudContainer></MudPaper></MudItem>
             }

</MudGrid>
</MudContainer>
</DialogContent>
 <DialogActions>
      
             <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
                    
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public AssetModel model { get; set; }
    private List<string> NatureOfAssetList = new List<string>() { "Tangible", "Intangible" };

    private List<AssetClassModel> assetclassList = new();
    private List<AssetClassModel> assetsubclassList = new();
    private List<PartyModel> vendorListList = new();
    private List<GstRateModel> gstRate = new();
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        assetclassList = assetclassIservice.SelectClasses().ToList();
        vendorListList = partyIservice.GetVendors(string.Empty).ToList();
        gstRate = gstIservice.GetGstRates().ToList();
    }
    public void getSubClass()
    {
        assetsubclassList = assetclassIservice.SelectSubClassesByClass(model.AssetClass.AssetClassID.Value).ToList();

    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    private async void Submit()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        //AssetHolderModel assetHolderModel = new AssetHolderModel();
        //assetHolderModel.Description = model.Description;
        //assetHolderModel.BranchID = brancID;
        model.BranchID = brancID;
       
        model.UserInfo.UserID = user.Identity.Name;
        try
        {

            Iservice.UpdateAsset(model);
            MudDialog.Close(model);
            model = new();
            snackbar.Add("Saved Successfully", Severity.Success);

        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Warning);
            MudDialog.Close();
        }
        
    }
  
}
