@using System.Threading;
@using Views.Pages.Finance.Transactions
@inject IInventoryGrnService Iservice
@inject IPartyService partyIservice
@inject IInventoryItemService itemIservice
@inject IStoreService storeIservice
@inject IPurchaseOrderService pIservice
@inject IGstItemService gstIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Create Goods Reciept Note
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="min-height:300px;max-height: 450px;overflow-y: scroll">
            <EditForm id="formtdsRate" Model="@model" OnValidSubmit="OnValidSubmit">
                <ObjectGraphDataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="2">
                    <MudItem xs="12" md="12">
                        <PartySelector ReadOnly="ReadOnly" Value="partyinfo" ValueChanged="PartyChanged" NatureOfBusiness="Supplier"></PartySelector>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudDatePicker ReadOnly="ReadOnly" Label="Entry Date" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.EntryDate" DateFormat="dd/MM/yyyy" />
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Reference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Reference)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="4">
                        <StoreSelector IsDisabled="ReadOnly" @bind-Value="model.Store" VariantParameter="Variant.Outlined" MarginParameter="Margin.Dense" BranchID="@branchID.Value"></StoreSelector>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Remarks" Label="Remarks" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Remarks)"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total</th>
                                    <th>@model.TotalValue</th>
                                </tr>
                                <tr>
                                    <th>Items</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>GST</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Entries)
                                {
                                    <tr>
                                        <td>@(itm.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.InventoryItemCode) | @(itm.FirstOrDefault(x => x.InventoryItemID == item.ItemID)?.ItemDescription)</td>
                                        @* <td>@item.ItemQty</td> *@
                                        <td><MudTextField Label="Quantity" Immediate=true T="decimal" bind-value-oninput="@item.ItemQty" Value="@item.ItemQty" ValueChanged="@(e => CalculateAndDisplay(e, @item))" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => @item.ItemQty)"></MudTextField></td>
                                        @* <td contenteditable="true" bind-value-oninput= "item.ItemQty">@item.ItemQty</td> *@
                                        <td>@item.ItemRate</td>
                                        <td>@item.ItemGstVal</td>
                                        <td>
                                            @if (!ReadOnly)
                                            {
                                                <MudFab Color="Color.Error" @onclick="@(()=> Delete(@item))" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                            }
                                        </td>
                                    </tr>
                                }
                                @if (!ReadOnly && model.POID == null)
                                {
                                    <tr>
                                        <td colspan="2">
                                            <InventoryItemSelector Value="SelectedItem" ValueChanged="@((InventoryItemModel newValue) => ItemChanged(newValue))" />
                                        </td>
                                        <td><MudTextField @bind-Value="Entrymodel.ItemQty" Label="Quatity" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Entrymodel.ItemQty)"></MudTextField></td>
                                        <td><MudTextField @bind-Value="Entrymodel.ItemRate" Label="Rate" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => Entrymodel.ItemRate)"></MudTextField></td>
                                        <td></td>
                                        <td><MudFab OnClick="AddItems" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Small" /></td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                    <MudItem xs="12">
                        @if ((ReadOnly) && (!IsView))
                        {
                            <AutherizationStatusComponent DocTypeID="16" DocDate="@DocDate" DocType="@DocType" DocNumber="@DocNumber" PageToRedirectLink="@PageToRedirectLink" DocumentID="model.GrnID" OnApprove="IsApproveData"></AutherizationStatusComponent>
                        }
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @if (!ReadOnly)
        {
            @if (model.POID != null && model.GrnID == null)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="CancelOrder">Cancel Order</MudButton>
            }
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>
            <MudButton Disabled="@_busy" form="formtdsRate" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
        }
        @if (ReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>
        }
    </DialogActions>
</MudDialog>

@code {

    [Parameter]
    public InventoryGrnModel model { get; set; }
    [Parameter]
    public bool ReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<StoreModel> store = new();
    private List<InventoryItemModel> itm = new();
    public PartyModel partyinfo = new();
    private int? branchID = null;
    private string UserID = null;
    private bool _busy;

    [Parameter]
    public string PageToRedirectLink { get; set; }
    public string DocNumber { get; set; }
    public DateTime? DocDate { get; set; }
    public string DocType { get; set; }

    public bool HasPermissionInventoryGrnServiceEdit { get; set; } = false;
    public bool HasPermissionInventoryGrnServiceApprove { get; set; } = false;
    public int InventoryGrnDocTypeID = 16;

    public bool HasPermissionPurchaseOrderServiceCancel { get; set; } = false;
    public int PurchaseOrderDocTypeID = 17;

    public InventoryItemModel SelectedItem = new();
    private InventoryItemEntryModel Entrymodel = new InventoryItemEntryModel();

    decimal ItemGSTValue = 0;
    decimal TotalValue = 0;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInventoryGrnServiceEdit = await Irole.HasClaim(InventoryGrnDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionInventoryGrnServiceApprove = await Irole.HasClaim(InventoryGrnDocTypeID.ToString(), "Approve", ctc.Token);

        HasPermissionPurchaseOrderServiceCancel = await Irole.HasClaim(PurchaseOrderDocTypeID.ToString(), "Cancel", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        branchID = int.Parse(brancIDString);
        var user = authprov.User;
        UserID = user.Identity.Name;
        store = storeIservice.SelectByBranch(branchID.Value).ToList();
        if (store.Any(s => s.StoreID == model.StoreID))
        {
            model.Store = store.FirstOrDefault(s => s.StoreID == model.StoreID);
        }
        itm = itemIservice.SearchByDescription(string.Empty).ToList();
        if (model.GrnID != null)
        {
            model.Entries = Iservice.GetItemEntries(model.GrnID.Value).ToList();
            partyinfo = partyIservice.SelectByID(model.PartyID);
            model.PartyID = partyinfo.PartyID;
        }
        else if (model.POID != null)
        {
            partyinfo = partyIservice.SelectByID(model.PartyID);
            model.PartyID = partyinfo.PartyID;
            foreach (var item in model.Entries)
            {
                CalculateAndDisplay(item.ItemQty, item);
            }
        }
        else
        {
            model.TotalValue = 0;
        }

        DocNumber = model.GrnNo;
        DocDate = model.EntryDate;
        DocType = "Goods Receipt Note";
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (HasPermissionInventoryGrnServiceEdit)
        {
            if (_busy)
            {
                snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
                return;
            }
            if (model.Entries == null || (model.Entries != null && model.Entries.Count() == 0))
            {
                snackbar.Add("Add at least one Entry before Submitting", Severity.Error);
                return;
            }

            else
            {
                model.PartyCode = partyinfo.PartyCode;
                model.PartyID = partyinfo.PartyID;
                model.PartyName = partyinfo.TradeName;
                model.UsedInventory = 0;
                model.StoreID = model.Store?.StoreID ?? null;
                model.UserInfo.UserID = UserID;
                _busy = true;
                try
                {
                    Iservice.Update(model);
                    model = new();
                    snackbar.Add("Saved Successfully", Severity.Success);
                    model = new InventoryGrnModel();
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Warning);
                }
                MudDialog.Close(model);
                await Task.Delay(200);
                _busy = false;
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit InventoryGrn.");
        }
    }

    protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (HasPermissionInventoryGrnServiceApprove)
        {
            if (aprvd.IsApprove)
            {
                try
                {
                    model.UserInfo.UserID = UserID;
                    Iservice.Approve(model.GrnID.Value, model.UserInfo.UserID, string.Empty);
                    snackbar.Add("Approved Successfully", Severity.Success);
                }
                catch (Exception ex)
                {
                    snackbar.Add(ex.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Approve InventoryGrn.");
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private async Task CancelOrder()
    {
        if (HasPermissionPurchaseOrderServiceCancel)
        {
            pIservice.CancelOrder(model.POID.Value, UserID, string.Empty);
            MudDialog.Close(model);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Cancel PurchaseOrder.");
        }
    }

    private void Delete(InventoryItemEntryModel i)
    {
        int rowIndex = model.Entries.IndexOf(i);
        model.Entries.RemoveAt(rowIndex);
        SetTotal();
    }

    protected void getitemCode(InventoryItemModel item)
    {
        if (item != null)
        {
            if (SelectedItem != null && SelectedItem.InventoryItemID == null)
            {
                SelectedItem = item;
            }
            else
            {
                SelectedItem = new InventoryItemModel();
            }
        }
    }

    public decimal getgstrate(int itemID)
    {
        var itemGst = gstIservice.SelectByItem(itemID, (model.EntryDate ?? DateTime.Today));
        decimal? gstrate = itemGst.TaxRate;
        return gstrate ?? 0;
    }


    void PartyChanged(PartyModel party)
    {
        partyinfo = party;
        model.PartyID = party.PartyID;
        model.PartyCode = party.PartyCode;
        model.PartyName = party.TradeName;
    }


    private void AddItems()
    {
        if (Entrymodel.ItemID == null || Entrymodel.ItemRate == null || Entrymodel.ItemQty == null)
        {
            snackbar.Add("Please fill in all Fields", Severity.Error);
            return;
        }
        decimal gstrt = 0;
        Entrymodel.ItemGstVal = 0;
        try
        {
            gstrt = getgstrate(Entrymodel.ItemID.Value);
        }
        catch { }

        if (gstrt != 0)
        {
            Entrymodel.ItemGstVal = (((Entrymodel.ItemRate.Value) * (Entrymodel.ItemQty)) * gstrt) / 100;
        }
        model.Entries.Add(Entrymodel);
        Entrymodel = new();
        SelectedItem = new();

        SetTotal();
    }

    void SetTotal()
    {
        model.TotalValue = model.Entries.Sum(x => (x.ItemQty * x.ItemRate) + x.ItemGstVal);
    }

    protected void ItemChanged(InventoryItemModel item)
    {
        SelectedItem = item;
        Entrymodel.ItemID = item?.InventoryItemID;

    }



    decimal CalculateAndDisplay(decimal ItemQty, InventoryItemEntryModel entryModel)
    {
        entryModel.ItemQty = ItemQty;
        model.TotalValue = 0;
        decimal gstrt = 0;
        gstrt = getgstrate(entryModel.ItemID.Value);
        entryModel.ItemGstVal = (((entryModel.ItemRate.Value) * (entryModel.ItemQty)) * gstrt) / 100;
        foreach(var item in model.Entries)
        {
            model.TotalValue += (item.ItemQty * item.ItemRate) + item.ItemGstVal;
        }
        return entryModel.ItemGstVal.Value;
    }

}