@page "/financedashboard"
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IConfigTable config
@inject IFinanceDashboardService Iservice
@inject IBankAccountOwnService Ibankservice
@inject IJSRuntime JSRuntime
@using System
@using Pages.General.Dashboard
@using MudBlazor
@using MudBlazor.Components

<style>
    .finance-dashboard {
        padding: 0 px;
    }

    .dashboard-grid {
        /* margin-top: 20px; */
        padding: 36px;
        padding-bottom: 22px;
    }

    .dashboard-card {
        text-align: center;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    }

    .Receivable-card-header {
        background-color: #009688;
        color: white;
    }

    .payable-card-header {
        background-color: #f54c60;
        color: white;
    }

    .dashboard-table {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    }

</style>

<MudPaper Class="finance-dashboard">
    <MudToolBar>
        <MudText Typo="Typo.h5" Style="font-weight:500;">FINANCE DASHBOARD</MudText>
    </MudToolBar>
    <MudDivider />
    <MudGrid Class="dashboard-grid">
        <MudItem sm="6">
            <MudCard Class="dashboard-card">
                <MudCardHeader Class="payable-card-header">Payables</MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6" Class="highlight">@PayableAmount</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem sm="6">
            <MudCard Class="dashboard-card">
                    <MudCardHeader Class="Receivable-card-header">Receivables</MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.h6" Class="highlight">@ReceivableAmount</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem sm="6">
            <div class="text-center">
            <h5>Payable Dues</h5>
            <MudTable Items="@PayablesortedList" Class="dashboard-table">
                <HeaderContent>
                    <MudTh>Party</MudTh>
                        <MudTh> <MudTableSortLabel SortBy="new Func<DueBalanceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Payable Past Due</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate Context="party">
                    <MudTd>@party.TradeName</MudTd>
                    <MudTd>@party.TotalAmount</MudTd>
                </RowTemplate>
            </MudTable>
            </div>
        </MudItem>
        <MudItem sm="6">
            <div class="text-center">
            <h5>Receivable Dues</h5>
            <MudTable Items="@ReceivablesortedList" Class="dashboard-table">
                <HeaderContent>
                    <MudTh>Party</MudTh>
                        <MudTh> <MudTableSortLabel SortBy="new Func<DueBalanceModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Descending">Payable Past Due</MudTableSortLabel></MudTh>
                </HeaderContent>
                <RowTemplate Context="party">
                    <MudTd>@party.TradeName</MudTd>
                    <MudTd>@party.TotalAmount</MudTd>
                </RowTemplate>
            </MudTable>
            </div>
        </MudItem>

        <MudItem sm="6">
            <div class="text-center">
            <h5>Bank Balance</h5>
            <MudTable Items="@BankAccountBalanceList" Class="dashboard-table">
                <HeaderContent>
                    <MudTh>Account Number</MudTh>
                    <MudTh>Bank</MudTh>
                    <MudTh>Balance</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.AccountNumber</MudTd>
                    <MudTd>@context.BankTitle</MudTd>
                    <MudTd>@context.Amount</MudTd>
                </RowTemplate>
            </MudTable>
            </div>
        </MudItem>
        <MudItem sm="6">
            <div class="text-center">
            <h5>Cash Balance</h5>
            <MudTable Items="@CashAccountBalanceList" Class="dashboard-table">
                <HeaderContent>
                    <MudTh>Cash Account</MudTh>
                    <MudTh>Balance</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Title</MudTd>
                    <MudTd>@context.Amount</MudTd>
                </RowTemplate>
            </MudTable>
            </div>
        </MudItem>

        <MudItem sm="12">
            <MudPaper Style="box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);">
                <MudToolBar Style="justify-content:left;">
                    <MudText Style="width:500px;" Typo="Typo.h6">Expenses</MudText>
                </MudToolBar>
                <MudItem id="ExpenseLineGraph" style="padding:20px; width:100%;"></MudItem>
                <MudText Align="Align.Center" Style="padding:12px; font-weight:500;">Expenses in @ExpenseMonth @ExpenseYear</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>


@code {

    private int BranchID;
    string ExpenseMonth = "";
    string ExpenseYear = "";
    string[] Linelabels;
    decimal?[] Linedata;

    private Decimal? PayableAmount;
    private Decimal? ReceivableAmount;
    public AccountBalanceModel PayableModel { get; set; } = new();
    public AccountBalanceModel RecievableModel { get; set; } = new();

    List<DueBalanceModel> PayableDuesList = new List<DueBalanceModel>();
    List<DueBalanceModel> PayablesortedList = new List<DueBalanceModel>();
    List<DueBalanceModel> ReceivableDuesList = new List<DueBalanceModel>();
    List<DueBalanceModel> ReceivablesortedList = new List<DueBalanceModel>();

    List<BankAccountBalanceModel> BankAccountBalanceList = new List<BankAccountBalanceModel>();
    List<CashAccountBalanceModel> CashAccountBalanceList = new List<CashAccountBalanceModel>();

    List<DashboardModel> ExpensesData = new List<DashboardModel>();

    protected override async Task OnInitializedAsync()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var User = authprov.User;
        string BranchIDString = User.Claims.First(x => x.Type == "BranchID").Value;
        BranchID = int.Parse(BranchIDString);
        await GetAccountBalance();
        await GetPayableDueBalance();
        await GetReceivableDueBalance();
        await GetBankAccountBalance();
        await GetCashAccountBalance();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetExpenses();
            StateHasChanged();
        }
    }

    public async Task GetAccountBalance()
    {
        ConfigModel cpModel = config.GetFinancePayableGroupID();
        PayableModel.CoaID = int.Parse(cpModel.ValueString);
        ConfigModel crModel = config.GetFinanceReceivableGroupID();
        RecievableModel.CoaID = int.Parse(crModel.ValueString);
        PayableModel = Iservice.GetAccountBalance(PayableModel.CoaID, BranchID, PayableModel.Date);
        PayableAmount = PayableModel.TotalAmount;
        RecievableModel = Iservice.GetAccountBalance(RecievableModel.CoaID, BranchID, RecievableModel.Date);
        ReceivableAmount = RecievableModel.TotalAmount;
    }

    public async Task GetPayableDueBalance()
    {
        PayableDuesList = Iservice.GetPayableDueBalance(BranchID).ToList();
        PayablesortedList = PayableDuesList
            .GroupBy(item => new { item.PartyID, item.TradeName })
            .Select(group => new DueBalanceModel 
                {
                    PartyID = group.Key.PartyID.GetValueOrDefault(),
                    TradeName = group.Key.TradeName,
                    TotalAmount = group.Sum(item => item.Amount)
                })
            .OrderByDescending(item => item.TotalAmount)
            .ToList();
    }

    public async Task GetReceivableDueBalance()
    {
        ReceivableDuesList = Iservice.GetReceivableDueBalance(BranchID).ToList();
        ReceivablesortedList = ReceivableDuesList
            .GroupBy(item => new { item.PartyID, item.TradeName })
            .Select(group => new DueBalanceModel
                {
                    PartyID = group.Key.PartyID.GetValueOrDefault(),
                    TradeName = group.Key.TradeName,
                    TotalAmount = group.Sum(item => item.Amount)
                })
            .OrderByDescending(item => item.TotalAmount)
            .ToList();
    }

    public async Task GetBankAccountBalance()
    {
        BankAccountBalanceList = Iservice.GetBankAccountBalance(BranchID).ToList();
    }

    public async Task GetCashAccountBalance()
    {
        CashAccountBalanceList = Iservice.GetCashAccountBalance(BranchID).ToList();
    }

    public async Task GetExpenses()
    {
        DateTime today = DateTime.Today;
        ExpenseMonth = today.ToString("MMMM");
        ExpenseYear = today.ToString("yyyy");
        ExpensesData = Iservice.SelectExpenses(BranchID).ToList();

        Linelabels = ExpensesData.Select(x => x.DateList.Value.ToString("dd")).ToArray();
        Linedata = ExpensesData.Select(x => x.Total).ToArray();

        await JSRuntime.InvokeVoidAsync("ChartResult.ExpenseLineGraph", Linelabels, Linedata);
    }

    string GetTooltip(int partyID)
    {
        var partyDueList = PayableDuesList
            .Where(item => item.PartyID == partyID)
            .ToList();

        var table = $"<table><tr><th>Details</th><th>Amount</th></tr>";

        foreach (var due in partyDueList)
        {
            table += $"<tr><td>{due.InvoiceDate}</td><td>{due.Amount}</td></tr>";
        }

        table += "</table>";
        return table;
    }
}
