@page "/Reminders/{id:int}"
@page "/Reminders"
@using Views.Pages.FMS.Jobcard;
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject NavigationManager navigationManager
@inject IPeriodicMaintenanceService Iservice
@inject ITripService Itrip
@inject IBreakdownService ibreakdownService
@inject ITruckService Itruck
@inject MudBlazor.ISnackbar snackbar
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12" md="12">
        <MudGrid Spacing="4">
            <MudItem xs="12" md="12">
                <MudPaper Class="mb-3 p-2">
                    <MudGrid Spacing="4">
                        @if (SelectedTruck == null)
                        {
                            <MudItem xs="12" md="12">
                                <TruckSelector Value="SelectedTruck" ValueChanged="TruckSelected" Filter="All"></TruckSelector>
                            </MudItem>
                            
                        }
                        @if (SelectedTruck != null)
                        {

                            <MudItem xs="11" md="11">
                                <TruckSelector Value="SelectedTruck" ValueChanged="TruckSelected" Filter="All"></TruckSelector>
                            </MudItem>
                            <MudItem xs="1" md="1">
                                <MudTooltip Text="Create New Maintenance Reminder">
                                    <MudIconButton Icon="@Icons.Material.Filled.AddAlarm" OnClick="CreateNew" />
                                </MudTooltip>
                            </MudItem>
                        }

                    </MudGrid>
                </MudPaper>
            </MudItem>

        </MudGrid>
    </MudItem>

    <MudItem xs="12" md="12">
        <MudContainer>
            <br /><br />
            <MudGrid>
                @foreach (var item in PmList)
                {
                    <MudItem xs="12" md="4">
                        <MudItem xs="11">
                            <MudCard>
                                <div style="position:relative">
                                    <MudCardHeader>
                                        <CardHeaderAvatar>
                                            <MudAvatar Color="Color.Primary"><MudFab StartIcon="@Icons.Material.Filled.AddAlarm"></MudFab></MudAvatar>
                                        </CardHeaderAvatar>
                                        <CardHeaderContent>
                                            <MudText Typo="Typo.body1" GutterBottom="true"><b>@item.Title</b></MudText>
                                        </CardHeaderContent>
                                        <CardHeaderActions>
                                            <MudTooltip Text="Close Reminder">
                                                <MudIconButton Disabled="@_busy" @onclick="@(() => CloseReminder(item))" Icon="@Icons.Material.Filled.Close" Color="Color.Success" />
                                            </MudTooltip>
                                        </CardHeaderActions>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudText><h6>Date:</h6>@item.NDate</MudText>
                                        <MudText><h6>Audometer:</h6>@item.NAudometer</MudText>
                                        <MudText><h6>Remarks:</h6>@item.Remarks</MudText>
                                        <br />
                                        @if (item.JobCardID == null)
                                        {
                                            <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddTask" OnClick="@(()=>CreateJobcard(item))">Issue Jobcard</MudButton>
                                        }
                                        else
                                        {
                                            <MudText><h5>Jobcard already created.</h5></MudText>
                                        }
                                    </MudCardContent>
                                </div>
                            </MudCard>
                        </MudItem>

                    </MudItem>
                }
            </MudGrid>
        </MudContainer>
    </MudItem>
</MudGrid>

@code {

    private List<PeriodicMaintenanceInitiateModel> PmList = new();
    private TruckModel SelectedTruck;
    [Parameter]
    public int? id { get; set; } = null;
    private List<TruckModel> TruckList = new();
    public DateTime? BreakdownTime { get; set; } = DateTime.Now;
    public string Detail { get; set; }
    public string ContactNumber { get; set; }
    public int BranchID { get; set; }
    private List<BreakdownModel> BreakdownList = new();
    private bool _busy;

    // Lifecycle method that runs when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value;
            BranchID = int.Parse(brancIDString);

            // Fetch pending breakdowns and trucks for the branch
            BreakdownList = ibreakdownService.SelectPending(BranchID).ToList();
            TruckList = Itruck.SelectByBranch(BranchID, "All").ToList();

            // Fetch periodic maintenance records based on the provided ID
            PmList = Iservice.Select(id).ToList();
            if (PmList != null && PmList.Count() != 0)
            {
                if (TruckList != null && TruckList.Any(s => s.TruckID == PmList.First().TruckID))
                {
                    SelectedTruck = TruckList.FirstOrDefault(s => s.TruckID == PmList.First().TruckID);
                }
            }
            StateHasChanged();
        }
    }

    // Method to handle truck selection
    private void TruckSelected(TruckModel obj)
    {
        SelectedTruck = obj;
        if (SelectedTruck != null)
        {
            // fetch its periodic maintenance records
            PmList = Iservice.SelectByTruck(SelectedTruck?.TruckID, 3).ToList();
        }
        else
        {
            if (PmList != null)
                PmList.Clear();
        }
        StateHasChanged();
    }

    // Method to create a new periodic maintenance record
    private async Task CreateNew()
    {
        var authState = await auth.GetAuthenticationStateAsync();
        PeriodicMaintenanceInitiateModel pmModel = new PeriodicMaintenanceInitiateModel()
            {
                TruckID = SelectedTruck?.TruckID,
                RegNo = SelectedTruck?.RegNo,
                UserInfo = {
                         UserID = authState.User.Identity.Name
                    }
            };
        var parameters = new DialogParameters();
        parameters.Add("model", pmModel.Clone());
        var dialog = DialogService.Show<PeriodicMaintenanceInitiateDialog>("Periodic Maintenance", parameters);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            PeriodicMaintenanceInitiateModel item = (PeriodicMaintenanceInitiateModel)result.Data;
            PmList.Add(item);
        }
    }

    // Method to create a job card for a periodic maintenance record
    private async Task CreateJobcard(PeriodicMaintenanceInitiateModel item)
    {
        if (SelectedTruck != null)
        {
            // Get the current trip for the selected truck
            var CurrentTrip = Itrip.Select(Itruck.GetCurrentTrip(SelectedTruck.TruckID));
            if (CurrentTrip != null && !Itrip.IsClosed(CurrentTrip.TripID))
            {
                var authState = await auth.GetAuthenticationStateAsync();
                BreakdownModel Breakdown = new();
                Breakdown.BreakdownType = "PeriodicMaintenance";
                Breakdown.TruckID = SelectedTruck?.TruckID ?? 0;
                Breakdown.RegNo = SelectedTruck?.RegNo ?? "";
                Breakdown.BranchID = BranchID;
                Breakdown.BreakdownTime = DateTime.Now;
                Breakdown.Detail = "";
                Breakdown.ContactNumber = "";
                Breakdown.UserInfo = new ArmsModels.SharedModels.UserInfoModel()
                    {
                        UserID = authState.User.Identity.Name
                    };
                var parameters = new DialogParameters();
                parameters.Add("Breakdown", Breakdown.Clone());
                parameters.Add("PeriodicMaintenanceId", item.PMIID);

                DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
                var dialog = DialogService.Show<CreateJobcardDialog>("Initiate Jobcard", parameters, maxWidth);
                var result = await dialog.Result;
                if (!result.Canceled)
                {
                    JobcardModel jobcard = (JobcardModel)result.Data;
                    navigationManager.NavigateTo("jobcard/" + jobcard.TruckID);
                }
            }
            else
            {
                bool? ResultModel = await DialogService.ShowMessageBox(
                    "Can not create job!",
                    "Can not create this job because the Truck is on a trip.");
            }
        }
    }

    // Method to close a periodic maintenance reminder
    private async Task CloseReminder(PeriodicMaintenanceInitiateModel pmModel)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var parameters = new DialogParameters();
        parameters.Add("PmiModel", pmModel);
        var dialog = DialogService.Show<PeriodicMaintenanceCloseDialog>("Close Maintenance Reminder", parameters);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            PeriodicMaintenanceConcludeModel item = (PeriodicMaintenanceConcludeModel)result.Data;
            PmList.Remove(pmModel);
        }
        await Task.Delay(200);
        _busy = false;
    }
}

