@page "/Reminders/{id:int}"
@page "/Reminders"

@inject IPeriodicMaintenanceService Iservice
@inject ITruckService Itruck
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService


<MudGrid Spacing="4">
    <TruckSelector Value="SelectedTruck" ValueChanged="TruckSelected"></TruckSelector>
    @if (SelectedTruck != null)
    {
        <MudTooltip Text="Create New Maintenance Reminder">
            <MudIconButton Icon="@Icons.Material.Filled.AddAlarm" OnClick="CreateNew" />
        </MudTooltip>
    }

    <MudContainer>
        <br /><br />
        <MudGrid>
            @foreach (var item in PmList)
            {


                <MudItem xs="12" md="4">
                    <MudItem xs="11">
                        <MudCard>
                            <div style="position:relative">
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="Color.Primary"><MudFab Icon="@Icons.Material.Filled.AddAlarm"></MudFab></MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body1" GutterBottom="true"><b>@item.Title</b></MudText>

                                    </CardHeaderContent>
                                    <CardHeaderActions>

                                        <MudTooltip Text="Close Reminder">
                                            <MudIconButton @onclick="@(() => CloseReminder(item))" Icon="@Icons.Material.Filled.Close" Color="Color.Success" />
                                        </MudTooltip>

                                    </CardHeaderActions>
                                </MudCardHeader>
                                <MudCardContent>
                                    <MudText><h6>Date:</h6>@item.NDate</MudText>
                                    <MudText><h6>Audometer:</h6>@item.NAudometer</MudText>
                                    <MudText><h6>Remarks:</h6>@item.Remarks</MudText>

                                </MudCardContent>
                            </div>
                        </MudCard>
                    </MudItem>
                </MudItem>
                //  </div>





            }
        </MudGrid>
    </MudContainer>
</MudGrid>


@code {

    private List<PeriodicMaintenanceInitiateModel> PmList = new();
    private TruckModel SelectedTruck;
    [Parameter]
    public int? id { get; set; } = null;
    private List<TruckModel> TruckList = new();

    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            var brancIDString = authprov.User.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value;
            var BranchID = int.Parse(brancIDString);
            TruckList = Itruck.SelectByBranch(BranchID, null).ToList();
            PmList = Iservice.Select(id).ToList();
            StateHasChanged();
        }
    }
    private void TruckSelected(TruckModel obj)
    {
        SelectedTruck = obj;
        if (SelectedTruck != null)
        {
            PmList = Iservice.SelectByTruck(SelectedTruck?.TruckID, 3).ToList();

        }
        else
        {
            if(PmList != null)
            PmList.Clear();
        }
        StateHasChanged();
    }


    private async Task CreateNew()
    {
        var authState = await auth.GetAuthenticationStateAsync();

        PeriodicMaintenanceInitiateModel pmModel = new PeriodicMaintenanceInitiateModel()
            {
                TruckID = SelectedTruck?.TruckID,
                RegNo = SelectedTruck?.RegNo,
                UserInfo = {
                         UserID = authState.User.Identity.Name
                    }
            };

        var parameters = new DialogParameters();
        parameters.Add("model", pmModel);

        var dialog = DialogService.Show<PeriodicMaintenanceInitiateDialog>("Periodic Maintenance", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            PeriodicMaintenanceInitiateModel item = (PeriodicMaintenanceInitiateModel)result.Data;
            PmList.Add(item);
        }
    }

    private async Task CloseReminder(PeriodicMaintenanceInitiateModel pmModel)
    {
        var parameters = new DialogParameters();
        parameters.Add("PmiModel", pmModel);

        var dialog = DialogService.Show<PeriodicMaintenanceCloseDialog>("Close Maintenance Reminder", parameters);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            PeriodicMaintenanceConcludeModel item = (PeriodicMaintenanceConcludeModel)result.Data;
            PmList.Remove(pmModel);
        }
    }
}
