@page "/"
@using System.IO
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Hosting;
@inject AuthenticationStateProvider auth
@inject IAssetDocumentService AssetDocService
@inject MudBlazor.ISnackbar snackbar
@inject IJSRuntime JsRuntime
@inject IWebHostEnvironment _env;
@using Views.Data;
@using System.Text;
@using System.Net;

       @* <MudButton OnClick="RenderReportViewer">View Report</MudButton>
        <ReportViewer ReportName="@ReportName" Parameters=@ReportParameters  @ref="@report"></ReportViewer>*@
<AuthorizeView>
    <Authorized>
        <p><h5>ARMS-V2 WELCOMES YOU. <br /><br />Hey, <b>@context.User.Identity.Name</b></h5></p>
        @*<MudButton OnClick="RenderReportViewer">View Report</MudButton>
        <ReportViewer ReportName="@ReportName" Parameters=@ReportParameters  @ref="@report"></ReportViewer>*@
           @if (Visible)
            {
                <MudButton OnClick="CopyAttachment" Variant="Variant.Filled" Color="Color.Primary">Copy</MudButton>
            }
     </Authorized>
    <NotAuthorized>
        <MudGrid>
            <MudItem xs="8">
                <MudPaper Class="pa-4" Elevation="3">
                    <img src="ArmsStaticFiles/bgImage.jpg" />                   
                </MudPaper>
            </MudItem>
            <MudItem xs="4">
                <div class="truckImg">
                    <MudPaper Class="pa-4 " Elevation="3">
                        <img src="ArmsStaticFiles/Truck.jpg" />
                    </MudPaper>
                </div>
            </MudItem>
            
        </MudGrid>
 
    </NotAuthorized>
</AuthorizeView>



@code {
    public Dictionary<string, string> ReportParameters { get; set; } = new();

    public string ReportName { get; set; }
    bool Visible;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var authprov = await auth.GetAuthenticationStateAsync();
        Visible = authprov.User.IsInRole("SupUsr");

    }

    private async void CopyAttachment()
    {
        var Attachments = AssetDocService.GetNewFileName();
        try
        {
            foreach (var Attach in Attachments)
            {
                await JsRuntime.InvokeAsync<string>("console.log",Attach.AttachedDocument + " Being Copied");
                //string oldfileName = Path.Combine(_env.WebRootPath, FilePath);
                File.Copy(Path.Combine(_env.WebRootPath,"ArmsStaticFiles", "DocsUp", Attach.AttachedDocument), Path.Combine(_env.WebRootPath,"ArmsStaticFiles", "AssetDocuments", Attach.AttachedDocument));
            }
            snackbar.Add("Copy Completed", Severity.Success);
        }
        catch (Exception e)
        {
            snackbar.Add(e.Message, Severity.Error);
        }
        finally
        {
            
        }
    }
}
