@inject ITariffService Iservice
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IGstUsageIDService Igst

@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService


<MudDialog>
    @*<TitleContent>
    <h3>Add/Edit Tariff</h3>
    </TitleContent>*@
    <DialogContent>
        <EditForm id="TarrifForm" Model="@model" OnValidSubmit="OnValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudGrid Spacing="4">
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="@model.TariffTypeName" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TariffTypeName)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect Label="Nature" T="string" @bind-Value="@model.TariffGroup" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" AdornmentColor="Color.Secondary">
                        @foreach (var item in Iservice.TariffGroups)
                        {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                @*<MudItem xs="12" md="6">
                <MudSelect Label="Area" T="string" @bind-Value="@model.Area" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" AdornmentColor="Color.Secondary">

                <MudSelectItem Value="@("Operation")">Operation</MudSelectItem>
                <MudSelectItem Value="@("Maintenance")">Maintenance</MudSelectItem>
                <MudSelectItem Value="@("Inventory")">Inventory</MudSelectItem>
                </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                <MudRadioGroup T="int?" @bind-SelectedOption="@model.TariffSign">
                <MudRadio T="int?" Option="1" Color="Color.Primary">INCOME</MudRadio>
                <MudRadio T="int?" Option="-1" Color="Color.Primary">EXPENSE</MudRadio>
                </MudRadioGroup>
                </MudItem>*@
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="@model.Unit" Label="Unit (eg: Litre , Metric Ton)" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Unit)"></MudTextField>
                </MudItem>
                @*<MudItem xs="12" md="6">
                <MudCheckBox @bind-Checked="@model.AllowMultiple" Label="Allow Multiple?" For="@(() => model.AllowMultiple)" />
                </MudItem>*@
                <MudItem xs="12" md="6">
                    <MudAutocomplete Variant="Variant.Outlined" Margin="Margin.Dense" T="GstUsageCodeModel" Label="Usage ID" Value="@SelectedGstCode" ValueChanged="SetUsageId" Text="@SelectedGstCode?.Description" SearchFunc="@SearchUsageIDs"
                                     ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Description)) ? null : string.Format("{0} | {1}",e.UsageCode,e.Description))"
                                     ResetValueOnEmptyText=true
                                     CoerceText=true CoerceValue=true Required=true RequiredError="Usage ID is required!" />
                    <ValidationMessage For="@(()=>model.UsageCode)" />
                </MudItem>
            </MudGrid>
            @*<MudButton Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Save</MudButton>*@
        </EditForm>

    </DialogContent>
    <DialogActions>
        <div Style="margin-right:18px; margin-bottom:18px;">
            <MudButton Style="margin-right:18px;" form="TarrifForm" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Default" ButtonType="ButtonType.Button">Cancel</MudButton>
        </div>
    </DialogActions>
</MudDialog>
@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public TariffTypeModel model { get; set; }

    private GstUsageCodeModel SelectedGstCode { get; set; }
    private List<GstUsageCodeModel> UsageIds = new();

    private string searchString = "";

    public bool HasPermissionEdit { get; set; } = false;
    public int DocTypeID = 23;

    protected override async Task OnInitializedAsync()
    {
        await GetAll();

        if (UsageIds != null && UsageIds.Any(s => s.UsageCode == model.UsageCode))
        {
            SelectedGstCode = UsageIds.FirstOrDefault(s => s.UsageCode == model.UsageCode);
        }
        else
        {
            model.UsageCode = null;
        }
    }

    private async Task GetAll()
    {
        UsageIds = Igst.Select(DateTime.Today).ToList();
    }
    private void SetUsageId(GstUsageCodeModel obj)
    {
        SelectedGstCode = obj;
        model.UsageCode = SelectedGstCode?.UsageCode ?? null;

    }

    private async Task<IEnumerable<GstUsageCodeModel>> SearchUsageIDs(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return UsageIds;
        //return UsageIds.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));

        return UsageIds.Where(x => (x.UsageCode + " " +
        x.Description).Contains(value == null ? string.Empty : value, StringComparison.InvariantCultureIgnoreCase)
        && x.Id != 0);
    }


    private async Task OnValidSubmit(EditContext context)
    {
        if (HasPermissionEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            model.UserInfo.UserID = authprov.User.Identity.Name;

            try
            {
                model = Iservice.UpdateTariffType(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                MudDialog.Close(model);
                model = new();

            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
               "Permission denied!",
               "You dont have any permission to submit.");
        }
    }

    private void Cancel() => MudDialog.Cancel();

}


