@attribute [Authorize]
@inject AuthenticationStateProvider auth
@using System.Threading;
@inject ITariffService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject IGstUsageIDService Igst
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudDialog>
    <DialogContent>
        <EditForm id="TarrifForm" Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid Spacing="4">
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="@model.TariffTypeName" Label="Title" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TariffTypeName)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect Label="Nature" T="string" @bind-Value="@model.TariffGroup" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" AdornmentColor="Color.Secondary">
                        @foreach (var item in Iservice.TariffGroups)
                        {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField @bind-Value="@model.Unit" Label="Unit (eg: Litre , Metric Ton)" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Unit)"></MudTextField>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudAutocomplete Variant="Variant.Outlined" Margin="Margin.Dense" T="GstUsageCodeModel" Label="Usage ID" Value="@SelectedGstCode" ValueChanged="SetUsageId" Text="@SelectedGstCode?.Description" SearchFunc="@SearchUsageIDs"
                                     ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Description)) ? null : string.Format("{0} | {1}",e.UsageCode,e.Description))" ResetValueOnEmptyText=true CoerceText=true CoerceValue=true Required=true RequiredError="Usage ID is required!" />
                    <ValidationMessage For="@(()=>model.UsageCode)" />
                </MudItem>
            </MudGrid>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <div Style="margin-right:18px; margin-bottom:18px;">
            <MudButton Disabled="@_busy" Style="margin-right:18px;" form="TarrifForm" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit">Submit</MudButton>
            <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Default" ButtonType="ButtonType.Button">Cancel</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public TariffTypeModel model { get; set; }
    private GstUsageCodeModel SelectedGstCode { get; set; }
    private List<GstUsageCodeModel> UsageIds = new();

    private string searchString = "";
    private bool _busy;

    public bool HasPermissionTariffServiceEdit { get; set; } = false;
    public int DocTypeID = 41;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionTariffServiceEdit = await Irole.HasClaim(DocTypeID.ToString(), "Edit", ctc.Token);

        await GetAll();

        if (UsageIds != null && UsageIds.Any(s => s.UsageCode == model.UsageCode))
        {
            SelectedGstCode = UsageIds.FirstOrDefault(s => s.UsageCode == model.UsageCode);
        }
        else
        {
            model.UsageCode = null;
        }
    }

    private async Task GetAll()
    {
        UsageIds = Igst.Select(DateTime.Today).ToList();
    }

    private void SetUsageId(GstUsageCodeModel obj)
    {
        SelectedGstCode = obj;
        model.UsageCode = SelectedGstCode?.UsageCode ?? null;
    }

    private async Task<IEnumerable<GstUsageCodeModel>> SearchUsageIDs(string value)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return UsageIds;
        //return UsageIds.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));

        return UsageIds.Where(x => (x.UsageCode + " " +
        x.Description).Contains(value == null ? string.Empty : value, StringComparison.InvariantCultureIgnoreCase)
        && x.Id != 0);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is being submitted!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionTariffServiceEdit)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            model.UserInfo.UserID = authprov.User.Identity.Name;
            try
            {
                model = Iservice.UpdateTariffType(model);
                snackbar.Add("Saved Successfully", Severity.Success);
                MudDialog.Close(model);
                model = new();
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }
        }
        else
        {
            bool? ResultModel = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Add or Edit Tariff.");
        }
        await Task.Delay(2000);
        _busy = false;
    }

    private void Cancel() => MudDialog.Cancel();
}