@page "/InterBranchPaymentMemoView"
@using System.Threading;
@inject IPaymentService Iservice
@inject IPaymentInitiatedService IinitiateService
@inject IOutstandingBillsService OBIservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@inject IRoleService<RoleModel> Irole
@attribute [Authorize]
@inject IDialogService DialogService

@using Pages.Finance.Transactions.PurchaseAndPayment




<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>


<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model" T="PaymentMemoModel">

            <ToolBarContent>
                <MudText Typo="Typo.h6">InterBranch Payment Memo</MudText>
                <MudTooltip Text="New Payment Memo">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialogpayment(new PaymentMemoModel(),false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Payment Memo..." Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                              @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>

            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.OtherBranchID)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.PartyInfo.TradeName)" InitialDirection="SortDirection.Ascending">Party Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<PaymentMemoModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>

                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="Branch">@context.OtherBranchID</MudTd>
                <MudTd DataLabel="PartyName">@context.PartyInfo.TradeName</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    @if (@context.AuthLevelId == null)
                    {
                        <MudTooltip Text="Edit">
                            <MudFab @onclick="@(()=> OpenDialogpayment(context,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudTooltip Text="Verify">
                            <MudFab @onclick="@(()=> OpenDialogpayment(context,true))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                    @if (@context.AuthLevelId == 99 && context.PaymentStatus == 0)
                    {
                        <MudTooltip Text="Initiate PaymentMemo">
                            <MudFab @onclick="@(()=> Initiate(context))" Color="Color.Success" Icon="@Icons.Material.Filled.Payment" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                    <MudTooltip Text="view">
                        <MudFab @onclick="@(()=> OpenDialogpayment(context,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>




@code {

    //private PaymentMemoModel model = new PaymentMemoModel();

    //private List<PaymentMemoModel> collection = new List<PaymentMemoModel>();
    //private List<BillsPaidModel> pmnList = new List<BillsPaidModel>();



    //public bool IsApproved { get; set; } = false;
    //private int? branchID = null;
    //private string UserID = null;
    //protected override async Task OnInitializedAsync()
    //{
    //    model = new();
    //    var authprov = await auth.GetAuthenticationStateAsync();
    //    branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
    //    var user = authprov.User;
    //    UserID = user.Identity.Name;
    //    GetAll(IsApproved);
    //}
    //void ApprovedChanged(bool value)
    //{

    //    IsApproved = value;
    //    GetAll(IsApproved);

    //}

    //private void GetAll(bool val)
    //{


    //    if (val)
    //    {
    //        collection = Iservice.SelectInterBranch(branchID).Where( x => x.PaymentStatus != 0).ToList();

    //    }
    //    else
    //    {
    //        collection = Iservice.SelectInterBranch(branchID).Where(x =>  x.PaymentStatus == 0).ToList();

    //    }

    //}
    //public async Task OpenDialogpayment(PaymentMemoModel ppm, bool ReadOnly)
    //{
    //    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    //    DialogParameters parms = new DialogParameters();
    //    parms.Add("model", ppm);
    //    parms.Add("IsReadOnly", ReadOnly);

    //    var dialog = DialogService.Show<InterBranchPaymentMemoDialog>(ppm.PaymentMemoID == null ? "ADD" : "EDIT", parms, maxWidth);
    //    var result = await dialog.Result;

    //    GetAll(IsApproved);
    //}

    //private void Delete(PaymentMemoModel tx)
    //{
    //    Iservice.Delete(tx.PaymentMemoID, "Rijas");
    //    snackbar.Add("Deleted Successfully", Severity.Success);
    //    GetAll(IsApproved);
    //}

    //private async Task selected(PaymentMemoModel ppm)
    //{
    //    PaymentInitiatedModel pim = new PaymentInitiatedModel();
    //    if (ppm.PaymentMemoID != null)
    //    {
    //        //foreach (var item in selectedItems1)
    //        //{
    //        if (ppm.AuthLevelId != 99)
    //        {
    //            snackbar.Add("Unverified cannot be selected", Severity.Warning);
    //            return;
    //        }
    //        //}

    //        pim.PaymentMemos.Add(ppm);
    //        foreach (var item in pim.PaymentMemos)
    //        {
    //            foreach (var item1 in Iservice.GetBills(item.PaymentMemoID))
    //            {
    //                pmnList.Add(item1);
    //            }

    //            item.Bills = pmnList;
    //            item.PaymentStatus = 1;
    //        }
    //        pim.DueOn = null;
    //        DialogParameters parms = new DialogParameters();
    //        parms.Add("model", pim);
    //        parms.Add("model1", ppm);
    //        var dialog = DialogService.Show<PaymentInitialMemo>("Payment", parms);
    //        var result = await dialog.Result;

    //        if (!result.Cancelled)
    //        {
    //            PaymentInitiatedModel UpatedModel = (PaymentInitiatedModel)result.Data;
    //            var authprov = await auth.GetAuthenticationStateAsync();
    //            //var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
    //            //int brancID = int.Parse(brancIDString);
    //            //var user = authprov.User;
    //            UpatedModel.UserInfo.UserID = UserID;
    //            UpatedModel.BranchID = branchID;
    //            Iservice.InitiatePayment(UpatedModel);
    //            GetAll(IsApproved);
    //        }
    //    }
    //    else
    //    {
    //        snackbar.Add("Please Select Memo", Severity.Success);
    //        return;
    //    }




    //}

    private PaymentMemoModel model = new PaymentMemoModel();
    private List<PaymentMemoModel> collection = new List<PaymentMemoModel>();
    public bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;
    private string searchTerm = "";
    private int? branchID = null;
    private string UserID = null;


    public bool HasAuthoriseDelete { get; set; } = false;
    public int DocTypeID { get; set; } = 7;


    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        GetAll(IsApproved, NumberOfRecords);
    }

    void ApprovedChanged(bool value)
    {
        IsApproved = value;
        GetAll(IsApproved, NumberOfRecords);
    }
    protected override async Task OnInitializedAsync()
    {


        CancellationTokenSource ctc = new CancellationTokenSource();
        HasAuthoriseDelete = await Irole.HasClaim(DocTypeID.ToString(), "Delete", ctc.Token);

        model = new();
        var authprov = await auth.GetAuthenticationStateAsync();
        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        GetAll(IsApproved, NumberOfRecords);
    }

    private void GetAll(bool val, int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;

        if (val)
        {
            collection = Iservice.SelectInterBranchByApproved(branchID, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectInterBranchByUnapproved(branchID, NumberOfRecords, searchTerm).ToList();
        }
    }

    public async Task OpenDialogpayment(PaymentMemoModel ppm, bool ReadOnly)
    {
        DialogParameters parms = new DialogParameters();
        parms.Add("model", ppm);
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<InterBranchPaymentMemoDialog>(ppm.PaymentMemoID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {

        }
        GetAll(IsApproved, NumberOfRecords);
    }

    private async Task Delete(PaymentMemoModel tx)
    {


        if (HasAuthoriseDelete)
        {
            Iservice.Delete(tx.PaymentMemoID, "Rijas");
            snackbar.Add("Deleted Successfully", Severity.Success);
            GetAll(IsApproved, NumberOfRecords);

        }
        else
        {

            bool? result = await DialogService.ShowMessageBox(
        "Permission denied!",
        "You dont have any permission to delete.");
        }
    }


    private async Task Initiate(PaymentMemoModel pm)
    {
        PaymentInitiatedModel pi = new PaymentInitiatedModel(pm);

        if (pi.PaymentMemoID != null)
        {
            if (pi.AuthLevelId != 99)
            {
                snackbar.Add(pm.DocumentNumber + "is Not Approved!", Severity.Error);
                return;
            }
            pi.Bills = Iservice.GetBills(pi.PaymentMemoID).ToList();
            pi.PaymentStatus = 1;

            DialogParameters parms = new DialogParameters();
            parms.Add("PI", pi);
            var dialog = DialogService.Show<InitiatePaymentMemo>("Payment", parms, new DialogOptions() { MaxWidth = MaxWidth.Medium });
            var result = await dialog.Result;

            if (!result.Canceled)
            {
                PaymentInitiatedModel UpdatedModel = (PaymentInitiatedModel)result.Data;
                UpdatedModel.UserInfo.UserID = UserID;
                UpdatedModel.BranchID = branchID;
                IinitiateService.Update(UpdatedModel);
                GetAll(IsApproved, NumberOfRecords);
            }
        }
        else
        {
            snackbar.Add("Please Select Memo", Severity.Success);
            return;
        }
    }
}