@page "/InterBranchMapping"
@inject IInterBranchMappingService Iservice
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Filter="new Func<InterBranchMappingModel,bool>(FilterFunc1)" Dense="true" Hover="true" Striped="true" Elevation="10">
            <ToolBarContent>
                <MudText Typo="Typo.h6">InterBranch Account Mapping</MudText>
                <MudTooltip Text="New">
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(new InterBranchMappingModel(),false,false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Inter Branch Account Mapping..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<InterBranchMappingModel, object>(x=> x.TransactionTypeName)" InitialDirection="SortDirection.Ascending">Transaction Type</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<InterBranchMappingModel, object>(x=> x.BranchName)" InitialDirection="SortDirection.Ascending">Branch Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<InterBranchMappingModel, object>(x=> x.InterBranchArdCode)" InitialDirection="SortDirection.Ascending">InterBranch ArdCode</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="GrnNO">@context.TransactionTypeName</MudTd>
                <MudTd DataLabel="GrnNO">@context.BranchName</MudTd>
                <MudTd DataLabel="EntryDate">@context.InterBranchArdCode</MudTd>
                <MudTd DataLabel="">
                    <MudFab @onclick="@(()=> OpenDialog(context,false,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(()=> OpenDialog(context,true,true))" Color="Color.Info" Icon="@Icons.Material.Filled.GridView" title="View" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private InterBranchMappingModel model = new InterBranchMappingModel();
    private List<InterBranchMappingModel> collection = new List<InterBranchMappingModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
    private int numberOfRecords = 100;
    private string searchTerm = "";
    private bool _busy;

    public bool HasPermissionInterBranchMappingServiceDelete { get; set; } = false;
    public int InterBranchMappingDocTypeID = 86;

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    //private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    //{
    //    if (e.Key == "Enter")
    //    {
    //        await ReloadTable();
    //    }
    //}

    private async Task ReloadTable()
    {
        GetAll(NumberOfRecords);
    }
    private bool FilterFunc1(InterBranchMappingModel element) => FilterFunc(element, searchTerm);

    private bool FilterFunc(InterBranchMappingModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.BranchName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.TransactionTypeName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;       
        return false;
    }


    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionInterBranchMappingServiceDelete = await Irole.HasClaim(InterBranchMappingDocTypeID.ToString(), "Delete", ctc.Token);

        GetAll(NumberOfRecords);
    }

    private void GetAll(int numberOfRecords)
    {
        int NumberOfRecords = numberOfRecords;
        collection = Iservice.Select(NumberOfRecords, string.Empty).ToList();
    }

    private async Task OpenDialog(InterBranchMappingModel tds, bool Readonly, bool View)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        DialogParameters parms = new DialogParameters();
        parms.Add("model", tds.Clone());
        parms.Add("ReadOnly", Readonly);
        parms.Add("IsView", View);
        var dialog = DialogService.Show<InterBranchMappingDialog>(tds.ID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            GetAll(NumberOfRecords);
        }
        await Task.Delay(200);
        _busy = false;
    }

    private async Task Delete(InterBranchMappingModel model)
    {
        if (HasPermissionInterBranchMappingServiceDelete)
        {
            bool? result = await DialogService.ShowMessageBox(
                "Warning !",
                "Are you sure, you want to delete - " + model.BranchName + " (" + model.InterBranchArdCode + ") ?");
            if (result == true)
            {
                var authprov = await auth.GetAuthenticationStateAsync();
                var User = authprov.User;
                var UserID = User.Identity.Name;
                Iservice.Delete(model.ID, UserID);
                snackbar.Add("Deleted Successfully", Severity.Success);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Delete InterBranchMapping.");
        }
        GetAll(NumberOfRecords);
    }
}