@page "/InterBranchReceiptView"
@page "/InterBranchReceiptView/{id:int}"
@inject IReceiptService Iservice
@inject IOutstandingBillsService OutstandingIservice
@inject ICostCenterService costIservice
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">InterBranch Receipt</MudText>
                <MudTooltip Text="Add Receipt">
                    <MudIconButton Disabled="@_busy" Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(new ReceiptModel(),false,false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Receipt..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ReceiptModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ReceiptModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ReceiptModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="TotalAmount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    @if (@context.AuthLevelId == null)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,false,false))" Color="Color.Primary" title="Edit" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudFab @onclick="@(()=> OpenDialog(context,true,false))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />
                    }
                    <MudFab @onclick="@(()=> OpenDialog(context,true,true))" Color="Color.Info" Icon="@Icons.Material.Filled.GridView" title="View" Size="Size.Small" IconSize="Size.Small" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
                <MudItem xs="12" md="9"> </MudItem><MudItem xs="12" md="3">
                </MudItem>
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>
<br />

@code {

    private ReceiptModel model = new ReceiptModel();
    private List<ReceiptModel> collection = new List<ReceiptModel>();

    public bool IsApproved { get; set; } = false;
    private int numberOfRecords = 100;
    private string searchTerm = "";
    private bool _busy;

    [Parameter]
    public int? id { get; set; } = null;
    int DocTypeID = 14;

    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        await GetReceiptBill(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetReceiptBill(IsApproved, NumberOfRecords);

        await signalRService.StartAsync();
        await Task.Delay(200);
        if (id != null && collection != null && collection.Any(g => g.ReceiptID == id))
        {
            await OpenDialog(collection.FirstOrDefault(s => s.ReceiptID == id), true,false);
        }
    }

    async Task ApprovedChanged(bool value)
    {
        IsApproved = value;
        await GetReceiptBill(IsApproved, NumberOfRecords);
    }

    public async Task GetReceiptBill(bool val, int numberOfRecords)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        int NumberOfRecords = numberOfRecords;
        if (val)
        {
            collection = Iservice.SelectInterBranchByApproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectInterBranchByUnapproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
    }

    private async Task OpenDialog(ReceiptModel tds, bool ReadOnly, bool View)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", tds.Clone());
        parms.Add("PageToRedirectLink", "/InterBranchReceiptView");
        parms.Add("ReadOnly", ReadOnly);
        var dialog = DialogService.Show<InterBranchReceiptDialog>(tds.ReceiptID == null ? "ADD" : "EDIT", parms, maxWidth);
        var result = await dialog.Result;

        var isCancelled = result.Cancelled;
        if (!isCancelled)
        {
            var ReturnData = (ReceiptModel)result.Data;
            notificationMessage.InitiateBranch = new BranchModel() { BranchID = ReturnData.BranchID };
            notificationMessage.ReceivedBranch = new BranchModel() { BranchID = ReturnData.BranchID };
            notificationMessage.MessageTitle = IpushNotificationService.GetMessageTitle(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification");
            notificationMessage.MessageBody = IpushNotificationService.GetMessageBody(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification", ReturnData.DocumentDate);
            notificationMessage.RedirectedTo = 0;
            notificationMessage.ExpiredBy = 7;
            notificationMessage.DocumentID = ReturnData.ReceiptID;
            notificationMessage.MessageGroupID = "PendingVerification";
            notificationMessage.PageToRedirectLink = "/InterBranchReceiptView";
            notificationMessage.ClaimValue = "Verify 1";
            notificationMessage.DocumentTypeID = DocTypeID;
            notificationMessage.MsgDate = DateTime.Now;
            await signalRService.Send(notificationMessage);
        }
        await GetReceiptBill(IsApproved, NumberOfRecords);

        await Task.Delay(200);
        _busy = false;
    }

    private async Task Delete(ReceiptModel model)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning !",
            "Are you sure, you want to delete - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
        if (result == true)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var User = authprov.User;
            var branchID = int.Parse(User.Claims.First(x => x.Type == "BranchID").Value);
            var UserID = User.Identity.Name;
            Iservice.Delete(model.ReceiptID, UserID);
            snackbar.Add("Deleted Successfully", Severity.Success);
        }
        await GetReceiptBill(IsApproved, NumberOfRecords);
    }
}