@inject IContraService Iservice
@using ArmsModels.BaseModels.Finance.Transactions
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject IChartOfAccountService accountService
@inject IDimensionService dimensionIservice
@inject IBranchService branchService
@inject IInterBranchTransactionService intermappingIservice
@inject TruckDataArrayModel data
@inject IConfiguration configuration
@using Microsoft.Extensions.Configuration
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent>
        <h3>Contra Entry</h3>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>


        <MudPaper>
            <MudContainer Style="max-height: 450px; overflow-y: scroll">

                <MudGrid>

                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="DocumentDate" ReadOnly="IsReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />

                    </MudItem>

                    <MudItem xs="12" md="6">

                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.EntryReference" Label="Reference" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.EntryReference)"></MudTextField>


                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudCard>
                            <MudCardContent>
                                <MudItem xs="12" md="12">
                                    <MudTextField ReadOnly="true" @bind-Value="hmbarnchName" Label="Home Branch" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

                                </MudItem>
                                <MudItem xs="12" md="12">
                                    <MudSelect ReadOnly="IsReadOnly" Label="Select ReceiptMode" @bind-Value="vaal" SelectedValuesChanged="ReceiptModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                        <MudSelectItem Value="@("Payment")" />
                                        <MudSelectItem Value="@("Reciept")" />


                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="12">
                                    <MudSelect ReadOnly="IsReadOnly" Label="Mode" @bind-Value="model.ContraModeHome" SelectedValuesChanged="ModeChange" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                        <MudSelectItem Value="@("Bank")" />
                                        <MudSelectItem Value="@("Cash")" />


                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="12">

                                    <MudAutocomplete ReadOnly="IsReadOnly" T="AccountRuleDefinitionModel" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Select Accounts" @bind-Value="accountRuleDefinitionH" ResetValueOnEmptyText="true"
                                                     Clearable="true" SearchFunc="SearchAccountsH" ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Title)) ? null : string.Format("{0} | {1}",e.ArdCode,e.Title))"></MudAutocomplete>

                                </MudItem>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudCard>
                            <MudCardContent>
                                <MudItem xs="12" md="12">
                                    <MudSelect ReadOnly="IsReadOnly" Label="Select Other Branch" @bind-Value="model.BranchIDOther" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                        @foreach (var ditem in branches)
                                        {
                                            <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="12">
                                    <MudTextField ReadOnly="true" Label="Reciept Mode" @bind-Value="OrouteName" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>

                                </MudItem>
                                <MudItem xs="12" md="12">
                                    <MudSelect ReadOnly="IsReadOnly" Label="Mode" @bind-Value="model.ContraModeOther" SelectedValuesChanged="ModeChangeOther" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                        <MudSelectItem Value="@("Bank")" />
                                        <MudSelectItem Value="@("Cash")" />


                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="12">

                                    <MudAutocomplete ReadOnly="IsReadOnly" T="AccountRuleDefinitionModel" Variant="Variant.Outlined" Margin="Margin.Dense" Label="Select Accounts" @bind-Value="accountRuleDefinitionO" ResetValueOnEmptyText="true"
                                                     Clearable="true" SearchFunc="SearchAccountsO" ToStringFunc="@(e => (e == null || string.IsNullOrEmpty(e.Title)) ? null : string.Format("{0} | {1}",e.ArdCode,e.Title))"></MudAutocomplete>

                                </MudItem>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" md="6">

                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>


                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect ReadOnly=bnktl Label="Select Payment Mode" T="string" @bind-Value="model.PaymentTool" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var item in data.BankTools)
                            {
                                <MudSelectItem Value="@item">@item</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    @if (model.PaymentTool == "CHEQUE")
                    {

                        <MudItem xs="12" md="12">
                            <MudGrid>
                                <MudItem xs="12" md="6">
                                    <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.ChequeInfo.ChequeNumber" Label="ChequeNumber" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.ChequeInfo.ChequeNumber)"></MudTextField>

                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudDatePicker ReadOnly="IsReadOnly" Label="ChequeDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.ChequeInfo.ChequeDate" DateFormat="dd/MM/yyyy" />

                                </MudItem>
                            </MudGrid>
                        </MudItem>

                    }


                    <MudItem xs="12" md="12">

                    </MudItem>
                    <MudItem xs="12" md="4">
                        <MudSelect Label="Select Transaction Type" ReadOnly="IsReadOnly" @bind-Value="model.InterBranchTranID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in transactionTypeList)
                            {
                                <MudSelectItem Value="@ditem.ID">@ditem.TransactionTypeName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in costCenter)
                            {
                                <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="4">

                        <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in dimension)
                            {
                                <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                            }
                        </MudSelect>

                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                    </MudItem>
                    <MudItem xs="12">
                        @if ((IsReadOnly) && (!IsView))
                        {
                            <AutherizationStatusComponent DocTypeID="3" DocumentID="model.ContraID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                        }

                    </MudItem>
                </MudGrid>

            </MudContainer>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        @if (!IsReadOnly)
        {
            <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Success">Submit</MudButton>

            <MudButton @onclick="Cancel" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public ContraModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    private List<InterBranchTransactionTypeModel> transactionTypeList = new();

    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    private List<BranchModel> branches = new();


    private AccountRuleDefinitionModel accountRuleDefinitionH = new();
    private AccountRuleDefinitionModel accountRuleDefinitionO = new();

    public bool Ispayment = true;
    public bool bnktl = true;
    private string vaal = "Payment";
    public string value = "invisible";
    private string hmbarnchName, OrouteName;
    private int? branchID = null;
    private string UserID = null;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }


    protected void IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {

            model.UserInfo.UserID = UserID;
            try
            {
                Iservice.Approve(model.ContraID, model.UserInfo.UserID, aprvd.Remarks);
                snackbar.Add("Approved Successfully", Severity.Success);
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Warning);
            }

        }

    }
    private async Task<IEnumerable<AccountRuleDefinitionModel>> SearchAccountsH(string searchString)
    {
        await Task.Delay(5);

        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int branchID = int.Parse(brancIDString);
        return accountService.GetPaymentCodes(branchID, model.ContraModeHome).ToList(); ;
    }
    private async Task<IEnumerable<AccountRuleDefinitionModel>> SearchAccountsO(string searchString)
    {
        await Task.Delay(5);

        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int branchID = int.Parse(brancIDString);
        return accountService.GetPaymentCodes(branchID, model.ContraModeOther).ToList(); ;
    }


    public void ModeChange()
    {
        if (Ispayment == true)
        {
            if (model.ContraModeHome == "Bank")
            {
                bnktl = false;
            }
            else
            {
                value = "invisible";
                model.PaymentTool = null;
                bnktl = true;

            }
        }

    }

    public void ModeChangeOther()
    {
        if (Ispayment == false)
        {
            if (model.ContraModeOther == "Bank")
            {
                bnktl = false;
            }
            else
            {
                value = "invisible";
                model.PaymentTool = null;
                bnktl = true;

            }
        }

    }
    protected override async Task OnInitializedAsync()
    {

        var authprov = await auth.GetAuthenticationStateAsync();

        branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        var user = authprov.User;
        UserID = user.Identity.Name;
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchName").Value;
        hmbarnchName = brancIDString.ToString();
        transactionTypeList = intermappingIservice.GetTypes().ToList();
        OrouteName = "Reciept";
        if (model.ContraID == null)
        {
            model.TotalAmount = 0;
        }
        else
        {

            accountRuleDefinitionH.CoaID = model.CoaIDHome;
            accountRuleDefinitionH.ArdCode = model.ArdCodeHome;
            accountRuleDefinitionO.CoaID = model.CoaIDOther;
            accountRuleDefinitionO.ArdCode = model.ArdCodeOther;



        }

        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        branches = branchService.Select().ToList();
    }
    public void ReceiptModeChange()
    {

        if (vaal == "Payment")
        {
            OrouteName = "Reciept";
            Ispayment = true;

        }
        else
        {
            OrouteName = "Payment";
            Ispayment = false;
        }
    }
    public void Cancel()
    {
        MudDialog.Cancel();
    }
    public void CreatePaymentMemo()
    {

        model.CoaIDHome = accountRuleDefinitionH.CoaID;
        model.ArdCodeHome = accountRuleDefinitionH.ArdCode;
        model.CoaIDOther = accountRuleDefinitionO.CoaID;
        model.ArdCodeOther = accountRuleDefinitionO.ArdCode;
        model.BranchID = branchID;
        model.IsPayment = Ispayment;
        model.IsInterBranch = true;
        model.NatureOfTransaction = "Contra";


        model.UserInfo.UserID = UserID;
        Iservice.Update(model);
        MudDialog.Close();

    }


}
