@page "/InterBranchContraView"
@using ArmsModels.BaseModels.Finance.Transactions
@inject IContraService Iservice
@inject ICostCenterService costIservice
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService

<MudGrid Spacing="4">
    <MudItem xs="12">
        <MudTable Items="@collection" Dense="true" Hover="true" Striped="true" Elevation="10" @bind-place="model">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Inter Branch Contra</MudText>
                <MudTooltip Text="New Payment Memos">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add" @onclick="@(()=> OpenDialog(new ContraModel(),false,false))" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                </MudTooltip>
                <MudSpacer></MudSpacer>
                <MudTextField @bind-Value="searchTerm" Placeholder="Search Contra..." Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                              @onkeyup="HandleSearchKeyUp">
                </MudTextField>
                <div class="tablefont">
                    <span style="margin-right: 10px;">Maximum Records: </span>
                </div>
                <MudItem xs="1">
                    <MudTextField @bind-Value="@NumberOfRecords" Variant="Variant.Outlined" Margin="Margin.Dense" Class="padding5" Style="width: 80px;"></MudTextField>
                </MudItem>
                <MudCheckBox Label="Approved Entries" CheckedChanged="((bool value)=>ApprovedChanged(value))" Checked="@IsApproved" Size="Size.Medium" Color="Color.Primary" Class="tablefont margin0"></MudCheckBox>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ContraModel, object>(x=> x.DocumentDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContraModel, object>(x=> x.DocumentNumber)" InitialDirection="SortDirection.Ascending">Document Number</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContraModel, object>(x=> x.ContraModeHome)" InitialDirection="SortDirection.Ascending">Payment</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ContraModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="DocumentDate">@context.DocumentDate?.ToShortDateString()</MudTd>
                <MudTd DataLabel="DocumentNumber">@context.DocumentNumber</MudTd>
                <MudTd DataLabel="ContraModeHome">@context.ContraModeHome</MudTd>
                <MudTd DataLabel="Amount">@context.TotalAmount</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="View">
                        <MudFab @onclick="@(()=> OpenDialog(context,true,true))" Color="Color.Primary" Icon="@Icons.Material.Filled.GridView" Size="Size.Small" IconSize="Size.Small" />
                    </MudTooltip>
                    @if (@context.AuthLevelId == null)
                    {
                        <MudTooltip Text="Edit">
                            <MudFab @onclick="@(()=> OpenDialog(context,false,false))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                        <MudTooltip Text="Delete">
                            <MudFab @onclick="@(()=> Delete(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>

                    }
                    @if (@context.AuthLevelId != 99)
                    {
                        <MudTooltip Text="Verify">
                            <MudFab @onclick="@(()=> OpenDialog(context,true,false))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" title="Verify" Size="Size.Small" IconSize="Size.Small" />
                        </MudTooltip>
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>

@code {

    private ContraModel model = new ContraModel();
    public bool IsApproved { get; set; } = false;
    private List<ContraModel> collection = new List<ContraModel>();
    private int numberOfRecords = 100;
    private string searchTerm = "";

    private int NumberOfRecords
    {
        get => numberOfRecords;
        set
        {
            if (numberOfRecords != value)
            {
                numberOfRecords = value;
                _ = ReloadTable();
            }
        }
    }

    private async Task HandleSearchKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await ReloadTable();
        }
    }

    private async Task ReloadTable()
    {
        await GetAll(IsApproved, NumberOfRecords);
    }

    protected override async Task OnInitializedAsync()
    {
        model = new();
        await GetAll(IsApproved, NumberOfRecords);
    }

    async Task ApprovedChanged(bool value)
    {
        IsApproved = value;
        await GetAll(IsApproved, NumberOfRecords);
    }

    private async Task GetAll(bool val, int numberOfRecords)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        int NumberOfRecords = numberOfRecords;
        collection = new List<ContraModel>();
        if (val)
        {
            collection = Iservice.SelectInterBranchByApproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
        else
        {
            collection = Iservice.SelectInterBranchByUnapproved(brancID, NumberOfRecords, searchTerm).ToList();
        }
    }

    private async Task Delete(ContraModel model)
    {
        bool? result = await DialogService.ShowMessageBox(
               "Warning !",
               "Are you sure, you want to delete - " + model.DocumentNumber + " (" + model.DocumentDate + ") ?");
        if (result == true)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var User = authprov.User;
            var UserID = User.Identity.Name;
            Iservice.Delete(model.ContraID, UserID);
            snackbar.Add("Deleted Successfully", Severity.Success);
        }
        await GetAll(IsApproved, NumberOfRecords);
    }

    private async Task Approve(ContraModel tds)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        try
        {
            Iservice.Approve(tds.ContraID, model.UserInfo.UserID, "");
            snackbar.Add("Approved Successfully", Severity.Success);
            await GetAll(IsApproved, NumberOfRecords);
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task OpenDialog(ContraModel tds, bool ReadOnly, bool View)
    {
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", tds.Clone());
        parms.Add("ReadOnly", ReadOnly);
        parms.Add("IsView", View);
        var dialog = DialogService.Show<InterBranchContraDialog>(tds.ContraID == null ? "ADD" : "EDIT", parms, mediumWidth);
        var result = await dialog.Result;

        await GetAll(IsApproved, NumberOfRecords);
    }
}