@using Views.Pages.Finance.Transactions
@*@page "/PaymentMemo"*@
@inject IPaymentService Iservice
@inject IOutstandingBillsService OBIservice
@inject ICostCenterService costIservice
@inject IInterBranchTransactionService intermappingIservice
@inject IBranchService branchIservice
@inject IDimensionService dimensionIservice
@inject NavigationManager uriHelper;
@inject MudBlazor.ISnackbar snackbar
@inject AuthenticationStateProvider auth
@attribute [Authorize]
@inject IDialogService DialogService


<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            Payment Memo
        </MudText>
        @if (IsView)
        {
            <MudText Color="Color.Error">@model.AuthStatus</MudText>
        }
    </TitleContent>
    <DialogContent>
        <MudContainer Style="max-height: 450px; overflow-y: scroll">
            <MudGrid Spacing="4">
                <MudItem xs="12" md="6">
                    <MudSelect Label="Select Party" ReadOnly="IsReadOnly" @bind-Value="nbusiness" T="string" SelectedValuesChanged="nbusinesschanged" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        @foreach (var ditem in NatureOfBusiness)
                        {
                            <MudSelectItem Value="@ditem">@ditem</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <PartySelector @bind-Value="model.PartyInfo" NatureOfBusiness="@nbusiness"></PartySelector>
                </MudItem>
                  <MudItem xs="12" md="4">
                   <MudSelect Label="Select Branch" ReadOnly="IsReadOnly" @bind-Value="OtherBranch" T="int?"  Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in branches)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
              </MudItem>  <MudItem xs="12" md="4">
                   <MudSelect Label="Select Transaction Type" ReadOnly="IsReadOnly" @bind-Value="model.InterBranchTranID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in transactionTypeList)
                            {
                                <MudSelectItem Value="@ditem.ID">@ditem.TransactionTypeName</MudSelectItem>
                            }
                        </MudSelect>
              </MudItem>
                <MudItem xs="12" md="4">
                    <MudSelect Label="NatureOfBusiness" ReadOnly="IsReadOnly" Value="model.NatureOfTransaction" ValueChanged="nTransactionchanged" T="string" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                        <MudSelectItem Value="@("Deposit")" />
                        <MudSelectItem Value="@("Payment")" />
                        <MudSelectItem Value="@("Prepayment")" />
                    </MudSelect>
                </MudItem>                
            </MudGrid>
            <MudPaper Class="@value">
                <MudContainer>
                    <MudGrid>
                        @if (Isbill)
                        {
                            <MudItem xs="12">
                                <MudSimpleTable Hover="true" Dense="true" FixedHeader="true">
                                    <thead>
                                        <tr>
                                            <th>Invoice info</th>
                                            <th>Branch</th>
                                            <th>OutstandingAmount</th>
                                            <th>PayAmount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in model.Bills)
                                        {
                                            <tr>
                                                <td>@item.InvoiceNumber - @item.InvoiceDate?.ToShortDateString()</td>
                                                <td>@item.BranchName</td>
                                                <td>@item.OutstandingAmount</td>
                                                <td> <MudTextField T="decimal?" @bind-Value="item.PayAmount" TextChanged="calcTotalAmt" Variant="Variant.Outlined" Margin="Margin.Dense"> </MudTextField></td>

                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Total:@model.TotalAmount</td>
                                        </tr>


                                    </tbody>
                                </MudSimpleTable>
                            </MudItem>
                        }
                        <MudItem xs="12" md="3">

                            <MudDatePicker ReadOnly="IsReadOnly" Label="DocumentDate" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" />


                        </MudItem>
                        <MudItem xs="12" md="3">

                            <MudSelect ReadOnly="IsReadOnly" Label="Select CostCenter" @bind-Value="model.CostCenter" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in costCenter)
                                {
                                    <MudSelectItem Value="@ditem.CostCenterID">@ditem.CostCenter</MudSelectItem>
                                }
                            </MudSelect>

                        </MudItem>
                        <MudItem xs="12" md="3">

                            <MudSelect ReadOnly="IsReadOnly" Label="Select Dimension" @bind-Value="model.Dimension" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">
                                @foreach (var ditem in dimension)
                                {
                                    <MudSelectItem Value="@ditem.DimensionID">@ditem.Dimension</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        @if (!Isbill)
                        {
                            <MudItem xs="12" md="3">
                                <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.TotalAmount" Label="TotalAmount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.TotalAmount)"></MudTextField>

                            </MudItem>
                        }
                        <MudItem xs="12" md="12">
                            <MudTextField ReadOnly="IsReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>

                        </MudItem>
                        <MudItem xs="12">
                            @if ((IsReadOnly) && (!IsView))
                            {
                                <AutherizationStatusComponent DocTypeID="7" DocumentID="model.PaymentMemoID" OnApprove="IsApproveData"></AutherizationStatusComponent>

                            }
                        </MudItem>

                    </MudGrid>
                </MudContainer>
            </MudPaper>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @if (!IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Cancel</MudButton>

            <MudButton @onclick="CreatePaymentMemo" Variant="Variant.Filled" Color="Color.Primary">Create Payment Memo</MudButton>
        }
        @if (IsReadOnly)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="Cancel">Close</MudButton>

        }
    </DialogActions>
</MudDialog>
@* <MudText Inline="true">Selected items: @(selectedItems1==null ? "" : string.Join(", ", selectedItems1.Select(x=>x.BoID)))</MudText>*@
@code {

    [Parameter]
    public PartyPaymentMemoModel model { get; set; }
    [Parameter]
    public bool IsReadOnly { get; set; }
    [Parameter]
    public bool IsView { get; set; }
    //private PartyPaymentMemoModel model = new PartyPaymentMemoModel();
    private List<OutstandingBillsModel> collection = new List<OutstandingBillsModel>();
    //private List<BillsPaidModel> billsPayed = new List<BillsPaidModel>();
    //private HashSet<Element> selectedItems1 = new HashSet<Element>();
    //private HashSet<OutstandingBillsModel> selectedItems1= new HashSet<OutstandingBillsModel>();
    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
    private List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
    public string value = "invisible";
    private bool Isbill = false;
    public string nbusiness = "Supplier";
    private List<string> NatureOfBusiness = new List<string>() { "Supplier", "Customer", "Renter" };
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private List<CostCenterModel> costCenter = new();
    private List<DimensionModel> dimension = new();
    public int? OtherBranch;
    private List<InterBranchTransactionTypeModel> transactionTypeList = new();
    private List<BranchModel> branches = new();
    protected override async Task OnInitializedAsync()
    {
        if (model.PaymentMemoID != null)
        {
            value = "visible";
            model.Bills = Iservice.GetBills(model.PaymentMemoID.Value).ToList();
            if (model.Bills.Count > 0)
            {
                Isbill = true;
            }
        }        
        await GetAll();
        costCenter = costIservice.Select().ToList();
        dimension = dimensionIservice.Select().ToList();
        branches = branchIservice.Select().ToList();
        transactionTypeList = intermappingIservice.GetTypes().ToList();
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
    protected async Task IsApproveData(DataApprovedStatus aprvd)
    {
        if (aprvd.IsApprove)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;
            model.UserInfo.UserID = user.Identity.Name;
            Iservice.Approve(model.PaymentMemoID, model.UserInfo.UserID, aprvd.Remarks);
            snackbar.Add("Approved Successfully", Severity.Success);
        }

    }
    private async Task GetAll()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        if (model?.PartyInfo?.PartyID != null)
        {
            collection = OBIservice.SelectByParty(model.PartyInfo.PartyID, brancID).ToList();
        }
    }

    private async Task GetTaxPurchase()
    {
        await GetAll();
    }

    private async Task CreatePaymentMemo()
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        var user = authprov.User;
        model.UserInfo.UserID = user.Identity.Name;
        model.BranchID = brancID;
        model.IsInterBranch = true;
        model.PaymentStatus = 0;
        // model.Bills = billsPayed;
        Iservice.Update(model);
        uriHelper.NavigateTo("/InterBranchPaymentMemoView");
    }
    private void calcTotalAmt()
    {        
      model.TotalAmount = model.Bills.Sum(x => x.PayAmount);
    }
    private void nbusinesschanged()
    {
        StateHasChanged();
    }
    private async Task nTransactionchanged(string nt)
    {
        model.NatureOfTransaction = nt;
        
        if (nt != "Payment")
        {
            value = "visible";
            Isbill = false;
        }
        else
        {
            value = "invisible";
            Isbill = true;
            await OpenOtstandingBills();
        }
    }
    private async Task OpenOtstandingBills()
    {
        if(OtherBranch==null)
        {
            snackbar.Add("Please Select Branch", Severity.Info);
            return;
        }
        var authprov = await auth.GetAuthenticationStateAsync();
        var brancIDString = authprov.User.Claims.First(x => x.Type == "BranchID").Value;
        int brancID = int.Parse(brancIDString);
        DialogParameters parms = new DialogParameters();
        parms.Add("PartyID", model.PartyInfo.PartyID);
        parms.Add("BranchID", OtherBranch);
        var dialog = DialogService.Show<OutstandingBillView>("Outstanding Bill", parms, maxWidth);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            SelectedItems = (List<OutstandingBillsModel>)result.Data;
            //  List<OutstandingBillsModel> SelectedItems = new List<OutstandingBillsModel>();
            //SelectedItems=result.Data;
            // GetAll();
            if (SelectedItems != null)
            {
                value = "visible";
                foreach (var item in SelectedItems)
                {
                    BillsPaidModel bpm = new BillsPaidModel();
                    bpm.MID = item.MID;
                    bpm.BranchName = item.BranchName;
                    bpm.InvoiceDate = item.ReferenceDocDate;
                    bpm.InvoiceNumber = item.ReferenceDocNo;
                    bpm.OutstandingAmount = item.OutstandingAmount;
                    bpm.PayAmount = -item.OutstandingAmount;
                    model.Bills.Add(bpm);
                }
            }
        }

    }
    private void GetSelectedItem()
    {
        //if (selectedItems != null)
        //{
        //    string k = "0";
        //}

        //string itm = string.Join(", ", selectedItems1.Select(x=>x.BoID))
        //
    }
}
