@inherits DialogFormComponentBase<InterBranchReimbursementModel>
@inject IReimbursementService Iservice
@inject IBranchService branchService
@inject IConfigTable configService

@* @using ArmsModels.BaseModels.Finance.Transactions
@inject IChartOfAccountService accountService

 *@

<DialogForm @ref="@dialogForm" ReadOnly="@ReadOnly" Title="Reimbursement/Cross Charge" formID="IReimForm" model="@_model" _busy="_busy">
    <FormContent>
        <MudPaper Class="p-3">
            <EditForm id="IReimForm" OnValidSubmit="OnValidSubmit" Model="@_model">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MudGrid Spacing="4">
                    <MudItem xs="12" md="6">
                        <MudDatePicker Label="Document Date" ReadOnly="ReadOnly" Variant="Variant.Outlined" Margin="Margin.Dense" DisableToolbar="true" Editable="true" @bind-Date="model.DocumentDate" DateFormat="dd/MM/yyyy" MaxDate="DateTime.Now" />
                    </MudItem>

                    <MudItem xs="12" md="6">
                        <MudSelect Label="Transaction Type" Value="model.InterBranchTranID" ValueChanged="TranTypeChanged" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                             @foreach (var ditem in InterBranchTranTypes)
                            {
                                <MudSelectItem Value="@ditem.ID">@ditem.TransactionTypeName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem md="6">
                        <MudSelect ReadOnly Label="Home Branch" @bind-Value="model.BranchID" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                             @foreach (var ditem in branches)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem md="6">
                        <MudSelect ReadOnly="ReadOnly" Label="Target Branch" Value="model.OtherBranchID" ValueChanged="TargetBranchChanged" T="int?" Variant="Variant.Outlined" Margin="Margin.Dense" AdornmentColor="Color.Secondary">
                            @foreach (var ditem in branches)
                            {
                                <MudSelectItem Value="@ditem.BranchID">@ditem.BranchName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="12">
                        <MudTextField ReadOnly="ReadOnly" @bind-Value="model.Narration" Lines="2" Label="Narration" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => model.Narration)"></MudTextField>
                    </MudItem>                              
                        <MudItem xs="12">
                              <h6><u>Particulars</u></h6>        
                            <MudGrid Justify="Justify.Center" >
                                <MudItem xs="3"><span class="HeadText">Usage Code</span></MudItem>
                                <MudItem xs="3"><span class="HeadText">Cost Center</span></MudItem>
                                <MudItem xs="3"><span class="HeadText">Dimension</span></MudItem>
                                <MudItem xs="2"><span class="HeadText">Amount</span></MudItem>
                                <MudItem xs="1"></MudItem>
                                @foreach (var item in model.Particulars)
                                {
                                    <MudItem xs="4">@string.Format("{0} | {1}", item.UsageCode, item.UsageCodeDesc)</MudItem>
                                    <MudItem xs="3">
                                        @item.CostCenterDesc
                                    </MudItem>
                                    <MudItem xs="3">
                                        @item.DimensionDesc
                                    </MudItem>
                                <MudItem xs="2">@item.Amount</MudItem>
                                <MudItem xs="4">@string.Format("{0} | {1}", item.UsageCodeOther, item.UsageCodeOtherDesc)</MudItem>
                                    <MudItem xs="3">
                                        @item.CostCenterOtherDesc
                                    </MudItem>
                                    <MudItem xs="3">
                                        @item.DimensionOtherDesc
                                    </MudItem>               
                                    <MudItem xs="1">
                                        Gst : @(item.CGST + item.SGST + item.IGST)</MudItem>
                                    <MudItem xs="1">
                                        @if (!ReadOnly)
                                        {
                                            <MudIconButton Title="Delete" Color="Color.Error" @onclick="@(()=> DeleteExpenses(@item))" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                                        }
                                        <MudIconButton Title="Show Taxes" Color="Color.Info" @onclick="@(()=> OpenDialogTaxRates(@item))" Icon="@Icons.Material.Filled.CurrencyExchange" Size="Size.Small" />
                                    </MudItem>
                                }                                

                                @if (!ReadOnly)
                                {
                                    <MudItem xs="3">
                                    <UsageCodeSelector ReadOnly = "@DisableUsageCodeSelection" Value="@gstusge" ValueChanged="usageChanged" LabelName="Home Br UsageCode"></UsageCodeSelector>
                                </MudItem>
                                    <MudItem xs="3">
                                        <CostCenterSelector @bind-Value="@subModel.CostCenterID" @bind-ValueText="@subModel.CostCenterDesc" ReadOnly="@ReadOnly"></CostCenterSelector>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <DimensionSelector @bind-Value="@subModel.DimensionID" @bind-ValueText="@subModel.DimensionDesc" ReadOnly="@ReadOnly"></DimensionSelector>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudNumericField HideSpinButtons
                                                          Label="Amount Dr" @bind-Value="subModel.Amount" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentText="Cr"></MudNumericField>
                                     </MudItem>
                                <MudItem xs="1"></MudItem>
                                <MudItem xs="3">
                                    <UsageCodeSelector ReadOnly="@DisableUsageCodeSelection" Value="@gstusgeother" ValueChanged="usageOtherChanged" LabelName="Target Br UsageCode" ></UsageCodeSelector>                               
                                </MudItem>
                                    <MudItem xs="3">
                                        <CostCenterSelector @bind-Value="@subModel.CostCenterOtherID" @bind-ValueText="@subModel.CostCenterOtherDesc" ReadOnly="@ReadOnly"></CostCenterSelector>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <DimensionSelector @bind-Value="@subModel.DimensionOtherID" @bind-ValueText="@subModel.DimensionOtherDesc" ReadOnly="@ReadOnly"></DimensionSelector>
                                    </MudItem>
                                    <MudItem xs="2">
                                        <MudNumericField ReadOnly
                                                                  HideSpinButtons
                                                      Label="Amount Cr" @bind-Value="@subModel.Amount" Variant="Variant.Outlined" Margin="Margin.Dense" Adornment="Adornment.End" AdornmentText="Dr"></MudNumericField>
                                     </MudItem>
                                    <MudItem xs="1" Class="d-flex align-center">
                                        <MudIconButton Title="Add" OnClick="ADD" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                                    </MudItem>
                                }
                            </MudGrid>
                        </MudItem>                    
                </MudGrid>
            </EditForm>
        </MudPaper>
    </FormContent>
    <VerificationStatus>
        <AutherizationStatusComponent CreatedBy="@_model.UserInfo" DocTypeID="@DocInfo.DocumentTypeID" DocDate="@DocDate" DocumentID="model.ID" OnApprove="Approve"></AutherizationStatusComponent>
    </VerificationStatus>
</DialogForm>


@code {

    [Parameter]
    public override InterBranchReimbursementModel model { get; set; }
    private InterBranchReimbursementModel _model { get { return model; } set { model = value; DocInfo.DocumentID = value.ID; } }

    private List<BranchModel> branches = new();
    private bool DisableUsageCodeSelection = true;

    protected override DocumentInfoModel DocInfo { get; set; } = new DocumentInfoModel()
        {
            DocumentTypeID = 125,
            DocumentName = "Reimbursement"
        };

    private List<string> creditDebitList = new List<string>() { "Cr", "Dr" };
    public List<ReimbursementSubModel> ExpenseList = new();
    public EventCallback<ReimbursementSubModel> OnExpenseAdded { get; set; }
    public EventCallback OnAmountChange { get; set; }
    GstUsageCodeModel gstusge;
    GstUsageCodeModel gstusgeother;

    string HomeGst;
    ReimbursementSubModel subModel = new();

    // Method to update the approval status of the reimbursement
    protected override int UpdateApproval(DataApprovedStatus aprvd)
    {
        int result = Iservice.Approve(model.ID, model.UserInfo.UserID, aprvd.Remarks);
        return result;
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _model = (InterBranchReimbursementModel)model.Clone();
        InterBranchTranTypes.RemoveAll(x => x.ID != 4 && x.ID != 5 && x.ID != 6);        
        branches = branchService.Select().ToList();
        HomeGst = branchService.GetGstNo(model.BranchID);
        if (model.ID == null)
        {
            model.TotalAmount = 0;
            model.NatureOfTransaction = "Reimbursement";
            TranTypeChanged(5);

        }
        else
        {
            model.Particulars = Iservice.SelectParticulars(model.ID).ToList(); // Load particulars for existing reimbursement
        }       
    }

    // Method to update the reimbursement model
    protected override async Task<int> Update(InterBranchReimbursementModel editModel)
    {
        model.IsInterBranch = true;
        model.NatureOfTransaction = InterBranchTranTypes.First(x => x.ID == model.InterBranchTranID).TransactionTypeName;
        var updatedModel = Iservice.Update(model); // Update the model
        return updatedModel.ID.Value;
    }

    // Method to calculate the total amount based on particulars
    private void SetTotalAmt()
    {
        model.TotalAmount = model.Particulars.Sum(x => x.Amount + x.IGST + x.CGST + x.SGST);
    }

    // Method to handle changes in the target branch
    public void TargetBranchChanged(int? otherBranchID)
    {
        model.OtherBranchID = otherBranchID;
        string TargetGst = branchService.GetGstNo(model.OtherBranchID); // Get GST number for the target branch
        Local = HomeGst.Substring(0, 2) == TargetGst.Substring(0, 2);
        IsTaxable = HomeGst != TargetGst;
        model.Particulars.Clear();
    }

    // Method to handle changes in the GST usage code
    private void usageOtherChanged(GstUsageCodeModel val)
    {
        gstusgeother = val;
        subModel.UsageCodeOther = val?.UsageCode;
        subModel.UsageCodeOtherDesc = val?.Description;
    }

    // Method to handle changes in the GST usage code
    private void usageChanged(GstUsageCodeModel val)
    {
        gstusge = val;
        subModel.UsageCode = val?.UsageCode;
        subModel.UsageCodeDesc = val?.Description;
    }

    // Method to handle changes in the transaction type
    private void TranTypeChanged(int? ID)
    {
        model.InterBranchTranID = ID;
        if (ID == 6)
        {
            DisableUsageCodeSelection = true;
            gstusgeother = usageCodeService.SelectByCode(configService.GetByID("CrossChargeExpenseUsageCode").ValueString); // Get GST usage code for cross charge expense
            gstusge = usageCodeService.SelectByCode(configService.GetByID("CrossChargeIncomeUsageCode").ValueString); // Get GST usage code for cross charge income
        } 
        else if (ID == 5)
        {
            DisableUsageCodeSelection = true;
            gstusgeother = usageCodeService.SelectByCode(configService.GetByID("ReimbursementExpenseUsageCode").ValueString); // Get GST usage code for reimbursement expense
            gstusge = usageCodeService.SelectByCode(configService.GetByID("ReimbursementIncomeUsageCode").ValueString); // Get GST usage code for reimbursement income
        }
        else if (ID == 4)
        {
            DisableUsageCodeSelection = false;
            gstusge = null;
            gstusgeother = null;
        }
        subModel.UsageCode = gstusge?.UsageCode;
        subModel.UsageCodeDesc = gstusge?.Description;
        subModel.UsageCodeOther = gstusgeother?.UsageCode;
        subModel.UsageCodeOtherDesc = gstusgeother?.Description;
    }

    // void UsageCodeSelected(GstUsageCodeModel u)
    // {
    //     gstusge = u;
    //     subModel.UsageCode = gstusge?.UsageCode;
    //     subModel.UsageCodeDesc = gstusge?.Description;
    // }

    // void UsageCodeOtherSelected(GstUsageCodeModel u)
    // {
    //     gstusgeother = u;
    //     subModel.UsageCodeOther = gstusgeother?.UsageCode;
    //     subModel.UsageCodeOtherDesc = gstusgeother?.Description;
    // }

    // Method to delete expenses from the reimbursement
    private async Task DeleteExpenses(ReimbursementSubModel i)
    {
        int rowIndex = model.Particulars.IndexOf(i);
        model.Particulars.RemoveAt(rowIndex);
        await OnAmountChange.InvokeAsync();
    }

    // Method to add a new expense to the reimbursement
    public async Task ADD()
    {
        if(model.OtherBranchID is null)
        {
            snackbar.Add("Please Select Branch", Severity.Error);
            return;
        }
        if (AddTax() && editContext.Validate())
        {
            model.Particulars.Add(subModel);
            await OnExpenseAdded.InvokeAsync(subModel);
            SetTotalAmt();
            subModel = new();
            gstusge = null;
            gstusgeother = null;
        }
        else
        {
            snackbar.Add("Entered particulars are invalid.", Severity.Error);
        }
    }

    // Method to add tax details to the expense
    private bool AddTax()
    {
        if (gstusge != null && subModel.Amount != null && gstusgeother != null)
        {
            subModel.GstRate = usageCodeService.GetGstRate(subModel.UsageCode, DateTime.Now) ?? 0; // Get GST rate based on usage code

            if (!IsTaxable)
            {
                return true;
            }

            decimal taxRate = subModel.GstRate.Value;

            if (!Local)
            {
                subModel.IGST = Math.Round(subModel.Amount.Value * taxRate / 100, 2);
            }
            else
            {
                subModel.SGST = subModel.CGST = Math.Round(subModel.Amount.Value * taxRate / 200, 2);
            }
            return true;
        }
        return false;
    }

    // Method to open the dialog for tax rates
    private async Task OpenDialogTaxRates(ReimbursementSubModel i)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        GstModel taxModel = new GstModel();
        taxModel.CGST = i.CGST;
        taxModel.IGST = i.IGST;
        taxModel.SGST = i.SGST;
        taxModel.GstRate = i.GstRate;
        DialogParameters parms = new DialogParameters();
        parms.Add("tax", taxModel);
        parms.Add("ReadOnly", ReadOnly);
        var dialog = dialogService.Show<TaxRatedialog>(i.ReimbursementID == null ? "ADD" : "EDIT", parms, new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            taxModel = (GstModel)result.Data;
            i.CGST = taxModel.CGST;
            i.IGST = taxModel.IGST;
            i.SGST = taxModel.SGST;
            i.GstRate = taxModel.GstRate;
            await OnAmountChange.InvokeAsync();
        }
        await Task.Delay(200);
        _busy = false;
    }
}