@page "/jobcard"
@page "/jobcard/{TruckID:int}"
@page "/jobcard/{TruckID:int}/{JobcardID:int}"
@using ArmsServices.DataServices.Inventory;
@using Pages.FMS.InsuranceClaim
@using Views.Pages.Finance.Transactions.PurchaseAndPayment;
@using Views.Pages.Finance.Transactions;
@using Views.Pages.Inventory.InvRelease;
@using System.Transactions;
@using Views.Pages.Operations
@inject IJobcardService Iservice
@inject ITaxPurchaseService Ipurchaseservice
@inject ISundryPaymentService Isundrypaymentservice
@inject IBreakdownService Ibreakdown
@inject ITruckService Itruck
@inject IAssetService Iasset
@inject IEventService Ievent
@inject ITripService Itrip
@inject IJobcardWorkshopService Ijw
@inject IJobInProgressService Ijp
@inject IRepairWorkService Ijob
@inject IWorkshopService Iworkshop
@inject IMechanicJobService ImechanicJob
@inject IMechanicService Imechanic
@inject IEventService Ievent
@inject IInventoryRequestService IInvRequestservice
@inject IDialogService DialogService
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject IInsuranceClaimService IClaimservice

<style>
    .InActiveText {
        color: lightgray;
    }

    .ActiveText {
        color: cornflowerblue;
    }
</style>

<MudPaper Class="mb-4">
    <MudToolBar>
        <MudText Typo="Typo.h6" Style="font-weight:500;"><b>JOBCARD WORKSHOP</b></MudText>
    </MudToolBar>
    <MudDivider />
    <MudGrid>
        <MudItem sm="12" md="12" Style="padding: 32px 44px 32px 44px;">
            <TruckSelector Value="SelectedTruck" ValueChanged="TruckSelected" BranchID="BranchID" Filter="All" />
        </MudItem>
        @if (SelectedJobcard?.JobcardID != null)
        {
            <MudItem sm="12" md="12" Style="padding: 0px 0px 28px 44px;">
                <h6><MudIcon Icon="@Icons.Material.Outlined.CreditCard" Size=Size.Small />&nbsp; @SelectedJobcard?.JobcardNumber  &nbsp;&nbsp;&nbsp;<MudIcon Icon="@Icons.Material.Outlined.AccountTree" Size=Size.Small />&nbsp; @SelectedJobcard?.BranchName</h6>
                <br>
                @if (SelectedJobcard.UserInfo.RecordStatus == 3)
                {
                    <MudButton StartIcon="@Icons.Material.Filled.Close" Class="scbtn" Color="Color.Secondary" OnClick="CloseJobcard">Close Jobcard</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.AddChart" Class="mainbtn" Style="padding-left: 20px;" OnClick="(()=>OpenInventoryRequestDialog(new InventoryRequestModel()))">Request Spareparts</MudButton>
                }
                @if (!Breakdown.IsClaimInitiated)
                {
                    <MudButton Style="text-transform: capitalize; padding-right: 1%; padding-left: 2%;" StartIcon="@Icons.Material.Filled.AppRegistration" OnClick="BeginInsuranceClaim" IconColor="Color.Primary">Initiate Insurance Claim</MudButton>
                }
                else
                {
                    <MudButton Style="text-transform:capitalize; padding-left: 24px;" OnClick="ViewClaimStatus" StartIcon="@Icons.Material.Filled.AppRegistration" IconColor="Color.Primary">View Claim Status</MudButton>
                    @* <Views.Pages.FMS.InsuranceClaim.ManageClaimDialog OnClaimAdded="AddClaims" SelectedModels="@InsModel" Visible="@dialogVisible" Page="JobCard" /> *@
                }
                @* <MudButton Style="text-transform:capitalize; padding-left: 24px;" StartIcon="@Icons.Material.Filled.AppRegistration" OnClick="OpenExpenses" IconColor="Color.Primary">Post Expenses</MudButton> *@
                <MudButton>
                    <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <ActivatorContent>
                            <MudButton StartIcon="@Icons.Material.Filled.AppRegistration" IconColor="Color.Primary">
                                Post Expenses
                            </MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem OnClick="OpenExpenses">Purchase</MudMenuItem>
                            <MudMenuItem OnClick="OpenSundrypayment">Sundry Payment</MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                </MudButton>

            </MudItem>
        }
    </MudGrid>
</MudPaper>

@if (SelectedJobcard?.JobcardID != null)
{
    <MudPaper Class="p-4 mb-4" Style="margin-top: 36px;">
        <MudExpansionPanels>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1"><h6 style="font-size: large;"><b>BREAKDOWN</b></h6></MudText>
                        <MudBadge Content="@Breakdown.EstimateList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Outlined.Garage" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    <div Class="fullborder" style="padding: 0px; margin-bottom: 8px; overflow-y: auto;">
                        <BreakdownComponent MainModel="Breakdown" HideControls=true ReadOnly="@(SelectedJobcard.UserInfo.RecordStatus != 3 ? true : false)"></BreakdownComponent>
                    </div>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1"><h6 style="font-size: large;"><b>WORKSHOPS</b></h6></MudText>
                        <MudBadge Content="@jwList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Outlined.Garage" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    <div Class="fullborder" style="padding: 0px; margin-bottom: 8px; overflow-y: auto;">
                        <MudList>
                            <MudListItem>
                                <MudGrid>
                                    <MudItem xs="6">
                                        <b>WORKSHOP</b>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <b>ENTRY</b>
                                    </MudItem>
                                    <MudItem xs="3">
                                        <b>EXIT</b>
                                    </MudItem>
                                </MudGrid>
                            </MudListItem>
                            @foreach (var item in jwList)
                            {
                                <MudDivider />
                                <MudListItem>
                                    <MudGrid>
                                        <MudItem xs="6">
                                            @item.WorkshopName
                                        </MudItem>
                                        <MudItem xs="3">
                                            @item.EnteredOn?.ToString("dd/MM/yy HH:mm tt")
                                        </MudItem>
                                        <MudItem xs="3">
                                            @if (@item.ExitOn == null)
                                            {
                                                <MudButton Color="Color.Success" OnClick="@(() => ExitWorkshop(item))">Exit</MudButton>
                                            }
                                            else
                                            {
                                                @item.ExitOn?.ToString("dd/MM/yy HH:mm tt")
                                            }
                                        </MudItem>
                                    </MudGrid>
                                </MudListItem>
                            }
                            @if (!jwList.Any(x => x.ExitOn == null) && SelectedJobcard?.UserInfo.RecordStatus == 3)
                            {
                                <MudDivider></MudDivider>
                                <MudListItem>
                                    <MudGrid>
                                        <MudItem xs="8">
                                            <MudSelect T="WorkshopModel" @bind-Value="SelectedWorkshop" Label="Workshop" Strict="true" Variant="Variant.Outlined">
                                                @foreach (var workshop in Workshops)
                                                {
                                                    <MudSelectItem Value="workshop">@workshop.WorkshopName</MudSelectItem>
                                                }
                                            </MudSelect>
                                        </MudItem>
                                        <MudItem xs="4">
                                            <MudButton Color="Color.Primary" OnClick="EnterWorkshop">Enter Workshop</MudButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudListItem>
                            }
                        </MudList>
                    </div>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1"><h6 style="font-size: large;"><b>JOBS</b></h6></MudText>
                        <MudBadge Content="@JipList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Outlined.Work" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    <div Class="fullborder" style="padding: 0px; margin-bottom: 8px;">
                        <MudList>
                            @foreach (var item in JipList)
                            {
                                <MudListItem Class="px-0" Style="">
                                    <MudPaper Class="mb-2 px-5" Elevation="0">
                                        <MudGrid>
                                            <MudItem Class="d-flex" xs="12">
                                                @* Title or Autocomplete *@
                                                @if (EditingJob == item)
                                                {
                                                    <MudItem xs="12" md="4">
                                                        <MudAutocomplete T="RepairJobModel"
                                                                         Variant="Variant.Outlined"
                                                                         Margin="Margin.Dense"
                                                                         Label="Select Job Group"
                                                                         Value="EditedJobGroup"
                                                                         ValueChanged="GroupChanged"
                                                                         ResetValueOnEmptyText="true"
                                                                         SearchFunc="SearchGroup"
                                                                         ToStringFunc="@(e => (e?.JobGroup == null || e?.JobSubGroup == null)
                                                                         ? null
                                                                         : $"{e.JobGroup.Title} | {e.JobSubGroup.Title}")" />
                                                    </MudItem>
                                                    <MudItem xs="12" md="4">
                                                        <MudAutocomplete T="RepairJobModel"
                                                                         Variant="Variant.Outlined"
                                                                         Margin="Margin.Dense"
                                                                         Label="Select Job"
                                                                         Value="EditedJob"
                                                                         ValueChanged="JobChanged"
                                                                         ResetValueOnEmptyText="true"
                                                                         SearchFunc="SearchJob"
                                                                         ToStringFunc="@(e => e == null ? null : e.Title)" />
                                                    </MudItem>
                                                }
                                                else
                                                {
                                                    <b>@item.RepairJobTitle</b>
                                                }
                                                @if (EditingJob == item)
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.Save"
                                                                   Color="Color.Success"
                                                                   OnClick="@(() => SaveEditingJob(item))"
                                                                   Title="Save" />
                                                    <MudIconButton Icon="@Icons.Material.Filled.Cancel"
                                                                   Color="Color.Error"
                                                                   OnClick="CancelEditingJob"
                                                                   Title="Cancel" />
                                                }
                                                else
                                                {
                                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                                   OnClick="@(() => StartEditingJob(item))"
                                                                   Title="Edit" />
                                                }
                                                <b class="ml-3" style="color: @item.JobStatusTextColor">@item.JobStatusText </b>
                                                @if (item.JobStatus == 1 && EditingJob != item)
                                                {
                                                    <MudButtonGroup Class="ml-3" Color="Color.Primary" Variant="Variant.Outlined">
                                                        <MudTooltip Text="Finished">
                                                            <MudIconButton Icon="@Icons.Material.Filled.Check" Color="Color.Success" OnClick="@(() => UpdateJob(item, 2))"></MudIconButton>
                                                        </MudTooltip>
                                                        <MudTooltip Text="Cancel">
                                                            <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="@(() => UpdateJob(item, 0))"></MudIconButton>
                                                        </MudTooltip>
                                                    </MudButtonGroup>
                                                }
                                                <MudSpacer></MudSpacer>
                                                <b>@item.CreatedOn?.ToString("MMM-dd-yy HH:mm tt")</b>
                                            </MudItem>
                                            @if (item.WarrantyCheck)
                                            {
                                                <MudItem xs="12" md="12" Class="d-flex">
                                                    <MudIcon Icon="@Icons.Material.Outlined.CheckCircle" Color="Color.Success"></MudIcon>&nbsp;&nbsp; Under Warranty till (@item.WarrantyExpiryDate)
                                                </MudItem>
                                            }
                                            <MudItem xs="12" md="12">
                                                <b style="color:firebrick">REMARKS : </b> @item.Remarks
                                            </MudItem>
                                            <MudItem xs="3" md="3">
                                                <MudNumericField HideSpinButtons @bind-Value="item.TotalAmount" Label="Amount" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(() => item.TotalAmount)"></MudNumericField>
                                                @if (item.JobStatus == 2)
                                                {
                                                    <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Success" OnClick="@(() => UpdateJob(item, 2))">Update</MudButton>
                                                }
                                            </MudItem>
                                            <MudItem xs="9" md="9"></MudItem>
                                            <MudItem xs="12" Class="d-flex">
                                                Assigned Mechanics
                                                @foreach (var mech in item.Mechanics)
                                                {
                                                    string mechClass = mech.EndedOn == null ? "ActiveText" : "InActiveText";
                                                    <div style="background-color:#f7f7f7; padding: 0px 10px 0px 10px; margin-left: 20px;">
                                                        <MudText Class="@mechClass">
                                                            @mech.MechanicName
                                                            <MudButton Size="Size.Small" hidden="@(mech.EndedOn != null)" Color="Color.Default" OnClick="(() => RemoveMechanic(mech))">Remove</MudButton>
                                                        </MudText>
                                                    </div>
                                                }
                                                @if (item.JobStatus == 1)
                                                {
                                                    <MudTooltip Text="Assign Mechanic">
                                                        <MudIconButton Class="ml-3" Size="Size.Small" Icon="@Icons.Material.Sharp.Add" OnClick="(() => OpenMechanicSelector(item))" aria-label="AddMechanic"></MudIconButton>
                                                    </MudTooltip>
                                                }
                                            </MudItem>
                                        </MudGrid>
                                    </MudPaper>
                                </MudListItem>
                                <MudDivider></MudDivider>
                            }
                        </MudList>
                        @if (CurrentWorkshop != null && SelectedJobcard.UserInfo.RecordStatus == 3)
                        {
                            <MudPaper Class="d-flex" Style="padding: 8px 8px 8px 20px;" Elevation="0">
                                <JobInProgressView workshop="CurrentWorkshop" model="NewJob" @ref="jipView"></JobInProgressView>
                                <MudIconButton Style="padding-bottom: 8px; padding-top: 0px;" Icon="@Icons.Material.Filled.Add" OnClick="AddJob" Title="Create Job"></MudIconButton>
                            </MudPaper>
                        }
                    </div>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1"><h6 style="font-size: large;"><b>INVENTORY REQUEST/RELEASE</b></h6></MudText>
                        <MudBadge Content="@InvRequestList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Outlined.Inventory" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudItem xs="12" md="12">
                        @if (InvRequestList.Count != 0)
                        {
                            <div Class="fullborder" style="padding: 0px; margin-bottom: 8px; overflow-y: auto;">
                                <MudTable Items="@InvRequestList" Dense="true" Hover="true" Striped="true" Elevation="0">
                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<InventoryRequestModel, object>(x=> x.ReleaseSubDetails?.ItemDescription)" InitialDirection="SortDirection.Ascending">Item</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<InventoryRequestModel, object>(x=> x.RequestNumber)" InitialDirection="SortDirection.Ascending">Document Date / Request Number</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<InventoryRequestModel, object>(x=> x.ReleaseSubDetails?.RequestQty)" InitialDirection="SortDirection.Ascending">Request Qty</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<InventoryRequestModel, object>(x=> x.ReleaseSubDetails?.ItemQty)" InitialDirection="SortDirection.Ascending">Release Qty</MudTableSortLabel></MudTh>
                                        <MudTh RowSpan="2">Actions</MudTh>
                                        <MudTh></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Item">@context.ReleaseSubDetails?.ItemGroupDescription - @context.ReleaseSubDetails?.ItemDescription</MudTd>
                                        <MudTd DataLabel="Document Date / Request Number">@(context.RequestDate?.ToShortDateString()) / @(context.RequestNumber)</MudTd>
                                        <MudTd DataLabel="Request Qty">@context.ReleaseSubDetails?.RequestQty</MudTd>
                                        <MudTd DataLabel="Release Qty">@context.ReleaseSubDetails?.ItemQty</MudTd>
                                        <MudTd DataLabel="">
                                            @if (!context.IsClosed && @context.ReleaseSubDetails?.ItemQty != null)
                                            {
                                                <MudTooltip Text="Close Request">
                                                    <MudFab @onclick="@(()=> OpenInventoryReleaseClosedDialog(context))" Color="Color.Warning" Icon="@Icons.Material.Filled.Verified" Size="Size.Small" IconSize="Size.Small" />
                                                </MudTooltip>
                                            }
                                        </MudTd>
                                        <MudTd DataLabel="">
                                            @if (@context.ReleaseSubDetails?.ItemQty == null)
                                            {
                                                <MudTooltip Text="Edit">
                                                    <MudFab @onclick="@(()=> OpenInventoryRequestDialog(context))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                                                </MudTooltip>
                                                <MudTooltip Text="Delete">
                                                    <MudFab @onclick="@(()=> DeleteInventoryRequest(context))" Color="Color.Error" title="Delete" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                                                </MudTooltip>
                                            }
                                        </MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
                                    </PagerContent>
                                </MudTable>
                            </div>
                        }
                    </MudItem>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel HideIcon="true">
                <TitleContent>
                    <div class="d-flex">
                        <MudText Class="mt-1"><h6 style="font-size: large;"><b>EXPENSES</b></h6></MudText>
                        <MudBadge Content="@ExpenseList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                            <MudIcon Size="Size.Medium" Icon="@Icons.Material.Outlined.AttachMoney" Color="Color.Default" />
                        </MudBadge>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudItem xs="12" md="12">
                        @if (ExpenseList.Count != 0)
                        {
                            <div Class="fullborder" style="padding: 0px; margin-bottom: 8px; overflow-y: auto;">
                                <MudTable Items="@ExpenseList" Dense="true" Hover="true" Striped="true" Elevation="0">
                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.DocNumber)" InitialDirection="SortDirection.Ascending">Doc Number</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.DocDate)" InitialDirection="SortDirection.Ascending">Document Date</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.BranchName)" InitialDirection="SortDirection.Ascending">Branch</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.RegName)" InitialDirection="SortDirection.Ascending">Vendor</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.InvoiceNo)" InitialDirection="SortDirection.Ascending">Invoice No</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.InvoiceDate)" InitialDirection="SortDirection.Ascending">Invoice Date</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.BillReference)" InitialDirection="SortDirection.Ascending">Bill Ref</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.Narration)" InitialDirection="SortDirection.Ascending">Narration</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.UserID)" InitialDirection="SortDirection.Ascending">User</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.AccountName)" InitialDirection="SortDirection.Ascending">Account Name</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.CostCenter)" InitialDirection="SortDirection.Ascending">Cost Center</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.Dimension)" InitialDirection="SortDirection.Ascending">Dimension</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.TotalAmount)" InitialDirection="SortDirection.Ascending">Total Amt</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.Amount)" InitialDirection="SortDirection.Ascending">Amount</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.SGST)" InitialDirection="SortDirection.Ascending">SGST</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.CGST)" InitialDirection="SortDirection.Ascending">CGST</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.IGST)" InitialDirection="SortDirection.Ascending">IGST</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<ExpenseModel, object>(x=> x.TDS)" InitialDirection="SortDirection.Ascending">TDS</MudTableSortLabel></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Doc Number">@context.DocNumber</MudTd>
                                        <MudTd DataLabel="Document Date">@context.DocDate</MudTd>
                                        <MudTd DataLabel="Branch">@context.BranchName</MudTd>
                                        <MudTd DataLabel="Vendor">@context.RegName</MudTd>
                                        <MudTd DataLabel="Invoice No">@context.InvoiceNo</MudTd>
                                        <MudTd DataLabel="Invoice Date">@context.InvoiceDate</MudTd>
                                        <MudTd DataLabel="Bill Ref">@context.BillReference</MudTd>
                                        <MudTd DataLabel="Narration">@context.Narration</MudTd>
                                        <MudTd DataLabel="User">@context.UserID</MudTd>
                                        <MudTd DataLabel="Account Name">@context.AccountName</MudTd>
                                        <MudTd DataLabel="Cost Center">@context.CostCenter</MudTd>
                                        <MudTd DataLabel="Dimension">@context.Dimension</MudTd>
                                        <MudTd DataLabel="Total Amt">@context.TotalAmount</MudTd>
                                        <MudTd DataLabel="Amount">@context.Amount</MudTd>
                                        <MudTd DataLabel="SGST">@context.SGST</MudTd>
                                        <MudTd DataLabel="CGST">@context.CGST</MudTd>
                                        <MudTd DataLabel="IGST">@context.IGST</MudTd>
                                        <MudTd DataLabel="TDS">@context.TDS</MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager PageSizeOptions="new int[] { 10, 20, 50, 100 }" />
                                    </PagerContent>
                                </MudTable>
                            </div>
                        }
                    </MudItem>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>
}
<MudDialog @bind-IsVisible="visibleMechanicSelector" DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.People" Class="mr-3" /> Assign Mechanics
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="height: 300px; overflow-y: auto">
            <MudSelect T="MechanicModel" MultiSelection="true" Label="Assign Mechanic/s" ToStringFunc="@(p => p.MechanicName)" @bind-SelectedValues="SelectedMechanics" Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Secondary">
                @foreach (var item in Mechanics)
                {
                    <MudSelectItem T="MechanicModel" Value="@item">@item.MechanicName</MudSelectItem>
                }
            </MudSelect>
            <MudButton Color="Color.Success" OnClick="AddMechanic">Add</MudButton>
        </MudContainer>
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public int? TruckID { get; set; }
    [Parameter]
    public int? JobcardID { get; set; }
    private TruckModel SelectedTruck = new();
    private BreakdownModel Breakdown = new();
    private JobcardModel SelectedJobcard = new();
    private WorkshopModel SelectedWorkshop = new();
    private WorkshopModel CurrentWorkshop;
    private List<JobcardWorkshopModel> jwList = new();
    private List<JobInProgressModel> JipList = new();
    private List<InventoryRequestModel> InvRequestList = new();
    private List<ExpenseModel> ExpenseList = new();
    private List<WorkshopModel> Workshops = new();
    public int? BranchID { get; set; }
    private JobInProgressModel NewJob = new JobInProgressModel();
    private List<EventTypeModel> EventTypes;
    string ColorInProgress = Colors.Indigo.Lighten5;
    string ColorFinished = Colors.Green.Lighten5;
    string ColorCancelled = Colors.Grey.Lighten5;
    JobInProgressView jipView;
    bool visibleMechanicSelector = false;
    private List<MechanicModel> Mechanics = new();
    private IEnumerable<MechanicModel> SelectedMechanics;
    private JobInProgressModel SelectedJob = new();
    private RepairJobModel EditedJob = new();
    private RepairJobModel EditedJobGroup = new();
    private bool _busy;
    JobInProgressModel EditingJob { get; set; } = null;
    
    private List<RepairJobModel> Grouplist = new();
    private List<RepairJobModel> Joblist = new();

    public bool HasPermissionInventoryRequestDelete { get; set; } = false;
    public int InventoryRequestDocTypeID = 67;

    public bool HasPermissionJobcardServiceEdit { get; set; } = false;
    public int JobcardDocTypeID = 82;

    InsuranceClaimModel InsModel = new();
    private InsuranceClaimModel SelectedItem;
    private bool dialogVisible = false;

    // Initialization logic
    protected async override Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();

        HasPermissionInventoryRequestDelete = await Irole.HasClaim(InventoryRequestDocTypeID.ToString(), "Delete", ctc.Token);
        HasPermissionJobcardServiceEdit = await Irole.HasClaim(JobcardDocTypeID.ToString(), "Edit", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        BranchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);

        // Load workshops and event types
        Workshops = Iworkshop.Select(0).ToList();
        EventTypes = Ievent.GetEventTypes().ToList();

        // Load data based on provided IDs
        if (JobcardID != null)
        {
            GetAll();
        }
        else if (TruckID != null)
        {
            await TruckSelected(Itruck.SelectByID(TruckID));
        }

    }

    // Method to retrieve all relevant data for the selected jobcard
    public void GetAll()
    {
        SelectedTruck = Itruck.SelectByID(TruckID);
        SelectedJobcard = Iservice.SelectByID(JobcardID);
        Breakdown = Ibreakdown.SelectByID(SelectedJobcard?.BreakdownID);
        jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
        setJipList(SelectedJobcard);
        InvRequestList = IInvRequestservice.SelectRequestReleaseByJobCardID(SelectedJobcard?.JobcardID ?? 0).ToList();
        ExpenseList = IInvRequestservice.SelectExpenseByJobCardID(SelectedJobcard?.JobcardID ?? 0).ToList();

        // Load insurance claim data if initiated
        if (Breakdown.IsClaimInitiated == true)
        {
            InsModel = IClaimservice.SelectByBreakdownID(Breakdown.BreakdownID);
            IEnumerable<InsuranceClaimEventStatusModel> statusModel;
            statusModel = IClaimservice.GetEventStatusList(InsModel.InsuranceClaimID);
            InsModel.Events = statusModel.ToList();
        }
    }

    // Method to handle truck selection
    private async Task TruckSelected(TruckModel obj)
    {
        SelectedTruck = obj;
        if (obj != null)
        {
            // Load jobcard and breakdown information based on selected truck
            SelectedJobcard = Iservice.SelectByTruck(SelectedTruck?.TruckID, true).OrderByDescending(s => s.JobcardID).FirstOrDefault();
            Breakdown = Ibreakdown.SelectByID(SelectedJobcard?.BreakdownID);
            jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
            setJipList(SelectedJobcard);
            if (InvRequestList != null)
            {
                InvRequestList.Clear();
            }
            InvRequestList = IInvRequestservice.SelectRequestReleaseByJobCardID(SelectedJobcard?.JobcardID).ToList();

            if (ExpenseList != null)
            {
                ExpenseList.Clear();
            }
            ExpenseList = IInvRequestservice.SelectExpenseByJobCardID(SelectedJobcard?.JobcardID ?? 0).ToList();

            if (jwList.Count(x => x.ExitOn == null) > 0)
            {
                CurrentWorkshop = Workshops.First(y => y.WorkshopID == jwList.First(x => x.ExitOn == null).WorkshopID);
            }
            var authProvider = await auth.GetAuthenticationStateAsync();
            NewJob = new()
                {
                    CreatedOn = DateTime.Now,
                    JobCardID = SelectedJobcard?.JobcardID,
                    WorkshopID = CurrentWorkshop?.WorkshopID,
                    JobStatus = 1,
                    UserInfo = new() { UserID = authProvider.User.Identity.Name }
                };
            if (Breakdown.IsClaimInitiated == true)
            {

                InsModel = IClaimservice.SelectByBreakdownID(Breakdown.BreakdownID);
                IEnumerable<InsuranceClaimEventStatusModel> statusModel;
                statusModel = IClaimservice.GetEventStatusList(InsModel.InsuranceClaimID);
                InsModel.Events = statusModel.ToList();
            }
        }
    }

    // Method to set the list of jobs in progress for a given jobcard
    void setJipList(JobcardModel jobcard)
    {
        JipList = Ijp.SelectByJobcard(jobcard?.JobcardID).ToList();
        foreach (JobInProgressModel item in JipList)
        {
            item.Mechanics = ImechanicJob.SelectByJob(item.JipID).ToList();
        }
    }

    void StartEditingJob(JobInProgressModel item)
    {
        EditingJob = item;
        EditedJob = Ijob.SelectByID(item.RepairJobID);
        EditedJobGroup = EditedJob;
        Grouplist = Ijob.SelectJobGroupAndSub().ToList();
        Joblist = Ijob.SelectJob(null, null, null).ToList();
        Joblist = Joblist.Where(x => (x.JobSubGroup.ID == EditedJob.JobSubGroup.ID)).ToList();
    }

    // Method to search for job groups based on user input
    private async Task<IEnumerable<RepairJobModel>> SearchGroup(string searchString)
    {
        return await Task.FromResult(Grouplist.Where(x => x.JobSubGroup.Title.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)
                                                        || x.JobGroup.Title.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    // Method to search for jobs based on user input
    private async Task<IEnumerable<RepairJobModel>> SearchJob(string searchString)
    {
        return await Task.FromResult(Joblist.Where(x => x.Title.Contains(searchString == null ? string.Empty : searchString, StringComparison.InvariantCultureIgnoreCase)));
    }

    // Method to handle changes in the selected job group
    private async Task GroupChanged(RepairJobModel obj)
    {
        @if (obj != null && obj.JobSubGroup.ID != null)
        {
            // Load jobs that belong to the selected job subgroup
            Joblist = Ijob.SelectJob(null, null, null).ToList();
            Joblist = Joblist.Where(x => (x.JobSubGroup.ID == obj.JobSubGroup.ID)).ToList();
        }
        EditedJobGroup = obj;
        EditedJob = null;
    }

    // Method to handle changes in the selected job
    private async Task JobChanged(RepairJobModel obj)
    {
        EditedJob = obj;
    }

    void SaveEditingJob(JobInProgressModel item)
    {
        item.RepairJobID = EditedJob.RepairJobID;
        Ijp.Update(item);

        snackbar.Add("Jobs Updated.", Severity.Success);
        setJipList(SelectedJobcard);
        EditingJob = null;
    }

    void CancelEditingJob()
    {
        EditingJob = null;
        // if you deep-cloned into NewJob, you can just discard it.
    }

    // Method to handle exiting a workshop
    private async Task ExitWorkshop(JobcardWorkshopModel jwModel)
    {
        if (HasPermissionJobcardServiceEdit)
        {
            if (JipList.Any(x => x.WorkshopID == jwModel.WorkshopID && x.FinishedOn == null))
            {
                snackbar.Add("Unfinished Jobs found!", Severity.Error);
                return;
            }
            jwModel.ExitOn = DateTime.Now;
            var authProvider = await auth.GetAuthenticationStateAsync();
            jwModel.UserInfo.UserID = authProvider.User.Identity.Name;
            try
            {
                Ijw.Update(jwModel);
            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
            jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
            CurrentWorkshop = null;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to handle entering a workshop
    private async Task EnterWorkshop()
    {
        if (HasPermissionJobcardServiceEdit)
        {
            if (SelectedWorkshop == null || SelectedWorkshop.WorkshopID == null)
            {
                snackbar.Add("Please select workshop.", Severity.Error);
                return;
            }
            JobcardWorkshopModel jwEnter = new();
            jwEnter.JobCardID = SelectedJobcard.JobcardID;
            jwEnter.WorkshopID = SelectedWorkshop.WorkshopID;
            jwEnter.EnteredOn = DateTime.Now;
            var authProvider = await auth.GetAuthenticationStateAsync();
            jwEnter.UserInfo.UserID = authProvider.User.Identity.Name;
            Ijw.Update(jwEnter);
            jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
            CurrentWorkshop = Workshops.First(y => y.WorkshopID == jwList.First(x => x.ExitOn == null).WorkshopID);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to update a job in progress
    private async Task UpdateJob(JobInProgressModel Ujip, int status)
    {
        if (HasPermissionJobcardServiceEdit)
        {
            var authProvider = await auth.GetAuthenticationStateAsync();
            Ujip.UserInfo.UserID = authProvider.User.Identity.Name;
            Ujip.JobStatus = status;
            Ujip.FinishedOn = DateTime.Now;
            foreach (var item in Ujip.Mechanics)
            {
                await RemoveMechanic(item);
            }
            Ijp.Update(Ujip);
            snackbar.Add("Jobs Updated.", Severity.Success);
            setJipList(SelectedJobcard);
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to add a new job in progress
    private async Task AddJob()
    {
        var authProvider = await auth.GetAuthenticationStateAsync();
        NewJob.CreatedOn = DateTime.Now;
        if (NewJob.RepairJobID == null || NewJob.RepairJobID == 0)
        {
            snackbar.Add("Please select job.", Severity.Error);
            return;
        }
        // if (NewJob.Mechanics == null || NewJob.Mechanics.Count() == 0)
        // {
        //     snackbar.Add("Please select mechanic;", Severity.Error);
        //     return;
        // }
        if (NewJob.WarrantyCheck == true && NewJob.WarrantyExpiryDate == null)
        {
            snackbar.Add("Please enter Warranty Expiry Date.", Severity.Error);
            return;
        }
        try
        {
            NewJob.JobCardID = SelectedJobcard.JobcardID;
            jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
            CurrentWorkshop = Workshops.First(y => y.WorkshopID == jwList.First(x => x.ExitOn == null).WorkshopID);
            NewJob.WorkshopID = CurrentWorkshop.WorkshopID;

            await jipView.UpdateJob(NewJob);

            snackbar.Add("Jobs Added.", Severity.Success);
            setJipList(SelectedJobcard);
            NewJob = new();
            jipView.clearmodel();
        }
        catch (Exception ex)
        {
            snackbar.Add(ex.Message, Severity.Error);
        }
    }

    // Method to close the jobcard
    async Task CloseJobcard()
    {
        if (HasPermissionJobcardServiceEdit)
        {
            if (Breakdown.EstimateList.Any(x => x.UserInfo.RecordStatus != 3))
            {
                snackbar.Add("Close pending EstimateList !", Severity.Error);
                return;
            }
            if (Breakdown.EstimateList.Any(x => x.ImagePath == null))
            {
                snackbar.Add("File not uploaded for EstimateList !", Severity.Error);
                return;
            }
            if (InvRequestList.Any(x => x.IsClosed == false))
            {
                snackbar.Add("Close requested inventory items before closing Jobcard!", Severity.Error);
                return;
            }
            if (jwList.Any(x => x.ExitOn == null))
            {
                snackbar.Add("Exit from workshop before closing Jobcard!", Severity.Error);
                return;
            }
            var authProvider = await auth.GetAuthenticationStateAsync();

            try
            {
                Iservice.CloseJobcard(SelectedJobcard.JobcardID, authProvider.User.Identity.Name);
                await TruckSelected(SelectedTruck);

            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to remove a mechanic from a job
    async Task RemoveMechanic(MechanicJobModel mj)
    {
        if (HasPermissionJobcardServiceEdit)
        {
            var authProvider = await auth.GetAuthenticationStateAsync();
            string UserID = authProvider.User.Identity.Name;
            ImechanicJob.Remove(mj.MjID, UserID);
            mj.EndedOn = DateTime.Now;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to open the mechanic selector dialog
    void OpenMechanicSelector(JobInProgressModel jipModel)
    {
        SelectedMechanics = new HashSet<MechanicModel>();
        Mechanics = Imechanic.SelectByWorkshop(CurrentWorkshop.WorkshopID).ToList()
            .Where(x => jipModel.Mechanics.Where(z => z.EndedOn == null).All(y => y.MechanicID != x.MechanicID)).ToList();
        SelectedJob = jipModel;
        visibleMechanicSelector = true;
    }

    // Method to add selected mechanics to a job
    async Task AddMechanic()
    {
        if (HasPermissionJobcardServiceEdit)
        {
            var authProvider = await auth.GetAuthenticationStateAsync();
            foreach (var item in SelectedMechanics)
            {
                ImechanicJob.Update(new MechanicJobModel()
                    {
                        AssignedOn = DateTime.Now,
                        JipID = SelectedJob.JipID,
                        MechanicID = item.MechanicID,
                        MechanicName = item.MechanicName,
                        UserInfo = new ArmsModels.SharedModels.UserInfoModel()
                        {
                            UserID = authProvider.User.Identity.Name
                        }
                    });
            }
            setJipList(SelectedJobcard);
            visibleMechanicSelector = false;
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
    }

    // Method to begin an insurance claim
    private async Task BeginInsuranceClaim()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        InsuranceClaimModel model = new() { IsOpen = true };
        var asset = Iasset.SelectByTruckID(Breakdown.TruckID);
        InsModel.TruckRegNo = SelectedTruck.RegNo;
        InsModel.BreakdownID = Breakdown.BreakdownID;
        InsModel.Asset = asset;
        model = InsModel;
        var parameters = new DialogParameters();
        parameters.Add("Model", model.Clone());
        parameters.Add("ReadOnly", false);
        parameters.Add("Jobcard", true);
        //parameters.Add("model", InsModel);
        //parameters.Add("BreakdownID", Breakdown.BreakdownID);
        //parameters.Add("Asset", asset.Clone());
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        //var dialog = DialogService.Show<InitiateClaimDialog>("Initiate Claim", parameters, maxWidth);
        var dialog = DialogService.Show<ClaimDialog>("Initiate Claim", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            InsModel = (InsuranceClaimModel)result.Data;
            Breakdown.IsClaimInitiated = true;
        }
        model = new();
        GetAll();
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open expenses dialog
    private async Task OpenExpenses()
    {
        foreach (var item in JipList)
        {
            if(item.WarrantyCheck == false && item.JobStatus != 0 && item.TotalAmount == null)
            {
                snackbar.Add("Please enter job amount", Severity.Warning);
                return;
            }
        }

        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionJobcardServiceEdit)
        {            
            var parameters = new DialogParameters();
            parameters.Add("model", new TaxPurchaseModel() {JobcardID = SelectedJobcard.JobcardID, NonStoreInventory = true, TaxPurchaseType = "Maintenance", Narration = string.Format("Jobcard : {0};", SelectedJobcard.JobcardNumber) });
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var dialog = DialogService.Show<TaxPurchaseDialog>("Maintenance Expenses", parameters, maxWidth);
            var result = await dialog.Result;
            // if (!result.Canceled)
            // {
            //     var purchaseModel = (TaxPurchaseModel)result.Data;
            //     try
            //     {
            //         Iservice.AddPurchase(SelectedJobcard.JobcardID, purchaseModel.PID, 134);
            //     }
            //     catch
            //     {
            //         try
            //         {
            //             Ipurchaseservice.Delete(purchaseModel.PID, purchaseModel.UserInfo.UserID);
            //             snackbar.Add("Something went wrong!  Try again", Severity.Error);
            //         }
            //         catch
            //         {
            //             snackbar.Add("Expense amount not processed!  Please check purchase and delete the entry", Severity.Error);
            //         }
            //     }
            // }            
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open sundry payment dialog
    private async Task OpenSundrypayment()
    {
        foreach (var item in JipList)
        {
            if (item.WarrantyCheck == false && item.JobStatus != 0 && item.TotalAmount == null)
            {
                snackbar.Add("Please enter job amount", Severity.Warning);
                return;
            }
        }
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionJobcardServiceEdit)
        {
            
            var parameters = new DialogParameters();
            parameters.Add("model", new SundryPaymentModel() { JobcardID = SelectedJobcard.JobcardID, Narration = string.Format("Jobcard : {0};", SelectedJobcard.JobcardNumber) });
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            var dialog = DialogService.Show<SundryPaymentDialog>("Maintenance Expenses", parameters, maxWidth);
            var result = await dialog.Result;
            // if (!result.Canceled)
            // {
            //     var sundryModel = (SundryPaymentModel)result.Data;
            //     try
            //     {
            //         Iservice.AddPurchase(SelectedJobcard.JobcardID, sundryModel.SundryPaymentID, 11);
            //     }
            //     catch
            //     {
            //         try
            //         {
            //             Isundrypaymentservice.Delete(sundryModel.SundryPaymentID, sundryModel.UserInfo.UserID);
            //             snackbar.Add("Something went wrong!  Try again", Severity.Error);
            //         }
            //         catch
            //         {
            //             snackbar.Add("Expense amount not processed!  Please check sundry payment and delete the entry", Severity.Error);
            //         }
            //     }
            // }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open inventory release dialog
    private async Task OpenInventoryReleaseClosedDialog(InventoryRequestModel model)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var authprov = await auth.GetAuthenticationStateAsync();
        var branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        model.Jobcard = SelectedJobcard;
        model.BranchID = branchID;
        model.Truck = SelectedTruck;
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", model.Clone());
        parms.Add("SetIncomingVal", true);
        var result = await DialogService.Show<InventoryReleaseClosedDialog>("ADD", parms, mediumWidth).Result;

        InvRequestList = IInvRequestservice.SelectRequestReleaseByJobCardID(SelectedJobcard.JobcardID).ToList();
        model = new();
        await Task.Delay(200);
        _busy = false;
    }

    // Method to open inventory request dialog
    private async Task OpenInventoryRequestDialog(InventoryRequestModel model)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var authprov = await auth.GetAuthenticationStateAsync();
        var branchID = int.Parse(authprov.User.Claims.First(x => x.Type == "BranchID").Value);
        model.Jobcard = SelectedJobcard;
        model.BranchID = branchID;
        model.Truck = SelectedTruck;
        DialogOptions mediumWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parms = new DialogParameters();
        parms.Add("model", model.Clone());
        parms.Add("SetIncomingVal", true);
        var dialog = DialogService.Show<InvRequestDialog>("ADD", parms, mediumWidth);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            InvRequestList = IInvRequestservice.SelectRequestReleaseByJobCardID(SelectedJobcard.JobcardID).ToList();
            model = new();
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to delete an inventory request
    private async Task DeleteInventoryRequest(InventoryRequestModel model)
    {
        if (HasPermissionInventoryRequestDelete)
        {
            try
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Warning !",
                    "Are you sure, you want to delete - " + model.ReleaseSubDetails?.ItemDescription + " (" + model.RequestDate?.ToShortDateString() + " / " + model.RequestNumber + ") ?");
                if (result == true)
                {
                    var authprov = await auth.GetAuthenticationStateAsync();
                    var user = authprov.User;
                    var value = IInvRequestservice.Delete(model.RequestID, user.Identity.Name);
                    if (value != -1)
                    {
                        if (InvRequestList.Exists(s => s.RequestID == value))
                        {
                            InvRequestList.Remove(InvRequestList.FirstOrDefault(s => s.RequestID == value));
                        }
                    }
                    snackbar.Add("Deleted Successfully", Severity.Success);
                }
            }
            catch (Exception ex)
            {
                snackbar.Add(ex.Message, Severity.Error);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Delete InventoryRequest.");
        }
    }

    // Method to view claim status
    private void ViewClaimStatus()
    {
        dialogVisible = true;
        Openclaims();
    }

    // Method to open claims dialog
    private async Task Openclaims()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        if (HasPermissionJobcardServiceEdit)
        {
            var asset = Iasset.SelectByTruckID(Breakdown.TruckID);
            InsModel.TruckRegNo = SelectedTruck.RegNo;
            InsModel.BreakdownID = Breakdown.BreakdownID;
            InsModel.Asset = asset;
            var parameters = new DialogParameters();
            parameters.Add("Model", InsModel.Clone());
            @if (dialogVisible)
            {
                parameters.Add("ReadOnly", true);
            }
            else
            {
                parameters.Add("ReadOnly", false);
            }
            parameters.Add("Jobcard", true);
            // parameters.Add("SelectedModels", InsModel);
            // parameters.Add("Visible", dialogVisible);
            // parameters.Add("Page", "JobCard");
            // parameters.Add("OnClaimAdded", null);
            DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
            //var dialog = DialogService.Show<ManageClaimDialog>("Manage Claims", parameters, maxWidth);
            var dialog = DialogService.Show<ClaimDialog>("Initiate Claim", parameters, maxWidth);

            // var result = await dialog.Result;
            // if (!result.Canceled)
            // {
            //     var purchaseModel = (TaxPurchaseModel)result.Data;
            //     int queryStatus = Iservice.AddPurchase(SelectedJobcard.JobcardID, purchaseModel.PID);
            //     if (queryStatus == 0)
            //     {
            //         snackbar.Add("Something went wrong !  Please check Taxpurchase collect number then contact Admin", Severity.Error);
            //     }
            //     else
            //     {
            //         snackbar.Add("Created Successfully", Severity.Success);
            //     }
            // }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit Jobcard.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to add claims
    async Task AddClaims()
    {
        SelectedItem = InsModel;
        //model.Assets.Add(MudListItem);
    }
}