@page "/jobcard"
@page "/jobcard/{TruckID:int}"

@using Pages.FMS.InsuranceClaim
@using Views.Pages.Operations

@inject IJobcardService Iservice
@inject IBreakdownService Ibreakdown
@inject ITruckService Itruck 
@inject IJobcardWorkshopService Ijw
@inject IJobInProgressService Ijp
@inject IWorkshopService Iworkshop
@inject IMechanicJobService ImechanicJob
@inject IMechanicService Imechanic
@inject IEventService Ievent 

@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@inject IDialogService DialogService



<div class="opthead"><h6>Select Job Card </h6></div>
<MudPaper Class="p-2" Elevation="0">
    <div class="d-flex">     
        <TruckSelector Class="d-inline-block" Value="SelectedTruck" ValueChanged="TruckSelected" />             
    </div>
</MudPaper>
@if (SelectedJobcard?.JobcardID != null)
{
<MudPaper>
    <div style="padding:2%;">
    <h6><MudIcon Icon="@Icons.Outlined.CreditCard" Size=Size.Small />@SelectedJobcard?.JobcardNumber          <MudIcon Icon="@Icons.Outlined.AccountTree" Size=Size.Small />   @SelectedJobcard?.BranchName</h6>
  
    <br>
    <br>

    @if (SelectedJobcard.UserInfo.RecordStatus == 3)
    {
        <MudButton StartIcon="@Icons.Filled.Close" Class="scbtn" Color="Color.Secondary" OnClick="CloseJobcard">Close Jobcard</MudButton>
        <MudButton StartIcon="@Icons.Filled.AddChart" Class="mainbtn" >Request Spareparts</MudButton>
    }
    @if(!Breakdown.IsClaimInitiated)
    {
                <MudButton Style="text-transform:capitalize;padding-right:1%" StartIcon="@Icons.Filled.AppRegistration" OnClick="BeginInsuranceClaim" IconColor="Color.Primary">Initiate Insurance Claim</MudButton>
            }
            else
            {
                <MudButton Style="text-transform:capitalize;" StartIcon="@Icons.Filled.AppRegistration"  IconColor="Color.Primary">View Claim Status</MudButton>
            }
            <MudButton Style="text-transform:capitalize;" StartIcon="@Icons.Filled.AppRegistration" OnClick="OpenExpenses" IconColor="Color.Primary">Post Expenses</MudButton>
    <br>
    <br>
        </div>
</MudPaper>
    <MudGrid>
        <MudItem xs="12" lg="6">
             
            <MudPaper Style="margin-top:4%" Elevation="0">
                <div class="opthead" style="background-color:#556f8f"> <h6>Workshop</h6></div>
                
                <MudList>
                    <MudListItem>
                        <MudGrid>
                            
  
                    <MudItem xs="6">
                                <b>WORKSHOP</b>
                            </MudItem>
                            <MudItem xs="3">
                                <b> ENTRY</b>
                            </MudItem>
                            <MudItem xs="3">
                                <b> EXIT</b>
                            </MudItem>
                        </MudGrid>
                    </MudListItem>
                    @foreach (var item in jwList)
                    {
                        <MudDivider />
                        <MudListItem>
                            <MudGrid>
                                <MudItem xs="6">
                                    @item.WorkshopName
                                </MudItem>
                                <MudItem xs="3">
                                    @item.EnteredOn?.ToString("dd/MM/yy HH:mm tt")
                                </MudItem>
                                <MudItem xs="3">
                                    @if (@item.ExitOn == null)
                                    {
                                        <MudButton Color="Color.Success" OnClick="@(() => ExitWorkshop(item))">Exit</MudButton>}
                                    else
                                    {
                                        @item.ExitOn?.ToString("dd/MM/yy HH:mm tt")
                                    }
                                </MudItem>
                            </MudGrid>
                        </MudListItem>
                    }
                    @if (!jwList.Any(x => x.ExitOn == null) && SelectedJobcard?.UserInfo.RecordStatus == 3)
                    {
                        <MudDivider></MudDivider>
                        <MudListItem>
                            <MudGrid>
                                <MudItem xs="8">
                                    <MudSelect T="WorkshopModel" @bind-Value="SelectedWorkshop" Label="Workshop" Strict="true" Variant="Variant.Outlined">
                                        @foreach (var workshop in Workshops)
                                        {
                                            <MudSelectItem Value="workshop">@workshop.WorkshopName</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="4">
                                    <MudButton Color="Color.Primary" OnClick="EnterWorkshop">Enter Workshop</MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudListItem>
                    }

                </MudList>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" lg="6">
            <br>
             <div class="opthead" Style="background-color:#556f8f;color:#fff;"><h6>Jobs</h6></div>
             
                    @if (CurrentWorkshop != null && SelectedJobcard.UserInfo.RecordStatus == 3)
            {
                <MudPaper Class="pa-2" Elevation="0">

                    <JobInProgressView workshop="CurrentWorkshop" model="NewJob" @ref="jipView"></JobInProgressView>
                    <MudButton StartIcon="@Icons.Filled.Add" Class="mainbtn" OnClick="AddJob">Add Job</MudButton>
                </MudPaper>
                <br />
            }
            @foreach (var item in JipList)
            {
                string AppliedColor = ColorInProgress;
                @switch (item.JobStatus)
                {
                    case 0:
                        AppliedColor = ColorCancelled;
                        break;
                    case 2:
                        AppliedColor = ColorFinished;
                        break;
                }
               
                <MudPaper Class="pa-3"   Elevation="0">
             
                    <MudGrid>
                         <MudContainer MaxWidth="MaxWidth.Large" Style="background-color:#FF0000;color:#ffff;padding:3%">
                        <MudItem>
                           @item.RepairJobTitle @item.CreatedOn?.ToString("MMM-dd-yy HH:mm tt")
                        </MudItem>
                        <MudItem xs="4">
                          
                        </MudItem>
                     </MudContainer>
                        @if (item.JobStatus == 1)
                        {
                            <MudItem xs="3">
                                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                                    <MudTooltip Text="Finished">
                                        <MudIconButton Icon="@Icons.Material.Filled.Check" Color="Color.Success" OnClick="@(() => UpdateJob(item, 2))"></MudIconButton>
                                    </MudTooltip>
                                    <MudTooltip Text="Cancel">
                                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" OnClick="@(() => UpdateJob(item, 0))"></MudIconButton>
                                    </MudTooltip>
                                </MudButtonGroup>
                            </MudItem>
                        }
                        <MudItem xs="10">
                            Assigned Mechanics
                            @if (item.JobStatus == 1)
                            {
                                <MudTooltip Text="Assign Mechanic">
                                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Sharp.Add" OnClick="(() => OpenMechanicSelector(item))" aria-label="AddMechanic"></MudIconButton>
                                </MudTooltip>
                            }
                            @foreach (var mech in item.Mechanics)
                            {
                                string mechClass = mech.EndedOn == null ? "ActiveText" : "InActiveText";
                               <div style="background-color:#f7f7f7;padding-left:2%;margin-bottom:1%">
                                <MudText Class="@mechClass">
                                    @mech.MechanicName
                                    <MudButton Size="Size.Small" hidden="@(mech.EndedOn != null)" Color="Color.Default" OnClick="(() => RemoveMechanic(mech))">Remove</MudButton>
                                </MudText>
                                </div>
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            }
        
        </MudItem>
    </MudGrid>
}



<MudDialog @bind-IsVisible="visibleMechanicSelector" DisableSidePadding="true">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.People" Class="mr-3" /> Assign Mechanics
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="height: 300px; overflow-y: auto">
            <MudSelect T="MechanicModel" MultiSelection="true" Label="Assign Mechanic/s" ToStringFunc="@(p => p.MechanicName)"
                       @bind-SelectedValues="SelectedMechanics" Variant="Variant.Outlined" Margin="Margin.Normal" OffsetY="true" Direction="Direction.Top" AdornmentColor="Color.Secondary">

                @foreach (var item in Mechanics)
                {
                    <MudSelectItem T="MechanicModel" Value="@item">@item.MechanicName</MudSelectItem>
                }
            </MudSelect>
            <MudButton Color="Color.Success" OnClick="AddMechanic">Add</MudButton>
        </MudContainer>
    </DialogContent>
</MudDialog>


 <TransactionsListView Jobcard="SelectedJobcard" @ref="TransactionsListViewRef"></TransactionsListView>

<style>
    .InActiveText {
        color: lightgray;
    }

    .ActiveText {
        color: cornflowerblue;
    }
</style>
@code {
    [Parameter]
    public int? TruckID { get; set; }

    TransactionsListView TransactionsListViewRef;

    private TruckModel SelectedTruck = new();
    private BreakdownModel Breakdown = new();
    private JobcardModel SelectedJobcard = new();
    private WorkshopModel SelectedWorkshop = new();
    private WorkshopModel CurrentWorkshop;
    private List<JobcardWorkshopModel> jwList = new();
    private List<JobInProgressModel> JipList = new();
    private List<WorkshopModel> Workshops = new();

    private JobInProgressModel NewJob = new JobInProgressModel();

    string ColorInProgress = Colors.Indigo.Lighten5;
    string ColorFinished = Colors.Green.Lighten5;
    string ColorCancelled = Colors.Grey.Lighten5;

    JobInProgressView jipView;

    bool visibleMechanicSelector = false;

    private List<MechanicModel> Mechanics = new();
    private IEnumerable<MechanicModel> SelectedMechanics;
    private JobInProgressModel SelectedJob = new();

    protected async override Task OnInitializedAsync()
    {
        Workshops = Iworkshop.Select(0).ToList();

        if(TruckID != null)
        {
            await TruckSelected(Itruck.SelectByID(TruckID));
        }
    }

    private async Task TruckSelected(TruckModel obj)
    {
        SelectedTruck = obj;
        SelectedJobcard = Iservice.SelectByTruck(SelectedTruck?.TruckID, true).FirstOrDefault();
        Breakdown = Ibreakdown.SelectByID(SelectedJobcard?.BreakdownID);
        jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
        setJipList(SelectedJobcard);
        if (jwList.Count(x => x.ExitOn == null) > 0)
        {
            CurrentWorkshop = Workshops.First(y => y.WorkshopID == jwList.First(x => x.ExitOn == null).WorkshopID);
        }
        var authProvider = await auth.GetAuthenticationStateAsync();
        NewJob = new()
        {
            CreatedOn = DateTime.Now,
            JobCardID = SelectedJobcard?.JobcardID,
            WorkshopID = CurrentWorkshop?.WorkshopID,
            JobStatus = 1,
            UserInfo = new() { UserID = authProvider.User.Identity.Name }
        };
    }

    void setJipList(JobcardModel jobcard)
    {
        JipList = Ijp.SelectByJobcard(jobcard?.JobcardID).ToList();
        foreach (JobInProgressModel item in JipList)
        {
            item.Mechanics = ImechanicJob.SelectByJob(item.JipID).ToList();
        }
    }

    private async Task ExitWorkshop(JobcardWorkshopModel jwModel)
    {
        if (JipList.Any(x => x.WorkshopID == jwModel.WorkshopID && x.FinishedOn == null))
        {
            snackbar.Add("Unfinished Jobs found!", Severity.Error);
            return;
        }
        jwModel.ExitOn = DateTime.Now;

        var authProvider = await auth.GetAuthenticationStateAsync();
        jwModel.UserInfo.UserID = authProvider.User.Identity.Name;
        Ijw.Update(jwModel);
        jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
        CurrentWorkshop = null;
    }


    private async Task EnterWorkshop()
    {
        JobcardWorkshopModel jwEnter = new();
        jwEnter.JobCardID = SelectedJobcard.JobcardID;
        jwEnter.WorkshopID = SelectedWorkshop.WorkshopID;
        jwEnter.EnteredOn = DateTime.Now;

        var authProvider = await auth.GetAuthenticationStateAsync();
        jwEnter.UserInfo.UserID = authProvider.User.Identity.Name;
        Ijw.Update(jwEnter);
        jwList = Ijw.SelectByJobcard(SelectedJobcard?.JobcardID).ToList();
        CurrentWorkshop = Workshops.First(y => y.WorkshopID == jwList.First(x => x.ExitOn == null).WorkshopID);
    }

    private async Task UpdateJob(JobInProgressModel Ujip, int status)
    {
        var authProvider = await auth.GetAuthenticationStateAsync();
        Ujip.UserInfo.UserID = authProvider.User.Identity.Name;
        Ujip.JobStatus = status;
        Ujip.FinishedOn = DateTime.Now;
        foreach (var item in Ujip.Mechanics)
        {
            await RemoveMechanic(item);
        }
        Ijp.Update(Ujip);
        setJipList(SelectedJobcard);
    }
    private async Task AddJob()
    {
        var authProvider = await auth.GetAuthenticationStateAsync();
        NewJob.CreatedOn = DateTime.Now;
        jipView.UpdateJob(NewJob);
        setJipList(SelectedJobcard);
    }

    async Task CloseJobcard()
    {
        if(jwList.Any(x=> x.ExitOn==null))
        {
            snackbar.Add("Exit from workshop before closing Jobcard!", Severity.Error);
            return;
        }

        var authProvider = await auth.GetAuthenticationStateAsync();
        int BraanchID = int.Parse(authProvider.User.Claims.First(x => x.Type == "BranchID").Value);

        SelectedJobcard.UserInfo.RecordStatus = 4;
        Iservice.Update(SelectedJobcard);
        EventModel CurrentEvent = Ievent.GetCurrentEvent(SelectedTruck.TruckID);
        Ievent.Update(new EventModel()
        {
            EventTypeID = 6,
            BranchID = BraanchID,
            DriverID = CurrentEvent.DriverID,
            DestinationID = CurrentEvent.DestinationID,
            OriginID = CurrentEvent.DestinationID,
            EventReading = CurrentEvent.EventReading,
            EventTime = DateTime.Now,
            TripID = CurrentEvent.TripID,
            TruckID = CurrentEvent.TruckID,
            UserInfo =
            {
                UserID = authProvider.User.Identity.Name
            }
        });
    }


    async Task RemoveMechanic(MechanicJobModel mj)
    {
        var authProvider = await auth.GetAuthenticationStateAsync();
        string UserID = authProvider.User.Identity.Name;
        ImechanicJob.Remove(mj.MjID, UserID);
        mj.EndedOn = DateTime.Now;
    }


    void OpenMechanicSelector(JobInProgressModel jipModel)
    {
        SelectedMechanics = new HashSet<MechanicModel>();
        Mechanics = Imechanic.SelectByWorkshop(CurrentWorkshop.WorkshopID).ToList()
            .Where(x => jipModel.Mechanics.Where(z => z.EndedOn == null).All(y => y.MechanicID != x.MechanicID)).ToList();
        SelectedJob = jipModel;
        visibleMechanicSelector = true;
    }


    async Task AddMechanic()
    {
        var authProvider = await auth.GetAuthenticationStateAsync();

        foreach (var item in SelectedMechanics)
        {
            ImechanicJob.Update(
                new MechanicJobModel()
                {
                    AssignedOn = DateTime.Now,
                    JipID = SelectedJob.JipID,
                    MechanicID = item.MechanicID,
                    MechanicName = item.MechanicName,
                    UserInfo = new ArmsModels.SharedModels.UserInfoModel()
                    {
                        UserID = authProvider.User.Identity.Name
                    }
                });
        }
        setJipList(SelectedJobcard);
        visibleMechanicSelector = false;
    }

    private async Task BeginInsuranceClaim()
    {
        var parameters = new DialogParameters();
        parameters.Add("BreakdownID", Breakdown.BreakdownID);
        parameters.Add("TruckID", Breakdown.TruckID);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<InitiateClaimDialog>("Initiate Claim", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            InsuranceClaimModel InsModel = (InsuranceClaimModel)result.Data;
            Breakdown.IsClaimInitiated = true;
        }
    }

    private async Task OpenExpenses()
    {
        var parameters = new DialogParameters();
        parameters.Add("Jobcard", SelectedJobcard);
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<TransactionDialog>("Maintenance Expenses", parameters, maxWidth);
        var result = await dialog.Result;
        if(!result.Cancelled)
        {
            TransactionsListViewRef.Refresh();
        }

    }
}

