@inject IJobcardService Iservice
@inject MudBlazor.ISnackbar snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Build" Class="mr-3 mb-n1" />
            JOBS
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudTable T="JobInProgressModel" Items="@Jobs" @bind-SelectedItems="selectedItems" Hover="true" SelectOnRowClick>
            <HeaderContent>
                <MudTh>Job Title</MudTh>
                <MudTh>Created On</MudTh>
                <MudTh>Finished On</MudTh>
                <MudTh>Total Time (Hours)</MudTh>
                <MudTh>Mechanics</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RepairJobTitle">@context.RepairJobTitle</MudTd>
                    <MudTd DataLabel="CreatedOn">@context.CreatedOn</MudTd>
                    <MudTd DataLabel="FinishedOn">@context.FinishedOn</MudTd>
                    <MudTd DataLabel="TimeTaken">@context.TimeTaken</MudTd>
                    <MudTd DataLabel="Mechanic">@context.Mechanic</MudTd>
                    @* <MudTd DataLabel="@(context.IsComplex ? "Complex" : "Simple")">
                        @if (context.IsComplex)
                    {
                        <div>Complex</div>
                    }
                    else
                    {
                        <div>Simple</div>
                    }
                </MudTd> *@
            </RowTemplate>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(()=> MudDialog.Cancel())">Cancel</MudButton>
    </DialogActions>
</MudDialog>


    @code {

    [Parameter]
    public JobcardModel model { get; set; }
    public int BranchID { get; set; }
    public int JobcardID{ get; set; }

    private bool _busy;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private HashSet<JobInProgressModel> selectedItems = new();
    private List<JobInProgressModel> Jobs = new();

    private bool Local;

    // Initialization logic for the component
    protected override void OnInitialized()
    {
        Jobs = Iservice.GetJobListByJobCardID(model.JobcardID).ToList();
    }

    void OnRowClick(TableRowClickEventArgs<AssetPOModel> args)
    {
    }
}
