@page "/ChartOfAccount"
@inject IChartOfAccountService Iservice
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@using System
@inject IJSRuntime jsRuntime

<style>
    .subledger {
        color: blue;
    }

    .fixed {
        position: absolute;
    }
</style>
    <MudPaper  Style="margin-top:20px;width:500px;">
        <div style="padding:18px; padding-top:12px;">
            <MudText Typo="Typo.h5">CHART OF ACCOUNTS <MudIconButton Icon="@Icons.Material.Filled.Add" Disabled="@_busy" Title="Add Ledger" Color="Color.Dark" Size="Size.Small" OnClick="@addledgerbyicon"></MudIconButton></MudText>
        </div>
        <MudPaper Width="400px" Elevation="0">
            <MudTreeView Color="Color.Primary" ServerData="LoadServerData" Items="TreeItems" T="TreeItemData"  SelectedValueChanged="OnSelected">
                <ItemTemplate>
                    <ContextMenuTrigger MenuId="@(context.SummaryAccount ? "myMenu" : "myeditMenu")" Data="@context">
                        <MudTreeViewItem id="@context.ID" OnClick="@(()=> getcoordinates(context.ID))" @bind-Expanded="@context.IsExpanded" TextClass="@(context.SummaryAccount?"":"subledger")" LoadingIconColor="Color.Info" Value="@context" Text="@context.Title" Icon="@context.Icon" CanExpand="@(context.SummaryAccount? true : false)">
                        </MudTreeViewItem>
                    </ContextMenuTrigger>
                </ItemTemplate>
            </MudTreeView>
        </MudPaper>
    </MudPaper>

<div id="targetBox" Class="float-left fixed" style="left: 0; top: 0;">
    @if (AllocatedBranches.Count > 0)
    {
        <h3>Allocated Branches</h3>
        <MudPaper Width="350px" MaxHeight="490px" Class="overflow-y-auto" Elevation="0">
            @foreach (var item in AllocatedBranches)
            {
                <div style="height:40px">
                    <MudCheckBox Style="height:60px" Checked="@item.IsSelected" Label="@item.BranchName" CheckedChanged="((bool value)=>BranchCheckedChanged(value,item))"></MudCheckBox>
                </div>
            }
        </MudPaper>
    }
</div>
<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClick" Id="group">Add Group</Item>
    <Item OnClick="@ContextMenuOnClick" Id="account">Add Ledger</Item>
</ContextMenu>
<ContextMenu Id="myeditMenu">
    <Item OnClick="@ContextEditMenuOnClick">Edit Ledger</Item>
</ContextMenu>

@code {

    private HashSet<TreeItemData> TreeItems { get; set; } = new HashSet<TreeItemData>();
    TreeItemData ContextmenuSource = new();
    TreeItemData SelectedValue;
    protected List<CoaBranchAvailabilityModel> AllocatedBranches = new();
    protected bool visible = true;
    private bool _busy;

    public class TreeItemData
    {
        public string Title { get; set; }
        public string Icon { get; set; }
        public bool IsExpanded { get; set; } = false;
        public bool SummaryAccount { get; set; } = false;
        public int? ID { get; set; }
        public string AccountCode { get; set; }
        public HashSet<TreeItemData> TreeItems { get; set; }
    }

    public class ElementCoordinates
    {
        public double X { get; set; }
        public double Y { get; set; }
    }



    public async Task getcoordinates(int? itemID)
    {
        object[] obj = { itemID, "targetBox" };
        ElementCoordinates coordinates = await jsRuntime.InvokeAsync<ElementCoordinates>("getElementCoordinates", obj);
    }


    protected override void OnInitialized()
    {
        var baseGroups = Iservice.SelectBase();
        foreach (var item in baseGroups)
        {
            TreeItems.Add(new TreeItemData
                {
                    ID = item.CoaID,
                    Title = item.AccountName,
                    SummaryAccount = item.SummaryAccount,
                    Icon = item.SummaryAccount == false ? Icons.Material.Filled.Book : null
                });
        }
    }


    public async Task<HashSet<TreeItemData>> LoadServerData(TreeItemData parentNode)
    {
        await Task.Delay(3);
        parentNode.TreeItems = new HashSet<TreeItemData>();
        var children = Iservice.SelectChildren(parentNode.ID);
        foreach (var item in children)
        {
            parentNode.TreeItems.Add(new TreeItemData
                {
                    ID = item.CoaID,
                    AccountCode = item.AccountCode,
                    Title = item.AccountName + (item.SummaryAccount ? "" : (" (" + item.AccountCode + ")")),
                    SummaryAccount = item.SummaryAccount,
                    Icon = item.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                    TreeItems = null
                });
        }
        parentNode.Icon = "";
        return parentNode.TreeItems;
    }


    //Function to create group / ledger
    protected async Task ContextMenuOnClick(ItemClickEventArgs e)
    {
        ContextmenuSource = (TreeItemData)e.Data;
        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
            {
                ["model"] = new ChartOfAccountModel
                {
                    ParentID = ContextmenuSource.ID,
                    SummaryAccount = e.MenuItem.Id == "group",
                    UserInfo = { UserID = authstate.User.Identity.Name }
                },
            };
        IDialogReference dialog = null;
        switch (e.MenuItem.Id)
        {
            case "group":
                dialog = DialogService.Show<AddLedgerDialog>("Add Group under - " + ContextmenuSource.Title, parameters);
                break;

            case "account":
                dialog = DialogService.Show<AddSubledgerDialog>("Add Ledger under - " + ContextmenuSource.Title, parameters);
                break;
        }
        var result = await dialog.Result;
        ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
        if (!result.Canceled)
        {
            try
            {
                var newledger = Iservice.Update(UpdatedModel);
                ContextmenuSource.TreeItems.Add(new TreeItemData
                    {
                        ID = newledger.CoaID,
                        Title = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                        SummaryAccount = newledger.SummaryAccount,
                        Icon = newledger.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                    });
                snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);

            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
        }
    }

    protected async Task ContextEditMenuOnClick(ItemClickEventArgs e)
    {
        TreeItemData item = (TreeItemData)e.Data;
        if (!item.SummaryAccount)
        {
            ChartOfAccountModel model = Iservice.SelectByID(item.ID);
            ContextmenuSource = (TreeItemData)e.Data;
            var authstate = await auth.GetAuthenticationStateAsync();
            var parameters = new DialogParameters
                {
                    ["model"] = model.Clone(),
                };
            var editledge = DialogService.Show<AddSubledgerDialog>("Edit Ledger - " + item.Title, parameters);
            var result = await editledge.Result;
            ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
            if (!result.Canceled)
            {
                var newresult = Iservice.Update(UpdatedModel);
                item.Title = newresult.AccountName + (newresult.SummaryAccount ? "" : (" (" + newresult.AccountCode + ")"));
                item.SummaryAccount = newresult.SummaryAccount;
                item.Icon = Icons.Material.Filled.Book;
                snackbar.Add(newresult.AccountName + " Edited successfully", Severity.Success);

            }
        }
    }

    protected async Task addledgerbyicon()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
            {
                ["model"] = new ChartOfAccountModel
                {
                    ParentID = null,
                    SummaryAccount = false,
                    UserInfo = { UserID = authstate.User.Identity.Name }
                },
            };
        IDialogReference dialog = DialogService.Show<AddSubledgerDialog>("Add Ledger", parameters);
        var result = await dialog.Result;
        ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
        if (!result.Canceled)
        {
            try
            {
                var newledger = Iservice.Update(UpdatedModel);

                ContextmenuSource = GetTreeItem(TreeItems, UpdatedModel.ParentID);
                if (ContextmenuSource != null)
                {
                    ContextmenuSource.TreeItems.Add(new TreeItemData
                        {
                            ID = newledger.CoaID,
                            Title = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                            SummaryAccount = newledger.SummaryAccount,
                            Icon = newledger.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                        });
                    snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);
                }

            }
            catch (Exception a)
            {
                snackbar.Add(a.Message, Severity.Error);
            }
        }
        await Task.Delay(200);
        _busy = false;
    }

    //recursion through treeview

    //void LoadTreeItem(HashSet<TreeItemData> itemTree,int? ID)
    //{
    //    var item = itemTree.First(x => x.ID == ID);
    //    item.TreeItems = Task.Run(async () => await LoadServerData(item)).Result;
    //    item.IsExpanded = true;       
    //}

    void OnSelected(TreeItemData item)
    {
        if (item != null && !item.SummaryAccount)
        {
            AllocatedBranches = Iservice.GetAllocatedBranches(item.ID).ToList();
        }
        else
        {
            AllocatedBranches = new List<CoaBranchAvailabilityModel>();
        }
    }

    async Task BranchCheckedChanged(bool value, CoaBranchAvailabilityModel br)
    {
        var authState = await auth.GetAuthenticationStateAsync();
        br.IsSelected = value;
        br.UserInfo.UserID = authState.User.Identity.Name;

        if (value)
            Iservice.AddBranch(br);
        else
            Iservice.RemoveBranch(br);
    }

    async Task OnAppearing(MenuAppearingEventArgs e)
    {
        TreeItemData item = (TreeItemData)e.Data;
        e.PreventShow = !item.SummaryAccount;
    }


    TreeItemData GetTreeItem(HashSet<TreeItemData> tree,int? ID)
    {
        if (tree != null)
        {
            foreach (var i in tree)
            {
                if (i.ID == ID)
                {
                    return i;
                }
                else
                {
                    var item =  GetTreeItem(i.TreeItems, ID);
                    if (item != null)
                    {
                        return item;
                    }
                }
            }
        }
        return null;
    }
}