@page "/ChartOfAccount"
@inject IChartOfAccountService Iservice
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@using System
@inject IJSRuntime jsRuntime
@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .subledger {
        color: blue;
    }

    .fixed {
        position: absolute;
    }

</style>
<MudGrid>
    <MudItem xs="12" md="6">
        <MudPaper Class="p-5">
            <MudText Typo="Typo.h5" Style="font-weight:450" Class="mb-5">
                CHART OF ACCOUNTS
                <MudIconButton Style="margin-bottom:4px;" Icon="@Icons.Material.Filled.Add" Disabled="@_busy" Title="Add Ledger" Color="Color.Dark" Size="Size.Small" OnClick="@addledgerbyicon"></MudIconButton>
            </MudText>
            <MudDivider DividerType="DividerType.Middle"></MudDivider>

            <MudTreeView T="ChartOfAccountModel" Color="Color.Primary"
                         Items="TreeItems" Hover="true" ServerData="LoadChildren"
                         SelectedValueChanged="@((ChartOfAccountModel i) => OnSelected(i))">
                <ItemTemplate>
                    <MudTreeViewItem Text="@context.Text"
                                     T="ChartOfAccountModel"                                     
                                     @bind-Expanded="@context.Expanded"
                                     Items="@context.Children"                                     
                                     Value="@context.Value"
                                    
                                     LoadingIconColor="Color.Info"
                                     CanExpand="@context.Expandable">
                        <BodyContent Context="item">
                            <ContextMenuTrigger MenuId="@(context.Value.SummaryAccount ? "myMenu" : "myeditMenu")" Data="@context">
                                <MudStack Row="true" AlignItems="AlignItems.Center" @onclick="@(() => getcoordinates(context.Value.CoaID))">
                                    <MudIcon Icon="@context.Icon" Color="Color.Default" Size="Size.Small" Class="mr-2"></MudIcon>
                                    <MudText Typo="@(context.Value.SummaryAccount? Typo.body1: Typo.body2)"
                                             Style="@(context.Value.SummaryAccount ? "font-weight: 500;" : "")"
                                             Class="@(context.Value.SummaryAccount?"":"subledger")">
                                        @context.Text
                                    </MudText>
                                </MudStack>
                            </ContextMenuTrigger>
                        </BodyContent>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>

        </MudPaper>
    </MudItem>
</MudGrid>


<div id="targetBox" Class="float-left fixed" style="left: 0; top: 0;">
    @if (AllocatedBranches.Count > 0)
    {
        <h5 style="margin-left:4px;">ALLOCATED BRANCHES</h5>
        <MudPaper Width="350px" MaxHeight="494px" Class="overflow-y-auto" Elevation="1">
            <div>
                <div style="height:30px">
                    <MudCheckBox T="bool" Style="height:60px" Value="allSelected" ValueChanged="((bool a) => SelectAll(a))"><b>SELECT ALL</b></MudCheckBox>
                </div>
                <hr style="margin-bottom:0px;">
                @foreach (var item in AllocatedBranches)
                {
                    <div style="height:40px; margin-bottom:0px;">
                        <MudCheckBox T="bool" Style="height:60px;" Value="@item.IsSelected" Label="@item.BranchName" ValueChanged="((bool value) => BranchCheckedChanged(value, item))"></MudCheckBox>
                    </div>
                }
            </div>
        </MudPaper>
    }
</div>
<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClick" Id="group">Add Group</Item>
    <Item OnClick="@ContextMenuOnClick" Id="account">Add Ledger</Item>
</ContextMenu>
<ContextMenu Id="myeditMenu">
    <Item OnClick="@ContextEditMenuOnClick">Edit Ledger</Item>
</ContextMenu>

@code {

    private List<TreeItemData<ChartOfAccountModel>> TreeItems { get; set; } = new();
    TreeItemData<ChartOfAccountModel> ContextmenuSource = new();
    TreeItemData<ChartOfAccountModel> SelectedValue;
    protected List<CoaBranchAvailabilityModel> AllocatedBranches = new();
    protected bool visible = true;
    private bool _busy;

    public bool HasPermissionChartOfAccountServiceEdit { get; set; } = false;
    public bool HasPermissionChartOfAccountServiceUpdateSelect { get; set; } = false;
    public int ChartOfAccountDocTypeID = 89;

    List<ChartOfAccountModel> collection;


    // Class to hold element coordinates
    public class ElementCoordinates
    {
        public double X { get; set; }
        public double Y { get; set; }
    }

    // Method to get coordinates of an element
    public async Task getcoordinates(int? itemID)
    {
        object[] obj = { itemID, "targetBox" };
        ElementCoordinates coordinates = await jsRuntime.InvokeAsync<ElementCoordinates>("getElementCoordinates", obj);
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionChartOfAccountServiceEdit = await Irole.HasClaim(ChartOfAccountDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionChartOfAccountServiceUpdateSelect = await Irole.HasClaim(ChartOfAccountDocTypeID.ToString(), "UpdateSelect", ctc.Token);

        // Load all ledgers and populate only root nodes
        collection = Iservice.AllLedgers().ToList();
        var baseGroups = collection.Where(x => x.ParentID == 0).OrderBy(x => x.SummaryAccount).ThenBy(y => y.AccountName).ToList();

        foreach (var item in baseGroups)
        {            
            var treeItem = new TreeItemData<ChartOfAccountModel>
            {
                Value = item,
                Text = item.AccountName.ToUpper(),
                Icon = Icons.Material.Filled.Edit,
                Expanded = false,
                Expandable = true,
                Children = null // Do not load children yet
            };
            TreeItems.Add(treeItem);
        }
    }
   

    // Method to load children for a node (one level only, for lazy loading)
    public async Task<IReadOnlyCollection<TreeItemData<ChartOfAccountModel>>> LoadChildren(ChartOfAccountModel Coa)
    {
        await Task.Delay(50); // Simulate some delay
        var CoaItems = collection.Where(z => z.ParentID == Coa.CoaID).OrderBy(x => x.SummaryAccount).ThenBy(y => y.AccountName);
        var result = new List<TreeItemData<ChartOfAccountModel>>();
        foreach (var item in CoaItems)
        {            
            //var hasChildren = collection.Any(x => x.ParentID == item.CoaID);
            result.Add(new TreeItemData<ChartOfAccountModel>
            {
                Value = item,
                Text =  item.SummaryAccount? item.AccountName : $"{item.AccountCode} | {item.AccountName}",
                Icon = item.SummaryAccount ? null : Icons.Material.Filled.Money,
                Expanded = false,
                Expandable = item.SummaryAccount,
                Children = null // Do not load children yet
            });
        }
        return result;
    }
    

    //Function to create group / ledger

    // Method to handle context menu clicks
    // Method to handle context menu clicks
    protected async Task ContextMenuOnClick(ItemClickEventArgs e)
    {
        ContextmenuSource = (TreeItemData<ChartOfAccountModel>)e.Data; // e.Data comes from ContextMenuTrigger which is wrapper
        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
        {
            ["model"] = new ChartOfAccountModel
            {
                ParentID = ContextmenuSource.Value.CoaID,
                SummaryAccount = e.MenuItem.Id == "group",
                UserInfo = { UserID = authstate.User.Identity.Name }
            },
        };
        IDialogReference dialog = null;

        // Show the appropriate dialog based on the menu item clicked
        switch (e.MenuItem.Id)
        {
            case "group":
                dialog = await DialogService.ShowAsync<AddLedgerDialog>("Add Group under - " + ContextmenuSource.Text, parameters);
                break;

            case "account":
                dialog = await DialogService.ShowAsync<AddSubledgerDialog>("Add Ledger under - " + ContextmenuSource.Text, parameters);
                break;
        }

        if (HasPermissionChartOfAccountServiceEdit)
        {
            var result = await dialog.Result;
            ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
            if (!result.Canceled)
            {
                try
                {
                    var newledger = Iservice.Update(UpdatedModel); // Update the ledger
                    // Finding the parent node in TreeItems
                    var parentNode = GetTreeItemData(TreeItems, UpdatedModel.ParentID);
                    if (parentNode != null)
                    {
                        if (parentNode.Children == null) parentNode.Children = new List<TreeItemData<ChartOfAccountModel>>();

                        var newNode = new TreeItemData<ChartOfAccountModel>
                        {
                            Value = newledger,
                            Text = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                            Icon = newledger.SummaryAccount ? null : Icons.Material.Filled.Description,
                            Expanded = true
                        };

                        parentNode.Children.Add(newNode);
                        snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);
                    }
                }
                catch (Exception a)
                {
                    snackbar.Add(a.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ChartOfAccount.");
        }
    }

    // Method to handle context menu edit clicks
    protected async Task ContextEditMenuOnClick(ItemClickEventArgs e)
    {
        var item = (TreeItemData<ChartOfAccountModel>)e.Data;
        if (!item.Value.SummaryAccount)
        {
            ChartOfAccountModel model = Iservice.SelectByID(item.Value.CoaID); // Fetch the model for editing
            ContextmenuSource = item;
            var authstate = await auth.GetAuthenticationStateAsync();
            var parameters = new DialogParameters
            {
                ["model"] = model.Clone(),
            };
            var editledge = await DialogService.ShowAsync<AddSubledgerDialog>("Edit Ledger - " + item.Text, parameters);

            if (HasPermissionChartOfAccountServiceEdit)
            {
                var result = await editledge.Result;
                ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
                if (!result.Canceled)
                {
                    var newresult = Iservice.Update(UpdatedModel); // Update the ledger
                    item.Text = newresult.AccountName + (newresult.SummaryAccount ? "" : (" (" + newresult.AccountCode + ")"));
                    item.Value.AccountName = newresult.AccountName;
                    snackbar.Add(newresult.AccountName + " Edited successfully", Severity.Success);
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You don't have any permission to Edit ChartOfAccount.");
            }
        }
    }

    // Method to add a ledger by icon clickc
    protected async Task addledgerbyicon()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
        {
            ["model"] = new ChartOfAccountModel
            {
                ParentID = null,
                SummaryAccount = false,
                UserInfo = { UserID = authstate.User.Identity.Name }
            },
        };
        IDialogReference dialog = await DialogService.ShowAsync<AddSubledgerDialog>("Add Ledger", parameters);

        if (HasPermissionChartOfAccountServiceEdit)
        {
            var result = await dialog.Result;
            ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
            if (!result.Canceled)
            {
                try
                {
                    var newledger = Iservice.Update(UpdatedModel); // Update the ledger
                                                                   // Finding the parent node in TreeItems
                    var parentNode = GetTreeItemData(TreeItems, UpdatedModel.ParentID);

                    var newNode = new TreeItemData<ChartOfAccountModel>
                    {
                        Value = newledger,
                        Text = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                        Icon = newledger.SummaryAccount ? null : Icons.Material.Filled.Description,
                        Expanded = true
                    };

                    if (parentNode != null)
                    {
                        if (parentNode.Children == null) parentNode.Children = new List<TreeItemData<ChartOfAccountModel>>();
                        parentNode.Children.Add(newNode);
                    }
                    else if (UpdatedModel.ParentID == 0 || UpdatedModel.ParentID == null)
                    {
                        TreeItems.Add(newNode);
                    }

                    snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);

                }
                catch (Exception a)
                {
                    snackbar.Add(a.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ChartOfAccount.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    // Method to check if all branches are selected
    public bool allSelected { get { return AllocatedBranches.All(ab => ab.IsSelected); } }
    public int? AllSelectCoaId;

    public void OnSelected(ChartOfAccountModel item)
    {
        //if (item != null && !item.SummaryAccount)
        //{
        //    AllocatedBranches = Iservice.GetAllocatedBranches(item.ID).ToList();
        //    AllSelectCoaId = AllocatedBranches.FirstOrDefault()?.CoaID;
        //    //allSelected = AllocatedBranches.All(ab => ab.IsSelected);
        //}
        //else
        //{
        //    AllocatedBranches = new List<CoaBranchAvailabilityModel>();
        //}
    }

    // Method to select or unselect all branches
    async Task SelectAll(bool a)
    {
        if (HasPermissionChartOfAccountServiceUpdateSelect)
        {
            foreach (var item in AllocatedBranches)
            {
                item.IsSelected = a;
            }
            //allSelected = a;

            var authState = await auth.GetAuthenticationStateAsync();
            var UserID = authState.User.Identity.Name;
            if (a)
            {
                Iservice.SelectAll(AllSelectCoaId, UserID); // Select all branches
            }
            else if (!a)
            {
                Iservice.UnSelectAll(AllSelectCoaId, UserID); // Unselect all branches
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to UpdateSelect ChartOfAccount.");
        }
    }

    // Method to handle changes in branch selection
    async Task BranchCheckedChanged(bool value, CoaBranchAvailabilityModel br)
    {
        if (HasPermissionChartOfAccountServiceUpdateSelect)
        {
            var authState = await auth.GetAuthenticationStateAsync();
            br.IsSelected = value;
            br.UserInfo.UserID = authState.User.Identity.Name;

            if (value)
            {
                Iservice.AddBranch(br); // Add branch if selected
                // allSelected = AllocatedBranches.All(ab => ab.IsSelected);
            }
            else
            {
                Iservice.RemoveBranch(br); // Remove branch if unselected
                //allSelected = AllocatedBranches.All(ab => ab.IsSelected);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to UpdateSelect ChartOfAccount.");
        }
    }

    // Method to handle menu appearing events
    void OnAppearing(MenuAppearingEventArgs e)
    {
        var item = (TreeItemData<ChartOfAccountModel>)e.Data;
        e.PreventShow = !item.Value.SummaryAccount;
    }

    // Recursive method to get a CoaTreeItem by ID
    TreeItemData<ChartOfAccountModel> GetTreeItemData(List<TreeItemData<ChartOfAccountModel>> tree, int? ID)
    {
        if (tree != null)
        {
            foreach (var i in tree)
            {
                if (i.Value.CoaID == ID)
                {
                    return i;
                }
                else if (i.Children != null)
                {
                    var result = GetTreeItemDataRecursive(i.Children, ID);
                    if (result != null) return result;
                }
            }
        }
        return null;
    }

    TreeItemData<ChartOfAccountModel> GetTreeItemDataRecursive(IList<TreeItemData<ChartOfAccountModel>> children, int? ID)
    {
        foreach (var child in children)
        {
            if (child.Value.CoaID == ID) return child;
            if (child.Children != null)
            {
                var res = GetTreeItemDataRecursive(child.Children, ID);
                if (res != null) return res;
            }
        }
        return null;
    }
}
