@page "/ChartOfAccount"
@inject IChartOfAccountService Iservice
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@using System
@inject IJSRuntime jsRuntime
@using System.Threading;
@inject IRoleService<RoleModel> Irole

<style>
    .subledger {
        color: blue;
    }

    .fixed {
        position: absolute;
    }

</style>
<MudGrid>
    <MudItem xs="12" md="6">
        <MudPaper Class="p-5">
            <MudText Typo="Typo.h5" Style="font-weight:450" Class="mb-5">
                CHART OF ACCOUNTS
                <MudIconButton Style="margin-bottom:4px;" Icon="@Icons.Material.Filled.Add" Disabled="@_busy" Title="Add Ledger" Color="Color.Dark" Size="Size.Small" OnClick="@addledgerbyicon"></MudIconButton>
            </MudText>
            <MudDivider DividerType="DividerType.Middle"></MudDivider>
            <MudTreeView Color="Color.Primary" 
           
            Items="TreeItems" T="TreeItemData" SelectedValueChanged="OnSelected">
                <ItemTemplate>
                    <ContextMenuTrigger MenuId="@(context.SummaryAccount ? "myMenu" : "myeditMenu")" Data="@context">
                        <MudTreeViewItem id="@context.ID" OnClick="@(()=> getcoordinates(context.ID))" @bind-Expanded="@context.IsExpanded" 
                            TextClass="@(context.SummaryAccount?"":"subledger")" LoadingIconColor="Color.Info" Value="@context" Text="@context.Title" 
                            Icon="@context.Icon" CanExpand="@(context.SummaryAccount? true : false)" Items="@context.TreeItems">
                        </MudTreeViewItem>
                    </ContextMenuTrigger>
                </ItemTemplate>
            </MudTreeView>

        </MudPaper>
    </MudItem>
</MudGrid>


<div id="targetBox" Class="float-left fixed" style="left: 0; top: 0;">
    @if (AllocatedBranches.Count > 0)
    {
        <h5 style="margin-left:4px;">ALLOCATED BRANCHES</h5>
        <MudPaper Width="350px" MaxHeight="494px" Class="overflow-y-auto" Elevation="1">
            <div>
                <div style="height:30px">
                    <MudCheckBox Style="height:60px" Checked="allSelected" CheckedChanged="((bool a)=>SelectAll(a))"><b>SELECT ALL</b></MudCheckBox>
                </div>
                <hr style="margin-bottom:0px;">
                @foreach (var item in AllocatedBranches)
                {
                    <div style="height:40px; margin-bottom:0px;">
                        <MudCheckBox Style="height:60px;" Checked="@item.IsSelected" Label="@item.BranchName" CheckedChanged="((bool value)=>BranchCheckedChanged(value,item))"></MudCheckBox>
                    </div>
                }
            </div>
        </MudPaper>
    }
</div>
<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClick" Id="group">Add Group</Item>
    <Item OnClick="@ContextMenuOnClick" Id="account">Add Ledger</Item>
</ContextMenu>
<ContextMenu Id="myeditMenu">
    <Item OnClick="@ContextEditMenuOnClick">Edit Ledger</Item>
</ContextMenu>

@code {

    private HashSet<TreeItemData> TreeItems { get; set; } = new HashSet<TreeItemData>();
    TreeItemData ContextmenuSource = new();
    TreeItemData SelectedValue;
    protected List<CoaBranchAvailabilityModel> AllocatedBranches = new();
    protected bool visible = true;
    private bool _busy;

    public bool HasPermissionChartOfAccountServiceEdit { get; set; } = false;
    public bool HasPermissionChartOfAccountServiceUpdateSelect { get; set; } = false;
    public int ChartOfAccountDocTypeID = 89;

    List<ChartOfAccountModel> collection;

    // Class representing tree item data
    public class TreeItemData
    {
        public string Title { get; set; }
        public string Icon { get; set; }
        public bool IsExpanded { get; set; } = false;
        public bool SummaryAccount { get; set; } = false;
        public int? ID { get; set; }
        public string AccountCode { get; set; }
        public HashSet<TreeItemData> TreeItems { get; set; }
    }

    // Class to hold element coordinates
    public class ElementCoordinates
    {
        public double X { get; set; }
        public double Y { get; set; }
    }

    // Method to get coordinates of an element
    public async Task getcoordinates(int? itemID)
    {
        object[] obj = { itemID, "targetBox" };
        ElementCoordinates coordinates = await jsRuntime.InvokeAsync<ElementCoordinates>("getElementCoordinates", obj);
    }

    // Lifecycle method called when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionChartOfAccountServiceEdit = await Irole.HasClaim(ChartOfAccountDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionChartOfAccountServiceUpdateSelect = await Irole.HasClaim(ChartOfAccountDocTypeID.ToString(), "UpdateSelect", ctc.Token);

        // Load all ledgers and populate the tree items
        collection = Iservice.AllLedgers().ToList();
        var baseGroups = collection.Where(x=> x.ParentID == 0).ToList();

        foreach (var item in baseGroups)
        {
            TreeItems.Add(new TreeItemData
                {
                    ID = item.CoaID,
                    Title = item.AccountName,
                    SummaryAccount = item.SummaryAccount,
                    Icon = item.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                    IsExpanded = true,  
                    TreeItems = LoadServerData(item.CoaID),
                });
        }
    }

    // Method to load server data for tree items
    public HashSet<TreeItemData> LoadServerData(int? CoaID)
    {
       //await Task.Delay(3);
        var TreeItems = new HashSet<TreeItemData>();
        var children = collection.Where(z => z.ParentID == CoaID).OrderBy(x => x.SummaryAccount).ThenBy(y => y.AccountName);
        foreach (var item in children)
        {
            TreeItems.Add(new TreeItemData
                {
                    ID = item.CoaID,
                    AccountCode = item.AccountCode,
                    Title = item.AccountName + (item.SummaryAccount ? "" : (" (" + item.AccountCode + ")")),
                    SummaryAccount = item.SummaryAccount,
                    Icon = item.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                    TreeItems =  LoadServerData(item.CoaID),
                    IsExpanded = true
                });
        }
        //parentNode.Icon = "";
        return TreeItems;
    }

    //Function to create group / ledger

    // Method to handle context menu clicks
    protected async Task ContextMenuOnClick(ItemClickEventArgs e)
    {
        ContextmenuSource = (TreeItemData)e.Data;
        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
            {
                ["model"] = new ChartOfAccountModel
                {
                    ParentID = ContextmenuSource.ID,
                    SummaryAccount = e.MenuItem.Id == "group",
                    UserInfo = { UserID = authstate.User.Identity.Name }
                },
            };
        IDialogReference dialog = null;

        // Show the appropriate dialog based on the menu item clicked
        switch (e.MenuItem.Id)
        {
            case "group":
                dialog = DialogService.Show<AddLedgerDialog>("Add Group under - " + ContextmenuSource.Title, parameters);
                break;

            case "account":
                dialog = DialogService.Show<AddSubledgerDialog>("Add Ledger under - " + ContextmenuSource.Title, parameters);
                break;
        }

        if (HasPermissionChartOfAccountServiceEdit)
        {
            var result = await dialog.Result;
            ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
            if (!result.Canceled)
            {
                try
                {
                    var newledger = Iservice.Update(UpdatedModel); // Update the ledger
                    //ContextmenuSource.TreeItems = await LoadServerData(ContextmenuSource);
                    ContextmenuSource = GetTreeItem(TreeItems, UpdatedModel.ParentID);
                    if (ContextmenuSource.TreeItems == null)
                    {
                        ContextmenuSource.TreeItems = new HashSet<TreeItemData>();
                    }
                    ContextmenuSource.TreeItems.Add(new TreeItemData
                        {
                            ID = newledger.CoaID,
                            Title = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                            SummaryAccount = newledger.SummaryAccount,
                            Icon = newledger.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                        });
                    snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);
                }
                catch (Exception a)
                {
                    snackbar.Add(a.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ChartOfAccount.");
        }
    }

    // Method to handle context menu edit clicks
    protected async Task ContextEditMenuOnClick(ItemClickEventArgs e)
    {
        TreeItemData item = (TreeItemData)e.Data;
        if (!item.SummaryAccount)
        {
            ChartOfAccountModel model = Iservice.SelectByID(item.ID); // Fetch the model for editing
            ContextmenuSource = (TreeItemData)e.Data;
            var authstate = await auth.GetAuthenticationStateAsync();
            var parameters = new DialogParameters
                {
                    ["model"] = model.Clone(),
                };
            var editledge = DialogService.Show<AddSubledgerDialog>("Edit Ledger - " + item.Title, parameters);

            if (HasPermissionChartOfAccountServiceEdit)
            {
                var result = await editledge.Result;
                ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
                if (!result.Canceled)
                {
                    var newresult = Iservice.Update(UpdatedModel); // Update the ledger
                    item.Title = newresult.AccountName + (newresult.SummaryAccount ? "" : (" (" + newresult.AccountCode + ")"));
                    item.SummaryAccount = newresult.SummaryAccount;
                    item.Icon = Icons.Material.Filled.Book;
                    snackbar.Add(newresult.AccountName + " Edited successfully", Severity.Success);
                }
            }
            else
            {
                bool? result = await DialogService.ShowMessageBox(
                    "Permission denied!",
                    "You don't have any permission to Edit ChartOfAccount.");
            }
        }
    }

    // Method to add a ledger by icon clickc
    protected async Task addledgerbyicon()
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;

        var authstate = await auth.GetAuthenticationStateAsync();
        var parameters = new DialogParameters
            {
                ["model"] = new ChartOfAccountModel
                {
                    ParentID = null,
                    SummaryAccount = false,
                    UserInfo = { UserID = authstate.User.Identity.Name }
                },
            };
        IDialogReference dialog = DialogService.Show<AddSubledgerDialog>("Add Ledger", parameters);

        if (HasPermissionChartOfAccountServiceEdit)
        {
            var result = await dialog.Result;
            ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
            if (!result.Canceled)
            {
                try
                {
                    var newledger = Iservice.Update(UpdatedModel); // Update the ledger
                    ContextmenuSource = GetTreeItem(TreeItems, UpdatedModel.ParentID);
                    if (ContextmenuSource != null)
                    {
                        ContextmenuSource.TreeItems.Add(new TreeItemData
                            {
                                ID = newledger.CoaID,
                                Title = newledger.AccountName + (newledger.SummaryAccount ? "" : (" (" + newledger.AccountCode + ")")),
                                SummaryAccount = newledger.SummaryAccount,
                                Icon = newledger.SummaryAccount == false ? Icons.Material.Filled.Book : null,
                            });
                        snackbar.Add(newledger.AccountName + " added successfully", Severity.Success);
                    }
                }
                catch (Exception a)
                {
                    snackbar.Add(a.Message, Severity.Error);
                }
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to Edit ChartOfAccount.");
        }
        await Task.Delay(200);
        _busy = false;
    }

    //recursion through treeview

    //void LoadTreeItem(HashSet<TreeItemData> itemTree,int? ID)
    //{
    //    var item = itemTree.First(x => x.ID == ID);
    //    item.TreeItems = Task.Run(async () => await LoadServerData(item)).Result;
    //    item.IsExpanded = true;
    //}

    //public bool allSelected { get; set; } = false;

    // Method to check if all branches are selected
    public bool allSelected { get { return AllocatedBranches.All(ab => ab.IsSelected); } }
    public int? AllSelectCoaId;

    public void OnSelected(TreeItemData item)
    {
        //if (item != null && !item.SummaryAccount)
        //{
        //    AllocatedBranches = Iservice.GetAllocatedBranches(item.ID).ToList();
        //    AllSelectCoaId = AllocatedBranches.FirstOrDefault()?.CoaID;
        //    //allSelected = AllocatedBranches.All(ab => ab.IsSelected);
        //}
        //else
        //{
        //    AllocatedBranches = new List<CoaBranchAvailabilityModel>();
        //}
    }

    // Method to select or unselect all branches
    async Task SelectAll(bool a)
    {
        if (HasPermissionChartOfAccountServiceUpdateSelect)
        {
            foreach (var item in AllocatedBranches)
            {
                item.IsSelected = a;
            }
            //allSelected = a;

            var authState = await auth.GetAuthenticationStateAsync();
            var UserID = authState.User.Identity.Name;
            if (a)
            {
                Iservice.SelectAll(AllSelectCoaId, UserID); // Select all branches
            }
            else if (!a)
            {
                Iservice.UnSelectAll(AllSelectCoaId, UserID); // Unselect all branches
            } 
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to UpdateSelect ChartOfAccount.");
        }
    }

    // Method to handle changes in branch selection
    async Task BranchCheckedChanged(bool value, CoaBranchAvailabilityModel br)
    {
        if (HasPermissionChartOfAccountServiceUpdateSelect)
        {
            var authState = await auth.GetAuthenticationStateAsync();
            br.IsSelected = value;
            br.UserInfo.UserID = authState.User.Identity.Name;

            if (value)
            {
                Iservice.AddBranch(br); // Add branch if selected
                // allSelected = AllocatedBranches.All(ab => ab.IsSelected);
            }
            else
            {
                Iservice.RemoveBranch(br); // Remove branch if unselected
                //allSelected = AllocatedBranches.All(ab => ab.IsSelected);
            }
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You don't have any permission to UpdateSelect ChartOfAccount.");
        }
    }

    // Method to handle menu appearing events
    async Task OnAppearing(MenuAppearingEventArgs e)
    {
        TreeItemData item = (TreeItemData)e.Data;
        e.PreventShow = !item.SummaryAccount;
    }

    // Recursive method to get a tree item by ID
    TreeItemData GetTreeItem(HashSet<TreeItemData> tree, int? ID)
    {
        if (tree != null)
        {
            foreach (var i in tree)
            {
                if (i.ID == ID)
                {
                    return i;
                }
                else
                {
                    var item = GetTreeItem(i.TreeItems, ID);
                    if (item != null)
                    {
                        return item;
                    }
                }
            }
        }
        return null;
    }
}