@page "/ChartOfAccount"
@inject IChartOfAccountService Iservice

@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@using System

<MudGrid>
    <MudItem md="6">
        <h3>CHART OF ACCOUNTS</h3>
<MudPaper Width="350px" MaxHeight="500px" Class="overflow-y-auto" Elevation="0">
    <MudTreeView Color="Color.Primary" ServerData="LoadServerData" Items="TreeItems" T="TreeItemData"  sele="SelectedValue" SelectedValueChanged="OnSelected" >
        <ItemTemplate>
            <ContextMenuTrigger MenuId="myMenu"  Data="@context" >
            <MudTreeViewItem  @bind-Expanded="@context.IsExpanded" TextClass="@(context.HasChildren?"":"subledger")" aria-  LoadingIconColor="Color.Info" Value="@context" Text = "@context.Title" Icon = "@context.Icon"> 
            
            </MudTreeViewItem>    
            </ContextMenuTrigger>
        </ItemTemplate>
    </MudTreeView>
</MudPaper>
    </MudItem>
    <MudItem>
        @if(AllocatedBranches.Count> 0)
        {
        <h3>Allocated Branches</h3>
        <MudPaper Width="350px" MaxHeight="500px" Class="overflow-y-auto" Elevation="0">
         
         @foreach(var item in AllocatedBranches)
         {
             <MudCheckBox Checked="@item.IsSelected" Label="@item.BranchName" CheckedChanged="((bool value)=>BranchCheckedChanged(value,item))"></MudCheckBox>
             <br />
         }
         </MudPaper>
        }
    </MudItem>
</MudGrid>




<ContextMenu Id="myMenu" OnAppearing="OnAppearing">
    <Item OnClick="@ContextMenuOnClick"  Id="group" >Add Group</Item>
    <Item OnClick="@ContextMenuOnClick"  Id="account">Add Ledger</Item>  
</ContextMenu>


<style>
    .subledger{
        color:blue;    
    }
</style>


@code {
    private HashSet<TreeItemData> TreeItems { get; set; } = new HashSet<TreeItemData>();
    TreeItemData ContextmenuSource = new();
    TreeItemData SelectedValue;

    public class TreeItemData
    {
        public string Title { get; set; }
        public string Icon { get; set; }
        public bool IsExpanded { get; set; } = false;
        public bool HasChildren { get; set; } = false;
        public int? ID { get; set; }
        public HashSet<TreeItemData> TreeItems { get; set; }     
    }


    protected List<CoaBranchAvailabilityModel> AllocatedBranches = new();

    protected bool visible = true;  

    protected override void OnInitialized()
    {

        var baseGroups = Iservice.SelectBase();
        foreach(var item in baseGroups)
        {
            TreeItems.Add(new TreeItemData
            {
                ID = item.CoaID,
                Title = item.AccountName,
                HasChildren = item.SummaryAccount,
                Icon = Icons.Filled.Book
            });
        }      
    }

    public async Task<HashSet<TreeItemData>> LoadServerData(TreeItemData parentNode)
    {
        await Task.Delay(3);
        parentNode.TreeItems = new HashSet<TreeItemData>();
        var children = Iservice.SelectChildren(parentNode.ID);
        foreach(var item in children)
        {
            parentNode.TreeItems.Add(new TreeItemData
            {
                ID = item.CoaID,
                Title = item.AccountName  + (item.SummaryAccount?"":(" ("+item.AccountCode+")")),
                HasChildren = item.SummaryAccount,    
            });
        }        
        return parentNode.TreeItems;
    }

    protected async Task ContextMenuOnClick(ItemClickEventArgs e)
    {
        ContextmenuSource = (TreeItemData)e.Data;
        var authstate = await auth.GetAuthenticationStateAsync();

        var parameters = new DialogParameters { 
                    ["model"]=new ChartOfAccountModel 
                {
                    ParentID = ContextmenuSource.ID,
                    SummaryAccount = e.MenuItem.Id == "group",
                    UserInfo = { UserID = authstate.User.Identity.Name }
                }, 
                ["Parent"] = ContextmenuSource.Title
                };

        IDialogReference dialog = null;

        switch(e.MenuItem.Id)
        {
            case "group":                
                dialog = DialogService.Show<AddLedgerDialog>("Add Group", parameters);                
                break;

            case "account" :                
                dialog = DialogService.Show<AddSubledgerDialog>("Add Ledger", parameters);                
                break;   
        }

        var result = await dialog.Result;
        ChartOfAccountModel UpdatedModel = (ChartOfAccountModel)result.Data;
        if (!result.Cancelled)
        { 
            Iservice.Update(UpdatedModel);
            var har = Collect(TreeItems).ToList();
        }
    }    

    //recursion through treeview

    IEnumerable<TreeItemData> Collect(HashSet<TreeItemData> itemTree)
    {
        foreach(TreeItemData item in itemTree)
        {
            yield return item;
            if(item.ID == ContextmenuSource.ID)
            {   
                item.TreeItems = Task.Run(async () => await LoadServerData(item)).Result;
                item.IsExpanded = true;
                yield break;
            }
            if (item.TreeItems != null)
            {
                foreach (var child in Collect(item.TreeItems))
                    yield return child;
            }
        }
    }


    void OnSelected(TreeItemData item)
    {
        if(item != null && !item.HasChildren)
        {
            AllocatedBranches =  Iservice.GetAllocatedBranches(item.ID).ToList();
        }
        else
        {
            AllocatedBranches = new List<CoaBranchAvailabilityModel>();
        }
    }

    async Task BranchCheckedChanged(bool value,CoaBranchAvailabilityModel br)
    {

        var authState = await  auth.GetAuthenticationStateAsync();

        br.IsSelected = value;
        br.UserInfo.UserID = authState.User.Identity.Name;

        if (value)
            Iservice.AddBranch(br);
        else
            Iservice.RemoveBranch(br);
    }

    void OnAppearing(MenuAppearingEventArgs e)
    {
        TreeItemData item = (TreeItemData)e.Data;
        e.PreventShow = !item.HasChildren;      
    }
}
