@page "/Document"
@inject IAssetDocumentService Iservice
@inject IAssetService IAsset
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@using System.Threading;
@inject IRoleService<RoleModel> Irole
@inject AuthenticationStateProvider auth
@inject IDialogService DialogService
@inject SignalRService signalRService
@inject IPushNotificationService IpushNotificationService

@using System.Text.RegularExpressions
@using Views.Pages.Finance.Transactions.PurchaseAndPayment;

<MudPaper Class="p-2 my-4 d-flex align-center">
    <AssetSelector Value="Asset" ValueChanged="AssetSelected" BranchID="@BranchID" Class="mx-5 my-5 bg-white" />
    @if (Asset != null)
    {
        <MudIconButton Disabled="@_busy" OnClick="@(()=> OpenDialogEdit(new AssetDocumentModel()))" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="Size.Medium" Title="Add New" />
    }
</MudPaper>
<MudText Typo="Typo.h6">Active Documents</MudText>
<MudGrid Spacing="2">
    @foreach (var item in collection)
    {
        <MudItem xs="12" sm="6" md="4" xl="3">
            <div style="position:relative">
                @if (item.EndDate < DateTime.Today)
                {
                    <h2 class="Expired">EXPIRED</h2>
                }
                <MudCard Style="@(item.EndDate < DateTime.Today ? $"background:{Colors.BlueGrey.Lighten4};" : "")">
                <iframe class="mt-1 mr-1 ml-1" src="@item.AttachedDocument" style="height:350px" alt="@item.AttachedDocument" />
                <MudCardContent Class="overflow-auto" Style="min-width:500px">
                    <MudText Typo="Typo.h6">@item.DocumentType.DocumentTypeName</MudText>
                    <MudText Typo="Typo.body2">Period:  @string.Format("{0} - {1}", item.StartDate?.ToShortDateString(), item.EndDate?.ToShortDateString())</MudText>
                    <MudText Typo="Typo.body2">Doc Date:  @item.InvoiceDate?.ToShortDateString()</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(()=>OpenDialogEdit(item))">Edit</MudButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(()=> Remove(item))">Remove</MudButton>
                    <MyFileUpload FileName="@(item.DocumentType.DocumentTypeName + Guid.NewGuid().ToString())" FolderName="AssetDocuments" Label="Upload" FilePath="@item.AttachedDocument" FilePathChanged="((e)=> SaveImagePath(e,item.DocumentID))"></MyFileUpload>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="(()=> OpenDialogTaxPurchase(item.DocumentType))">Add TaxPurchase</MudButton>
                </MudCardActions>
            </MudCard>
            </div>
        </MudItem>
    }
</MudGrid>

@code {

    [Parameter] public AssetModel Asset { get; set; }
    private AssetDocumentModel model = new();
    private List<AssetDocumentModel> collection = new();
    private List<AssetDocumentTypeModel> Dtypes = new();
    string UserID;
    int BranchID;
    private bool visible;
    private bool _busy;

    public int TaxPurchaseDocTypeID = 9;
    #region SignaIR Notification

    private PushNotificationModel notificationMessage = new PushNotificationModel();
    #endregion
    private IBrowserFile DocImage;

    private DialogOptions dialogOptions = new() { FullWidth = true };

    public bool HasPermissionAssetDocumentServiceEdit { get; set; } = false;
    public bool HasPermissionAssetDocumentServiceRemove { get; set; } = false;
    public int AssetDocumentDocTypeID = 113;

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource ctc = new CancellationTokenSource();
        HasPermissionAssetDocumentServiceEdit = await Irole.HasClaim(AssetDocumentDocTypeID.ToString(), "Edit", ctc.Token);
        HasPermissionAssetDocumentServiceRemove = await Irole.HasClaim(AssetDocumentDocTypeID.ToString(), "Remove", ctc.Token);

        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        UserID = user.Identity.Name;
        BranchID = int.Parse(user.Claims.First(x => x.Type == "BranchID").Value);
        Dtypes = Iservice.GetDocumentTypes().ToList();

        await signalRService.StartAsync();
        GetAll();
    }

    private void GetAll()
    {
        collection = Iservice.SelectByAsset(Asset?.AssetID).ToList();
    }

    private void AssetSelected(AssetModel selectedAsset)
    {
        Asset = selectedAsset;
        model = new() { Asset = selectedAsset };
        GetAll();
    }

    private async Task SaveImagePath(string filePath, int? docID)
    {
        if (HasPermissionAssetDocumentServiceEdit)
        {
            int e = Iservice.SaveFilePath(filePath, docID);
            GetAll();
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Edit AssetDocument.");
        }
    }

    private async Task OpenDialogEdit(AssetDocumentModel model)
    {
        if (_busy)
        {
            snackbar.Add("Please wait while form is closing!", Severity.Warning);
            return;
        }
        _busy = true;
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        model.UserInfo = new();
        if (model.UserInfo != null)
        {
            model.UserInfo.UserID = user.Identity.Name;
        }
        var param = new DialogParameters
            {
                ["model"] = model.Clone(),
                ["Asset"] = Asset,
                ["Dtypes"] = Dtypes
            };
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<AssetDocumentDialog>("ADD/EDIT", param, options);
        var result = await dialog.Result;
        var isCancelled = result.Canceled;
        await Task.Delay(200);
        _busy = false;
        if (!isCancelled)
        {
            GetAll();
        }
    }
    private async Task OpenDialogTaxPurchase(AssetDocumentTypeModel DocumentType)
    {

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        TaxPurchaseModel taxPurchase = new TaxPurchaseModel();
        DialogParameters parms = new DialogParameters();
        parms.Add("model", taxPurchase);
        parms.Add("DocumentType", DocumentType);
        parms.Add("PageToRedirectLink", "/TaxPurchase");
        var dialog = DialogService.Show<TaxPurchaseDialog>("ADD" , parms, maxWidth);
        var result = await dialog.Result;
        var isCancelled = result.Cancelled;
        if (!isCancelled)
        {
            var ReturnData = (TaxPurchaseModel)result.Data;
            Iservice.LinkDocumentTypeAndTaxPurchase(DocumentType.DocumentTypeID, ReturnData.PID);
            notificationMessage.InitiateBranch = new BranchModel() { BranchID = ReturnData.BranchID };
            notificationMessage.ReceivedBranch = new BranchModel() { BranchID = ReturnData.BranchID };
            notificationMessage.MessageTitle = IpushNotificationService.GetMessageTitle(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification");
            notificationMessage.MessageBody = IpushNotificationService.GetMessageBody(ReturnData.NatureOfTransaction, ReturnData.DocumentNumber, "Level 1 Verification", ReturnData.DocumentDate);
            notificationMessage.RedirectedTo = 0;
            notificationMessage.ExpiredBy = 7;
            notificationMessage.DocumentID = ReturnData.PID;
            notificationMessage.MessageGroupID = "PendingVerification";
            notificationMessage.PageToRedirectLink = "/TaxPurchase";
            notificationMessage.ClaimValue = "Verify 1";
            notificationMessage.DocumentTypeID = TaxPurchaseDocTypeID;
            notificationMessage.MsgDate = DateTime.Now;
            await signalRService.Send(notificationMessage);
        }
    }

    private async Task Remove(AssetDocumentModel model)
    {
        if (HasPermissionAssetDocumentServiceRemove)
        {
            model.UserInfo.UserID = UserID;
            Iservice.Remove(model);
            snackbar.Add("Removed " + model.DocumentType.DocumentTypeName + " From " + Asset.Description, Severity.Success);
            GetAll();
        }
        else
        {
            bool? result = await DialogService.ShowMessageBox(
                "Permission denied!",
                "You dont have any permission to Remove AssetDocument.");
        }
    }
}