@page "/Driver"
@inject IDriverService Iservice

@inject IDialogService DialogService
@inject MudBlazor.ISnackbar snackbar
@attribute [Authorize]
@inject AuthenticationStateProvider auth

@using System.IO
@using System.Security.AccessControl

@inject NavigationManager nav
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using MimeTypes


<MudGrid Spacing="4">
    <MudItem xs="12" md="12">
        <MudTable Items="@collection" Elevation="10" Filter="new Func<DriverModel, bool>(search)">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Drivers</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Add" Title="Add"   @onclick="Add" Color="Color.Dark" Size="Size.Small"></MudIconButton>
                
                <MudSpacer></MudSpacer>
             <MudTextField @bind-Value="searchDriver" Placeholder="Search Drivers... "
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
           
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<DriverModel, object>(x => x.DriverName)" InitialDirection="SortDirection.Ascending">Driver</MudTableSortLabel></MudTh>                
                <MudTh><MudTableSortLabel SortBy="new Func<DriverModel, object>(x => x.Mobile)" InitialDirection="SortDirection.Ascending">Mobile</MudTableSortLabel></MudTh>    
                <MudTh><MudTableSortLabel SortBy="new Func<DriverModel, object>(x => x.DriverAgent.PartyName)" InitialDirection="SortDirection.Ascending">Contractor</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<DriverModel, object>(x => x.DateOfBirth)" InitialDirection="SortDirection.Ascending">AGE</MudTableSortLabel></MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Driver">@context.DriverName</MudTd>  
                <MudTd DataLabel="Mobile">@context.Mobile</MudTd>
                <MudTd DataLabel="PartyName">@context.DriverAgent.PartyName</MudTd>
                <MudTd DataLabel="DOB">@(DateTime.Today.Year - context.DateOfBirth.Value.Year +(DateTime.Today.DayOfYear < context.DateOfBirth.Value.DayOfYear?-1:0))</MudTd>
                <MudTd DataLabel="Status">
                    @switch (context.UserInfo.RecordStatus)
                    {
                        case 3:
                            <p>Available</p>
                            break;
                        case 4:
                            <p>On Leave</p>
                            break;
                    }
                </MudTd>

                <MudTd DataLabel="">
                    @if (context.UserInfo.RecordStatus != 4)
                    {
                        <MudTooltip Text="Put the Driver on leave">
                            <MudFab @onclick="@(() => BeginLeave(context))" Color="Color.Warning" Class="mx-2" Icon="@Icons.Material.Filled.KeyboardArrowDown" IconSize="Size.Small" Size="Size.Small" />
                        </MudTooltip>
                    }
                    else if (context.UserInfo.RecordStatus == 4)
                    {
                        <MudTooltip Text="End the leave">
                            <MudFab @onclick="@(() => EndLeave(context.DriverID))" Color="Color.Success" Class="mx-2" Icon="@Icons.Material.Filled.KeyboardArrowUp" IconSize="Size.Small" Size="Size.Small" />
                        </MudTooltip>
                    }
                    <MudFab Label="DL" OnClick="@(() => nav.NavigateTo("dl/" + context.DriverID.ToString()))" Color="Color.Primary" Class="mx-2" Icon="@Icons.Material.Filled.FileCopy" Size="Size.Small" IconSize="Size.Small" />

                    <MudFab @onclick="@(() => Edit(context.DriverID))" Color="Color.Primary" Class="mx-2" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                    <MudFab @onclick="@(() => Delete(context.DriverID))" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />

                </MudTd>

            </RowTemplate>

            <PagerContent>

                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20, 50, 100 }" />

            </PagerContent>

        </MudTable>

    </MudItem>
</MudGrid>


<MudMessageBox @ref="mbox" Title="Warning" CancelText="Cancel">

    <MessageContent>
        <b>@DriverToLeave.DriverName</b> will enter leave as on <b>@DateTime.Today.ToLocalTime()</b>. Please Confirm
        <MudDatePicker Label="Expected to Return On " DisableToolbar="true" Editable="true" @bind-Date="ExpectedReturn" HelperText="Enter Date" DateFormat="dd/MM/yyyy" />

        <MudTextField @bind-Value="ReasonToLeave" Label="Reason for Leave" Variant="Variant.Outlined" Margin="Margin.Normal"></MudTextField>

    </MessageContent>

    <YesButton>

        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.KeyboardArrowDown">Enter Leave</MudButton>

    </YesButton>
</MudMessageBox>

@code
{
    IBrowserFile driverImage;
    IBrowserFile adhaarImage;

    private List<DriverModel> collection = new List<DriverModel>();

    private string searchDriver = "";

    MudMessageBox mbox { get; set; }
    private DriverModel DriverToLeave = new();
    private DateTime? ExpectedReturn;
    private string ReasonToLeave;

    private async void BeginLeave(DriverModel dtl)
    {
        DriverToLeave = dtl;
        bool? result = await mbox.Show();
        if (result == true)
        {
            var authprov = await auth.GetAuthenticationStateAsync();
            var user = authprov.User;

            DriverLeaveModel Lmodel = new();
            Lmodel.DriverID = dtl.DriverID;
            Lmodel.BranchID = int.Parse(user.Claims.FirstOrDefault(x => x.Type == "BranchID")?.Value);
            Lmodel.StartTime = DateTime.Now;
            Lmodel.ExpectedReturn = ExpectedReturn;
            Lmodel.Reason = ReasonToLeave;
            Lmodel.UserInfo.UserID = user.Identity.Name;
            int qryResult = Iservice.BeginLeave(Lmodel);

            if (qryResult > 0)
            {
                collection.Find(x => x.DriverID == dtl.DriverID).UserInfo.RecordStatus = 4;
                StateHasChanged();
            }
        }
    }

    private async Task EndLeave(int? DriverID)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        var user = authprov.User;
        int qryResult = Iservice.EndLeave(DriverID, user.Identity.Name);

        if (qryResult > 0)
        {
            collection.Find(x => x.DriverID == DriverID).UserInfo.RecordStatus = 3;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {      
        GetAll();
    }

    private void GetAll()
    {
        collection = new List<DriverModel>();
        foreach (var item in Iservice.Select())
        {
            collection.Add(item);
        }
    }

    private async Task Add()
    {
        var parameters = new DialogParameters();
        parameters.Add("model", new DriverModel());        
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<DriverDialog>("Edit Driver", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            DriverModel newModel = (DriverModel)result.Data;  
            collection.Add(newModel);
        }
    }

    private async Task Edit(int? id)
    {
        var parameters = new DialogParameters();
        parameters.Add("model", collection.FirstOrDefault(x => x.DriverID == id));        
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = DialogService.Show<DriverDialog>("Edit Driver", parameters, maxWidth);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            DriverModel editedModel = (DriverModel)result.Data;  
            collection[collection.FindIndex(x => x.DriverID == editedModel.DriverID)] = editedModel;

        }
        else
        {
            GetAll();
        }
    }

    private async void Delete(int? id)
    {
        var authprov = await auth.GetAuthenticationStateAsync();
        int result = Iservice.Delete(id, authprov.User.Identity.Name);
        snackbar.Add("Deleted Successfully", Severity.Success);        
    }

    private bool search(DriverModel Driver)
    {
        if (Driver.DriverName != null && Driver.DriverName.Contains(searchDriver, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return false;
    }



  
}




